<div class="page-header">
  <h3>Revel Log</h3>
</div>

<%= simple_form_for(:search, :url => filter_log_admin_revel_logs_url, :method => :get) do |f| %>
  <%= select_tag :chain_id, options_for_select(Chain.active.order("name").map{|a| [a.name, a.id]}.unshift([""]), params[:chain_id]) %>
  <%= select_tag :status, options_for_select(["", "in queue", "processing", "completed", "failed"], params[:status])%>
  <%= submit_tag "Search", :class => "btn btn-primary" %>
<% end %>
<table>
  <thead>
  <tr>
    <th>Chain</th>
    <th width="180px;">Log Type</th>
    <th>Status</th>
    <th>Success Users</th>
    <th>Failed Users</th>
    <th>Run At</th>
    <th>Completed At</th>
    <th>file name</th>
    <th>Error Report</th>
  </tr>
  </thead>
  <tbody>
  <% @revel_logs.each do |log| %>
    <tr>
      <td><%= log.chain.name rescue nil %></td>
      <td>
        <% if log.log_type.eql?("relevant to revel") %>
          <span class="label <%= log.error_report.blank? ? 'label-success' : 'label-danger'%>"><%= log.log_type.titleize %></span>
        <% elsif log.log_type.eql?("revel to relevant") %>
          <span class="label <%= log.error_report.blank? ? 'label-info' : 'label-danger'%>"><%= log.log_type.titleize %></span>
        <% elsif log.log_type.eql?("revel to relevant manual sync") %>
          <span class="label <%= log.error_report.blank? ? 'label-default' : 'label-danger'%>"><%= log.log_type.titleize %></span>
        <% end if log.log_type %>
      </td>
      <td><%= log.status %></td>
      <td><%= link_to((log.success_users.count rescue 0), success_users_admin_revel_log_path(log)) %></td>
      <td><%= link_to((log.failed_users.count rescue 0), failed_users_admin_revel_log_path(log))%></td>
      <td><%= date_helper(log.created_at) rescue "-"%></td>
      <td><%= date_helper(log.completed_at) rescue "-"%></td>
      <td><%=  link_to truncate(log.try(:attachment_file_name), :length => 20), log.attachment.url if log.attachment.present? %></td>
      <td><%=  log.error_report  %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="9">
      <%= will_paginate @revel_logs if @revel_logs.present?  %>
    </td>
  </tr>
  </tfoot>
</table>

<br />

<%= link_to "Manual sync", manual_sync_admin_revel_logs_path, class: "btn btn-info" %>

<style>
  .label-danger {background-color: red !important;}
</style>