<%= form_tag do_manual_sync_admin_revel_logs_path, :multipart => true do %>
  <label class="control-label"><h4>Upload xls/csv files</h4></label>
  <div class="controls">
    <%= select_tag 'chain_id', options_from_collection_for_select(Chain.active.order("name"), :id, :name), prompt: "please select chain" %>
  </div>
  <div title="Input Excel or CSV" class="controls">
    <%= file_field_tag :file %>
  </div>
  <%= submit_tag "Do sync", :class => "btn btn-primary" %>

  <%= link_to "See Revel logs", admin_revel_logs_path, :class => "btn btn-primary"%>
<% end %>