<div class="page-header">
  <h3>Revel Log Success Users</h3>
</div>

<table>
  <thead>
  <tr>
    <th>User ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Created at</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |id| %>
      <% user = User.find(id) rescue nil%>
      <tr>
        <td><%= user.id rescue nil %></td>
        <td><%= user.first_name rescue nil%></td>
        <td><%= user.last_name rescue nil%></td>
        <td><%= user.email rescue nil%></td>
        <td><%= user.phone_number rescue nil%></td>
        <td><%= date_helper(user.created_at) rescue nil%></td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="6">
      <%= will_paginate @users if @users.present? %>
    </td>
  </tr>
  </tfoot>


</table>

<br />

<%= link_to "Back", admin_revel_logs_path, :class => "btn btn-primary"%>