<%= simple_form_for([:admin, @partner_category], id: "partnerCategory") do |f| %>
  <% if @partner_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partner_category.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
        <% @partner_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="x-box">
    <div class="field">
      <%= f.label :chain_id %>
      <%= f.select :chain_id, options_from_collection_for_select(Chain.order("name"), :id, :name, (@chain.id rescue nil) ), {:prompt => "Select Chain"} %>
      <span id="loader-chain" style="display: none;"><%= image_tag "loader.gif" %></span>
    </div>

    <div class="field">
      <%= f.label :name %>
      <%= f.input_field :name %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.input_field :description, :rows => 5 %>
    </div>

    <div id="box-restaurant">
      <%= render partial: "restaurant" if @restaurants %>
    </div>

    <br/><br/>
    <%= f.submit @partner_category.new_record? ? "Create" : "Update", :class => "btn btn-primary" %>
    <%= link_to 'Back', admin_partner_categories_path, :class => "btn" %>
  </div>
<% end %>
