<div class="page-header">
  <h1>Edit Category <%= @partner_category.chain.try(:name) %></h1>
</div>

<%= simple_form_for([:admin, @partner_category]) do |f| %>
  <% if @partner_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partner_category.errors.count, "error") %> prohibited this chain from being saved:</h2>
      <ul>
        <% @partner_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="x-box">

    <div class="field">
      <%= f.label :name %>
      <%= f.input_field :name %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.input_field :description, :rows => 5 %>
    </div>

    <br/><br/>
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to 'Back', admin_partner_categories_path, :class => "btn" %>
    <br/>
  </div>
<% end %>
