<div class="page-header">
  <h1>Listing Rewards Partner Categories </h1>
</div>
<%= simple_form_for(:search, :url => admin_partner_categories_path, :html => {:method => :get}) do |f| %>
  <div class="x-box">
    <div class="x-box-inner">
      <div class="field">
        <%= f.label :chain_id %>
        <%= f.select :chain_id, options_from_collection_for_select(Chain.order("name"), :id, :name, (params[:search][:chain_id] rescue nil) ) %>
        <span id="loader-chain" style="display: none;"><%= image_tag "loader.gif" %></span>
      </div>
      <%= submit_tag "Search", :class => "btn btn-success" %>
    </div>
  </div>
<% end %>

<div id="content-data">

  <table class="table stripped">
    <thead>
    <tr>
      <th>Chain</th>
      <th>Item Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @partner_categories.each do |partner_category| %>
      <tr id="row_<%= partner_category.id %>">
        <td><%= partner_category.chain.try(:name) rescue nil %></td>
        <td><%= partner_category.name rescue nil %></td>
        <td><%= partner_category.description %></td>
        <td>
          <%= link_to 'Edit', edit_admin_partner_category_path(partner_category), :class => "btn btn-warning" %>
          <%= link_to 'Destroy', admin_partner_category_path(partner_category), :method => :delete, :class => "btn btn-danger", :confirm => "are you sure?" %>
        </td>
      </tr>
    <% end %>
    </tbody>
    </table>
</div>

<%= will_paginate @partner_categories unless @partner_categories.blank? %>
<br/>
<%= link_to 'New Partner Category', new_admin_partner_category_path, :class => "btn btn-primary" %>
