<p id="notice"><%= notice %></p>
Chain: <%= @partner_category.chain.name %><br />
Name: <%= @partner_category.name%> <br />
Description: <%= @partner_category.description %><br />

<%= link_to 'Edit', edit_admin_partner_category_path(@partner_category) %>|
<%= link_to 'Back', admin_partner_categories_path %>
