<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h2><%= @job_type %></h2>

<h2>ID:<%= @job %></h2>

<h2><%= @start_or_end %> <%= Time.zone.now.in_time_zone('EST') %></h2>

<%= @body.html_safe rescue nil %>
</body>
</html>
