<%# encoding: utf-8 %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
   <%= @notification.html_safe %>
  </body>
</html>
