<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Reward Detail</h1>
    <table>
      <tr>
        <td>Name :</td>
        <td><%= @reward.name %></td>
      </tr>
      <tr>
        <td>Point :</td>
        <td><%= @reward.points %></td>
      </tr>
      <tr>
        <td>Effective Date :</td>
        <td><%= @reward.effectiveDate %></td>
      </tr>
      <tr>
        <td>Expiry Date :</td>
        <td><%= @reward.expiryDate %></td>
      </tr>
      <tr>
        <td>POS Code :</td>
        <td><%= @reward.POSCode %></td>
      </tr>
      <tr>
        <td>Executed time :</td>
        <td><%= @reward.executed_at %></td>
      </tr>
      <tr>
        <td>Push to Email :</td>
        <td><%= @reward.is_push_email ? "YES" : "NO" %></td>
      </tr>
      <tr>
        <td>Push to Phone :</td>
        <td><%= @reward.is_push_phone ? "YES" : "NO"	 %></td>
      </tr>
    </table>
    <ul>
      <h3>Users Who received this reward : </h3>
      <% @user_ids.each do |id| %>
        <% begin %>
          <% user = User.find(id) %>
          <li>
            <%= user.email %>
          </li>
        <% rescue %>
          <% next %>
        <% end %>
      <% end %>
    </ul>
  </body>
</html>
