<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Reward Detail</h2>
    <table>
      <tr>
        <td>Name :</td>
        <td><%= @reward.name %></td>
      </tr>
      <tr>
        <td>Point :</td>
        <td><%= @reward.points %></td>
      </tr>
      <tr>
        <td>Effective Date :</td>
        <td><%= @reward.effectiveDate %></td>
      </tr>
      <tr>
        <td>Expiry Date :</td>
        <td><%= @reward.expiryDate %></td>
      </tr>
      <tr>
        <td>POS Code :</td>
        <td><%= @reward.POSCode %></td>
      </tr>
    </table>
    <ul>
      <h3>ERROR: </h3>
      <li>
        <%= @job_error %>
      </li>
      <li>
        <%= @exception %>
      </li>
    </ul>
  </body>
</html>
