<thead>
<tr>
  <th>Chain</th>
  <th>Restaurant</th>
  <th>Reward Code</th>
  <th>User</th>
  <th>Status</th>
  <th>Error Description</th>
  <th>Uploaded at</th>
</tr>
</thead>
<tbody>

<% @pos_reward_checks.each do |pos_reward_check| %>
    <tr>
      <td><%= pos_reward_check.try(:chain).try(:name) %></td>
      <td><%= pos_reward_check.pos_location.restaurant.name rescue nil %></td>
      <td><%= pos_reward_check.try(:reward_code) %></td>
      <td><%= pos_reward_check.try(:user).try(:email) %></td>
      <td><%= reward_check_status_color(pos_reward_check.status) %></td>
      <td><%= pos_reward_check.error_description %></td>
      <td><%= date_helper_timezone pos_reward_check.created_at %></td>
    </tr>
<% end %>
</tbody>
<tfoot>
<tr>
  <td colspan="9">
    <%= will_paginate @pos_reward_checks %>
  </td>
</tr>
</tfoot>

<script type="text/javascript">
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function () {
        $('#content-data').ajaxloader('show');
    });

    $('.xml_data_link').click(function(){
        $('#body-modal-text').html('<%= image_tag "loader.gif" %>');
        $.get('/admin/pos_reward_checks/'+$(this).attr('id')+'.js')
        $('#myModal').show();
    })
</script>