<%= simple_form_for([:admin, @comment], :multipart => true,:url => @comment.new_record? ? admin_comments_path : admin_comment_path(@comment), :html => {:class => "form-horizontal"}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :subject %>
    </div>

    <div class="form-inputs">
      <%= f.input :email, :label => "From" %>
    </div>
    <div class="form-inputs">
      <%= f.input :body, :input_html => {:maxlength => 225, :size => 60, :style => "width:600px;"} %> %>
    </div>

    <div class="form-inputs">
      <%= f.input :parameter , :as => :file %>
    </div>


    <div class="form-actions">
      <%= f.button :submit , :label => "Save"%>
    </div>
<% end %>