<div class="page-header">
  <h1>Listing Emails</h1>
</div>

<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th>id</th>
    <th>From</th>
    <th>Subject</th>
    <th>Body</th>
    <th>Result EMAIL PARSE</th>
    <td>Generate</td>
  </tr>

  </thead>
  <tbody>
  <% @comments.each do |application| %>
      <tr>
        <td><%= application.id %></td>
        <td><%= application.email %></td>
        <td><%= application.subject %></td>
        <td><%= link_to "Show Email", admin_comment_path(application), :target => '_blank' %></td>
        <td> <%= debug application.online_parse_result %>     </td>
        <td> <%= link_to "Generate", update_email_process_admin_comment_path(application), :class => "btn", :confirm => "Are you Sure?" %>
          <%= link_to "Edit", edit_admin_comment_path(application), :class => "btn" %>
          <%# if application.receipt.blank? %>
              <%= link_to "Process Receipt", process_receipt_admin_comment_path(application), :class => "btn", :confirm => "Are you Sure?" %>
          <%# else %>
              <%#= link_to "Email processed","#" %>
          <%# end %>
          <%#= link_to "Nokogiri", nokogiri_parse_email_admin_comment_path(application.id), :class => "btn", :confirm => "Are you Sure?" %>
        </td>

      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "Input New email", new_admin_comment_path %>
<%= will_paginate @comments %>
<br/>

