<% @online_orders.each do |online_order| %>
    <tr>
      <td><%= online_order.chain.name rescue nil %></td>
      <td><%= online_order.restaurant.name rescue nil  %></td>
      <td><%= online_order.user.email rescue nil %></td>
      <td><%= online_order.online_order_identifier %> </td>
      <td><%= link_to "Order", "#", :id => "#{online_order.id}", :class => "btn btn-primary show_detail" %></td>
      <td><%= Onosys::OnlineOrder::PLATFORM.invert[online_order.platform] %></td>
      <td><%= Onosys::OnlineOrder::STATUS.invert[online_order.loyalty_status] %></td>
      <td><%= online_order.created_at %></td>
    </tr>
<% end %>

<tr>
  <td colspan="8" style="text-align: center;">
    <%= will_paginate @online_orders, :class => "pagination r-paging" unless @online_orders.blank?%>
  </td>
</tr>

<%= hidden_field_tag "flagqry" %>