<%= form_tag(search_admin_onosys_online_orders_path, :id=>'x-search', :method => :get, :remote => true) do |f| %>

    <div class="x-box">
      <div class="x-box-inner">
        <div class="field">
          <%= label_tag :chain %>
          <%= select_tag('search[chains]', options_from_collection_for_select(Chain.order("name"), :id, :name), options ={:multiple => true, :class=>'multiselect'}) %>
        </div>
        </br>
        <div class="field" id="restaurant-choices">
          <%= label_tag :restaurant %>
          <%= select_tag('search[restaurants]', options_from_collection_for_select([], :id, :name, params[:search] ? params[:search][:restaurants] : nil), options ={:multiple => true, :class=>'multiselect'}) %>
        </div>
        </br>
        <div class="field">
          <%= hidden_field_tag "page", 1 %>
          <%= hidden_field_tag "qry_order" %>
          <%= text_field_tag "search[q]", params[:search] ? params[:search][:q] : nil, :style=>'width:300px' %>
          <%= submit_tag "Search", :id => "x-search-submit-btn", :class => "btn", :style => "margin-bottom: 9px;", :onclick => "if($('#flagqry').val() == ''){ $('#page').val(1) };$('#list-online-orders').ajaxloader('show');" %>
        </div>
      </div>
    </div>

<% end %>