<div class="page-header">
  <h1>Notification Locale</h1>
</div>

<table class="table table-bordered table-condensed">
  <caption></caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Notifiable</th>
      <th>Email Subject</th>
      <th>Email Content</th>
      <th>Notification</th>
      <th>locale</th>
    </tr>
  </thead>
  <tbody>
    <% unless @notification_locales.blank? %>
      <% @notification_locales.each do |notification_locale| %>
        <tr>
          <td><%= notification_locale.id %></td>
          <td>
            <% notifiable = notification_locale.notifiable %>
            <%= "#{notifiable.class.to_s} - ##{notifiable.id}" %>
          </td>
          <td><%= notification_locale.email_subject %></td>
          <td><%= notification_locale.email_content %></td>
          <td><%= notification_locale.notification %></td>
          <td><%= notification_locale.locale.name %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4" style="text-align:center;">
          There are no data
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
<%= will_paginate @notification_locales rescue "" %>
