<%= simple_form_for([:admin, @survey]) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% @survey.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="x-box">

    <div class="x-box-inner" style="width: 80%!important">

      <%= f.input :title %>

      <%= f.input :valid_from_date, :as => :string, :input_html => {:value => @survey.valid_from_date.try(:strftime, '%m-%d-%Y'), :class => 'x-datepicker', :readonly => true} %>
      <%= f.input :valid_to_date, :as => :string, :input_html => {:value => @survey.valid_to_date.try(:strftime, '%m-%d-%Y'), :class => 'x-datepicker', :readonly => true} %>

      <div class="field">
        <%= f.input :chain_id, :collection => Chain.active.order("name"), :prompt => "Please select Chain" %>
        <a href="<%= new_admin_chain_path %>"><%= image_tag "add.png" %></a>
      </div>

      <div class="field">
        <%= f.input(:status, :as => 'select', :collection => Survey::STATUS, :prompt => "Please select status") %>
      </div>

      <div class="field">
        <%= f.input(:repeatable, :as => 'select', :collection => [["Yes", true], ["No", false]], :prompt => "Please select status") %>
      </div>

      <% if (@survey.id) %>
        <br clear="all"/>

        <div class="x-box-heading" style="float:left;">
          Questions/Comments |
          <%= link_to("Add new question", new_admin_question_path(:survey => @survey.id), :title => "Add New", :method => :get, :remote => true) %>
          |
          <%= link_to "Set position for rotating question", set_rotating_position_admin_survey_path(@survey), :remote => true %> |
        </div>
        <div id="incentive-<%= @survey.id %>" style="float:left;margin-left: 5px;" class="x-box-heading">
          <%= render "admin/surveys/partials/incentive", {:survey => @survey} if !@survey.new_record?%>
        </div>
        <div class="clearfix"></div>
      <% end %>

      <ul class="sortable list x-question-box" id="question-list">
        <%= render "questions" %>
      </ul>
      <script type="text/javascript">
        $(function() {
          $('.sortable').sortable({
            items: ':not(.disabled)'
          }).bind('sortupdate', function() {
            $('#question-list').ajaxloader('show');
            sorted_array = $(this).sortable("toArray");
            sorted_array = jQuery.grep(sorted_array, function(value) {
              return value != "";
            });
            $.post("/admin/surveys/<%= @survey.id %>/update_order_number", {
              order: sorted_array
            })
          });
        });
      </script>

      <b><i>Drag and Drop to Reorder</i></b>  <br />
      <b><i>Question from Rotating can't dragged and dropped.</i></b> <br />
      <b><i>The checkbox besides the choice to set the choice to be considered as negative response.</i></b>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<div class="modal hide fade" id="ref_modal" style="width: 600px;height: 450px;"></div>