<script type="text/javascript">
  $(".pagination a").bind("click", function() {
    var page = parseInt($(this).text());

    if(page > 0){
      $('#page').val(page);
      $('#loader').show();
      $('#sub').click();
    }else{
      var page = $(this).attr("class");
      var cur_page = parseInt($(".pagination em").text());

      if(page == "previous_page"){
        $('#page').val(cur_page - 1);
        $('#loader').show();
        $('#sub').click();
      }else if(page == "next_page"){
        $('#page').val(cur_page + 1);
        $('#loader').show();
        $('#sub').click();
      }
    }
    return false;
  });
</script>

<%= render "surveys" %>
