<%= simple_form_for([:admin, @survey], :url => update_max_question_admin_survey_path(@survey)) do |f| %>
    <b>This will reset rotating question position</b>
    <% if @survey.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this offer from being saved:</h2>

          <ul>
            <% @survey.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="x-box">

      <div class="x-box-inner">
        <%= f.input :max_rotating_questions %>
        <%= f.submit "Update", :class => "btn btn-primary" %>
      </div>
    </div>
<% end %>