<% if !@survey.questions.blank? %>
    <% @survey.questions.each do |question| %>
        <% rotating_questions_before = question.show_rotating_questions_on_position("before") %>
        <% rotating_questions_after = question.show_rotating_questions_on_position("after") %>
        <% delete_confirmation_text = rotating_questions_before.blank? &&  rotating_questions_after.blank? ? "Are you sure you want to delete selected question?" : "Are you sure you want to delete selected question? There are rotating questions that refer to this question. If you delete, so position for rotating question will be reseted." %>
        <% rotating_questions_before.each do |q| %>
            <li class="disabled"><%= q %></li>
        <% end %>

        <li id="<%= question.id %>">
          <span class="question" url="<%= edit_admin_question_url(question) %>"> <%= question.text %> --- (<%= question.label_or_value %>)</span>
          <%= link_to(image_tag("delete1.png"), admin_question_path(question), :confirm => "#{delete_confirmation_text}", :method => :delete, :class => 'x-delete', :remote => true) %>

          <% if !question.question_choices.blank? %>
              <div class="disabled x-choice-list" id="question-<%= question.id %>" style="margin-left:30px">
                <% question.question_choices.each do |choice| %>
                    <div class="disabled">
                      <span class="question-choice" name="label" url="<%= edit_admin_choice_url(choice) %>"><%= choice.label %></span>
                      ---
                      <span class="question-choice" name="value" url="<%= edit_admin_choice_url(choice) %>"><%= choice.value %></span>
                      <%= link_to(image_tag("delete1.png"), admin_choice_path(choice), :confirm => 'Are you sure you want to delete selected choice?', :method => :delete, :class => 'x-delete', :remote => true) %>
                    </div>
                <% end %>
              </div>
              <%= link_to(image_tag("add.png"), "javascript:void(0)", :name => "question-#{question.id}", :url => new_admin_choice_path, :class => "question-choice-add") %>
          <% end %>
        </li>

        <% rotating_questions_after.each do |q| %>
            <li class="disabled"><%= q %></li>
        <% end %>

    <% end %>

<% end %>

<% if @survey.rotating_groups and @survey.rotating_locations.blank? %>
    <% 1.upto(@survey.max_rotating_questions).each do |i| %>
        <li class="disabled">Question from Rotating Question <%= i %></li>
    <% end %>
<% end %>