<%= q.fields_for :questions do |f| %>
    <%= label_tag("Add a Question") %>
    <%= select_tag("type", options_for_select(Question::TYPES), options={:prompt=>"Please select"}) %>

    <%= f.input :text, :label=>"Question" %>
    <%= f.fields_for :question_choices do |builder| %>
        <%= builder.input :text, :label=>false %>
    <% end %>
<% end %>

