<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th class="th-id"><a class="order-table" href="#" data-attribute="0">ID</a></th>
      <th><a class="order-table th-small" href="#" data-attribute="1">Title</a></th>
      <th><a class="order-table th-small" href="#" data-attribute="2">Chain</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="3">Valid from date</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="4">Valid to date</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="5">Offers</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="6">Rewards</a></th>
      <th class="th-small"><a class="order-table" href="#" data-attribute="7">Status</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="8">Max rotating questions</a></th>
      <th class="th-small"><a class="order-table" href="#" data-attribute="9">Repeatable</a></th>
      <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="9">Incentive</a></th>
      <th class="th-medium ta-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td class="ta-center"><%= survey.id %></td>
        <td><%= survey.title %></td>
        <td><%= survey.try(:chain).try(:name) %></td>
        <td><%= (survey.valid_from_date ? (l survey.valid_from_date) : '---').html_safe %></td>
        <td><%= (survey.valid_to_date ? (l survey.valid_to_date) : '---').html_safe %></td>
        <td><%= survey.offers.map(&:name)%></td>
        <td><%= survey.rewards.map(&:name)%></td>
        <td class="ta-center"><%= survey_status_name(survey.status)%></td>
        <td><%= survey.max_rotating_questions %> <%= link_to "Change", edit_max_question_admin_survey_path(survey), :remote =>true %></td>
        <td class="ta-center"><%= survey.repeatable?? "Yes" : "No" %></td>
        <td class="ta-center" id="incentive-<%= survey.id %>">
          <%= render "admin/surveys/partials/incentive", {:survey => survey}%>
        </td>
        <td>
          <div class="btn-group">
            <button class="btn">Action</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <%= link_to 'Show', admin_survey_path(survey) %>
              <%= link_to 'Edit', edit_admin_survey_path(survey) %>
              <%= link_to 'Destroy', admin_survey_path(survey), confirm: 'Are you sure?', method: :delete %>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="modal hide fade" id="ref_modal" style="width: 600px;height: 450px;"></div>

<br />
<div id="x-pagination">
  <%= will_paginate @surveys %>
</div>