<%= simple_form_for :survey, :url => submit_position_rotating_admin_survey_path(@survey), :html => {:remote => true} do |f| %>

    <% 1.upto(@survey.max_rotating_questions) do |x| %>
        <% position = @rotating_location["location_#{x}"]["position"] rescue nil %>
        <% question_id = @rotating_location["location_#{x}"]["question_id"] rescue nil %>
        <label>Location <%= x %></label>
        <%= select_tag "position[location_#{x}][position]", options_for_select([["After", "after"], ["Before", "before"]], position) %>
        <%= select_tag "position[location_#{x}][question_id]", options_for_select(@survey.questions.order("order_number ASC").map { |x| [x.text, x.id] }, question_id) %>
    <% end %>
    <br />
    <%= submit_tag "Submit" %>
<% end %>