<% if @from_edit %>
<% if @is_save_point %>
$("#incentive-<%= @survey.id %>").html("<%= escape_javascript(render :partial => "admin/surveys/partials/incentive", :locals => {:survey => @survey}) %>");
$("#ref_modal").html('<%= escape_javascript(render :partial => "admin/surveys/partials/confirmation", :locals => {:message => "Incentive Point has been updated"}) %>');
<% else %>
$('#ref_modal').html("<%= escape_javascript(render "admin/surveys/partials/edit_point") %>");
<% end %>
<% else %>
<% if @is_save_point %>
$("#incentive-<%= @survey.id %>").html("<%= escape_javascript(render :partial => "admin/surveys/partials/incentive", :locals => {:survey => @survey}) %>");
$("#ref_modal").html('<%= escape_javascript(render :partial => "admin/surveys/partials/confirmation", :locals => {:message => "Incentive Point has been created"}) %>');
<% else %>
$('#points-list').html("<%= escape_javascript(render "admin/surveys/partials/points") %>");
<% end %>
<% end %>
