$("#incentive-<%= @survey.id %>").html("<%= escape_javascript(render :partial => "admin/surveys/partials/incentive", :locals => {:survey => @survey}) %>");
$("#ref_modal").html('<%= escape_javascript(render :partial => "admin/surveys/partials/confirmation", :locals => {:message => "Incentive Reward has been added"}) %>');
