$('#<%= @question.id %>').ajaxloader('hide');
<% if @choice.is_considered_for_negative_response %>
  $('#span_box_<%= @choice.id%>').removeClass('btn-danger');
  $('#span_box_<%= @choice.id%>').addClass('btn-success');
<% else %>
  $('#span_box_<%= @choice.id%>').removeClass('btn-success');
  $('#span_box_<%= @choice.id%>').addClass('btn-danger');
<% end %>
$('#<%= @question.id %>').effect("highlight", {color: "green"}, 5000);