<style>.span, .span1, .span2, .span3, .span4 { margin-left: 0px !important; } </style>
<%= hidden_field_tag "task_definition[chain_id]", @chain.id %>
<!-- Task -->
<b class="span">Task type</b>
<div style="clear:both"></div>
<div class="task_type">
	<div>
    <div class="span4">
  	  <div class="">
  		<%= radio_button_tag "task_definition[reward_type]", "2", true, :id => 'point' %> Point
  	  </div>
      <div class="">
      <%= radio_button_tag "task_definition[reward_type]", "1", true, :id => 'reward' %> Reward
      </div>
    </div>
    <div class="span4" id="reward-content">
        <%= select_tag "task_definition[reward_id]", options_from_collection_for_select(@rewards, "id", "name", @reward_id), :include_blank => true %><br/>
        <!-- <div class="span3"> -->
        <!-- fishbowl id for reward : -->
        <%#= f.text_field :miss_you_reward_fishbowl_mailing_id %>
          <!-- </span> -->
    </div>


	  <div class="span4" id="point-content">
		<%= f.text_field :points %><br/>
        <!-- <div class="span3"> -->
        <!-- fishbowl id for point : <%#= f.text_field :miss_you_point_fishbowl_mailing_id %> -->
        <!-- </div> -->
	  </div>
	</div>
	</div>
<div style="clear:both"></div>
<br /><br />
<div class="user_type">
  <div>
    <div class="span4">
      <div class="">
        <%= radio_button_tag "task_definition[job_type]", "1", true, :id => 'not_visit' %> User Who have not visited in:
      </div>
    </div>


    <div class="span4" id="not_visit-content">
      <%= f.text_field :percentage %> Weeks
    </div>
    <div class="span4" id="visit-content" style="display: none;">
      <%= f.text_field :activity_days %>    Weeks
    </div>

  </div>
  <div style="clear:both"></div>
</div>

<div style="clear:both"></div>
<hr />

<!-- Notification -->
EMAIL SENT METHOD: <%= select_tag "task_definition[is_fishbowl]", options_for_select([['Fishbowl', 1]], :selected => (@definition.is_fishbowl == true ? 1 : 0)), {:style => "width:100px;"} %>
  <br/>
  <br/>
  <br/>
  <i>add %{chain_name} for chain name</i><br/>
  <i>add %{reward_name} for reward name</i><br/>
  <i>add %{points_number} for point</i><br/>
<div style="display: none;">
  <b class="span">Notification</b><%= f.check_box :notification, :id => "push-notification" %>
</div>

<div style="clear:both"></div>
<div id="push-notification-content">
  <div class="span4" id="content-reguler-Fishbowl">
	Push email <%= f.check_box :push_email, {:id => "push-email"}  %>
	<div id="push-email-content">
		<%= f.label "Subject" %>
		<%= f.text_field :subject_email %>
		<%= f.label "Content" %>
		<%= f.text_area :content_email, :style => "height:100px;width:250px;" %>
	</div>
  </div>

  <div class="span4" id="content-reguler">
	Push phone <%= f.check_box :push_phone, {:id => "push-phone"} %>
	<div id="push-phone-content">
		<%= f.label "Content" %>
		<%= f.text_area :content_phone, :style => "height:100px;width:250px;" %>
	</div>
  </div>
</div>
<div style="clear:both"></div>
<hr />

<!-- Schedule -->
<b class="span">Schedule</b>
<div style="clear:both"></div>
<div class="schedule_type">
	<!-- One time -->
	<div id="schedule-one-time">
	  <div class="span2">
		<%= radio_button_tag "task_definition[schedule_type]", "1", true, :id => 'by_one_time' %> One Time
	  </div>

	  <div class="span4" id="by_one_time_content">
		Date
		<%= text_field_tag 'by_one_time_date', (Time.zone.now + 72.hours).strftime('%Y-%m-%d'), :class => 'x-datepicker', :style => 'cursor: pointer;', :readonly => true %>
	    <br/>
	    Time
	    <%= time_select 'by_one_time_time', nil, {:ampm => true, :minute_step => 15}, {:style => "width:80px;"} %>&nbsp;<%#= Time.zone.now.strftime('%Z') %>
        <br/>
        Time zone <%=time_zone_select( "user", "time_zone_one", nil, include_blank: false, :default => (@definition.zone rescue "Eastern Time (US & Canada)")) %>
	  </div>
	</div>
	<div style="clear:both"></div>

	<!-- Daily -->
	<div id="schedule-daily">
	  <div class="span2">
		<%= radio_button_tag "task_definition[schedule_type]", "2", false, :id => 'by_daily' %> Daily
	  </div>
<%#= debug @definition.task_scheduler.executed_at%>
	  <div class="span12" id="by_daily_content">
	    Time
	    <%= time_select 'by_daily_time',nil, {:ampm => true, :minute_step => 15}, {:style => "width:80px;"} %>
        Time zone <%=time_zone_select( "user", "time_zone_daily", nil, include_blank: false, :default => (@definition.zone rescue "Eastern Time (US & Canada)")) %>
	  </div>


	</div>
	<div style="clear:both"></div>

	<!-- Weekly -->
	<div id="schedule-weekly">
	  <div class="span2">
		<%= radio_button_tag "task_definition[schedule_type]", "3", false, :id => 'by_weekly' %> Weekly
	  </div>

	  <div class="span4" id="by_weekly_content">
		Choose Day :
		<%= select_tag "by_weekly_day", options_for_select([['Sunday', 0], ['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6]], :selected =>(@definition.task_scheduler.next_run.strftime('%A') rescue nil)), {:style => "width:100px;"} %>

		<%= time_select 'by_weekly_time', nil, {:ampm => true, :minute_step => 15}, {:style => "width:80px;"} %><br/>
        Time zone <%=time_zone_select( "user", "time_zone_weekly", nil, include_blank: false, :default => (@definition.zone rescue "Eastern Time (US & Canada)")) %>
	  </div>
	</div>
	<div style="clear:both"></div>

	<!-- Monthly -->
	<div id="schedule-monthly">
	  <div class="span2">
		<%= radio_button_tag "task_definition[schedule_type]", "4", false, :id => 'by_monthly' %> Monthly
	  </div>

	  <div class="span4" id="by_monthly_content">
	    <%= select_tag "by_monthly_day", options_for_select([['Sunday', 0], ['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6]], :selected => nil), {:style => "width:100px;"} %>

	    <%= time_select 'by_monthly_time', nil, {:ampm => true, :minute_step => 15}, {:style => "width:80px;"} %><br/>
        Time zone <%=time_zone_select( "user", "time_zone_monthly", nil, include_blank: false, :default => (@definition.zone rescue "Eastern Time (US & Canada)")) %>
	  </div>
	</div>
	<div style="clear:both"></div>

	<!-- Start date & End date -->
	<div id="start_hide" class="offset1">
		<div class="span1">
			Start Date
	  	</div>

	  	<div class="span4" >
	  		<%= text_field_tag 'start_date', (@definition.task_scheduler.start_at.strftime('%Y-%m-%d') rescue (Time.zone.now - 72.hours).strftime('%Y-%m-%d')), :class => 'x-datepicker', :style => 'cursor: pointer;', :readonly => true %>
	  	</div>
	</div>
	<div style="clear:both"></div>
	<div id="end_hide" class="offset1">
		<div class="span1">
			End Date
	  	</div>
	  	<div class="span4" >
	  		<%= text_field_tag 'end_date', (@definition.task_scheduler.end_at.strftime('%Y-%m-%d') rescue (Time.zone.now + 3.months).strftime('%Y-%m-%d')), :class => 'x-datepicker', :style => 'cursor: pointer;', :readonly => true %>
	  	</div>
	</div>
</div>
<br/><br/><br/>

<%#= debug @definition %>


<div style="clear:both"></div>

<script type="text/javascript">
	// Script task radio
    $("#task_definition_is_fishbowl").bind("change", function(){
        if($(this).val() == "0"){
            $("#content-reguler-Fishbowl input[name='task_definition[push_email]']").click()
            $("#content-reguler-Fishbowl").show()
            $("#content-reguler-Fishbowl input[type='type']").removeAttr("disabled")
            $("#content-reguler-Fishbowl textarea").removeAttr("disabled")
        }else{
            $("#content-reguler-Fishbowl").hide()
            $("#content-reguler-Fishbowl input[name='task_definition[push_email]']").click()
            $("#content-reguler-Fishbowl input[type='type']").attr("disabled",'disabled')
            $("#content-reguler-Fishbowl textarea").attr("disabled",'disabled')
            $('#push-email-content').show();
        }
    })
	$(".task_type").find('input:radio').each(function () {
		if($(this).is(':checked') == false){
			$("#"+$(this).attr("id")+"-content").hide();
		}
	}).change(function () {
		reset_selection_task();
		if($(this).is(':checked')){
			$("#"+$(this).attr("id")+"-content").show();
		}
	});


    $(".user_type").find('input:radio').each(function () {
        if($(this).is(':checked') == false){
            $("#"+$(this).attr("id")+"-flag").hide();
        }
    }).change(function () {
                reset_selection_user();
                if($(this).is(':checked')){
                    $("#"+$(this).attr("id")+"-content").show();
                }
            });

	// Script notification checkbox
	$('input:checkbox').each(function () {
		if($(this).is(':checked') == false){
			$("#"+$(this).attr("id")+"-content").hide();
		}
	}).change(function () {
		if($(this).is(':checked')){
			$("#"+$(this).attr("id")+"-content").show();
		}else{
			$("#"+$(this).attr("id")+"-content").hide();
		}
	});

	// Script schedule radio
	$(".schedule_type").find('input:radio').each(function () {
		if($(this).is(':checked') == false){
			$("#"+$(this).attr("id")+"_content").hide();
		}else if($(this).is(':checked') == true){
          if($(this).val() == 1){
            $("#start_hide").hide();$("#end_hide").hide();
          }
		}
	}).change(function () {
		reset_selection_schedule();
		if($(this).is(':checked')){
			$("#"+$(this).attr("id")+"_content").show();
		}
		if($(this).val() != 1){
			$("#start_hide").show();$("#end_hide").show();
		}
	});

	// Validation Start date
	$('#start_date').change(function () {
		var max = new Date($('#end_date').val());
		var value = new Date($(this).val());

		if(value > max){
			$(this).val('');
		}
	});

	// Validation End date
	$('#end_date').change(function () {
		var min = new Date($('#start_date').val());
		var value = new Date($(this).val());

		if(value < min){
			$(this).val('');
		}
	});

    function reset_selection_task() {
    	$('#reward-content').hide();
    	$('#point-content').hide();
    }
    function reset_selection_user() {
        $('#not_visit-content').hide();
        $('#visit-content').hide();
    }

    function reset_selection_schedule() {
    	$('#by_one_time_content').hide();
    	$('#by_daily_content').hide();
    	$('#by_weekly_content').hide();
    	$('#by_monthly_content').hide();
    	$('#start_hide').hide();
    	$('#end_hide').hide();
    }
        <% if @definition.new_record? %>
    $(document).ready(function(){
        $('#push-email').attr('checked',true);
        $('#push-email-content').show();

        $('#push-phone').attr('checked',true);
        $('#push-phone-content').show();
    });
    <% else %>
    $(document).ready(function(){
        <% if @definition.push_email == true%>
        $('#push-email').click();
        <%else%>
        $('#push-email').click();
        <% end %>
    $('#task_definition_is_fishbowl').change();
        var schedule_type = <%= @definition.schedule_type %>;
        reset_selection_schedule();
        $(".schedule_type").find('input:radio').each(function () {
            if($(this).is(':checked') == false){
                $("#"+$(this).attr("id")+"_content").hide();
            }else if($(this).is(':checked') == true){
                if($(this).val() == 1){
                    $("#start_hide").hide();$("#end_hide").hide();
                }
            }
        }).change(function () {
            reset_selection_schedule();
            if($(this).is(':checked')){
                $("#"+$(this).attr("id")+"_content").show();
            }
            if($(this).val() != 1){
                $("#start_hide").show();$("#end_hide").show();
            }
        });

        if(schedule_type == 1){
            $('#by_one_time').click();
            $('#by_one_time_content').show();
            $('#by_one_time_time__4i').val(<%= @definition.task_scheduler.executed_at.strftime('%H') rescue 10%>);
            $('#by_one_time_time__5i').val(<%= @definition.task_scheduler.executed_at.strftime('%M') rescue 15%>);

        }else if(schedule_type == 2){
            $('#by_daily').click();
            $('#by_daily_content').show();
            $('#by_daily_time__4i').val(<%= @definition.task_scheduler.executed_at.strftime('%H') rescue 10%>);
            $('#by_daily_time__5i').val(<%= @definition.task_scheduler.executed_at.strftime('%M') rescue 15%>);
            $("#start_hide").show();$("#end_hide").show();
        }else if(schedule_type == 3){
            var sel_date =<%= @definition.task_scheduler.executed_at.strftime('%H') rescue 10%>;
            var sel_day = '<%= Date::DAYNAMES.find_index @definition.task_scheduler.next_run.strftime('%A') rescue "Sunday"%>';
            console.log(sel_day);
            $('#by_weekly').click();
            $('#by_weekly_day').val(sel_day);
            $('#by_weekly_content').show();
            $('#by_weekly_time__4i').val(sel_date);
            $('#by_weekly_time__5i').val(<%= @definition.task_scheduler.executed_at.strftime('%M') rescue 15%>);
            $("#start_hide").show();$("#end_hide").show();
        }else if(schedule_type == 4){
            var sel_date =<%= @definition.task_scheduler.executed_at.strftime('%H') rescue 10%>;
            var sel_day = '<%= Date::DAYNAMES.find_index @definition.task_scheduler.next_run.strftime('%A') rescue "Sunday"%>';
            console.log(sel_day);
            $('#by_monthly').click();
            $('#by_monthly_day').val(sel_day);
            $('#by_monthly_content').show();
            $('#by_monthly_time__4i').val(sel_date);
            $('#by_monthly_time__4i').val(<%= @definition.task_scheduler.executed_at.strftime('%M') rescue 15%>);
            $("#start_hide").show();$("#end_hide").show();
        }
    });

    var reward_type = <%= @definition.reward_type %>;
    console.log(reward_type);
    if(reward_type == 1){
        $('#reward-content').show();
        $('#point-content').hide();
        $("#reward").click();
    }else{
        $('#reward-content').hide();
        $('#point-content').show();
        $("#point").click();
    }
  <% end %>
// EMAIL SENT METHOD:

</script>
