<%begin%>
<div class="page-header">
  <h1>Task Definition <%= @chain.name %></h1>
</div>

<% unless @definition.blank? %>
    <h1>Miss You setting <%= @job.description rescue "for chain #{chain.name}" %></h1>
    <table>
      <thead>
      <tr>
        <td>Desc</td>
        <td>Info</td>
        <td>Additional info</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Chain id</td>
        <td><%= @job.chain_id %></td>
        <td><%= Chain.find(@job.chain_id).name rescue "" %></td>
      </tr>
      <tr>
        <td>Reward Type</td>
        <td><%= OwnerJob::REWARD_TYPES.key @job.reward_type.to_i %></td>
        <td>
          <%= case OwnerJob::REWARD_TYPES.key @job.reward_type.to_i
                when "Reward"
                  Reward.find(@job.reward_id).name rescue @job.reward_id
                when "Point"
                  "#{@job.points} points will be pushed <br/>".html_safe
                when "Notification"
                  "Phone <br />
               Subject : #{@job.subject_phone} <br />
               Content : #{@job.content_phone} <br /><br />

               Email <br />
               Subject : #{@job.subject_email} <br />
               Content : #{@job.content_email} <br /><br />
               ".html_safe
              end
          %>
<br/>
          EMAIL SENT : <%= @definition.is_fishbowl == true ? "FISHBOWL" : "REGULAR"%><br/>

          <%= if @job.push_email == true
                "Push Email <br />
    Subject : #{@job.subject_email} <br />
    Content : #{@job.content_email} <br /><br />
    ".html_safe
              end
          %><br/>
          <%= if @job.push_phone == true
                "Push Phone <br />
    Subject : #{@job.subject_phone} <br />
    Content : #{@job.content_phone} <br /><br />".html_safe
              else
                "Push Phone Is not Set<br />".html_safe
              end
          %>

        </td>
      </tr>
      <tr>
        <td>Job Type</td>
        <td><%=  "User Who have not visited in #{@job.percentage} Week"%></td>
      </tr>
      <tr>
        <td>Execution Time</td>
        <td><%= @job.time_string.html_safe %></td>
        <% if @job.schedule_type != 1 #not one time   %>
            <td>From : <%= @job.task_scheduler.start_at %> to <%= @job.task_scheduler.end_at %> </td>
        <% end %>
      </tr>
      </tbody>
    </table>
    <%= link_to "Edit", edit_admin_chain_task_definition_path(@chain, @definition), :class => 'btn' rescue nil%>
    <% if @definition.owner_jobs.count ==0 %>
        <%#= link_to "Generate THE JOB", generate_job_admin_chain_task_definition_path(@chain, @definition), :class => 'btn', :confirm => "Are you sure?" rescue nil%>
    <% else %>

        <%#= link_to "Update  THE JOB WITH NEW SETTING", update_job_admin_admin_chain_task_definition_path(@chain,@definition, @definition.owner_jobs.first.id), :class => 'btn', :confirm => "Are you sure?" rescue nil%>
        <%= link_to "Back", admin_chains_path(@chain), :class => 'btn' %>
        <%= link_to "Run IT", testing_fishbowl_miss_you_admin_chain_task_definition_path(@chain,@definition), :class => 'btn btn-warning' rescue nil %>
            <%= link_to "Go to Miss you list", admin_miss_you_tasks_path, :class => 'btn btn-info', :target => '_blank' rescue nil %>
    <% end %>
<% else %>
    <%= link_to "New", new_admin_chain_task_definition_path(@chain) %>
    <%= link_to "Back", admin_chain_task_definition_path(@chain), :class => 'btn' %>
<% end %>

<%rescue %>
<%end%>