<%= form_for @definition, :url => admin_chain_post_no_scan_path(@chain) do |f| %>
    <%= render "shared/error_messages.html", :target => @definition %>
    <%= render :partial => 'form_no_scan', :locals => {:f => f} %>
    <br/>
    <%= submit_tag "submit" %>
    <%= link_to "Back", admin_chain_task_definitions_path(@chain), :class => 'btn' %>
<% end %>