ENTER USER ID , SEPARATE BY COMMA<br/>

<%= form_tag post_testing_fishbowl_miss_you_admin_chain_task_definition_path do %>
<%#= text_area_tag :email_list %>
    <%= submit_tag "CLICK TO RUN THE SCHEDULER" %>
<%end%>

<%= link_to "Back", admin_chain_task_definitions_path(@chain), :class => 'btn' %>
