<thead>
<tr>
  <th>Restaurant</th>
  <th>XML Data</th>
  <th>Uploaded at</th>
</tr>
</thead>
<tbody>

<% @pos_menu_uploads.each do |pos_menu_upload| %>
    <tr>
      <td><%= pos_menu_upload.pos_location.restaurant.name rescue nil %></td>
      <td>
        <%= link_to "show xml data", "#", :id => "#{pos_menu_upload.id}", :class => "btn btn-primary xml_data_link" %>
      </td>
      <td><%= date_helper pos_menu_upload.created_at %></td>
    </tr>
<% end %>
</tbody>
<tfoot>
<tr>
  <td colspan="3">
    <%= will_paginate @pos_menu_uploads %>
  </td>
</tr>
</tfoot>

<script type="text/javascript">
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function () {
        $('#content-data').ajaxloader('show');
    });

    $('.xml_data_link').click(function(){
        $('#body-modal-text').html('<%= image_tag "loader.gif" %>');
        $.get('/admin/pos_menu_uploads/'+$(this).attr('id')+'.js')
        $('#myModal').show();
    })
</script>