<p id="notice"><%= notice %></p>

<p>
  <b>Basic auth:</b>
  <%= @admin_olorewards_setting.basic_auth %>
</p>

<p>
  <b>Chain:</b>
  <%= @admin_olorewards_setting.chain_id %>
</p>

<p>
  <b>Basic password:</b>
  <%= @admin_olorewards_setting.basic_password %>
</p>


<%= link_to 'Edit', edit_admin_olorewards_setting_path(@admin_olorewards_setting) %> |
<%= link_to 'Back', admin_olorewards_settings_path %>
