<div class="row-fluid login-wrapper">
    <a href="<%= owner_greetings_path %>">
        <%= image_tag "logo.png", :class => "logo" %>
    </a>

    <div class="span4 box">
        <div class="content-wrap">
            <h6>Change your password</h6>
            <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
			  <%= devise_error_messages! %>

			  <%= f.hidden_field :reset_password_token %>

			  <%= f.password_field :password, :class => "span12", :placeholder => "New password" %>
			  <%= f.password_field :password_confirmation, :class => "span12", :placeholder => "Confirm new password" %>

			  <%= f.submit "Change my password", :class => "btn-glow primary login" %>
			<% end %>
        </div>
    </div>
</div>