<div class="row-fluid login-wrapper">
    <a href="<%= owner_greetings_path %>">
        <%= image_tag "logo.png", :class => "logo" %>
    </a>

    <div class="span4 box">
        <div class="content-wrap">
            <h6>Forgot your password?</h6>
            <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <%= f.email_field :email, :class => "span12", :placeholder => "E-mail address" %>
		  	  <%= f.submit "Send me reset password instructions", :class => "btn-glow primary login" %>
			<% end %>
        </div>
    </div>
</div>