<%#= debug @receipts %>
<% @receipts.each do |receipt|
  olo_hook = OloWebhook.where(:receipt_id => receipt.id).first
  trans=receipt.last_transaction %>
    <tr>

      <%#= link_to receipt.id, admin_receipt_barcode_path(receipt) %>
      <% unless receipt.comment.blank? %>
          <td><%= link_to "#{receipt.id}",admin_comment_path(receipt.comment), :target => '_blank' rescue "-" %></td>
      <% else %>
          <%# olo =  OloOrderDetail.where(:receipt_id => receipt.id).first %>
          <%# unless olo.blank? %>
          <td><%= link_to "#{receipt.id}" ,olo_receipt_detail_admin_olo_orders_path(:receipt_id => receipt.id) , :target => '_blank' %></td>
      <% end %>
      <% offer = receipt.try(:last_transaction).try(:offer) rescue nil %>
      <% if offer %>
          <td><%= link_to(offer.name, "/admin/offers/#{offer.id}", :target => "_blank") rescue nil %></td>
      <% else %>
          <td><label class='alert-error'>&nbsp;Not Found</label></td>
      <% end %>
      <td>
        <% pop_email = receipt.try(:user).try(:email) %>
        <% pop_email = (olo_hook.email rescue nil) if pop_email.blank?%>
        <a href="#myModal" data-toggle="modal" class="short_email" data-attribute="<%= pop_email %>">
          <%= receipt.try(:user).try(:email).try(:slice, 0, 13) %>...
          <% if receipt.user.blank? %>
              <label class='alert-error'>&nbsp;
                <%= OloOrderDetail.where(:receipt_id => receipt.id).first.email rescue nil %>
                <%= olo_hook.email rescue nil %>
              </label>
          <% end %>
        </a>
        <br />
        <% if receipt.user %>
            Points(<%= receipt.try(:user).try(:points) %>)
        <% else %>
            ( User Not Found )
        <% end %>
      </td>
      <td><%= receipt.chain.name if receipt.chain%></td>
      <%  if !trans.blank? && trans.current_restaurant %>
          <td><%= trans.current_restaurant.name.gsub("\u2028","") if trans.current_restaurant rescue nil %></td>
      <% else %>
          <td>
            <label class='alert-error'>
              <%=receipt.comment.parse_switching.restaurant.to_s + " (Restaurant Not Found )" rescue "not found"  %>
            </label>
          </td>
      <% end %>
      <td>
        <%= link_to "#{trans.receipt_number}",admin_comment_path(receipt.comment), :target => '_blank' rescue "#{trans.receipt_number}" unless trans.blank? %>
      </td>
      <td><%#= date_helper_timezone(receipt.created_at) rescue nil %> <%= date_helper_timezone(receipt.created_at)%></td>
      <td>
        <div style="float:left;">
          <%= receipt_status_color(receipt.status) %>
        </div>
        <div style="float:left;margin-left:15px;">
          <% if !trans.blank? && receipt.status == Receipt::STATUS[:REJECTED]%>
              <%= receipt_status_name(receipt.status) %>
              <% errors_receipt = (trans.instructions.class.eql?(Hash) ? trans.instructions : YAML.load(trans.instructions)) rescue nil %>
              <% if errors_receipt and errors_receipt.class.eql?(Hash) %>
                  <% receipt_inst = YAML.load(File.read('config/receipt_instructions.yml')) %>
                  <% errors_receipt.keys.each do |key| %>
                      <% selected_inst = receipt_inst[key.to_s] rescue nil%>
                      <div class="field">
                        (<%= selected_inst["review_reason"] rescue nil%>)<br/>
                      </div>
                  <% end %>
              <% end %>
          <% else %>
              <%= receipt_status_name(receipt.status) %>
          <% end %>
        </div>
      </td>
    </tr>
<% end %>
<tr>
  <td colspan="8" style="text-align: center;">
    <%= will_paginate @receipts, :class => "pagination r-paging" unless @receipts.blank? %>
  </td>
</tr>
<tr>
  <td colspan="8" style="text-align: center;"><!--
    <%#= link_to "Export to csv", request.parameters.merge({:format => :csv}), :confirm => 'Are You sure?' %>
    |
    <a href="#myModalExportStatus" data-toggle="modal">Export Status</a>-->
  </td>
</tr>