<script type="text/javascript">
    $(".pagination a").bind("click", function(e) {
        e.preventDefault();
        var page = parseInt($(this).text());
        $('#flagqry').val("pagination");
        console.log("clicked")
        console.log(page)
        if(page > 0){
            $('#page').val(page);
            $('#loader').show();
            $('#x-search-submit-btn').click();
        }else{
            var page = $(this).attr("class");
            var cur_page = parseInt($(".pagination em").text());
            if(page == "previous_page"){
                $('#page').val(cur_page - 1);
                $('#loader').show();
                $('#x-search-submit-btn').click();
            }else if(page == "next_page"){
                $('#page').val(cur_page + 1);
                $('#loader').show();
                $('#x-search-submit-btn').click();
            }
        }
        return false;
    });
    $('.alert-success').bind("click", function(){
        $(this).hide();$(this).html('');
    });
    $('.show_detail').bind("click", function(){
        $('#body-modal-text').html('<%= image_tag "loader.gif" %>');
        $.get('/admin/vext/online_orders/'+$(this).attr('id')+'.js')
        $('#myModal').show();
    });
</script>

<div id="export-notif" class="alert alert-success" style="display:none;"></div>

<div class="page-header">
  <h3>Nuorder Online Order Lists</h3>
</div>
<%= render 'searchform' %>

<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th>Restaurant</th>
    <th>Order details</th>
    <th>Order ID</th>
    <th>User Email</th>
    <th>Loyalty Status</th>
    <th>Uploaded At</th>
    <th>Platform</th>


    <th>Order Partner</th>
  </tr>
  </thead>
  <tbody id="list-online-orders">
  <%= render 'list_online_orders' %>
  </tbody>
</table>

<div class="modal" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;z-index:9999">
  <div class="modal-header">
    <h3 id="myModalLabel">Order Detail</h3>
  </div>
  <div class="modal-body" style="height: 300px;overflow-y: scroll;">
    <p id="body-modal-text" class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;"></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').hide();">Close</button>
  </div>
</div>
