  <% unless @reward.errors.blank? %>
    <% error = @reward.errors %>
    <% @reward.attributes.each do |k,v| %>
      $("#reward_<%=  k %>").removeClass("error");
      $("#<%=k%>_error").html("");
    <% end %>
    $('.tata-ajax-loader').hide();
    <% error.each do |key,value| %>
      $("#reward_<%=key%>").addClass("error");
      $("#<%=key%>_error").html("<span style='color:red;'><%= value %></span>");
    <% end %>
  <% else %>
    $("#incentive-<%= @survey.id %>").html("<%= escape_javascript(render :partial => "admin/surveys/partials/incentive", :locals => {:survey => @survey}) %>");
    $("#ref_modal").html('<%= escape_javascript(render :partial => "admin/surveys/partials/confirmation", :locals => {:message => "Incentive Reward are created"}) %>');
  <% end %>

