<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Receipt Transaction Not Processed : <br />
    ReceiptID = <%= @receipt.id rescue nil %><br />
  </body>
</html>
