<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Receipt Transaction validation failed : <br />
    ReceiptID = <%= @receipt.id rescue nil %><br />
    Reason :<br />
      <%= @reason %>
    <br /><br />

    <% unless @message_body_sqs.blank? %>
       SQS MESSAGE BODY : <br />
       <%= @message_body_sqs %>
    <% end %>
   </body>

</html>