<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
Receipt Transaction validation failed :
ReceiptID = <%= @receipt.id rescue nil %>
Reason :
{Subtotal exceeds Chain's Max Subtotal limit.  }
</body>

</html>