<script type="text/javascript">
  $(document).ready(function(){
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function() {
      $('#data-container').ajaxloader('show');
    });

    $('.tata-ajax-loader').click(function(){
      alert("hide this");
      $('.tata-ajax-loader').hide();
    });
  });
</script>

<div class="page-header">
  <h3>List Milestones Rewards</h3>
</div>
<% unless @chain.blank? %>
  <table>
    <caption></caption>
    <thead>
      <tr>
        <th>Reward id</th>
        <th>Reward Title</th>
        <th>Valid From</th>
        <th>Valid to</th>
        <th>Points</th>
        <th>Action</th>
      </tr>
    </thead>
  <% end %>
  <tbody id="tab">
    <% unless @rewards.blank? %>
      <% @rewards.each do |reward| %>
        <tr id="row_<%= reward.id %>">
          <%= render "row_milestone_reward", {:reward => reward} %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="9" style="text-align:center;">
          <% unless @chain.blank? %>
            There are no data
          <% else %>
            Please Select Chain
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @rewards %>

<br />
<%= link_to "New Milestone Reward", params[:type].blank? ? new_milestone_reward_admin_chain_steppingstone_step_path(@chain, @step_parent) : new_milestone_reward_admin_chain_bucket_path_step_path(@chain, "bucket", @step_parent),
  :onclick => "$('#milestone-form').html('#{escape_javascript(render "shared/ajax_loader")}');$('#milestone-list').hide();$('#milestone-form').show();",
  :class => "btn btn-primary", :remote => true %>
