<div id="form-add-point" style="width:300px;">
	<div class="page-header">
	  <h4>Add Point Incentive</h4>
	</div>
	<%= simple_form_for @step, :url => set_point_admin_chain_steppingstone_step_path(@chain, @step_parent, @step), :html => {:remote => true} do |f| %>
	  <%= f.input :point, :label  => "How much point?" %>
	  <%= f.submit "Submit", :class => "btn btn-primary" %>
	<% end %>
</div>