<td><%= st.step_number %></td>
<td><%= st.property_one %></td>
<td><%= st.property_two %></td>
<td>
  <% if params[:type].blank? %>
    <% if st.reward %>
      <%= st.reward.name %>(<%= st.reward.id  %>) - <%= link_to "<i class=\"icon-remove-sign\"></i> Remove".html_safe, remove_reward_admin_chain_steppingstone_step_path(@chain, @step_parent, st), :remote => true, :confirm => 'are you sure?' %>
    <% elsif st.point %>
       <%= st.point %> point - <%= link_to "<i class=\"icon-remove-sign\"></i> Remove".html_safe,remove_point_admin_chain_steppingstone_step_path(@chain, @step_parent, st), :remote => true, :confirm => 'are you sure?' %>
    <% else %>
       <%= link_to "<i class=\"icon-plus-sign\"></i> Add Reward".html_safe, "#milestone_modal", :onclick => "$('#milestone_modal').html('#{escape_javascript(render "shared/ajax_loader")}');$.get('#{add_reward_admin_chain_steppingstone_step_path(@chain, @step_parent, st)}')", "data-toggle" => "modal" %> | <%= link_to "<i class=\"icon-plus-sign\"></i> Add Point".html_safe, "#milestone_modal", :onclick => "$('#milestone_modal').html('#{escape_javascript(render "shared/ajax_loader")}');$.get('#{add_point_admin_chain_steppingstone_step_path(@chain, @step_parent, st)}')", "data-toggle" => "modal" %>   
    <% end %>
  <% else %>
    <% if st.reward %>
      <%= st.reward.name %>(<%= st.reward.id  %>) - <%= link_to "<i class=\"icon-remove-sign\"></i> Remove".html_safe, params[:type].blank? ? remove_reward_admin_chain_steppingstone_step_path(@chain, @step_parent, st) : remove_reward_admin_chain_bucket_path_step_path(@chain, "bucket", @step_parent, st), :remote => true, :confirm => 'are you sure?' %>
    <% else %>
      No Reward Selected - <%= link_to "<i class=\"icon-plus-sign\"></i> Add".html_safe, "#milestone_modal", :onclick => "$('#milestone_modal').html('#{escape_javascript(render "shared/ajax_loader")}');$.get('#{params[:type].blank? ? add_reward_admin_chain_steppingstone_step_path(@chain, @step_parent, st) : add_reward_admin_chain_bucket_path_step_path(@chain, "bucket", @step_parent,st)}')", "data-toggle" => "modal" %>
    <% end %>
  <% end %>
  <span id="link_loader_<%= st.id %>" style="display:none;"><%= image_tag "loader.gif" %></span>
</td>
<td>
  <%= link_to "Edit", params[:type].blank? ? edit_admin_chain_steppingstone_step_path(@chain, @step_parent, st) : edit_admin_chain_bucket_path_step_path(@chain, "bucket", @step_parent, st), :class => "btn btn-primary" %>
  <%= link_to "Destroy", params[:type].blank? ? admin_chain_steppingstone_step_path(@chain, @step_parent, st) : admin_chain_bucket_path_step_path(@chain, "bucket", @step_parent, st), :class => "btn btn-danger", :method => "delete", :confirm => "Are you sure?" %>
</td>