$('#milestone_modal').html('<%= escape_javascript(render 'shared/ajax_loader') %>');
$('#step_<%= @step.id %>').html('<%=j render("row", {:st => @step})%>');
$('#milestone_modal').html('<%= escape_javascript(render 'confirmation', {:message => "Reward successfully added."}) %>');

