<% if @is_save %>
$('#milestone_modal').html('<%= escape_javascript(render "shared/ajax_loader") %>');
$.get('<%= params[:type].blank? ? add_reward_admin_chain_steppingstone_step_path(@chain, @step_parent, @step) : add_reward_admin_chain_bucket_path_step_path(@chain, "bucket", @step_parent, @step) %>');
<% else %>
$('#milestone_modal').html('<%=j render 'milestone_reward_form' %>');
<% end %>