<% if @is_save %>
$('#milestone_modal').html('<%= escape_javascript(render "shared/ajax_loader") %>');
$.get('<%=  add_one_time_reward_admin_chain_steppingstone_step_path(@chain, @step_parent, @step) %>');
<% else %>
$('#milestone_modal').html('<%=j render '/admin/steps/points_earned/reward_form' %>');
<% end %>