<div class="page-header">
  <h3>Edit step </h3>
</div>

<%= simple_form_for(["admin_chain_#{@step_parent.class.to_s.underscore}", @step], :url => params[:type].blank? ? admin_chain_steppingstone_step_path(@chain, @step_parent, @step) : admin_chain_bucket_path_step_path(@chain, "bucket", @step_parent, @step)) do |f| %>
    <div class="field">
      <%= f.input :step_number %>
    </div>
    <div class="field">
      <%= f.input :property_one, :label => "Receipt Approved number" %>
    </div>

    <div class="field">
      <%= f.input :property_two, :label => "Minimum Subtotal" %>
    </div>
    <br />
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Back", params[:type].blank? ? admin_chain_steppingstone_steps_path(@chain, @step_parent) : admin_chain_bucket_path_steps_path(@chain, "bucket", @step_parent) ,:class => "btn" %>
<% end %>