<div class="page-header">
  <h3>Edit step </h3>
</div>

<%= simple_form_for(["admin_chain_#{@step_parent.class.to_s.underscore}", @step],
                    :url => update_milestone_point_admin_chain_steppingstone_step_path(@chain, @step_parent,@step)) do |f| %>
    <div class="field">
      <%= f.input :step_number %>
    </div>
    <div class="field">
      <%= f.input :point_threshold, :label => "Point Threshold" %>
    </div>
    <div class="field">
      <%= f.input :loop, :label => "Loop Consideration" %>
    </div>
    <br />
    <div class="field">
      <%= f.input :reset_milestone_value_after_qualifying %>
    </div>
    <%= f.input :property_one, :input_html => {:value => 10} , :as => :hidden%>
    <%= f.input :property_two, :input_html => {:value => 10} , :as => :hidden%>
    <br />
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Back", params[:type].blank? ? admin_chain_steppingstone_steps_path(@chain, @step_parent) : admin_chain_bucket_path_steps_path(@chain, "bucket", @step_parent) ,:class => "btn" %>
<% end %>