<div class="page-header">
  <h3>Listing Steps </h3>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Step Number</th>
    <th>Receipt Approved</th>
    <th>Minimum Subtotal</th>
    <th>
      <% if params[:type].blank? %>
        Incentive
      <% else %>
        Reward
      <% end %>
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @steps.each do |st| %>
      <tr id="step_<%= st.id %>">
        <%= render "row", {:st => st} %>
      </tr>
  <% end %>
  </tbody>
</table>

<br />
<br />
<div class="modal hide fade" id="milestone_modal" style="width: 800px;height: 500px;overflow: scroll;padding: 10px;">
</div>
<% if params[:type].blank? %>
    <%= link_to "Create new Step", new_admin_chain_steppingstone_step_path(@chain, @step_parent), :class => 'btn btn-primary' %>
<% else %>
    <%= link_to "Create new Step", new_admin_chain_bucket_path_step_path(@chain, "bucket", @step_parent), :class => 'btn btn-primary' %>
<% end %>

<%= link_to "Back", params[:type].blank? ? admin_chain_steppingstones_path(@chain) : admin_chain_bucket_paths_path(@chain), :class => 'btn' %>