<% if @updated %>
  $('#milestone_modal').html('<%= escape_javascript(render 'confirmation', {:message => "Point has successfully added."}) %>');
  $('#step_<%= @step.id %>').html('<%=j render("row", {:st => @step})%>');
<% else %>
  $("#milestone_modal").html('<%=j render "point_form" %>');
<% end %>