/* Custom Pagination */
.pagination a{ font-size: 12px; color: #bcc6d3; padding: 1px 5px 3px 9px; }
.pagination a:hover{ color: #4f4f4f; }

.pagination a, .pagination em, .pagination span{
    border-color: #d0dde9;
    color: #4f4f4f;
    font-weight: 600;
    box-shadow: 0px 1px 0px 0px #efefef;
    transition: background-color .1s linear;
    -moz-transition: background-color .1s linear; /* Firefox 4 */
    -webkit-transition: background-color .1s linear; /* Safari and Chrome */
    -o-transition: background-color .1s linear;  /* Opera */
}

.pagination em, .pagination span{ color: #3b9ff3; }
.pagination a:hover, .pagination a:focus{ background-color: #f5f5f5; }

.pagination .previous_page {
    border-bottom-left-radius: 3px;
    border-left-width: 1px;
    border-top-left-radius: 3px;
}

.pagination .next_page {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.pagination a, .pagination span, .pagination em {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 20px;
    padding: 0px 5px;
    text-decoration: none;
}
/* End Custom Pagination */

/* Custom Button */
a.btn-custom {
    background-image: url("/assets/tally_btn_inactive.png");
    background-position: center top;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: inline-block;
    font-family: arial;
    font-size: 22px;
    font-weight: bold;
    height: 49px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    width: 142px;
}

a.btn-custom:active { background-image: url(/assets/tally_btn_active.png); }
/* End Custom Button */

/* Custom Mini Button */
a.btn-mini {
    background-image: url("/assets/tally_btn_inactive.png");
    background-position: center top;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: inline-block;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    width: 80px;
    padding: 2px 6px;
}

a.btn-mini:active { background-image: url(/assets/tally_btn_active.png); }
/* End Custom Mini Button */

/* Custom Modal */
.modal {
    /*Old color C0C0C0*/

    /* Safari 4-5, Chrome 1-9 */
    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#E0E0E0));*/
    /* Safari 5.1, Chrome 10+ */
    /*background: -webkit-linear-gradient(top, #FFFFFF, #E0E0E0);*/
    /* Firefox 3.6+ */
    /*background: -moz-linear-gradient(top, #FFFFFF, #E0E0E0);*/
    /* IE 10 */
    /*background: -ms-linear-gradient(top, #FFFFFF, #E0E0E0);*/
    /* Opera 11.10+ */
    /*background: -o-linear-gradient(top, #FFFFFF, #E0E0E0);*/

    /*border: none;*/
    /*border-radius: 3px;*/
    /*width: 700px;*/

    background: none repeat scroll 0 0 #F5F5F5;
    /*background: none repeat scroll 0 0 rgba(255, 255, 255, 0.65);*/
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    float: none;
    /*margin: 0 auto;
    padding: 35px 0 30px;*/
    width: 700px;

}

.modal-body { text-align: center; }
.modal-header {
    border-bottom: none;
    height: 39px;
    background-color: transparent ! important;
}

#myModalLabel { text-align: center;  }
/* End Custom Modal */

/* Custom Radio */
.radio-child { padding-left: 20px; clear:both; }
.radio { background: url("/assets/d2_img/radio.png") no-repeat; }
.radio-checked { background: url("/assets/d2_img/radio-select.png") no-repeat; }
a.radio-fx span, a.radio-fx { padding-left: 20px; }
a.radio-fx:hover { text-decoration:none;}
/* End Custom Radio */

/* Custom Checkbox */
.checkbox { background: url("/assets/d2_img/checkbox.png") no-repeat; }
.checkbox-checked { background: url("/assets/d2_img/checkbox-select.png") no-repeat; }
.checkbox-fx span, a.checkbox-fx { padding-left: 20px; }
a.checkbox-fx:hover { text-decoration:none;}

.left { float: left; }
.right { float: right; }
.the-content-body {  padding: 0 40px 20px;  }
.radio-child { margin-left: 155px; clear:both; }
.label-box-custom { margin-left: 65px; }
.btn-custom-offset1 { margin-left: 20px; }


/* Chart Style */
.chartWrapper {
    clear: both;
    float: left;
    min-height: 250px;
    margin-top: -15px;
    padding: 0;
    width: 100%;
}

.timewraper {
    float: right !important;
    margin-right: 20px;
    margin-top: 0;
}

.fluid-content {
    background-color: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px 5px 5px 5px;
    float: left;
    width: 100%;
}

.topbar {
    clear: both;
    float: left;
    margin: 10px;
    width: 100%;
}

.topbar span {
    float: left;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-right: 30px;
}

.topbar label {
    color: #58595B;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 5px;
}

.titlebar {
    /*old color E6E6E6 */
    background-image: -moz-linear-gradient(center top , #FFFFFF, #EAEAEA);
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 0 0;
    color: #58595B;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    position: relative;
    width: 98%;
    z-index: 1000;
}

#checklocation {
    margin-top: -2px;
    min-height: 580px;
    overflow-x: hidden;
    width: 98% !important;
    z-index: -1;
}

.checkwraper {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #B5B5B5 #B5B5B5;
    border-image: none;
    border-radius: 0 0 5px 5px;
    border-right: 1px solid #B5B5B5;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    color: #58595B;
    float: left;
    font-size: 13px;
    height: 500px;
    overflow: hidden;
    padding: 5px;
    width: 98%;
}

fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

/* Menu Icon */
.icon-summary {
    background-image: url("/assets/icon_summary.png");
    background-repeat: no-repeat;
}

.icon-members {
    background-image: url("/assets/icon_members.png");
     background-repeat: no-repeat;
}

.icon-Surveys {
    background-image: url("/assets/icon_surveys.png");
     background-repeat: no-repeat;
}

.icon-Rewards {
    background-image: url("/assets/icon_rewards.png");
    background-repeat: no-repeat;
}

.icon-tak {
    background-image: url("/assets/take_action_icon.png");
    background-repeat: no-repeat;
}

/* Custom Tooltip */
.popover { 
    font-size: 12px; 
    font-weight: normal;
    text-transform: none;
}

.icon-question-sign:hover, .icon-question-sign:focus {
    text-decoration: none !important;
}

/* Custom form element */
.ui-select-custom {
    background-attachment: scroll, scroll;
    background-clip: border-box, border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/assets/d2_img/select-bg.png"), linear-gradient(to bottom, #FFFFFF 0%, #F0F1F2 100%);
    background-origin: padding-box, padding-box;
    background-position: 94% center;
    background-repeat: no-repeat;
    background-size: auto auto, auto auto;
    border: 1px solid #CFDDE8;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    height: 25px;
    margin-left: 0 !important;
    min-height: 25px !important;
    min-width: inherit;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.time-wrap { width: 65px; }
.day-wrap { width: 100px; }

.custom-select {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #737F8D;
    font-family: "Open Sans",Arial;
    font-size: 12px;
    height: 25px;
    line-height: inherit;
    padding: 2px 0px 0 7px;
    text-shadow: 1px 1px 1px #FFFFFF;
}

.time-select { width: 80px;}
.day-select { width: 120px;}

.error-custom { border: 1px solid #C73939 !important; color: #C73939 !important; }
 
#report-issue-tab {
    z-index: 1000;
}
    

/* Custom Button */
.btn-flat.approved {
    /*3F9D2*/
    background: #4387BF;
    border-color: #4387BF;
    color: #fff;
}
.btn-flat.approved:active {
    background: #4387BF;
}

.btn-flat.completed {
    background: #9CBAC9;
    border-color: #9CBAC9;
    color: #fff;
}
.btn-flat.completed:active {
    background: #9CBAC9;
}

.btn-flat.inprogress {
    background: #0B61A4;
    border-color: #0B61A4;
    color: #fff;
}
.btn-flat.inprogress:active {
    background: #0070FF;
}

.btn-flat.reachout {
    background: #00AEB1;
    border-color: #00AEB1;
    color: #fff;
}
.btn-flat.reachout:active {
    background: #00AEB1;
}

.btn-flat.rejected {
    background: #6634B1;
    border-color: #6634B1;
    color: #fff;
}
.btn-flat.rejected:active {
    background: #6634B1;
}

.btn-flat.requested {
    background: #2080BB;
    border-color: #2080BB;
    color: #fff;
}
.btn-flat.requested:active {
    background: #2080BB;
}

.btn-flat.waiting {
    background: #66A3d2;
    border-color: #66A3d2;
    color: #fff;
}
.btn-flat.waiting:active {
    background: #F79646;
}

.button-false{
    pointer-events: none !important;
    text-decoration: none !important;
    text-align: center;
    padding-left:2px !important;
    padding-right:2px !important;
    width: 62px;
}

.button-true{
    text-decoration: none !important;
    text-align: center;
    padding-left:2px !important;
    padding-right:2px !important;
    width: 60px;
}

.error {
  border-color: #b94a48 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

.error:focus {
  border-color: #953b39 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392 !important;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392 !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392 !important;
}