<%= form_for [:admin, @receipt], :html => { :multipart => true } do |f| %>
  <% if @receipt.errors.any? || @receipt_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
        <% @receipt.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>

        <% @receipt_transaction.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="x-box">
    <div class="x-box-inner">
      <div class="field">
        <%= f.label :chain %>
        <%= f.collection_select("chain_id", Chain.order("name"), :id, :name, options ={:prompt => true}, :class=>'x-col3-dropdown', :onchange => "$('#chain_id').val($(this).val())" )%>
        <span id="loader_chain" style="display:none;"><%= image_tag "loader.gif" %></span>
      </div>
      <div class="field">
        <%= f.label :appkey %>
        <%= select_tag('appkey', options_for_select([]), :prompt=>"Please select appkey", :onchange => "$('#chain_app_key').val($(this).val())") %>
      </div>

      <div class="field">
        <%= f.label :user %>
        <%= text_field_tag(:user, nil,:placeholder => "User ID") %>
        <%#= select_tag('user', options_for_select([]), :prompt=>"Please select offer") %>
      </div>

      <div class="field">
        <%= label_tag :offer %>
        <%= select_tag('offer', options_from_collection_for_select([], :id, :name), :prompt=>"Please select offer", :include_blank => true) %>
      </div>

      <div class="field">
        <%= label_tag :restaurant %>
        <%= select_tag('restaurant', options_from_collection_for_select([], '', ''), :prompt=>"Please select restaurant") %>
        <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
      </div>

      <div class="field">
        <%= f.label :upload_receipt %>
        <%= f.file_field :image %>

      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
