<h3 id="popup-title" style="color: #ff0000;font-weight: bolder;">Duplicates Found!</h3>
<br/>
<div id="content-modal-dup">
  <table>
    <caption></caption>
    <thead>
    <tr>
      <th>Receipt Id</th>
      <th>Offer</th>
      <th style="width:200px;">User Email</th>
      <th>Chain</th>
      <th>Points Multiplier</th>
      <th>Receipt Number/Order Id</th>
      <th>Submit Date</th>
      <th>Receipt Link</th>
      <th>Review Status</th>
    </tr>
    </thead>
    <% @selected_receipts.each do |receipt|
      trans=receipt.last_transaction %>
        <tr>
          <td><%= receipt.id %></td>
          <% offer = receipt.receipt_transactions.first.offer if receipt.receipt_transactions.size > 0 %>
          <% if offer %>
              <td><%= link_to(offer.name, admin_offer_path(offer), :target => "_blank") %></td>
          <% else %>
              <td>&nbsp;</td>
          <% end %>
          <td>
            <%= receipt.try(:user).try(:email) %>
            <br/>
            Points(<%= receipt.try(:user).try(:points) %>)
          </td>
          <td><%= receipt.chain.name if receipt.chain %></td>
          <td><%= trans.try(:restaurant_offer).try(:offer).try(:multiplier) %>X</td>
          <td><%= trans.try(:receipt_number) %></td>
          <td><%= receipt.try(:created_at).try(:strftime, '%Y-%m-%d %H:%M:%S') %></td>
          <td><%= link_to "Link", receipt.image.url, :target => "_blank" %></td>
          <td><%= receipt_status_name(receipt.status) %></td>
        </tr>
    <% end %>
  </table>
</div>
