<div class="modal" id="myModalExportStatus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <%= form_tag({:controller => "receipts", :action => "export_status"}, :id=>'x-export_status-receipt', :method => :get, :remote => true) do |f| %>
  <div class="modal-header"><h3>Export Status</h3></div>
  <div class="modal-body" style="margin-left:15px;">
    <%= label_tag :to %>
    <%= text_field_tag "export_status[to]",params[:export_status] ? params[:export_status][:to] : nil, :class=>'x-datepicker', :readonly=>true %>
<br>
    <%= label_tag :chain %>
    <%= select_tag('export_status[chains]', options_from_collection_for_select(Chain.active.order("name"), :id, :name, params[:export_status] ? params[:export_status][:chains] : nil), options ={:multiple => true, :class=>'multiselect'}) %>
    <br><br>
  </div>
  <div class="modal-footer">
    <button id="x-close-export-status" class="btn" data-dismiss="modal" aria-hidden="true" onclick="$('html, body').animate({ scrollTop: 0 }, 'slow');" >Close</button> 
    <%#= submit_tag "Export", :id => "x-export_status-submit-btn", :class => "btn", :onclick => "$('#x-close-export-status').click();$('#list-receipts').ajaxloader('show');" %>
    <%= submit_tag "Export", :id => "x-export_status-submit-btn", :class => "btn", :onclick => "$('#x-close-export-status').click();$('#list-receipts').ajaxloader('show');$('#export-notif').html('Receipt CSV will sent to your email shortly');$('#export-notif').show();" %>
  </div>
  <% end %>
</div>