<style type="text/css">
  .edit_receipt .field_with_errors{
    float:left;
    width: auto;
    border: 1px solid #8b0000;
  }
</style>

<%= form_for([:admin, @receipt], :html => {:remote => true, :id => "edit_form" }) do |f| %>
  <% if @receipt.errors.any? || @receipt_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
        <% @receipt.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>

        <% @receipt_transaction.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :rounding_preference, @receipt.chain.point_rounding_preference %>
  <%= hidden_field_tag :is_multiplier, @receipt_transaction.offer.is_multiplier ? "TRUE" : "FALSE" %>
  <%= hidden_field_tag :ignore_max_subtotal, params[:ignore_max_subtotal] %>
  <%= hidden_field_tag :ignore_offer_per_day, params[:ignore_offer_per_day] %>
  <%= fields_for @receipt_transaction do |t| %>
    <div class="x-box">
      <div class="x-box-inner">
        <div class="field">
          <%= label_tag :restaurant_id %>
          <%= t.collection_select(:restaurant_id, @receipt.try(:restaurant_list_from_transactions), :id, :address, options ={:prompt => "Please Select Restaurant"}) %>
        </div>

        <div class="field">
          <%= t.label :issue_date, "Issue Date *" %>
          <%= t.text_field :issue_date, :class => "t-datepicker" %>
        </div>

        <div class="field">
          <%= t.label :time_stamp, "Time Stamp *" %>
          <%= t.text_field :time_stamp, :class => 'x-time-picker' %>
        </div>

        <div class="field">
          <%= t.label :receipt_number, "Receipt Number/ Order Id" %>
          <%= t.text_field :receipt_number %>
        </div>

        <div class="field">
          <%= t.label :server_name, "Server Name/Id" %>
          <%= t.text_field :server_name %>
        </div>

        <div class="field">
          <%= t.label :cashier %>
          <%= t.text_field :cashier %>
        </div>

        <br clear="all"/><br clear="all"/>

        <p class="x-box-heading">Receipt Information to be entered</p>

        <div class="field">
          <%= t.label :food_total %>
          <%= t.text_field :food_total %>
        </div>

        <div class="field">
          <%= t.label :beverage_total %>
          <%= t.text_field :beverage_total %>
        </div>

        <div class="field">
          <%= t.label :subtotal, "Subtotal *" %>
          <%= t.text_field :subtotal, :class => 'calculate_points' %>
        </div>

        <div class="field">
          <%= t.label :tax %>
          <%= t.text_field :tax %>
        </div>

        <div class="field">
          <label for="order_kind">Order Type</label>
          <%= f.select :order_kind, options_for_select(Receipt::ORDER_KIND, :selected => @receipt.order_kind), :prompt => "Please select order type" %>
        </div>

        <div class="field">
          <%= label_tag :receipt_status %>
          <%= f.select :status, options_for_select(Receipt::STATUS, :selected => @receipt.status), :prompt => "Please select status" %>
        </div>

        <div class="field">
          <%= t.label :reject_reason %>
          <%= t.collection_select(:reject_reason_id, @receipt.status!=4 ? [] : RejectReason.all, :id, :description, options ={:prompt => true}) %>
        </div>

        <div class="field">
          <%= t.label :note, "Comments" %>
          <%= t.text_area :note, :rows => 5 %>
        </div>

        <br clear="all"/><br clear="all"/>

        <p class="x-box-heading">Process Receipt</p>

        <div class="field">
          <%= t.label :base_points_earned %>
          <%= t.text_field :base_points_earned, :readonly => true %>
        </div>

        <div class="field">
          <%= t.label :bonus_earned %>
          <%= t.text_field :bonus_earned, :readonly => true %>
        </div>

        <div class="field">
          <%= t.label :total_points_earned %>
          <%= t.hidden_field :total_points_earned, :readonly => true %>
          <%= text_field_tag :tmp_total_points_earned, "", :readonly => true %>
        </div>

        <div class="field">
          <% Receipt::PAYMENT_METHOD.each do |option| %>
            <br /><%= t.radio_button :payment_method, option[1] %>
            <%= option[0] %>
          <% end %>
          <span class="points"> Last 4 digits on card <%= t.text_field :card_number %></span>
        </div>

        <br clear="all"/><br clear="all"/>

        <p class="x-box-heading">Client Requested Feedback</p>

        <% unless @receipt_transaction_detail.blank? %>

          <div class="field">
            <%= label_tag 'Feedback' %>
            <%= @receipt_transaction_detail.clientfeedback1 %>
          </div>

          <div class="field">
            <%= label_tag 'More Feedback' %>
            <%= @receipt_transaction_detail.clientfeedback2 %>
          </div>

        <% end %>

      </div>

      <div class="x-box-inner">
        <%= render 'userform', :action => action %>
        <br clear="all"/><br clear="all"/>
        <% unless @receipt_transaction.admin_id.blank? %>
          <p class="x-box-heading">Receipt Reviewer Info</p>
          <div class="field">
            <%= label_tag :reviewer, "Reviewer" %>
            <%= text_field_tag :admin_id, @receipt_transaction.try(:reviewer).try(:email), :disabled => true %>
          </div>
        <% end %>
      </div>

    </div>

    <div class="x-box">

    </div>

    <div class="x-box">
      <% errors_receipt = (@receipt_transaction.instructions.class.eql?(Hash) ? @receipt_transaction.instructions : YAML.load(@receipt_transaction.instructions)) rescue nil %>
      <% if errors_receipt and errors_receipt.class.eql?(Hash) %>
        <% receipt_inst = YAML.load(File.read('config/receipt_instructions.yml')) %>
        <% errors_receipt.keys.each do |key| %>
          <% selected_inst = receipt_inst[key.to_s]%>
          <div class="field">
            Review Reason <%= selected_inst["review_reason"] %> <br/>
            Instructions <%= selected_inst["instructions"] %> <br/>
          </div>
          <hr/>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Update Receipt", :class => "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    $('.t-datepicker').datepicker({dateFormat: 'yy-mm-dd', maxDate: 0});
    $("form#edit_form").submit(function () {
      var food_total = $("input#receipt_transaction_food_total").val()
      var beverage_total = $("input#receipt_transaction_beverage_total").val()
      var subtotal = $("input#receipt_transaction_subtotal").val()
      var conditions = new RegExp('^[0-9 .]*$');
      if (conditions.test(food_total) && conditions.test(beverage_total) && conditions.test(subtotal)) {
        $('#edit_form').ajaxloader();
        return true;
      } else {
        alert('Please check (food total, beverage total and subtotal) only numbers are allowed.');
        return false;
      }
    });
  })
</script>
