<h3 id="popup-title" style="color: #ff0000;font-weight: bolder;">Future Check is not allowed.</h3>
<br/>
<div id="content-modal-dup">
  Seems we have problem with the issue date for this receipt. Issue date could not be more than when receipt was submitted.
</div>

<!--<div style="text-align: center;margin-top: 40px;">-->
<%#= link_to "Ignore", "#", :class => "btn btn-primary",
#              :id => "ignore-receipt-link", :onclick => "$(this).html('processing ...');
#              $.ajax({
#                url: '#{admin_receipt_path(@receipt)}',
#                type: 'PUT',
                data: $('form#edit_form').serialize() + '&ignore_offer_per_day=true'});return false;" %>
<!--<%#= link_to "Close" , "#",  :class => "btn btn-danger", :onclick => "$.modal.close();"  %>-->
<!--</div>-->