  <table>
    <caption></caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Client Set Status</th>
        <th>Gender</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
      <tr>
        <td>
          <%= user.id %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.client_set_status_label %>
        </td>
        <td>
          <%= user.gender_title %>
        </td>
        <td><div class="btn select-user-id" user-id="<%= user.id %>">Select</div></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<%= will_paginate users%>
