<h3 id="popup-title" style="color: #ff0000;font-weight: bolder;">Mandatory Fields Validation.</h3>
<br/>
<div id="content-modal-dup">
  Time, Date and Subtotal are mandatory fields. <br /> If available, enter them. If not available, reject receipt.
</div>
