<h3 id="popup-title" style="color: #ff0000;font-weight: bolder;">Subtotal Amount limit crossed.</h3>
<br/>
<div id="content-modal-dup">
  The subtotal amount appears to be a large number. Please check  if the value entered is correct
</div>
<div style="text-align: center;margin-top: 40px;">
  <%= link_to "Ignore", "#", :class => "btn btn-primary",
              :id => "ignore-receipt-link", :onclick => "$(this).html('processing ...');
              $.ajax({
                url: '#{admin_receipt_path(@receipt)}',
                type: 'PUT',
                data: $('form#edit_form').serialize() + '&ignore_max_subtotal=true'});return false;" %>
  <%= link_to "Close" , "#",  :class => "btn btn-danger", :onclick => "$.modal.close();"  %>
</div>
