<% unless @receipts.length <= 0 %>
<% @receipts.each do |receipt|
  trans=receipt.the_latest_transaction %>
  <tr>
    <td>
      <%= link_to_granted_receipt(receipt, receipt.id, admin_receipt_path(receipt)) %>
      <%= link_to "<i class='icon-camera'></i>".html_safe, receipt.image_url, :target => "_blank" %>
    </td>
    <% offer = trans.offer unless trans.blank?%>
    <% if offer %>
      <td><%= link_to(offer.name, admin_offer_path(offer), :target => "_blank") %></td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <td>
      <a href="#myModal" data-toggle="modal" class="short_email" data-attribute="<%= receipt.try(:user).try(:email) rescue nil %>">
        <%= receipt.try(:user).try(:email).try(:slice, 0, 13) %>...
      </a>
      <br />
      Points(<%= receipt.try(:user).try(:points) %>)
    </td>
    <td><%= receipt.chain.name if receipt.chain%></td>
    <td><%= trans.current_restaurant.name.gsub("\u2028","") if trans.current_restaurant rescue nil %></td>
    <td><%= trans.receipt_number rescue nil %></td>
    <td><%#= receipt.created_at.strftime('%Y-%m-%d %H:%M:%S') rescue nil %>
      <%= date_helper_timezone(receipt.created_at) rescue nil %>
    </td>
    <td>
      <div style="float:left;">
        <%= receipt_status_color(receipt.status) %>
      </div>
      <div style="float:left;margin-left:15px;">
        <%= receipt_status_name(receipt.status) %>
      </div>
    </td>

    <td>
      <%= link_to_granted_receipt(receipt, "Edit", edit_admin_receipt_path(receipt)) %><!-- |-->

      <% if @ability.can? :destroy, Receipt %>
        <%#= link_to_granted_receipt(receipt, "Destroy", admin_receipt_path(receipt), {confirm: 'Are you sure?', method: :delete}) %>
      <% end %>
    </td>
  </tr>
<% end %>
    <% else %>
    <tr><td colspan="9">Please search the criteria First</td></tr>
    <% end %>

<tr>
  <td colspan="9" style="text-align: center;">
    <%= will_paginate @receipts, :class => "pagination r-paging" unless @receipts.blank?%>
  </td>
</tr>
<tr>
  <td colspan="9" style="text-align: center;">
    <%= link_to "Export to csv", request.parameters.merge({:format => :csv}), :confirm => 'Are You sure?' %>
  </td>
</tr>


