<% if receipt.status.eql?(5) %>
    <script type="text/javascript">
        $.modal('<%=j render "receipt_confirmation", {:url => url} %>');
    </script>
    <style type="text/css">
        a.modalCloseImg{
            display: none!important;
        }
    </style>
<% end %>