<%= form_tag({:controller => "receipts", :action => "review_search"}, :id=>'x-search-receipt', :method => :get, :remote => true) do |f| %>

  <div class="x-box">
    <div class="x-box-col4">
      <div class="field">
        <%= label_tag :chain %>
        <%= select_tag('search[chains]', options_from_collection_for_select(Chain.active.select("id, name").order('name'), :id, :name, params[:search] ? params[:search][:chains] : nil), options ={:multiple => true, :class=>'multiselect'}) %>
      </div>
    </div>
    <div class="x-box-col3">
      <div class="field">
        <%= label_tag :review_status %>
        <%= select_tag "search[review_status]", options_for_select(Receipt::STATUS, params[:search] ?  params[:search][:review_status] : nil), :prompt=>"Select status", :class=>'x-col3-dropdown' %>
      </div>
    </div>
    <%= hidden_field_tag "page", 1 %>
    <%= hidden_field_tag "qry_order" %>
  </div>
  <div style="left:0; float:left;">
    <%= text_field_tag "search[q]", params[:search] ? params[:search][:q] : nil, :style=>'width:300px' %>
    <%= submit_tag "Search", :id => "x-search-submit-btn", :class => "btn", :style => "margin-bottom: 9px;", :onclick => "if($('#flagqry').val() == ''){ $('#page').val(1) }" %>
    <%= link_to "Reset Search", '/admin/receipts/review', :class => "btn", :id => "x-reset-search-btn", :style => "margin-bottom: 9px;" %>
  </div>
  <div style="right:0; float:right;">
    <%= text_field_tag :receipt_id, "", :placeholder => "Receipt ID", :id => 'receipt_id_find' %> <%= link_to "GO TO", "#", :class => "btn btn-primary", :style => "margin-bottom: 9px;" , :onclick => "if($('#receipt_id_find').val() == ''){ $.get('/admin/receipts/0/goto')} else {$.get('/admin/receipts/'+ $('#receipt_id_find').val()+'/goto')} " %>
    <%= text_field_tag :receipt_page, "", :placeholder => "Page", :style => 'width:50px;' %>
    <%= link_to "GO TO Page", "#", :class => "btn btn-primary",
                :style => "margin-bottom: 9px;" ,
                :onclick => "if($('#receipt_page').val() != '' && !isNaN($('#receipt_page').val())){$('#page').val($('#receipt_page').val());$('#x-search-submit-btn').click(); } else { window.location='/admin/receipts/'} " %>
  </div>
<% end %>