<a href="<%= @receipt.image.url %>" title="Receipt Image" target="_blank"><img src='<%= @receipt.image.url %>' height='550' width='450'/></a>

<br clear="all"/><br clear="all"/>

<p class="x-box-heading">User Information</p>

<% user = @receipt.user %>
<div class="field">
  <%= label_tag :username, "User Name" %>
  <%= text_field_tag :username, user.try(:username), :disabled => true %>
</div>
<div class="field">
  <%= label_tag :email, "User Email" %>
  <%= text_field_tag :email, user.try(:email), :disabled => true %>
</div>
<div class="field">
  <%= label_tag :ftu, 'First Time User' %>

  <% approved_receipts = Receipt.count_by_user_and_status(@receipt.user_id, 3)
  ftu = approved_receipts > 0 ? 'yes' :'no'
  ['no', 'yes'].each do |option| %>
    <%= radio_button_tag('ftu', option, ftu == option) %>
    <%= option.humanize %>
  <% end %>
</div>
<br clear="all"/>


<p class="x-box-heading">Offer Information</p>
<% offer = @receipt_transaction.restaurant_offer.offer rescue nil
restaurant = @receipt_transaction.current_restaurant
bonus_points = offer && offer.bonus_points && offer.bonus_points > 0 ? 'yes' :'no'
bonus_points_ftu = offer && offer.bonus_points_ftu && offer.bonus_points_ftu > 0 ? 'yes' :'no'
%>
<div class="field">
  <%= label_tag :chain, "Chain Name" %>
  <%= text_field_tag :chain, offer.try(:chain).try(:name), :disabled => true %>
</div>
<div class="field">
  <%= label_tag :chain, "Application ID" %>
  <%= text_field_tag :chain, @receipt.application_id, :disabled => true %>
</div>
<div class="field">
  <%= label_tag :restaurant, "Chain Location(Restaurant)" %>
  <%= text_field_tag :restaurant, restaurant.try(:name), :disabled => true %>
</div>
<div class="field">
  <%= label_tag :multiplier %>
  <%= text_field_tag :multiplier, offer.try(:is_multiplier) ? offer.try(:multiplier) : offer.try(:constant_value), :disabled => true %>
</div>

<div class="field">
  Bonus Points for All Valid Subscriptions<br/>
  <% ['no', 'yes'].each do |option| %>
    <%= radio_button_tag 'bonus_points', option, bonus_points == option %>
    <%= option.humanize %>
  <% end %>
  <span class="points">Bonus Points <%= text_field_tag :bonus_points, offer.try(:bonus_points), :disabled => true %> </span>
</div>

<div class="field">
  Bonus Points for First Time User Valid Subscriptions<br/>
  <% ['no', 'yes'].each do |option| %>
    <%= radio_button_tag 'bonus_points_ftu', option, bonus_points_ftu == option %>
    <%= option.humanize %>
  <% end %>
  <span class="points">Bonus Points <%= text_field_tag :bonus_points_ftu, offer.try(:bonus_points_ftu), :disabled => true %></span>
</div>
<div class="field">
  <%= label_tag :fineprint, 'Other Details' %>
  <%= text_area_tag :fineprint, offer.try(:fineprint), :disabled => true %>
</div>

<div class="field">
  <%= label_tag :created_at, "Submission Date and Time Stamp" %>
  <%= text_field_tag :created_at, @receipt.try(:created_at).in_time_zone(Setting.default_time_zone["zone"]), :disabled => true, :class=>'cdate' %>
</div>
