<% if @receipt.blank? %>
  alert('Receipt not found')
<% else %>
  <% if @receipt.status.eql?(Receipt::STATUS[:PENDING_OCR]) %>
     $.modal("<%= escape_javascript(render("receipt_confirmation", {:url => admin_receipt_path(@receipt)})) %>");
  <% else %>
     window.location.href = '<%= admin_receipt_path(@receipt)%>';
  <% end %>
<% end %>