<% require 'csv' %>
<% headers = ["Receipt Id", "User Name", "User Email", "Chain", "Restaurant Location", "Points Multiplier", "Receipt Number/Order Id", "Submit Date", "Review status"] %>
<%= CSV.generate_line headers, :row_sep => ?\t, :quote_char => ?\ %>
<% @receipts.each do |receipt|
  trans=receipt.last_transaction %>
  <% row = [
    receipt.id,
    receipt.try(:user).try(:full_name).try(:strip),
    receipt.try(:user).try(:email).try(:strip),
    receipt.try(:chain).try(:name).try(:strip),
    trans.try(:restaurant_offer).try(:restaurant).try(:name).try(:strip),
    trans.try(:restaurant_offer).try(:offer).try(:multiplier),
    trans.try(:receipt_number),
    receipt.try(:created_at).try(:strftime, '%m-%d-%Y'),
    receipt_status_name(receipt.status)
  ] %>
  <%= CSV.generate_line row, :row_sep => ?\t, :quote_char => ?\ %>
<% end %>