<script type="text/javascript">
    $('.order-table').bind("click", function(){
        var ordvalcur = $(this).attr('data-attribute');
        var ordvalbef = $('#qry_order').val();

        if(ordvalcur == ordvalbef){
            $('#qry_order').val(parseInt(ordvalbef) + 1000)
        }else{
            $('#qry_order').val($(this).attr('data-attribute'));
        }

        $('#x-search-submit-btn').click();
    });
    /*
     $(".pagination a").bind("click", function() {
     $('#receipt_page').val('');
     var page = parseInt($(this).text());
     $('#flagqry').val("pagination");

     if(page > 0){
     $('#page').val(page);
     $('#loader').show();
     $('#x-search-submit-btn').click();
     }else{
     var page = $(this).attr("class");
     var cur_page = parseInt($(".pagination em").text());

     if(page == "previous_page"){
     $('#page').val(cur_page - 1);
     $('#loader').show();
     $('#x-search-submit-btn').click();
     }else if(page == "next_page"){
     $('#page').val(cur_page + 1);
     $('#loader').show();
     $('#x-search-submit-btn').click();
     }
     }
     return false;
     });
     */
    $(".short_email").bind("click", function(){
        var data = $(this).attr("data-attribute");
        $('.modal-body').html('<p class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;"><span class="name">' + data + '</span></p>');
        $('#myModalLabel').html('Full Email Address');
    });

    $('.alert-success').bind("click", function(){
        $(this).hide();$(this).html('');
    });

</script>
<div id="export-notif" class="alert alert-success" style="display:none;"></div>
<div class="page-header">
  <h1>Receipt page for Reviewers</h1>
</div>
<%= render 'searchform_review' %>

<br clear="all"/><br clear="all"/>

<table class="table table-bordered table-condensed">
  <caption></caption>
  <thead>
  <tr>
    <th class="th-small"><a class="order-table" href="#" data-attribute="0">ID</a></th>
    <th><a class="order-table" href="#" data-attribute="1">Offer</a></th>
    <th class="th-medium"><a class="order-table" href="#" data-attribute="2">User Email</a></th>
    <th><a class="order-table" href="#" data-attribute="3">Chain</a></th>
    <th class="th-very-large"><a class="order-table" href="#" data-attribute="4">Restaurant Location</a></th>
    <th class="th-medium"><a class="order-table" href="#" data-attribute="5">Receipt Number/Order Id</a></th>
    <th class="th-medium"><a class="order-table" href="#" data-attribute="6">Submit Date</a></th>
    <th class="th-large ta-center"><a class="order-table" href="#" data-attribute="7">Status</a></th>
    <th class="th-medium ta-center">Actions</th>
  </tr>
  </thead>
  <tbody id="list-receipts">
  <%= render 'review_receipts' %>
  </tbody>
</table>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-header">

    <h3 id="myModalLabel"></h3>
  </div>
  <div class="modal-body">
    <p class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;">
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').hide();">Close</button>
  </div>
</div>

<%#= render 'export_status' %>

<%= hidden_field_tag "flagqry" %>