<h1>New receipt</h1>

<div class="span4">
<%= render 'createform', :action=>'create' %>
<%= link_to 'Back', admin_receipts_path %>
</div>

<div class="span6 hide" id="search_users_admin_receipts">
  <%= form_tag search_users_admin_receipts_path, :remote => true do %>
    <div class="field">
          <%= label_tag :email %>
          <%= hidden_field_tag(:chain_id) %>
          <%= hidden_field_tag(:chain_app_key) %>
          <%= text_field_tag(:email_user, nil,:placeholder => "User Email") %>
      <%= submit_tag "Search" %>
    </div>
  <% end %>
  <div id="list-search-users"></div>
</div>
