$("#list-search-users").html("<%=j render "list_search_users", users: @users, var_query: @var_query %>");

$(".select-user-id").unbind('click');
$(".select-user-id").bind('click', function(){
$("#user").val( $(this).attr("user-id") );
});
