$('#ignore_max_subtotal').val("<%= params['ignore_max_subtotal'] %>");
$('#ignore_offer_per_day').val("<%= params['ignore_offer_per_day'] %>");

<% if @uniq_receipt && !@today_maxed && @valid_max_subtotal && @valid_min_subtotal && !@maximum_offer_points_earned_per_day_limit_crossed && !@future_check %>
  <% if @is_save %>
    window.location.replace("<%= admin_receipt_url(@receipt) %>");
  <% else %>
    $('#edit_form').ajaxloader('hide');
    if($("#simplemodal-container").length == 1){
      $("#simplemodal-container .simplemodal-wrap").html("<%= escape_javascript(render("mandatory_fields")) %>");
    }else{
      $.modal("<%= escape_javascript(render("mandatory_fields")) %>");
    }
  <% end %>
<% elsif !@uniq_receipt %>
  $('#edit_form').ajaxloader('hide');
  if($("#simplemodal-container").length == 1){
    $("#simplemodal-container .simplemodal-wrap").html("<%= escape_javascript(render("duplicate_info")) %>");
  }else{
    $.modal("<%= escape_javascript(render("duplicate_info")) %>", {containerId: "simplemodal-dup"});
  }
<% elsif @today_maxed %>
  $('#edit_form').ajaxloader('hide');
  if($("#simplemodal-container").length == 1){
    $("#simplemodal-container .simplemodal-wrap").html("<%= escape_javascript(render("perday_limited")) %>");
  }else{
    $.modal("<%= escape_javascript(render("perday_limited")) %>");
  }
<% elsif !@valid_max_subtotal %>
  $('#edit_form').ajaxloader('hide');
  if($("#simplemodal-container").length == 1){
    $("#simplemodal-container .simplemodal-wrap").html("<%= escape_javascript(render("max_subtotal")) %>");
  }else{
    $.modal("<%= escape_javascript(render("max_subtotal")) %>");
  }
<% elsif @maximum_offer_points_earned_per_day_limit_crossed %>
  $('#edit_form').ajaxloader('hide');
  if($("#simplemodal-container").length == 1){
    $("#simplemodal-container .simplemodal-wrap").html("<%= escape_javascript(render("offer_perday_limited")) %>");
  }else{
    $.modal("<%= escape_javascript(render("offer_perday_limited")) %>");
  }

<% elsif @future_check %>
$('#edit_form').ajaxloader('hide');
if($("#simplemodal-container").length == 1){
  $("#simplemodal-container .simplemodal-wrap").html("<%= escape_javascript(render("future_check_warning")) %>");
}else{
  $.modal("<%= escape_javascript(render("future_check_warning")) %>");
}
<% else %>
  <% if @is_save %>
    window.location.replace("<%= admin_receipt_url(@receipt) %>");
  <% else %>
    $('#edit_form').ajaxloader('hide');
    if($("#simplemodal-container").length == 1){
      $("#simplemodal-container .simplemodal-wrap").html("<%= escape_javascript(render("mandatory_fields")) %>");
    }else{
      $.modal("<%= escape_javascript(render("mandatory_fields")) %>");
    }

  <% end %>
<% end %>