<%= custom_form_for([:admin, @chain, @chain_url]) do |f| %>
  <%= f.input :name %>
  <%= f.input :url %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
<%= link_to 'Back', admin_chain_chain_urls_path(@chain) %>