<div class="page-header">
  <h2>Listing Chain URLs <%= @chain.name %></h2>
</div>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th style="width: 50px;">ID</th>
      <th style="width: 150px;">Name</th>
      <th  style="width: 300px;">URL</th>
      <th>Relevant URL</th>
      <th  style="width: 200px;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @chain_urls.each do |chain_url| %>
      <tr>
        <td><%= chain_url.id %></td>
        <td><%= chain_url.name %></td>
        <td><%= chain_url.url %></td>
        <td><%= link_to chain_url.generated_url(root_url), chain_url.generated_url(root_url), :target => "_blank" %></td>
        <td>
          <%= link_to 'Edit', edit_admin_chain_chain_url_path(@chain, chain_url), :class => "btn btn-info btn-sm" %>
          <%= link_to 'Destroy', admin_chain_chain_url_path(@chain, chain_url), :class => "btn btn-danger btn-sm", data: {method: :delete, confirm: 'are you sure?'} %>          
        </td>
      </tr>
    <% end %>
    <% if @chain_urls.blank? %>
      <tr><td colspan="5" class="text-center">There are no data</td></tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Chain URL', new_admin_chain_chain_url_path, :class => "btn btn-primary" %>
