<div class="page-header">
  <h3>Search Menu Item</h3>
</div>
<%= render "/shared/error_messages", :target => @search_menu_item %>
<%= simple_form_for @search_menu_item, :url => admin_receipt_line_items_path  do |f| %>
  <div class="field">
    <%= f.input :chain_id, :collection => Chain.active.order("name") %>
  </div>
  <div class="field">
    <%= f.input :start_date, :input_html => {:class => "x-datepicker"} %>
  </div>
  <div class="field">
    <%= f.input :end_date, :input_html => {:class => "x-datepicker"} %>
  </div>
  <div class="field">
    <%= f.input :keyword %>
  </div>
    <div class="field">
      <%#= f.input :receipt_id %>
    </div>
  <%= f.submit "Search" %>
<% end %>
