<div class="page-header">
  <h3>New Remove Point</h3>
</div>

<%= simple_form_for([:admin, @remove_point], :html => {:class => "form-horizontal", :multipart => true, :id => "remove-point-form"}) do |f| %>

    <%= render "shared/error_messages.html", :target => @remove_point %>
    <%= f.input :chain_id, :collection => Chain.active.order("name"), :validate => false %>

    <div class="control-group radio_buttons optional">
      <label class="control-label">User ID</label>
      <div class="controls">
        <%= f.text_area :user_temp_ids, :rows => 6 %>
        (separated by commas)
      </div>
    </div>
    <%= f.input :points %>
    <%= f.input :notes, :input_html => {:rows => 5} %>
    <div class="form-actions">
      <%= f.button :submit, :onclick => "$('#form-container').ajaxloader('show')" %>
    </div>
<% end %>

<script type="text/javascript">

</script>