<h1>History Remove Points</h1>

<table>
  <tr>
    <th>Chain</th>
    <th>Points</th>
    <th>Notes</th>
    <th>Status</th>
    <th>Created By</th>
    <th></th>
  </tr>

  <% @remove_points.each do |remove_point| %>
    <% dj = DelayedJob.where(:delayable_type => remove_point.class.to_s, :delayable_id => remove_point.id).first %>
    <tr>
      <td><%= remove_point.chain.name rescue nil %></td>
      <td><%= remove_point.points %></td>
      <td><%= remove_point.notes %></td>
      <td>
        <% if dj.blank? %>
          Executed
            <div class="btn-group">
              <button class="btn btn-success btn-success">Summary</button>
              <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li> <%= link_to "Success(#{remove_point.success_logs.count rescue 0})", summary_success_admin_remove_point_path(remove_point) %></li>
                <li> <%= link_to "Failed(#{remove_point.error_logs.count rescue 0})", summary_failed_admin_remove_point_path(remove_point) %></li>
              </ul>
            </div>
        <% elsif dj.last_error.blank? %>
          Executing ...
        <% else %>
          Found error on the job
            <div class="btn-group">
              <button class="btn btn-success">Summary</button>
              <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li> <%= link_to "Success(#{remove_point.success_logs.count rescue 0})", summary_success_admin_remove_point_path(remove_point) %></li>
                <li> <%= link_to "Failed(#{remove_point.error_logs.count rescue 0})", summary_failed_admin_remove_point_path(remove_point) %></li>
              </ul>
            </div>
        <% end %>
      </td>
      <td><%= remove_point.admin.email rescue nil%></td>
      <td>
        <%= link_to 'Show', admin_remove_point_path(remove_point), :class => "btn btn-primary" %>
        <%= link_to 'Destroy', admin_remove_point_path(remove_point), confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @remove_points %>
<br />

<%= link_to 'New Remove point', new_admin_remove_point_path %>
