<p>
  <b>Chain:</b>
  <%= @remove_point.chain_id %>
</p>

<p>
  <b>Points:</b>
  <%= @remove_point.points %>
</p>

<p>
  <b>Notes:</b>
  <%= @remove_point.notes %>
</p>

<%= link_to 'Back', admin_remove_points_path %>