<div class="page-header">
  <h3>Summary Failed</h3>
</div>
<%= form_tag summary_failed_admin_remove_point_path, :method => :get do %>
    <label>Search</label>
    <%= select_tag :search_type, options_for_select([["User ID", "user_id"], ["Email", "email"]], params[:search_type])%>
    <%= text_field_tag :key, params[:key] %>
    <%= submit_tag "Search" %>
<% end %>
<table>
  <tr>
    <td>User ID</td>
    <td>Log</td>
  </tr>
  <% @logs.each do |log| %>
      <tr>
        <td><%= log.keys.first%></td>
        <td><%= log.values.first%></td>
      </tr>
  <% end %>
  <tfoot>
  <tr>
    <td colspan="3" style="text-align: center">
      <%= will_paginate @logs %>
    </td>
  </tr>
  </tfoot>
</table>

<%= link_to "Back", admin_remove_points_path, :class => "btn btn-primary" %>
