<div class="row">
  <div class="col-md-5 center-block container-content">
    <div class="title-head">Log In</div>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= hidden_field_tag :appkey, session[:client_id] %>
        <%= hidden_field_tag "user[register_type]", 1 %>

        <div>
          <%= f.email_field :email, class: "form-control", oninput: "check_email(this)", placeholder: "Email address", autocomplete: "off" %>
        </div>

        <div>
          <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
        </div>

        <div><%= f.submit "Log in", class: 'btn btn-info btn-block' %></div>

        <div>
          <br />
          <% if devise_mapping.rememberable? -%>
              <div><%= f.check_box :remember_me %> <%= f.label :remember_me, class: 'label-checkbox custom-checkbox' %></div>
          <% end if false %>
        </div>

    <% end %>
  </div>
</div>

<div class="row text-center">
  <div class="col-xs-12 col-md-12">
    <a href="/users/sign_up" class="link-url">Sign Up</a>  /
    <a href="/users/password/new" class="link-url">Forgot Password?</a>  /
    <%= link_to "Sign In With Facebook", user_omniauth_authorize_path(:facebook_lpq), class: 'link-url' %>
    <br />
    <br />
  </div>
</div>

