<div class="row">
  <div class="col-md-5 center-block container-content">
    <div class="title-head">SIGN IN</div>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= hidden_field_tag :appkey, session[:client_id] %>
        <%= hidden_field_tag "user[register_type]", 1 %>

        <div>
          <%= f.label :email, class: 'label-text' %><br />
          <%= f.email_field :email, class: "form-control", oninput: "check_email(this)", autocomplete: "off" %>
        </div>

        <div>
          <%= f.label :password, class: 'label-text' %><br />
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <div><%= f.submit "SIGN IN", class: 'btn btn-info btn-block' %></div>

        <div>
          <br />
          <% if devise_mapping.rememberable? -%>
              <div><%= f.check_box :remember_me %> <%= f.label :remember_me, class: 'label-checkbox custom-checkbox' %></div>
          <% end -%>
        </div>

    <% end %>
  </div>
</div>
