

<section class="loginwraper">
  <%= image_tag "logo_login.png", :width => "165", :height => "50" %>
  <h4>Dashboard Log in</h4>
  <section class="inputwraper">
    <!--<input type="text" placeholder="Username" class="input-small custominput">
        <input type="password" placeholder="Password" class="input-small custominput">
        <button class="btn curvebtn" type="submit">Log in</button>-->
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <%= f.email_field :email, :class => "input-small custominput", :placeholder => "Username" %>
          <%= f.password_field :password, :class => "input-small custominput", :placeholder => "Password" %>
      <button class="btn curvebtn" type="submit">Log in</button>
    <% end %>
  </section>
  <div class="clear"></div>
  <section class="txtbelow">
    <a href="#"><i class="icon-pdf"></i> Download User Guide PDF</a>
  </section>
</section>
<%#= render :partial => "devise/shared/links" %>