<div class="page-header">
  <h2>Check Upload History</h2>
</div>
<%= simple_form_for(:search, :url => search_admin_pos_check_uploads_path, :html => {:method => :get, :remote => true}) do |f| %>

    <div class="x-box">
      <div class="x-box-col3">
        <div class="field">
          <div class="field">
            <%= label_tag :chain %>
            <%= select_tag('search[chains]', options_from_collection_for_select(Chain.active.select("id, name").order('name'), :id, :name, params[:search] ? params[:search][:chains] : nil)) %>
          </div> </div>
        <!--<br/>-->

        <div class="field" id="single-restaurant">
          <%= label_tag :restaurants %>
          <%= select_tag('search[restaurant_id]') %>
        </div>
        <!--<br/>-->

        <div class="field">
          <%= label_tag :code_type %>
          <%= text_field_tag 'code_type' %>
        </div>
        <!--<br/>-->

        <div class="field">
          <%= label_tag :barcode %>
          <%= text_field_tag 'barcode' %>
        </div>

        <div class="field">
          <%= label_tag :user_email %>
          <%= text_field_tag 'user_email' %>
        </div>
        <!--<br/>-->
      </div>
      <div class="x-box-col3">
        <div class="field">
          <%= label_tag :check_id %>
          <%= text_field_tag 'check_id' %>
        </div>
        <!--<br/>-->

        <div class="field">
          <%= label_tag :sequence_number %>
          <%= text_field_tag 'sequence_number' %>
        </div>
        <!--<br/>-->

        <div class="field">
          <%= label_tag :loyalty_status %>
          <%= select_tag('status', options_for_select(PosCheckUpload::STATUS), { :prompt => 'select options'}) %>
        </div>

        <div class="field">
          <%= label_tag :service %>
          <%= select_tag('service', options_for_select(PosCheckUpload::SERVICE), { :prompt => 'select options'}) %>
        </div>

      </div>
      <div class="x-box-col3">

        <div class="field">
          <%= label_tag :payment_included %>
          <%= select_tag('payment_included', options_for_select([['YES', true], ['NO', false]]), { :prompt => 'select options'}) %>
        </div>
        <!--<br/>-->

        <div class="field">
          <%= label_tag :pos %>
          <%= select_tag('pos_used_type', options_for_select(Chain::POS_USED_TYPE), { :prompt => 'select options'}) %>
        </div>
        <!--<br/>-->

        <div class="field">
          <%= label_tag :date_from %>
          <%= text_field_tag 'date_from', params[:date_from], :class => 'x-datepicker', :readonly => true %>
        </div>
        <!--<br/>-->

        <div class="field">
          <%= label_tag :date_to %>
          <%= text_field_tag 'date_to', params[:date_from], :class => 'x-datepicker', :readonly => true %>
        </div>

        <%= submit_tag "Search", :class => "btn btn-success", :onclick => "$('#content-data').ajaxloader()" %>
      </div>
    </div>

<% end %>

<table class="table stripped" id="content-data">
  <%= render "index" %>
</table>
<br/>

<div class="modal" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;z-index:9999">
  <div class="modal-header">

    <h3 id="myModalLabel">XML Data</h3>
  </div>
  <div class="modal-body" style="height: 300px;overflow-y: scroll;">
    <p id="body-modal-text" class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;"></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').hide();">Close</button>
  </div>
</div>

<script type="text/javascript">
    selected_chains = []
    $("#chains").multiselect();
    $("#chains").bind("multiselectclick", function (event, ui) {
        if (ui.checked)
            selected_chains.push(ui.value);
        else
            selected_chains.splice($.inArray(ui.value, selected_chains), 1);

        $('#loader-chain').show();
        $.post("/admin/pos_check_uploads/load_restaurants", { chains:selected_chains });
    });
    $("#chains").bind("multiselectcheckall", function (event, ui) {
        selected_chains = []
        $("#chains").multiselect("getChecked").map(function () {
            selected_chains.push(this.value);
        })
        $('#loader-chain').show();
        $.post("/admin/pos_check_uploads/load_restaurants", { chains:selected_chains });
    });
    $("#chains").bind("multiselectuncheckall", function (event, ui) {
        selected_chains = [];
        $('#loader-chain').show();
        $.post("/admin/pos_check_uploads/load_restaurants", { chains:selected_chains });
    });
</script>


