<%= form_tag({:controller => "online_orders", :action => "search"}, :id=>'x-search-receipt', :method => :get, :remote => true) do |f| %>

  <div class="x-box" style="display:none;">
    <div class="x-box-col3">
      <div class="field">
        <%= label_tag :from %>
        <%= text_field_tag "search[from]",params[:search] ? params[:search][:from] : nil, :class=>'x-datepicker', :readonly=>true %>
      </div>
      <div class="field">
        <%= label_tag :to %>
        <%= text_field_tag "search[to]",params[:search] ? params[:search][:to] : nil, :class=>'x-datepicker', :readonly=>true %>
      </div>
    </div>

    <div class="x-box-col3">
      <div class="field">
        <%= label_tag :chain %>
        <%= select_tag('search[chains]', options_from_collection_for_select(Chain.active.select("id, name").order('name'), :id, :name, params[:search] ? params[:search][:chains] : nil), options ={:multiple => true, :class=>'multiselect'}) %>
      </div>
      <div class="field" id="restaurant-choices">
        <%= label_tag :restaurant %>
        <%= select_tag('search[restaurants]', options_from_collection_for_select([], :id, :name, params[:search] ? params[:search][:restaurants] : nil), options ={:multiple => true, :class=>'multiselect'}) %>
      </div>
      <div class="field" id="offer-choices" online_order="true">
        <%= label_tag :offers %>
        <%= select_tag('search[offers]', options_from_collection_for_select([], :id, :name, params[:search] ? params[:search][:offers] : nil), options ={:multiple => true, :class=>'multiselect'}) %>
      </div>
    </div>
    <div class="x-box-col3">
      <div class="field">
        <%= label_tag :review_status %>
        <%= select_tag "search[review_status]", options_for_select(Receipt::BARCODE_STATUS, params[:search] ?  params[:search][:review_status] : nil), :prompt=>"Select status", :class=>'x-col3-dropdown' %>
      </div>
      </div>
    <!--
      <div class="field">
        <%= label_tag :payment_method %>
        <%= select_tag "search[payment_method]", options_for_select(Receipt::PAYMENT_METHOD, params[:search] ? params[:search][:payment_method] : nil), :prompt=>"Select payment method", :class=>'x-col3-dropdown' %>
      </div>
      <div class="field">
        <%= label_tag :barcode %>
        <%= text_field_tag "search[barcode]", '', :style => "width:40%;" %>
      </div>
    </div> -->
    <div class="x-box-inner">
      <div class="field">

      </div>
    </div>
    <%= hidden_field_tag "page", 1 %>
    <%= hidden_field_tag "qry_order" %>
  </div>
  <div style="left:0; float:left;">
    <%= text_field_tag "search[q]", params[:search] ? params[:search][:q] : nil, :style=>'width:300px', :placeholder => "Order ID / Order No" %>
    <%= submit_tag "Search", :id => "x-search-submit-btn", :class => "btn", :style => "margin-bottom: 9px;", :onclick => "if($('#flagqry').val() == ''){ $('#page').val(1) }" %>
    |
    <%= link_to "Reset Search", admin_online_orders_path, :class => "btn", :id => "x-reset-search-btn", :style => "margin-bottom: 9px;" %>
    |
    <%= link_to "Show Advance Search", "#", :class => "btn", :id => "show-advance-search-link", :style => "margin-bottom: 9px;", :onclick => "$('.x-box').show();$(this).hide();$('#hide-advance-search-link').show();" %>
    <%= link_to "Hide Advance Search", "#", :class => "btn", :id => "hide-advance-search-link", :style => "margin-bottom: 9px; display:none;", :onclick => "$('.x-box').hide();$(this).hide();$('#show-advance-search-link').show();" %>
  </div>
  <div style="right:0; float:right;">
    <%#= text_field_tag :receipt_id, "", :placeholder => "Receipt ID", :id => 'receipt_id_find' %> <%#= link_to "GO TO", "#", :class => "btn btn-primary", :style => "margin-bottom: 9px;" , :onclick => "if($('#receipt_id_find').val() == ''){ $.get('/admin/receipt_barcodes/0/goto')} else {$.get('/admin/receipt_barcodes/'+ $('#receipt_id_find').val()+'/goto')} " %>
    <%= text_field_tag :receipt_page, "", :placeholder => "Page", :style => 'width:50px;' %>
    <%= link_to "GO TO Page", "#", :class => "btn btn-primary",
                :style => "margin-bottom: 9px;" ,
                :onclick => "if($('#receipt_page').val() != '' && !isNaN($('#receipt_page').val())){$('#page').val($('#receipt_page').val());$('#x-search-submit-btn').click(); } else { window.location='/admin/receipt_barcodes/'} " %>
  </div>
<% end %>