<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
There are error on Job from Owner : <br/>
Name : <%= @rs_name %> <br />
Error : <%= @error_text %>
</body>
</html>
