<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
Unfortunately the email address (<%= @wrong_email %>)<br/>
is not associated with any existing account in your program.
<br/>
Please contact this customer and ask them for the email address<br/>
that they used to create their account on the app and then <br/> try reaching them through the dashboard again.
For other questions please contact your account manager <br/> or <mailto>support@relevantmobile.com.</mailto>
<br/><br/> - Relevant
</body>
</html>