<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Congratulations your account has been created please see the details below.
    <ul>
      <li>Login email : <%= @owner.email %></li>
      <li>Password : <%= @owner.password_generated %></li>
      <li>Chain : <%= @chain.name rescue nil %></li>
      <li>
        Restaurants :
        <ul>
          <% @owner.restaurants.each do |restaurant| %>
            <li><%= restaurant.dashboard_display_text %></li>
          <% end %>
        </ul>
      </li>
    </ul>    
    You can use this link to access  your dashboard: <%= @access_page %>
    <br />
    Thank you
    <br />
    If you have questions please respond to this email.
    <br /><br />
    Thank you
    <br />
    Relevant
  </body>
</html>
