<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h3>Dashboard Feedback</h3>

<h3>Chain : <%= @chain_name %></h3>
<p>Subject : <%= @title %></p>
<p>Description : <%= @description %></p>
<p>From : <%= @question_from %></p>
<p>Dashboard Login Email : <%= @email_login %></p>



Thank you
<br />
Relevant
</body>
</html>
