<div class="span10">
  <%= simple_form_for([:admin, @onosys_connect_setting], :remote => true) do |f| %>
    <%= render "shared/error_messages", :target => @onosys_connect_setting %>
    <div class="form-inputs">
      <div class="span4">
        <div class="field">
          <%= hidden_field_tag "onosys_connect_setting[chain_id]", @chain.id %>
        </div>

        <div class="field">
          <%= f.input :api_root %>
        </div>
        <div class="field">
          <%= f.input :api_key %>
        </div>

        <div class="field">
          <%= f.input :client_id %>
        </div>
        <div class="field">
          <%= f.input :client_secret %>
        </div>
        <div class="field">
          <%= f.input :iphone_api_key %>
        </div>
        <div class="field">
          <%= f.input :android_api_key %>
        </div>
        <div class="field">
          <%= f.input :provider %>
        </div>
        <div class="form-actions">
          <%= button_tag "Submit", data: {:disable_with => "Please wait..."}, :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

