<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>API Root</th>
      <th>API Key</th>
      <th>Client ID</th>
      <th>Client Secret</th>
      <th>Iphone apikey</th>
      <th>Android apikey</th>
      <th>Provider</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% unless @onosys_connect_setting.blank? %>

    <tr>
      <td><%= @onosys_connect_setting.id %></td>
      <td><%= @onosys_connect_setting.api_root %></td>
      <td><%= @onosys_connect_setting.api_key %></td>
      <td><%= @onosys_connect_setting.client_id %></td>
      <td><%= @onosys_connect_setting.client_secret %></td>
      <td><%= @onosys_connect_setting.iphone_api_key %></td>
      <td><%= @onosys_connect_setting.android_api_key %></td>
      <td><%= @onosys_connect_setting.provider %></td>

      <td><%= link_to "Edit", edit_admin_onosys_connect_setting_path(@onosys_connect_setting), :class => 'nyroModal', :onclick => "$('.btn-group').click();" %></td>
      <td><%= link_to "Delete", admin_onosys_connect_setting_path(@onosys_connect_setting), :method => :delete, :confirm => "Are you sure?" %></td>
    </tr>

  <% else %>
    <tr>
      <td colspan="7"><%= link_to "New",new_admin_onosys_connect_setting_path(:chain_id => @chain.id), :class => 'nyroModal' %></td>
    </tr>
  <% end %>

</table>

<script>
    $('.nyroModal').nyroModal();
</script>
<style>
    table.table td { word-wrap: break-word; }
</style>