<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1></h1>
    <p>
      <%= @text_body.html_safe %>
    </p>
  </body>
</html>

