<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Not Send Email to :</h2>
    <p><%= @emails %></p>
    <ul>
      <h3>ERROR: </h3>
      <li>
        <%= @exception %>
      </li>
    </ul>
  </body>
</html>
