<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Receipt Info :</h1>
    <p>
      <% if @receipt %>
        <% if @receipt.user %>
          <% user = @receipt.user %>
          User id : <%= user.id %> <br />
          User email : <%= user.email %> <br />
        <% end %>
        Time : <%= @receipt.updated_at %> <br />
        Receipt id : <%= @receipt.id %> <br />
        <% if @receipt and @receipt.last_transaction and @receipt.last_transaction.restaurant %>
          <% res = @receipt.last_transaction.restaurant %>
          Restaurant id : <%= res.id %> <br />
          Location  <br />
          Latitude :  <%= res.latitude %> , Longitude <%= res.longitude %>
        <% end %>
      <% end %>
    </p>
  </body>
</html>