<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/>
</head>
<body>
  <h4><%= @type.eql?("PushPoint") ? "Push Point Detail" : "Push Reward Detail"%></h4>
<table>
  <tr>
    <td>Chain</td>
    <td><%= @push_record.chain.name rescue nil%></td>
  </tr>
  <tr>
    <td><%= @type.eql?("PushPoint") ? "Point" : "Reward"%></td>
    <td><%= @type.eql?("PushPoint") ? @push_record.points : @push_record.try(:reward).try(:name) %></td>
  </tr>
  <tr>
    <td>Created By</td>
    <td><%= @push_record.admin.email rescue nil %></td>
  </tr>
  <tr>
    <td>User Ids</td>
    <td><%= @push_record.user_ids%></td>
  </tr>
</table>
</body>
</html>

