<thead>
<tr>
  <th>Chain</th>
  <th>Item Number</th>
  <th>Item Name</th>
  <th>Description</th>
  <th>Level/Size</th>
  <th>General Menu Item ID</th>
</tr>
</thead>
<tbody>
<% @pos_menu_items.each do |pos_menu_item| %>
    <tr>
      <td><%= pos_menu_item.try(:chain).try(:name) %></td>
      <td><%= pos_menu_item.item_number %></td>
      <td><%= pos_menu_item.item_name %></td>
      <td><%= pos_menu_item.description %></td>
      <td><%= pos_menu_item.level_size_id %></td>
      <td><%= pos_menu_item.general_menu_items.map(&:id) %></td>
    </tr>
<% end %>
</tbody>
<tfoot>
<tr>
  <td colspan="6">
    <%= will_paginate @pos_menu_items %>
  </td>
</tr>
</tfoot>

<script type="text/javascript">
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function () {
        $('#content-data').ajaxloader('show');
    });
</script>

