<div class="page-header">
  <h2>POS Menu Items List</h2>
</div>
<%= simple_form_for(:search, :url => "", :html => {:method => :get, :remote => true}) do |f| %>

    <div class="x-box">
      <div class="x-box-inner">
        <div class="field">
          <%= label_tag :chain %>
          <%= select_tag('chains', options_from_collection_for_select(Chain.order("name"), :id, :name, params[:chains]), {:multiple => true}) %>
          <span id="loader-chain" style="display: none;"><%= image_tag "loader.gif" %></span>
        </div>
        <br/>
        <%= submit_tag "Search", :class => "btn btn-success", :onclick => "$('#content-data').ajaxloader()" %>
      </div>
    </div>

<% end %>

<table class="table stripped" id="content-data">
  <%= render "index" %>
</table>
<br/>
<%= link_to "New Menu Upload", new_admin_pos_menu_item_path, :class => "btn btn-primary" %>

<script type="text/javascript">
    selected_chains = []
    $("#chains").multiselect();
//    $("#chains").bind("multiselectclick", function (event, ui) {
//        if (ui.checked)
//            selected_chains.push(ui.value);
//        else
//            selected_chains.splice($.inArray(ui.value, selected_chains), 1);
//
//        $('#loader-chain').show();
//        $.post("/admin/pos_menu_items/load_restaurants", { chains:selected_chains });
//    });
//    $("#chains").bind("multiselectcheckall", function (event, ui) {
//        selected_chains = []
//        $("#chains").multiselect("getChecked").map(function () {
//            selected_chains.push(this.value);
//        })
//        $('#loader-chain').show();
//        $.post("/admin/pos_menu_items/load_restaurants", { chains:selected_chains });
//    });
//    $("#chains").bind("multiselectuncheckall", function (event, ui) {
//        selected_chains = [];
//        $('#loader-chain').show();
//        $.post("/admin/pos_menu_items/load_restaurants", { chains:selected_chains });
//    });
</script>


