<div class="page-header">
  <h2> POS MENU Upload </h2>
</div>
<%= simple_form_for :pos, :url => admin_pos_menu_items_path, :html => {:class => "form-horizontal"} do |f| %>
  <div class="x-box">
      <div class="field">
        <%= label_tag :chain %>
        <%= select_tag('chains', options_from_collection_for_select(Chain.order("name"), :id, :name, params[:chains]), :include_blank => true) %>
        <span id="loader-chain" style="display: none;"><%= image_tag "loader.gif" %></span>
      </div>
      <br />
      <div class="field">
        <%= label_tag :menu_data %>
        <%= text_area_tag :menu_data,  "", :rows => "10" %>
      </div>
    <i>check this if the menu items is FOR OLO</i>
    <div class="field">
      <%= label_tag :olo %>
      <%= check_box_tag :is_olo ,true, false %>
    </div>

      <br />
  </div>
  <%= submit_tag "Upload", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_pos_menu_items_path, :class => "btn" %>
<% end %>


<script type="text/javascript">
  $('#chains').change(function(){
    $('#loader-chain').show()
    $.post("/admin/pos_menu_items/load_restaurants", { chains: $(this).val() });
    $('#loader-chain').show();
  });

</script>

