@font-face {
    font-family: fontBold;
    src: url("fonts/ChronicleDisp-Bold.otf");
}

@font-face {
    font-family: fontSemiBold;
    src: url("fonts/ChronicleDisp-Semibold.otf");
}

@font-face {
    font-family: fontContent;
    src: url("fonts/ChronicleTextG1-Roman-Pro.otf");
}

.fluid-head {
    padding: 0px;
}

a:focus{
    text-decoration: none;
    color: #b0b0b0;
}
body{background: #000}
.btn-full{width: 100%;}
section.header{
    background-image: url("/assets/api_sign/lpq/image-header.png");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    height: 230px;
    border-bottom: 2px solid #ffffff;
}

.lpq-body{
    background-image: url("/assets/api_sign/lpq/bg.png");
    background-repeat:no-repeat;
    background-position: center center;
    min-height: 393px;
    color: #b0b0b0;
    background-size: 100% 100%;
}

.title-head {
    font-family: fontBold;
    font-size: 30pt;
    color: #fff;
    text-align: center;
    margin: 20px 0px;
    font-weight: bold;
    background-image: url("/assets/api_sign/lpq/line-page.png");
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 10px;
    background-size: 100%;
}

.form-control{
    font-family: fontContent;
    font-size: 16pt;
    color: #b0b0b0;
    margin: 30px 0px;
    background: transparent;
    border-image:url("/assets/api_sign/lpq/line.png") 0 0 20 0 repeat;
    height: 34px;
}

input.form-control  {padding: 8px 0px;}
select.form-control  {padding: 0px; margin-top: 10px;}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: transparent url("/assets/api_sign/lpq/arrow-double.png") no-repeat right center !important;
}
select::-ms-expand {
    display: none;
}

option {
    font-family: fontContent;
    font-size: 14px;
    color: #000;
    background: white;
}

.row {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.btn-info, .btn-info:hover{
    background: url("/assets/api_sign/lpq/btn.png");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    border: none !important;
    border-radius: 20px !important;
    font-family: fontSemiBold;
    font-size: 20pt;
    color: #f8b931;
}

.foot-label-text{
    font-family: fontContent;
    font-size: 18pt;
    color: #b0b0b0;
    padding: 10px;
    width: 100%;
    background: #000000;
}
.pb50{padding-bottom: 50px;}
.pb20{padding-bottom: 20px;}

.footer{
    background: black !important;
    opacity: 0.9;
}

#error_explanation {color: #b0b0b0;}
/*nekter-style*/

.notice-info {font-size: 14pt; font-family: fontContent; margin-bottom: 0px; text-align: center;}
.bar-btn{margin-top: 10px; cursor: pointer;}
nav.navbar {margin-bottom: 0px;}
ul.nav.navbar-nav {margin-top: 40px;}
ul.nav.navbar-nav li {font-size: 16px}
ul.nav.navbar-nav li a{color: #000000; font-family: fontHeader}
ul.nav.navbar-nav li a:hover { background: none; color: #33bbc9;}
.margin-bzero {
    margin-bottom: 0px !important;
}


.link-url{
    font-family: fontContent;
    font-size: 18pt;
    color: #b0b0b0;
    text-decoration: none;
}
.link-url:hover{color: #b0b0b0; text-decoration: none;}
.label-text{
    font-family: fontContent;
    font-size: 12pt;
    color: #fff;
    text-transform: uppercase;
    line-height: 0px;
    font-weight: normal;
    white-space: nowrap;
}

.label-checkbox{
    font-family: fontContent;
    font-size: 14pt;
    color: #fff;
}
/*custom checkbox */
input[type=checkbox] {
    display: none;
    visibility: hidden;
}
label.custom-checkbox {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-right: 20px;
    font-weight: normal;
}

label.custom-checkbox:before {
    /*background: url("/assets/v1/radio_unchecked.png") no-repeat scroll 0 0 / 100% auto;*/
    background: url("/assets/api_sign/nekter/check-box.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    content: "";
    display: inline-block;
    left: 0;
    margin-right: 0;
    position: absolute;
    height: 25px;
    width: 25px;

}

input[type=checkbox]:checked + label.custom-checkbox:before {
    content: "";
    /*background: url("/assets/v1/radio_checked.png") no-repeat scroll 0 0 / 100% auto;*/
    background: url("/assets/api_sign/nekter/check-box-on.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    color: #483627;
}

/*custom nav bar left*/
.mini-brand {
    height: 48px;
    padding: 2px 0px;
}

.sidebar-wrapper-left {
    background-color: #333333;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 60% auto;
    content: " ";
    height: 100%;
    left: 0;
    min-width: 80%;
    overflow: hidden;
    padding-right: 25px;
    padding-top: 25px;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-position: 90% 95%;
}

.sidebar-wrapper-right {
    background-color: #454545;
    opacity: 0.2;
    height: 100%;
    right: 0;
    min-width: 20%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.sidebar-nav {
    color: #ffffff;
    list-style: outside none none;
    font-size: 26pt;
    font-family: fontBold;
    margin-left:-25px;
}

.sidebar-nav > li.nav-item { padding-left: 10px; margin-right: 10px; margin-bottom: 10px; font-size: 26pt;}
.sidebar-nav > li.nav-item:hover { background-color: #f8b931; }
.sidebar-nav > li.nav-item > a { color: inherit; }
.sidebar-nav > li.nav-item > a:hover, .sidebar-nav > li.nav-item > a:active, .sidebar-nav > li.nav-item > a:focus { text-decoration: none; }
.sidebar-nav .close-btn {
    color: #b4b4b4;
    font-size: 20pt;
    margin-right: -10px;
    margin-top: -20px;
    text-align: right;
    background-color: none;
}

.sidebar-nav > li.close-btn:hover { background-color: none; }
#error_explanation{ margin-bottom: 30px; }
#error_explanation h2{ font-size: 20px;}
.mtop70{ margin-top: 70px; }
.container-content {width: 360px; float: none}
.width-half{width: 50%}
select#user_dob_day{ width: 150px; }
select#user_dob_month{ width: 170px; }

/*responsive style*/

@media screen and (min-width:320px) and (max-width: 991px){
    section.header{height: 200px}
}

@media screen and (min-width:320px) and (max-width: 765px){
    section.header{height: 50px; background: #000000;}
    .lpq-body{min-height: 550px}
    .container-content {width: 100%; float: none}
}

@media screen and (min-width:200px) and (max-width: 651px){
    section.header{height: 50px; background: #000000;}
    .lpq-body{min-height: 550px}
    .container-content {width: 100%; float: none}
    .form-control{ font-size: 15pt; }
    select#user_dob_day{ width: 130px; }
    select#user_dob_month{ width: 155px; }
}