@font-face {
    font-family: fontHeader;
    src: url("Gotham-Bold.otf");
}

@font-face {
    font-family: fontContent;
    src: url("futurastd-medium-1-opentype.otf");
}

.nekter-body{
    background-image: url("/assets/api_sign/nekter/bg.png");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 60% 110%;
    margin-bottom: 20px;
}
.notice-info {font-size: 14pt; font-family: fontContent; margin-bottom: 0px; text-align: center;}
.bar-btn{margin-top: 10px; cursor: pointer;}
nav.navbar {margin-bottom: 0px;}
ul.nav.navbar-nav {margin-top: 40px;}
ul.nav.navbar-nav li {font-size: 16px}
ul.nav.navbar-nav li a{color: #000000; font-family: fontHeader}
ul.nav.navbar-nav li a:hover { background: none; color: #33bbc9;}
.margin-bzero {
    margin-bottom: 0px !important;
}
.title-head {
    font-family: fontContent;
    font-size: 30pt;
    color: #33bbc9;
    text-align:
    center;
    margin-bottom: 20px;
}
.form-control {
    font-family: fontContent;
    font-size: 16pt;
    color: #222222;
    margin-bottom: 20px;
    border: 1px #33bbc9 solid;
}
.link-url{
    font-family: fontContent;
    font-size: 14pt;
    color: #222222;
    text-decoration: none;
}
.link-url:hover{color: #33bbc9; text-decoration: none;}
.label-text{
    font-family: fontContent;
    font-size: 12pt;
    color: #222222;
    text-transform: uppercase;
    line-height: 0px;
    font-weight: normal;
    white-space: nowrap;
}
.foot-label-text{
    font-family: fontContent;
    font-size: 14pt;
    color: #222222;
    padding: 5px;
    width: 100%;
    background: white;
    padding-top: 20px;
}
.pb50{padding-bottom: 50px;}
.pb20{padding-bottom: 20px;}
.label-checkbox{
    font-family: fontContent;
    font-size: 14pt;
    color: #222222;
}
/*custom checkbox */
input[type=checkbox] {
    display: none;
    visibility: hidden;
}
label.custom-checkbox {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-right: 20px;
    font-weight: normal;
}

label.custom-checkbox:before {
    /*background: url("/assets/v1/radio_unchecked.png") no-repeat scroll 0 0 / 100% auto;*/
    background: url("/assets/api_sign/nekter/check-box.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    content: "";
    display: inline-block;
    left: 0;
    margin-right: 0;
    position: absolute;
    height: 25px;
    width: 25px;

}

input[type=checkbox]:checked + label.custom-checkbox:before {
    content: "";
    /*background: url("/assets/v1/radio_checked.png") no-repeat scroll 0 0 / 100% auto;*/
    background: url("/assets/api_sign/nekter/check-box-on.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    color: #483627;
}

/*custom nav bar left*/
.mini-brand {
    height: 48px;
    padding: 2px 0px;
}

.sidebar-wrapper-left {
    background-color: #333333;
    background-image: url("/assets/api_sign/nekter/Nektar-Logo.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 60% auto;
    content: " ";
    height: 100%;
    left: 0;
    min-width: 80%;
    overflow: hidden;
    padding-right: 25px;
    padding-top: 25px;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-position: 90% 95%;
}

.sidebar-wrapper-right {
    background-color: #454545;
    opacity: 0.2;
    height: 100%;
    right: 0;
    min-width: 20%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.sidebar-nav {
    color: #ffffff;
    list-style: outside none none;
    font-size: 22pt;
    font-family: fontContent;
    text-transform: uppercase;
    margin-left:-25px;
}

.sidebar-nav > li.nav-item { padding-left: 10px; margin-right: 10px; margin-bottom: 10px;}
.sidebar-nav > li.nav-item:hover { background-color: #33bbc9; }
.sidebar-nav > li.nav-item > a { color: inherit; }
.sidebar-nav > li.nav-item > a:hover, .sidebar-nav > li.nav-item > a:active, .sidebar-nav > li.nav-item > a:focus { text-decoration: none; }
.sidebar-nav .close-btn {
    color: #b4b4b4;
    font-size: 20pt;
    margin-right: -10px;
    margin-top: -20px;
    text-align: right;
    background-color: none;
}

.sidebar-nav > li.close-btn:hover { background-color: none; }
#error_explanation{ margin-bottom: 30px; }
#error_explanation h2{ font-size: 20px;}
.mtop70{ margin-top: 70px; }
.container-content {width: 315px; float: none}

/*responsive style*/
@media screen and (min-width:320px) and (max-width: 1201px){
    .nekter-body{
        background-size: 65% 100%;
        background-position: center center;
    }
}

@media screen and (min-width:320px) and (max-width: 991px){
    .nekter-body{
        background-size: 100%;
        background-position: center center;
    }
}

@media screen and (min-width:320px) and (max-width: 651px){
    .nekter-body{
        background-size: 100%;
        background-position: center center;
    }
}