<style>
#tag_color {
  border:0;
  width:70px;
  border-image: none;
  border-style: solid;
  border-width: 1px 20px 1px 1px;
  line-height:20px;
}
</style>

<% if @tag.new_record? %>
    <% url = admin_system_tags_path%>
    <% else %>
    <%url = admin_system_tag_path(@tag)%>
    <% end %>
<%= simple_form_for([:admin, @tag], :url => url, :html => {:class => "form-horizontal"}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :color %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>

<%= stylesheet_link_tag "colpick" %>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<%= javascript_include_tag "colpick" %>
<script type="text/javascript">
  $('#tag_color').colpick({
    layout:'hex',
    submit:0,
    onChange:function(hsb,hex,rgb,el,bySetColor) {
      $(el).css('border-color','#'+hex);

      if(!bySetColor) $(el).val(hex);
    }
  }).keyup(function(){
    $(this).colpickSetColor(this.value);
  });

$('#tag_color').change(function(){
  if($(this).val()==""){
    $(this).val("009999");
    $(this).colpickSetColor(this.value);
  }else{
    $(this).colpickSetColor(this.value);
  }
});

$('#tag_color').change();
</script>