<div class="page-header">
  <h3>Listing Tag</h3>
</div>

<div class="controls">
  <%= form_tag admin_system_tags_path, :id => "form", :class => 'form-horizontal', method: :get do %>
    <%= search_field_tag "search_text", "#{params[:search_text]}", placeholder: "Search tag" %>
    <%= submit_tag "Search", :id => "search_btn", :style => "width: 65px; height: 30px; margin-bottom: 8px;" %>
  <% end %>
</div>

<div id="system_tags">
  <table>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>

    <% @tags.each do |tag| %>
        <tr>
          <td><%= tag.name %></td>

          <td>
            <%= link_to 'Edit', edit_admin_system_tag_path(tag) %>
            <%= link_to 'Destroy', admin_system_tag_path(tag), confirm: 'Are you sure?', method: :delete %>
          </td>
        </tr>
    <% end %>
  </table>
  <%= will_paginate @tags %>
</div>

<br />

<%= link_to 'New Tag', new_admin_system_tag_path %>