<!-- navbar -->
<div class="navbar navbar-inverse">
  <div class="navbar-inner">

    <a style="position: absolute; z-index: 999; left: 5px; top: 0px; padding-top: 1px; width: 190px; padding-left: 10px;" class="brand" href="/owner/summaries">
      <img style="width: 190px;" alt="bg-logo" src="/assets/bg-logo-ribon.png">
      <img alt="Logo" src="/assets/logo.png" style="position: absolute; width: 155px; left: 25px; top: 5px;">
    </a>
    <ul class="nav pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle hidden-phone" data-toggle="dropdown">
          <% if current_owner %>
              <%= current_owner.email %>
          <% end %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "<i class='icon-signout'></i>&nbsp;Sign out".html_safe, owner_log_out_path %></li>
          <li><%= link_to "<i class=''></i>&nbsp;Change password".html_safe, edit_owner_registration_path %></li>
        </ul>
      </li>
    </ul>
    <ul class="nav pull-right">
      <li>
        <a href="#myModal_help" role="button" class="" data-toggle="modal">
          <i class="icon-envelope">
          </i>&nbsp;Click to ask a question or report an issue.</a>
      </li>
    </ul>

  </div>
</div>
<!-- end navbar -->