<% @chain = current_owner.chain %>
<% survey_id = Survey.have_average([@chain]) %>
<% survey_id = survey_id.first.id if survey_id.class == Array and survey_id.size >0 %>
<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li id="greetings-menu">
            <a href="<%= owner_greetings_path %>">
                <i class="icon-summary"></i>
                <span>Summary</span>
            </a>
        </li>
        <li id="members-menu">
            <a href="<%= owner_members_path %>">
                <i class="icon-members"></i>
                <span>Members</span>
            </a>
        </li>
        <li id="surveys-menu">
            <% if (current_owner.is_chain_owner? and current_owner.role.to_s.include?('process') and @request_count.to_i > 0)  %>
            <a href="<%= owner_surveys_path(:id => survey_id) %>" style="padding-bottom: 25px; padding-top: 10px;">
                <i class="icon-Surveys"></i>
                <span>Surveys</span>
            </a>
            <a href="<%= all_survey_owner_surveys_path(:id => survey_id) %>" style="border: 0px none; position: absolute; box-shadow: none; padding: 0px; margin: 0px; width: auto; top: 30px;">
                <span class="badge badge-important"><%= @request_count %></span>
            </a>
            <% else %>
              <% if  @is_avg == true %>
            <a href="<%= owner_surveys_path(:id => survey_id) %>">
                <i class="icon-Surveys"></i>
                <span>Surveys</span>
            </a>
                  <% else %>
                  <a href="<%= all_survey_owner_surveys_path(:id => survey_id) %>">
                    <i class="icon-Surveys"></i>
                    <span>Surveys</span>
                  </a>
              <% end %>
            <% end %>
        </li>
        <li id="activities-menu">
            <a href="<%= owner_activities_path %>">
                <i class="icon-Rewards"></i>
                <span>Activity</span>
            </a>
        </li>
        <% #if Owner.chain_take_action?(current_owner.chain) == "ON" %>
        <% if Owner.owner_chain_take_action?(current_owner) == "ON" %>
      <li id="owner_jobs-menu">
            <a href="<%= owner_owner_jobs_path %>">
                <i class="icon-tak"></i>
                <span>Take Action</span>
            </a>
        </li>
        <% end %>

    </ul>
</div>
<!-- end sidebar -->