<% unless @locales.blank? %>
    <% @locales.each do |lc| %>
        <div class="span4">
          <br/><br/>
          <h4>Form for '<%= lc %>' locale
            <h2>
              <div class="control-group text optional control-group">
                <label for="en_email_subject" class="email optional control-label control-label">Email Subject</label>
                <%= text_field_tag "notification[content][subject_#{lc}]", nil, :class => 'string email optional' %>
              </div>
              <div class="control-group text optional control-group">
                <label class="text required control-label" for="plain_push_notification_content"><abbr title="required">*</abbr>
                  Content <%= lc %></label>
                <%= text_area_tag "notification[content][#{lc}]", nil, :rows => 10, :cols => 15 %>
              </div>
              <div class="control-group text optional control-group">
                <label class="text required control-label" for="plain_push_notification_content"><abbr title="required">*</abbr>
                  Content Push To device <%= lc %></label>
                <%= text_area_tag "notification[content][device_text_#{lc}]", nil, :rows => 10, :cols => 15 %>
              </div>

              <div class="control-group text optional control-group">
                <a onclick="set_email_preview('<%= lc %>')" class="btn">
                  <%= "Preview Email for #{lc}" %>
                </a>
              </div>
        </div>
    <% end %>
<% else %>

    <div class="span4">
      <br/><br/>
      <label for="en_email_subject" class="email optional control-label control-label">Email Subject</label>
      <%= text_field_tag "notification[content][subject_en]", nil, :class => 'string email optional' %>
      <label class="text required control-label" for="plain_push_notification_content"><abbr title="required">*</abbr>
        Content</label>
      <%= text_area_tag "notification[content][en]", nil, :rows => 10, :cols => 15, :style => "width:500px;" %>
      <label class="text required control-label" for="plain_push_notification_content"><abbr title="required">*</abbr>
        Content Push To device</label>
      <%= text_area_tag "notification[content][device_text_en]", nil, :rows => 10, :cols => 15 %>
    </div>
<% end %>

<div id="email_preview" style="display: none" class="modal">
  <div id="title_email_preview" class="modal-header"><h3>EMAIL PREVIEW</h3></div>
  <br />
  <h4>From : </h4>
  <h4>Subject : &nbsp;&nbsp;&nbsp; <span id="preview_subject"></span></h4>
  <h4>Content : &nbsp;&nbsp;&nbsp;<span id="preview_content"></span></h4>
      <div id="form-preview" style="display: none;">
        <%= text_field_tag "preview_subject",nil,:id => "text_preview_subject" %>
        <%= text_area_tag "preview_content",nil,:id => "text_preview_subject" %>
      </div>
      <br />
      <div class="actions">
        <a onclick="$('#push_reward_form').slideDown();$('#email_preview').slideUp();" class="btn">
          Cancel
        </a>
      </div>
</div>
<script>
    function set_email_preview(locale){
        console.log('notification_subject_'+locale);
        selected_subject_email = $('#notification_content_subject_'+locale).val();
        selected_content_email = $('#notification_content_'+locale).val();
        console.log(selected_subject_email);
        console.log(selected_content_email);
        $('#preview_subject').html(selected_subject_email);
        $('#preview_content').html(selected_content_email);
        $('#text_preview_subject').val(selected_subject_email);
        $('#text_preview_content').val(selected_content_email);
        $('#email_preview').show();
    }

</script>