<%= form_tag show_email_list_admin_plain_push_notification_path(@plain_push_notification),
    :method => :get, :remote => true do %>
    <label>Search By</label>
    <%= select_tag :search_by, options_for_select([["User ID", "user_id"], ["Email", "email"]], params[:search_by]) %>
    <%= text_field_tag :key, params[:key] %>
    <%= submit_tag "Search", :onclick => "$('#email_list').ajaxloader('show')"%>
<% end %>
<table class="table">
  <thead>
  <tr>
    <th>USER ID</th>
    <th>EMAIL</th>
  </tr>
  </thead>
  <tbody>
  <% unless @emails.blank? %>
      <% @emails.each do |email_user| %>
          <tr>
            <td><%= email_user.id %></td>
            <td><%= email_user.email %></td>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td colspan="2" style="text-align: center">No Emails</td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2" style="text-align: center"><%= will_paginate(@emails, :class => "email-plain-pagination")%></td>
  </tr>
  </tfoot>
</table>

<script type="text/javascript">
    $(document).ready(function(){
        $(".email-plain-pagination").find("a").attr("data-remote", true);
        $('.email-plain-pagination a').click(function() {
            $('#email_list').ajaxloader('show');
        });
    })
</script>
