<% unless @emails.blank? %>
    <div id="user_email_hidden" class="hide">
      <% @emails.each_with_index do |x, index| %>
          <div class="span3">
            <%= check_box_tag "email[]", x, false %> <%= x %>
          </div>
      <% end %>
    </div>
    <div class="clearfix"></div>
<% end %>