<br/><br/>
  <%= simple_form_for([:admin, @plain_push_notification], :html => {:style => "position:relative;", :class => 'form-horizontal', :multipart => true, :id => "plain-push-form"}) do |f| %>
      <div style="">

        <% unless @plain_push_notification.errors.blank? %>
            <div class="alert alert-error">
              <% @plain_push_notification.errors.full_messages.each do |x| %>
                  <%= x %> |
              <% end %>
            </div>
        <% end %>
      </div>
      <br/>
      Chain <br/>
      <%= select_tag('search[chains]', options_from_collection_for_select(Chain.active.order("name"), :id, :name)) %>

      <hr/>
      <br/>
      <br/><br/><br/>
      <div class="control-group">
        <label class="control-label" for="inputEmail">
          Enter CSV <%= radio_button_tag "select_type", "csv",true %>
        </label>

        <div class="controls">

            <label id="xls_label">Upload XLS file to get user id</label>
            <%= file_field_tag "xls" %>
            <%= hidden_field_tag "xls_path",nil %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputEmail">
          Enter Manual <%= radio_button_tag "select_type", "manual_enter" %>
        </label>

        <div class="controls hide" id="manual_input">
          <i>Enter user id separate with comma (,)</i><br/>
          <textarea class="text optional" cols="40" id="plain_push_notification_email"
                    style="height:100px;width:700px;" name="plain_push_notification[email]" rows="20"></textarea>
        </div>

      </div>

      <div class="control-group">
        <label class="control-label" for="inputEmail">
          All User <%= radio_button_tag "select_type", "all_user" %>
        </label>
        <div class="controls hide" id="all_user">
          <div class="alert info">All user will be sent.</div>
        </div>
      </div>
      <%= render :partial =>  "notifications", :locals => {:f => f} %>



      <div class="clearfix"></div>
      <div class="span4">
        <%= f.button :submit, :onclick => "$('#xls_path').val($('#xls').val());" %>
        <%= link_to 'Back', admin_plain_push_notifications_path %>
      </div>

  <% end %>
  <script>
      $(".multiselect").multiselect({
          multiple:false,
          header:"Choose an Option!",
          noneSelectedText:"Select an Option"
      });

      $("#formsubmit-plainpush").click(function () {

          var iframe = $('<iframe name="postiframe" id="postiframe" style="display: none" />');

          $("body").append(iframe);

          var form = $('#theuploadform-plainpush');
          form.attr("action", "<%= preview_xls_data_admin_plain_push_notifications_path %>");
          form.attr("method", "post");
          form.attr("enctype", "multipart/form-data");
          form.attr("encoding", "multipart/form-data");
          form.attr("target", "postiframe");
          form.attr("xls", $('#userfile').val());
          form.submit();

          $("#postiframe").load(function () {
              iframeContents = $("#postiframe")[0].contentWindow.document.body.innerHTML;
              $("#email_from_xls_area").html(iframeContents);
          });

          return false;

      });


      $("#plain-push-form").submit(function(e){
          if($('#select_type_all_user').is(':checked') == true){
              if (!confirm("Are you sure wants to send to all users?")){
                  e.preventDefault();
                  return;
              }
          }else{
              return true;
          }


      });

      function check_all_emails(bool) {
          if (bool == true)
              $('.span3 input:checkbox').attr('checked', 'checked');
          else
              $('.span3 input:checkbox').attr('checked', '');
      }

      function reset_selection() {
          $('#theuploadform-plainpush').hide();
          $('#manual_input').hide();
          $('#xls').hide();
          $('#xls_label').hide();
          $('#all_user').hide();
          $('#select_type_manual_enter').attr('checked', false);
          $('#select_type_csv').attr('checked', false);
          $('#select_type_all_user').attr('checked', false);
      }

      $('#select_type_csv').change(function () {
          reset_selection();
          $('#select_type_csv').attr('checked', true);
          $('#xls').show();
          $('#xls_show').hide();
      });

      $('#select_type_manual_enter').change(function () {
          reset_selection();
          $('#manual_input').show();
          $('#select_type_manual_enter').attr('checked', true);
      });

      $('#select_type_all_user').change(function () {
          reset_selection();
          $('#select_type_all_user').attr('checked', true);
          $('#all_user').show();
      });

  </script>