<hr/> <i>Send Notification to</i><br/>


<% unless @locales.blank? %>
    <% @locales.each do |lc| %>
      <h4>Form for '<%= lc %>' locale</h4>

          <div class="control-group">
            <label class="control-label" for="inputEmail">
              Email : <%= check_box_tag "plain_push_notification[is_push_email]", true, true %>
            </label>

            <div class="control-group text optional control-group">
              <div class="span3">
                <label class="" for="plain_push_notification_content">
                  Subject :<abbr title="required">*</abbr>
                </label>
                <%= text_field_tag "notification[content][subject_#{lc}]", nil, :class => 'string email optional' %>
              </div>
              &nbsp;&nbsp;&nbsp;Content:&nbsp;&nbsp;&nbsp;<%= text_area_tag "notification[content][#{lc}]", nil, :rows => 10, :cols => 15 %>
            </div>
          </div>


          <div class="control-group">
            <label class="control-label" for="inputEmail">
              Phone : <%= check_box_tag "plain_push_notification[is_push_phone]", true, true %>
            </label>

            <div class="control-group text optional control-group">
              <div class="span3">
                <label class="" for="plain_push_notification_content">
                  Content Push To device<abbr title="required">*</abbr>
                </label>
                <%= text_area_tag "notification[content][device_text_#{lc}]", nil, :rows => 10, :cols => 15 %>
              </div>
            </div>
          </div>

    <% end %>
<% else %>
    <div class="control-group">
      <label class="control-label" for="inputEmail">
        Email : <%= check_box_tag "plain_push_notification[is_push_email]", true, true %>
      </label>

      <div class="control-group text optional control-group">
        <div class="span3">
          <label class="" for="plain_push_notification_content">
            Subject : <abbr title="required">*</abbr>
          </label>
          <%= text_field_tag "notification[content][subject_en]", nil, :class => 'string email optional' %>
        </div>
        &nbsp;&nbsp;&nbsp;Content:&nbsp;&nbsp;&nbsp;<%= text_area_tag "notification[content][en]", nil, :rows => 10, :cols => 15, :style => "width:500px;" %>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label" for="inputEmail">
        Phone : <%= check_box_tag "plain_push_notification[is_push_phone]", true, true %>
      </label>

      <div class="control-group text optional control-group">
        <div class="span3">
          <label class="" for="plain_push_notification_content">
            Content Push To device<abbr title="required">*</abbr>
          </label>
          <%= text_area_tag "notification[content][device_text_en]", nil, :rows => 10, :cols => 15 %>
        </div>
        &nbsp;&nbsp;&nbsp;URL:&nbsp;&nbsp;&nbsp;<%= text_field_tag "notification[content][device_url_en]", nil, :rows => 10, :cols => 15 %>
      </div>
    </div>


<% end %>




<div class="span8">
  <div id="push_date">
    <div class="field">
      <div id="expiry_date"><!--
        <%# my_time = Time.zone.now %>
        Schedule to Push (HST Time)
        <div id="executed_at_error"></div>
        <%# exec_at = date_only(my_time) %>
        <%#= text_field_tag "date_execute",
                           exec_at.nil? ? (Time.zone.now + 5.minutes).strftime("%Y-%m-%d") : exec_at,
                           :class => 'x-datepicker', :style => "width:80px;", :onchange => "setDateParams();" %>
        <%#= select_hour(my_time.nil? ? my_time : my_time, {}, :style => "width:50px;", :onchange => "setDateParams();") %>
        <%#= select_minute(my_time.nil? ? my_time : my_time, {}, :style => "width:50px;", :onchange => "setDateParams();") %>
        <%#= hidden_field_tag "plain_push_notification[executed_at]", nil %> -->
        Scheduler :
        <select class="pick-schdeule" name="scheduler">
          <option value="on">On</option>
          <option value="off">Off</option>
        </select><br/>
        <br/>

        <div class="schdeule-time">
          <% Time.use_zone(Setting.default_time_zone['zone']) do %>
              RUN AT :<%= f.datetime_select :executed_at, {}, :style => "width:80px;" %> <%= select_tag "time_zone_default",options_for_select(["EST","EDT"]), :style => 'width:80px;'%><%#= Setting.default_time_zone['zone'] %>
          <% end %>
          <span id="edt_time" style="display:none;">UTC - 4 hour</span>
          <span id="est_time" style="display:none;">UTC - 5 hour</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="clear: both"></div>    <br/><br/><br/>
<script type="text/javascript">
    $(document).ready(function () {
        var tmp = $('#date_execute').val() + " " + $('#date_hour').val() + ":" + $('#date_minute').val() + ":60" + " " + "+0000";
        $('#reward_executed_at').val(tmp);
        $('select.pick-schdeule').bind('change', function () {
            if ($(this).val() == "on") {
                $('.schdeule-time').show();
            } else {
                $('.schdeule-time').hide();
            }
        });

        $('.x-datepicker').datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $('#time_zone_default').bind('change', function(){
            if($(this).val() == "EDT"){
                $('#edt_time').show();
                $('#est_time').hide();
            }else{
                $('#edt_time').hide();
                $('#est_time').show();
            }
        });


        if ($('#time_zone_default').val() == "EDT") {
            $('#edt_time').show();
            $('#est_time').hide();
        }else{
            $('#edt_time').hide();
            $('#est_time').show();
        }
    });
    function setDateParams() {
        var tmp = $('#date_execute').val() + " " + $('#date_hour').val() + ":" + $('#date_minute').val() + ":60" + " " + "+0000";
        $('#reward_executed_at').val(tmp);
    }

</script>