<div class="page-header">
   <h3>Success Android / iphone notif Logs :</h3>
</div>
<fieldset>
  <label>Search/Filter</label>
  <%= form_tag show_log_notifications_admin_plain_push_notification_path(@plain_push_notification),
               :method => :get, :remote => true do %>
      <div class="span12">
        <div class="span2">
          <label> User Email</label>
          <%= text_field_tag :email, params[:email], :style => "width:150px;" %>
        </div>
        <div class="span2">
          <label> Device Type</label>
          <%= select_tag :device_type, options_for_select([["", ""], ["Iphone", "iphone"], ["Android", "android"]]), :style => "width:150px;" %>
        </div>
        <div class="span2">
          <label>&nbsp;</label>
          <%= submit_tag "Search", :class => "btn btn-primary", :onclick => "$('#notif_log').ajaxloader('show')" %>
        </div>
      </div>
  <% end %>
</fieldset>

<table>
  <thead>
     <tr>
       <th>Email</th>
       <th>Device type</th>
     </tr>
  </thead>
  <tbody>
    <% unless @notifications.blank? %>
      <% @notifications.each do |notif| %>
        <% user = notif.user %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.register_device_type%></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2" style="text-align: center">No Notifications</td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2" style="text-align: center">
        <%= will_paginate(@notifications, :class => "notif-pagination")%>
      </td>
    </tr>
  </tfoot>
</table>

<script type="text/javascript">
    $(document).ready(function(){
        $(".notif-pagination").find("a").attr("data-remote", true);
        $('.notif-pagination a').click(function() {
            $('#notif_log').ajaxloader('show');
        });
    })
</script>
