<table class="table">
  <tr>
    <th>Email</th>
    <th>Content</th>
    <th>Chain</th>
    <th>Created At</th>
    <th>Scheduled At</th>
    <th>Created by</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @plain_push_notifications.each do |plain_push_notification| %>
      <tr>
        <% begin %>
            <td>
              <%= "(#{plain_push_notification.email[:emails].size}) email adress" %>
            </td>
        <% rescue %>
            <td> -</td>
        <% end %>
        <td>
          <% begin %>
              <% plain_push_notification.content[:content]["content"].each do |k, v| %>
                  <%= k.humanize %> : <%= v %> <br/>
              <% end %>
          <% rescue %>
              -
          <% end %>
        </td>
        <td><%= Chain.find(plain_push_notification.chains[:chain_ids].to_i).name rescue '-' %></td>
        <td><%= date_helper(plain_push_notification.created_at) %></td>
        <% if plain_push_notification.executed_at.blank? %>
            <td>
              <%= date_helper_timezone(plain_push_notification.created_at) %>
            </td>
        <% else %>
            <td><%= date_helper_timezone(plain_push_notification.executed_at) %>
            </td>
        <% end %>
        <td><%= plain_push_notification.admin.email rescue "-" %></td>
        <td><%= plain_push_notification.job_status.html_safe %></td>
        <td></td>
        <td><%= link_to 'Show', admin_plain_push_notification_path(plain_push_notification.id) %></td>
        <td></td>
        <td><%= link_to 'Destroy', admin_plain_push_notification_path(plain_push_notification.id), confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>
<%= will_paginate @plain_push_notifications %>
<span id="page-loader" style="display:none;"><%= image_tag "loader.gif" %></span>

<script>
  $('.pagination a').attr('data-remote', 'true').click(function() {
    $('.pagination').html($('#page-loader').show());
    $('#plain_push_notifications').ajaxloader('show');
  });
</script>