<% if @device_success > 0 or @email_success > 0 %>
<hr/>
<h1><%= @all_user %> User will be sent.</h1>
<div class="row-fluid">
  <div class="span4">
     <span class="badge badge-info">Device : </span><br/><br/>
     <span class="badge badge-success">
       <%= link_to "Success User : #{@device_success}",
       admin_plain_push_notification_history_notifications_path(@plain, :type => "success", :kind => "device"),
       :class => 'badge badge-success' %>
     </span><br/>
    <span class="badge badge-warning">
      <%= link_to "Pending User : #{@device_pending}",
                  admin_plain_push_notification_history_notifications_path(@plain, :type => "pending", :kind => "device"), :class => 'badge badge-warning' %>
    </span><br/>
    <span class="badge badge-important">
      <%= link_to "Failed User : #{@failed_device}",
                  admin_plain_push_notification_history_notifications_path(@plain, :type => "error", :kind => "device"),
                  :class => 'badge badge-important' %>
    </span><br/>
  </div>
  <div class="span4">
    <span class="badge badge-info">Email :</span> <br/><br/>
    <span class="badge badge-success">
      <%= link_to "Success User : #{@email_success}",
                  admin_plain_push_notification_history_notifications_path(@plain, :type => "success", :kind => "email"),
                  :class => 'badge badge-success' %>
    </span><br/>
    <span class="badge badge-warning">
      <%= link_to "Pending User : #{@email_pending}",
                  admin_plain_push_notification_history_notifications_path(@plain, :type => "pending", :kind => "email"),
                  :class => 'badge badge-warning' %>
    </span><br/>
    <span class="badge badge-important">
      <%= link_to "Failed User : #{@failed_email} ",
                  admin_plain_push_notification_history_notifications_path(@plain, :type => "error", :kind => "email"),
                  :class => 'badge badge-important' %></span><br/>
  </div>

  <%= link_to "Refresh", admin_plain_push_notifications_path, :class => 'btn primary' %>
</div>
<hr/>
<% end %>
<table class="table">
  <thead>
  <tr>
    <th>USER ID</th>
    <th>EMAIL</th>
  </tr>
  </thead>
  <tbody>
  <% unless @emails.blank? %>
      <% @emails.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email rescue raw("<span style='color:red'>User #{email_user.to_i} Not Found</span>") %></td>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td colspan="2" style="text-align: center">No Emails</td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2" style="text-align: center"><%= will_paginate @emails %></td>
  </tr>
  </tfoot>
</table>
<%= link_to "Back", "/admin/plain_push_notifications/", :class => "btn btn-primary" %>

