$('#email_list').html('<%= escape_javascript(render "email_checkbox")%>');
$('#content_locale').html('<%= escape_javascript(render "content_field")%>');
$('#test').attr('checked', false);
$('#check_all_box').show();