<script type="text/javascript">
  $(document).ready(function () {
      $('#search_btn').click(function () {
          $('#search_text_hidden').val($('#search_text').val());
          $('#page').val(1);
          $('#loader').show();
          $('#sub').click();
      });
  });
</script>

<h1>Listing Plain Push Notification</h1>


<br>
<div class="controls">
  <%= select_tag 'chain_restaurants', options_from_collection_for_select(Chain.active.order("name"), :id, :name), :prompt => "Please select chain",
                 :onchange => "$('#chn_id').val(this.value);$('#page').val(1);$('#search_text_hidden').val($('#search_text').val());$('#loader').show();$('#sub').click();" %>
  <%= button_tag "Search", :id => "search_btn", :style => "width: 65px; height: 30px; margin-bottom: 8px;" %>
  <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
</div>

<div id="plain_push_notifications">
  <%= render 'plain_push_notification_lists' %>
</div>
<br />


<%= link_to 'New Plain push notification', new_admin_plain_push_notification_path, :class => 'btn' %>

<%= form_tag filter_plain_push_notifications_admin_plain_push_notifications_path, :id => "form", :class => 'form-horizontal', :method => :get, :style => "display:none;", :remote => true do %>
    <%= hidden_field_tag "chn_id" %>
    <%= hidden_field_tag "qry_order" %>
    <%= hidden_field_tag "page" %>
    <%= submit_tag "submit", :id => "sub" %>
<% end %>