<% unless @email_from_xls.blank? %>
    <% @email_from_xls.compact.each_with_index do |x, index| %>
        <div class="span3">
          <%= check_box_tag "email[]", x, true %> <%= x.to_i %>
        </div>
    <% end %>
<% end %>

<h4 style="color:red"><%= @error %></h4>