<did id="email_list" style="min-height: 500px;">

</did>

<p>
  <b>Content:</b>
  <% @plain_push_notification.content[:content]["content"].each do |x, y| %>
      <%= "#{x} -- #{y}" %> <br/>
  <% end %>
</p>

<p>
  <b>Chain:</b>
  <%= @plain_push_notification.chain_id %>
</p>

<div id="notif_log" style="min-height: 500px;">

</div>

<p></p>


<%= link_to 'Edit', edit_admin_plain_push_notification_path(@plain_push_notification) %> |
<%= link_to 'Back', admin_plain_push_notifications_path %>

<script type="text/javascript">
   $('#email_list').ajaxloader('show');
   $('#notif_log').ajaxloader('show');
   $.get('<%= show_email_list_admin_plain_push_notification_path(@plain_push_notification, :format => :js)%>');
   $.get('<%= show_log_notifications_admin_plain_push_notification_path(@plain_push_notification, :format => :js)%>');
</script>