<% if @readonly.blank? and @gr.status == 1 ## waiting %>
<%= link_to "Approve", "#",
            :class => 'btn-glow primary login', :id => 'edit_request' %>

<%= link_to "Reject", '#',
            :class => 'btn-glow primary login', :id => 'reject_request' %>

<% end %>
<% if @gr.status == 5 # rejected, could approved back %>
    <%= link_to "Approve", '#',
                :class => 'btn-glow primary login', :id => 'approve_request' %>
 <% end %>
<script>
    $(document).ready(function () {
        $('#approve_request').click(function () {
            $('#mode_type').val('approve');
            $('#sub_button').click();
            $('#myModal1').ajaxloader();
        });

        $('#reject_request').click(function () {
            $('#mode_type').val('reject');
            $('#sub_button').click();
            $('#myModal1').ajaxloader();
        });
        $('#edit_request').click(function () {
            $('#mode_type').val('edit');
            $('#sub_button').click();
            $('#myModal1').ajaxloader();
        });
    });

</script>

