<!-- Modal Welcome to the Take Action -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="left: 0px; right: 0px; margin: auto;">
  <div class="modal-header">
    <h3 id="myModalLabel">Tutorial</h3>
  </div>

  <div class="modal-body" style="text-align: justify;">
    <dl>
      <dd>Welcome to the Survey detail section of your dashboard. Here is where you can see all of the customer
        feedback sent by your customers as it received. This page also allows you to send points or a reward directly
        to the customers that you feel deserve a little something extra.
      </dd>
      <br/>
      <dd>To send something to a customer begin by clicking on the "Reach Out" button at the end of the row
      containing their feedback. You will then be presented with a window that will allow you to select what you would like
      to send; enter your selection and hit the "Process" button to deliver it to the customer's account. That's It !
      </dd>
      <br/>
      <dd>
        Since you may be reaching out to customers for a variety of reasons
        <span style="text-decoration: underline;">
        there are no default notifications set up to let a customer know that they have received something from you
          so do not forget to send an email to anyone who reach you out to
        </span>
        through the Dashboard so that your gift does not go unnoticed.
      </dd>

      <br/>
      <dd>
        If You have questions about the Survey detail page you can contact your account manager or
        <a href="mailto:support@relevantmobile.com">support@relevantmobile.com</a> for assistance.
      </dd>

    </dl>
    <button type="button" class="btn right" data-dismiss="modal" aria-hidden="true">I Understand</button>
  </div>
</div>


<!-- Modal New Job -->
<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="left: 0px; right: 0px; margin: auto;">
  <div class="modal-header" style="">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <%= link_to "Close", owner_owner_jobs_path, :class => "btn right", :id => 'close_button_non_ajax', :style => "display:none;" %>
  </div>
  <h2 class="modal-title" id="title_job" style="text-align: center;">Loading</h2>
  <br/>

  <div class="modal-body" id="body_modal">
    <%= image_tag "loading.gif" %>
  </div>
</div>