
<div id="x-pagination" style="float:right;">
<% unless @survey_users.blank? %>
  <%= will_paginate @survey_users %>
<% end %>
</div>
<script>
    $("#x-pagination a").attr("data-remote", true);
    $('#x-pagination a').click(function() {
        $("#tableContainer").ajaxloader();
    });
</script>