<%= form_tag update_status_relation_owner_guest_relation_path(@gr), :class => 'form-horizontal', :remote => true do %>
    <% display = "block;" %>
    <% display = "none;" if @gr.job_type == 2 %>
    <%= hidden_field_tag "mode_type", nil %>
    <div class="the-content-body" style="padding:none;" id="body_form">
      <% unless @is_reward.blank? %>
      <div class="control-group">
        <label class="span4 offset1" for="inputEmail">
          <%= radio_button_tag "guest_relation[job_type]", "1", @gr.job_type.to_i == 1, :id => 'by_reward', :style => "margin-bottom:6px;" %> I would
          like to send reward
        </label>

        <div class="controls">

        </div>
      </div>
      <div id="by_reward_content" style="display:<%= display %>;" class="radio-child">
        <div class="ui-select" style="width:200px">
          <%= select_tag "guest_relation[reward_id]", options_from_collection_for_select(@rewards, "id", "name", @gr.reward_id.to_i), :include_blank => true %>
        </div>
      </div>
      <br>
      <% end %>

      <% unless @is_points.blank? %>
      <div class="control-group">
        <label class="span4 offset1" for="inputEmail">
          <%= radio_button_tag "guest_relation[job_type]", '2', @gr.job_type.to_i == 2, :id => 'by_point', :style => "margin-bottom:6px;" %>
          I would like to send points
        </label>

        <div class="controls">

        </div>
      </div>
      <% display = "block;" %>
      <% display = "none;" if @gr.job_type == 1 %>
      <div id="by_point_content" style="display:<%= display %>;" class="radio-child">
        <%= text_field_tag "guest_relation[points]", @gr.points %> <i>* insert how many points</i>
      </div>
          <% end %>
      <br/>
      <div class="alert">
        Contact customer directly at:<br/>
        <%= @gr.surveys_user.user.email %>
      </div>
      <br/>
      <%= submit_tag "sub", :id => 'sub_button', :style => 'display:none;' %>
      <%= render :partial => 'approve_or_reject' %>
    </div>
<% end %>


<script>
    $(document).ready(function () {
        $('#by_reward').change(function () {
            reset_selection();
            $('#by_reward_content').show();
            $('#owner_job_reward_id').show();
        });

        $('#by_point').change(function () {
            reset_selection();
            $('#by_point_content').show();
        });

        $('#owner_job_push_email').change(function () {
            if ($('#owner_job_push_email').is(':checked')) {
                $('#content_email').show();
            } else {
                $('#content_email').hide();
            }
        });

        $('#owner_job_push_phone').change(function () {
            if ($('#owner_job_push_phone').is(':checked')) {
                $('#content_phone').show();
                $('#notif_char').show();
            } else {
                $('#content_phone').hide();
                $('#notif_char').hide();
            }
        });

        $('#by_notif').change(function () {
            reset_selection();
            $('#by_notif_content').show();
        });

        function reset_selection() {
            $('#users_content').html('');
            $('#reward_id').val('');
            $('#by_reward_content').hide();
            $('#by_point_content').hide();
            $('#by_notif_content').hide();
            $('#by_reward_content').hide();
            $('#owner_job_reward_id').hide();
        }

        $('#owner_job_content_phone').keyup(function () {
            var max = 100;
            var len = $(this).val().length;
            if (len >= max) {
                var char = max - len;
                $('#notif_char').removeClass('label-info');
                $('#notif_char').addClass('label-important');
                $('#notif_char').text(char + ' characters')
            } else {
                var char = max - len;
                $('#notif_char').text(char + ' characters left');
                $('#notif_char').removeClass('label-important');
                $('#notif_char').addClass('label-info');
                $('#owner_job_content_phone').removeClass('error');
            }
        });
        <% unless @readonly.blank? %>
        jQuery('#guest_relation_reward_id').attr('disabled', true);
        jQuery('#guest_relation_points').attr('disabled', true);
        jQuery('#by_reward').attr('disabled', true);
        jQuery('#by_point').attr('disabled', true);
        <% end %>

        <% if @gr.status == 5 %>
        jQuery('#guest_relation_reward_id').attr('disabled', false);
        jQuery('#guest_relation_points').attr('disabled', false);
        jQuery('#by_reward').attr('disabled', false);
        jQuery('#by_point').attr('disabled', false);
        <% end %>
    });
</script>