<% if params[:step] != "preview" %>
$('#title_job').html('What would you like to send');
$('#body_modal').html('<%= escape_javascript(render 'request_form') %>');
<% else %>
$('#title_job').html('Preview Guest Relation');
$('#preview').show();$('#body_form').hide();
if ($('#by_reward').is(':checked')) {
    $('#preview_step1').html("It will push Reward to <%= @su.user.email %> with " +
            $('#guest_relation_reward_id option:selected').text());
} else {
    $('#preview_step1').html("It will push " + $('#guest_relation_points').val() + " to <%= @su.user.email %> with " +
            $('#guest_relation_reward_id option:selected').text());
}
<% end %>
