<script>
    $(document).ready(function () {
        if ($("[rel=tooltip]").length) {
            $("[rel=tooltip]").tooltip();
        }
    });
</script>
<div class="row-fluid stats-row">
  <div class="span4 stat">
    <label for="from">From</label>
    <input type="text" value="" readonly="readonly" name="search[from]" id="search_from" class="x-search-datepicker hasDatepicker">

    <label for="to">To</label>
    <input type="text" value="" readonly="readonly" name="search[to]" id="search_to" class="x-search-datepicker hasDatepicker">
  </div>

  <div class="span4 stat">
    <label for="from">Request Status</label>
    <%= select_tag "test", options_for_select(GuestRelation::STATUS), :class => 'ui-select' %>

    <label for="to">User Email</label>
    <input type="text" placeholder="Type a user's name..." class="search">
  </div>


  <div class="span4 stat">
    <label for="from">No Of request Status</label>
    <%= select_tag "test", options_for_select(GuestRelation::STATUS), :class => 'ui-select' %>
    <div>
      <input type="submit" value="Search" name="commit" class="btn-flat">
    </div>
  </div>
</div>
<script type="text/javascript">
    $(".multiselect").multiselect({
        selectedText:"# of # selected"
    });
</script>
<% if @survey.blank? %>
    <% questions = @surveys.first.questions.map(&:text) %>
<% else %>
    <% questions = @survey.questions.map(&:text) %>
<% end %>
<% question1 = questions[0] rescue "" %>
<% question2 = questions[1] rescue "" %>
<% question3 = questions[2] rescue "" %>
<% question4 = questions[3] rescue "" %>
<% question5 = questions[4] rescue "" %>

<div id="x-records">
  <table id="myTable" cellspacing="1" class="table table-striped table-bordered tblstyle tablesorter fntstyle" style="table-layout:fixed;">
    <thead>
    <tr>
      <th class="tblheader "><b>Receipt</b>

        <div class="icontbl"></div>
      </th>
      <th class="tblheader"><b>Date</b>

        <div class="icontbl"></div>
      </th>
      <th class="tblheader"><b>Time</b>

        <div class="icontbl"></div>
      </th>
      <th class="tblheader"><b>Location</b>

        <div class="icontbl"></div>
      </th>
      <th class="tblheader" style="width:auto;overflow:hidden;"><b>Member </b>

        <div class="icontbl"></div>
      </th>
      <th class="tblheader"><b>Avg</b>

        <div class="icontbl"></div>
      </th>
      <th class="tblheader" style="width:auto;">
        <b>Q.1 </b>
        <a data-original-title="<%= question1 %>" href="#" class="icon-question-sign" rel="tooltip"></a>

        <div class="icontbl"></div>
      </th>
      <th class="tblheader" style="width:auto;">
        <b>Q.2 </b>
        <a data-original-title="<%= question2 %>" href="#" class="icon-question-sign" rel="tooltip"></a>

        <div class="icontbl"></div>
      </th>
      <th class="tblheader" style="width:auto;">
        <b>Q.3 </b>
        <a data-original-title="<%= question3 %>" href="#" class="icon-question-sign" rel="tooltip"></a>

        <div class="icontbl"></div>
      </th>
      <th class="tblheader" style="width:auto;">
        <b>Q.4 </b>
        <a data-original-title="<%= question4 %>" href="#" class="icon-question-sign" rel="tooltip"></a>

        <div class="icontbl"></div>
      </th>
      <th class="tblheader uncurve" style="width:auto;">
        <b>Q.5 </b>
        <a data-original-title="<%= question5 %>" href="#" class="icon-question-sign" rel="tooltip"></a>

        <div class="icontbl"></div>
      </th>
      <th class="tblheader uncurve" style="width:auto;">
        <b>Request Date Time</b>
      </th>
      <th class="tblheader uncurve" style="width:auto;">
        <b>Status</b>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @survey_users.each do |x| %>
        <% survey_user = x.surveys_user %>
        <tr class="first">
          <td><a href="#"><i class="icon-picture"></i>
            <% if survey_user.receipt %>
                <%= link_to "image", survey_user.receipt.image.url, :target => "_blank" %>
            <% end %>
          </a></td>

          <td><%= date_only(survey_user.created_at) %></td>
          <td><%= hour_only(survey_user.created_at) %></td>
          <td><%= survey_user.receipt.last_transaction.restaurant.name rescue "-" %></td>
          <td><%= string_format(survey_user.user.email.gsub("@", "@"), :slice_limit => 10) %></td>
          <% avg = survey_user.show_answers(survey_user.answers.includes(:question).order("questions.question_type desc")) %>
          <td><%= float_format(avg[:all]) %></td>
          <td><%= string_format(avg[:q1]) %></td>
          <td><%= string_format(avg[:q2]) %></td>
          <td><%= string_format(avg[:q3]) %></td>
          <td><%= string_format(avg[:q4]) %></td>
          <td><%= string_format(avg[:q5]) %></td>
          <td>
            <%= x.created_at %>
          </td>
          <td><%= x.show_status %></td>
        </tr>
    <% end %>

    </tbody>
  </table>
</div>
