<script>
    $(document).ready(function () {
        if ($("[rel=tooltip]").length) {
            $("[rel=tooltip]").tooltip();
        }
    });
</script>

<% if @survey.blank? %>
    <% questions = @surveys.first.questions.map(&:text) %>
<% else %>
    <% questions = @survey.questions.map(&:text) %>
<% end %>
<% question1 = questions[0] rescue "" %>
<% question2 = questions[1] rescue "" %>
<% question3 = questions[2] rescue "" %>
<% question4 = questions[3] rescue "" %>
<% question5 = questions[4] rescue "" %>

<div id="x-records">
<table id="myTable" cellspacing="1" class="table table-striped table-bordered tblstyle tablesorter fntstyle" style="table-layout:fixed;">
  <thead>
  <tr>
    <th class="tblheader "><b>Receipt</b>

      <div class="icontbl"></div>
    </th>
    <th class="tblheader"><b>Date</b>

      <div class="icontbl"></div>
    </th>
    <th class="tblheader"><b>Time</b>

      <div class="icontbl"></div>
    </th>
    <th class="tblheader"><b>Location</b>

      <div class="icontbl"></div>
    </th>
    <% if current_owner.role.to_s.include?('email') %>
        <th class="tblheader" style="width:auto;overflow:hidden;"><b>Member </b>

          <div class="icontbl"></div>
        </th>
    <% end %>
    <th class="tblheader"><b>Avg</b>

      <div class="icontbl"></div>
    </th>
    <th class="tblheader" style="width:auto;">
      <b>Q.1 </b>
      <a data-original-title="<%= question1 %>" href="#" class="icon-question-sign" rel="tooltip"></a>

      <div class="icontbl"></div>
    </th>
    <th class="tblheader" style="width:auto;">
      <b>Q.2 </b>
      <a data-original-title="<%= question2 %>" href="#" class="icon-question-sign" rel="tooltip"></a>

      <div class="icontbl"></div>
    </th>
    <th class="tblheader" style="width:auto;">
      <b>Q.3 </b>
      <a data-original-title="<%= question3 %>" href="#" class="icon-question-sign" rel="tooltip"></a>

      <div class="icontbl"></div>
    </th>
    <th class="tblheader" style="width:auto;">
      <b>Q.4 </b>
      <a data-original-title="<%= question4 %>" href="#" class="icon-question-sign" rel="tooltip"></a>

      <div class="icontbl"></div>
    </th>
    <th class="tblheader uncurve" style="width:auto;">
      <b>Q.5 </b>
      <a data-original-title="<%= question5 %>" href="#" class="icon-question-sign" rel="tooltip"></a>

      <div class="icontbl"></div>
    </th>
    <% if current_owner.is_chain_owner? || current_owner.role.to_s.include?('create') ||
            current_owner.role.to_s.include?('process') %>
        <th class="tblheader uncurve" style="width:auto;">
          <b>Detail </b>
        </th>
    <% end %>

    <% if current_owner.is_chain_owner? || current_owner.role.to_s.include?('create') || current_owner.role.to_s.include?('process') %>
        <th class="tblheader uncurve" style="width:auto;">

          <b>Request </b>
          <% if current_owner.is_chain_owner? %>
              <div id="request_menu_button" style="display:none;">
                <a id="select_all" class="btn-flat" onclick="$('#select_all').hide();
                        $('.check_request').attr('checked', true);$('#deselect_all').show();$('#request_menu').show();">
                  Select All
                </a>
                <a id="deselect_all" class="btn-flat" style="display:none;" onclick="$('#select_all').show();
                        $('.check_request').attr('checked', false);$('#deselect_all').hide();$('#request_menu').hide();">
                  Deselect All
                </a>
              </div>
          <% end %>

        </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @survey_users.each do |survey_user| %>
      <tr class="first">
        <td><a href="#"><i class="icon-picture"></i>
          <% if survey_user.receipt %>
              <%= link_to "image", survey_user.receipt.image.url, :target => "_blank" %>
          <% end %>
        </a></td>

        <td><%= date_only(survey_user.created_at) %></td>
        <td><%= hour_only(survey_user.created_at) %></td>
        <td><%= survey_user.receipt.last_transaction.restaurant.name rescue "-" %></td>
        <% if current_owner.role.to_s.include?('email') %>
            <td><%= string_format(survey_user.user.email.gsub("@", "@"), :slice_limit => 10) %></td>
        <% else %>
            <td><%= survey_user.user.id %></td>
        <% end %>
        <% avg = survey_user.show_answers(survey_user.answers.includes(:question).order("questions.question_type desc")) %>
        <td><%= float_format(avg[:all]) %></td>
        <td><%= string_format(avg[:q1]) %></td>
        <td><%= string_format(avg[:q2]) %></td>
        <td><%= string_format(avg[:q3]) %></td>
        <td><%= string_format(avg[:q4]) %></td>
        <td><%= string_format(avg[:q5]) %></td>
        <% if current_owner.is_chain_owner? || current_owner.role.to_s.include?('create') ||
                current_owner.role.to_s.include?('process') %>
            <% gr = survey_user.chain_owner_request %>
            <td><%= gr.show_reward_point_string.html_safe unless gr.blank? %></td>
        <% end %>
        <% if current_owner.is_chain_owner? || current_owner.role.to_s.include?('create') || current_owner.role.to_s.include?('process') %>
            <td id="request_<%= gr.id rescue 'none' %>">

              <% if !current_owner.is_chain_owner? %>
                  <% gr = survey_user.request_by_owner(current_owner) %>
                  <% if gr.blank? and current_owner.visible_create_request? %>
                      <a href="#myModal1" style="font-size:11px;" role="button" style="padding:none;"
                         class="btn-flat gray" data-toggle="modal"
                         data-backdrop="static" data-keyboard="false" onclick="
                      $('#users_content').html('');
                              $.get('<%=  request_guest_relation_owner_survey_path(survey_user,:su_id => survey_user.id) %>');
                              $('#body_modal').html('');$('#title_job').html('<img src=\'/assets/ajaxLoader.gif\'></img>');
                      ">Reach Out</a>
                  <% elsif !gr.blank? and current_owner.visible_create_request? %>
                      <% btn = ""
                         case GuestRelation::STATUS[gr.status]
                           when "waiting"
                             btn = link_to("requested", '#', :class => 'btn-flat gray')
                           when "approved"
                             btn = link_to("approved", '#', :class => 'btn-flat green')
                           when "processing"
                             btn = link_to("processing", '#', :class => 'btn-flat gray')
                           when "completed"
                             btn = link_to("completed", '#', :class => 'btn-flat success')
                           when "rejected"
                             btn = link_to("rejected", '#', :class => 'btn-flat danger')
                         end
                      %>
                      <%= btn.html_safe %>

                  <% else %>
                      You do not have permission
                  <% end %>
              <% else %>
                  <% unless gr.blank? %>
                      <% text = "" %>
                      <% if GuestRelation::STATUS[gr.status] == "waiting" %>
                          <%= check_box_tag "waiting-#{gr.id}", nil, false, :class => 'check_request' %>
                          <a href="#myModal1" style="font-size:11px;padding:none;" role="button" style="padding:none;"
                             class="btn-flat gray new-product" data-toggle="modal"
                             data-backdrop="static" data-keyboard="false" onclick="
                          $('#users_content').html('');
                                  $.get('<%=  check_status_relation_owner_guest_relation_path(gr) %>');
                                  $('#body_modal').html('');$('#title_job').html('<img src=\'/assets/ajaxLoader.gif\'></img>');
                          ">Requested</a>
                      <% elsif GuestRelation::STATUS[gr.status] == "approved" || GuestRelation::STATUS[gr.status] == "completed" %>
                          <a href="#myModal1" style="font-size:11px;padding:none;" role="button" style="padding:none;"
                             class="btn-flat success new-product" data-toggle="modal"
                             data-backdrop="static" data-keyboard="false" onclick="
                          $('#users_content').html('');
                                  $.get('<%=  check_status_relation_owner_guest_relation_path(gr, :read => true) %>');
                                  $('#body_modal').html('');$('#title_job').html('<img src=\'/assets/ajaxLoader.gif\'></img>');
                          "><%= GuestRelation::STATUS[gr.status] %></a>
                      <% elsif GuestRelation::STATUS[gr.status] == "rejected" %>
                          <a href="#myModal1" style="font-size:11px;padding:none;" role="button" style="padding:none;"
                             class="btn-flat danger new-product" data-toggle="modal"
                             data-backdrop="static" data-keyboard="false" onclick="
                          $('#users_content').html('');
                                  $.get('<%=  check_status_relation_owner_guest_relation_path(gr, :read => true) %>');
                                  $('#body_modal').html('');$('#title_job').html('<img src=\'/assets/ajaxLoader.gif\'></img>');
                          "><%= GuestRelation::STATUS[gr.status] %></a>

                      <% end %>


                  <% else %>
                      <a href="#myModal1" style="font-size:11px;" role="button" style="padding:none;"
                         class="btn-flat gray new-product" data-toggle="modal"
                         data-backdrop="static" data-keyboard="false" onclick="
                      $('#users_content').html('');
                              $.get('<%=  request_guest_relation_owner_survey_path(survey_user,:su_id => survey_user.id) %>');
                              $('#body_modal').html('');$('#title_job').html('<img src=\'/assets/ajaxLoader.gif\'></img>');
                      ">Reach Out</a>
                  <% end %>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>

  </tbody>
</table>
</div>

<script>
    $(document).ready(function () {
        if($('.check_request').size() < 1){
            $('#request_menu_button').hide();
        }else{
            $('#request_menu_button').hide();
        }
        $('.check_request').click(function () {
            var show = false;
            $('input[type=checkbox]').each(function () {
                if ($(this).is(':checked')) {
                    show = true;
                }
                if (show == true) {
                    $('#request_menu').show();
                } else {
                    $('#request_menu').hide();
                }
            });

        });
    });
</script>
