$('#myModal1').ajaxloader('hide');
$('.modal-header').show();
$('#title_job').html("<h1 style='font-size:50px;'>Success</h1>");
$('#body_modal').html("&nbsp;&nbsp;&nbsp;&nbsp; <a style='' class='btn right'' href='/owner/surveys/all_survey'>Close</a> ");
$('#close_button').hide();
$('#close_button_non_ajax').hide();

$('#success_notice').html("<div class='alert fade in'><button data-dismiss='alert' class='close' type='button'>×</button>" +
        "<h4 class='alert-heading'>Success!</h4>" +
        "<p></p></div> ");

