<%= simple_form_for([:admin_game, @level], :url => @level.new_record? ? admin_game_levels_path(@game) : admin_game_level_path(@game, @level)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="field">
        <%= f.input :number %>
      </div>
      <div class="field">
        <%= f.input :description, :input_html => {:rows => 5} %>
      </div>
      <div class="field">
        <%= f.input :ratio, :label => "Game Point : 1  (Game Point : User Point)" %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>