<div class="page-header">
  <h3>Listing <%= @game.name%>'s Levels</h3>
</div>

<table>
  <tr>
    <th>Number</th>
    <th>Description</th>
    <th>Ratio</th>
    <th></th>
  </tr>

  <% @levels.each do |level| %>
      <tr>
        <td><%= level.number %></td>
        <td><%= level.description %></td>
        <td><%= level.ratio %>:1</td>
        <td>
          <%= link_to 'Edit', edit_admin_game_level_path(@game, level), :class => "btn btn-warning" %>
          <%= link_to 'Destroy', admin_game_level_path(@game, level), confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
        </td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Level', new_admin_game_level_path(@game), :class => "btn btn-primary" %>
<%= link_to 'Back', admin_games_path, :class => "btn btn-info" %>