<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @admin_level.game_id %>
</p>

<p>
  <b>Number:</b>
  <%= @admin_level.number %>
</p>

<p>
  <b>Ratio:</b>
  <%= @admin_level.ratio %>
</p>


<%= link_to 'Edit', edit_admin_level_path(@admin_level) %> |
<%= link_to 'Back', admin_levels_path %>