<h1>QUEUE TIMER SETTING</h1>
Pls Set the timer here :<br/>

<i>Note : timer are set in minutes * default are 10 minutes</i>
<%= form_tag admin_queue_notif_settings_path do %>
<%= text_field_tag "queue_timer", @timer.blank? ? 10 : @timer%>
<br/>
<%= submit_tag "Submit"%>
<% end %>

