<%= simple_form_for([:admin, @partner_sub_category], id: "partnerCategory") do |f| %>
  <% if @partner_sub_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partner_sub_category.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
        <% @partner_sub_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="x-box">
    <div class="field">
      <%= f.label :chain_id %>
      <%= f.select :chain_id, options_from_collection_for_select(Chain.order("name"), :id, :name, (@chain.id rescue nil) ), {:prompt => "Select Chain"} %>
      <span id="loader-chain" style="display: none;"><%= image_tag "loader.gif" %></span>
    </div>

    <div class="field">
      <%= f.label :partner_category_id %>
      <% sub_categories = @partner_sub_categories.map { |r| [r.name, r.id]} rescue [] %>
      <span id="category-select">
        <%= select_tag "partner_sub_category[partner_category_id]", options_for_select(sub_categories, selected: (@partner_sub_category.partner_category_id rescue nil) ), {:prompt => "Select Category"}  %>
      </span>
    </div>

    <div class="field">
      <%= f.label :name %>
      <%= f.input_field :name %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.input_field :description, :rows => 5 %>
    </div>

    <div id="box-restaurant">
      <%= render partial: "restaurant" if @restaurants %>
    </div>

    <br/><br/>
    <%= f.submit @partner_sub_category.new_record? ? "Create" : "Update", :class => "btn btn-primary" %>
    <%= link_to 'Back', admin_partner_sub_categories_path, :class => "btn" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('select#partner_sub_category_chain_id').change(function(){
      $("#loader-chain").show();
      var chain_id = $("#partner_sub_category_chain_id").val();
      $.post("/admin/partner_sub_categories/load_restaurants", { chain_id: chain_id })
    });

    $('form.new_partner_sub_category').submit(function() {
      if($("table input[type=checkbox]:checked").length > 0){
        return true;
      }else{
        alert("There are no location selected. Please select at least one location.")
        return false;
      }
    });
  });
</script>