<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Partner Menu Items in <%= @partner_sub_category.name %></h3>
</div>
<div class="modal-body" style="height: 350px;">
  <%= simple_form_for(:search, :url => search_menu_items_admin_partner_sub_category_path(@partner_sub_category), :html => {method: :get, remote: true }) do |f| %>
    <div class="x-box">
      <div class="x-box-inner">
        <div class="field">
          <%= label_tag :restaurant %>
          <%= select_tag "restaurant_id", options_for_select(@restaurants.map { |r| [r.name, r.id]}), prompt: "Select Restaurant" %>
          <span id="loader-item" style="display: none;"><%= image_tag "loader.gif" %></span>
        </div>
      </div>
    </div>
  <% end  %>

  <div id="boxTableMenuItem">
    <%= render partial: "table_menu_item" %>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function () {
      $('#data-container').ajaxloader('show');
    });

    $("form select").change(function(){
      $('#loader-item').show();
      $('#boxTableMenuItem').html('');
      var restaurant_id = $(this).val();
      $.get("/admin/partner_sub_categories/<%= @partner_sub_category.id %>/search_menu_items", { restaurant_id: restaurant_id})
    });
  });
</script>