<table id="participating">
  <caption>Participating Restaurants:</caption>
  <thead>
  <tr>
    <th width="40px;"></th>
    <th>Name</th>
    <th>Address</th>
    <th></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th colspan="3"></th>
    <th><%= submit_tag "Pull Out", :confirm => "Click OK to pull out the selected restaurants from this category", :disable_with => "Please wait..." %></th>
  </tr>
  </tfoot>
  <tbody>
  <% @participants.each_with_index do |restaurant, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.address %></td>
      <td><%= check_box_tag "pullout_[#{restaurant.id || restaurant.restaurant_id}]", (restaurant.id || restaurant.restaurant_id), false,
                            :name => "pullout[]" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br/>
<table>
  <caption>Non-participating Restaurants</caption>
  <thead>
  <tr>
    <th width="40px;"></th>
    <th>Name</th>
    <th>Address</th>
    <th>All <%= check_box_tag "all_non_participants" %></th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th colspan="3"></th>
    <th><%= submit_tag "Participate", :confirm => "Click OK to add the selected restaurants to this category", :disable_with => "Please wait..." %></th>
  </tr>
  </tfoot>
  <tbody>
  <% @non_participants.each_with_index do |restaurant, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.address %></td>
      <td><%= check_box_tag "participate_[#{restaurant.id || restaurant.restaurant_id}]", (restaurant.id || restaurant.restaurant_id), false,
                            :name => "participate[]" %></td>
    </tr>
  <% end %>
  </tbody>
</table>