<% if @page == "index" %>
  <label class="string required control-label" for="search_category_id"><abbr title="required">*</abbr> Category</label>
  <%= select_tag "search[category_id]", options_for_select(@categories.map { |r| [r.name, r.id]}, selected: @category_id ) %>
<% else %>
  <table>
    <caption>Restaurants:</caption>
    <thead>
    <tr>
      <th width="40px;"></th>
      <th>Name</th>
      <th>Address</th>
      <th></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th colspan="3"></th>
      <th><%= submit_tag "Check All", id: "check-all" %></th>
    </tr>
    </tfoot>
    <tbody>
    <% @restaurants.each_with_index do |restaurant, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= check_box_tag "restaurants_[#{restaurant.id}]", restaurant.id, false, :name => "restaurants[]" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#check-all").click(function(){
        if(confirm("Click OK to select all the selected restaurants from this reward")){
          $("table input[type=checkbox]").attr('checked', true);
          return false;
        }else{
          return false;
        }
      });
    });
  </script>
<% end %>
