<table id="MenuCategories" style="width: 100%;" class="table">
  <thead>
  <tr>
    <th style="width: 30%;">Item Number</th>
    <th style="width: 30%;">Name</th>
    <th style="width: 50%;">Description</th>
    <th style="width: 20%;"></th>
  </tr>
  </thead>
  <tbody id="tab">
  <% unless @menu_items.blank? %>
    <% @menu_items.each do |item| %>
      <tr>
        <td><%= item.partner_menu_item.item_number %></td>
        <td><%= item.partner_menu_item.item_name %></td>
        <td><%= item.partner_menu_item.description %></td>
        <td>
          <% btn_class = @partner_sub_category.partner_sub_category_menu_items.map(&:partner_menu_item_id).include?(item.partner_menu_item.id) ? "btn-danger" : "btn-info"  %>
          <% btn_text = @partner_sub_category.partner_sub_category_menu_items.map(&:partner_menu_item_id).include?(item.partner_menu_item.id) ? "remove" : "add" %>
          <a restaurant_id="<%= @restaurant_id %>" item_id="<%= item.partner_menu_item.id %>" btn_label="<%= btn_text %>" class="btn btn-mini <%= btn_class %> add-menu-item">
            <%= btn_text %>
          </a>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr id="blank-row">
      <td colspan="5">Select Restaurant and search to see Available Menu Items.</td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="5"><%= will_paginate @menu_items if @menu_items.present? %></td>
  </tr>
  </tfoot>
</table>

<div class="modal-footer">
  <a class="btn" data-dismiss="modal">Close</a>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function () {
      $('#data-container').ajaxloader('show');
    });
  });

  $('.add-menu-item').click(function(){
    var item_id = $(this).attr("item_id");
    var restaurant_id = $(this).attr("restaurant_id");
    var btn_label = $(this).attr("btn_label");
    if(btn_label == "add"){
      $(this).removeClass("btn-info");
      $(this).addClass("btn-danger");
      $(this).text("remove");
      $(this).attr("btn_label", "remove");
      $.post("/admin/partner_sub_categories/<%= @partner_sub_category.id %>/add_item?partner_menu_item_id="+item_id+"&restaurant_id="+restaurant_id);
    }else if(btn_label == "remove"){
      $(this).removeClass("btn-danger");
      $(this).addClass("btn-info");
      $(this).text("add");
      $(this).attr("btn_label", "add");
      $.post("/admin/partner_sub_categories/<%= @partner_sub_category.id %>/remove_item?partner_menu_item_id="+item_id+"&restaurant_id="+restaurant_id);
    }
  });
</script>