<div class="page-header">
  <h1>Edit Partner Sub Category <%= @partner_sub_category.chain.try(:name) %></h1>
</div>

<%= simple_form_for([:admin, @partner_sub_category]) do |f| %>
  <% if @partner_sub_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partner_sub_category.errors.count, "error") %> prohibited this chain from being saved:</h2>
      <ul>
        <% @partner_sub_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="x-box">

    <div class="field">
      <%= label_tag "Category" %>
      <% sub_categories = @categories.map { |r| [r.name, r.id]} rescue [] %>
      <span id="category-select">
        <%= select_tag "partner_sub_category[partner_category_id]", options_for_select(sub_categories, selected: (@partner_sub_category.partner_category_id rescue nil) ), {:prompt => "Select Category"}  %>
      </span>
    </div>

    <div class="field">
      <%= f.label :name %>
      <%= f.input_field :name %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.input_field :description, :rows => 5 %>
    </div>

    <br/><br/>
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to 'Back', admin_partner_sub_categories_path, :class => "btn" %>
    <%= link_to 'Refresh participate list', "javascript:void(0)", :class => "btn btn-info refresh-btn" %>
    <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
    *since process participate restaurant executed by job
    <br/>
    <br/>
  </div>
<% end %>

<%= form_tag("/admin/partner_sub_categories/#{@partner_sub_category.id}/update_participation", :method => :post ) do %>
  <div id="boxParticipating">
    <%= render partial: "participating" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".refresh-btn").click(function(){
      $("#loader").show();
      $.get("/admin/partner_sub_categories/<%= @partner_sub_category.id %>/edit");
    });

    $("table#participating input[type=checkbox]").click(function(){
      if($("table#participating input[type=checkbox]").not(':checked').length == 0){
        alert("do not allow a partner category without a location.");
        return false;
      }
    });
  });
</script>