<div class="page-header">
  <h1>Listing Partner Sub Categories </h1>
</div>
<%= simple_form_for(:search, :url => admin_partner_sub_categories_path, :html => {:method => :get}) do |f| %>
  <div class="x-box">
    <div class="x-box-inner">
      <div class="field">
        <%= f.label :chain_id %>
        <%= f.select :chain_id, options_from_collection_for_select(Chain.order("name"), :id, :name, (params[:search][:chain_id] rescue nil) ) %>
        <span id="loader-chain" style="display: none;"><%= image_tag "loader.gif" %></span>
      </div>

      <div id="single-restaurant" class="field">
        <%= f.label :category_id %>
        <% categories = @categories.map { |r| [r.name, r.id]} rescue [] %>
        <%= select_tag "search[category_id]", options_for_select(categories, selected: (@category_id rescue nil) ) %>
      </div>

      <%= submit_tag "Search", :class => "btn btn-success" %>
    </div>
  </div>
<% end %>

<div id="content-data">

  <table class="table stripped">
    <thead>
    <tr>
      <th>Chain</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @partner_sub_categories.each do |partner_sub_category| %>
      <tr id="row_<%= partner_sub_category.id %>">
        <td><%= partner_sub_category.chain.try(:name) rescue nil %></td>
        <td><%= partner_sub_category.name rescue nil %></td>
        <td><%= partner_sub_category.description %></td>
        <td>
          <button id="btn-category" type="button" data-toggle="modal" data-target="#addItems" class="btn btn-small btn-info" onclick="loadMenuItem('<%= load_menu_items_admin_partner_sub_categories_path(chain_id: partner_sub_category.chain_id, partner_sub_category: partner_sub_category.id) %>')">
            <i class="icon-plus icon-white"></i> items</span>
          </button>
          <%= link_to 'Edit', edit_admin_partner_sub_category_path(partner_sub_category), :class => "btn btn-warning" %>
          <%= link_to 'Destroy', admin_partner_sub_category_path(partner_sub_category), :method => :delete, :class => "btn btn-danger", :confirm => "are you sure?" %>
        </td>
      </tr>
    <% end %>
    </tbody>
    </table>
</div>

<%= will_paginate @partner_sub_categories unless @partner_sub_categories.blank? %>
<br/>
<%= link_to 'New Partner Sub Category', new_admin_partner_sub_category_path, :class => "btn btn-primary" %>

<div id="addItems" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <span id="content-modal"></span>
</div>

<script type="text/javascript">

  function loadMenuItem(url) {
    $('#content-modal').html('<div style="margin: 20px;"><h3>loading...</h3></div>');
    $.get(url)
  }

  $(document).ready(function(){
    $('select#search_chain_id').change(function(){
      $('select#partner_sub_category_restaurant_id option').remove();
      var chain_id = $("#search_chain_id").val();
      $.post("/admin/partner_sub_categories/load_restaurants", { chain_id: chain_id, page: "index" })
    });
  });
</script>