$("#loader-chain").hide();
<% if @page == "index" %>
  $('#single-restaurant').html('<%=j render "restaurant" %>');
<% else %>
  $('#box-restaurant').html('<%=j render "restaurant" %>');

  var html = "<%=j select_tag "partner_sub_category[partner_category_id]", options_for_select(@categories.map { |r| [r.name, r.id]}, selected: 1 ) %>"
  $('#category-select').html(html);
<% end %>

