<p id="notice"><%= notice %></p>
Chain: <%= @partner_category.chain.name %><br />
Name: <%= @partner_category.name%> <br />
Description: <%= @partner_category.description %><br />

<br/>
<%= form_tag("/admin/partner_categories/#{@partner_category.id}/update_participation", :method => :post ) do %>
  <table>
    <caption>Participating Restaurants:</caption>
    <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>All <%= check_box_tag "all_participants" %></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th colspan="3"></th>
      <th><%= submit_tag "Pull Out", :confirm => "Click OK to pull out the selected restaurants from this category", :disable_with => "Please wait..." %></th>
    </tr>
    </tfoot>
    <tbody>
    <% @participants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.try(:city).try(:name) %></td>
        <td><%= check_box_tag "pullout_[#{restaurant.id}]", restaurant.id, false,
                              :name => "pullout[]" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br/>
  <table>
    <caption>Non-participating Restaurants</caption>
    <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>All <%= check_box_tag "all_non_participants" %></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th colspan="3"></th>
      <th><%= submit_tag "Participate", :confirm => "Click OK to add the selected restaurants to this category", :disable_with => "Please wait..." %></th>
    </tr>
    </tfoot>
    <tbody>
    <% @non_participants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.try(:city).try(:name) %></td>
        <td><%= check_box_tag "participate_[#{restaurant.id}]", restaurant.id, false,
                              :name => "participate[]" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Edit', edit_admin_partner_category_path(@partner_category) %>|
<%= link_to 'Back', admin_partner_categories_path %>
