<div id="notification"></div>
<% @chain = current_owner.chain %>
<% @rewards = current_owner.chain.rewards.dashboard.active.unexpired %>
<% @is_reward = REDIS.get "guest_relation_setting_reward_#{@chain.id}" %>
<% @is_points = REDIS.get "guest_relation_setting_points_#{@chain.id}"    %>
<%= form_tag create_individual_owner_owner_jobs_path , :remote => true do |f| %>
    <%= text_field_tag "user_email", nil, :placeholder => 'enter email address' %>
    <div class="control-group">
      <% if !@rewards.blank? and !@is_reward.blank? %>
      <label class="span4 offset1" for="inputEmail">
        <%= radio_button_tag "owner_job[reward_type]", "1", true, :id => 'by_reward' %> Send Reward
      </label>
       <% end %>

      <div class="controls">

      </div>
    </div>
    <% if !@rewards.blank? and !@is_reward.blank?  %>
    <div id="by_reward_content" style="display:block;" class="radio-child">
      <div class="ui-select" style="width:200px">
            <%= select_tag "owner_job[reward_id]", options_from_collection_for_select(@rewards, "id", "name"), :include_blank => true %>
      </div>
    </div>
    <% end %>
    <br>       <%= hidden_field_tag "owner_job[individual]", true %>
    <div class="control-group">
      <% if !@is_points.blank?  %>
      <label class="span4 offset1" for="inputEmail">
        <%= radio_button_tag "owner_job[reward_type]", '2', false, :id => 'by_point' %>
        Send Points&nbsp;&nbsp;
      </label>
       <% end %>
      <div class="controls">

      </div>
    </div>
    <% if !@is_points.blank?  %>
    <div id="by_point_content" style="display:none;" class="radio-child">
      <%= text_field_tag "owner_job[points]", nil,:style=> "margin-left:-30px;" %> <i>* insert how many points</i>
    </div>
        <% end %>
    <br/>



    <hr/>



    <%= submit_tag "Submit", :class => 'btn',:id => 'individual_submit',
                   :onclick => "$('#individual_submit').hide();$('#sub_loader').show();
                   $('#close_button').hide();" %>
    <div id="sub_loader" style="display:none;">
      <input type="submit" class="btn disabled" data-disabled-with="Please Wait" id="individual_submit" name="commit" onclick="$('#close_button').hide();" value="Please Wait..">
    </div>
<% end %>

<script>
    $(document).ready(function () {
        $('#by_reward').change(function () {
            reset_selection();
            $('#by_reward_content').show();
            $('#owner_job_reward_id').show();
        });

        $('#by_point').change(function () {
            reset_selection();
            $('#by_point_content').show();
        });

        $('#owner_job_push_email').change(function () {
            if ($('#owner_job_push_email').is(':checked')) {
                $('#content_email').show();
                $('#owner_job_push_email').val("true");
            } else {
                $('#content_email').hide();
                $('#owner_job_push_email').val("false");
            }
        });

        $('#owner_job_push_phone').change(function () {
            if ($('#owner_job_push_phone').is(':checked')) {
                $('#content_phone').show();
                $('#notif_char').show();
                $('#owner_job_push_phone').val("true");
            } else {
                $('#content_phone').hide();
                $('#notif_char').hide();
                $('#owner_job_push_phone').val("false");
            }
        });

        $('#by_notif').change(function () {
            reset_selection();
            $('#by_notif_content').show();

            $('#owner_job_push_email').attr("checked", "checked");
            $('#owner_job_push_email').change();
            $('#owner_job_push_email').val("true");

            $('#owner_job_push_phone').attr("checked", "checked");
            $('#owner_job_push_phone').change();
            $('#owner_job_push_phone').val("true");
        });

        function reset_selection() {
            $('#users_content').html('');
            $('#reward_id').val('');
            $('#by_reward_content').hide();
            $('#by_point_content').hide();
            $('#by_notif_content').hide();
            $('#by_reward_content').hide();
            $('#owner_job_reward_id').hide();
            $('#owner_job_push_email').val("false");
            $('#owner_job_push_phone').val("false");
        }

        $('#owner_job_content_phone').keyup(function () {
            var max = 100;
            var len = $(this).val().length;
            if (len >= max) {
                var char = max - len;
                $('#notif_char').removeClass('label-info');
                $('#notif_char').addClass('label-important');
                $('#notif_char').text(char + ' characters')
            } else {
                var char = max - len;
                $('#notif_char').text(char + ' characters left');
                $('#notif_char').removeClass('label-important');
                $('#notif_char').addClass('label-info');
                $('#owner_job_content_phone').removeClass('error');
            }
        });

        <% if @rewards.blank? %>
        reset_selection();
        $('#by_point').attr('checked',true);
        $('#by_point_content').show();
        <% end %>

    });
</script>