<div class="the-content-body">
  <%= form_tag "/owner/jobs", :class => 'form-horizontal', :remote => true do %>
      <div id="users_content"></div>
      <div id="step1" style="display:none;">
        <%= render 'step1' %>
      </div>
      <div id="step2" style="display:none;text-align: left;">
        <%= render 'step2' %>
      </div>
      <div id="step3" style="display:none;text-align: left;">
        <%= render 'step3' %>
      </div>
      <div id="step4" style="display:none;text-align: left;">
        <%= render 'step4' %>
      </div>
      <div id="preview" style="display:none;">
        <%= render 'preview' %>
      </div>
      <%= submit_tag "Ok", :id => "submit_job", :class => 'hidden' %>
  <% end %>
</div>
<script>
    $("#owner_job_description,#owner_job_subject_email,#owner_job_points").keypress(function (e) {
        return e.keyCode != 13;
    });

    $('input:checkbox').hide().each(function () {
        var label = $("label[for=" + '"' + this.id + '"' + "]").text();
        var a = this.name;
        var b = a.replace("[", "-");
        b = b.replace("]", "");
        $('<a ' + (label != '' ? 'title=" ' + label + ' "' : '' ) + ' class="checkbox-fx ' + b + '" href="#"><span class="checkbox' + (this.checked ? ' checkbox-checked' : '') + '">&nbsp;</span></a>').insertAfter(this);
    });

    $('input:radio').hide().each(function () {
        var label = $("label[for=" + '"' + this.id + '"' + "]").text();
        var a = this.name;
        var b = a.replace("[", "-");
        b = b.replace("]", "");
        $('<a ' + (label != '' ? 'title=" ' + label + ' "' : '' ) + ' class="radio-fx ' + b + '" href="#"><span class="radio' + (this.checked ? ' radio-checked' : '') + '">&nbsp;</span></a>').insertAfter(this);
    });
    $('.radio-fx').click(function (e) {
        $check = $(this).prev('input:radio');
        var unique = '.' + this.className.split(' ')[1] + ' span';
        $(unique).attr('class', 'radio');
        $(this).find('span').attr('class', 'radio-checked');
        $check.attr('checked', true);
        $check.change();

    }).keydown(function (e) {
                if ((e.keyCode ? e.keyCode : e.which) == 32) {
                    $(this).trigger('click');
                }
            });


    $('.checkbox-fx').click(function (e) {
        $check = $(this).prev('input:checkbox');

        $check.click();
        if ($check.is(':checked')) {
            $(this).find('span').attr('class', 'checkbox-checked');
            $(this).find('span').removeAttr('checkbox');
        } else {
            $(this).find('span').attr('class', 'checkbox');
            $(this).find('span').removeAttr('checkbox-checked');
        }


    }).keydown(function (e) {
                if ((e.keyCode ? e.keyCode : e.which) == 32) {
                    $(this).trigger('click');
                }
            });

    $('.x-time-picker').timepicker({
        ampm:true,
        timeFormat:'hh:mmTT',
        stepHour:0.5,
        stepMinute:1
    });

    $(".x-datepicker").datepicker({
        dateFormat:'yy-mm-dd'
    });

    $(".x-search-datepicker").datepicker({
        dateFormat:'yy-mm-dd'
    });
</script>