<table id="myTable" cellspacing="1" class="tablefontfix table table-striped table-bordered tblstyle tablesorter">
  <thead class="">
  <tr>
    <th class="tblheader"><b>Scheduled Tasks</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="ui-select" style="width:150px">
      <%= select_tag("filter_type", options_for_select(["All", "Group", "Individual"], :selected => @filter_job),
                     :onchange => "$('#filter_job').val($('#filter_type').val()); $('#search_right').click();") %>
      </div>
    </th>
    <th class="tblheader"><b>Status</b></th>
    <th class="tblheader"><b>Run</b></th>
    <th class="tblheader"><b>Users</b></th>
  </tr>
  </thead>
  <% unless @jobs.blank? %>
      <% @jobs.each do |job| %>
          <tr>
            <td><%= job.description if job.individual == false  %>
              <%= job.ind_description if job.individual == true  %>
            </td>
            <td><%=
                case OwnerJob::STATUS.key job.status
                  when "In Progress"
                    "<a class='btn-flat inprogress' style='pointer-events: none; text-decoration:none; width: 71px; text-align:center;'> In Progress</a>".html_safe
                  when "Queue"
                    "<a class='btn-flat waiting' style='pointer-events: none; text-decoration:none; width: 71px; text-align:center;'>Waiting<br>For Approval </a>".html_safe
                  when "Approved"
                    "<a class='btn-flat approved' style='pointer-events: none; text-decoration:none; width: 71px; text-align:center;'> Approved</a>".html_safe
                  when "Completed", nil
                    "<a class='btn-flat completed' style='pointer-events: none; text-decoration:none; width: 71px; text-align:center;'> Completed</a>".html_safe
                  when "Failed"
                    "<a class='btn-flat inverse' style='pointer-events: none; text-decoration:none; width: 71px; text-align:center;'> Failed</a>".html_safe
                  when "Rejected"
                    "<a class='btn-flat rejected' style='pointer-events: none; text-decoration:none; width: 71px; text-align:center;'> Rejected</a>".html_safe
                end
            %>
              <%=
                  if OwnerJob::STATUS[job.status] == "Completed"
                    link_to "Logs", completed_job_owner_owner_job_path(job), :class => 'btn btn-success'
                  end
              %>
            </td>
            <td>
              <% if job.individual == false %>
                        <%= job.time_to_execute.html_safe if OwnerJob::STATUS.key(job.status) != "Rejected" %>
                  <% else %>
                       <%= date_helper(job.created_at) %>
                  <% end %>
            </td>
            <td>
              <% if OwnerJob::STATUS.key(job.status) == "Completed" and job.individual == false %>
                  <%= job.success_users %>
              <% else %>
                  <%= job.total_users if job.individual == false %>

                  <%= job.individual_email if job.individual == true %>
              <% end %>
            </td>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td colspan="4" style="text-align:center;">&nbsp;</td>
      </tr>
  <% end %>

</table>
<%= will_paginate @jobs %>
</section>

<script>
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function () {
        $('#tableContainer').ajaxloader();
    });
    <% if (@jobs.blank?) and session['skip'] != "true"%>
    $('#myModal').modal('toggle');
    $('#simplemodal-overlay').attr('id', 'bainur');
    $('#bainur').attr('class', 'modal-backdrop fade in');
    $('#simplemodal-container').attr('id', 'bainur2');
    $('#bainur2').attr('class', '');

    <% end %>
</script>
