<div class="the-content-body">
  <div class="" style="margin-left: 40px;">
    <label class="span4" for="inputEmail">
      <%= radio_button_tag "miss_you", "1", false, :id => 'custom_id' %> Create custom task
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </label>
  </div>
  <br/>
  <br/>
  <div class="" style="margin-left: 40px;">
    <label class="span4" for="inputEmail">
            <b>OR</b>    &nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </label>
  </div>
  <br/>
  <br/>

  <div class="" style="margin-left: 40px;">
    <label class="span4" for="inputEmail">
      <%= radio_button_tag "miss_you", "1", false, :id => 'miss_id' %>  Reach out to lapsed users &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </label>
  </div>
  <br/><br/><br/><br/><br/><br/>

<div id="task-info" class="alert alert-info fade in" style="display:none;">
  
</div>


  <%= link_to "Continue", '#', :class => 'btn-glow primary login',
              :onclick => "$('#miss_you_cont_button').hide();$('#wait_miss').show();$.ajax({
url: '#{new_miss_you_owner_owner_jobs_path}',
data: {miss_you : $('#miss_id').is(':checked')},
success: function(response) {
        $('#wait').hide();
        $('#step_4_get').show();
        },
        method: 'get'
        });", :id => 'miss_you_cont_button' %>
  <%= link_to "Loading", '#', :class => 'btn-glow primary login', :id => 'wait_miss', :readonly => true, :style => 'display:none;' %>

</div>

<script>
    $("#owner_job_description,#owner_job_subject_email,#owner_job_points").keypress(function (e) {
        return e.keyCode != 13;
    });

    $('input:checkbox').hide().each(function () {
        var label = $("label[for=" + '"' + this.id + '"' + "]").text();
        var a = this.name;
        var b = a.replace("[", "-");
        b = b.replace("]", "");
        $('<a ' + (label != '' ? 'title=" ' + label + ' "' : '' ) + ' class="checkbox-fx ' + b + '" href="#"><span class="checkbox' + (this.checked ? ' checkbox-checked' : '') + '">&nbsp;</span></a>').insertAfter(this);
    });

    $('input:radio').hide().each(function () {
        var label = $("label[for=" + '"' + this.id + '"' + "]").text();
        var a = this.name;
        var b = a.replace("[", "-");
        b = b.replace("]", "");
        $('<a ' + (label != '' ? 'title=" ' + label + ' "' : '' ) + ' class="radio-fx ' + b + '" href="#"><span class="radio' + (this.checked ? ' radio-checked' : '') + '">&nbsp;</span></a>').insertAfter(this);
    });

    $('.radio-fx').click(function (e) {
        $check = $(this).prev('input:radio');
        var unique = '.' + this.className.split(' ')[1] + ' span';
        $(unique).attr('class', 'radio');
        $(this).find('span').attr('class', 'radio-checked');
        $check.attr('checked', true);
        $check.change();

        if($check.attr('id') == "custom_id"){
          $("#task-info").html("Custom tasks allow you to select a group of users to send a Reward, Points, Email, or Push Notifications to.  You set the date and time you would like to reach your customers.");
        }else if($check.attr('id') == "miss_id"){
          $("#task-info").html("Reaching out to lapsed users (aka sending a \"we miss you\" note) consists of an email, push notification, and reward being sent to all of your program members who have been inactive for more time than you'd like. This notification is set to go out to new user groups once a week, contact your account manager to get started.");
        }

        $("#task-info").show();

    }).keydown(function (e) {
                if ((e.keyCode ? e.keyCode : e.which) == 32) {
                    $(this).trigger('click');
                }
            });


    $('.checkbox-fx').click(function (e) {
        $check = $(this).prev('input:checkbox');

        $check.click();
        if ($check.is(':checked')) {
            $(this).find('span').attr('class', 'checkbox-checked');
            $(this).find('span').removeAttr('checkbox');
        } else {
            $(this).find('span').attr('class', 'checkbox');
            $(this).find('span').removeAttr('checkbox-checked');
        }


    }).keydown(function (e) {
                if ((e.keyCode ? e.keyCode : e.which) == 32) {
                    $(this).trigger('click');
                }
            });

    $('.x-time-picker').timepicker({
        ampm:true,
        timeFormat:'hh:mmTT',
        stepHour:0.5,
        stepMinute:1
    });

    $(".x-datepicker").datepicker({
        dateFormat:'yy-mm-dd'
    });

    $(".x-search-datepicker").datepicker({
        dateFormat:'yy-mm-dd'
    });
</script>