<div class="the-content-body">
  <%= form_tag create_miss_job_owner_owner_jobs_path, :class => 'form-horizontal', :remote => true do %>
      <div id="users_content"></div>
      <div id="step1" style="display:block;">
        <p>&nbsp;</p>

        <%= hidden_field_tag "chain_id", @chain.id %>
        <%= text_field_tag "owner_job[description]", nil %>

        <br/><br/><br/><br/><br/><br/><br/><br/>
      </div>
      <div id="error_miss_you"></div>
      <%= link_to "Back", miss_you_owner_owner_jobs_path, :class => 'btn-glow primary login pull-left', :remote => true, 'data-disable-with' => 'Loading', :id => 'back_miss' %>
      <%= link_to "Continue", miss_you_owner_owner_jobs_path(:preview => true), :class => 'btn-glow primary login pull-right', :remote => true, 'data-disable-with' => 'Loading', :id => 'cont_miss' %>

      <div id="preview_miss_you" style="display:none;"></div>
      <%= submit_tag "Ok", :id => "submit_job_miss_you", :class => 'hidden' %>
  <% end %>
</div>

<script>
    $("#owner_job_description,#owner_job_subject_email,#owner_job_points").keypress(function (e) {
        return e.keyCode != 13;
    });

    $('input:checkbox').hide().each(function () {
        var label = $("label[for=" + '"' + this.id + '"' + "]").text();
        var a = this.name;
        var b = a.replace("[", "-");
        b = b.replace("]", "");
        $('<a ' + (label != '' ? 'title=" ' + label + ' "' : '' ) + ' class="checkbox-fx ' + b + '" href="#"><span class="checkbox' + (this.checked ? ' checkbox-checked' : '') + '">&nbsp;</span></a>').insertAfter(this);
    });

    $('input:radio').hide().each(function () {
        var label = $("label[for=" + '"' + this.id + '"' + "]").text();
        var a = this.name;
        var b = a.replace("[", "-");
        b = b.replace("]", "");
        $('<a ' + (label != '' ? 'title=" ' + label + ' "' : '' ) + ' class="radio-fx ' + b + '" href="#"><span class="radio' + (this.checked ? ' radio-checked' : '') + '">&nbsp;</span></a>').insertAfter(this);
    });
    $('.radio-fx').click(function (e) {
        $check = $(this).prev('input:radio');
        var unique = '.' + this.className.split(' ')[1] + ' span';
        $(unique).attr('class', 'radio');
        $(this).find('span').attr('class', 'radio-checked');
        $check.attr('checked', true);
        $check.change();

    }).keydown(function (e) {
                if ((e.keyCode ? e.keyCode : e.which) == 32) {
                    $(this).trigger('click');
                }
            });


    $('.checkbox-fx').click(function (e) {
        $check = $(this).prev('input:checkbox');

        $check.click();
        if ($check.is(':checked')) {
            $(this).find('span').attr('class', 'checkbox-checked');
            $(this).find('span').removeAttr('checkbox');
        } else {
            $(this).find('span').attr('class', 'checkbox');
            $(this).find('span').removeAttr('checkbox-checked');
        }


    }).keydown(function (e) {
                if ((e.keyCode ? e.keyCode : e.which) == 32) {
                    $(this).trigger('click');
                }
            });

    $('.x-time-picker').timepicker({
        ampm:true,
        timeFormat:'hh:mmTT',
        stepHour:0.5,
        stepMinute:1
    });

    $(".x-datepicker").datepicker({
        dateFormat:'yy-mm-dd'
    });

    $(".x-search-datepicker").datepicker({
        dateFormat:'yy-mm-dd'
    });
</script>