<!-- Modal Welcome to the Take Action -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="left: 0px; right: 0px; margin: auto;">
  <div class="modal-header">
    <h3 id="myModalLabel">Tutorial</h3>
  </div>

  <div class="modal-body" style="text-align: justify;">
    <dl>
      <dd>Welcome to the Take Action section of your dashboard. Here is where you will have the opportunity to reach out directly to your customers. Send rewards, points, or notifications to select groups in a few easy steps.</dd>
      <br />
      <dd>
        There are two options on this page, you can reach a group of your customers or reach a single    customer.
      </dd><br/>
      <dd>

        There are two options to choose from when you select to reach out to a group of customers, you can customize a task or create a "we miss you email"
      </dd><br/>
      <dd>How to create a custom task</dd>
      <ul class="unstyled">
        <li>&nbsp;</li>
      </ul>
      <dd>1. Name Your Task</dd>
      <dd>2. Select the customer group you’d like to reach</dd>
      <dd>3. Choose what to send to your customers</dd>
      <dd>4. Schedule when your points, rewards, or notifications will be sent.</dd>
      <br/>

      <dd>How to reach out to lapsed users</dd>
      <br/>
      <dd>
        Contact your account manager to set up a "We miss you" type of notification and reach your lapsed users. Reaching out to lapsed users consists of an email, push notification, and reward being sent to all of your program members who have been inactive for more time than you'd like. This notification is set to go out to new user groups once a week.
      </dd>
      <br/>
      <dd>If you select to reach a single customer all you'll need to do is enter their email address and select what you'd like to send to them. </dd>
      <br/>
      <dd>If you have any questions about using the Take Action section of the dashboard please contact</dd>
      <dd>
        <address>
          <a href="mailto:support@relevantmobile.com?Subject=Owner%20takeAction" target="_top">
            support@relevantmobile.com</a>
        </address>
      </dd>
    </dl>
    <%= link_to "I understand", owner_owner_jobs_path(:skip => true), :class => 'btn pull-right' %>
  </div>
</div>


<!-- Modal New Job -->
<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="left: 0px; right: 0px; margin: auto;">
  <div class="modal-header" style="">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close_button">×</button>
    <%= link_to "x", owner_owner_jobs_path, :class => "close", :id => 'close_button_non_ajax', :style => "display:none;" %>
  </div>
  <h2 class="modal-title" id="title_job" style="text-align: center;">Loading</h2>
  <br/>

  <div class="modal-body" id="body_modal">
    <%= image_tag "loading.gif" %>
  </div>
</div>