<%= link_to "Back", new_owner_owner_job_path(:step => previous_step), :class => 'btn-glow primary login pull-left', :remote => true, 'data-disable-with' => 'Loading' if next_step != 1 %>
<%= link_to "Back", miss_you_owner_owner_jobs_path, :class => 'btn-glow primary login pull-left', :remote => true, 'data-disable-with' => 'Loading' if next_step == 1 %>

<% if next_step == 5 %>
    <%= link_to "Continue", '#', :onclick => "$('#close_button').hide();$('#cnt').hide();$('#wait').show();$('#submit_job').click();return false;",
                :class => 'btn-glow primary login pull-right', :id => 'cnt' %>
    <%= link_to "Loading", '#', :class => 'btn-glow primary login pull-right', :id => 'wait', :readonly => true, :style => 'display:none;' %>

<% elsif next_step == 1 or next_step == 0 %>
    <%= link_to "Continue", new_owner_owner_job_path(:step => next_step),
                :remote => true, :class => 'btn-glow primary login pull-right', 'data-disable-with' => 'Loading' %>

<% elsif next_step == 4 %>
    <%= link_to "Continue", '#', :class => 'btn-glow primary login pull-right',
                :onclick => "$('#step_4_get').hide();$('#wait1').show();$.ajax({
url: '#{new_owner_owner_job_path}',
data: {step : '4', user_count :  $('.owner_job-percentage:checked').val().replace('.0', '')+'_'+$('.owner_job-activity_days:checked').val().replace('.0', '')},
success: function(response) {
        $('#wait').hide();
        $('#step_4_get').show();
        },
        method: 'get'
        });", :id => 'step_4_get'  %>
    <%= link_to "Loading", '#', :class => 'btn-glow primary login pull-right', :id => 'wait1', :readonly => true, :style => 'display:none;' %>


<% else %>
    <%= link_to "Continue", new_owner_owner_job_path(:step => next_step),
                :remote => true,
                :class => 'btn-glow primary login pull-right',
                'data-disable-with' => 'Loading' %>

<% end %>
