<% cr = owner.has_role?(:create) ||
        owner.has_role?(:create_email)||
        owner.has_role?(:create_process)||
        owner.has_role?(:create_email_process) %>
<% but_cr_state = cr == true ? "ON" : "OFF" %>
<% color_create = cr == true ? "" : "btn-danger" %>
Create <%= link_to but_cr_state,
                   set_user_owner_status_admin_owner_path(
                           @chain,
                           :mode => "create", :val => cr == true ? "OFF" : "ON", :user_id => owner.id),
                   :class => "btn #{color_create}",
                   :remote => true,
                   :confirm => "Are you sure want to turn #{cr != true ? "ON" : "OFF"}?"
%>
<br/>
<% pr =owner.has_role?(:process) || owner.has_role?(:create_process) || owner.has_role?(:create_email_process) %>
<% but_pr_state = pr == true ? "ON" : "OFF" %>
<% color_process = pr == true ? "" : "btn-danger" %>
Process <%= link_to but_pr_state,
                    set_user_owner_status_admin_owner_path(@chain,
                                                           :mode => "process",:val =>  pr == true ? "OFF" : "ON", :user_id => owner.id), :class => "btn #{color_process}",
                    :remote => true,
                    :confirm => "Are you sure want to turn #{pr != true ? "ON" : "OFF"}?"
%>


<br/>
<% em = owner.has_role?(:create_email_process) ||
        owner.has_role?(:email) ||
        owner.has_role?(:create_email)||
        owner.has_role?(:email_process)  %>
<% but_state = em == true ? "ON" : "OFF" %>
<% color_email = em == true ? "" : "btn-danger" %>
Email <%= link_to but_state, set_user_owner_status_admin_owner_path(@chain,
                                                                    :mode => "email",:val => em == true ? "OFF" : "ON", :user_id => owner.id),
                  :class => "btn #{color_email}",
                  :remote => true,
                  :confirm => "Are you sure want to turn #{em != true ? "ON" : "OFF"}?"
%>
