<% unless @definition.blank? %>
<div class="the-content-body">
  <div id="preview_miss_you">
    <div id="preview_step1" class="span4">

    </div>
    &nbsp;
    <hr/>
    <div id="preview_step0" class="span4">
      <%= @definition.step1_info.html_safe %>
    </div>
    &nbsp;

    <hr/>
    <div id="preview_step2" class="span4"><%= @definition.step2_info.html_safe %></div>
    &nbsp;
    <hr/>
    <div id="preview_step3" class="span4">Executed At : <%= @definition.time_string.html_safe %>&nbsp;
    </div>
    &nbsp;
    <hr/>
    <br/>
  </div>
</div>
<%= render :partial => 'submit_miss_you' %>
    <% else %>

<% end %>