<div id="preview_desc" class="span4"></div><%= link_to "Edit", new_owner_owner_job_path(:step => 0),:class => 'btn primary', :remote => true, 'data-disable-with' => 'Loading..' %>
<hr />
<div id="preview_step1" class="span4"></div> <%= link_to "Edit", new_owner_owner_job_path(:step => 1),:class => 'btn primary', :remote => true, 'data-disable-with' => 'Loading..' %>
<hr />
<div id="preview_step2" class="span4"></div><%= link_to "Edit", new_owner_owner_job_path(:step => 2),:class => 'btn primary', :remote => true, 'data-disable-with' => 'Loading..' %>
<hr />
<div id="preview_step3" class="span4"></div><%= link_to "Edit", new_owner_owner_job_path(:step => 3),:class => 'btn primary', :remote => true, 'data-disable-with' => 'Loading..' %>
<hr />

<br/>
<%= render :partial => 'next_previous', :locals => {:next_step => 5, :previous_step => 3} %>