var success = false;
var schedule_type = 1;
/*
 * 1 one time
 * 2 daily
 * 3 weekly
 * 4 monthly
 * */

success = true; // for testing purpose
if (success == true) {
    $('#error_datetime').html('');
    $('#step1').hide();
    $('#step3').hide();
    $('#step4').hide();
    $('#step2').hide();

// description
    $('#preview_desc').html("Title : " + $('#owner_job_description').val() );

// step 1
    if ($('#by_percentage').is(':checked')) {
        $('#preview_step1').html("There are <%= session[:user_have_not] %> users in this group.");
    } else if ($('#by_activity').is(':checked')) {
        $('#preview_step1').html("There are <%= session[:user_have] %> users in this group.");
    } else {
        $('#preview_step1').html($('#by_users_content').text());
    }

// step 2
    var arr1 = [];
    if ($('#by_reward').is(':checked')) {
//reward
        $('#preview_step2').html('Sending ' + $('#owner_job_reward_id option:selected').text() + 'Reward');
    } else if ($('#by_point').is(':checked')) {
// point
        $('#preview_step2').html('Sending: '+ $('#owner_job_points').val() + ' Points');
    } else {
// notification
        var notif = "";
        if ($('#owner_job_push_email').is(':checked')){
            notif = "Email"
        }
        if ($('#owner_job_push_phone').is(':checked')){
            notif = "Push"
        }
        if($('#owner_job_push_email').is(':checked') && $('#owner_job_push_phone').is(':checked')){
            notif = "Email And Push"
        }

        $('#preview_step2').html('Sending: '+ notif +' Notification');
    }

    $('#title_job').html('Preview Task');
    $('#preview').show();

// step 3
    var from_to = "<br /> From " + $('#start_date').val() + " To " + $('#end_date').val();
    if(schedule_type == 1){
        $('#preview_step3').html("Scheduled @ "+$('#date').val()+" "+$('#time_stamp__4i option:selected').text().replace(' ',':'+$('#time_stamp__5i').val()) +" EDT");
    }else if(schedule_type == 2){
        $('#preview_step3').html("Scheduled daily every "+$('#daily__4i option:selected').text().replace(' ',':'+$('#daily__5i').val())+" EDT"+ from_to );
    }else if(schedule_type == 3){
        $('#preview_step3').html("Scheduled Weekly Every "+$('#weekly option:selected').text()+ " @ "+$('#time_stamp_weekly__4i option:selected').text().replace(' ',':'+$('#time_stamp_weekly__5i').val()) + from_to );
    } else if(schedule_type == 4){
        $('#preview_step3').html("Scheduled Monthly , Every "+$('#monthly option:selected').text()+ "" + " @ " +$('#time_stamp_montly__4i option:selected').text().replace(' ',':'+$('#time_stamp_montly__5i').val()) + from_to);
    }

}

$('#wait1').hide();
