<%= form_tag search_job_type_owner_owner_jobs_path, :class => 'pull-right', :method => :get, :remote => true do %>
    <div class="">
      <div title="" data-toggle="tooltip" class="head" data-original-title="">
        <input type="text" placeholder="Search email adress..." class="span8 search" name="email">
        <%= hidden_field_tag "filter_job",nil %>
        <%= submit_tag "search",:id => 'search_right', :class => 'btn btn-info pull right', :onclick => "$('#myTable').ajaxloader();
        $('#filter_type').val('Individual');", 'data-disabled-with' => 'Please Wait' %>
      </div>
    </div>
<% end %>