<div id="error_datetime" class="alert-error"></div>
<div class="control-group">
  <label class="span4 offset1" for="inputEmail">
    <div style="display:none;">
    <%= radio_button_tag "owner_job[schedule_type]", "1", true, :id => 'by_one_time' %> One Time
    </div>
  </label>

  <div class="radio-child">
    <div id="by_one_time_content" style="display:block;margin-left:0%;">
      Date <%= text_field_tag 'date', (Time.zone.now + 72.hours).strftime('%Y-%m-%d'), :class => 'x-datepicker', :style => 'widht:60px;cursor: pointer;', :readonly => true %>
      <br/>
      Time
      <%= time_select 'time_stamp', nil, {:ampm => true, :minute_step => 15}, {:class => "custom-select time-select"} %>&nbsp;<%= Time.zone.now.strftime('%Z') %>
      <br/>
    </div>
  </div>
</div>

<div class="control-group label-box-custom">
  <div id="start_hide" class="hide">
  <label class="control-label" for="xx" style="margin-right: 10px;">
    Start Date
  </label>

  <div class="control">
    <%= text_field_tag 'start_date', (Time.zone.now + 72.hours).strftime('%Y-%m-%d'), :class => 'start-datepicker', :style => 'widht:60px;cursor: pointer;', :readonly => true %>
  </div>
  </div>
</div>

<div class="control-group label-box-custom">
  <div id="end_hide" class="hide">
  <label class="control-label" for="xx" style="margin-right: 10px;">
    End Date
  </label>

  <div class="control">
    <%= text_field_tag 'end_date', (Time.zone.now + 72.hours).strftime('%Y-%m-%d'), :class => 'start-datepicker', :style => 'widht:60px;cursor: pointer;', :readonly => true %>
  </div>
  </div>
</div>

<%= render :partial => 'next_previous', :locals => {:next_step => 4, :previous_step => 2} %>

<script>
    $(document).ready(function () {
        $(".time-select").wrap('<div class="ui-select-custom time-wrap" />');

        $('#date_view').text($('#time_stamp__4i option:selected').text().replace(' ',':'+$('#time_stamp__5i').val()));
        $('#time_stamp__4i').change(function () {
            $('#date_view').text($('#time_stamp__4i option:selected').text().replace(' ',':'+$('#time_stamp__5i').val()));
        });

        $('#time_stamp__5i').change(function () {
            $('#date_view').text($('#time_stamp__4i option:selected').text().replace(' ',':'+$('#time_stamp__5i').val()));
        });

        $('.x-time-picker').timepicker({
            ampm:true,
            stepHour:0.5,
            stepMinute:1
        });

        $(".x-datepicker").datepicker({

            minDate:2,
            onSelect:function (theDate) {
                $("#dataEnd").datepicker('option', 'minDate', new Date(theDate));
            },
            beforeShow:function () {
                $('#ui-datepicker-div').css('z-index', 9999);
            },
            dateFormat:'yy-mm-dd'
        });

        $(".start-datepicker").datepicker({
            minDate:2,
            onSelect:function (theDate) {
                $("#dataEnd").datepicker('option', 'minDate', new Date(theDate));
            },
            beforeShow:function () {
                $('#ui-datepicker-div').css('z-index', 9999);
            },
            dateFormat:'yy-mm-dd'
        });


        $('#by_one_time').change(function () {
            reset_schedule();
            $('#by_one_time_content').show();
            $('#start_hide').hide();
            $('#end_hide').hide();
        });

        $('#by_daily').change(function () {
            reset_schedule();
            $('#by_daily_content').show();
        });
        $('#by_weekly').change(function () {
            reset_schedule();
            $('#by_weekly_content').show();
        });

        $('#by_monthly').change(function () {
            reset_schedule();
            $('#by_monthly_content').show();
        });


    });
    function reset_schedule() {
        $('#by_one_time_content').hide();
        $('#by_daily_content').hide();
        $('#by_weekly_content').hide();
        $('#by_monthly_content').hide();
        $('#start_hide').show();
        $('#end_hide').show();
    }
</script>