<div class="control-group">
  <label class="span4 offset1" for="inputEmail">
    <% if @question1.blank? %>
        <%= radio_button_tag "owner_job[job_type]", "1", true, :id => 'by_percentage' %> Select users who <b>have not<b/> visited in
    <% else %>
        <%= radio_button_tag "owner_job[job_type]", "1", true, :id => 'by_percentage' %> <%= @question1.text.gsub('have not','<b>have not</b>').html_safe %>
    <% end %>
  </label>

  <div class="controls">

  </div>
</div>
<div id="by_percentage_content" style="display:block;" class="radio-child">
  <% unless @question1.blank? %>
      <% unless @question1.dashboard_choices.blank? %>
          <% @question1.dashboard_choices.each_with_index do |choice, index| %>
              <% checked = false %>
              <% checked = true if index == 0 %>
              <%= radio_button_tag "owner_job[percentage]", choice.value, checked, :class => "radio_percent owner_job-percentage" %>
              <%= choice.value.to_i %> <%= choice.value.to_i == 1 ? "week" : "weeks" -%> <br/>
          <% end %>
      <% else %>
        <%= radio_button_tag "owner_job[percentage]", "5", true, :class => "radio_percent owner_job-percentage" %> 5 weeks <br/>
        <%= radio_button_tag "owner_job[percentage]", "10", false, :class => "radio_percent owner_job-percentage" %> 10  weeks  <br/>
        <%= radio_button_tag "owner_job[percentage]", "25", false, :class => "radio_percent owner_job-percentage" %> 25 weeks <br/>      
      <% end %>
  <% else %>
      <%= radio_button_tag "owner_job[percentage]", "5", true, :class => "radio_percent owner_job-percentage" %> 5 weeks <br/>
      <%= radio_button_tag "owner_job[percentage]", "10", false, :class => "radio_percent owner_job-percentage" %> 10  weeks  <br/>
      <%= radio_button_tag "owner_job[percentage]", "25", false, :class => "radio_percent owner_job-percentage" %> 25 weeks <br/>
  <% end %>
  <a href="#"  id="show_users" class="btn-mini btn-custom-offset1" style="">Tally Users</a>
  <a href="#"  id="show_users_loading" class="btn-mini btn-custom-offset1" style="display: none;">Loading</a>
</div>  <br />

<div class="control-group">
  <label class="span4 offset1" for="inputEmail">
    <% if @question2.blank? %>
        <%= radio_button_tag "owner_job[job_type]", '2', false, :id => 'by_activity' %>Select users who <b>have</b> visited in
    <% else %>
        <%= radio_button_tag "owner_job[job_type]", '2', false, :id => 'by_activity' %> <%= @question2.text.gsub('have','<b>have</b>').html_safe %>
    <% end %>
  </label>

  <div class="controls">

  </div>
</div>
<div id="by_activity_content" style="display:none;" class="radio-child">
  <% unless @question2.blank? %>
      <% unless  @question2.dashboard_choices.blank? %>
          <% @question2.dashboard_choices.each_with_index do |choice, index| %>
              <% checked = false %>
              <% checked = true if index == 0 %>
              <%= radio_button_tag "owner_job[activity_days]", choice.value, checked,
                                   :class => "radio_day owner_job-activity_days" %> <%= choice.value.to_i %>
              <%= choice.value.to_i == 1 ? "week" : "weeks" -%> <br/>
          <% end %>
      <% else %>
        <%= radio_button_tag "owner_job[activity_days]", "5", true, :class => "radio_day owner_job-activity_days" %> 5 weeks <br/>
        <%= radio_button_tag "owner_job[activity_days]", "10", false, :class => "radio_day owner_job-activity_days" %> 10 weeks <br/>
        <%= radio_button_tag "owner_job[activity_days]", "25", false, :class => "radio_day owner_job-activity_days" %> 25 weeks <br/>
      <% end %>
  <% else %>
      <%= radio_button_tag "owner_job[activity_days]", "5", true, :class => "radio_day owner_job-activity_days" %> 5 weeks <br/>
      <%= radio_button_tag "owner_job[activity_days]", "10", false, :class => "radio_day owner_job-activity_days" %> 10 weeks <br/>
      <%= radio_button_tag "owner_job[activity_days]", "25", false, :class => "radio_day owner_job-activity_days" %> 25 weeks <br/>
  <% end %>
  <a href="#" id="show_users_day"  class="btn-mini btn-custom-offset1" style="">Tally Users</a>
  <a href="#"  id="show_users_day_loading"  class="btn-mini btn-custom-offset1" style="display: none;">Loading</a>
</div>  <br />


<div class="control-group">
  <label class="span4 offset1" for="inputEmail">
    <%= radio_button_tag "owner_job[job_type]", '3', false, :id => 'by_users' %>
    Select all of your program members
  </label>

  <div class="controls">
    <div id="by_users_content" style="display:none;">
      <%= hidden_field_tag "owner_job[chain_id]", current_owner.chain.id %>
      There are <%= @users_count %> users in this group.
    </div>
  </div>
</div>
<%= render :partial => 'next_previous', :locals => {:next_step => 2, :previous_step => 0} %>

<script>
    $(document).ready(function () {
        jQuery('#owner_job_percentage').keyup(function () {
            if (this.value.length > 3) {
                this.value = this.value.substr(0, 4);
            }
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });

        jQuery('#owner_job_activity_days').keyup(function () {
            if (this.value.length > 4) {
                this.value = this.value.substr(0, 4);
            }
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });

        jQuery('#owner_job_amount_min').keyup(function () {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });
        jQuery('#owner_job_amount_max').keyup(function () {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });

        $('#by_percentage').change(function () {
            reset_selection();
            $('#by_percentage_content').show();
        });

        $('#by_activity').change(function () {
            reset_selection();
            $('#by_activity_content').show();
        });

        $('#by_users').change(function () {
            reset_selection();
            $('#by_users_content').hide();
            $('#users_content').html("" +
                    "<div class='alert fade in'> " +
                    "<button data-dismiss='alert' class='close' type='button'>×</button>" +
                    "There are  <%= @users_count %> users in this group." +
                    "</div>");
        });

        function reset_selection() {
            $('#users_content').html('');
            $('#by_percentage_content').hide();
            $('#by_activity_content').hide();
            $('#by_users_content').hide();
        }

        $('#show_users').click(function () {
            $('#show_users').hide();
            $('#show_users_loading').css('display', 'inline-block');
            min = $('#owner_job_amount_min').val();
            max = $('#owner_job_amount_max').val();
            percent = $('.owner_job-percentage:checked').val();
            $.get('/owner/jobs/search_users?percentage=' + percent + '&min=' + min + '&max=' + max);
            return false;
        });

        $('#show_users_day').click(function () {
            d = $('.owner_job-activity_days:checked').val();
            $('#show_users_day').hide();
            $('#show_users_day_loading').css('display', 'inline-block');
            $.get('/owner/jobs/search_users?activity_days=' + d);
            return false;
        });


    });
</script>