<p>&nbsp;</p>


<%= text_field_tag "owner_job[description]", nil %>

<br /><br /><br /><br /><br /><br /><br /><br />
<%= render :partial => 'next_previous', :locals => {:next_step => 1, :previous_step => 0} %>


