<%= link_to "Continue", '#', :onclick => "$('#close_button').hide();$('#cnt').hide();$('#wait_miss').show();$('#submit_job_miss_you').click();return false;",
            :class => 'btn-glow primary login pull-right', :id => 'cnt' ,:style=>""%>
<%= link_to "Loading", '#', :class => 'btn-glow primary login pull-right', :id => 'wait_miss', :readonly => true, :style => 'display:none;' %>

<%= link_to "Back",new_miss_you_owner_owner_jobs_path(:miss_you => 'back'), :class => 'btn-glow primary login pull-left', :remote => true, 'data-disable-with' => 'Loading', :id => 'cnt_back' %>