<div class="alert fade in">
  <button data-dismiss="alert" class="close" type="button">×</button>
  There are <%=
    begin
      if @users.class != Fixnum
        @users.to_a.size
      else
        @users
      end
    rescue
      0
    end
%> found users in this group.
</div>
