<% content_for :top_menu do %>
    <%= render "owner/greetings/top_menu" %>
<% end %>
<section class="contentwraper">
  <section class="summarycontent" style="width:97%;">
    <div class="page-header">
      <h2 id="title_job" class="span11">History for <%= @job.description %></h2>
    </div>
  </section>

  <section class="pullcontent">
    <section id="tableContainer" class="scroll-pane tableContainer tablewraper clrmrgn">
      <table cellspacing="1" class="tablefontfix table table-striped table-bordered tblstyle tablesorter" id="myTable">
        <thead class="">
        <tr>
          <th class="tblheader"><b>Status</b></th>
          <th class="tblheader"><b>User Ids</b></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Success User id :</td>
          <td><%= debug @history.success rescue [] %></td>
        </tr>
        <tr>
          <td>Failed User Id :</td>
          <td><%= debug @history.failed rescue [] %></td>
        </tr>
        </tbody>

    </section>
  </section>
</section>