$('#title_job').html('Success');
$('#tableContainer').html('<%= escape_javascript render 'list' %>');
$('#users_content').html('');
$('#preview').html('<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your task was successfully created');
$('#close_button').hide();
$('#close_button_non_ajax').show();
if ($('#preview').is(':visible') == false) {
    $('.modal-backdrop').hide();
}
$('#success_notice').html("<div class='alert fade in'><button data-dismiss='alert' class='close' type='button'>×</button>" +
        "<h4 class='alert-heading'>Success!</h4>" +
        "<p>Job successfully created </p></div> ");

