<% if @validate == false  #there is an error for this %>
if(($('#by_point').is(':checked') && $('#owner_job_points').val() == "" &&
        isNaN($('#owner_job_points').val()) == false) ||
        ($('#by_point').is(':checked') && parseInt($('#owner_job_points').val()) < 1)){
 // if points, users didnt input it
    $('#owner_job_points').addClass('error');
}else{
    $('#owner_job_points').removeClass('error');
}
if($('#by_reward').is(':checked') && $('#owner_job_reward_id').val() == ""){
    $('.ui-select').addClass('error');
}else{
    $('.ui-select').removeClass('error');
}

if($('#user_email').val() == ""){
    $('#user_email').addClass('error');
}else{
    $('#user_email').removeClass('error');
}

$('#individual_submit').show();
$('#sub_loader').hide();
$('#close_button').show();
<% else %>
    window.location = "<%= owner_owner_jobs_path %>";
<% end %>