<div class="row-fluid section">
  <div>
  <a href="#myModal" style="background:grey;color:white;" role="button" class="btn pull-right" data-toggle="modal" alt="click here to see the tutorial">Help</a>
  </div>
  <div class="span2">
      <h3>My Tasks</h3>
  </div> <br/><br/>
  <div class="span11" style="width:97.453%;">
   <a href="#myModal1" style="border:1px solid black;font-size:17px;pointer-events:inherit;background:#64AAD0;" role="button" class="btn-flat success new-product" data-toggle="modal" data-backdrop="static" data-keyboard="false" onclick="
    $('#users_content').html('');$.get('<%=  miss_you_owner_owner_jobs_path %>');$('#body_modal').html('');$('#title_job').html('Loading ... ');
    ">Reach a group of customers</a>

    <a href="#myModal1" style="border:1px solid black;font-size:17px;pointer-events:inherit;background:#64AAD0;" role="button" class="btn-flat success new-product" data-toggle="modal" data-backdrop="static" data-keyboard="false" onclick="
    $('#users_content').html('');$.get('<%=  individual_owner_owner_jobs_path %>');$('#body_modal').html('');$('#title_job').html('Loading ... ');
    ">Reach a customer </a>

    <%= render 'search_form' %>
  </div>
</div>
<br /><br />

<div class="table-wrapper products-table section">
  <div class="row-fluid" id="tableContainer">
      <%= render 'list' %>
  </div>
</div>

<% content_for :modal do %>
  <%= render 'owner/owner_jobs/modal_jobs' %>
<% end %>