<% if params['preview'].blank? %>
$('#error_definition').remove();
$('#modal_jobs').show();
$('#body_modal').html('<%= escape_javascript(render 'miss_you_form') %>');
$('#title_job').html('What would you like to do');
$('#step1').show();
$('#preview_miss_you').hide();
$('#back_miss').show();
$('#cont_miss').show();
<% else %>
<% unless @definition.blank?  # if definition is not yet set%>
if ($('#owner_job_description').val() != '') {
    $('#modal_jobs').show();
    $('#step1').hide();
    $('#preview_miss_you').html('<%= escape_javascript(render 'preview_miss_you') %>');
    $('#preview_miss_you').show();
    $('#title_job').html('Preview &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
    var a = $('#owner_job_description').val();
    $('#preview_step1').html("Title : " + a);
    $('#back_miss').hide();
    $('#cont_miss').hide();
} else {
    $('#owner_job_description').addClass('error');
}
<% else %>
$('#error_definition').remove();
$("<p class='alert fade in' id='error_definition'>Definition is not set Yet For this chain.<button data-dismiss='alert' class='close' type='button'>×</button></p>").insertAfter('#title_job');

<% end %>
<% end %>
