<% if @error.blank? %>
<% if @step == 0 and !@first_time.blank? %>
$('#modal_jobs').show();
$('#body_modal').html('<%= escape_javascript(render 'job_form') %>');
$('#title_job').html('Create Your Task');
$('#step1').show();
$('#preview').hide();
<% elsif @step == 0 and @first_time.blank? %>
$('#modal_jobs').show();
$('#step1').show();
$('#step3').hide();
$('#step4').hide();
$('#step2').hide();
$('#preview').hide();
$('#title_job').html('Create Your Task');
<% elsif @step == 1 %>
if ($('#owner_job_description').val() != '') {
    $('#step1').hide();
    $('#step3').hide();
    $('#step4').hide();
    $('#step2').show();
    $('#title_job').html('Select Users');
    $('#error_desc').hide();
    $('#owner_job_description').removeClass('error');
    $('#preview').hide();
} else {
    $('#owner_job_description').addClass('error');
}
<% elsif @step == 2 %>
<%= render 'validation_step1' %>
<% elsif @step == 3 %>
<%= render 'validation_step2' %>
<% elsif @step ==4 %>
<%= render 'preview_javascript' %>
<% end %>

<% else %>
$('#error').html('<%= @error.join('<br />').html_safe %>')
<% end %>