<% if params["miss_you"] == "true" %>
<% unless @definition.blank? #if task definition is not set by chain%>
if ($('#custom_id').is(':checked') || $('#miss_id').is(':checked')) {
    $('#body_modal').html('');
    $('#title_job').html('Loading ... ');
    $('#body_modal').html('<%= escape_javascript(render 'miss_you') %>');
    $('#title_job').html('Name Your Task');
}
else {
    $("<div class='alert fade in' id='error_pop'><button data-dismiss='alert' class='close' type='button'>×</button>Please select the choice.</div>").insertBefore("#miss_you_cont_button");
    $('#miss_you_cont_button').show();
    $('#wait_miss').hide();
    window.setTimeout(function () {
        $("#error_pop").fadeTo(5000, 0).slideUp(5000, function () {
            $(this).hide();
        });
    }, 5000);
}
<% else %>
$('#task-info').html('please contact your account manager to set up this task');
$('#wait_miss').hide();
$('#miss_you_cont_button').show();
<% end %>
<% elsif params["miss_you"] == "back" %>

$('#preview_miss_you').hide();
$('#step1').show();
$('#title_job').html('Name Your Task');
$('#back_miss').show();
$('#cont_miss').show();
$('#cnt').hide();
$('#cnt_back').hide();

<% else %>
if ($('#custom_id').is(':checked') || $('#miss_id').is(':checked')) {
    $('#users_content').html('');
    $.get('/owner/jobs/new?first_time=true');
    $('#body_modal').html('');
    $('#title_job').html('Loading ... ');
}else
    {
        $("<div class='alert fade in' id='error_pop'><button data-dismiss='alert' class='close' type='button'>×</button>Please select the choice.</div>").insertBefore("#miss_you_cont_button");
        $('#miss_you_cont_button').show();
        $('#wait_miss').hide();
        window.setTimeout(function () {
            $("#error_pop").fadeTo(5000, 0).slideUp(5000, function () {
                $(this).hide();
            });
        }, 5000);
    }
<% end %>