$('#show_users_loading').hide();
$('#show_users_day_loading').hide();
$('#show_users').show();
$('#show_users_day').show();
var array_success = [];
if ($('#by_percentage').is(':checked')) {
    percent = $('#owner_job_percentage').val();
        $('#owner_job_percentage').removeClass('error');
        $('#users_content').html('<%= escape_javascript render 'user_list' %>');
} else if ($('#by_activity').is(':checked')) {
        $('#users_content').html('<%= escape_javascript render 'user_list' %>');
}
