<%= session['skip']= 'true' %>
$('#tableContainer').html('<%= escape_javascript(render 'list') %>');
<% unless @email.blank? %>
$('#filter_type').val('Individual');
<% else %>
$('.span8.search').val('');
<% end %>
$('#myTable').ajaxloader('hide');