<%= custom_form_for([:admin, @image], :url => admin_chain_faqimages_path(@chain), :html => {:multipart => true}) do |f| %>
    
        <%= f.input :image, :as => :file, :label => "Upload Image" %>
    
    <%= f.submit "Upload", :class => "btn btn-primary", :onclick => "$('#image_loader_save').show()" %><%= image_tag "loader.gif", :id => "image_loader_save", :style => "display:none" %>
    <%= link_to "Cancel", admin_chain_faqimages_path(@chain), class: "btn" %>
<% end %>