<div class="page-header">
	<h3><%= @chain.name %> -- FAQ Image Pages</h3>
</div>

<table>
  <thead>
    <tr>
    	<th>ID</th>
      <th>Preview</th>
    	<th>URL</th>
    	<th>Description</th>
    	<th>Action</th>
    </tr>
  </thead>
</table>
<% @images.each do |img| %>
<table id="content_img_<%= img.id %>" class="table"> 
  <tr id="img_<%= img.id %>">
     <td><%= img.id %></td>
     <td><%= image_tag img.image.url(:thumb) %></td>
    <td><%= img.image.url %></td>
     <td><%= img.description rescue nil %></td>
     <td>
      <%#= link_to "Edit", edit_admin_chain_faqimages_path(@chain, img), :class => "btn btn-primary" %>
 <!--       |  -->
      <%= link_to 'Destroy', destroy_admin_chain_faqimages_path(@chain, img), confirm: 'Are you sure?', :class => "btn btn-danger" %>
     </td>
  </tr>

</table>    
<% end %>


<%= link_to "New", new_admin_chain_faqimages_path(@chain), :class => "btn btn-primary" %>
<%= link_to "Back", admin_chain_faqs_path(@chain), :class => "btn btn-primary" %>