<table>
  <tr>
    <td>User ID</td>
    <td>Email</td>
    <td>Share Date / Time</td>
    <td>Medium</td>
    <td>Got Incentive</td>
    <td>Msg</td>
  </tr>
  <% @participants.each do |par| %>
      <tr>
        <td><%= par.user_id%></td>
        <td><%= par.email %></td>
        <td><%= par.created_at %></td>
        <td><%= par.medium %></td>
        <td><%= par.received == true ? "Yes" : "No"%></td>
        <td><%= par.log %></td>
      </tr>
  <% end %>
  <tfoot>
  <tr>
    <td colspan="5" style="text-align: center">
      <%= will_paginate @participants %>
    </td>
  </tr>
  </tfoot>
</table>