<% if params[:export].blank? %>
    $('#share_container').html('<%= escape_javascript( render 'list') %>');
    $('#share_container').ajaxloader('hide');
<% else %>
$('.span12').ajaxloader('hide');
$('#notif').html("" +
        "<div class='alert fade in'> " +
        "<button data-dismiss='alert' class='close' type='button'>×</button>" +
        "Your Csv email will be sent shortly" +
        "</div>");
<% end %>