<%#= debug @participants %>
<div class="page-header">
  <h3>Participant <%= @social.name %></h3>
</div>
<div id="notif"></div>
<%= form_tag admin_social_share_participants_path(@social), :method => :get, :remote => true do %>
    <label>Filter</label>
    <div class="span3">
    User id / Email     <br/>
    <%= text_field_tag "search[user_id]", nil %> <br/>
    </div>
    Got Incentive Status     <br/>
    <%= select_tag "search[incentive_status]", options_for_select([["All",nil],["Yes", true],
                                                                   ["No", false]])%> <br/>
    <div class="span3">
    Media <br/>
    <%= select_tag "search[medium]", options_for_select([["All",nil],["Facebook", "1"],
                                                         ["Twitter", "2"],
                                                                  ["Instagram","3"]])%> <br/>
      </div>
    <br/>
    <%= submit_tag "Search", :onclick => "$('#share_container').ajaxloader();", :id => 'submit_btn' %>
    <%= link_to "clear filter", "#",
                :onclick => "$('#search_user_id').val('');
                             $('#search_incentive_status').val('');
                             $('#search_medium').val('');
                          $('#submit_btn').click();return false;"%>
<% end %>
<hr/>
<div style="clear:both"></div>
<div id="share_container">
<%= render 'list' %>
</div>
<%= link_to "Back", admin_social_shares_path, :class => "btn btn-primary" %>
<%= link_to "Export to csv", request.parameters.merge({:export => "true"}),
             :class => "btn" , :remote => true,
            :onclick => "
            if (confirm('Csv Will be sent to your email ?')) {
            $('.span12').ajaxloader();
                } else {
            // Do nothing!
            }
            "%>

