<thead>
<tr>
  <th>Restaurant</th>
  <th style="text-align: center;">JSON Check</th>
  <th style="width:130px;text-align: center;">Short Code</th>
  <th style="width:150px;">User email </th>
  <th style="text-align: center;">Status</th>
  <th>Uploaded at</th>
</tr>
</thead>
<tbody>

<% @pos_check_uploads.each do |pos_check_upload| %>
    <tr>
      <td><%= pos_check_upload.pos_location.restaurant.name rescue nil %></td>
      <td>
        <%= link_to "show JSON Check", "#", :id => "#{pos_check_upload.id}", :class => "btn btn-primary xml_data_link" %>
      </td>
      <td>
      </td>
      <td><%= pos_check_upload.try(:user).try(:email) %></td>
      <td style="text-align: center;"><%= pos_check_upload.status_name %></td>
      <td><%= date_helper pos_check_upload.created_at %></td>
    </tr>
<% end %>
</tbody>
<tfoot>
<tr>
  <td colspan="6">
    <%= will_paginate @pos_check_uploads %>
  </td>
</tr>
</tfoot>

<script type="text/javascript">
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function () {
        $('#content-data').ajaxloader('show');
    });

    $('.xml_data_link').click(function(){
        $('#body-modal-text').html('<%= image_tag "loader.gif" %>');
        $.get('/admin/pos_check_uploads/'+$(this).attr('id')+'.js')
        $('#myModal').show();
    })
</script>