<%= label_tag :restaurants %>
<%= select_tag('restaurants', options_for_select(@restaurants.map { |r| [r.name, r.id] }), {:multiple => true, :class => 'multiselect'}) %>

<script type="text/javascript">
    $("#restaurants").multiselect();
</script>