<div class="page-header">
  <h2>XPient Check Upload History</h2>
</div>
<%= simple_form_for(:search, :url => "", :html => {:method => :get, :remote => true}) do |f| %>

    <div class="x-box">
      <div class="x-box-inner">
        <div class="field">
          <%= label_tag :chain %>
          <%= select_tag('chains', options_from_collection_for_select(Chain.order("name"), :id, :name, params[:chains]), {:multiple => true}) %>
          <span id="loader-chain" style="display: none;"><%= image_tag "loader.gif" %></span>
        </div>
        <br/>

        <div class="field" id="restaurant-choices">
          <%= label_tag :restaurants %>
          <%= select_tag('restaurants', [], {:multiple => true, :class => 'multiselect'}) %>
        </div>
        <%= submit_tag "Search", :class => "btn btn-success", :onclick => "$('#content-data').ajaxloader()" %>
      </div>
    </div>

<% end %>

<table class="table stripped" id="content-data">
  <%= render "index" %>
</table>
<br/>

<div class="modal" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;z-index:9999">
  <div class="modal-header">

    <h3 id="myModalLabel">XML Data</h3>
  </div>
  <div class="modal-body" style="height: 300px;overflow-y: scroll;">
    <p id="body-modal-text" class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;"></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').hide();">Close</button>
  </div>
</div>

<script type="text/javascript">
    selected_chains = []
    $("#chains").multiselect();
    $("#chains").bind("multiselectclick", function (event, ui) {
        if (ui.checked)
            selected_chains.push(ui.value);
        else
            selected_chains.splice($.inArray(ui.value, selected_chains), 1);

        $('#loader-chain').show();
        $.post("/admin/pos_check_uploads/load_restaurants", { chains:selected_chains });
    });
    $("#chains").bind("multiselectcheckall", function (event, ui) {
        selected_chains = []
        $("#chains").multiselect("getChecked").map(function () {
            selected_chains.push(this.value);
        })
        $('#loader-chain').show();
        $.post("/admin/pos_check_uploads/load_restaurants", { chains:selected_chains });
    });
    $("#chains").bind("multiselectuncheckall", function (event, ui) {
        selected_chains = [];
        $('#loader-chain').show();
        $.post("/admin/pos_check_uploads/load_restaurants", { chains:selected_chains });
    });
</script>


