<style type="text/css">
  .login-outer{
    width: 400px;
    margin: 0 auto;
  }
  .page-header h2{
    text-align: center;
  }
</style>

<div class="login-outer">
  <div class="page-header">
    <h2>Sign in to admin page</h2>
  </div>

  <%= simple_form_for resource, :url => admin_session_path do |f| %>
    <%= f.input :email, wrapper_html: { class: 'form-group'}, input_html: {class: 'form-control' }, label_html: {style: "font-weight:bolder"} %>
    <%= f.input :password, wrapper_html: { class: 'form-group'}, input_html: {class: 'form-control' }, label_html: {style: "font-weight:bolder"} %>
    <div style="text-align: center;margin-top: 10px">
      <%= f.button :submit, "Sign in", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>