<tr id="row_<%= @data_reward.id %>">
  <td><%= @data_reward.id %></td>
  <td><%= @data_reward.name %></td>
  <td><%= date_helper(@data_reward.effectiveDate) %></td>
  <td><%= date_helper(@data_reward.expiryDate) %></td>
  <td><%= @data_reward.points %></td>
  <td>
    <%= link_to image_tag("add.png"), assign_reward_admin_rewards_path(@data_reward.id,@event_id),:remote => true, :id => "link_#{@data_reward.id}" %>
    <span id="link_loader_<%= @data_reward.id %>" style="display:none;"><%= image_tag "loader.gif" %></span>
  </td>
</tr>