<div style="padding: 10px">  
  <div class="alert alert-info">
    <strong>Yeahh!</strong>
    <%= message %>
  </div>
  <br />
  <center>
    <%= link_to "Add New One", add_milestone_admin_reward_path(@chain),
    :onclick => "$('#milestone-form').html('#{escape_javascript(render "shared/ajax_loader")}');$('#milestone-list').hide();$('#milestone-form').show();",
    :class => "btn btn-primary", :remote => true %>
    <%= link_to "Back to Milestones page", milestones_admin_reward_path(@chain),
      :onclick => "$('#milestone-list').show();
$('#milestone-list').html('#{escape_javascript(render 'shared/ajax_loader')}');
$('#milestone-form').hide();",
      :class => "btn btn-primary", :remote => true %>
  </center>
  <br />
</div>
