<div class="field">
  Valid From date
  <div id="effectiveDate_error"></div>  
  <%= text_field_tag "reward[effectiveDate]",nil , :class => 'x-datepicker' %>
</div>
<div class="field">
  Valid to Date
  <div id="expiryDate_error"></div>  
  <%= text_field_tag "reward[expiryDate]",nil , :class => 'x-datepicker' %>
</div><script>
  $('.x-datepicker').datepicker({dateFormat: 'yy-mm-dd'});
</script>