<div style="padding: 10px">
  <div class="alert alert-info">
    <strong>Yeahh!</strong>
    <%= message %>
  </div>
  <a href="#" class="btn" data-dismiss="modal" id="close-btn-modal">Close</a>
  </center>
  <br />
</div>