<div class="span10">
  <span id="event_<%= event %>_reward_<%= reward.id %>">
    <%= link_to reward.name, admin_reward_path(reward.id), :target => '_blank', :style => "float:left;margin-top:18px;" %>
    <%= link_to image_tag('delete.png'), remove_reward_admin_rewards_path(reward.id,event),:remote => true, :id => "event_link_#{reward.id}",
      :onclick => "$('#event_#{event}_reward_#{reward.id}').remove();" %>
  </span>
</div>
