<pre class="box">
  <div id="event_<%= event %>">
<% reward_events =   ChainRewardEvent.where(event: event, chain_id: @chain.id) %>
  List Rewards :
<% unless reward_events.blank? %>
  <% reward_events.each do |r| %>
    <% begin %>
      <% reward = r.reward %>
      <%= render :partial => "event_reward_link",:locals =>{ :event => event, :reward => reward} %>
    <% rescue %>
      <% next %>
    <% end %>
  <% end %>
<% else %>
    ---
<% end %>
</div>
</pre>
