Fixed Date :
<%=radio_button_tag 'fixed', 'date',true,{:onclick => "$('#reward_number_valid').val('');$('#expiry_date').show();$('#fixed_days').hide();"} %>
Fixed Days :
<%=radio_button_tag 'fixed', 'date', false , {:onclick => "$('#reward_expiry_date').val('');$('#expiry_date').hide();$('#fixed_days').show();"}%>
<div id="fixed_date_div" style="">
  <div class="field">
    Valid From date
    <div id="effectiveDate_error"></div>
    <%= text_field_tag "reward[effectiveDate]",date_only(@reward.effectiveDate) , :class => 'x-datepicker' %>
  </div>
  <div class="field">
    <div id="expiry_date">
      Valid to Date
      <div id="expiryDate_error"></div>
      <%= text_field_tag "reward[expiryDate]",date_only(@reward.expiryDate), :class => 'x-datepicker' %>
    </div>
  </div>
</div>
<div id="fixed_days" style="display:none;"> 
  Number days of valid :
  <div id="number_valid_error"></div>
  <%= text_field_tag "reward[number_valid]",nil %>
</div>
<script>
  $('.x-datepicker').datepicker({
    dateFormat: 'yy-mm-dd'
  });
</script>