<td><%= general_item.id %></td>
<td><%= general_item.item_name %></td>
<td><%= general_item.description %></td>
<td><%= general_item.item_keywords %></td>
<td id="col_gi_<%= general_item.id %>">
  <% if @general_item_ids.include?(general_item.id) %>
      <%= link_to "Remove", remove_general_item_admin_reward_path(@reward, general_item), :remote => true, :class => "btn", :onclick => "$('#col_gi_#{general_item.id}').html('removing ...')" %>
  <% else %>
      <%= link_to "Add", add_general_item_admin_reward_path(@reward, general_item), :remote => true, :class => "btn", :onclick => "$('#col_gi_#{general_item.id}').html('adding ...')" %>
  <% end %>
</td>
<td>
  <% unless general_item.required.nil? %>
      <%= general_item.required ? "Required" : "Optional" %> <br />
      <% if general_item.required %>
         <%= link_to "Set as Optional", set_type_admin_reward_path(@reward, general_item, "optional"), :remote => true, :class => "btn btn-small btn-primary" %>
      <% else %>
      <%= link_to "Set as Required", set_type_admin_reward_path(@reward, general_item, "required"), :remote => true, :class => "btn btn-small btn-warning" %>
      <% end %>
  <% end %>
</td>