<%= javascript_include_tag "ajaxupload" %>
<div id="title_form" class="modal-header"><h3>GIFTING REWARD</h3></div>
<br />
<div class="span12" style="width: 100%;margin-left: 10px;">
  <div id="error_messages"></div>
  <%= simple_form_for([:admin, @reward],:html => {:method => :post, :class => 'form-horizontal', :id => 'form_ajax'}, :remote => true) do |f| %>
      <%= f.simple_fields_for :promotions do |p| %>
          <fieldset>
            <legend>Gift Promotion Detail</legend>
            <div class="field">
              <div id="promotions_name_error"></div>
              <%= p.input :name, :input_html => {:id => "reward_promotions_name"} %>
            </div>
            <div class="field">
              <div id="promotions_effective_date_error"></div>
              <%= p.input :effective_date, :as => :string,  :input_html => {:class => 'x-datepicker', :id => "reward_promotions_effective_date"} %>
            </div>
            <div class="field">
              <div id="promotions_expiry_date_error"></div>
              <%= p.input :expiry_date, :as => :string, :input_html => {:class => 'x-datepicker', :id => "reward_promotions_expiry_date"} %>
            </div>
            <%= p.input :chain_id, :as => :hidden, :input_html => {:value => @chain.id } %>
            <%= p.input :gift_promoteable, :as => :hidden, :input_html => {:value => 1 } %>
          </fieldset>
      <% end %>

      <fieldset>
        <legend>Giftable Reward Detail</legend>
        <div class="field">
          <%= hidden_field_tag "reward[chain_id]", @chain.id %>
          <%= hidden_field_tag "upload_file", nil  %>
        </div>
        <div  class="span4">
          <div class="field">
            Reward Title *
            <div id="name_error"></div>
            <%= f.text_field :name %>
          </div>
          <br />
          <div class="field">
            <%= hidden_field_tag "reward[reward_type]", Reward::TYPES["GIFTABLE"]  %>
          </div>
          <div id="date_selection">

            <br />
            <div class="field">
              Valid From date
              <div id="effectiveDate_error"></div>
              <%= f.text_field :effectiveDate, :value => @reward.effectiveDate.try(:strftime, '%Y-%m-%d'), :class => 'x-datepicker' %>
            </div>
            <br />
            <div class="field">
              <div id="expiryDate_error"></div>
              Valid to Date
              <%= f.text_field :expiryDate, :value => @reward.expiryDate.try(:strftime, '%Y-%m-%d'), :class => 'x-datepicker' %>
            </div>
            <br />
          </div>
          <div class="field">
            Delay in hours(0-240) <br />
            <%= f.text_field :hours_delay %>
          </div>
          <br/>
          <div class="field">
            Check to Visible on Dashboard <br/>
            <%= f.input_field :visible_dashboard, :as => :boolean  %>
          </div>
          <br/>
          <div class="field" id="dashboard_description" style="">
            Description <br/>
            <%= f.text_area :description , :size => "30x5"%>
          </div>

          <div class="field">
            Number of times incentive attached can be gifted <br />
            <%= f.text_field :number_of_times_gifted %>
          </div>
        </div>
        <div class="span4">
          <div class="field">
            Reward Points
            <div id="points_error"></div>
            <%= f.text_field :points %>
          </div>
          <% if params[:action].to_s != "new_regular_reward" %>
              <div class="field">
                Number of days reward is valid * (expired day for giftee)
                <div id="expired_day_user_error"></div>
                <%= f.text_field :expired_day_user %>
              </div>
          <% end %>
          <div class="field">
            Static POS Code
            <div id="POSCode_error"></div>
            <%= f.text_field :POSCode %>
          </div>
          <div class="field">
            Reward Fine Print
            <div id="fineprint_error"></div>
            <%= f.text_area :fineprint , :size => "30x5"%>
          </div>
          <div class="field">
            Priority Number
            <div id="fineprint_error"></div>
            <%= f.text_field :priority_number%>
          </div>
          <div class="field">
            <% img_url = @reward.new_record? ? '' : @reward.attachment %>
            <a class="btn btn-primary" id="UploadButton">Upload File</a>
            <img id="image_preview" src="<%= img_url %>" />
            <div id="InfoBox"></div>
          </div>
        </div>
      </fieldset>

      <div style="clear: both"></div>
      <br />
      <div style="clear:both;"></div>
      <% unless f.object.notification_locales.blank? %>
          <b>
            <i>Add %{chain_name} to include chain name in your notification.</i> <br/>
            <i>Add %{reward_fine_print} to include reward fine print in your notification.</i> <br/>
            <i>Add %{number_of_time} to include number of time incentive attached can be gifted in your notification.</i> <br/>
            <i>Add %{reward_title} to include reward title in your notification.</i> <br/>
            <i>Add %{code} to include code in your notification.</i> <br/>
            <i>add %{promo_expiration_date} in your notification. should echo the end date of promotion associated with the gifting reward</i>

          </b>
          <div class="span5" style="margin-left: 0px;">
            <fieldset>
              <%= f.simple_fields_for :notification_locales do |nl| %>
                  <div class="span4">
                    <div class="page-header">
                      <b>Notification <%= nl.object.locale.name %></b>
                    </div>
                    <%= nl.input :email_subject, :label => "Email Subject", :input_html => {:id => "#{nl.object.locale.key}_email_subject", :style => "margin-left:10px"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
                    <%= nl.input :email_content, :as => :text, :label => "Email Content", :input_html => {:rows => 3, :cols => 20, :id => "#{nl.object.locale.key}_email_content", :style => "margin-left:10px"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
                    <%= nl.input :notification, :as => :text, :label => "Warn Message", :input_html => {:rows => 3, :cols => 20,:id => "#{nl.object.locale.key}_notification", :style => "margin-left:10px"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
                    <%= nl.input :locale_id, :as => :hidden %>
                  </div>
              <% end %>
            </fieldset>
          </div>
      <% end %>
      <div style="clear:both;"></div>
      <div class="form-actions">
        <% if @reward.new_record? %>
            <%= f.submit "Create Reward",:id => "sub_button", :class => 'btn btn-primary', :onclick => "$('#innerModalPopupDiv').ajaxloader();" %>
        <% else %>
            <%= f.submit "Update Reward",:id => "sub_button", :class => 'btn btn-primary', :onclick => "$('#innerModalPopupDiv').ajaxloader();" %>
        <% end %>
        <span id="cancel_link_form">
        <%= link_to "Cancel","#", :onclick => "closePopup(400);", :id => "cancel_link", :class => 'btn' %>
      </span>
      </div>
  <% end %>
</div>
<div style="clear:both;"></div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.x-datepicker').datepicker({
            dateFormat: 'yy-mm-dd'
        });


    $("#UploadButton").ajaxUpload({
      url : "<%= upload_file_reward_admin_rewards_path %>",
      name: "file",
      data: {id:"<%= @reward.id %>"},
      onSubmit: function() {
        $('#InfoBox').html('Uploading ... ');
        $('#upload_file').val('there is data');
        /*$.ajax({
          url: '<%#= get_uploaded_file_admin_rewards_path %>',
          data: {id:"<%#= @reward.id %>"},
          success: function(result){
            $('#InfoBox').html('Success ... ');
            $('#upload_file').val('there is data');
            console.log(result);
            console.log(result.search("Wrong"));

            if(result.search("Wrong") != 0 ){
              $.ajax({
                url: '<%#= get_uploaded_file_admin_rewards_path %>',
                data: {id:"<%#= @reward.id %>"}
                // data: result
              });
            }else{
              $('#image_preview').remove();
              $('#InfoBox').html('Please only upload jpg/jpeg/png file');
            }
            $("#UploadButton").find("form").find('input[type=file]').removeAttr('disabled');
          }
        }); */
      },
      onComplete: function(result) {
        $('#InfoBox').html('Success ... ');
        $('#upload_file').val('there is data');
        console.log(result);
        console.log(result.search("Wrong"));
        if(result.search("Wrong") != 0 ){
          $.ajax({
            url: '<%= get_uploaded_file_admin_rewards_path %>',
            data: {id:"<%= @reward.id %>"}
            // data: result
          });
        }else{
          $('#image_preview').remove();
          $('#InfoBox').html('Please only upload jpg/jpeg/png file');
        }
      }
    });



        <% if @reward.new_record? %>
        $("#form_ajax").submit(function() {

            var url = "/admin/rewards"; // the script where you handle the form input.

            $.ajax({
                type: "POST",
                url: url,
                data: $("#form_ajax").serialize(), // serializes the form's elements.
            });

            return false; // avoid to execute the actual submit of the form.
        });
        <% else %>
        $("#form_ajax").submit(function() {

            var url = "/admin/rewards/<%= @reward.id %>"; // the script where you handle the form input.

            $.ajax({
                type: "PUT",
                url: url,
                data: $("#form_ajax").serialize(), // serializes the form's elements.
            });

            return false; // avoid to execute the actual submit of the form.
        });
        <% end %>
    });

    function set_email_preview(locale){
        selected_subject_email = $('#'+locale+'_email_subject').val();
        selected_content_email = $('#'+locale+'_email_content').val();
        $('#preview_subject').html(selected_subject_email);
        $('#preview_content').html(selected_content_email);
        $('#text_preview_subject').val(selected_subject_email);
        $('#text_preview_content').val(selected_content_email);
        $('#push_reward_form').slideUp();
        $('#email_preview').slideDown();
    }
</script>