<% unless @chain.blank? %>

  <table>
    <caption></caption>
    <thead>
      <tr>
        <th>Reward id</th>
        <th>Reward Title</th>
        <th>Valid From</th>
        <th>Valid to</th>
        <th>Event</th>
        <th>Points</th>
        <th>Action</th>
      </tr>
    </thead>
  <% end %>
  <tbody id="tab">
    <% unless @rewards.blank? %>
      <% @rewards.each do |reward| %>
        <tr id="row_<%= reward.id %>">
          <td><%= reward.id %></td>
          <td><%= reward.name %></td>
          <td><%= date_only(reward.effectiveDate) %></td>
          <td><%= date_only(reward.expiryDate) %></td>
          <td><%= reward_event(reward.chain_reward_event.event) if reward.chain_reward_event %></td>
          <td><%= reward.points %></td>
          <td>
            <% if @reward_ids.include?(reward.id) %>
              <%= link_to image_tag('delete.png'), remove_reward_admin_rewards_path(reward.id,@event_id),:remote => true, :id => "link_#{reward.id}", :onclick => "$('#link_#{reward.id}').hide();$('#link_loader_#{reward.id}').show();" %>
            <% else %>
              <%= link_to image_tag('add.png'), assign_reward_admin_rewards_path(reward.id,@event_id),:remote => true, :id => "link_#{reward.id}", :onclick => "$('#link_#{reward.id}').hide();$('#link_loader_#{reward.id}').show();" %>
            <% end %>
            <span id="link_loader_<%= reward.id %>" style="display:none;"><%= image_tag "loader.gif" %></span>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="9" style="text-align:center;">
          <% unless @chain.blank? %>
            There are no data
          <% else %>
            Please Select Chain
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @rewards %>

<%= link_to "Create New Reward", "#", :onclick => "$('#one_time_content').toggle();$('.x-datepicker').datepicker({
dateFormat: 'yy-mm-dd'
});$('#date_selection').html('#{escape_javascript(render :partial => 'fix_date_selection')}');
$('#notification_area').html('#{escape_javascript(render :partial => 'notifications')}');
$('#form_popup').toggle();
$('#title_form').html('<h2>ONE TIME REWARD</h2>');
$('#reward_reward_type').val('#{Reward::TYPES["ONE_TIME"]}');
$('#event_area').html('<input type=\"hidden\" size=\"30\" name=\"event_id\" id=\"event\" value=\"#{params[:id]}\">')
return false;" %>