<div id="milestone-list" style="padding:10px">
  <div class="page-header">
    <h3>Milestones List</h3>
  </div>
  <table class="table" id="milestone_table">
    <thead>
      <tr>
        <th>Chain</th>
        <th>Name</th>
        <th>Threshold Points</th>
        <th>Milestone Number</th>
        <th>Reward</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% unless  @milestones.blank? %>
        <% @milestones.each do |milestone| %>
          <tr id="milestone-<%= milestone.id %>">
            <%= render "row_milestone", {:milestone => milestone} %>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="7">There are no data</td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7" align="center">
          <%= will_paginate(@milestones, :params => {:id => @chain.id }, :class => "milestone-pagination") rescue "" %>
        </td>
      </tr>
    </tfoot>
  </table>
  <%= link_to "Add Milestone", add_milestone_admin_reward_path(@chain),
    :onclick => "$('#milestone-form').html('#{escape_javascript(render "shared/ajax_loader")}');$('#milestone-list').hide();$('#milestone-form').show();",
    :class => "btn btn-primary pull-right", :remote => true %>

  <script type="text/javascript">
    $(document).ready(function(){
      $(".milestone-pagination").find("a").attr("data-remote", true);
      $('.milestone-pagination a').click(function() {
        $('#milestone_table').ajaxloader('show');
      });
    })
  </script>
</div>

<div id="milestone-form" style="padding:10px">

</div>