<table class="table">
  <thead>
  <tr>
    <th>Reward</th>
    <th>User</th>
    <th>Sent at</th>
  </tr>
  </thead>
  <tbody>
  <% unless @histories.blank? %>
      <% @histories.each do |history| %>
          <tr>
            <td><%= history.reward.name %></td>
            <td><%= history.user.email %></td>
            <td><%= date_helper(history.created_at) %></td>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td colspan="3">There are no data</td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="3" align="center">
      <%= will_paginate(@histories, :params => {:id => @chain.id}) rescue "" %>
    </td>
  </tr>
  </tfoot>
</table>

<script type="text/javascript">
    $(document).ready(function () {

        $(".pagination").find("a").attr("data-remote", true);
        $('.pagination a').click(function() {
            $('#data-container').ajaxloader('show');
        });

        $('.tata-ajax-loader').click(function(){
            alert("hide this");
            $('.tata-ajax-loader').hide();
        });
    });

</script>