<div class="page-header">
  <h3>List Milestones Rewards</h3>
</div>
<% unless @chain.blank? %>
  <table>
    <caption></caption>
    <thead>
      <tr>
        <th>Reward id</th>
        <th>Reward Title</th>
        <th>Valid From</th>
        <th>Valid to</th>
        <th>Points</th>
        <th>Action</th>
      </tr>
    </thead>
  <% end %>
  <tbody id="tab">
    <% unless @rewards.blank? %>
      <% @rewards.each do |reward| %>
        <tr id="row_<%= reward.id %>">
          <%= render "row_milestone_reward", {:reward => reward} %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="9" style="text-align:center;">
          <% unless @chain.blank? %>
            There are no data
          <% else %>
            Please Select Chain
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @rewards %>

<%= link_to "Create Milestone Reward", add_new_milestone_reward_admin_reward_path(@milestone),
  :onclick => "$('#milestone-form').html('#{escape_javascript(render "shared/ajax_loader")}');$('#milestone-list').hide();$('#milestone-form').show();",
  :class => "btn btn-primary", :remote => true %>

<%= link_to "Back", milestones_admin_reward_path(@chain),
  :onclick => "$('#milestone-list').show();
$('#milestone-list').html('#{escape_javascript(render 'shared/ajax_loader')}');
$('#milestone-form').hide();",
  :class => "btn btn-primary", :id => 'link_back_milestone_reward', :remote => true %>