<%= simple_form_for(@reward, url: create_new_milestone_reward_admin_reward_path(@milestone), html: {:class => 'form-horizontal', :remote => true}) do |f| %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal" onclick="$('#milestone_modal').html('');">&times;</a>
    <h3>Milestone Reward</h3>
  </div>
  <div class="modal-body">
    <%= render "shared/error_messages", {:target => @reward} %>

    <div class="field">
      <%= hidden_field_tag "reward[chain_id]", @milestone.chain.id %>
    </div>
    <div  class="" style="width: 225px; float: left;margin-left:20px;">
      <div class="field">
        Reward Title *
        <div id="name_error"></div>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= hidden_field_tag "reward[reward_type]", Reward::TYPES["MILESTONE"]  %>
      </div>
      <div id="date_selection">
        Fixed Date :
        <%=radio_button_tag 'fixed', 'date',true,{:onclick => "$('#reward_number_valid').val('');$('#expiry_date').show();$('#fixed_days').hide();"} %>
        Fixed Days :
        <%=radio_button_tag 'fixed', 'date', false , {:onclick => "$('#reward_expiry_date').val('');$('#expiry_date').hide();$('#fixed_days').show();"}%>
        <div id="fixed_date_div" style="">
          <div class="field">
            Valid From date
            <div id="effectiveDate_error"></div>
            <%= text_field_tag "reward[effectiveDate]",date_only(@reward.effectiveDate) , :class => 'x-datepicker' %>
          </div>
          <div class="field">
            <div id="expiry_date">
              Valid to Date
              <div id="expiryDate_error"></div>
              <%= text_field_tag "reward[expiryDate]",date_only(@reward.expiryDate), :class => 'x-datepicker' %>
            </div>
          </div>
        </div>
        <div id="fixed_days" style="display:none;">
          Number days of valid :
          <div id="number_valid_error"></div>
          <%= text_field_tag "reward[number_valid]",nil %>
        </div>
      </div>
      <div class="field">
        Delay in hours(0..240)
        <%= f.text_field :hours_delay %>
      </div>
      <div class="field">
        Reward Points
        <div id="points_error"></div>
        <%= f.text_field :points %>
      </div>
      <div class="field">
        Number of days reward is valid *
        <div id="expired_day_user_error"></div>
        <%= f.text_field :expired_day_user %>
      </div>
      <div class="field">
        Static POS Code
        <div id="POSCode_error"></div>
        <%= f.text_field :POSCode %>
      </div>
      <div class="field">
        compRewards : Target Type
        <div id="targetType_error"></div>
        <%= f.text_field :targetType %>
      </div>
      <div class="field">
        compRewards : Target ID
        <div id="targetId_error"></div>
        <%= f.text_field :targetId %>
      </div>
      <div class="field">
        compRewards : AdjType
        <div id="targetId_error"></div>
        <%= f.select :adj_type,["fixed","pct"] %>
      </div>
      <div class="field">
        compRewards : AdjValue
        <div id="targetId_error"></div>
        <%= f.text_field :adj_value %>
      </div>
    </div>
    <div style="width: 270px; float: right;">
      <div class="field">
        Reward Fine Print
        <div id="fineprint_error"></div>
        <%= f.text_area :fineprint , :size => "30x5"%>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="modal-footer" style="margin-top: 70px;">
      <%= f.submit "Save Changes", :class => "btn btn-primary" , :onclick => "$('.modal-body').ajaxloader();" %>
      <%= link_to "Back", add_reward_admin_reward_path(@milestone), :class => "btn",
        :onclick => "$('#milestone-form').html('#{escape_javascript(render "shared/ajax_loader")}');$('#milestone-list').hide();$('#milestone-form').show();",
        :remote => true %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(".x-datepicker").datepicker({
    dateFormat: 'yy-mm-dd'
  });
</script>