
<script type="text/javascript">
  $(document).ready(function(){
    $('.x-datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
    });
  });
</script>

<div id="title_form"><h2>REGULAR REWARD</h2></div>
<div style="margin-left:40px;">
  <div id="error_messages"></div>
  <%= simple_form_for([:admin, @reward],:html => {:method => :post}, :remote => true) do |f| %>
    <div class="field">
      <%= hidden_field_tag "reward[chain_id]", @chain.id %>
    </div>
    <div class="field">
      Reward Title *
      <div id="name_error"></div>
      <%= f.text_field :name ,  :onclick => "$('.x-datepicker').datepicker({dateFormat: 'yy-mm-dd'});".html_safe%>
    </div>
    <div class="field">
      <%= hidden_field_tag "reward[reward_type]", Reward::TYPES["REGULAR"]  %>
    </div>
    <div id="date_selection">
      <div class="field">
        Valid From date
        <div id="effectiveDate_error"></div>
        <%= f.text_field :effectiveDate, :value => @reward.effectiveDate.try(:strftime, '%Y-%m-%d'), :class => 'x-datepicker', :onclick => "$('.x-datepicker').datepicker({dateFormat: 'yy-mm-dd'});".html_safe %>
      </div>
      <div class="field">
        <div id="expiryDate_error"></div>
        Valid to Date
        <%= f.text_field :expiryDate, :value => @reward.expiryDate.try(:strftime, '%Y-%m-%d'), :class => 'x-datepicker', :onclick =>  "$('.x-datepicker').datepicker({dateFormat: 'yy-mm-dd'});".html_safe %>
      </div>
    </div>
    <div class="field">
      Reward Points
      <div id="points_error"></div>
      <%= f.text_field :points %>
    </div>
    <div class="field">
      <%= f.label :POSCode, "POS Code" %>
      <div id="POSCode_error"></div>
      <%= f.text_field :POSCode %>
    </div>

    <div class="field">
      Reward Fine Print
      <div id="fineprint_error"></div>
      <%= f.text_area :fineprint , :size => "30x5"%>
    </div>
    <div id="notification_area"></div>
    <div id="restaurant_area"></div>
    <div id="event_area"></div>
    <div class="actions">
      <% if @reward.new_record? %>
        <%= f.submit "Create Reward",:id => "sub_button", :onclick => "$('#form_one').ajaxloader();" %> |
      <% else %>
        <%= f.submit "Update Reward",:id => "sub_button", :onclick => "$('#form_one').ajaxloader();" %> |
      <% end %>
      <%= link_to "Cancel","#", :onclick => "closePopup(400);" %>
    </div>
  <% end %>
</div>
