<div class="page-header">
  <h1>New Milestone Reward</h1>
</div>
<%= simple_form_for([:admin, @milestone], :url => create_milestone_admin_reward_path(@chain), html: {remote: true}) do |f| %>
  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :description, :input_html => {:rows => 5, :cols => 300} %>
  </div>
  <div class="field">
    <%= f.input :milestone_number %>
  </div>
  <div class="field">
    <%= f.input :threshold_points %>
  </div>
  <%= f.input :chain_id, :as => :hidden %>
  <%= f.submit "Create", :class => "btn btn-primary" %>
  <%= link_to "Back", milestones_admin_reward_path(@chain),
     :onclick => "$('#milestone-list').show();
                  $('#milestone-list').html('#{escape_javascript(render 'shared/ajax_loader')}');
                  $('#milestone-form').hide();",
    :class => "btn btn-primary", :remote => true %>
<% end %>