<div class="span3">
  <i>Optional Association Notification</i><br/>
  Add Notification : Yes <%= radio_button_tag "notif", "Yes", true %> No <%= radio_button_tag "notif", "No" %><br/>
</div>
<div class="span2" style="margin-left: 0px;">
  <i>Send Notification to</i><br/>
  Email : <%= check_box_tag "reward[is_push_email]", true, true %>
  Phone : <%= check_box_tag "reward[is_push_phone]", true, true %>
</div>
<div class="span3">
  <div id="push_date">
    <div class="field">
      <div id="expiry_date">
        <% my_time = Time.now.utc %>
        Schedule to Push (UTC Time)
        <div id="executed_at_error"></div>
        <% date_edit = @reward.executed_at.utc if @reward.executed_at %>
        <% exec_at = date_only(date_edit) %>
        <%= text_field_tag "date_execute",
          exec_at.nil?? (Time.now.utc + 5.minutes).strftime("%Y-%m-%d") : exec_at ,
          :class => 'x-datepicker',:style => "width:80px;", :onchange => "setDateParams();" %>
        <%=  select_hour(date_edit.nil?? my_time : date_edit,{},:style => "width:50px;", :onchange => "setDateParams();") %>
        <%=  select_minute(date_edit.nil?? my_time : date_edit,{},:style => "width:50px;", :onchange => "setDateParams();") %>
        <%= hidden_field_tag "reward[executed_at]",nil %>
      </div>
    </div>
  </div>
</div>
<div style="clear: both"></div>
<script type="text/javascript">
  $(document).ready(function(){
    
    var tmp = $('#date_execute').val()+" "+$('#date_hour').val()+":"+$('#date_minute').val()+":60"+" "+"+0000";
    $('#reward_executed_at').val(tmp);
    

    $('.x-datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
    });
  });
  function setDateParams(){
    var tmp = $('#date_execute').val()+" "+$('#date_hour').val()+":"+$('#date_minute').val()+":60"+" "+"+0000";
    $('#reward_executed_at').val(tmp);
  }

</script>