<table>
  <caption>Assign Rewards To One Time Event</caption>
  <thead>
    <tr>
      <th width="20%">Event</th>
      <th width="20%">Points</th>
      <th width="60%"></th>
    </tr>
  </thead>
  <tbody>
    <% ChainRewardEvent::EVENTS.each_value do |event| %>
      <tr>
        <td><%= reward_event(event) %></td>
        <td>
          <%= link_to "Add reward", collection_list_admin_rewards_path(@chain.id, :id => event, :format => :js),:remote => true, :class => "reward",:id => "#{event}" %>
        </td>
        <td><%= render :partial => "event_reward_list", :locals => {:event => event} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    //This method initialises the modal popup
    $(".reward").click(function() {
      var id = $(this).attr("id");
      modalPopup(align, top, width, padding, disableColor, disableOpacity,
      backgroundColor, borderColor, borderWeight, borderRadius,
      fadeOutTime, '<%= collection_list_admin_rewards_path(@chain.id) %>'+'?id='+id, loadingImage);
    });

    //This method hides the popup when the escape key is pressed
    $(document).keyup(function(e) {
      if (e.keyCode == 27) {
        closePopup(fadeOutTime);
      }
    });

  });
</script>