<%= simple_form_for([:admin, @pos_discount_type], :url => create_pos_discount_type_admin_reward_path(@reward), :html => {:method => :post, :id => "pos_discount_type_form"}, :remote => true) do |f| %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>POS Discount Type</h3>
  </div>
  <div class="modal-body" style="margin: 20px;">
    <div class="field">
      <%= hidden_field_tag "pos_discount_type[reward_id]", @reward.id %>
    </div>
    <div class="field">
      <%= f.input :title, :label => "Description" %>
    </div>
    <div class="field">
      <% if @reward.is_net_pos_reward? %>
          <%= f.input :discount_type, :collection => PosDiscountType::NETPOS_TYPES, :selected => f.object.discount_type %>
      <% else %>
          <%= f.input :discount_type, :collection => PosDiscountType::TYPES, :selected => f.object.discount_type %>
      <% end %>
    </div>
    <div id="discount_percentage_box" class="field" style="display: <%= @pos_discount_type.discount_type.to_i.eql?(1) ? "block" : "none"%>;">
      <%= f.input :discount_percentage, :collection => 0..100, :label => "Discount Percentage (%)", :selected => @pos_discount_type.discount_amount.to_i.to_s %>
    </div>
    <div id="discount_price_box" class="field" style="display: <%= @pos_discount_type.discount_type.to_i.eql?(2) ? "block" : "none"%>;">
      <%= f.input :discount_price, :label => "Discount Price", :input_html => {:value => @pos_discount_type.discount_amount} %>
    </div>
    <div id="discount_fixed_price_box" class="field" style="display: <%= [3,4,5,6].include?(@pos_discount_type.discount_type.to_i) ? "block" : "none"%>;">
      <%= f.input :discount_fixed_price, :label => "Discount Fixed Price", :input_html => {:value => @pos_discount_type.discount_amount} %>
    </div>
    <div id="min_no_items_ordered" class="field" style="display: <%= [1,2,3].include?(@pos_discount_type.discount_type.to_i) ? "block" : "none"%>;">
      <%= f.input :min_no_items_ordered, :label => "MIN NO. OF ITEMS  ORDERED", :input_html => {:value => @pos_discount_type.min_no_items_ordered} %>
    </div>

    <div id="min_no_items_discounted" class="field" style="display: <%= [1,2,3].include?(@pos_discount_type.discount_type.to_i) ? "block" : "none"%>;">
      <%= f.input :min_no_items_discounted, :label => "NO OF ITEMS TO BE DISCOUNTED", :input_html => {:value => @pos_discount_type.min_no_items_discounted} %>
    </div>
    <div class="modal-footer" style="margin-top: 70px;">
      <% if @pos_discount_type.new_record? %>
        <%= f.submit "Create Discount Type", :class => "btn",:id => "sub_button", :onclick => "$('#pos_discount_type_form').ajaxloader();" %>
      <% else %>
        <%= f.submit "Update Discount Type", :class => "btn", :id => "sub_button", :onclick => "$('#pos_discount_type_form').ajaxloader();" %>
      <% end %>
      <a class="btn" data-dismiss="modal">Cancel</a>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    var discount_type = $('#pos_discount_type_discount_type').val();
    showPriceBox(discount_type)
  });

  $('#pos_discount_type_discount_type').change(function(){
    showPriceBox($(this).val())
  })

  function showPriceBox(value){
    if(value == "1"){
      $('#discount_fixed_price_box').hide();
      $('#discount_percentage_box').show();
      $('#discount_price_box').hide();
      $('#min_no_items_ordered').show();
      $('#min_no_items_discounted').show();
    }
    else if(value == "2"){
      $('#discount_fixed_price_box').hide();
      $('#discount_percentage_box').hide();
      $('#discount_price_box').show();
      $('#min_no_items_ordered').show();
      $('#min_no_items_discounted').show();
    }
    else if(value == "3"){
      $('#discount_fixed_price_box').show();
      $('#discount_percentage_box').hide();
      $('#discount_price_box').hide();
      $('#min_no_items_ordered').show();
      $('#min_no_items_discounted').show();
    }
    else if(value == "4"){
      $('#discount_fixed_price_box').show();
      $('#discount_percentage_box').hide();
      $('#discount_price_box').hide();
      $('#min_no_items_ordered').hide();
      $('#min_no_items_discounted').hide();
    }
    else if(value == "5"){
      $('#discount_fixed_price_box').show();
      $('#discount_percentage_box').hide();
      $('#discount_price_box').hide();
      $('#min_no_items_ordered').hide();
      $('#min_no_items_discounted').hide();
    }
    else if(value == "6"){
      $('#discount_fixed_price_box').show();
      $('#discount_percentage_box').hide();
      $('#discount_price_box').hide();
      $('#min_no_items_ordered').hide();
      $('#min_no_items_discounted').hide();
    }
    else if(value == "7"){
      $('#discount_fixed_price_box').hide();
      $('#discount_percentage_box').show();
      $('#discount_price_box').hide();
      $('#min_no_items_ordered').hide();
      $('#min_no_items_discounted').hide();
    }
    else{
      $('#discount_percentage_box').hide();
      $('#discount_price_box').hide();
      $('#discount_fixed_price_box').hide();
      $('#min_no_items_ordered').hide();
      $('#min_no_items_discounted').hide();
    }
  }
</script>
