<div style="width: 100%;">

  <h2>Push Reward Confirmation</h2>
  <br />
  <h4>Reward has successfully Created, we re sending the email to you. please check them in several minutes</h4>
  <br />
  <% if @user_failed.blank? %>
      <%= link_to "Check the status here",push_reward_jobs_admin_rewards_path, :target => '_blank',:class => 'btn alert' %>      <!--<p>No user failed to push</p> -->
  <% else %>
      <p> There are some users who failed for push reward process : </p>
      <table style="width: 100%;">
        <thead>
        <tr>
          <th>User ID</th>
          <th>Reason</th>
        </tr>
        </thead>
        <% @user_failed.each do |user| %>
            <tr>
              <td><%= user[:user_id] %></td>
              <td><%= user[:message]%></td>
            </tr>
        <% end %>
      </table>
  <% end %>
  <div style="text-align: center;">
    <%= link_to "OK", push_reward_admin_rewards_path, :class => "btn btn-primary" %>
  </div>

  <style type="text/css">
      a.modalCloseImg{
          display: none!important;
      }
      #simplemodal-overlay{
          cursor: pointer!important;
      }
  </style>

</div>

