<div id="push-reward-form-container">
  <div class="page-header">
    <h3>Push Reward Manually</h3>
  </div>

  <% unless @errors.blank? %>
      <div id="error_explanation">
        <h2><%= pluralize(@errors.count, "error") %> prohibited this chain from being saved:</h2>

        <ul>
          <% @errors.each do |error| %>
              <li><%= "#{error.keys.first} #{error[error.keys.first]}" %></li>
          <% end unless @errors.blank? %>
        </ul>
      </div>
  <% end %>

  <%= simple_form_for :push, :url => push_reward_to_users_admin_rewards_path, :html => {:class => "form-horizontal", :multipart => true} do |f| %>
      <%= f.input :chain_id, :collection => Chain.active.order("name"), :input_html => {:id => "select_push_chain"} %>
      <div class="control-group select required">
        <label class="select required control-label" for="select_push_reward"><abbr title="required">*</abbr> Reward</label>
        <div class="controls" id="select_push_reward">
          <%= select_tag "reward_id", [] %>
        </div>
      </div>

      <div class="control-group radio_buttons optional">
        <div class="controls">
          <label class="radio">
            <input class="radio_buttons optional" id="push_push_type_upload" name="push[push_type]" type="radio" value="1" <%= params[:push] && params[:push][:push_type].to_i.eql?(1) ? "checked" : ""%>>
            Upload XLS File
            <div class="span12">
              <%= f.file_field :xls %>
              <br /> <br />
            </div>
          </label>
          <label class="radio"><input class="radio_buttons optional" id="push_push_type_input" name="push[push_type]" type="radio" value="2" <%= params[:push] && params[:push][:push_type].to_i.eql?(2) ? "checked" : ""%>>
            Enter User ID (separated by commas)
            <div class="span12">
              <%= f.text_area :user_temp_ids, :rows => 6 %>
              <br /> <br />
            </div>
          </label>
          <label class="radio"><input class="radio_buttons optional" id="push_push_type_all_users" name="push[push_type]" type="radio" value="3" <%= params[:push] && params[:push][:push_type].to_i.eql?(3) ? "checked" : ""%>>
            All Users
          </label>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit "Send Reward" %>
      </div>
  <% end %>
</div>


  <script type="text/javascript">
      $(document).ready(function(){
          $('#select_push_chain').change(function(){
              if(this.value==''){
                  $('#push-reward-form-container').ajaxloader('show');
                  $.get("/admin/rewards/0/load_user_list");
              }  else{
                  $('#push-reward-form-container').ajaxloader('show');
                  $.get("/admin/rewards/"+this.value+"/load_user_list");
              }

          })
      })

  </script>

</div>