<%= javascript_include_tag "ajaxupload" %>
<div id="title_form" class="modal-header"><h3>REGULAR REWARD</h3></div>
<br />
<div class="span12" style="width: 100%;margin-left: 10px;">
  <div id="error_messages"></div>
  <%= simple_form_for([:admin, @reward],:html => {:id=> 'form_ajax',:method => :post, :class => 'form-horizontal' }, :remote => true) do |f| %>
    <div class="field">
      <%= hidden_field_tag "reward[chain_id]", @chain.id %>
    </div>
    <div  class="span4">
      <div class="field">
        Reward Title *
        <div id="name_error"></div>
        <%= f.text_field :name %>
      </div>
      <br />
      <div class="field">
        <%= hidden_field_tag "reward[reward_type]", Reward::TYPES["REGULAR"]  %>
        <%= hidden_field_tag "upload_file", nil  %>
      </div>
      <div id="date_selection">

        <br />
        <div class="field">
          Valid From date
          <div id="effectiveDate_error"></div>
          <%= f.text_field :effectiveDate, :value => @reward.effectiveDate.try(:strftime, '%Y-%m-%d'), :class => 'x-datepicker' %>
        </div>
        <br />
        <div class="field">
          <div id="expiryDate_error"></div>
          Valid to Date
          <%= f.text_field :expiryDate, :value => @reward.expiryDate.try(:strftime, '%Y-%m-%d'), :class => 'x-datepicker' %>
        </div>
        <br />
      </div>
      <div class="field">
        Delay in hours(0-240) <br />
        <%= f.text_field :hours_delay %>
      </div>
      <% if params[:action].to_s != "new_regular_reward" %>
      <div class="field">
        Check to Visible on Dashboard <br/>
        <%= f.input_field :visible_dashboard, :as => :boolean  %>
      </div>
      <% end %>
      <br/>
      <div class="field" id="dashboard_description" style="">
        Description <br/>
        <%= f.text_area :description , :size => "30x5"%>
      </div>
    </div>
    <div class="span4">
      <div class="field">
        Reward Points
        <div id="points_error"></div>
        <%= f.text_field :points %>
      </div>
      <% if params[:action].to_s != "new_regular_reward" %>
        <div class="field">
          Number of days reward is valid *
          <div id="expired_day_user_error"></div>
          <%= f.text_field :expired_day_user %>
        </div>
      <% end %>
      <div class="field">
        Static POS Code
        <div id="POSCode_error"></div>
        <%= f.text_field :POSCode %>
      </div>
      <div class="field">
        compRewards : Target Type
        <div id="targetType_error"></div>
        <%= f.text_field :targetType %>
      </div>
      <div class="field">
        compRewards : Target ID
        <div id="targetId_error"></div>
        <%= f.text_field :targetId %>
      </div>
      <div class="field">
        compRewards : AdjType
        <div id="targetId_error"></div>
        <%= f.select :adj_type,["fixed","pct"] %>
      </div>
      <div class="field">
        compRewards : AdjValue
        <div id="targetId_error"></div>
        <%= f.text_field :adj_value %>
      </div>
      <div class="field">
        Reward Fine Print
        <div id="fineprint_error"></div>
        <%= f.text_area :fineprint , :size => "30x5"%>
      </div>
      <div class="field">
        Priority Number
        <div id="POSCode_error"></div>
        <%= f.text_field :priority_number %>
      </div>
      <div class="field">
        <% img_url = @reward.new_record? ? '' : @reward.attachment %>
        <a class="btn btn-primary" id="UploadButton">Upload File</a>
        <img id="image_preview" src="<%= img_url %>" />
        <div id="InfoBox"></div>
      </div>
      <br />
      <br />
      <div class="field">
        <% img_url = @reward.new_record? ? '' : @reward.thumbnail %>
        <a class="btn btn-primary" id="UploadButtonThumb">Upload File Thumbnail</a>
        <img id="image_preview_thumb" src="<%= img_url %>" />
        <div id="InfoBoxThumb"></div>
      </div>

    </div>
    <div style="clear: both"></div>
    <br />
    <div class="span9" style="margin-left: 0px;">
      <% unless f.object.notification_locales.blank? %>
        <fieldset>
          <legend>Email And Push Notification</legend>
          <br />
          <div id="notification_area"></div>
          <br />
          <br />
          <%= f.simple_fields_for :notification_locales do |nl| %>
            <div class="span4">
              <div class="page-header">
                <b>Notification <%= nl.object.locale.name %></b>
              </div>
              <%= nl.input :email_subject, :label => "Email Subject", :input_html => {:id => "#{nl.object.locale.key}_email_subject", :style => "margin-left:10px"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
              <%= nl.input :email_content, :as => :text, :label => "Email Content", :input_html => {:rows => 3, :cols => 20, :id => "#{nl.object.locale.key}_email_content", :style => "margin-left:10px"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
              <%= nl.input :notification, :as => :text, :label => "Push Notification Content", :input_html => {:rows => 3, :cols => 20,:id => "#{nl.object.locale.key}_notification", :style => "margin-left:10px"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
              <%= nl.input :locale_id, :as => :hidden %>
              <div class="form-actions">
                <a onclick="set_email_preview('<%= nl.object.locale.key %>')" class="btn">
                  <%= "Preview Email for #{nl.object.locale.name}" %>
                </a>
              </div>
            </div>
          <% end %>
        </fieldset>
        <div style="clear: both"></div>
      <% end %>
      <div id="restaurant_area"></div>
      <div id="event_area"></div>
    </div>

    <div style="">
      <div class="field">
        <%= f.label "Additional Information" %> <br />
        <%= f.check_box :additional_information %> <br />
      </div>

      <div id="reward_informations" style="display:none;">
        <%= f.simple_fields_for :reward_informations do |information| %>
          <%= render 'reward_information_fields', :f => information %>
        <% end %>

        <div class="links" style="text-align:center;clear:both;">
          <%= link_to_add_association 'add information', f, :reward_informations, :class => "btn btn-danger" %>  
        </div>
      </div>
    </div>

    <div style="clear:both;"></div>
    <div class="form-actions">
      <% if @reward.new_record? %>
        <%= f.submit "Create Reward",:id => "sub_button", :class => 'btn btn-primary', :onclick => "$('#innerModalPopupDiv').ajaxloader();" %>
      <% else %>
        <%= f.submit "Update Reward",:id => "sub_button", :class => 'btn btn-primary', :onclick => "$('#innerModalPopupDiv').ajaxloader();" %>
      <% end %>
      <span id="cancel_link_form">
        <%= link_to "Cancel","#", :onclick => "closePopup(400);", :id => "cancel_link", :class => 'btn' %>
      </span>
    </div>
  <% end %>
</div>
<div style="clear:both;"></div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#reward_additional_information').change(function(){
      if($(this).is(":checked")){
        $('#reward_informations').show();
      }else{
        $('#reward_informations').hide();
      }
    });

    $('#reward_additional_information').change();

    $( ".add_fields" ).click(function( event ) {
      if($(".nested-fields").size() == 15){
        //event.preventDefault();
        event.stopPropagation();
        alert("Only 15 are allowed additional information.");
      }
    });

    $('.x-datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
    });


    $("#UploadButton").ajaxUpload({
      url : "<%= upload_file_reward_admin_rewards_path %>",
      name: "file",
      data: {id:"<%= @reward.id %>"},
      onSubmit: function() {
        $('#InfoBox').html('Uploading ... ');
        $('#upload_file').val('there is data');
        /*$.ajax({
          url: '<%#= get_uploaded_file_admin_rewards_path %>',
          data: {id:"<%#= @reward.id %>"},
          success: function(result){
            $('#InfoBox').html('Success ... ');
            $('#upload_file').val('there is data');
            console.log(result);
            console.log(result.search("Wrong"));

            if(result.search("Wrong") != 0 ){
              $.ajax({
                url: '<%#= get_uploaded_file_admin_rewards_path %>',
                data: {id:"<%#= @reward.id %>"}
                // data: result
              });
            }else{
              $('#image_preview').remove();
              $('#InfoBox').html('Please only upload jpg/jpeg/png file');
            }
            $("#UploadButton").find("form").find('input[type=file]').removeAttr('disabled');
          }
        });*/
      },
      onComplete: function(result) {
        $('#InfoBox').html('Success ... ');
        $('#upload_file').val('there is data');
        console.log(result);
        console.log(result.search("Wrong"));
        if(result.search("Wrong") != 0 ){
          $.ajax({
            url: '<%= get_uploaded_file_admin_rewards_path %>',
            data: {id:"<%= @reward.id %>"}
            // data: result
          });
        }else{
          $('#image_preview').remove();
          $('#InfoBox').html('Please only upload jpg/jpeg/png file');
        }
      }
    });

    $("#UploadButtonThumb").ajaxUpload({
      url : "<%= upload_file_thumbnail_reward_admin_rewards_path %>",
      name: "file",
      data: {id:"<%= @reward.id %>"},
      onSubmit: function() {
        $('#InfoBoxThumb').html('Uploading ... ');
        $('#upload_file_thumb').val('there is data');
      },
      onComplete: function(result) {
        $('#InfoBoxThumb').html('Success ... ');
        $('#upload_file_thumb').val('there is data');
        console.log(result);
        console.log(result.search("Wrong"));
        if(result.search("Wrong") != 0 ){
          $.ajax({
            url: '<%= get_uploaded_file_thumbnail_admin_rewards_path %>',
            data: {id:"<%= @reward.id %>"}
            // data: result
          });
        }else{
          $('#image_preview_thumb').remove();
          $('#InfoBoxThumb').html('Please only upload jpg/jpeg/png file');
        }
      }
    });

      <% if @reward.new_record? %>
      $("#form_ajax").submit(function() {

          var url = "/admin/rewards"; // the script where you handle the form input.

          $.ajax({
              type: "POST",
              url: url,
              data: $("#form_ajax").serialize(), // serializes the form's elements.
          });

          return false; // avoid to execute the actual submit of the form.
      });
      <% else %>
      $("#form_ajax").submit(function() {

          var url = "/admin/rewards/<%= @reward.id %>"; // the script where you handle the form input.

          $.ajax({
              type: "PUT",
              url: url,
              data: $("#form_ajax").serialize(), // serializes the form's elements.
          });

          return false; // avoid to execute the actual submit of the form.
      });
      <% end %>
  });

  function set_email_preview(locale){
    selected_subject_email = $('#'+locale+'_email_subject').val();
    selected_content_email = $('#'+locale+'_email_content').val();
    $('#preview_subject').html(selected_subject_email);
    $('#preview_content').html(selected_content_email);
    $('#text_preview_subject').val(selected_subject_email);
    $('#text_preview_content').val(selected_content_email);
    $('#push_reward_form').slideUp();
    $('#email_preview').slideDown();
  }
</script>