<div class="span10">
  <i>User Filter</i><br/>
  <div class="control-group">
    <label class="control-label">Location User Belonging to</label>
    <div class="controls">
      <%= select_tag  "restaurant_ids[]", options_for_select(Restaurant.find_all_by_chain_id(@chain.id).map{|x|[x.name, x.id]},@restaurant_ids), :class=>'select required multiselect',:multiple => "multiple",
        :id => "restaurants" rescue ""%>
      <span id="user_loader" style="display:none;"><%= image_tag "loader.gif" %></span>
    </div>
  </div>
</div>
<br /><br />
<div class="span10">
  <% st = @user_ids.blank? ? "display:none;" : "display:block;" %>
  <div id="user_selection" style="">
    <%= check_box_tag "reward[all_users]", true, true %>All users
    <span id="check"><i>    (uncheck it if you want only users that have submit a receipt / claim a reward)</i></span>
    <span id="no_check" style="display:none;"><i>    (check it if you want including the user that not have submit a receipt / claim a reward)</i></span>
  </div>
</div>

<script type="text/javascript">
  $(".multiselect").multiselect({
    selectedText: "# of # selected"
  });
<% if @restaurant_ids.blank? %>
    $(".multiselect").multiselect("checkAll");
<% end %>

  $('input[type="checkbox"][name="reward[all_users]"]').change(function() {
    if(this.checked) {
      // do something when checked
      $('#no_check').hide();
      $('#check').show();
    }else{
      $('#check').hide();
      $('#no_check').show();

    }
  });

</script>
