<div class="nested-fields" style="float:left;padding-bottom:50px;">
  <%= f.input :title  %>
  <%= f.input :app_text  %>
  <%= f.input :description, :input_html => {rows: 5}  %>
  <%= link_to_remove_association "remove", f, :class => "btn pull-right" %>
</div>