<td><%= reward.id %></td>
<td><%= reward.name %></td>
<td><%= date_only(reward.effectiveDate) %></td>
<td><%= date_only(reward.expiryDate) %></td>
<td><%= reward.points %></td>
<td>
  <% if @rewards_ids.include?(reward.id) %>
    Used
  <% else %>
    <%= link_to image_tag('add.png'), add_milestone_reward_admin_reward_path(@milestone, reward), :remote => true %>
  <% end %>
  <span id="link_loader_<%= reward.id %>" style="display:none;"><%= image_tag "loader.gif" %></span>
</td>