<td><%= milestone.chain.name %></td>
<td><%= milestone.name %></td>
<td><%= milestone.threshold_points %></td>
<td><%= milestone.milestone_number %></td>
<td>
  <% if milestone.reward %>
    <%= milestone.reward.name%> |
    <%= link_to image_tag('delete.png'), remove_milestone_reward_admin_reward_path(milestone, milestone.reward) ,:remote => true %>
  <% else %>
    <%= link_to "Add Reward", add_reward_admin_reward_path(milestone),
      :onclick => "$('#milestone-form').html('#{escape_javascript(render "shared/ajax_loader")}');$('#milestone-list').hide();$('#milestone-form').show();",
      :remote => true %>
  <% end %>
</td>
<td>
  <%= link_to "Edit", edit_milestone_admin_reward_path(milestone, @chain),
    :onclick => "$('#milestone-form').html('#{escape_javascript(render "shared/ajax_loader")}');$('#milestone-list').hide();$('#milestone-form').show();",
    :remote => true %>
</td>