<% begin %>
  Select Users: <%= select_tag "users",options_for_select(User.where("id in(?)", @users).map{|x| [x.full_name,x.id]},@user_ids), :class=>'select required multiselect',:multiple => "multiple"  %>
  <br /><br />
  <script>
    $(".multiselect").multiselect({
      selectedText: "# of # selected"
    });
  </script>
<% rescue %>
<% end %>