<% if @assign == true %>
  $("#link_<%= @reward.id %>").html('<%= image_tag("delete.png").html_safe %>');
  var x= $("#link_<%= @reward.id %>").attr("href").replace('assign','remove');
  $("#link_<%= @reward.id %>").attr("href",x);
  $('#event_<%= @event_id %>').append('<%= escape_javascript(render :partial => "event_reward_link", :locals => {:event => @event_id, :reward => @reward}) %>');
<% else %>
  $("#link_<%= @reward.id %>").html('<%= image_tag("add.png").html_safe %>');
  var y = $("#link_<%= @reward.id %>").attr("href").replace('remove','assign')
  $("#link_<%= @reward.id %>").attr("href",y);
  $('#event_<%= @event_id %>_reward_<%= @reward.id %>').remove();
<% end %>

$('#link_loader_<%= @reward.id %>').hide();
$('#link_<%= @reward.id %>').show();
