$('#innerModalPopupDiv').html("<div id='one_time_content' style='display:block;'></div><div id='form_popup' style='display:none;'></div>");
$('#form_popup').html("<%=escape_javascript(render :partial => "regular_form")%>");
$('#one_time_content').html("<%=escape_javascript(render :partial => "list_reward_popup")%>");
$(".pagination").find("a").attr("data-remote", true);
$('#cancel_link_form').html("<a href='#' onclick='$(\"#one_time_content\").toggle();$(\"#form_popup\").hide();return false;'>back</a>");