<% if @error == false %>
$('#error_definition').remove();
$("<div class='alert alert-info' id='error_definition'>Fishbowl Promotion Setting info Saved ..</div>").insertAfter('#error_messages');
<% else %>
$('#error_definition').remove();
$("<div class='alert fade in' id='error_definition'>Fishbowl Promotion Setting info is not Saved ..</div>").insertAfter('#error_messages');
<% end %>