$("#one_time_content").toggle();$("#form_popup").hide();
$("#tab").append('<%=escape_javascript(render :partial => "add_row")%>');
$(".tata-ajax-loader").hide();
$("#form_popup").hide();
$("#row_<%= @data_reward.id %>").effect("highlight", {}, 20000);
