<% if @is_saved %>
  $("#pos_discount_type_modal").html('<%= escape_javascript(render :partial => "discount_confirmation", :locals => {:message => "Discount type has been updated"}) %>');
<% else %>
  $('#pos_discount_type_modal').html("<%= escape_javascript(render "pos_discount_type_form") %>");
<% end %>