<% if @is_save %>
  $('#milestone-form').html('<%= escape_javascript(render "shared/ajax_loader") %>');
  $('#milestone-list').hide();
  $('#milestone-form').show();
  $.get('<%= add_reward_admin_reward_url(@milestone) %>')
<% else %>
  $('#milestone-form').html('<%=j render 'milestone_reward_form' %>');
<% end %>