<% unless @reward.errors.blank? %>
  <% error = @reward.errors %>
  <% @reward.attributes.each do |k,v| %>
    $("#reward_<%=  k.to_s.gsub(".", "_") %>").removeClass("error");
    $("#<%=k%>_error").html("");
  <% end %>
  $('.tata-ajax-loader').hide();
  <% error.each do |key,value| %>
    $("#reward_<%=key.to_s.gsub(".", "_") %>").addClass("error");
    $("#<%=key.to_s.gsub(".", "_") %>_error").html("<span style='color:red;'><%= value %></span>");
  <% end %>
<% else %>
    <% if @is_from_push_reward.blank? %>
// if its not from push reward
  $('.tata-ajax-loader').hide();
  $('#data-container').html("<%= escape_javascript(render('list')) %>")
  closePopup(400);
    <% else %>
// if its from push reward
$('.tata-ajax-loader').hide();
$('#push_reward_chain_id').val(<%= @chain.id %>);
$('#closeBut').click();
$('#reward_select').append($('<option>', {
    value: '<%=   @saved_reward.id %>',
    text: '<%=  @saved_reward.name %>'
}));
$('#reward_select').val(<%= @saved_reward.id %>);
$('.nyroModalClose').click();
<% end %>

<% end %>

