$('#form_edit').html("<%= escape_javascript(render :partial => 'regular_form') %>");
$('#form_edit').show();
<% if @reward.reward_type == Reward::TYPES["ONE_TIME"]%>
  $("#title_form").html("<h3 style='text-align:center;'>One Time Reward</h3>");
  $('#date_selection').html('<%=escape_javascript(render :partial => "fix_date_selection")%>');
  $('#notification_area').html('<%=escape_javascript(render :partial => "notifications")%>');
  $("#reward_reward_type").val('<%=  Reward::TYPES["ONE_TIME"]%>');
  $('#restaurant_area').html('');
<% elsif @reward.reward_type == Reward::TYPES["REGULAR"] || @reward.reward_type == Reward::TYPES["MILESTONE"]%>
  $('.x-datepicker').datepicker({
  dateFormat: 'yy-mm-dd'
  });
<% elsif @reward.reward_type == Reward::TYPES["PROMOTION"] %>
$("#title_form").html("<h3 style='text-align:center;'>Promotion Reward</h3>");
<% elsif @reward.reward_type == Reward::TYPES["PUSH_REWARD"] %>
    $('#push_reward_form').html('<%=escape_javascript(render :partial => "regular_form")%>');
    $("#title_form").html("<h3 style='text-align:center;'>Push Reward</h3>");
    $('#date_selection').html('<%=escape_javascript(render :partial => "fix_date_selection")%>');
    $("#reward_reward_type").val('<%=  Reward::TYPES["PUSH_REWARD"]%>');
    $('#notification_area').html('<%=escape_javascript(render :partial => "notifications")%>');
    $('#restaurant_area').html('<%=escape_javascript(render :partial => "restaurant_filter")%>');
    $('#sub_button').val("Create Push Reward");
    $('#push_reward_form').show('slow');
<% elsif @reward.reward_type == Reward::TYPES["INCENTIVE"] %>
  $("#title_form").html("<h3 style='text-align:center;'>Incentive Reward</h3>");
  $("#reward_reward_type").val('<%=  Reward::TYPES["INCENTIVE"]%>');
  $('.x-datepicker').datepicker({
  dateFormat: 'yy-mm-dd'
  });
<% elsif @reward.reward_type == Reward::TYPES["GIFTABLE"] %>
  $('#form_edit').html('<%=escape_javascript(render :partial => "gifting_form")%>');
<% end %>
$('#edit_reward_<%= @reward.id %>').attr("method","put");