<div class="span4" style="height:350px;">
  <div class="modal-header" id="title_form"><h3 style="text-align:center;">Fishbowl Promotion Setting</h3></div><br />
  <div id="error_messages"></div>
  <%= simple_form_for(@reward,
                      :url => create_fishbowl_promotion_setting_admin_reward_path,
                      :html => {:id => 'form_ajax', :method => :post, :class => 'form-horizontal'},
                      :remote => true) do |f| %>
    <div class="span4">
      <%= f.simple_fields_for :fishbowl_reward_promotion_setting do |fr| %>
      <div class="field">
        PromotionID
        <div id="name_error"></div>
        <%= fr.text_field :promotion_id %>
      </div>
      <br/>

      <div class="field">
        Code Batch Size
        <div id="name_error"></div>
        <%= fr.text_field :code_batch_size %>
      </div>
      <br/>
      <% end %>
      <%= button_tag "Submit", data: {:disable_with => "Please wait..."}, :class => 'btn' %>
    </div>
  <% end %>
</div>