<div class="page-header">
  <h3>Fishbowl Promotion Codes Reward <%= @reward.name %></h3>
</div>

<%= simple_form_for :search, :url => fishbowl_promotion_codes_admin_reward_path(@reward), :html => {:class => "form-horizontal", :method => :get} do |f| %>
  <%= f.input :code, :required => false, :input_html => {:value => (params[:search][:code] rescue nil)} %>
  <%= f.input :email, :required => false, :input_html => {:value => (params[:search][:email] rescue nil)} %>
  <%= f.submit "Search", :class => "btn btn-primary" %>
<% end %>
<table>
  <thead>
  <tr>
    <th> Code</th>
    <th> Used By</th>
    <th> Used At</th>
    <th> Location</th>
  </tr>
  </thead>
  <tbody>
  <% @codes.each do |code| %>
    <tr>
      <td><%= code.code%></td>
      <td><%= code.user.email rescue nil %></td>
      <td><%= date_helper code.used_at %></td>
      <td><%= code.restaurant.app_display_text rescue nil%></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4">
      <%= will_paginate @codes %>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <%= link_to "<< Back to Reward Page", admin_rewards_path, :class => "btn" %>
    </td>
  </tr>
  </tfoot>
</table>