<style type="text/css">
    .input-append button.add-on {
        height: inherit !important;
        margin-top: -8px !important;
        margin-left: -5px !important;
    }
</style>
<div class="page-header">
  <h3>Add General Menu Items for reward : <%= @reward.name %></h3>
</div>
<%= simple_form_for :search, :html => {:method => :get} do |f| %>
    <div class='input-append'>
      <input placeholder="Search..." name="key" value="<%= params[:key] %>"/>
      <button class='btn add-on'>
        <i class="icon-search"></i>
      </button>
    </div>
<% end %>
<table class="table">
  <thead>
  <tr>
    <th>General Menu Item ID</th>
    <th>Item Name</th>
    <th>Description</th>
    <th>Item Keywords</th>
    <th>Action</th>
    <th>Type</th>
  </tr>
  </thead>
  <tbody>
  <% unless @general_items.blank? %>
      <% @general_items.each do |general_item| %>
          <tr id="row_gi_<%= general_item.id %>">
            <%= render "gen_item", {:general_item => general_item} %>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td colspan="6" style="text-align:center;">
          No General Item available
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @general_items %>