//$('#image_preview').remove();
//$('<img src="<%#= @url_s3.html_safe %>" id="image_preview"/>').insertAfter('#InfoBox');
$('img#image_preview').attr('src', "<%= @url_s3.html_safe %>");
console.log("<%= @url_s3.html_safe %>");
$('#InfoBox').html('Success ... ');