$('#data-container').ajaxloader('show');
$('#data-container').html("<%= escape_javascript(render('list')) %>");
$('#qry_order').val(<%= @order %>);
$('#data-container').ajaxloader('hide');
$('#loader').hide();