<h1>Listing Rewards</h1>

<%= link_to 'New Reward', new_admin_reward_path %>

<table>
  <caption></caption>
  <thead>
  <tr>
    <th>Name</th>
    <th width="10%">Chain</th>
    <th width="10%">Type</th>
    <th width="10%">Points</th>
    <th width="10%">POS Code</th>
    <th>Survey Linked To</th>
    <th>Dates</th>
    <th width="20%"></th>
  </tr>
  </thead>
  <tbody>
<% @rewards.each do |reward| %>
  <tr>
  	<td><%= reward.name %></td>
    <td><%= reward.chain.name %></td>
    <td><%= reward_type(reward.reward_type) %></td>
    <td><%= reward.points %></td>
    <td><%= reward.POSCode %></td>
    <td><%= reward.try(:survey).try(:title) %></td>
    <td><%= reward.effectiveDate.try(:strftime,'%Y-%m-%d') || '-' %> to <%= reward.expiryDate.try(:strftime,'%Y-%m-%d') || '-' %></td>
    <td><%= link_to 'Show', admin_reward_path(reward) %> |
      <%= link_to 'Edit', edit_admin_reward_path(reward) %> |
      <%= link_to 'Destroy', admin_reward_path(reward), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

Edit Event Reward
<div class="field">
  Chain:
  <% url_string= url_for(:controller=>'admin/rewards', :action=>'one_time_rewards')
     if url_string.index("?")
       url_string += "&chain_id="
     else
       url_string += "?chain_id="
     end
  %>
  <%= select_tag 'chain_id', options_from_collection_for_select(Chain.order("name"), :id, :name), :prompt=>"Please select chain",
                 :onchange => "document.location = '"+url_string +"' + this.value" %>
</div>
