$('#select_push_reward').html('<%= escape_javascript("#{select_tag "reward_id", options_for_select(@rewards.map{|r| [r.name, r.id]})}".html_safe) %>');

$('#push-reward-form-container').ajaxloader('hide');