$('#push_reward_form').html('<%=escape_javascript(render :partial => "regular_form")%>');
$("#title_form").html("<h3 style='text-align:center;'>Push Reward</h3>");
$('#date_selection').html('<%=escape_javascript(render :partial => "fix_date_selection")%>');
$("#reward_reward_type").val('<%=  Reward::TYPES["PUSH_REWARD"]%>');
$('#notification_area').html('<%=escape_javascript(render :partial => "notifications")%>');
$('#sub_button').val("Create Push Reward");
$('#push_reward_form').show('slow');