<div id="birthday_form">
  <%= image_tag "loading.gif" %>
</div>
<script>
    $(document).ready(function(){
        $('.x-datepicker').datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });
</script>
