<div id="push_reward_form">
  <%= image_tag "loading.gif" %>
</div>
<div id="email_preview" style="display: none">
  <div id="title_email_preview" class="modal-header"><h3>EMAIL PREVIEW</h3></div>
  <br />
  <h4>From : <%= @reward.chain.email %></h4>
  <h4>Subject : &nbsp;&nbsp;&nbsp; <span id="preview_subject"><%= @reward.chain.email %></span></h4>
  <h4>Content : &nbsp;&nbsp;&nbsp;<span id="preview_content"><%= @reward.chain.email %></span></h4>
  <%= simple_form_for(:email_preview, :url => send_test_email_admin_rewards_path, :remote => true) do |f|  %>
    <div id="form-preview" style="display: none;">
      <%= f.input :subject, :input_html => {:id => "text_preview_subject"} %>
      <%= f.input :content, :input_html => {:id => "text_preview_content"} %>
      <%= f.input :chain_id, :input_html => {:value => @reward.chain.id} %>
    </div>
    <br />
    <div class="actions">
      <%= f.submit "Try Send to SysAdmin", :class => "btn", :id => 'try_send', :onclick => "$(this).val('Sending...');$('#send_test_email_loader').show();" %>
      <span id="send_test_email_loader" style="display:none;"><%= image_tag "loader.gif" %></span>
      <a onclick="$('#push_reward_form').slideDown();$('#email_preview').slideUp();" class="btn">
        Cancel
      </a>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.x-datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
    });
  });
</script>