$('#new_reward').show();
$("#title_form").html("<h3 style='text-align:center;'>Regular Reward</h3>");
$("#reward_reward_type").val('<%=  Reward::TYPES["REGULAR"]%>');
$('#regular_form').html('<%=escape_javascript(render :partial => "regular_form")%>');

$('#new_reward').show();
$("#title_form").html("<h3 style='text-align:center;'>Regular Reward</h3>");
$('#date_selection').html('<%=escape_javascript(render :partial => "date_selection")%>');
$('#notification_area').html('');
$('#restaurant_area').html('');
$("#reward_reward_type").val('<%=  Reward::TYPES["REGULAR"]%>');

$('#sub_button').val("Create Reward");