$('#birthday_form').html('<%=escape_javascript(render :partial => "regular_form")%>');
$("#title_form").html("<h3 style='text-align:center;'>Birthday Rewards</h3><br/><i class='alert-error'>* Only One birtday are active on each chain, else will be deactivate</i>");
$('#date_selection').html('<%=escape_javascript(render :partial => "fix_date_selection")%>');
$("#reward_reward_type").val('<%=  Reward::TYPES["BIRTHDAY"]%>');
$('#notification_area').html('<%=escape_javascript(render :partial => "notifications")%>');
$('#sub_button').val("Create Birthday Reward");
$('#birthday_form').show('slow');