$('#push_promo_form').html('<%=escape_javascript(render :partial => "regular_form")%>');
$("#title_form").html("<h3 style='text-align:center;'>Promotion Reward</h3>");
$('#date_selection').html('<%=escape_javascript(render :partial => "fix_date_selection")%>');
$("#reward_reward_type").val('<%=  Reward::TYPES["PROMOTION"]%>');
$('#sub_button').val("Create Promotion Reward");
$('#push_promo_form').show('slow');