$('#anniversary_form').html('<%=escape_javascript(render :partial => "regular_form")%>');
$("#title_form").html("<h3 style='text-align:center;'>Anniversary Rewards</h3><br/><i class='alert-error'>* Only One ANNIVERSARY are active on each chain, else will be deactivate</i>");
$('#date_selection').html('<%=escape_javascript(render :partial => "fix_date_selection")%>');
$("#reward_reward_type").val('<%=  Reward::TYPES["ANNIVERSARY"]%>');
$('#notification_area').html('<%=escape_javascript(render :partial => "notifications")%>');
$('#sub_button').val("Create Anniversary Reward");
$('#anniversary_form').show('slow');