<h1>Editing One Time Rewards</h1>

<div class="field">
  Chain:
  <% if @chain %>
    <%= @chain.name %>
  <% end %>
</div>

<table>
  <caption></caption>
  <thead>
  <tr>
    <th>Name</th>
    <th width="10%">Chain</th>
    <th width="10%">Points</th>
    <th width="10%">POS Code</th>
    <th>Survey Linked To</th>
    <th>Dates</th>
  </tr>
  </thead>
  <tbody>
<% @rewards.each do |reward| %>
  <tr>
  	<td><%= reward.name %></td>
    <td><%= reward.chain.name %></td>
    <td><%= reward.points %></td>
    <td><%= reward.POSCode %></td>
    <td><%= reward.try(:survey).try(:title) %></td>
    <td><%= reward.effectiveDate.try(:strftime,'%Y-%m-%d') || '-' %> to <%= reward.expiryDate.try(:strftime,'%Y-%m-%d') || '-' %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
<table>
  <caption>Assign Rewards To One Time Event</caption>
  <thead>
  <tr>
    <th width="20%">Event</th>
    <th width="20%">Points</th>
    <th width="60%"></th>
  </tr>
  </thead>
  <tbody>
  <% ChainRewardEvent::EVENTS.each_value do |event| %>
  <% reward_id= @chainRewardEvents[event].try(:reward_id) %>
  <tr>
  	<td><%= reward_event(event) %></td>
    <td><%= select_tag 'one_time_reward_id', options_from_collection_for_select(@rewards, :id, :name, reward_id), :include_blank=>true,
                     :onchange => "$.post('#{admin_save_chain_reward_event_path}', {'_method':'post', 'reward_id':this.value, 'event':#{event}, 'chain_id':#{@chain.id}},
                     function(data) { $('#notice_#{event}').html(data.notice).effect('highlight', {}, 3000); } );" %>
    </td>
    <td><div id="notice_<%= event %>"></div></td>
    </tr>
<% end %>
</tbody>
</table>