<% unless @email_from_xls.blank? %>
    <% @email_from_xls.compact.each_with_index do |x, index| %>
        <div class="span3">
          <%= check_box_tag "user_ids[]", x, true, :class => "user_check"  %> <%= x %>
        </div>
    <% end %>
    <div class="clearfix"></div>
<% end %>

<h4 style="color:red"><%= @error %></h4>