<% if @errors.blank? %>
$.modal("<%= escape_javascript(render("push_confirmation")) %>",  {containerId: "simplemodal-dup", containerCss: "height:250px", dataCss: "height:250px"})
<% else %>
$('#form-container').html('<%= escape_javascript(render('push_user_reward'))%>');
<% end %>
$('#form-container').ajaxloader('hide')