<div class="page-header">
  <h2>Report Delayed Jobs</h2>
</div>
<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th style="width: 50px;">ID</th>
    <th style="width: 50px;">Locked by</th>
    <th style="width: 150px;">last error</th>
    <th style="width: 150px;">Status</th>
  </tr>
  </thead>
  <tbody>
  <% unless @djs.blank? %>
      <% @djs.each do |dj| %>
          <tr>
            <td><%= dj.id %></td>
            <td><%= dj.last_error %></td>
            <td><%= dj.delayable_type %></td>
            <td><%= dj.locked_by.blank? ? "Waiting for process" : "Processing" %></td>
            </td>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td colspan="4">All job has finished</td>
      </tr>
  <% end %>
  </tbody>
  <%= will_paginate @djs %>
</table>