<% if @from_list %>
  $("#row_<%= @reward.id %>").html('<%= escape_javascript(render "row_milestone_reward", {:reward => @reward})%>')
  $("#row_<%= @reward.id %>").effect("highlight", {}, 10000);
<% else %>
  $("#milestone-<%= @milestone.id %>").html('<%= escape_javascript(render "row_milestone", {:milestone => @milestone})%>')
  $("#milestone-<%= @milestone.id %>").effect("highlight", {}, 10000);
<% end %>