<div class="page-header">
  <h2>Reward Sent History for Chain : <%= @chain.name %></h2>
</div>
<%= search_field_tag "search_text" %>
<%= button_tag "Search", :id => "search_btn", :style => "width: 65px; height: 30px; margin-bottom: 8px;" %>
<span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>

<div id="history_content">
  <%= render 'list_history' %>
</div>


<%= form_tag reward_sent_histories_admin_reward_path(@chain.id), :id => "form", :class => 'form-horizontal', :style => "display:none;", :remote => true, :method => :get do %>
    <%= hidden_field_tag "id", @chain.id %>
    <%= hidden_field_tag "search_mail", nil %>
    <%= submit_tag "submit", :id => "sub" %>
<% end %>
<script type="text/javascript">
    $(document).ready(function () {
        $('#search_btn').click(function () {
            $('#search_mail').val($('#search_text').val());
            $('#page').val(1);
            $('#loader').show();
            $('#sub').click();
        });

        $('#search_text').keypress(function (e) {
            if (e.which == 13) {
                $('#search_btn').click();
            }
        });
    });

</script>

