<div class="page-header">
  <h3>Unused POS Codes Reward <%= @reward.name %></h3>
</div>

<%= simple_form_for :search, :url => unused_pos_codes_admin_reward_path(@reward), :html => {:class => "form-horizontal", :method => :get} do |f| %>
    <%= f.input :code, :required => false, :input_html => {:value => (params[:search][:code] rescue nil)} %>
    <%= f.submit "Search", :class => "btn btn-primary" %>
<% end %>
<table class="table">
  <thead>
  <tr>
    <th> Code</th>
  </tr>
  </thead>
  <tbody>
  <% @codes.each do |code| %>
      <tr>
        <td><%= code.code%></td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4">
      <%= will_paginate @codes %>
    </td>
  </tr>
  </tfoot>
</table>