$('#data-container').ajaxloader('show');
$('#data-container').html("<%= escape_javascript(render('list')) %>")
$('#qry_order').val(<%= @order %>);
$('#page').val(<%= @page %>);
$('#data-container').ajaxloader('hide');
$('#loader').hide();
//closePopup(1000);
//$('#blockModalPopupDiv').html('');
<% rst = @reward_select_type.join(" ") rescue nil %>
<% psearch = [@effective_date,@expiry_date,rst,@search_query,@order,@page]%>
var psearch = "<%= psearch.join('-----') %>"
setCookie("psearch",psearch,0,"admin/rewards");