<script>
  $(document).ready(function(){  
    $(".edit_reward").click(function() {
      modalPopup(align, top, width, padding, disableColor, disableOpacity,
      backgroundColor, borderColor, borderWeight, borderRadius,
      fadeOutTime, $(this).attr('href'), loadingImage);
    });
  });
</script>
<p id="notice"><%= notice %></p>

Name: <%= @reward.name%> <br />
Effective Date: <%= @reward.effectiveDate.try(:strftime,'%Y-%m-%d') %><br />
Expiry Date: <%= @reward.expiryDate.try(:strftime,'%Y-%m-%d') %><br />
POS Code: <%= @reward.POSCode %><br />
POS targetType: <%= @reward.targetType %><br />
POS targetId: <%= @reward.targetId %><br />
Points: <%= @reward.points %><br />
Fineprint: <%= @reward.fineprint %><br />
Chain: <%= @reward.chain.name %><br />

<br/>
<%= form_tag("/admin/update_reward_availability", :method => :post ) do %>
<%= hidden_field_tag(:reward_id, @reward.id) %>
<%= javascript_include_tag "modal.popup" %>
<table>
  <caption>Participating Restaurants:</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>All <%= check_box_tag "all_participants" %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th colspan="3"></th>
      <th><%= submit_tag "Pull Out", :confirm => "Click OK to pull out the selected restaurants from this reward", :disable_with => "Please wait..." %></th>
    </tr>
  </tfoot>
  <tbody>
<% @participants.each do |restaurant| %>
  <tr>
  	<td><%= restaurant.name %></td>
    <td><%= restaurant.address %></td>
  	<td><%= restaurant.try(:city).try(:name) %></td>
    <td><%= check_box_tag "pullout_[#{restaurant.id}]", restaurant.id, false,
                    :name => "pullout[]" %></td>
  </tr>
<% end %>
  </tbody>
</table>
<br/>
<table>
  <caption>Non-participating Restaurants</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>All <%= check_box_tag "all_non_participants" %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th colspan="3"></th>
      <th><%= submit_tag "Participate", :confirm => "Click OK to add the selected restaurants to this reward", :disable_with => "Please wait..." %></th>
    </tr>
  </tfoot>
  <tbody>
<% @non_participants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.try(:city).try(:name) %></td>
      <td><%= check_box_tag "participate_[#{restaurant.id}]", restaurant.id, false,
                    :name => "participate[]" %></td>
    </tr>
<% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'Edit', edit_admin_reward_path(@reward),
              :class => 'edit_reward',
              :remote => true %>|
<%= link_to 'Back', admin_rewards_path %>
