<% if @is_save %>
  $('#milestone-list').show();
  $('#milestone-list').html('<%= escape_javascript(render 'shared/ajax_loader') %>');
  $('#milestone-form').hide();
  $('#milestone-list').html('<%= escape_javascript(render "confirmation", {:message => "Milestone has been successfully updated."}) %>');
<% else %>
  $("#milestone-form").html('<%=j render "edit_milestone" %>');
<% end %>