<% unless @reward.errors.blank? %>
  <% error = @reward.errors %>
  <% @reward.attributes.each do |k,v| %>
    $("#reward_<%=  k %>").removeClass("error");
    $("#<%=k%>_error").html("");
  <% end %>
  $('.tata-ajax-loader').hide();
  <% error.each do |key,value| %>
    $("#reward_<%=key%>").addClass("error");
    $("#<%=key%>_error").html("<span style='color:red;'><%= value %></span>");
  <% end %>
<% else %>
   <% if params['from_push_reward'].blank? %>
     $.post("<%= search_admin_rewards_path %>", { chain_id: "<%= @reward.chain.id %>"} );
   <% else %>
// if its from push reward
$('.tata-ajax-loader').hide();
$('#push_reward_chain_id').val(<%= @chain.id %>);
$('#closeBut').click();
$('#reward_select').append($('<option>', {
    value: '<%=   @reward.id %>',
    text: '<%=  @reward.name %>'
}));
$('#reward_select').val(<%= @reward.id %>);
$('.nyroModalClose').click();
   <% end %>
closePopup(1000);
<% end %>