<script>
//$(document).ready(function(){
    $.ajax({
     url: '<%= get_uploaded_file_admin_rewards_path %>',
     data: {id:"<%= @id rescue nil%>"},
     success: function(result){
     //$('#InfoBox').html('Success ... ');
     //$('#upload_file').val('there is data');
     //    console.log("aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa");
     //console.log(result);
     //console.log(result.search("Wrong"));


    // $("#UploadButton").find("form").find('input[type=file]').removeAttr('disabled');
     }
  //   });
});
</script>
