<div class="page-header">
  <h4>Claim Reward (<%= @reward.name %>) History</h4>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Datetime</th>
    <th>User</th>
    <th>Location</th>
    <th>Additional Info</th>
  </tr>
  </thead>
  <tbody>
  <% unless @reward_transactions.blank? %>
      <% @reward_transactions.each do |trans| %>
          <tr>
            <td><%= date_helper_timezone(trans.created_at) %></td>
            <td><%= User.find(trans.user_id).email rescue nil %></td>
            <td><%= trans.restaurant.dashboard_display_text rescue nil %></td>
            <td>
              <% unless trans.details.blank? %>
                  <% trans.details.each do |det| %>
                      APP Text : <%= det.reward_information.app_text %>
                      <br/>
                      Answer :   <%= det.answer.blank? ? det.description : det.answer %>       <br/><br/>
                  <% end %>
              <% else %>
                  &nbsp;
              <% end %>
            </td>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td colspan="3">There are no data</td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="3" align="center">
      <%= will_paginate(@reward_transactions, :params => {:id => @reward.id}) rescue "" %>
    </td>
  </tr>
  </tfoot>
</table>

<a href="#myModal" style="background:grey;color:white;"
   role="button" class="btn" data-toggle="modal" data-keyboard="false" data-backdrop="static"
   alt="" onclick="$.get('<%= claim_history_job_admin_reward_path(@reward) %>')">Export CSV</a>

<!-- Modal Welcome to the Take Action -->
<div id="myModal" class="modal hide fade" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top:70px;left: 0px; right: 0px; margin: auto;">
  <div class="modal-header">
    Export CSV
  </div>

  <div class="modal-body" style="text-align: center;">
    Collecting data. Report will be emailed to you when ready
  </div>
  <div class="modal-footer">
    <%= link_to "OK", view_claim_history_admin_reward_path(@reward), :class => 'btn' %>
  </div>
</div>

