<h1>List All jobs </h1>
<br/><br/>
Filter :
<br/>
<%= select_tag :type, options_for_select([['running','running'],['queue','queue'],['error','error']], :selected => params['type']), :class=>'x-col3-dropdown', :style => "width:98px",
               :onchange => "window.location='/admin/admin_jobs?type='+this.value" %>
<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th>Id</th>
    <th>Handler</th>
    <th>Last Error</th>
    <th>Delayable Type</th>
    <th>Delayable Id</th>
    <th>Datetime</th>
  </tr>
  </thead>
  <tbody>
  <% unless @jobs.blank? %>
      <% @jobs.each do |job| %>
          <tr>
            <td><%= job.id %></td>
            <td>
              <a href="#" id="job_handler_<%= job.id%>" class="short_token_job_handler"><%=job.handler.try(:slice, 0, 10) %>...</a>
              <div id="full_job_handler_<%= job.id%>" class="full_job_handler" style="display: none"><%= job.handler %></div>
            </td>
            <td>
              <a href="#" id="job_last_error_<%= job.id %>" class="short_token_job_last_error"><%=job.last_error.try(:slice, 0, 10) %>...</a>
              <div id="full_job_last_error_<%= job.id %>" class="full_job_last_error" style="display: none"><%= job.last_error %></div>
            </td>
            <td><%= job.delayable_type %></td>
            <td><%= job.delayable_id %></td>
            <td><%= date_helper job.created_at %></td>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td colspan="5" style="text-align: center;">There are no <%= params['type'].blank? ? 'running' : params['type'] %> jobs .</td>
      </tr>
  <% end %>
  </tbody>
  <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').hide();">&times;</button>
      <h3 id="myModalLabel">Delayed Job Info</h3>
    </div>
    <div class="modal-body">
      <p class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;">One fine body…</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').hide();">Close</button>
    </div>
  </div>
  <%= will_paginate @jobs %>
</table>