<div class="page-header">
  <h1>Edit Olo Webhook</h1>
</div>
<%= form_for [:admin, @webhook], :url => admin_webhook_path(@webhook), :method => :put do |f| %>
<div class="x-box">
  <div class="field">
    <label class="string required control-label" for="restaurant_name">
      <%= "Email" %>
    </label>
    <%= text_field_tag "olo_webhook[email]", (@webhook.content["customer"]["email"] rescue nil) %>
  </div>


  <div class="field">
    <label class="string control-label" for="restaurant_name">
      <%= "Sub total" %>
    </label>
    <%= text_field_tag "olo_webhook[subtotal]", (@webhook.content["totals"]["subTotal"] rescue nil) %>
  </div>
  <div class="field">
    <label class="string control-label" for="restaurant_name">
      <%= "Order Id" %>
    </label>
    <%= text_field_tag "olo_webhook[order_id]", (@webhook.content["orderId"] rescue nil) %>
  </div>
  <%= submit_tag "submit" %>
  <% end %>
</div>
<%= link_to "Back", admin_webhooks_path %>
