<div class="page-header">
  <h1>Listing Webhook</h1>
</div>
<%= form_tag admin_webhooks_path, method: :get do%>
<div class="x-box-col3">
  <div class="field">
    <%= label_tag :chain %>
    <%= select_tag('chains', options_from_collection_for_select(Chain.active.order('name'), :id, :name, params[:chains]), options ={:multiple => true, :class=>'multiselect'}) %>
  </div>
  <div class="field" id="restaurant-choices">
    <%= label_tag :restaurant %>
    <%= text_field_tag 'restaurant', params[:restaurant]%>
  </div>
  <div class="field" id="offer-choices">
    <%= label_tag :email %>
    <%= text_field_tag 'email', params[:email]%>
  </div>
  <div class="field" id="offer-choices">
    <%=submit_tag "Search" %>
  </div>
</div>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Chain</th>
      <th>Content</th>
      <th>EMAIL</th>
      <th>Restaurant</th>
      <th>Match</th>
      <th>Receipt id</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <% @webhooks.each do |webhook|%>
    <tr>
      <td><%= webhook.chain_id%></td>
      <td><%= webhook.content%></td>
      <td><%= webhook.email rescue nil%></td>
      <td><%= webhook.restaurant rescue nil%></td>
      <td>
        <div style="float:left;">
        <% if webhook.is_match_restauran == true%>
          <div class="receipt_status_box" style="background:green;"></div>
          <% else %>
          <div class="receipt_status_box" style="background:red;"></div>
          <% end %>
        </div>
      </td>
      <td><%= webhook.receipt_id rescue nil%></td>
      <td>
        <%= link_to "EDIT", edit_admin_webhook_path(webhook)%>
        <%= link_to "PROCESS", process_receipt_olo_admin_webhook_path(webhook), :confirm => "PROCESS THIS?? MAKE SURE YOU EDIT THE EMAIL" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @webhooks %>
