<div class="span10">
  <%= simple_form_for([:admin, @partner_webhook_setting], :remote => true) do |f| %>
    <%= render "shared/error_messages", :target => @partner_webhook_setting %>
    <div class="form-inputs">
      <div class="span4">
        <div class="field">
          <%= hidden_field_tag "partner_webhook_setting[chain_id]", @chain.id %>
        </div>

        <div class="field">
          <%= f.text_field :url, style: "width: 500px;" %>
        </div>

        <%= button_tag "Submit", data: {:disable_with => "Please wait..."}, :class => 'btn btn-primary' %>
    </div>
    </div>
  <% end %>

</div>