<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>URL</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% unless @partner_webhook_setting.blank? %>
    <tr>
      <td><%= @partner_webhook_setting.id %></td>
      <td><%= @partner_webhook_setting.url %></td>

      <td><%= link_to "Edit", edit_admin_partner_webhook_setting_path(@partner_webhook_setting), :class => 'nyroModal', :onclick => "$('.btn-group').click();" %></td>
      <td><%= link_to "Delete", admin_partner_webhook_setting_path(@partner_webhook_setting), :method => :delete, :confirm => "Are you sure?" %></td>
    </tr>
  <% else %>
      <tr>
        <td colspan="4"><%= link_to "New",new_admin_partner_webhook_setting_path(:chain_id => @chain.id), :class => 'nyroModal' %></td>
      </tr>
  <% end %>
</table>

<script>
    $('.nyroModal').nyroModal();
</script>
<style>
    table.table td { word-wrap: break-word; }
</style>