<%= javascript_include_tag "ckeditor/init" %>

<%= simple_form_for([:admin, @chain,@chain_setting_alert]) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <div class="control-group email optional">
    <label class="email optional control-label" for="chain_setting_alert_email">Chain</label>
    <div class="controls">
      <%= @chain.name %>
    </div>
  </div>

  <%= f.hidden_field :chain_id %>

  <%= f.input :email %> <br/>
  Receipt STATUSES:<br/>
  <%= select_tag "receipt_status", options_for_select(ChainSettingAlert.receipt_selector(@chain),@receipt_status), {:include_blank => false, :class => 'select2', :multiple => true}%>
  <hr/>
  <% if !ChainSettingAlert.online_order_selector(@chain).blank?%>
  Online ORDER TYPES:<br/>
  <%= select_tag "online_order_type", options_for_select(ChainSettingAlert.online_order_selector(@chain),@online_order_type), {:include_blank => false, :class => 'select2', :multiple => true}%>
      <% end %>
  <hr/>
  <% if ChainSettingAlert.is_mobile_payment(@chain) == true%>
  Mobile Payment: <%= check_box_tag "mp", "1", @mp%>
      <% end %>
  <hr/>
  <% if @chain.connect_to_aloha_program == true%>
  Replicated receipt: <%= check_box_tag "is_replicate","1", @is_replicate%>
  <hr/>
      <% end %>
  <%= f.input :is_active, :label => "Active" %>
  <br/>
  <%= f.input :send_time, :input_html => {:class => "x-time-picker"}  %>
  <div class="control-group email optional">
    <label class="email optional control-label" for="chain_setting_alert_email">Send Zone</label>
    <div class="controls"><%=time_zone_select( "chain_setting_alert", "send_zone", nil, include_blank: false, :default => (@chain_setting_alert.send_zone rescue "Eastern Time (US & Canada)")) %>
    </div>
  </div>
  <%= f.input :email_subject, :label => "Email Subject", :input_html => {:label_html => {:class => 'control-label'}}, :wrapper_html => {:class => "control-group"} %>
  <!--
  <i><b>add %{restaurant_list} to add the restaurant variables on the email</b></i><br/>
  <%= f.input :email_content, :as => :ckeditor, :label => "Email HTML Content", :input_html => { :toolbar => 'Easy', :rows => 3, :cols => 20, :value => f.object.email_content, :style => "width:600px"} %>
  -->
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
</div>
<% end %>
<style>
    .select2-results .select2-highlighted {
        background: #8fd738 !important;
        color: #fff;
    }
</style>
