<h1>Scans Alert</h1>

<table>
  <tr>
    <th>Chain</th>
    <th>Email</th>
    <th>Subject</th>
    <th>Is active</th>
    <th>Send time</th>
    <th>Send zone</th>
    <th>Additional INFO</th>
    <th>Actions</th>
    
  </tr>

<% @chain_setting_alerts.each do |chain_setting_alert| %>
  <tr>
    <td><%= chain_setting_alert.chain_id %></td>
    <td><%= chain_setting_alert.email %></td>
    <td><%= chain_setting_alert.email_subject %></td>
    <td><%= chain_setting_alert.is_active %></td>
    <td><%= chain_setting_alert.send_time %></td>
    <td><%= chain_setting_alert.send_zone %></td>
    <td>
      Receipt Status Include :


      <%   str = ""%>
      <%    ChainSettingAlert::RECEIPT_TYPES.each_pair do |x,y| %>
          <%    str += x.to_s + " ".html_safe if @receipt_status.to_a.include?(y.to_s) %>
      <% end%>

      <%= str%>

      <%   str = ""%>
      <%    ChainSettingAlert::ONLINE_ORDER_TYPES.each_pair do |x,y| %>
          <%    str += x.to_s + " ".html_safe if @online_order_type.to_a.include?(y.to_s) %>
      <% end%>
<hr/>
      Online Order included :<br/>
      <%= str %>
      <hr/>
Mobile payment      <%= @mp %>
      <hr/>
      Db Replicate
      <%= @is_replicate %>
    </td>
    
    <td>
      <div class="btn-group">
        <button class="btn">Actions</button>

        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <%= link_to 'Test IT', test_no_scan_alert_chain_admin_chain_chain_setting_alert_path(@chain, chain_setting_alert), method: :put, :confirm => "
    This will send email based on your setting." %>
          <%= link_to 'Show', admin_chain_chain_setting_alert_path(@chain, chain_setting_alert) %>
          <%= link_to 'Edit', edit_admin_chain_chain_setting_alert_path(@chain, chain_setting_alert) %>
          <%= link_to 'Destroy', admin_chain_chain_setting_alert_path(@chain, chain_setting_alert), confirm: 'Are you sure?', method: :delete %>
        </ul>
      </div>
      </td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chain setting alert', new_admin_chain_chain_setting_alert_path(@chain)  unless @chain.chain_setting_alert%>
