<p id="notice"><%= notice %></p>

<p>
  <b>Chain:</b>
  <%= @chain_setting_alert.chain.name %>
</p>

<p>
  <b>Email:</b>
  <%= @chain_setting_alert.email %>
</p>

<p>
  <b>Is active:</b>
  <%= @chain_setting_alert.is_active %>
</p>

<p>
  <b>Send time:</b>
  <%= @chain_setting_alert.send_time %>
</p>

<p>
  <b>Send zone:</b>
  <%= @chain_setting_alert.send_zone %>
</p>

<p>
  <b>Email Subject:</b>
  <%= @chain_setting_alert.email_subject %>
</p>

<p>
  <b>Email content</b><br />
  <%= @chain_setting_alert.email_content.try(:html_safe) %>
</p>


<%= link_to 'Edit', edit_admin_chain_chain_setting_alert_path(@chain, @chain_setting_alert) %> |
<%= link_to 'Back', admin_chain_chain_setting_alerts_path(@chain) %>
