<div class="page-header">
  <h2>POS Receipts</h2>
</div>

<table class="table stripped" id="content-data">
  <thead>
    <tr>
      <th>Receipt Time</th>
      <th>Barcode</th>
      <th>total</th>
      <th>tips</th>
      <th>tax</th>
      <th>item sales</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @pos_receipts.each do |pos_receipt| %>
    <tr>
      <td><%= pos_receipt.receipt_time.strftime("%b %d, %Y %H:%M") rescue nil %></td>
      <td><%= pos_receipt.barcode %></td>
      <td><%= pos_receipt.total %></td>
      <td><%= pos_receipt.tips %></td>
      <td><%= pos_receipt.tax %></td>
      <td><%= pos_receipt.item_sales %></td>
      <td><%= pos_receipt.status_name %></td>
      <td>
        <%= link_to "edit", edit_admin_pos_receipt_path(pos_receipt) %>
        <%= link_to "show", admin_pos_receipt_path(pos_receipt) %>
        <%= link_to "destroy", admin_pos_receipt_path(pos_receipt), :method => :delete, :confirm => "are you sure?" %>
      </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="8">
      <%= will_paginate(@pos_receipts) %>
    </td>
  </tr>
  </tfoot>
</table>
<br/>
