<div class="page-header">
  <h4>POS Receipt Detail</h4>
</div>

<table class="table">
  <tr>
    <td>Receipt Date:</td>
    <td><%= @pos_receipt.receipt_time.strftime("%b %d, %Y %H:%M") %></td>
  </tr>
  <tr>
    <td>Barcode:</td>
    <td><%= @pos_receipt.barcode %></td>
  </tr>
  <tr>
    <td>Total:</td>
    <td><%= @pos_receipt.total %></td>
  </tr>
  <tr>
    <td>Tips:</td>
    <td><%= @pos_receipt.tips %></td>
  </tr>
  <tr>
    <td>Tax:</td>
    <td><%= @pos_receipt.tax %></td>
  </tr>
  <tr>
    <td>Item Sales:</td>
    <td><%= @pos_receipt.item_sales %></td>
  </tr>
  <tr>
    <td>Menu Items</td>
    <td>
      <% @pos_receipt.menu_items.each do |menu| %>
        <%= debug menu %>
      <% end %>
    </td>
  </tr>
</table>

<%= link_to "Back", admin_pos_receipts_path, :class => "btn btn-primary" %>