<% if @user_notification.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user_notification.errors.count, "error") %> prohibited this chain from being saved:</h2>

    <ul>
      <% @user_notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.input :unique_identifier, :readonly => true %>
</div>
<div class="field">
  <%= f.input :description %>
</div>
<div class="field">
  <%= f.input :notification, :input_html => {:style => "height:150px;width:400px;"} %>
</div>
<div class="field">
  <%= f.input :delay_time %> <i> Delay in seconds, 0 = no delay </i>
</div>
<br />
<div class="field">
  <label class="text required control-label" for="dynamic_fields">
    Dynamic Fields <i> (max : 5 fields allowed)</i>:
  </label>

  <div class="clearfix"></div>
  <div id="user_activity_fields">
    <%= f.simple_fields_for :user_activity_notification_fields do |user_activity_notification| %>
      <%= render "user_activity_notification_field_fields", :f => user_activity_notification %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add dynamic fields text', f, :user_activity_notification_fields, :class => "btn btn-primary"%>
    </div>
  </div>
</div>
<br/>
<br/>
<div class="actions">
  <%= f.submit :class => "btn btn-primary" %>
</div>