<div class="nested-fields">
  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :description %>
  </div>
  <div class="field">
    <%= f.input :identifier %>
  </div>
  <div class="field span4" style="margin-left: 420px;">
    <%= link_to_remove_association "remove", f, :class => "btn btn-danger" %>
  </div>
  <div class="clearfix"></div>
  <br />
</div>
