<div class="page-header">
  <h3>Edit User Activity Based Notification</h3>
</div>
<%= simple_form_for([:admin, @user_notification], :url => admin_chain_user_notification_path(@chain, @user_notification), :html => {:class => "form-horizontal", :method => :put}) do |f| %>
    <%= render 'form', :f => f %>
<% end %>
<%= link_to 'Back', admin_chain_user_notifications_path(@chain) %>
