<div class="page-header">
  <h2>Listing User Activity Based Notification <%= @chain.name %></h2>
</div>
<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th width="10%">Unique Identifier</th>
    <th width="5%">Delay</th>
    <th>Description</th>
    <th>Notification</th>
    <th>Fields</th>
    <th width="15%">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @user_notifications.each do |user_notification| %>
      <tr>
        <td><%= user_notification.unique_identifier %></td>
        <td><%= user_notification.delay_time %></td>
        <td><%= user_notification.description %></td>
        <td><%= user_notification.notification %></td>
        <td>
          <% user_notification.user_activity_notification_fields.each do |a| %>
            Name  : <%= a.name %> <br />
            Description  : <%= a.description %> <br />
            Identifier  : <%= a.identifier %> <br />
              <hr />
          <% end %>
        </td>
        <td>
          <%= link_to 'Destroy', admin_chain_user_notification_path(@chain, user_notification), :class => "btn btn-danger", :method => :delete, :confirm => 'are you sure?' %>
          <%= link_to 'Edit', edit_admin_chain_user_notification_path(@chain, user_notification), :class => "btn btn-warning" %>
        </td>
      </tr>
  <% end %>
  <% if @user_notifications.blank? %>
      <tr><td colspan="6">There are no data</td></tr>
  <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Notification Share', new_admin_chain_user_notification_path(@chain), :class => "btn btn-primary" %>
<%= link_to 'Back', admin_chains_path, :class => "btn btn-primary" %>
