<%= custom_form_for([:admin, @faq], :url => @faq.new_record? ? admin_chain_faqs_path(@chain) : update_admin_chain_faqs_path(@chain, @faq)) do |f| %>
  <%= f.input :locale_id, :collection => @chain.locales %>  
  <%= f.input :title %>  
  <%= f.input :html_content, :as => :text, :label => "HTML Content", :input_html => {:rows => 10} %>
  <%= f.input :css_content, :as => :text, :label => "CSS Content", :input_html => {:rows => 10} %>
  <%= f.submit "#{@faq.new_record? ? 'Create' : 'Update'}", :class => "btn btn-primary", :onclick => "$('#image_loader_save').show()" %><%= image_tag "loader.gif", :id => "image_loader_save", :style => "display:none" %>
  <%= link_to "Cancel", admin_chain_faqs_path(@chain), class: "btn" %>
<% end %>