<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, user-scalable=0"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title><%= @faq.title rescue nil %></title>
<!--   <link href="/assets/d2_css/bootstrap/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/assets/d2_css/bootstrap/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css" /> -->
  <%= stylesheet_link_tag "d2_css/bootstrap/bootstrap", "d2_css/bootstrap/bootstrap-responsive", "fonts" %>
  <%= csrf_meta_tags %>
  <style>
    <%= @faq.css_content.html_safe %>
  </style>
</head>
<body class="m-body">
  <div class="container m-container">
    <%= @faq.html_content.html_safe %>
  </div>
</body>
</html>
