<div class="page-header">
	<h3><%= @chain.name %> -- FAQ Pages</h3>
</div>

<table>
  <thead>
    <tr>
    	<th>ID</th>
    	<th>Locale</th>
    	<th>Title</th>
      <th>URL</th>
    	<th>Action</th>
    </tr>
  </thead>
</table>
<% @faqs.each do |faq| %>
<table id="content_faq_<%= faq.id %>" class="table"> 
  <tr id="faq_<%= faq.id %>">
     <td><%= faq.id %></td>
     <td><%= faq.try(:locale).try(:key).try(:upcase) %></td>
     <td><%= faq.title rescue nil %></td>
     <td>
      <% if faq.url.blank? %>
        <%= link_to "Generate", generate_url_admin_chain_faqs_path(@chain, faq), :class => "btn btn-primary btn-sm" %>
      <% else %>
        <a href="<%= faq.url %>" target="_blank" >
          <%= faq.url %>
        </a>
      <% end %>
     </td>
     <td>
      <%= link_to "Edit", edit_admin_chain_faqs_path(@chain, faq), :class => "btn btn-info btn-sm" %>
       | 
      <%= link_to "Preview", preview_admin_chain_faqs_path(@chain, faq), :class => "btn btn-primary btn-sm", :target => "_blank" %>
       | 
      <%= link_to 'Destroy', destroy_admin_chain_faqs_path(@chain, faq), data: {confirm: 'Are you sure?'}, :class => "btn btn-danger btn-sm" %>
     </td>
  </tr>

</table>    
<% end %>


<%= link_to "New", new_admin_chain_faqs_path(@chain), :class => "btn btn-primary" %>
<%= link_to "FAQ Images", admin_chain_faqimages_path(@chain), :class => "btn btn-primary" %>
<%= link_to "Back", admin_chains_path, :class => "btn btn-primary" %>