<%= render "searchform" %>
<br /><br />
<table class="table table-bordered" border="2" cellpadding="4" cellspacing="4">
  <thead>
    <tr>
      <th>User</th>
      <th>Current Categories</th>
      <th>Picked Categories for next week</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% unless @chain.blank? %>
      <% unless @users.blank? %>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td>
              <% user.categories.each_with_index do |category, i| %>
                <%= i+1 %>. <%= category.description %> <br />
              <% end %>
            </td>
            <td>
              <% user.tmp_category.category_ids.split(",").each_with_index do |category, i| %>
                <%= i+1 %>. <%= GoalCategory.find(category).description rescue nil %> <br />
              <% end if !user.tmp_category.blank? and !user.tmp_category.category_ids.blank? %>
            </td>
            <td>
              <%= link_to "Edit", edit_admin_user_goal_category_path(user) %> |
              <%= link_to "Show Goals", show_goals_admin_user_goal_category_path(user) %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="2">
            There are no data
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2" style="color: red;">
          Please Select a chain
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users, :params=>{:id => @chain.id, :query => params[:query], :format => :html } rescue "" %>
<br /><br />