<%= form_tag({:controller => "user_goal_categories", :action => "goal_categories_by_chain"}) do |f| %>

  <div class="x-box">
    <div class="x-box-inner">
      <div class="field">
        <label>User</label>
        <%= hidden_field_tag "id", @chain.id, :style=>'width:300px' %>
        <%= text_field_tag "query", params[:query], :style=>'width:300px' %>
        <%= submit_tag "Search" %>
      </div>
    </div>
  </div>

<% end %>