<div class="page-header">
  <h3>Edit <%= @user.email %>'s Goal Category</h3>
</div>
<%= simple_form_for([:admin, @user], url: admin_user_goal_category_path(@user), :html => {:method => :put}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert-error">Some errors were found, please take a look:</div>
      <div class="alert-error"><%= pluralize(@user.errors.count, "error") %> prohibited this record from being saved:</div>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="span12">
    <label>Select categories :</label>
    <% @chain.goal_categories.where(:status => GoalCategory::STATUS[:ACTIVE]).each do |gc| %>
      <%= check_box_tag "category_ids[]", gc.id, @user.categories.include?(gc) %>&nbsp;&nbsp;&nbsp;<%= gc.description %> <br />
    <% end %>
  </div>
  <div class="span12" style="margin-top: 20px;">
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Back", goal_categories_by_chain_admin_user_goal_category_path(@chain), :class => "btn" %>
  </div>
<% end %>