<div class="page-header">
  <h1>Listing User Goal Categories</h1>
</div>

<div class="page-header">
  <div class="field form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="select01">Chain:</label>
        <div class="controls">
          <%= select_tag 'chain', options_from_collection_for_select(Chain.active.order("name"), :id, :name, @chain.id), :prompt=>"Please select chain",
            :onchange => "$('#data-container').ajaxloader('show');$('#loader').show();if(this.value == '')$.get('/admin/user_goal_categories/0/goal_categories_by_chain.js');else $.get('/admin/user_goal_categories/'+this.value+'/goal_categories_by_chain.js');" %>
          <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div id="data-container">
  <%= render "list" %>
</div>

