<div class="page-header">
  <h3>New User Goal Category</h3>
</div>

<%= simple_form_for([:admin, @user_goal_category]) do |f| %>
  <div class="span12">
    <%= f.input :category_id, :collection => @chain.goal_categories.all.map{|gc| [gc.description, gc.id]} %>
    <%= f.input :chain_id, :as => :hidden %>
  </div>
  <div class="span12">
    <%= f.input :user_id, :collection => @chain.users.all.map{|user| [user.email, user.id]} %>
  </div>
  
  <%= f.submit "Create", :class => "btn btn-primary" %>
  <%= link_to "Back", goal_categories_by_chain_admin_user_goal_category_path(@chain), :class => "btn" %>
<% end %>