<div class="page-header">
  <h2><%= @user.email %>'s GOAL</h2>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Week Date</th>
    <th>Goals</th>
  </tr>
  </thead>
  <tbody>
  <% @weeks.each do |week| %>
      <tr>
        <td>
          <b>START DATE </b>: <%= date_helper_timezone(week.start_date) %> <br />
          <b>END DATE</b>: <%= date_helper_timezone(week.end_date) %>
        </td>
        <td>
          <ul>
            <% week.user_goals.select("goal_id, week_id, completed, user_id").where(:user_id => @user.id).each do |user_goal| %>
                <li>
                  <div class="span8">
                    <%= user_goal.goal.get_text_by_locale(user_goal.user.locale.key) %>
                  </div>
                  <div class="span2">
                    <%= user_goal.completed ? "COMPLETED" : "NOT COMPLETED" %>
                  </div>
                </li>
            <% end %>
          </ul>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @weeks %>

<%= link_to "Back", admin_user_goal_categories_path %>