<div class="page-header">
  <h1>Listing Webhook</h1>
</div>
<%= form_tag admin_bridg_webhooks_path, method: :get do %>
<div class="x-box-col3">
  <div class="field">
    <%= label_tag :chain %>
    <%= select_tag('chains', options_from_collection_for_select(Chain.active.order('name'), :id, :name, params[:chains]), options ={:multiple => true, :class=>'multiselect'}) %>
  </div>
  <div class="field" id="restaurant-choices">
    <%= label_tag :restaurant %>
    <%= text_field_tag 'restaurant', params[:restaurant]%>
  </div>
  <div class="field" id="offer-choices">
    <%= label_tag :user_id %>
    <%= text_field_tag 'user_id', params[:user_id]%>
  </div>
  <div class="field" id="offer-choices">
    <%=submit_tag "Search" %>
  </div>
</div>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Chain</th>
      <th>Check</th>
      <th>Reward</th>
      <th>Restaurant</th>
      <th>-</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <% @bridg_webhooks.each do |webhook|%>
    <tr>
      <td><%= webhook.chain_id %></td>
      <td><%= webhook.check %></td>
      <td><%= webhook.reward_id rescue nil%></td>
      <td><%= webhook.restaurant_id rescue nil%></td>
      <td>
        user id: <%= webhook.user_id rescue nil%><br />
        Campaign id: <%= webhook.campaign_id rescue nil%><br />
        reward code: <%= webhook.reward_code rescue nil%><br />
        discount: <%= webhook.discount rescue nil%><br />
        status: <%= webhook.status rescue nil%><br />
        status description: <%= webhook.status_description rescue nil%><br />
      </td>
      <td>
        <%#= link_to "EDIT", edit_admin_bridg_webhook_path(webhook)%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @bridg_webhooks %>
