<div class="span12" style="width: 100%;margin-left: 10px;">
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
        <% @reward.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <% if @reward.new_record? %>
    <% url = admin_partner_rewards_path %>
    <% method = 'post' %>
  <% else %>
    <% url = admin_partner_reward_path(@reward) %>
    <% method = 'put' %>
  <% end %>
  <%= simple_form_for([:admin, @reward], url: url, :html => {:method => method, :class => 'form-horizontal', :id => "partnerReward" }) do |f| %>
    <div class="field">
      <%= hidden_field_tag "reward[chain_id]", @chain.id %>
      <%= hidden_field_tag "reward_id", @reward.id rescue nil %>
    </div>
    <div  class="span3">
      <div class="field">
        Reward Title *
        <div id="name_error"></div>
        <%= f.text_field :name %>
      </div>
      <br />
      <div class="field">
        <%= hidden_field_tag "reward[reward_type]", Reward::TYPES["PARTNER"]  %>
        <%= hidden_field_tag "upload_file", nil  %>
      </div>
      <div class="field">
        Valid From date
        <div id="effectiveDate_error"></div>
        <%= f.text_field :effectiveDate, :value => @reward.effectiveDate.try(:strftime, '%Y-%m-%d'), :class => 'x-datepicker' %>
      </div>
      <br />
      <div class="field">
        <div id="expiryDate_error"></div>
        Valid to Date
        <%= f.text_field :expiryDate, :value => @reward.expiryDate.try(:strftime, '%Y-%m-%d'), :class => 'x-datepicker' %>
      </div>
      <br />

      <div class="field" id="dashboard_description" style="">
        Description <br/>
        <%= f.text_area :description , :size => "30x5" %>
      </div>

    </div>
    <div class="span3">
      <% 0.upto(6) do |i| %>
        <div class="field">
          Valid days of week and time <%= PartnerHour::WEEKDAY_NAMES[i] %><div></div>
          <%= hidden_field_tag "partner_hours[#{i}][day_of_week]", i %>
          <%= text_field_tag "partner_hours[#{i}][start]", (@partner_hours.where(day_of_week: i).first.try(:start).strftime("%H:%M") rescue nil), style: "width: 80px;", placeholder: 'start', class: 'timepick' %>
          <%= text_field_tag "partner_hours[#{i}][end]", (@partner_hours.where(day_of_week: i).first.try(:end).strftime("%H:%M") rescue nil), style: "width: 80px;", placeholder: 'end', class: 'timepick' %>
        </div>
      <% end %>
      <br/>
      <div class="field">
        Valid all locations<div></div>
        <%= check_box_tag "partner_reward[valid_all_locations]", true, true %> change this to load all/remove location.
      </div>

      <div class="field" id="restaurant-choices">
        Valid locations <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span><div></div>
        <% restaurants = @restaurants.map { |r| [r.name, r.id]} rescue [] %>
        <%= select_tag('partner_reward[valid_locations]', options_for_select(restaurants, selected: (@reward.partner_reward.try(:valid_locations).parameterize.split("-") rescue nil)), {:multiple => true, style: "height: 160px;"}) %>
      </div>
      <br />
    </div>

    <div class="span3">
      <div class="field">
        Order minimum<div></div>
        <%= text_field_tag "partner_reward[order_minimum]", @reward.partner_reward.try(:order_minimum) %>
      </div>
      <div class="field">
        Discount type<div></div>
        <%= select_tag "partner_reward[discount_type]", options_for_select([["Dollar", 0],["Percent", 1]], selected: @reward.partner_reward.try(:discount_type))%>
      </div>
      <div class="field">
        Discount value<div></div>
        <%= text_field_tag "partner_reward[discount_value]", @reward.partner_reward.try(:discount_value) %>
      </div>
      <div class="field">
        Discount order<div></div>
        <%= select_tag "partner_reward[discount_order]", options_for_select([["Lowest", 0],["Highest", 1]], selected: @reward.partner_reward.try(:discount_order))%>
      </div>
      <div class="field">
        Discount Source Price<div></div>
        <%= select_tag "partner_reward[discount_source_price]", options_for_select([["From check subtotal", 0],["From qualifying menu items", 1]], selected: @reward.partner_reward.try(:discount_source_price))%>
      </div>
      <br/>
      <div class="field">
        <button id="btn-category" type="button" data-toggle="modal" data-target="#PartnerMenuCategory" class="btn btn-inverse" onclick="loadMenuItem('<%= load_categories_admin_partner_rewards_path(chain_id: @chain.id, type: "category")%>')">
          <i class="icon-plus icon-white"></i> Add order from category <span class="badge">0</span>
        </button>
        <div id="partner_reward_category_container">
          <% @partner_reward_categories.each do |cat| %>
            <div class="box-category open">
              <%
                 sub_category_ids = cat.try(:partner_category).partner_sub_categories.select("id")
                 ids = []
                 sub_category_ids.each do |psc|
                   ids << RestaurantCategory.where("partner_sub_category_id = #{psc.id}").map(&:restaurant_id)
                 end
                 restaurant_ids = ids.uniq.flatten
              %>
              <input class="selected-category" restaurant_id="<%= restaurant_ids %>" category_id="<%= cat.category_id %>" name="partner_reward_category[<%= cat.category_id %>][category_id]" type="hidden" value="<%= cat.category_id %>">
              <input class="selected-mandatory" restaurant_id="<%= restaurant_ids rescue [] %>" category_id="<%= cat.category_id %>" name="partner_reward_category[<%= cat.category_id %>][mandatory]" type="hidden" value="<%= cat.mandatory %>">
            </div>
          <% end if @partner_reward_categories.present? %>
        </div>
      </div>
      <br/>
      <div class="field">
        Minimum count order from category<div></div>
        <%= text_field_tag "partner_reward[minimum_count_order_from_category]", @reward.partner_reward.try(:minimum_count_order_from_category) %>
      </div>
      <div class="field">
        Discount count from category<div></div>
        <%= text_field_tag "partner_reward[discount_count_from_category]", @reward.partner_reward.try(:discount_count_from_category) %>
      </div>
      <br/>
      <div class="field">
        <button id="btn-discount" type="button" data-toggle="modal" data-target="#PartnerMenuCategory" class="btn btn-inverse" onclick="loadMenuItem('<%= load_categories_admin_partner_rewards_path(chain_id: @chain.id, type: "discount")%>')">
          <i class="icon-plus icon-white"></i> Add discount from category <span class="badge">0</span>
        </button>
        <div id="partner_reward_discount_container">
          <% @partner_reward_discounts.each do |disc| %>
            <div class="box-category open">
              <%
                 sub_category_ids = disc.try(:partner_category).partner_sub_categories.select("id")
                 ids = []
                 sub_category_ids.each do |psc|
                   ids << RestaurantCategory.where("partner_sub_category_id = #{psc.id}").map(&:restaurant_id)
                 end
                 restaurant_ids = ids.uniq.flatten
              %>
              <input class="selected-category" restaurant_id="<%= restaurant_ids rescue [] %>" category_id="<%= disc.category_id %>" name="partner_reward_discount[<%= disc.category_id %>][category_id]" type="hidden" value="<%= disc.category_id %>">
              <input class="selected-mandatory" restaurant_id="<%= restaurant_ids rescue [] %>" category_id="<%= disc.category_id %>" name="partner_reward_discount[<%= disc.category_id %>][mandatory]" type="hidden" value="<%= disc.mandatory %>">
            </div>
          <% end if @partner_reward_discounts.present? %>
        </div>
      </div>
    </div>

    <div style="clear: both"></div>
    <br />
    <div style="clear:both;"></div>
    <div class="form-actions">
      <% if @reward.new_record? %>
        <%= f.submit "Create Reward", :class => 'btn btn-primary' %>
      <% else %>
        <%= f.submit "Update Reward", :class => 'btn btn-primary' %>
      <% end %>
      <%= link_to 'Back', admin_partner_rewards_path(chain_id: @chain), class: "btn" %>
    </div>
  <% end %>
</div>

<!-- Modal -->
<div id="PartnerMenuCategory" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <span id="content-modal"></span>
</div>

<script type="text/javascript">
  $('form#partnerReward').submit(function() {
    if($('#partner_reward_valid_all_locations').is(':checked')){
      return true;
    }else{
      if($("select#partner_reward_valid_locations option:selected").length > 0){
        return true;
      }else{
        alert("invalid location.")
        return false;
      }
    }
  });

  function loadMenuItem(url) {
    $('#content-modal').html('<div style="margin: 20px;"><h3>loading...</h3></div>');
    var rest_ids = []
    $.each($("select#partner_reward_valid_locations option:selected"), function( index, value ) {
      rest_ids.push($(value).val());
    });
    $.get(url, {restaurant_id: rest_ids})
  }

  $(document).ready(function(){
    $('#partner_reward_valid_all_locations').change(function(){
      $("#loader").show();
      if($(this).is(':checked')){
        console.log("check valid all restaurants checked")
        $('select#partner_reward_valid_locations option').remove()
        $('select#partner_reward_valid_locations').attr('disabled', true);
        $("#partner_reward_category_container div.box-category").removeClass("close");
        $("#partner_reward_category_container div.box-category").addClass("open");
        $("#partner_reward_discount_container div.box-category").removeClass("close");
        $("#partner_reward_discount_container div.box-category").addClass("open");
        $("button#btn-category span").text($('#partner_reward_category_container .box-category.open').length);
        $("button#btn-discount span").text($('#partner_reward_discount_container .box-category.open').length);
        $("#loader").hide();
      }else{
        $.ajax({
          type: "GET",
          url: "<%= load_restaurants_admin_partner_rewards_path(chain_id: @chain.id) %>",
          data: {reward_id: $('#reward_id').val() }
        });
        $('select#partner_reward_valid_locations').attr('disabled', false);
      }
    });

    var pr = "<%= @reward.partner_reward.try(:valid_all_locations) %>"
    if(pr == "true"){
      $('select#partner_reward_valid_locations').attr('disabled', true);
    }else if(pr == "false"){
      $('#partner_reward_valid_all_locations').attr('checked', false);
      $('select#partner_reward_valid_locations').attr('disabled', false);
    }else{
      <% if @reward.new_record? %>
        $('#partner_reward_valid_all_locations').attr('checked', true);
        $('select#partner_reward_valid_locations').attr('disabled', true);
      <% else %>
        $('#partner_reward_valid_all_locations').attr('checked', false);
        $('select#partner_reward_valid_locations').attr('disabled', false);
      <% end %>
    }

    $(".timepick").timepicker({
      ampm: false,
      timeFormat: 'hh:mmTT',
      stepHour: 0.5,
      stepMinute: 1
    });

    $('.x-datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
    });
  });
</script>
