<script>
  $(document).ready(function(){
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function() {
      $('#data-container').ajaxloader('show');
    });

    $('.tata-ajax-loader').click(function(){
      alert("hide this");
      $('.tata-ajax-loader').hide();
    });

    $(".edit_reward").click(function() {
      modalPopup(align, top, 900, padding, disableColor, disableOpacity,
      backgroundColor, borderColor, borderWeight, borderRadius,
      fadeOutTime, $(this).attr('href'), loadingImage);
    });

    $('.submit_search').click(function() {
      $('#data-container').ajaxloader('show');
    });

    $("#new_form").bind("ajax:success",function(evt,xhr,settings){
      alert("adfasfdsaf");
    });

    $(".x-search-datepicker").datepicker({
      dateFormat: 'yy-mm-dd'
    });
    $(".multiselect").multiselect({
      selectedText: "# of # selected"
    });
  });
</script>

<% unless @chain.blank? %>
  <%= render 'searchform' %>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th class="th-small ta-center"><a class="order-table" href="#" data-attribute="1">ID</a></th>
        <th><a class="order-table" href="#" data-attribute="2">Chain</a></th>
        <th><a class="order-table" href="#" data-attribute="3">Reward Title</a></th>
        <th class="th-large"><a class="order-table" href="#" data-attribute="4">Valid From</a></th>
        <th class="th-large"><a class="order-table" href="#" data-attribute="5">Valid to</a></th>
        <th class="th-large ta-center"><a class="order-table" href="#" data-attribute="6">Points reward Worth</a></th>
        <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="7">Reward Category</a></th>
        <th class="th-medium ta-center">Action</th>
      </tr>
    </thead>
  <% end %>
  <tbody>
    <% unless @rewards.blank? %>
      <% @rewards.each do |reward| %>
        <tr>
          <td class="ta-center"><%= reward.id %></td>
          <td><%= reward.chain.name if reward.chain %></td>
          <td><%= reward.name %></td>
          <td><%= date_helper(reward.effectiveDate) %></td>
          <td><%= reward.expiryDate.strftime("%Y-%m-%d 23:59:59") if reward.expiryDate %></td>
          <td class="ta-center"><%= reward.points %></td>
          <td class="ta-center"><%= Reward::TYPES.find{|key,value| value == reward.reward_type}[0] rescue ""%></td>
          <td>
            <div class="btn-group">
              <button class="btn">Action</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <%= link_to 'Show', admin_partner_reward_path(reward) %>
                <%= link_to 'Edit', edit_admin_partner_reward_path(reward) %>
                <%= link_to "#{reward.status == "active" ? "deactive" : "activate"}",
                            admin_partner_reward_path(reward), confirm: 'Are you sure?', method: :delete %>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="7" style="text-align:center;">
          <% unless @chain.blank? %>
            There are no data
          <% else %>
            Please Select Chain
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @rewards, :params=>{:chain_id => @chain.id, :controller => "partner_rewards", :action => "search" } rescue "" %>

<% unless @chain.blank? %>
  <div id="bottom_form" class="form-actions">
    <%= link_to "New Partner Reward", new_admin_partner_reward_path(:chain_id => @chain.id), :class => "btn btn-primary" %>
  </div>
  <%= render :partial => "script_includes.js" %>
  <div class="modal hide fade" id="milestone_modal" style="width: 800px;height: 500px;overflow: scroll;">
  </div>
  <div class="modal hide fade" id="pos_discount_type_modal" style="width: 600px;height: 450px;"></div>
<% end %>

<div id="new_reward"></div>
<div id="pos_discount_type"></div>