<script>
    $(document).ready(function () {
        $(".pagination").find("a").attr("data-remote", true);
        $('.pagination a').click(function () {
            $('#data-container').ajaxloader('show');
        });
    });
</script>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Partner Category Items in <%= @chain.name %></h3>
</div>
<div class="modal-body" style="height: 350px;">
  <%= simple_form_for(:search, :url => menu_items_admin_general_menu_item_path(@general_menu_item), :html => {:method => :get, :remote => true}) do |f| %>
    <div class="x-box">
      <div class="x-box-inner">
        <div class="field">
          <%= label_tag :key %>
          <%= text_field_tag "q", @key, :style => 'width:300px' %>
        </div>
        <%= submit_tag "Search" %>
      </div>
    </div>
  <% end if false %>

  <%= form_tag root_path do %>
    <table id="MenuCategories" style="width: 100%;" class="table">
      <thead>
      <tr>
        <th style="width: 30%;">Name</th>
        <th style="width: 50%;">Description</th>
        <th style="width: 20%;">Mandatory</th>
        <th style="width: 20%;"></th>
      </tr>
      </thead>
      <tbody id="tab">
        <% unless @partner_categories.blank? %>
            <% @partner_categories.each do |category| %>
              <%
                 sub_category_ids = category.partner_sub_categories.select("id")
                 ids = []
                 sub_category_ids.each do |psc|
                   ids << RestaurantCategory.where("partner_sub_category_id = #{psc.id}").map(&:restaurant_id)
                 end
                 restaurant_ids = ids.uniq.flatten
              %>
              <tr>
                <td><%= category.name rescue nil %></td>
                <td><%= category.description rescue nil %></td>
                <td><%= check_box_tag :mandatory, true, false, class: 'mandatory', category_id: category.id %></td>
                <td><a restaurant_id="<%= restaurant_ids rescue [] %>" category_id="<%= category.id %>" class="btn btn-mini btn-info add-category">add</a></td>
              </tr>
            <% end %>
        <% else %>
            <tr id="blank-row">
              <td colspan="5">Available Menu Items are empty</td>
            </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5"><%= will_paginate @partner_categories %></td>
        </tr>
      </tfoot>
    </table>

    <div class="modal-footer">
      <a class="btn" data-dismiss="modal">Close</a>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.add-category').click(function(){
    var category_id = $(this).attr("category_id");
    var restaurant_id = $(this).attr("restaurant_id");
    x = restaurant_id
    var mandatory = $(this).closest('tr').find('td input.mandatory').is(':checked');
    var type = $("#PartnerMenuCategory").attr("modalType");
    if($(this).text() == "add"){
      var html = '<div class="box-category open"><input class="selected-category" restaurant_id="'+restaurant_id+'" category_id="'+category_id+'" name="partner_reward_'+type+'['+category_id+'][category_id]" type="hidden" value="'+ category_id +'">' +
              '<input class="selected-mandatory" restaurant_id="'+restaurant_id+'" category_id="'+category_id+'" name="partner_reward_'+type+'['+category_id+'][mandatory]" type="hidden" value="'+ mandatory +'"><div>'
      $(html).appendTo("#partner_reward_"+type+"_container");
      $(this).removeClass("btn-info");
      $(this).addClass("btn-danger");
      $(this).text("remove");
    }else if($(this).text() == "remove"){
      $(this).removeClass("btn-danger");
      $(this).addClass("btn-info");
      $(this).text("add");
      $("#partner_reward_"+type+"_container").find("input[category_id="+ category_id+"]").closest(".box-category").remove();
    }
    $("button#btn-"+type+" span").text($('#partner_reward_'+type+'_container .box-category.open').length);
  });

  $('.mandatory').click(function(){
    var val = $(this).is(':checked');
    var category_id = $(this).attr("category_id");
    var type = $(this).closest('#PartnerMenuCategory').attr("modaltype");
    var selected_mandatory = $("#partner_reward_"+type+"_container").find(".selected-mandatory[category_id="+ category_id+"]")
    if(selected_mandatory.length > 0){
      $(selected_mandatory).val(val);
    }
  });
</script>