Valid locations <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span><div></div>
<% restaurants = @restaurants.map { |r| [r.name, r.id]} rescue [] %>
<%= select_tag('partner_reward[valid_locations]', options_for_select(restaurants, selected: (@reward.partner_reward.try(:valid_locations).parameterize.split("-") rescue nil)), {:multiple => true, style: "height: 160px;"}) %>