<script type="text/javascript">
  function switch_form(type,url){
<% unless @chain.blank? %>
      if(type == "one_time"){
        $.ajax({
          //url: '/admin/rewards/search_users.js',
          url: '<%= one_time_reward_admin_rewards_path(@chain) %>',
          type: 'get',
          data: { restaurant_id:$(this).attr("value"), strState:"1" },
          beforeSend: function(){
            $('#user_loader').show();$('#users').ajaxloader('show');
          },
          complete: function(){
            $('#user_loader').hide();$('#users').ajaxloader('hide');
          }
        });

      }else if(type == "regular"){
        modalPopup(align, top, 900, padding, disableColor, disableOpacity,
        backgroundColor, borderColor, borderWeight, borderRadius,
        fadeOutTime, url, loadingImage);
      }else if(type == "push"){
        modalPopup(align, top, 900, padding, disableColor, disableOpacity,
        backgroundColor, borderColor, borderWeight, borderRadius,
        fadeOutTime, url, loadingImage);
      }else{
        modalPopup(align, top, 900, padding, disableColor, disableOpacity,
        backgroundColor, borderColor, borderWeight, borderRadius,
        fadeOutTime, url, loadingImage);
      }
      $("#form_one").show();
<% end %>
  }
</script>
