<div class="form-horizontal">
  <fieldset>
    <div class="span12" style="margin-left:0px !important">
      <div class="span5">
        <div class="field control-group">
          <label class="control-label">Effective Date</label>
          <div class="controls">
            <%= text_field_tag "from", @effective_date, :class => 'search-from-datepicker', :readonly=>true %>
          </div>
        </div>
        <div class="field control-group">
          <label class="control-label">Expired Date</label>
          <div class="controls">
            <%= text_field_tag "to",@expiry_date, :class=>'search-to-datepicker', :readonly=>true %>
          </div>
        </div>
      </div>
      <div class="span5">
        <div class="field control-group">
          <label class="control-label">Reward Title </label>
          <div class="controls">
            <%= text_field_tag "q", @search_query, :style=>'width:300px', :onkeyup => "$('#search_query').val($(this).val())" %>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
      <div class="form-actions">
        <%= submit_tag "Search",:class =>"submit_search btn btn-primary", :id => "sub_button1", :onclick => "setSearchRewards();$('#sub').click();" %>
        <%= link_to "Reset Filter", "#", :onclick => "resetFilter();", :class => "btn" %>
      </div>
    </div>
  </fieldset>
</div>
<div style="clear:both"></div>
<script>
  $(".search-from-datepicker").datepicker({
      dateFormat: 'yy-mm-dd',
      altField: $("#date_from")
  });
  $(".search-to-datepicker").datepicker({
      dateFormat: 'yy-mm-dd',
      altField: $("#date_to")
  });
  function resetFilter() {
    $('.search-from-datepicker').val('');
    $('.search-to-datepicker').val('');
    $('#q').val('');
    $('.multiselect').multiselect('uncheckAll');
    $("#date_from").val('');
    $("#date_to").val('');
    $('#reward_type').val('');
    $('#search_query').val('');
    $('#page').val('1');
    // setSearchRewards();
    $('#sub').click();
  }
  function setSearchRewards(){
    console.log("changed")
    var psearch = $('#date_from').val() + "-----" + $('#date_to').val() + "-----" + $('#reward_type').val().replace(/,/g,' ') + "-----" + $('#search_query').val() + "-----" + $('#qry_order').val() + "-----" + $('#page').val();
    setCookie("psearch",psearch,0,"admin/rewards");
  };
</script>