<div class="page-header">
  <h2>Edit PARTNER REWARD Chain <%= @chain.name %></h2>
</div>

<%= render 'form' %>

<script type="text/javascript">
  $(document).ready(function(){
    $("button#btn-category span").text("<%= @partner_reward_categories.count rescue 0 %>");
    $("button#btn-discount span").text("<%= @partner_reward_discounts.count rescue 0 %>");

    $("select#partner_reward_valid_locations").change(function(){
      console.log("edit restaurant js")
      var rest_ids = []
      $.each($("select#partner_reward_valid_locations option:selected"), function( index, value ) {
        rest_ids.push($(value).val());
      });

      $.each($("#partner_reward_category_container div.box-category"), function( index, rest ) {
        var category = $(rest).find('.selected-category');
        var mandatory = $(rest).find('.selected-mandatory');
        var selected_rest_id = category.attr("restaurant_id");
        var category_name = category.attr("name");
        var mandatory_name = mandatory.attr("name");

        $.each(rest_ids, function(index, ids){
          var x = selected_rest_id.includes(ids)
          if(x){
            $(rest).removeClass('close');
            $(rest).addClass('open');
            $(category).attr('name', category_name.replace('changed_', ''));
            $(mandatory).attr('name', mandatory_name.replace('changed_', ''));
            return false;
          }else{
            $(rest).removeClass('open');
            $(rest).addClass('close');
            if ($(category).attr('name').includes("changed_")){
            }else{
              $(category).attr('name', "changed_"+category_name);
              $(mandatory).attr('name', "changed_"+mandatory_name);
            }
          }
        });
      });

      $.each($("#partner_reward_discount_container div.box-category"), function( index, rest ) {
        var category = $(rest).find('.selected-category');
        var mandatory = $(rest).find('.selected-mandatory');
        var selected_rest_id = category.attr("restaurant_id");
        var category_name = $(category).attr("name");
        var mandatory_name = $(mandatory).attr("name");

        $.each(rest_ids, function(index, ids){
          var x = selected_rest_id.includes(ids)
          if(x){
            $(rest).removeClass('close');
            $(rest).addClass('open');
            $(category).attr('name', category_name.replace('changed_', ''));
            $(mandatory).attr('name', mandatory_name.replace('changed_', ''));
            return false;
          }else{
            $(rest).removeClass('open');
            $(rest).addClass('close');
            if ($(category).attr('name').includes("changed_")){
            }else{
              $(category).attr('name', "changed_"+category_name);
              $(mandatory).attr('name', "changed_"+mandatory_name);
            }
          }
        });
      });

      $("button#btn-category span").text($('#partner_reward_category_container .box-category.open').length);
      $("button#btn-discount span").text($('#partner_reward_discount_container .box-category.open').length);
    });
  });
</script>