$('#PartnerMenuCategory').attr("modalType", "<%= @type %>")
$('#content-modal').html('<%=j render "menu_categories" %>');
$('#myModalLabel').html('Partner Reward Menu Categories <%= @chain.name %>');

var arr = $('#partner_reward_'+"<%= @type %>"+'_container input.selected-mandatory');

$.each(arr, function( index, value ) {
  var category_id = $(value).attr("category_id");
  var tbl = $('table#MenuCategories');
  var btn = tbl.find(".add-category[category_id="+ category_id +"]")
  btn.text("remove");
  btn.removeClass("btn-info");
  btn.addClass("btn-danger");
  if($(value).val() == "true"){
    tbl.find(".mandatory[category_id="+ category_id +"]").attr('checked', true);
  }else{
    tbl.find(".mandatory[category_id="+ category_id +"]").attr('checked', false);
  }
});