<p id="notice"><%= notice %></p>

Name: <%= @reward.name%> <br />
Effective Date: <%= @reward.effectiveDate.try(:strftime,'%Y-%m-%d') %><br />
Expiry Date: <%= @reward.expiryDate.try(:strftime,'%Y-%m-%d') %><br />
Chain: <%= @reward.chain.name %><br />

<br/>
<%= link_to 'Edit', edit_admin_partner_reward_path(@reward), class: "btn btn-primary" %>