<div class="row">
  <div class="col-md-5 center-block container-content">
    <div class="title-head">Sign up</div>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%#= devise_error_messages! %>
        <% if resource.errors.any? %>
            <div id="error_explanation">
              <h2>Uh-oh. There was an issue with your submission.</h2>

              <ul>
                <% resource.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= hidden_field_tag :appkey, session[:client_id] %>
        <%= hidden_field_tag "user[register_type]", 1 %>

        <div>
          <%= f.text_field :first_name, class: "form-control", placeholder: "First name (Min. 2 Characters)",
                           required: true, oninvalid: "InvalidMsg(this);" %>
        </div>

        <div>
          <%= f.text_field :last_name, class: "form-control", placeholder: "Last name (Min. 2 Characters)",
                           required: true, oninvalid: "InvalidMsg(this);" %>
        </div>

        <div>
          <%= f.email_field :email, class: "form-control", oninput: "check_email(this)", placeholder: "Email address", autocomplete: "off" %>
        </div>

        <div>
          <%= f.password_field :password, class: "form-control", placeholder: "Password", required: true %>
        </div>

        <div>
          <%= f.text_field :referral_code, class: "form-control", placeholder: "Referral code (Optional)" %>
        </div>

        <div class="width-half pull-left">
          <%= f.select :dob_day, options_for_select((1..31).map{|d| d}), {prompt: "Birthday date"}, {class: "form-control"} %>
        </div>
        <div class="width-half pull-left">
          <% months = [
                  ["January", 1],
                  ["February", 2],
                  ["March", 3],
                  ["April", 4],
                  ["May", 5],
                  ["June", 6],
                  ["July", 7],
                  ["August", 8],
                  ["September", 9],
                  ["October", 10],
                  ["November", 11],
                  ["December", 12]
          ] %>
          <%= f.select :dob_month, options_for_select(months.map{|m| m}), {prompt: "Birthday month"}, {class: "form-control"} %>
        </div>

        <div><%= f.submit "Sign up", class: 'btn btn-info btn-full' %></div>
        <br />
    <% end %>
  </div>
</div>

<div class="row text-center">
  <div class="col-xs-12 col-md-12">
    <a href="/users/sign_up" class="link-url">Sign Up</a>  /
    <a href="/users/password/new" class="link-url">Forgot Password?</a>  /
    <%= link_to "Sign In With Facebook", user_omniauth_authorize_path(:facebook_lpq), class: 'link-url' %>
    <br />
    <br />
  </div>
</div>
