<div class="row">
  <div class="col-md-5 center-block container-content">
    <div class="title-head">SIGN UP</div>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%#= devise_error_messages! %>
        <% if resource.errors.any? %>
            <div id="error_explanation">
              <h2>Uh-oh. There was an issue with your submission.</h2>

              <ul>
                <% resource.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= hidden_field_tag :appkey, session[:client_id] %>
        <%= hidden_field_tag "user[register_type]", 1 %>
        
        <div>
          <%= f.label :first_name, "FIRST NAME (Min. 2 Characters)", class: 'label-text' %><br />
          <%= f.text_field :first_name, class: "form-control" %>
        </div>

        <div>
          <%= f.label :last_name, "LAST NAME (Min. 2 Characters)", class: 'label-text' %><br />
          <%= f.text_field :last_name, class: "form-control" %>
        </div>

        <div>
          <%= f.label :email, class: 'label-text' %><br />
          <%= f.email_field :email, class: "form-control", oninput: "check_email(this)", autocomplete: "off" %>
        </div>

        <div>
          <%= f.label :password, class: 'label-text' %><br />
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <div>
          <%= f.label :password_confirmation, class: 'label-text' %><br />
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>

        <div><%= f.submit "SIGN UP", class: 'btn btn-info btn-block' %></div>

    <% end %>
  </div>
</div>