<div class="page-header">
  <h3>Add Question Choices</h3>
</div>

<%= simple_form_for [:admin, @rotating_question], :url => save_choices_admin_rotating_group_rotating_question_path(@rotating_group, @rotating_question), :html => {:class => "form-horizontal", :remote => true} do |f| %>
    <div id="question_choices">
      <%= f.simple_fields_for :question_choices do |qc| %>
          <%= render 'question_choice_fields', :f => qc %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add choice', f, :question_choices, :class => "btn btn-primary" %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Save Question Choices", :class => "btn btn-primary" %>
    </div>
<% end %>