  <td>
    <%= question.id %>
  </td>
  <td><%= question.text %></td>
  <td><%= question.question_type_name %></td>
  <td>
    <% if question.question_type.eql?(1) %>
        ---
    <% else %>
        <% question.question_choices.each do |choice| %>
            Text : <%= choice.label %>, Value : <%= choice.value %> <br/>
        <% end %>
    <% end %>
  </td>
  <td><%= question.label_or_value %></td>
  <td>
    <%= link_to "Edit", edit_admin_rotating_group_rotating_question_path(@rotating_group, question), :class => "btn", :remote => true %>
    <%= link_to "Destroy", admin_rotating_group_rotating_question_path(@rotating_group, question), :method => :delete, :confirm => "are you sure?", :class => "btn btn-danger", :remote => true %>
  </td>