<% unless @question.new_record? %>
  <div class="page-header">
    <h4>Update Rotating Question</h4>
  </div>
  <%-
      url = admin_rotating_group_rotating_question_path(@rotating_group, @question)
      method = :put
  -%>
<% else %>
  <%-
      url = admin_rotating_group_rotating_questions_path(@rotating_group)
      method = :post
  -%>
<% end %>

<%= simple_form_for([:admin, @question], :url => url, :remote => true, :html => {:class => 'form-horizontal', :style => "margin-top:40px", :method => method}) do |f| %>
  <div class="errors"></div>
  <%= f.input :question_type, :as => :hidden %>
  <%= f.input :rotating_group_id, :as => 'hidden' %>
    <%= f.input :non_app_display, :collection => Question::NON_APP_DISPLAY, :include_blank => false %>
  <%= f.input :text %>
  <div id="question_choices">
    <h4>Question Choices :</h4>
    <%= f.simple_fields_for :question_choices do |qc| %>
      <%= render 'question_choice_fields', :f => qc %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add choice', f, :question_choices, :class => "btn btn-primary" %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Save Question" %>
  </div>
<% end %>