<% if @save %>
$.modal.close();
$('#question-list').append('<tr id="question-<%= @rotating_question.id%>"><%= escape_javascript(render('list',{:question => @rotating_question})) %></tr>');
$('#question-<%= @rotating_question.id%>').effect("highlight", {color: "blue"}, 5000);
<% else %>
$('#form-question-add').html('<%= escape_javascript(render(@rotating_question.question_type_parameterize_name)) %>');
<% end %>