<div class="page-header">
  <h3><%= @rotating_group.name %> :: Edit Rotating Question</h3>
</div>

<%= simple_form_for([:admin, @rotating_question], :url => admin_rotating_group_rotating_question_path(@rotating_group, @rotating_question)) do |f| %>
    <%= f.input :question_type, :label => "Add a Question", :collection => Question::TYPES, :prompt => "Select Question Type" %>
    <%= f.input :text %>
    <br/>
    <%= f.submit "Create", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_rotating_groups_path, :class => "btn" %>
<% end %>
