<div class="page-header">
  <h3><%= @rotating_group.name %> :: Rotating Questions</h3>
</div>

<div id="data-container">
  <table>
    <thead>
    <tr>
      <th>Rotating Question ID</th>
      <th>Text Under Question</th>
      <th>Question Type</th>
      <th>Question Choices</th>
      <th>Non App Display</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody id="question-list">
    <% @rotating_questions.each do |question| %>
        <tr id="question-<%= question.id%>">
          <%= render("list", {:question => question})%>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= will_paginate @rotating_questions %>
  <br/>
  <br/>
  <%= link_to "Add new Rotating Question", new_admin_rotating_group_rotating_question_path(@rotating_group), :class => "btn btn-primary", :id => "new_rotating_question", :remote => true%>
</div>