<% if @is_save %>
window.location.href = '<%= admin_rotating_group_rotating_questions_path(@rotating_group) %>';
<% else %>
$('#form-choice').html("<%= escape_javascript(render "choices_form") %>");
<% end %>