<% if @update %>
$.modal.close();
$('#question-<%= @rotating_question.id%>').html('<%= escape_javascript(render('list',{:question => @rotating_question})) %>');
$('#question-<%= @rotating_question.id%>').effect("highlight", {color: "blue"}, 5000);
<% else %>
$('#form-question-add').html('<%= escape_javascript(render(@question.question_type_parameterize_name)) %>');
<% end %>