<table id="myTable" cellspacing="1" class="">
  <thead class="">
  <tr>
    <th class="tblheader"><b>Name Job</b></th>
    <th class="tblheader"><b>Requested by</b></th>
    <th class="tblheader"><b>Chain</b></th>
    <th class="tblheader"><b>Action</b></th>
  </tr>
  </thead>
  <% unless @jobs.blank? %>
      <% @jobs.each do |job| %>
          <tr>
            <td><%= job.description %></td>
            <td><%= job.owner_id %></td>
            <td><%= job.chain_id %></td>
            <% if OwnerJob::STATUS[job.status] == "Queue" %>
                <td><%= link_to "Approve", admin_miss_you_task_path(job), :method => :put, :class => "btn btn-success", :confirm => "Do you want to approve this request?" %>
                  |
                <td><%= link_to "Cancel", admin_miss_you_task_path(job, :type => "cancel"), :method => :put, :class => "btn btn-success", :confirm => "Do you want to Cancel this request and move it into rejected?" %>
                  <%= link_to "Reject", admin_miss_you_task_path(job), :method => :delete, :confirm => "Do you want to reject this request?", :class => "btn btn-danger" %>
            <% elsif OwnerJob::STATUS[job.status] == "Processing" %>
                <td><%= link_to "Cancel This process", admin_miss_you_task_path(job, :type => "cancel"), :method => :put, :class => "btn btn-success", :confirm => "Do you want to Cancel this request and move it into rejected?" %>

            <% elsif OwnerJob::STATUS[job.status] == "Rejected" %>
                <td><%= link_to "Undo", admin_miss_you_task_path(job, :type => "move_to_queue"), :method => :put, :class => "btn btn-success", :confirm => "Do you want to move to queue ?" %>

            <% elsif OwnerJob::STATUS[job.status] == "Completed" %>
                <td><%= link_to "See Logs", completed_job_admin_miss_you_task_path(job), :class => "btn btn-success" %>
            <% elsif OwnerJob::STATUS[job.status] == "In Progress" %>
                <%= link_to "Reject / Stop", admin_miss_you_task_path(job), :method => :delete, :confirm => "Do you want to reject this request?", :class => "btn btn-danger" %>
            <% else %>
                <td><%= link_to "Move To queue", admin_miss_you_task_path(job, :type => "move_to_queue"), :method => :put, :class => "btn btn-success", :confirm => "Do you want to move this failed job to queue again?" %>

            <% end %>
            <%= link_to "See Detail",admin_miss_you_task_path(job)%>
            <%= link_to "Edit",admin_miss_you_task_path(job)%>
            </td>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td colspan="2" style="text-align:center;">There are no
          job <%= params['type'].blank? ? "queue" : params['type'] %></td>
      </tr>
  <% end %>

</table>
<%= will_paginate @jobs %>

<script>
    $(document).ready(function () {
        $(".pagination").find("a").attr("data-remote", true);
        $('.pagination a').click(function () {
            $('#container').ajaxloader('show');
        });
    });
</script>