<% require 'csv' %>
<% headers = ["id", "Email", "Date Sent", "Notification"] %>
<%= CSV.generate_line headers, :row_sep => ?\t, :quote_char => ?\ %>


    <% puts "LOG CSVVVVVVVVVVVVVVVVVVVVVVVV" %>
    <% # if its from owner job logs tables    %>
    <% total_pages = @job.noscanjob_logs.failed.paginate(:page => 1, :per_page => 1000).total_pages %>

    <% 1.upto(total_pages) do |i| %>
        <% logs = @job.noscanjob_logs.failed.paginate(:page => i, :per_page => 1000) %>

        <% logs.each do |log| %>
            <% row = [
                    log.user_id,
                    log.email,
                    log.date_sent,
                    (OwnerjobLog::NOTIFICATION_STATUS.key(log.notification_status) rescue "-")
            ] %>
            <%= CSV.generate_line row, :row_sep => ?\t, :quote_char => ?\ %>
        <% end %>
    <% end %>



