<div class="span10">
  <%= simple_form_for([:admin, @nuorder_connect_setting], :remote => true) do |f| %>
    <%= render "shared/error_messages", :target => @nuorder_connect_setting %>
    <div class="form-inputs">
      <div class="span4">
        <div class="field">
          <%= hidden_field_tag "nuorder_connect_setting[chain_id]", @chain.id %>
        </div>

        <div class="field">
          <%= f.input :api_root %>
        </div>
        <div class="field">
          <%= f.input :requester_id %>
        </div>
        <div class="field">
          <%= f.input :license_code %>
        </div>
        <div class="field">
          <%= f.input :passcode %>
        </div>
        <div class="field">
          <%= f.input :subscriber_id %>
        </div>
        <div class="field">
          <%= f.input :location_id %>
        </div>
        <div class="form-actions">
          <%= button_tag "Submit", data: {:disable_with => "Please wait..."}, :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

