<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>API Root</th>
      <th>Requester ID</th>
      <th>License CODE</th>
      <th>Passcode</th>
      <th>Subscriber ID</th>
      <th>Location ID</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% unless @nuorder_connect_setting.blank? %>

    <tr>
      <td><%= @nuorder_connect_setting.id %></td>
      <td><%= @nuorder_connect_setting.api_root %></td>
      <td><%= @nuorder_connect_setting.requester_id %></td>
      <td><%= @nuorder_connect_setting.license_code %></td>
      <td><%= @nuorder_connect_setting.passcode %></td>
      <td><%= @nuorder_connect_setting.subscriber_id %></td>
      <td><%= @nuorder_connect_setting.location_id %></td>
      <td><%= link_to "Edit", edit_admin_nuorder_connect_setting_path(@nuorder_connect_setting), :class => 'nyroModal', :onclick => "$('.btn-group').click();" %></td>
      <td><%= link_to "Delete", admin_nuorder_connect_setting_path(@nuorder_connect_setting), :method => :delete, :confirm => "Are you sure?" %></td>
    </tr>

  <% else %>
    <tr>
      <td colspan="7"><%= link_to "New",new_admin_nuorder_connect_setting_path(:chain_id => @chain.id), :class => 'nyroModal' %></td>
    </tr>
  <% end %>

</table>

<script>
    $('.nyroModal').nyroModal();
</script>
<style>
    table.table td { word-wrap: break-word; }
</style>