<%= form_for([:user, @receipt]) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chain %><br />
    <%= f.collection_select("chain_id", Chain.all, :id, :name, options ={:prompt => true }) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
