<h1>Listing My receipts</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Chain</th>
    <th>Image URL</th>
    <th>Thumbnail URL</th>
    <th>Status</th>
    <th></th>
  </tr>

<% @receipts.each do |receipt| %>
  <tr>
    <td><%= receipt.id %></td>
    <td><%= receipt.chain.name %></td>
    <td><%= receipt.image_url %></td>
    <td><%= receipt.thumbnail_url %></td>
    <td><%= receipt_status_name(receipt.status) %></td>
    <td><%= link_to 'Show', user_receipt_path(receipt) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Receipt', new_user_receipt_path %>
