<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @receipt.id %>
</p>

<p>
  <b>Chain:</b>
  <%= @receipt.chain.name %>
</p>

<p>
  <b>Image URL:</b>
  <%= @receipt.image.url(:medium) %>
</p>

<p>
  <b>Thumbnail URL:</b>
  <%= @receipt.thumbnail_url %>
</p>

<p>
  <b>Status:</b>
  <%= receipt_status_name(@receipt.status)%>
</p>

<% if @receipt_transaction and @receipt_transaction.status!=Receipt::STATUS[:OCRED]%>
<p>
  <b>Receipt Date:</b>
  <%= @receipt_transaction.try(:issue_date) %>
</p>

<p>
  <b>Payment Method:</b>
  <%= payment_method_name(@receipt_transaction.payment_method) %>
</p>

<p>
  <b>Guests:</b>
  <%= @receipt_transaction.guests %>
</p>
<% else %>
<p><b>Your receipt has been received and will be processed shortly. Thanks.</b></p>
<% end %>

<%= link_to 'Edit', edit_user_receipt_path(@receipt) %> |
<%= link_to 'Back', user_receipts_path %>
