<div class="page-header">
  <h3>Mailchimp Log</h3>
</div>

<%= simple_form_for(:search, :url => filter_log_admin_mailchimp_logs_url, :method => :get) do |f| %>
    <%= select_tag :chain_id, options_for_select(Chain.active.order("name").map{|a| [a.name, a.id]}.unshift([""]), params[:chain_id]) %>
    <%= select_tag :status, options_for_select(["", "in queue", "processing", "completed", "failed"], params[:status])%>
    <%= submit_tag "Search", :class => "btn btn-primary" %>
<% end %>
<table>
  <thead>
  <tr>
    <th>Chain</th>
    <th>Log Type</th>
    <th>Status</th>
    <th>Success Users</th>
    <th>Failed Users</th>
    <th>Run At</th>
    <th>Completed At</th>
    <th>Error Report</th>
  </tr>
  </thead>
  <tbody>
  <% @mailchimp_logs.each do |log| %>
      <tr>
        <td><%= log.chain.name rescue nil %></td>
        <td><%= log.log_type%></td>
        <td><%= log.status%></td>
        <td><%= link_to((log.success_users.count rescue 0), success_users_admin_mailchimp_log_path(log)) %></td>
        <td><%= link_to((log.failed_users.count rescue 0), failed_users_admin_mailchimp_log_path(log))%></td>
        <td><%= date_helper(log.initiate_at) rescue "-"%></td>
        <td><%= date_helper(log.completed_at) rescue "-"%></td>
        <td><%= log.error_report%></td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="8">
      <%= will_paginate @mailchimp_logs %>
    </td>
  </tr>
  </tfoot>


</table>

<br />