<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Client ID</th>
    <th>Client Secret</th>
    <th>Api Root</th>
    <th>Api Key</th>
    <th>Iphone Api Key</th>
    <th>Android Api Key</th>
    <th>Provider</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <%#= debug @olo_connect_setting%>
  <tbody>
  <% unless @olo_connect_setting.blank? %>

          <tr>
            <td><%= @olo_connect_setting.id %></td>
            <td><%= @olo_connect_setting.client_id %></td>
            <td><%= @olo_connect_setting.client_secret %></td>
            <td><%= @olo_connect_setting.api_root %></td>
            <td><%= @olo_connect_setting.apikey %></td>
            <td><%= @olo_connect_setting.iphone_api_key %></td>
            <td><%= @olo_connect_setting.android_api_key %></td>
            <td><%= @olo_connect_setting.provider %></td>

      <td><%= link_to "Edit", edit_admin_olo_connect_setting_path(@olo_connect_setting), :class => 'nyroModal', :onclick => "$('.btn-group').click();" %></td>
      <td><%= link_to "Delete", admin_olo_connect_setting_path(@olo_connect_setting), :method => :delete, :confirm => "Are you sure?" %></td>
    </tr>

  <% else %>
      <tr>
        <td colspan="7"><%= link_to "New",new_admin_olo_connect_setting_path(:chain_id => @chain.id), :class => 'nyroModal' %></td>
      </tr>
  <% end %>
  <!-- </tbody>
  <tfoot>
  <tr>
    <td colspan="7" align="center">
      <%#= will_paginate(@histories, :params => {:id => @chain.id}) rescue "" %>
    </td>
  </tr>
  </tfoot> -->
</table>

<script>
    $('.nyroModal').nyroModal();
</script>
<style>

    table.table td { word-wrap: break-word; }
</style>