<div class="page-header">
  <h1>Olo Connect Settings</h1>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#form').ajaxSend(function() {
            $('#data-container').ajaxloader('show');
        });

        $('#form').ajaxSend(function() {
            $('#data-container').ajaxloader('hide');
        });

        $('.order-table').bind("click", function(){
            var ordvalcur = $(this).attr('data-attribute');
            var ordvalbef = $('#qry_order').val();

            if(ordvalcur == ordvalbef){
                $('#qry_order').val(parseInt(ordvalbef) + 1000)
            }else{
                $('#qry_order').val($(this).attr('data-attribute'));
            }

            $('#sub_button1').click();
        });

        if($('#chain').val() != ""){
            $('#chain_id').val(this.value);$('#loader').show();$('#data-container').ajaxloader('show');
            $('#sub').click();
        }
    });
</script>

<div class="page-header">
  <div class="field form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="select01">Chain:</label>
        <div class="controls">
          <%= select_tag 'chain', options_from_collection_for_select(Chain.active.order("name"), :id, :name), :prompt=>"Please select chain",
                         :onchange => "$('#chain_id').val(this.value);$('#loader').show();$('#sub').click();" %>
          <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<%= form_tag search_admin_olo_connect_settings_path, :id => "form", :class => 'form-horizontal', :style => "display:none;", :remote => true do %>
    <%= hidden_field_tag "chain_id" %>
    <%= submit_tag "submit", :id => "sub" %>
<% end %>
<div id="data-container" style="margin-left:0px !important;"></div>
