<div class="page-header">
  <h2>Listing Relevant Connect Authentication</h2>
</div>

<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @relevant_auths.each do |rel| %>
    <tr>
      <td><%= rel.username %></td>
      <td><%= rel.password %></td>
      <td><%= RelevantAuth::STATE.invert[rel.status] %></td>
      <td>
        <% if rel.status == RelevantAuth::STATE[:ACTIVE] %>
          <%= link_to "INACTIVE", inactive_admin_relevant_auth_api_path(rel), :class => "btn btn-warning"  %>
        <% else %>
          <%= link_to "ACTIVE", active_admin_relevant_auth_api_path(rel), :class => "btn btn-success"  %>
        <% end %>
        <%= link_to "EDIT", edit_admin_relevant_auth_api_path(rel), :class => "btn btn-primary" %>
        <%= link_to "DESTROY", admin_relevant_auth_api_path(rel), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br />

<%= link_to "New", new_admin_relevant_auth_api_path, :class => "btn btn-primary" %>
