<div class="page-header">
  <h2>Create New Relevant Connect Authentication</h2>
</div>
<%= simple_form_for [:admin, @relevant_auth], :url => admin_relevant_auth_apis_path do |f| %>
  <div class="field">
    <%= f.input :username %>
  </div>
  <div class="field">
    <%= f.input :password %>
  </div>
  <%= f.submit %>
<% end %>