<%= form_tag({:controller => "receipt_barcodes", :action => "new_search"}, :id=>'x-search-receipt', :method => :get, :remote => true) do |f| %>

  <div class="x-box">
    <div class="x-box-col3">
      <div class="field">
        <%= label_tag :from %>
        <%= text_field_tag "search[from]",params[:search] ? params[:search][:from] : nil, :class=>'x-datepicker', :readonly=>true %>
      </div>
      <div class="field">
        <%= label_tag :to %>
        <%= text_field_tag "search[to]",params[:search] ? params[:search][:to] : nil, :class=>'x-datepicker', :readonly=>true %>
      </div>
    </div>

    <div class="x-box-col3">
      <div class="field">
        <%= label_tag :chain %>
        <%= select_tag('search[chains]', options_from_collection_for_select(Chain.active.select("id, name").order('name'), :id, :name, params[:search] ? params[:search][:chains] : nil)) %>
      </div>
      <div class="field" id="single-restaurant">
        <%= label_tag :restaurant %>
        <%= select_tag('search[restaurant_id]', options_from_collection_for_select([], :id, :name, params[:search] ? params[:search][:restaurants] : nil)) %>
      </div>
    </div>
    <div class="x-box-col3">
      <div class="field">
        <%= label_tag :review_status %>
        <%= select_tag "search[review_status]", options_for_select(Receipt::BARCODE_STATUS, params[:search] ?  params[:search][:review_status] : nil), :prompt=>"Select status", :class=>'x-col3-dropdown' %>
      </div>
      <div class="field">
        <%= label_tag :payment_method %>
        <%= select_tag "search[payment_method]", options_for_select(Receipt::PAYMENT_METHOD, params[:search] ? params[:search][:payment_method] : nil), :prompt=>"Select payment method", :class=>'x-col3-dropdown' %>
      </div>

    </div>
  </div>
  <div style="left:0; float:left;">
    <%= select_tag "search[qry_column]", options_for_select(["Email", "Barcode", "Server name", "Cashier", "Receipt number"]), :style=>'width:150px' %>
    <%= text_field_tag "search[q]", params[:search] ? params[:search][:q] : nil, :style=>'width:200px' %>
    <%= submit_tag "Search", :id => "x-new-search-submit-btn", :class => "btn", :style => "margin-bottom: 9px;" %>
  </div>

<% end %>

<script>
  $('#x-new-search-submit-btn').click(function(){
    $("#new-list-receipts").ajaxloader('show');

    var chain_id = $('select#search_chains').val();
    var restaurant_id = $('select#search_restaurant_id').val();
    if (restaurant_id == null){
      alert("please select chain or restaurant first.");
      $("#new-list-receipts").ajaxloader('hide');
      return false;
    }
  });
</script>