<% unless @receipts.length <= 0 %>
  <% @receipts.each do |receipt|
    trans=receipt.the_latest_transaction %>
    <tr>
      <td>
        <%= link_to receipt.id, admin_receipt_barcode_path(receipt) %>
      </td>
      <% offer = receipt.try(:last_transaction).try(:offer) %>
      <% if offer %>
        <td><%= link_to(offer.name, admin_offer_path(offer), :target => "_blank") %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
      <td>
        <a href="#myModal" data-toggle="modal" class="short_email" data-attribute="<%= receipt.try(:user).try(:email) rescue nil %>">
          <%= receipt.try(:user).try(:email).try(:slice, 0, 13) %>...
        </a>
        <br />
        Points(<%= receipt.try(:user).try(:points) %>)
      </td>
      <td><%= receipt.chain.name if receipt.chain%></td>
      <td><%= trans.current_restaurant.name.gsub("\u2028","") if trans.current_restaurant rescue nil %></td>
      <% if receipt.is_ncr_receipt && !receipt.is_direct_ncr_receipt %>
        <td><%= link_to receipt.try(:ncr_data_receipt).try(:qr_code), menu_receipt_admin_receipt_barcode_path(receipt), :target => "_blank" %></td>
      <% elsif receipt.is_direct_ncr_receipt %>
        <td><%= link_to "Show", menu_receipt_admin_receipt_barcode_path(receipt), :target => "_blank" %></td>
      <% else %>
        <td><%= link_to receipt.show_receipt_barcode, menu_receipt_admin_receipt_barcode_path(receipt), :target => "_blank" %></td>
      <% end %>
      <td><%= date_helper_timezone(receipt.created_at) rescue nil %></td>
      <td>
        <div style="float:left;">
          <%= receipt_status_color(receipt.status) %>
        </div>
        <div style="float:left;margin-left:15px;">
          <% if receipt.status == Receipt::STATUS[:REJECTED]%>
            <%= receipt_status_name(receipt.status) %>
            <% errors_receipt = (trans.instructions.class.eql?(Hash) ? trans.instructions : YAML.load(trans.instructions)) rescue nil %>
            <% if errors_receipt and errors_receipt.class.eql?(Hash) %>
              <% receipt_inst = YAML.load(File.read('config/receipt_instructions.yml')) %>
              <% errors_receipt.keys.each do |key| %>
                <% selected_inst = receipt_inst[key.to_s]%>
                <% if selected_inst %>
                  <div class="field">
                    (<%= selected_inst["review_reason"] %>)<br/>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <%= receipt_status_name(receipt.status) %>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr><td colspan="8">Please search the criteria First</td></tr>
<% end %>
<tr>
  <td colspan="8" style="text-align: center;">
    <%= will_paginate @receipts, :class => "pagination r-paging" unless @receipts.blank? %>
  </td>
</tr>
<tr>
  <td colspan="8" style="text-align: center;">
    <%= link_to "Export to csv", request.parameters.merge({:format => :csv}), :confirm => 'Are You sure?' %>
    |
    <a href="#myModalExportStatus" data-toggle="modal">Export Status</a>
  </td>
</tr>


