<div class="page-header">
  <h1>Receipt Barcode's Reviews</h1>
</div>
<%= render 'new_searchform' %>

<br clear="all"/><br clear="all"/>

<table class="table table-bordered table-condensed">
  <caption></caption>
  <thead>
    <tr>
      <th class="th-small">ID</th>
      <th style="width: 110px">Offer</th>
      <th style="width: 160px">User Email</th>
      <th style="width: 110px">Chain</th>
      <th class="th-very-large">Restaurant Location</th>
      <th class="th-medium">Barcode Number</th>
      <th class="th-medium">Submit Date</th>
      <th class="th-large ta-center">Status</th>
    </tr>
  </thead>
  <tbody id="new-list-receipts">
    <%= render 'new_receipts' %>
  </tbody>
</table>