<% if @xpient_template %>
  <div class="x-box" style="border: 1px dashed #000">
    <div class="page-header">
      <h4><%= @receipt.chain.name %></h4>
      <h4><%= @transaction.current_restaurant.name.gsub("\u2028","") rescue nil %></h4>
    </div>
    <div class="page-header">
      Date : <%= date_helper(@transaction.receipt_date.blank? ? @transaction.issue_date : @transaction.receipt_date) rescue "-" %>
      time : <%= issue_hour(@transaction, @receipt)  rescue "-" %> <br />
      ShortCode : <%= @short_code %> <br />
      Check Id : <%= @check_id rescue "-" %> <br />
    </div>
    <div class="page-header">
      <table>
        <tr>
          <td>Menu item id</td>
          <td>Menu item </td>
          <td>Quantity </td>
          <td>Price</td>
        </tr>
        <%= show_xpient_line_items(@menu_items).html_safe %>
      </table>
    </div>
    <div class="page-header">
      Payment Total : <%= @payment_total %><br />
      Subtotal : <%= @transaction.subtotal rescue 0 %> <br />
      Tax : <%= @transaction.tax rescue 0 %> <br />
    </div>
  </div>
<% else %>
  <div class="x-box" style="border: 1px dashed #000">
    <div class="page-header">
      <h4><%= @receipt.chain.name %></h4>
      <h4><%= @transaction.current_restaurant.name.gsub("\u2028","") rescue nil %></h4>
    </div>
    <div class="page-header">
      Date : <%= date_helper(@transaction.receipt_date.blank? ? @transaction.issue_date : @transaction.receipt_date) rescue "-" %>  time : <%= @transaction.time_stamp  rescue "-" %> <br />
      <% if @receipt.is_receipt_barcode %>
        Barcode Number : <%= @receipt.try(:pos_check_upload).try(:barcode) %> <br />
        Check Id : <%= @pos_xml.check_id rescue "-" %> <br />
        Sequence Number : <%= @pos_xml.seq_num rescue "-" %>
      <% elsif @receipt.is_ncr_receipt %>
        QR Code : <%= @receipt.try(:ncr_data_receipt).try(:qr_code) if @receipt.is_direct_ncr_receipt %> <br />
        Check Id : <%= @receipt_data_in_json["CheckId"].to_i rescue "-" %> <br />
        Site Id : <%= @receipt_data_in_json["SiteId"].to_i rescue "-" %>
      <% end %>
    </div>
    <div class="page-header">
      <table>
        <tr>
          <td>Menu item id</td>
          <td>Menu item/ Size ID </td>
          <td>Quantity </td>
          <td>Price</td>
        </tr>
        <% @menu_items.each do |menu_item| %>
          <tr>
            <td><%= menu_item["id"] %></td>
            <td><%= menu_item["name"] || menu_item["sizeid"] %></td>
            <td><%= menu_item["qty"] %></td>
            <td><%= menu_item["amount"] %></td>
          </tr>
        <% end unless @menu_items.blank? %>

        <% @direct_discounts.each do |discount_item| %>
          <tr>
            <td><%= discount_item.attr("id")%></td>
            <td><%= discount_item.search("name").text rescue nil %></td>
            <td></td>
            <td><%= discount_item.search("dollar-value").text rescue nil %></td>
          </tr>
        <% end unless @direct_discounts.blank? %>
      </table>
    </div>
    <div class="page-header">
      Payment Total : <%= @payment_total %><br />
      Subtotal : <%= @transaction.subtotal rescue 0 %> <br />
      Tax : <%= @transaction.tax rescue 0 %> <br />
      Discount : <%= @discount_total %> <br />
    </div>
  </div>
<% end %>
