<p id="notice"><%= notice %></p>

<div class="x-box" style="border: 1px dashed #000">
  <div class="x-box-inner">
    <b class="x-label-heading">Id:</b> <%= @receipt.id %> <br/>
    <b class="x-label-heading">Chain:</b> <%= @receipt.try(:chain).try(:name) %> <br/>
    <b class="x-label-heading">User Name:</b> <%= @receipt.try(:user).try(:full_name) %> <br/>
    <b class="x-label-heading">User Email:</b> <%= @receipt.try(:user).try(:email) %> <br/>
    <b class="x-label-heading">Status:</b> <%= receipt_status_name(@receipt.status) %> <br/>
  </div>
  <div class="x-box-inner">
    <h4><%= @receipt.try(:pos_check_upload).try(:barcode) %></h4>
  </div>
</div>  <br clear="all"/>

<h1>Receipt Review History</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Updated At</th>
    <th>Cashier</th>
     <th>Server Name/Id</th>
    <th>Subtotal</th>
    <th>Tax</th>
    <th>Total Payment</th>
    <th>Order Id</th>
    <th>Reviewer</th>
    <th>Status</th>
  </tr>

  <% @receipt_transactions.each do |txn| %>
      <tr>
        <td><%= txn.id %></td>
        <td><%= date_helper_timezone(txn.updated_at)  %> </td>
        <td><%= txn.cashier %></td>
        <td><%= txn.server_name %></td>
        <td><%= txn.subtotal %></td>
        <td><%= txn.tax %></td>
        <td><%= txn.total_payment %></td>
        <td><%= txn.restaurant_offer_id %><br />
        (<%= link_to "#{txn.offer.name}",admin_offer_path(txn.offer), :target => "_blank" rescue "-" %>)</td>
        <td><%= txn.try(:reviewer).try(:email) %></td>
        <td><%= receipt_status_name(txn.status) %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'Back', admin_receipt_barcodes_path %>

