<div class="x-box" style="border: 1px dashed #000">
  <div class="page-header">
    <h4><%= @receipt.chain.name %></h4>
    <h4><%= @transaction.current_restaurant.name.gsub("\u2028","") rescue nil %></h4>
  </div>
  <div class="page-header">
    Date : <%= date_helper(@transaction.receipt_date.blank? ? @transaction.issue_date : @transaction.receipt_date) rescue "-" %>  time : <%= @transaction.time_stamp  rescue "-" %> <br />
    ShortCode : <%= @short_code %> <br />
    Check Id : <%= @check_id rescue "-" %> <br />
  </div>
  <div class="page-header">
    <table>
      <tr>
        <td>Menu item id</td>
        <td>Menu item </td>
        <td>Quantity </td>
        <td>Price</td>
      </tr>
      <% @menu_items.each do |menu_item| %>
        <tr>
          <td><%= menu_item["id"]%></td>
          <td><%= menu_item["description"] rescue nil %></td>
          <td><%= menu_item["quantity"] rescue nil %></td>
          <td><%= menu_item["price"] rescue nil %></td>
        </tr>
        <% menu_item["childItems"].each do |child_item| %>
          <tr>
            <td><%= child_item["id"]%></td>
            <td><%= child_item["description"] rescue nil %></td>
            <td><%= child_item["quantity"] rescue nil %></td>
            <td><%= ((child_item["type"] == "LOYALTY_DISCOUNT" ? (child_item["price"].to_f * -1) : child_item["price"])rescue nil) %></td>
          </tr>
        <% end unless child_item["childItems"].blank? %>
      <% end unless @menu_items.blank? %>
    </table>
  </div>
  <div class="page-header">
    Payment Total : <%= @payment_total %><br />
    Subtotal : <%= @transaction.subtotal rescue 0 %> <br />
    Tax : <%= @transaction.tax rescue 0 %> <br />
  </div>
</div>