<% unless @push_point.user_push_points.blank? %>
  <% @push_point.user_push_points.each_with_index do |x, index| %>
    <div class="span3">
      <%= check_box_tag "user_ids[]", x.user_id, true %> <%= x.user_id %>
    </div>
  <% end %>
  <div class="clearfix"></div>
<% end %>