<div style="width: 100%;">

  <h2>Push Point Confirmation</h2>
  <br />
  <h4>Push Point has successfully <%= @push_point.new_record? ? "created." : "updated."%></h4>
  <br />
  <% if @user_failed.blank? %>
      <p>No user failed to push point</p>
  <% else %>
      <p> There are some users who failed for push point process : </p>
      <table style="width: 100%;">
        <thead>
        <tr>
          <th>User ID</th>
          <th>Reason</th>
        </tr>
        </thead>
        <% @user_failed.each do |user| %>
            <tr>
              <td><%= user[:user_id] %></td>
              <td><%= user[:message]%></td>
            </tr>
        <% end %>
      </table>
  <% end %>
  <div style="text-align: center;">
    <%= link_to "OK", admin_push_points_url, :class => "btn btn-primary" %>
  </div>

  <style type="text/css">
      a.modalCloseImg{
          display: none!important;
      }
  </style>

</div>
