<% if @is_save %>
$.modal("<%= escape_javascript(render("push_confirmation")) %>",  {containerId: "simplemodal-dup", containerCss: "height:250px", dataCss: "height:250px"})
<% else %>
$('#form-action').html('<%= escape_javascript(render('form'))%>');
<% end %>
$('#form-container').ajaxloader('hide')