<script type="text/javascript">
  $(document).ready(function () {
      $('#search_btn').click(function () {
          $('#search_text_hidden').val($('#search_text').val());
          $('#page').val(1);
          $('#loader').show();
          $('#sub').click();
      });
      $('#search_text').keypress(function (e) {
          if (e.which == 13) {
              $('#search_btn').click();
          }
      });
  });
</script>

<h1>History Push Points</h1>

<div class="controls">
  <%= select_tag 'chain_restaurants', options_from_collection_for_select(Chain.active.order("name"), :id, :name), :prompt => "Please select chain",
                 :onchange => "$('#chn_id').val(this.value);$('#page').val(1);$('#search_text_hidden').val($('#search_text').val());$('#loader').show();$('#sub').click();" %>
  <%= search_field_tag "search_text", "", placeholder: "Search notes" %>
  <%= button_tag "Search", :id => "search_btn", :style => "width: 65px; height: 30px; margin-bottom: 8px;" %>
  <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
</div>

<div id="push_points">
  <%= render 'push_points_list' %>
</div>
<br />

<%= link_to 'New Push Point', new_admin_push_point_path, :class => "btn btn-primary" %> |
<%= link_to 'New Push Point To All User', all_user_admin_push_points_path, :class => "btn btn-primary" if current_admin.role != "customer support" %>

<%= form_tag filter_push_points_admin_push_points_path, :id => "form", :class => 'form-horizontal', :method => :get, :style => "display:none;", :remote => true do %>
    <%= hidden_field_tag "chn_id" %>
    <%= hidden_field_tag "search_text_hidden" %>
    <%= hidden_field_tag "qry_order" %>
    <%= hidden_field_tag "page" %>
    <%= submit_tag "submit", :id => "sub" %>
<% end %>