<p>
  <b>Chain:</b>
  <%= @push_point.chain_id %>
</p>

<p>
  <b>Points:</b>
  <%= @push_point.points %>
</p>

<p>
  <b>Notes:</b>
  <%= @push_point.notes %>
</p>
<p>
  <b>User ids:</b>
  <% @user_ids.each do |uid| %>
      <%= uid %><br/>
  <% end %>
  <%= will_paginate @user_ids %>
</p>

<%= link_to 'Back', admin_push_points_path %>