<% require 'csv' %>
<% headers = ["User ID", "Notification", "Email", "Points", "Created at"] %>
<%= CSV.generate_line headers, :row_sep => ?\t, :quote_char => ?\ %>
<% logs = @push_point.success_log_entries.select { |a| a[(params[:search_type] || "user_id").
                                                                 to_sym].to_s =~ /#{params[:key]}/ } %>
<% logs.each do |log|
  crt_at = log[:created_at] rescue "-"
  row = [
          log[:user_id],
          log[:notification],
          log[:email],
          log[:point],
          crt_at
  ] %>
    <%= CSV.generate_line row, :row_sep => ?\t, :quote_char => ?\ %>
<% end %>