<% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
        <% @question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% else %>
    <div id="error_explanation">
      <h2> <%= @error_message %> --------</h2>
    </div>
<% end %>