<% if @chain.dashboard_questions.count == 2 %>
    <% @chain.dashboard_questions.order('order_number asc').each_with_index do |question, idx| %>
        <span class="label">Step <%= idx + 1 %></span>
        <li id="<%= question.id %>">
          <span class="question" url="<%= edit_admin_chain_dashboard_question_url(@chain, question) %>"> <%= question.text %></span>

          <% if !question.dashboard_choices.blank? %>
              <div class="disabled x-choice-list" id="question-<%= question.id %>" style="margin-left:30px">
                <% question.dashboard_choices.each do |choice| %>
                    <div class="disabled">
                      ---
                      <span class="question-choice" name="value" url="<%= edit_admin_chain_dashboard_question_dashboard_choice_path(@chain, question, choice) %>"><%= choice.value %></span>
                      <%= link_to(image_tag("delete1.png"), admin_chain_dashboard_question_dashboard_choice_path(@chain, question, choice), :confirm => 'Are you sure you want to delete selected choice?', :method => :delete, :class => 'x-delete', :remote => true) %>
                    </div>
                <% end %>
              </div>
          <% else %>
              <div class="disabled x-choice-list" id="" style="margin-left:30px">
                <div class="disabled">
                  ---
                  <span class="question-choice" name="value" url="#">5</span>
                </div>
                <div class="disabled">
                  ---
                  <span class="question-choice" name="value" url="#">10</span>
                </div>
                <div class="disabled">
                  ---
                  <span class="question-choice" name="value" url="#">25</span>

                </div>
              </div>
          <% end %>
        </li>
    <% end %>
<% elsif @chain.dashboard_questions.count == 1 %>
    <% [1, 2].each_with_index do |idx| %>
        <% question = @chain.dashboard_questions.where('order_number = ?', idx).first %>
        <span class="label">Step <%= idx %></span>
        <li id="<%= question.id rescue idx %>">
          <span class="question" url="">
            <%=
                begin
                  question.text
                rescue
                  if idx == 1
                    "Users who have not visited in:"
                  else
                    "Users who have  visited in:"
                  end
                end

            %></span>


          <% if question and !question.dashboard_choices.blank? %>
              <div class="disabled x-choice-list" id="question-<%= question.id %>" style="margin-left:30px">
                <% question.dashboard_choices.each do |choice| %>
                    <div class="disabled">
                      ---
                      <span class="question-choice" name="value" url=""><%= choice.value %></span>
                    </div>
                <% end %>
              </div>
          <% else %>
              <div class="disabled x-choice-list" id="" style="margin-left:30px">
                <div class="disabled">
                  ---
                  <span class="question-choice" name="value" url="#">5</span>
                </div>
                <div class="disabled">
                  ---
                  <span class="question-choice" name="value" url="#">10</span>
                </div>
                <div class="disabled">
                  ---
                  <span class="question-choice" name="value" url="#">25</span>

                </div>
              </div>
          <% end %>
        </li>
    <% end %>

<% elsif @chain.dashboard_questions.blank? %>
    <span class="label">Step 1</span>
    <li id="">
      <span class="question" url=""> Users who have not visited in:</span>

      <div class="disabled x-choice-list" id="" style="margin-left:30px">
        <div class="disabled">
          ---
          <span class="question-choice" name="value" url="#">5</span>
        </div>
        <div class="disabled">
          ---
          <span class="question-choice" name="value" url="#">10</span>
        </div>
        <div class="disabled">
          ---
          <span class="question-choice" name="value" url="#">25</span>

        </div>
      </div>
    </li>
    <span class="label">Step 2</span>
    <li id="">
      <span class="question" url=""> Users who have visited within the last:</span>

      <div class="disabled x-choice-list" id="" style="margin-left:30px">
        <div class="disabled">
          ---
          <span class="question-choice" name="value" url="#">5</span>
        </div>
        <div class="disabled">
          ---
          <span class="question-choice" name="value" url="#">10</span>
        </div>
        <div class="disabled">
          ---
          <span class="question-choice" name="value" url="#">25</span>

        </div>
      </div>
    </li>
<% end %>


