<hr/>
<div class="form-actions alert-info">Question For Step 1</div>
<%= simple_form_for([:admin, @chain, @question2], :remote => true, :html => {:class => 'form_1', :style => "margin-top:40px;overflow:auto;"}) do |f| %>
    <div class="errors_1"></div>
    <input type="hidden" name="dashboard_question[order_number]"  id="dashboard_question_order_number" value="1"></input>
    <%= f.input :text, readonly: true, hint: 'You cannot change this value.', :input_html => {:value => "Users who have not visited in:"},
                :html => {:style => "width:140px;"} %>
    <div id="question_choices">
      <h4>Question Choices :</h4>
      <%= f.simple_fields_for :dashboard_choices do |qc| %>
          <%= render 'dashboard_choice_fields', :f => qc %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add choice', f, :dashboard_choices, :class => "btn btn-primary" %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Save Question 1", :id => 'submit2', :style => 'display:block;', 'data-disable-with' => 'Processing..' %>
    </div>
<% end %>

<div class="form-actions alert-info">Question For Step 2</div>
<%= simple_form_for([:admin, @chain, @question1], :remote => true, :html => {:class => 'form_2', :style => "margin-top:40px;overflow:auto;"}) do |f| %>
    <div class="errors_2"></div>
    <%= f.input :text, readonly: true, hint: 'You cannot change this value.', :input_html => {:value => "Users who have visited within the last:"},
                :html => {:style => "width:140px;"} %>
    <input type="hidden" name="dashboard_question[order_number]"  id="dashboard_question_order_number" value="2"></input>
    <div id="question_choices">
      <h4>Question Choices :</h4>
      <%= f.simple_fields_for :dashboard_choices do |qc| %>
          <%= render 'dashboard_choice_fields', :f => qc %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'add choice', f, :dashboard_choices, :class => "btn btn-primary" %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Save Question 2", :id => 'submit1', :style => 'display:block;', 'data-disable-with' => 'Processing..' %>
    </div>
<% end %>




<style>
    #simplemodal-form {
        overflow: inherit;
    }
</style>