<% if @is_save %>
$('.form_<%= @step%>').html('Success');
$('#question-list').html('<%= escape_javascript(render 'admin/dashboard_questions/question') %>');
$('#question-list').ajaxloader('hide');
$('#question-list').effect("highlight", {color:"green"}, 5000);
<% else %>
$('.errors_<%= @step%>').html('<%= escape_javascript(render 'error') %>');
<% end %>