<% if @valid == false %>
$('#notification').html('<div class="alert fade in"><button data-dismiss="alert" class="close" type="button">×</button>Question Must Have Min 2 Choices</div>')
<% else %>
$('#question-list').html('<%= escape_javascript(render 'admin/dashboard_questions/question') %>');
$('#question-list').ajaxloader('hide');
$('#question-list').effect("highlight", {color:"green"}, 5000);
<% end %>
