<div id="notification"></div>
<h2>Question Dashboard For Chain <%= @chain.name %></h2>
<% if (@chain.id) %>
    <br clear="all"/>
<% end %>

<ul class="sortable list x-question-box" id="question-list">
  <%= render "question" %>
</ul>

<div class="x-box-heading">
  <%= link_to("Add/Edit Questions", new_admin_chain_dashboard_question_path(@chain), :title => "Add New", :method => :get, :remote => true, :class => 'btn btn-primary', 'data-disable-with' => "Loading..") %>
  <%= link_to "Back", dashboard_setting_admin_chain_path(@chain), :class => 'btn btn-primary' %>
</div>
