<% if @valid == true %>
$.modal("<%= escape_javascript(render("question_type_choices")) %>", {containerId:"simplemodal-form"});
<% else %>
$('<div class="alert alert-error"><button data-dismiss="alert" class="close" type="button">×</button><%= @error_message %></div>').
        insertAfter('.span12')
<% end %>