<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<%= @owner.email %> is Requesting a job to review.<br/>
please visit <%= "http://"+ENV["DEFAULT_HOST_EMAIL"]+'/owner/jobs' rescue nil%> <br/>
To see the detail

<br/>
Thank you
<br/>
Relevant
</body>
</html>
