<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<%= @text_body.html_safe %>
<br/>
<br/>
Thank you
<br/>
<%= @chain.name rescue nil %>
</body>
</html>
