<div class="page-header">
  <h3>Milestones Receipt for <%= @chain.name %></h3>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Resetable</th>
      <th>Carry Over Points</th>
      <th>Assigning step incentive randomized</th>
      <th>User Category Modifier - spend range</th>
      <th>Min $ amount</th>
      <th>Max $ amount</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @steppingstones.each do |st| %>
      <tr>
        <td><%= st.step_type %></td>
        <td><%= st.resetable %></td>
        <td><%= st.carry_over_points %></td>
        <td><%= st.randomize %></td>
        <td><%= st.category_type.blank? ? "All User" : Steppingstone::SPEND_LEVEL.key(st.category_type)  %><%= " Spend Range" if Steppingstone::SPEND_LEVEL.key(st.category_type).to_s.downcase != "all user" and !st.category_type.blank? %></td>
        <td><%= st.min_amount.blank? ? "N/A" : st.min_amount  %></td>
        <td><%= st.max_amount.blank? ? "N/A" : st.max_amount %></td>
        <td>
          <%= link_to "Edit", edit_admin_chain_steppingstone_path(@chain, st), :class => "btn btn-primary" %>
          <%= link_to "Destroy", admin_chain_steppingstone_path(@chain, st), :class => "btn btn-danger", :method => "delete", :confirm => "Are you sure?" %>
          <%= link_to "Steps", admin_chain_steppingstone_steps_path(@chain, st), :class => "btn btn-warning" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<br />

<%= link_to "Create new milestone", new_admin_chain_steppingstone_path(@chain), :class => 'btn btn-primary' %>