<div class="page-header">
  <h3>New Milestone Receipt for <%= @chain.name %></h3>
</div>

<%= simple_form_for([:admin_chain, @steppingstone]) do |f| %>
    <%= f.input :step_type, :label => "Type", :collection => [["Survey Submitted", "survey_submitted"],
                                                              ["Receipt Submitted", "receipt_submitted"],
                                                              ["Receipt Approved", "receipt_approved"],
                                                              ["Points Earned", "points_earned"]
    ] %>
    <%= f.input :resetable, :as => :radio_buttons %>
    <%= f.input :carry_over_points, :as => :radio_buttons %>
    <%= f.input :randomize, :as => :radio_buttons %>

    <%= f.input :category_type, :label => "User Category Modifier - Spend Range", :collection => Steppingstone::SPEND_LEVEL,
                :include_blank => false

    %>
    <div id="dynamic_form" style="display: none;">
      <%= f.input :min_amount %>
      <%= f.input :max_amount %>
    </div>
    <%= f.submit "Create", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_chain_steppingstones_path(@chain), :class => 'btn' %>
<% end %>


<script>
    $(document).ready(function () {
        $('#steppingstone_category_type').change(function () {
            if ($('#steppingstone_category_type').val() == "1") {
                $('#dynamic_form').hide();

            } else {
                $('#dynamic_form').show();
            }
        });

        if ($('#steppingstone_category_type').val() == "1") {
            $('#dynamic_form').hide();
        } else {
            $('#dynamic_form').show();
        }
    });


</script>