<%= simple_form_for([:admin, @game]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="field">
        <%= f.input :chain_id, :collection => Chain.active.order("name") %>
      </div>
      <div class="field">
        <%= f.input :name %>
      </div>
      <div class="field">
        <%= f.input :description, :input_html => {:rows => 5} %>
      </div>
      <div class="field">
        <%= f.input :daily_cap, :hint => "Fill with 0 to inactivate daily cap" %>
      </div>
      <div class="field">
        <%= f.input :weekly_cap, :hint => "Fill with 0 to inactivate weekly cap" %>
      </div>
      <div class="field">
        <%= f.input :monthly_cap, :hint => "Fill with 0 to inactivate monthly cap" %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>