<div class="page-header">
  <h1>Listing Games</h1>
</div>
<table>
  <tr>
    <th>Chain</th>
    <th>Name</th>
    <th>Description</th>
    <th>Daily cap</th>
    <th>Weekly cap</th>
    <th>Monthly cap</th>
    <th></th>
  </tr>

  <% @games.each do |game| %>
      <tr>
        <td><%= game.chain.name rescue nil %></td>
        <td><%= link_to game.name, admin_game_path(game) %></td>
        <td><%= game.description %></td>
        <td><%= game.daily_cap %></td>
        <td><%= game.weekly_cap %></td>
        <td><%= game.monthly_cap %></td>
        <td>
          <%= link_to 'Edit', edit_admin_game_path(game), :class => "btn btn-warning" %>
          <%= link_to 'Destroy', admin_game_path(game), confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
          <%= link_to 'Level', admin_game_levels_path(game), :class => "btn btn-info" %>
        </td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Game', new_admin_game_path, :class => "btn btn-primary" %>