<%= custom_form_for([:admin, @chain_image], html: {multipart: true}, url: url) do |f| %>
  <%= f.simple_fields_for :chain_image_share_locales do |gl| %>
      <%= gl.input :locale_id, :as => :hidden %>
      <%= gl.input :title, :label => "Title ("+gl.object.locale.key+")", :input_html => {:rows => 5, :cols => 100}  %>
      <%= gl.input :description, :label => "Description ("+gl.object.locale.key+")", :input_html => {:rows => 5, :cols => 100}  %>
    <% end %>

  <%= f.input :start_date, :as => :string, :input_html => {:class=>'x-datepicker'} %>
  <%= f.input :expiry_date, :as => :string, :input_html => {:class=>'x-datepicker'} %>

  <%= f.label :upload_image %>
  <%= f.input :image, :as => :file %>
  <% unless @chain_image.new_record? %>
    <img src='<%= @chain_image.image.url(:thumb) %>' height='150' width='150'/>
  <% end %>

  <%= f.input :fb_title, :as => :string %>

  <%= f.input :fb_description, :as => :text %>
 
  <%= f.input :twitter_title, :as => :string %>
 
  <%= f.input :twitter_description, :as => :text %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
<%= link_to 'Back', admin_chain_image_text_shares_path(@chain) %>



<script type="text/javascript">
  $(".x-datepicker").datepicker({
    dateFormat: 'yy-mm-dd'
  });
</script>
