<div class="page-header">
  <h2>Listing Share Images <%= @chain.name %></h2>
</div>
<div class="table-responsive">
  <table class="table table-bordered table-condensed table-responsive">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Image</th>
        <th>Start Date</th>
        <th>Expiry Date</th>
        <th>Activity</th>
      </tr>
    </thead>
    <tbody>
      <% @chain_images.each do |chain_image| %>
        <tr>
          <td><%= chain_image.id %></td>
          <td><%= chain_image.chain_image_share_locales.map{|lc| "#{lc.locale.key} : #{lc.title}" } unless chain_image.chain_image_share_locales.blank? %></td>
          <td><%= chain_image.chain_image_share_locales.map{|lc| "#{lc.locale.key} : #{lc.description}" }  unless chain_image.chain_image_share_locales.blank?  %></td>
          <td><%= link_to "image",chain_image.image_url, :target => "_blank" %></td>
          <td><%= chain_image.start_date %></td>
          <td><%= chain_image.expiry_date %></td>
          <td>
            <%= link_to 'Destroy', admin_chain_image_text_share_path(@chain, chain_image), :class => "btn btn-danger btn-sm", :method => :delete, data: {confirm: 'are you sure?'} %>
            <%= link_to 'Edit', edit_admin_chain_image_text_share_path(@chain, chain_image), :class => "btn btn-sm btn-info" %>
          </td>
        </tr>
      <% end %>
      <% if @chain_images.blank? %>
        <tr><td colspan="7">There are no data</td></tr>
      <% end %>
    </tbody>
  </table>
</div>
<br/>

<%= link_to 'New Image Share', new_admin_chain_image_text_share_path, :class => "btn btn-primary" %>
<%= link_to 'Back', admin_chain_share_images_path, :class => "btn btn-primary" %>
