<h1>Referral Program : <%= @referral_program.name %></h1>
<table>
  <tr>
    <th>Referee</th>
    <th>Got Incentive</th>
    <th>Code</th>
    <th>Referer</th>
    <th>Got Incentive</th>
    <th>Generated Time</th>
  </tr>
  <% @codes.uniq.each do |x| %>
      <% ref_users = x.referral_users.select('DISTINCT(referral_users.id), referral_users.*') %>
      <% if ref_users.blank? %>
          <tr>
            <td>-</td>
            <td>No</td>
            <td><%= x.code %></td>
            <td><%= x.user.email %></td>
            <td>No</td>
            <td><%= x.created_at %></td>
          </tr>
          <% else %>
          <% ref_users.each do |code| %>
               <% begin %>
              <% if code.created_at.to_date <= DateTime.parse("2016-10-26") %>
                <% get_incent = code.get_incentive?(code.user,code.referral_code.user,@referral_program,code.referral_code) %>
              <% else %>
                <% get_incent = code.get_incentive_new?(code.user,code.referral_code.user,@referral_program,code.referral_code) %>
              <% end  %>
              <% referee_reward_filter = false %>
              <% referer_reward_filter = false %>
              <% referee_reward_filter = get_incent[0].include?('YES')  unless @referee_reward.blank?%>
              <% referer_reward_filter = get_incent[1].include?('YES')  unless @referer_reward.blank?%>

               <tr>
               <td><%= code.user.email %></td>
              <td><%= get_incent[0].html_safe %></td>
              <td><%= code.referral_code.code %></td>
              <td><%= code.referral_code.user.email %></td>
              <td><%= get_incent[1].html_safe %></td>
              <td><%= date_helper(code.created_at) %></td>
               </tr>
                  <% rescue => e %>
                 <!--<td><%#= "#{e.inspect}" %></td>-->
              <% next %>
              <% end %>
          <% end %>

<% end %>


  <% end %>

</table>
<%= will_paginate @codes %>
<%= link_to "Back", admin_referral_programs_path %>

<script>
    $(document).ready(function(){
        $(".pagination").find("a").attr("data-remote", true);
        $('.pagination a').click(function() {
            $('#ref_code_content').ajaxloader('show');
        });
    });
</script>