<span>Filter By Code / Email</span>
<%= form_tag search_admin_referral_program_referral_codes_path,
             :id => "form", :class => 'form-horizontal',
             :method => :get, :remote => true do %>
    <%= text_field_tag "search", nil %>
    <%= submit_tag "submit", :id => "sub", :onclick => "$('#ref_code_content').ajaxloader();" %>
    <%= link_to "Reset Filter",'#',
                :onclick => "$('#search').val('');$('#sub').click();return false;"  %>
<% end %>

<div id="ref_code_content">
  <%= render 'list' %>
</div>
<div class="modal hide fade" id="ref_modal" style="width: 541px;height: 500px;">
</div>
