<span>Filter By Code / Email</span>
<%= form_tag search_admin_referral_program_referral_codes_path,
             :id => "form", :class => 'form-horizontal',
             :method => :get, :remote => true do %>

    <%= text_field_tag "search", nil %>
    <%= submit_tag "submit", :id => "sub", :onclick => "$('#ref_code_content').ajaxloader();" %>
    <%= link_to "Reset Filter",'#',
                :onclick => "$('#search').val('');$('#sub').click();return false;"  %>
<% end %>

<div id="ref_code_content">
  <h1>Referral Program : <%= @referral_program.name %></h1>
  <table>
    <tr>
      <th>User</th>
      <th>Code</th>
      <th>Generated Time</th>
      <th>Action</th>
    </tr>
    <% @codes.each do |code| %>
        <tr>
          <td><%= code.user.email %></td>
          <td><%= code.code %></td>
          <td><%= date_helper(code.created_at) %></td>
          <td>
            <%= link_to "#{code.referral_users.size} Used", "#ref_modal", :onclick => "#{initialize_modal('ref_modal',admin_referral_program_referral_code_referral_users_path(@referral_program, code, :format => :js) )}", "data-toggle" => "modal" %>
          </td>
        </tr>
    <% end %>

  </table>
  <%= will_paginate @codes %>
  <%= link_to "Back", admin_referral_programs_path %>
</div>
<div class="modal hide fade" id="ref_modal" style="width: 541px;height: 500px;">
</div>

<script>
    $(document).ready(function(){
        $(".pagination").find("a").attr("data-remote", true);
        $('.pagination a').click(function() {
            $('#ref_code_content').ajaxloader('show');
        });
    });
</script>
