<div class="page-header">
  <h3>Edit <%= @model.humanize%> </h3>
</div>

<%= simple_form_for([:admin_chain, @text_tile_content], :url => admin_chain_text_tile_content_path(@model, @chain, @text_tile_content)) do |f| %>
    <%= render "shared/error_messages", :target => @text_tile_content %>
    <div class="field">
      Locale <br/>
      <%= f.collection_select("locale_id", @chain.locales, :id, :key) %>
    </div>
    <div class="field">
      <%= f.input :content, :as => :text, :input_html => {:value => @content, :rows => 30, :style => 'width:640px', :id => "privacy_policy_content" } %>
    </div>
    <%= link_to "See The Output",preview_admin_privacy_policies_path(:format => :html),:id => "preview-button",:class => "nyroModal" %>
    <div class="form-actions">
      <%= f.submit @text_tile_content.new_record? ? "Create" : "Update", class: "btn btn-primary" %>
    </div>
<% end %>


<%= link_to 'Show', admin_chain_text_tile_content_path(@model, @chain, @text_tile_content) %> |
<%= link_to 'Back', admin_chain_text_tile_contents_path(@model, @chain) %>
