<div class="page-header">
  <h3>Listing <%= @model.humanize %> <%= @chain.name %></h3>
</div>

<table class="table">
  <tr>
    <th>Chain</th>
    <th>Locale</th>
    <th>Content</th>
    <th></th>
  </tr>

<% @text_tile_contents.each do |text_tile_content| %>
  <tr>
    <td><%= text_tile_content.chain.try(:name) %></td>
    <td><%= text_tile_content.locale.try(:key) %></td>
    <td><%= text_tile_content.content.try(:slice, 0, 100) %>...</td>
    <td>
      <%= link_to 'Show', admin_chain_text_tile_content_path(@model, @chain, text_tile_content) %>
      <%= link_to 'Edit', edit_admin_chain_text_tile_content_path(@model, @chain, text_tile_content) %>
      <%= link_to 'Destroy', admin_chain_text_tile_content_path(@model, @chain, text_tile_content), confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "New #{@model.humanize}", new_admin_chain_text_tile_content_path(@model, @chain) %>
