<p id="notice"><%= notice %></p>

<p>
  <b>Locale:</b><%= @text_tile_content.locale.name %><br/>
  <b>Content:</b>
  <%= markdown(@text_tile_content.content) %>
</p>


<%= link_to 'Edit', edit_admin_chain_text_tile_content_path(@model, @chain, @text_tile_content) %> |
<%= link_to 'Back', admin_chain_text_tile_contents_path(@model, @chain) %>
