<thead>
<tr>
  <th>Chain/Restaurant</th>
  <th>Type</th>
  <th>XML Data</th>
  <th>Transaction</th>
  <th>User</th>
  <th>Status</th>
  <th>POS Used</th>
  <th>Uploaded at</th>
</tr>
</thead>
<tbody>

<% @pos_reward_checks.each do |pos_reward_check| %>
    <tr>
      <td>
        <%= Chain.where(:id => pos_reward_check.chain_id).select('name').first.name rescue pos_reward_check.try(:chain).try(:name) %> /<br />
        <%= PosLocation.where(:id => pos_reward_check.pos_location_id).joins("inner join restaurants r on r.id = pos_locations.restaurant_id").select("r.name").first.name rescue nil %>
      </td>
      <td><%= pos_reward_check.transaction_type == 0 ? "REDEEM" : "VOID" %></td>
      <%#pos_reward_check.pos_location.restaurant.name%>
      <td>
        <%= link_to "show xml data", "#", :id => "#{pos_reward_check.id}", :class => "btn btn-primary xml_data_link" %>
      </td>
      <td>
        <b>ID</b> : <%= pos_reward_check.try(:reward_transaction_id) %> <br />
        <b>Code </b> : <%= pos_reward_check.try(:reward_code) %>
      </td>
      <td><%= pos_reward_check.try(:user).try(:email) %></td>
      <td>
        <%= reward_check_status_color(pos_reward_check.status) %>
        <%= pos_reward_check.error_description %>
      </td>
      <td><%= Chain::POS_USED_TYPE.invert[pos_reward_check.try(:pos_used_type)] %></td>
      <td><%= date_helper_timezone pos_reward_check.created_at %></td>
    </tr>
<% end %>
</tbody>
<tfoot>
<tr>
  <td colspan="8">
    <%= will_paginate @pos_reward_checks %>
  </td>
</tr>
</tfoot>

<script type="text/javascript">
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function () {
        $('#content-data').ajaxloader('show');
    });

    $('.xml_data_link').click(function(){
        $('#body-modal-text').html('<%= image_tag "loader.gif" %>');
        $.get('/admin/pos_reward_checks/'+$(this).attr('id')+'.js')
        $('#myModal').show();
    })
</script>