<link href="http://seiyria.com/bootstrap-slider/css/bootstrap-slider.css" rel="stylesheet">
<%= simple_form_for([:admin, @offer,@offer_rule], :remote => false) do |f| %>
    <% if !@offer_rule.errors.messages.blank? and @is_save == false %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= @offer_rule.errors.full_messages%></strong>
    </div>
        <%end%>
  <div class="well">
    <%= f.label :name %><br/>
    <%= f.text_field :name, :as => :string%>

    <%= f.label :description %><br/>
    <%= f.text_field :description, :as => :string%>
    <div id="min_max_amount">
      <%= f.label :min_amount %><br/>
      <%= f.text_field :min_amount %><br/>

      <%= f.label :max_amount %><br/>
      <%= f.text_field :max_amount %><br/>
    </div>
    <%= f.label :start_date %><br/>
    <%= f.text_field :start_date, :as => :string, :label => 'Valid From Date', :class => 'offer-x-datepicker', :readonly => true %>
    <br/>
    <%= f.label :end_date %><br/>
    <%= f.text_field :end_date, :as => :string, :label => 'Valid From Date', :class => 'offer-x-datepicker', :readonly => true %>
    <br/>
    <%#= @offer_rule.errors.messages %>
    <%#=debug @error_messages %>
        <%= f.select :rule_type, OfferRule::TYPE.to_a ,{},
                 :onChange=>"console.log('shit');
                 console.log($(this).next().find('input:last'));
                 if($(this).val() == 5){
                    $('#min_max_amount').hide();
                 }else{
                    $('#min_max_amount').show();
                 }
                 if($(this).val() == 1 || $(this).val() == 3 || $(this).val() == 5 || $(this).val() == 8){
$('.const').hide();
$('.mult').show();
$('#offer_rule_constant_value').val(0);
}
else{
$('.mult').hide();
$('.const').show();
$('#offer_rule_multiplier').val(0);
}

                 "%> <br/>
  <div class="const" style="display:<%= "none" %>">
    <%= f.label :constant_value %>    <br/>
    <%= f.text_field :constant_value %>    <br/>
  </div>
  <div class="mult">
    <%= f.label :multiplier %>    <br/>
    <%= f.input_field :multiplier, :as => :string, :required => true %>
    <br/><br/>
    <input class="x_slider-rule" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="50" data-slider-step="0.1" data-slider-value="<%= f.object.multiplier rescue 0%>"/>

</div>


    <%= f.input :day_of_week_converter, as: :check_boxes, collection:
            [['Sun', 0], ['Monday', 1], ["Tuesday", 2], ["Wednesday", 3],
             ["Thur", 4], ["Fri", 5], ["Sat", 6]],
                :checked => ( f.object.day_of_week_converter.map{|x| x.to_i unless x.blank?}.compact unless f.object.day_of_week_converter.blank? rescue nil) %>
    <br/>
    <%= f.label :time_start %>
    <br/>
    <%= f.input_field :time_start, :as => :string, :label => 'Time From', :class => 'offer-x-time-picker', :readonly => true %>
    <br/>
    <%= f.label :time_end %>
    <br/>
    <%= f.input_field :time_end, :as => :string, :label => 'Time END', :class => 'offer-x-time-picker', :readonly => true %>
    <br/>
    <%#= link_to "Link to general items", general_rule_items_admin_offer_offer_rule_path(@offer,f.object.id ), :target => '_blank'  rescue nil%><br/>
    <% if !@offer_rule.errors.messages.blank? and @is_save == false%>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong><%= @offer_rule.errors.full_messages%></strong>
        </div>
    <%end%>
    <i>For menu item based, you have to save the rule first</i><br/>
    <% if @offer_rule.new_record? %>
    <%= f.submit "Create", :class => "btn btn-primary" %>
        <% else %>
        <%= f.submit "Update", :class => "btn btn-primary" %>
        <% end %>
    </p>
    <%end%>
  <script>
      $(".offer-x-datepicker").datepicker({
          dateFormat:'yy-mm-dd'
      });

      $('.offer-x-time-picker').timepicker({
          ampm:true,
          timeFormat:'hh:mmTT',
          stepHour:0.5,
          stepMinute:1
      });
      $( document ).ready(function() {
          $("#offer_rule_rule_type").change();
          var slider = new Slider('.x_slider-rule[data-slider-id=ex1Slider]', {
              formatter: function(value) {
                  console.log('value',value);
                  console.log('obj', $(this));
                  return 'Current value: ' + value;
                  //$(this).prev().find('input:last').val(value);
              }
          });

          slider.on('slideStop', function (val) {
              // Set a flag to indicate slide not in progress
              $('#offer_rule_multiplier').val(val);
          });

          if($("#offer_rule_rule_type").val() == 1 || $("#offer_rule_rule_type").val() == 3 ||  $("#offer_rule_rule_type").val() == 5 ||  $("#offer_rule_rule_type").val() == 8){
              $('.const').hide();
              $('.mult').show();
              $('#offer_rule_constant_value').val(0);
          }
          else{
              $('.mult').hide();
              $('.const').show();
              $('#offer_rule_multiplier').val(0);
          }
      });



      function remove_fields(link) {
          $(link).prev("input[type=hidden]").val("1");
          $(link).closest(".well").hide();
      }

  </script>
