<td><%= general_item.id %></td>
<td><%= general_item.item_name %></td>
<td><%= general_item.description %></td>
<td><%= general_item.item_keywords %></td>
<td id="col_gi_<%= general_item.id %>">
  <%#= debug @general_item_ids.include?(general_item.id)%>
  <% if @general_item_ids.include?(general_item.id) %>
      <% if @offer_rule.is_subtotal_zero? %>
          <%= link_to "UNSet as Forgot Loyalty ITEM", set_type_admin_offer_offer_rule_path(@offer, @offer_rule, general_item, "Unset"), :class => "btn btn-small btn-primary", :confirm => 'you sure want to update it?' %>
      <% else %>
          <%= link_to "Remove", remove_general_rule_item_admin_offer_offer_rule_path(@offer, @offer_rule, general_item), :remote => true, :class => "btn", :onclick => "$('#col_gi_#{general_item.id}').html('removing ...')" %>
      <% end %>
  <% else %>
      <% if @offer_rule.is_subtotal_zero?  %>
          <%= link_to "Set Forgot Loyalty ITEM", set_type_admin_offer_offer_rule_path(@offer, @offer_rule, general_item, "Set"), :class => "btn btn-small btn-warning", :confirm => 'you sure want to update it?' %>
      <% else %>
          <%= link_to "Add", add_general_rule_item_admin_offer_offer_rule_path(@offer, @offer_rule, general_item), :remote => true, :class => "btn", :onclick => "$('#col_gi_#{general_item.id}').html('adding ...')" %>
      <% end %>

  <% end %>
</td>
<td>
  <!--<%# unless general_item.required.nil? %>-->
  <%#= general_item.required ? "Required" : "Optional" %> <br/>
  <!--<#% if general_item.required %>-->
  <!--<%#= link_to "Set as Optional", set_type_admin_reward_path(@reward, general_item, "optional"), :remote => true, :class => "btn btn-small btn-primary" %>-->
  <!--<%# else %>-->
  <!--<%#= link_to "Set as Required", set_type_admin_reward_path(@reward, general_item, "required"), :remote => true, :class => "btn btn-small btn-warning" %>-->
  <!--<%# end %>-->
  <!--<%# end %>-->
</td>