<table class="table">
  <thead>
  <tr>
    <th>Rule ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Rule TYPE</th>

    <th>Status ( active / deactive)</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% rules = @offer.offer_rules rescue nil %>
  <% unless rules.blank? %>
      <% rules.each_with_index do |rule,idx| %>
  <tr>
    <td><%= rule.id%>
    <td><%= rule.name %></td>
    <td><%= rule.description %></td>
    <td><%= OfferRule::TYPE.key(rule.rule_type) %></td>
    <td><%= link_to (rule.status == true ? "Active" : "Deactive"),
                    update_rule_status_admin_offer_offer_rule_path(@offer, rule.id),
                    :confirm => "Are you sure want to #{(rule.status == false ? "Activate" : "Deactivate")} This rule?",
                    :class => "btn btn-#{(rule.status == false ? "danger" : "success")}" %></td>
    <td>
      <%= link_to "Edit",edit_admin_offer_offer_rule_path(@offer.id,rule.id), :class => 'btn btn-primary' rescue nil%>
      <%= link_to "Destroy",admin_offer_offer_rule_path(@offer.id,rule.id), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger' rescue nil%>
      <% if rule.is_general_items? %>
      <%= link_to "general items", general_rule_items_admin_offer_offer_rule_path(@offer,rule.id ),:class => 'btn btn-info'  rescue nil%>
       <% end%>
    </td>
  </tr>
      <% end %>
  <% end %>

  </tbody>
</table>