<% if @is_save == false%>
$('.modal-body').html('<%= escape_javascript(render "form") %>');
<% else %>
// similar behavior as clicking on a link
//window.location.href = "admin/offers/";
location.reload();
<% end %>