<div class="page-header">
  <h1>Edit offer Rules</h1>
</div>
<%= javascript_include_tag "bootstrap-slider"%>
<div class="edit_offer_rule">
<%= render 'form' %>
</div>
<%= link_to "Back", edit_admin_offer_path(@offer) %>