<div class="page-header">
  <h1>New offer Rules for <%= @offer.name%></h1>
</div>
<%= javascript_include_tag "bootstrap-slider"%>
<%= render 'form' %>
<%= link_to "Back", edit_admin_offer_path(@offer) %>
