<% if @is_save == false%>
$('.edit_offer_rule').html('<%= escape_javascript(render "form") %>');
<% else %>
// similar behavior as clicking on a link
//window.location.href = "admin/offers/";
window.location.href = "/admin/offers/<%= @offer.id%>/edit"
<% end %>