<%= simple_form_for([:admin, @push_reward], :html => {:class => "form-horizontal", :multipart => true, :id => "push-reward-form"}) do |f| %>

    <%= render "shared/error_messages.html", :target => @push_reward %>
    <%= f.input :chain_id, :collection => Chain.active.order("name") %>
    <%= f.input :reward_id, :collection => (@rewards = @push_reward.chain.rewards.where("reward_type != ?",Reward::TYPES["REGULAR"]).active.unexpired rescue []), :input_html => {:id => "reward_select"} %>
    <%= hidden_field_tag "confirm", nil %>
    <div class="field" style="display: none">
      <%= f.input :all_user, :as => :boolean %>
    </div>
    <div class="control-group radio_buttons optional">
      <div class="controls">
        <% unless @push_reward.all_user %>
        <label class="radio">
          <input class="radio_buttons optional" id="push_point_push_type_upload" name="push_reward[push_type]" type="radio" value="1" <%= params[:push_reward] && params[:push_reward][:push_type].to_i.eql?(1) ? "checked" : ""%>>
          Upload XLS File
          <div class="span12">
            <%= f.file_field :xls %>
            <br /> <br />
          </div>
        </label>
        &nbsp;
        <label class="radio"><input class="radio_buttons optional" id="push_point_push_type_input" name="push_reward[push_type]" type="radio" value="2" <%= params[:push_reward] && params[:push_reward][:push_type].to_i.eql?(2) ? "checked" : ""%>>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Enter User ID (separated by commas)
          <div class="span12">
            <%= f.text_area :user_temp_ids, :rows => 6 %>
            <br /> <br />
          </div>
        </label>
        <% else %>
            &nbsp;
        <label class="radio"><input class="radio_buttons optional" id="push_reward_push_type_all_users" name="push_reward[push_type]" type="radio" value="3" <%= params[:push_reward] && params[:push_reward][:push_type].to_i.eql?(3) ? "checked" : ""%>>
          All Users
        </label>
        <% end %>
      </div>
    </div>
    Scheduler :
    <select class="pick-schdeule" name="scheduler">
      <option value="on">On</option>
      <option value="off">Off</option>
    </select><br/>
    <br/>
    <div class="schdeule-time">
      <% Time.use_zone(Setting.default_time_zone['zone']) do %>
      RUN AT :<%= f.datetime_select :executed_at, {}, :style => "width:80px;"%><%= select_tag "time_zone_default",options_for_select(["EST","EDT"]), :style => 'width:80px;'%><%#= Setting.default_time_zone['zone'] %>
          <% end%>
      <span id="edt_time" style="display:none;">UTC - 4 hour</span>
      <span id="est_time" style="display:none;">UTC - 5 hour</span>
    </div>
    <%= recaptcha_tags :public_key => ENV['RECAPTCHA_PUBLIC_KEY'] if params[:action] == "all_user" %>
    <div class="form-actions">
      <%= f.button :submit, :onclick => "$('#form-action').ajaxloader('show');$('#submit_but').hide();$('#calculate').show();", :id => "submit_but" %>
      <input type="submit" value="Calculating Duplicate Users"  name="commit" class="btn disabled" id="calculate" style="display:none;">
    </div>
<% end %>
<!--- confirmation for info duplicate content ---->
<% if @confirmation_box == true %>


    <div id="modal_popup_export" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <h3 id="myModalLabel">Push Reward Confirmation</h3>
      </div>
      <div class="modal-body">
        <p>
          Unique Users : <%= @uniq_count %> users.
        </p>
        <p>
          Duplicates Found :  <%= @duplicate_count %>.
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="window.location = '/admin/push_rewards/new'">Cancel</button>
        <button class="btn btn-primary" onclick="$('#push-reward-form').submit();">Continue</button>
      </div>
    </div>
    <div class="modal-backdrop fade in"></div>
    <% end %>


<script type="text/javascript">
    <% if @confirmation_box == true %>
    $('#confirm').val('true');
    <% end %>
    $("#push-reward-form").submit(function(e){
        if($('#push_reward_push_type_all_users').is(':checked') == true){
            if (!confirm("Are you sure wants to send to all users?")){
                e.preventDefault();
                return;
            }
        }else{
            return true;
        }


    });
    $('select.pick-schdeule').bind('change', function(){
        if($(this).val() == "on"){
            $('.schdeule-time').show();
        }else{
            $('.schdeule-time').hide();
        }
    });
    $( "#push_reward_user_temp_ids" ).bind("click", function(e) {
        e.preventDefault();

        $('#push_reward_user_temp_ids').focus()
        $('#push_point_push_type_input').attr('checked',true);
        return false;
    });
    $('#recaptcha_table').css('table-layout','auto');

    $('#time_zone_default').bind('change', function(){
        if($(this).val() == "EDT"){
            $('#edt_time').show();
            $('#est_time').hide();
        }else{
            $('#edt_time').hide();
            $('#est_time').show();
        }
    });


    if ($('#time_zone_default').val() == "EDT") {
        $('#edt_time').show();
        $('#est_time').hide();
    }else{
        $('#edt_time').hide();
        $('#est_time').show();
    }

</script>
<style>

    .table {
        table-layout: inherit !important;
    }
    .recaptchatable {
        line-height: 10px !important;
    }

</style>