<%= simple_form_for([:admin, @push_reward], :html => {:class => "form-horizontal", :multipart => true, :id => "push-reward-form"}) do |f| %>

    <%= render "shared/error_messages.html", :target => @push_reward %>
    <%= f.input :chain_id, :collection => Chain.active.order("name") %>
    <%= f.input :reward_id, :collection => (@rewards = @push_reward.chain.rewards.where("reward_type != ?",Reward::TYPES["REGULAR"]).active.unexpired rescue []), :input_html => {:id => "reward_select"} %>

    <div class="control-group select required" id="link_reward" style="display:;margin-left:10%;">
        <%= link_to "add reward", push_reward_new_admin_push_rewards_path, :class => 'btn nyroModal',:rev => 'modal' %>
        <%= link_to "Edit selected reward", push_reward_new_admin_push_rewards_path, :class => 'btn nyroModal',:rev => 'modal', :style => 'display: ;',

    :id => 'edit_selected_reward',:onclick => "var x=$('#reward_select').val();$('#edit_selected_reward').attr('href','/admin/push_rewards/push_reward_new?reward_id='+x);" %>
    </div>
    <%= hidden_field_tag("from_push_reward", true) %>
    <div class="control-group radio_buttons optional">
      <div class="controls">
        <label class="radio">
          <input class="radio_buttons optional" id="push_point_push_type_upload" name="push_reward[push_type]" type="radio" value="1" <%= params[:push_reward] && params[:push_reward][:push_type].to_i.eql?(1) ? "checked" : ""%>>
          Upload XLS File
          <div class="span12">
            <%= f.file_field :xls %>
            <br /> <br />
          </div>
        </label>
        &nbsp;
        <label class="radio"><input class="radio_buttons optional" id="push_point_push_type_input" name="push_reward[push_type]" type="radio" value="2" <%= params[:push_reward] && params[:push_reward][:push_type].to_i.eql?(2) ? "checked" : ""%>>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Enter User ID (separated by commas)
          <div class="span12">
            <%= f.text_area :user_temp_ids, :rows => 6 %>
            <br /> <br />
          </div>
        </label>
        <% if current_admin.role == "admin" %>
            &nbsp;
            <label class="radio"><input class="radio_buttons optional" id="push_reward_push_type_all_users" name="push_reward[push_type]" type="radio" value="3" <%= params[:push_reward] && params[:push_reward][:push_type].to_i.eql?(3) ? "checked" : ""%>>
              All Users
            </label>
        <% end %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, :onclick => "$('#nyroModalWrapperr').ajaxloader('show')" %>
    </div>
<% end %>


<script type="text/javascript">
    $("#push-reward-form").submit(function(e){
        if($('#push_reward_push_type_all_users').is(':checked') == true){
            if (!confirm("Are you sure wants to send to all users?")){
                e.preventDefault();
                return;
            }
        }else{
            return true;
        }


    });
    $( "#push_reward_user_temp_ids" ).bind("click", function(e) {
        e.preventDefault();

        $('#push_reward_user_temp_ids').focus()
        $('#push_point_push_type_input').attr('checked',true);
        return false;
    });

</script>