<table class="table">
  <tr>
    <th>Chain</th>
    <th>Reward</th>
    <th>Status</th>
    <th>Created By</th>
    <th>Scheduled At</th>
    <th></th>
  </tr>

  <% @push_rewards.each do |push_reward| %>
      <% dj = DelayedJob.where(:delayable_type => push_reward.class.to_s, :delayable_id => push_reward.id).first %>
      <tr>
        <td><%= push_reward.chain.name rescue nil %></td>
        <td><%= "[#{push_reward.reward.id}] #{push_reward.reward.name}" if push_reward.reward %></td>
        <td>
          <% if dj.blank? %>
              Executed
              <div class="btn-group">
                <button class="btn btn-success btn-success">Summary</button>
                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li> <%= link_to "Success(#{push_reward.success_log_entries_count rescue 0})", summary_success_admin_push_reward_path(push_reward) %></li>
                  <li> <%= link_to "Failed(#{push_reward.error_log_entries_count rescue 0})", summary_failed_admin_push_reward_path(push_reward) %></li>
                </ul>
              </div>
          <% elsif dj.last_error.blank? %>
              <% if push_reward.executed_at.blank? %>
                  <button class="btn btn-info btn-info">On Progress</button>
              <% else %>
                  <button class="btn btn-warning btn-warning">Scheduled</button>
              <% end %>
          <% else %>
              Found error on the job
              <div class="btn-group">
                <button class="btn btn-success">Summary</button>
                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li> <%= link_to "Success(#{push_reward.success_log_entries_count rescue 0})", summary_success_admin_push_reward_path(push_reward) %></li>
                  <li> <%= link_to "Failed(#{push_reward.error_log_entries_count rescue 0})", summary_failed_admin_push_reward_path(push_reward) %></li>
                </ul>
              </div>
          <% end %>
        </td>
        <td><%= push_reward.admin.email rescue nil %></td>
        <% if push_reward.executed_at.blank? %>
            <td>
              <%= date_helper_timezone(push_reward.created_at) %>
            </td>
        <% else %>
            <td><%= date_helper_timezone(push_reward.executed_at) %>
            </td>
        <% end %>
        <td>
          <%= link_to 'Show', admin_push_reward_path(push_reward), :class => "btn btn-primary" %>
          <%= link_to 'Destroy', admin_push_reward_path(push_reward), confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
        </td>
      </tr>
  <% end %>
</table>
<%= will_paginate @push_rewards %>
<span id="page-loader" style="display:none;"><%= image_tag "loader.gif" %></span>

<script>
  $('.pagination a').attr('data-remote', 'true').click(function() {
    $('.pagination').html($('#page-loader').show());
    $('#push_rewards').ajaxloader('show');
  });
</script>