<script type="text/javascript">
  $(document).ready(function () {
      $('#search_btn').click(function () {
          $('#reward_id').val($('#search_text_by_id').val());
          $('#reward_name').val($('#search_text').val());
          $('#page').val(1);
          $('#loader').show();
          $('#sub').click();
      });

      $('#search_text, #search_text_by_id').keypress(function (e) {
          if (e.which == 13) {
              $('#search_btn').click();
          }
      });
  });
</script>

<div class="page-header">
  <h3>Push Rewards</h3>
</div>

<div class="controls">
  <%= select_tag 'chain_restaurants', options_from_collection_for_select(Chain.active.order("name"), :id, :name), :prompt => "Please select chain",
                 :onchange => "$('#chn_id').val(this.value);$('#page').val(1);$('#search_text_hidden').val($('#search_text').val());$('#loader').show();$('#sub').click();" %>
  <%= search_field_tag "search_text_by_id", "", placeholder: "Search rewards by ID" %>
  <%= search_field_tag "search_text", "", placeholder: "Search rewards by name" %>
  <%= button_tag "Search", :id => "search_btn", :style => "width: 65px; height: 30px; margin-bottom: 8px;" %>
  <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
</div>


<div id="push_rewards">
  <%= render 'push_rewards_list' %>
</div>
<br />

<%= link_to 'New Push Reward', new_admin_push_reward_path, :class => "btn btn-primary"%>
<%= link_to 'New Push Reward All User', all_user_admin_push_rewards_path, :class => "btn btn-primary" if current_admin.role != "customer support"%>


<%= form_tag filter_push_rewards_admin_push_rewards_path, :id => "form", :class => 'form-horizontal', :method => :get, :style => "display:none;", :remote => true do %>
    <%= hidden_field_tag "chn_id" %>
    <%= hidden_field_tag "reward_name" %>
    <%= hidden_field_tag "reward_id" %>
    <%= hidden_field_tag "qry_order" %>
    <%= hidden_field_tag "page" %>
    <%= submit_tag "submit", :id => "sub" %>
<% end %>
