<div class="page-header">
  <h3>New Push Reward</h3>
</div>

<div id="form-action">
  <%= render 'form' %>
</div>

<script type="text/javascript">
      $('#push_reward_chain_id').change(function(){
          $('#form-action').ajaxloader('show');
          if(this.value){
              options = '';
              $.getJSON('/admin/rewards/' + this.value + '/load_user_list.json', function(response) {
                  $.each(response, function(i, obj) {
                    options += '<option value="' + obj.id + '">[' + obj.id + '] ' + obj.name + '</option>';
                  });
                  $("#reward_select").html(options);
              });
          }else{
              $('#reward_select').html("<option value=''></option>")
          }
          $('#form-action').ajaxloader('hide');
      });
</script>

<%= link_to 'Back', admin_push_rewards_path %>