<script type="text/javascript">
    $(document).ready(function () {
        $('.x-datepicker').datepicker({
            dateFormat:'yy-mm-dd'
        });
        $('#reward_chain_id').val($('#push_reward_chain_id').val());
    });
</script>

<div class="modal-header">Push Reward Form</div>
<hr/>
<% if @reward.class == Reward %>
    <div style="margin-left:40px;">
      <div id="error_messages"></div>
      <%= simple_form_for([:admin, @reward], :remote => true) do |f| %>
          <div class="field">
            <%= hidden_field_tag "reward[chain_id]", nil %>
            <%= hidden_field_tag "from_push_reward", true %>
          </div>
          <div class="field">
            Reward Title *
            <div id="name_error"></div>
            <%= f.text_field :name, :onclick => "$('.x-datepicker').datepicker({dateFormat: 'yy-mm-dd'});".html_safe %>
          </div>
          <div class="field">
            Reward Types
            <div id="name_error"></div>
            <%= hidden_field_tag "reward[reward_type]", Reward::TYPES["PUSH_REWARD"] %>
          </div>


          <div id="date_selection">
            <div class="field">
              Valid From date
              <div id="effectiveDate_error"></div>
              <%= f.text_field :effectiveDate, :value => @reward.effectiveDate.try(:strftime, '%Y-%m-%d'), :class => 'x-datepicker', :onclick => "$('.x-datepicker').datepicker({dateFormat: 'yy-mm-dd'});".html_safe %>
            </div>
            <div class="field">
              <div id="expiryDate_error"></div>
              Valid to Date
              <%= f.text_field :expiryDate, :value => @reward.expiryDate.try(:strftime, '%Y-%m-%d'), :class => 'x-datepicker', :onclick => "$('.x-datepicker').datepicker({dateFormat: 'yy-mm-dd'});".html_safe %>
            </div>
          </div>
          <div class="field">
            Reward Points
            <div id="points_error"></div>
            <%= f.text_field :points %>
          </div>
          <div class="field">
            <%= f.label :POSCode, "POS Code" %>
            <div id="POSCode_error"></div>
            <%= f.text_field :POSCode %>
          </div>

          <div class="field">
            Reward Fine Print
            <div id="fineprint_error"></div>
            <%= f.text_area :fineprint, :size => "30x5" %>
          </div>
          <div id="notification_area"></div>
          <div id="restaurant_area"></div>
          <div id="event_area"></div>
          <div class="actions">
            <% if @reward.new_record? %>
                <%= f.submit "Create Reward", :id => "sub_button", :onclick => "$('#sub_button').attr('value','Loading...');" %>
                |
            <% else %>
                <%= f.submit "Update Reward", :id => "sub_button", :onclick => "$('#sub_button').attr('value','Loading...');" %>
                |
            <% end %>
            <%= link_to "Cancel", "#", :class => 'nyroModalClose' %>
          </div>
      <% end %>
    </div>
<% else %>

    You havent select the reward
    <%= link_to "Close", "#", :class => 'btn nyroModalClose' %>
<% end %>