<p>
  <b>Chain:</b>
  <%= @push_reward.chain_id %>
</p>

<p>
  <b>Points:</b>
  <%= @push_reward.reward.name rescue '-' %>
</p>

<p>
  <b>User ids:</b>
  <% @user_ids.each do |uid| %>
      <%= uid %><br/>
  <% end %>
  <%= will_paginate @user_ids %>
</p>

<%= link_to 'Back', admin_push_rewards_path %>