<div class="page-header">
  <h3>Summary Success</h3>
</div>
<%= form_tag summary_success_admin_push_reward_path, :method => :get do %>
  <label>Search</label>
  <% user_id = params[:key] if params[:search_type].to_s == "user_id" %>
  <%= select_tag :search_type, options_for_select([["User ID", "user_id"]], params[:search_type])%>
  <%= text_field_tag :key, user_id %>
  <%= submit_tag "Search" %>
<% end %>

<%= form_tag summary_success_admin_push_reward_path, :method => :get do %>
    <% device_search = params[:key] if params[:search_type].to_s != "user_id" %>
    <label>Search By Notification</label>
    <%= select_tag :search_type, options_for_select([
                                                            ["Device Notification", "notification"],
                                                            ["Email Notification", "email"]
                                                    ], params[:search_type])%>
    <%= select_tag :key, options_for_select([
                                                    ["Success", "Success"],
                                                    ["Failed", "Failed"]
                                            ], device_search)%>

    <%= submit_tag "Search" %>
<% end %>
<table>
  <tr>
    <td>User ID</td>
    <td>Device Notification</td>
    <td>Email</td>
    <td>Reward</td>
    <td>Created at</td>
  </tr>
  <% @logs.each do |log| %>
      <tr>
        <td><%= log[:user_id] %></td>
        <td><%= log[:notification] %></td>
        <td><%= log[:email] %></td>
        <td><%= log[:reward] %></td>
        <td><%= log[:created_at] rescue "-"%></td>
      </tr>
  <% end %>
  <tfoot>
  <tr>
    <td colspan="5" style="text-align: center">
      <%= will_paginate @logs %>
    </td>
  </tr>
  </tfoot>
</table>

<%= link_to "Back", admin_push_rewards_path, :class => "btn btn-primary" %>
<%= link_to "Export to csv", request.parameters.merge({:format => :csv}), :confirm => "Are You sure ?", :class => "btn" %>