    <% if @owner.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

        <ul>
          <% @owner.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <% ids=@owner.chains.map(&:id); %>
      <%= f.label :restaurants %>   <br/>
      <%= select_tag('restaurants', options_from_collection_for_select(Restaurant.where("chain_id in (?)", current_owner.chains.map(&:id)), :id, :dashboard_display_text, :selected => ids), options ={:multiple => true, :class=>'multiselect'}) %>
      <%= hidden_field_tag('ids', ids) %>
    </div>

    <div class="field">
      <%= f.label :first_name %>
      <br/>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <br/>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <br/>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <br/>
      <%= f.text_field :address %>
    </div>

    <div id="pwd" class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div id="pwd" class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="field">
      <%= f.label :city %>
      <br/>
      <%= text_field_tag :owner_city_text, @owner.try(:city).try(:label) %>
      <%= f.hidden_field :city_id %>
    </div>

    <div class="field">
      <%= f.label :zipcode %>
      <br/>
      <%= f.text_field :zipcode %>
    </div>

    <div class="field">
      <%= f.label :work_contact_number %>
      <br/>
      <%= f.text_field :work_contact_number %>
    </div>


    <div><%= f.label :cell_contact_number %>
      <br/>
    <%= f.text_field :cell_contact_number %></div>
    <% if current_owner %>

    <% end %>
    <div><%= f.submit "Submit" %></div>
