<% content_for :top_menu do %>
  <%= render "owner/greetings/top_menu" %>
<% end %>
<section class="container">
  <section class="contentwraper">
<table id="myTable" cellspacing="1" class="table table-striped table-bordered tblstyle tablesorter fntstyle" style="table-layout:fixed;">
 
  <thead>
    <tr>
      <th class="tblheader ">Owner Id</th>
      <th class="tblheader ">Restaurant / 's</th>
      <th class="tblheader ">Owner Name</th>
      <th class="tblheader ">Email</th>
      <th class="tblheader ">Work Contact Number</th>
      <th class="tblheader ">Actions</th>
    </tr>
  </thead>
  <tbody>

    <% @owner_users.each do |owner| %>
      <tr>
        <td><%= owner.id %></td>
        <td><%= owner.restaurants.map(&:dashboard_display_text).join(', ')%></td>
        <td><%= owner.full_name %></td>
        <td><%= owner.email %></td>
        <td><%= owner.work_contact_number %>&nbsp;</td>
        <td><%= link_to 'Show', owner_owner_user_path(owner) %> |
          <%= link_to 'Edit', edit_owner_owner_user_path(owner) %> |
          <%= link_to 'Destroy', owner_owner_user_path(owner), confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @owners %> <br/>
<%= link_to 'New Restaurants Owner', new_owner_owner_user_path %>

</section>   </section>   
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


