<% content_for :top_menu do %>
  <%= render "owner/greetings/top_menu" %>
<% end %>
<section class="container">
  <section class="contentwraper">
    <section class="spaceleftwrap mgn2">
      <h1>New Restaurant Owner</h1>

      <%= simple_form_for(@owner, :url => owner_owner_users_path) do |f| %>
        <%= render :partial => 'form', :locals => {:f => f}%>
      <% end %>
    </section>
  </section>
</section>
<script>
  $(".multiselect").multiselect({
    selectedText: "# of # selected"
  });
</script>