<% content_for :top_menu do %>
  <%= render "owner/greetings/top_menu" %>
<% end %>
<p id="notice"><%= notice %></p>

Chain Name:
<% if !@owner.chains.blank? %>
  <%=@owner.chains.map(&:name)%>
<% end %><br />
First Name: <%= @owner.first_name %> <br/>
Last Name: <%= @owner.last_name %> <br/>
Email: <%= @owner.email %> <br/>
Address: <%= @owner.address %> <br/>
City: <%= @owner.try(:city).try(:label) %> <br/>
<br/>
Zipcode: <%= @owner.zipcode %> <br/>
Work Contact Number: <%= @owner.work_contact_number %> <br/>
Cell Contact Number: <%= @owner.cell_contact_number %> <br/>

<%= link_to 'Edit', edit_admin_owner_path(@owner) %> |
<%= link_to 'Back', admin_owners_path %>
