<%= javascript_include_tag "ckeditor/init" %>

<div class="page-header">
  <h4>Setting <%= @notification.chain.name %>'s <%= @notification.name %> </h4>
</div>
<div class="basic-modal-content">
 <% if @notification.chain.locales.blank? %>
  <%= link_to "Please set chain locales", edit_admin_chain_path(@notification.chain), :class => "btn" %>
 <% else %>
  <%= simple_form_for([:admin, @setting], :url => admin_chain_notification_setting_path(@notification.chain, @notification)) do |f| %>
        <%= render "notification_setting_input" %>
        <%= f.simple_fields_for @notification.name_key_nested.to_sym do |ppn| %>
          <% if  ppn.object.template_name.eql?(@notification.email_template) %>
            <div class="span12">
            <hr/>
            <h4><b>Notification <%= ppn.object.locale.name %></b></h4>
            <br/>
            <br/>
            <%= ppn.input :template_name, as: :hidden  %>
            <%= ppn.input :chain_id, :as => :hidden %>
            <%= ppn.input :locale_id, :as => :hidden %>
            <%= ppn.input :mail_subject, :label => "Email Subject", :input_html => {:id => "#{ppn.object.locale.key}_email_subject", :style => "margin-left:10px;width:250px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
            <%= ppn.input :mail_content_html, :as => :ckeditor, :input_html => { :toolbar => 'Easy' } %>
            <%= ppn.input :mail_content_text, :input_html => {:rows => 15, :style => "width:99%;"} %>
            </div>
          <% end %>
        <% end %>
        <%= f.submit "Update", :class => "btn btn-primary" %>
        <%= link_to "Back", admin_chain_notification_settings_path(@notification.chain), :class => "btn" %>
      <%= link_to "Fishbowl API Setting", new_fishbowl_setting_admin_chain_path(@notification.chain), :class => "btn btn-api-fb" %>
    <% end %>
  <% end %>
</div>
