<div class="control-group string required">
  <label class="string required control-label" for="notification_setting_send_type">
    <abbr title="required">*</abbr> Template name or template ID</label>
  <div class="controls">
    <%= text_field_tag "notification_setting[custom_email_template]", @notification.name, disabled: @notification.send_type.eql?(1) %>
  </div>
</div>

<div class="control-group string required">
  <label class="string required control-label" for="notification_setting_send_type">
    <abbr title="required">*</abbr> Send Type</label>
  <div class="controls">
    <%= select_tag "notification_setting[send_type]", options_for_select(NotificationSetting::TYPES.map{|type| [type[0], type[1]]}, @notification.send_type) %>
  </div>
</div>

<div id="boxEmailSubject" class="hide">
  <label class="string required control-label" for="notification_setting_send_type">Email Subject</label>
  <div class="controls">
    <%= text_field_tag "notification_setting[email_subject]",( @notification.email_subject rescue nil), class: "form-control", style: "width: 50%" %>
  </div>
</div>

<div id="boxApiKey" class="control-group string">
  <label class="string required control-label" for="notification_setting_apikey">
    <abbr title="required"></abbr> Apikey</label>
  <div class="controls">
    <%= text_field_tag "notification_setting[apikey]", @notification.apikey, class: "string required", style: "width: 50%" %>
  </div>
</div>

<div id="boxPrivateKey" class="control-group string">
  <label class="string control-label" for="notification_setting_account_id">
    Private Key</label>
  <div class="controls">
    <%= text_field_tag "notification_setting[private_key]", @notification.private_key, class: "string", style: "width: 50%" %>
  </div>
</div>

<div id="boxAccountId" class="control-group string">
  <label class="string control-label" for="notification_setting_account_id">
    Account ID</label>
  <div class="controls">
    <%= text_field_tag "notification_setting[account_id]", @notification.account_id, class: "string", style: "width: 50%" %>
  </div>
</div>
