<%= javascript_include_tag "ckeditor/init" %>

<div class="page-header">
  <h2><%= @notification.name %> for chain : <%= @notification.chain.name %></h2>
</div>
<%= simple_form_for([:admin, @setting], :url => admin_chain_notification_setting_path(@notification.chain, @notification)) do |f| %>
<% if @notification.chain.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@notification.chain.errors.count, "error") %> prohibited this chain from being saved:</h2>

  <ul>
    <%  @setting.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<fieldset>
  <br />
  <legend><i>Send Notification to</i></legend>
  <% if @notification.notifiable_type.eql?("NotificationLocale")%>
  Email : <%= f.check_box "is_push_to_email", :checked => @setting.is_push_to_email %>
  Phone : <%= f.check_box "is_push_to_phone", :checked => @setting.is_push_to_phone %>
  <% else %>
  Email : <%= f.check_box "is_send_push_point_notif_to_email", :checked => @setting.is_send_push_point_notif_to_email %>
  Phone : <%= f.check_box "is_send_push_point_notif_to_phone", :checked => @setting.is_send_push_point_notif_to_phone %>
  <% end %>
</fieldset>
<br />
<fieldset>
  <legend><i>Email And Push Notification</i></legend>
  <br />
  <b>
    <i>Add %{chain_name} to include chain name in your notification.</i> <br />
    <i>Add %{point_added} to add the point added to user account</i><br />
    <i>Add %{receipt_id_link} to renders receipt id hyperlinked to receipt image url</i><br /><br />
    <i class="alert">if You add the %{receipt_id_link} please follow this rule.
      add '__' and '__' without quote, to your sentences .</i>
      <br /><br /><br /> <i class="alert"> in example : '__ this is the receipt image link %{receipt_id_link} __'
      because there are some push notification that doesnt have the receipt id link
    </i><br />
  </b>
  <br />

    <%= render "notification_setting_input" %>

      <br />
      <%= f.simple_fields_for @notification.name_key_nested.to_sym do |ppn| %>
      <div class="span12">
        <h4><b>Notification <%= ppn.object.locale.name %></b></h4>

        <%= ppn.input :email_subject, :label => "Email Subject", :input_html => {:id => "#{ppn.object.locale.key}_email_subject", :style => "margin-left:10px;width:250px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
        <%= ppn.input :email_content_html, :as => :ckeditor, :label => "Email HTML Content", :input_html => { :toolbar => 'Easy', :rows => 3, :cols => 20, :value => ppn.object.email_content_html, :style => "width:600px"} %>
        <%= ppn.input :email_content, :as => :text, :label => "Email Content", :input_html => {:rows => 5, :cols => 20, :id => "#{ppn.object.locale.key}_email_content", :style => "margin-left:10px;width:750px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
        <%= ppn.input :notification, :as => :string, :label => "Push Notification Content", :input_html => {:id => "#{ppn.object.locale.key}_notification", :style => "margin-left:10px;width:250px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
        <%= ppn.input :locale_id, :as => :hidden %>
      </div>
      <% end %>
    </fieldset>
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_chain_notification_settings_path(@notification.chain), :class => "btn" %>

    <% end %>
