<div class="page-header">
  <h4>Setting <%= @notification.chain.name %>'s <%= @notification.name %> </h4>
</div>
<%if !@chain.restaurants.blank? %>
  <% if @definition.id.nil? %>
    <%= form_for @definition, :url => create_we_miss_admin_chain_notification_setting_path(@chain, @notification) do |f| %>
        <%= render "shared/error_messages.html", :target => @definition %>
        <%= render :partial => 'form_we_miss', :locals => {:f => f} %>
        <br/>
         <%= f.submit "Update", :class => "btn btn-primary" %>
        <%= link_to "Back", admin_chain_notification_settings_path(@notification.chain), :class => "btn" %>
    <% end %>
  <% else %>
      <%= form_for @definition, :url => update_we_miss_admin_chain_notification_setting_path(@chain, @notification, @definition), :method => :put do |f| %>
          <%= render "shared/error_messages.html", :target => @definition %>
          <%= render "notification_setting_input" %>
          <%= render :partial => 'form_we_miss', :locals => {:f => f} %>
          <br/>
          <%= submit_tag "submit" %>
          <%= link_to "Back", admin_chain_task_definitions_path(@chain), :class => 'btn' %>
      <% end %>
  <% end %>
  <% else %>
    <%= link_to "Please add restaurant  first", new_admin_restaurant_path, :class => 'btn' %>
<% end %>

