<% begin %>
  <div id="containerForm">
    <%= render "#{@notification.notifiable_type.underscore}" %>
  </div>
<%# rescue %>
  <%#= link_to "Back", admin_chain_notification_settings_path(@notification.chain), :class => "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    <% if @miss_you == true%>
    $('#notification_setting_send_type').val('5');
    $('#notification_setting_send_type').attr('readonly','true');
    $('#notification_setting_send_type').hide();
    <% end %>
    var type = $("#notification_setting_send_type").val()
    if(type == 1){
      $(".btn-api-fb").hide();
      $("#boxApiKey").hide();
      $("#boxEmailSubject").hide();
      $("#boxPrivateKey").hide();
      $("#boxAccountId").hide();
      $("#containerForm .span12").show();
    }else if(type == 2 || type == 3){
      $(".btn-api-fb").hide();
      $("#boxApiKey").hide();
      $("#containerForm .span12").hide();
      $("#boxEmailSubject").hide();
      $("#boxPrivateKey").hide();
      $("#boxAccountId").hide();
      $("#boxApiKey").hide();
      if(type == 2){$("#boxApiKey").show();}
      if(type == 3){$(".btn-api-fb").show();}
    }else{
      if(type == 4 || type == 5){
        $(".btn-api-fb").hide();
        $("#boxEmailSubject").show();
        if(type == 5){
          $("#boxPrivateKey").show();
          $("#boxAccountId").show();
        }else{
          $("#boxPrivateKey").hide();
          $("#boxAccountId").hide();
        }
      }else{
        $("#boxEmailSubject").hide();
      }
      $("#containerForm .span12").hide();
    }
  });

  $("#notification_setting_send_type").bind("change", function(){
    $("#notification_setting_custom_email_template").attr('disabled', 'disabled');
    $(".btn-api-fb").hide();
    if($(this).val() != "1"){
      $("#notification_setting_custom_email_template").removeAttr('disabled');
      if($(this).val() == 2 || $(this).val() == 3){
        $("#boxApiKey").hide();
        $("#containerForm .span12").hide();
        $("#boxEmailSubject").hide();
        $("#boxPrivateKey").hide();
        $("#boxAccountId").hide();
        $("#boxApiKey").hide();
        if($(this).val() == 2){$("#boxApiKey").show()}
        if($(this).val() == 3){$(".btn-api-fb").show()}
      }else if($(this).val() == 4 || $(this).val() == 5){
        $("#boxEmailSubject").show();
        if($(this).val() == 5){
          $("#boxPrivateKey").show();
          $("#boxAccountId").show();
        }else{
          $("#boxPrivateKey").hide();
          $("#boxAccountId").hide();
        }
      }else{
        $("#boxEmailSubject").hide();
        $("#boxPrivateKey").hide();
        $("#boxAccountId").hide();
      }
      $("#containerForm .span12").hide();
    }else{
      $("#containerForm .span12").show();
      $("#boxEmailSubject").hide();
      $("#boxPrivateKey").hide();
      $("#boxAccountId").hide();
      $("#boxApiKey").hide();
    }
  });
</script>
