<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1>Setting Notifications : <%= @chain.name%> </h1>
</div>
<table>
  <thead>
    <tr>
      <th></th>
      <th style="width: 120px">Type Send Email</th>
      <th>Message</th>
      <th style="width: 190px">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @chain.notification_settings.each do |notification| %>
    <tr>
      <td><b><%= notification.name %></b></td>
      <td><b><%= notification.type_send_email %></b></td>
      <td>
        <%= truncate((notification.notifiable.email_content_html rescue "-"),  :length => 100, :separator => ' ')%>
      </td>

      <td width="140">
        <%= link_to "Edit", edit_admin_chain_notification_setting_path(@chain, notification), :class => "btn btn-success btn-sm"   %>
        <%= link_to "Fishbowl API Setting", new_fishbowl_setting_admin_chain_path(chain), :class => "btn btn-sm" if notification.type_send_email == "Fishbowl" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $("#notice").text('')
</script>
