<%= simple_form_for [:admin, @stream_gallery_image], :url => update_xml_embed_admin_stream_gallery_path(@stream_gallery_image), :html => {:class => "form-horizontal", :remote => true} do |f| %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal" onclick="$('#stream_gallery_modal').html('');">&times;</a>
    <h3>Update Add XML Feed </h3>
  </div>
  <div class="modal-body">
    <%= f.input :feed_link, :as => :string %>
    <%= f.input :input_source, :as => :hidden %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
    <a class="btn btn-primary" data-dismiss="modal" onclick="$('#stream_gallery_modal').html('');">Back</a>
  </div>
<% end %>

