<% if @chain %>
  <div class="page-header">
    <h2>Embed Galleries <%= @chain.name %> <%= link_to "NEW", "#stream_gallery_modal", :onclick => "#{initialize_modal('stream_gallery_modal',new_admin_stream_gallery_path(:chain_id => @chain.id, :format => :js))}", "data-toggle" => "modal", :class => "btn btn-primary" if @stream_gallery.blank? %></h2>
  </div>
  <div id="data-container">
    <table>
      <thead>
      <tr>
        <th>Stream Title</th>
        <th>Stream Description</th>
        <th>Animation Style</th>
        <th>Transition Duration</th>
        <th>Display Duration</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% if @stream_gallery %>
        <tr>
          <td><%= @stream_gallery.title %></td>
          <td><%= @stream_gallery.description %></td>
          <td><%= StreamGallery::ANIMATION_TYPE.invert[@stream_gallery.animation_style] %></td>
          <td><%= @stream_gallery.transition_duration %></td>
          <td><%= @stream_gallery.display_duration %></td>
          <td>
            <%= link_to "EDIT", "#stream_gallery_modal", :onclick => "#{initialize_modal('stream_gallery_modal',edit_admin_stream_gallery_path(@stream_gallery, :format => :js))}", "data-toggle" => "modal" %> /
            <%= link_to "DELETE", admin_stream_gallery_path(@stream_gallery), :method => :delete, :confirm => "Are you sure", :remote => true  %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <% if @stream_gallery %>
      <br /><br /><br />
      <div style="float: left;background-color: #0099CC; width: 15%;text-align: center;font-size: 100%; color: white;">
        XML FEED LINK
      </div>
      <a href="#stream_gallery_modal" data-toggle="modal" style="cursor: pointer" onclick="<%= initialize_modal('stream_gallery_modal', add_xml_feed_link_admin_stream_gallery_path(@stream_gallery, :format => :js)) %>">
        <div style="margin-left:0.2%; float: left; width: 5%;text-align: center;font-size: 200%; color: green;">
          +
        </div>
      </a>

      <table>
        <thead>
        <tr>
          <th>Feed Link</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% @stream_gallery.xml_embeds.each do |xml_embed|%>
          <tr>
            <td><%= xml_embed.feed_link %></td>
            <td>
              <%= link_to "EDIT", "#stream_gallery_modal", :onclick => "#{initialize_modal('stream_gallery_modal',edit_xml_embed_admin_stream_gallery_path(xml_embed, :format => :js))}", "data-toggle" => "modal" %> /
              <%= link_to "DELETE", remove_xml_embed_admin_stream_gallery_path(xml_embed), :confirm => "Are you sure", :remote => true  %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>



      <div style="clear: both;margin-top: 50px;"></div>

      <div style="float: left;background-color: #0099CC; width: 15%;text-align: center;font-size: 100%; color: white;">
        IMAGE UPLOAD
      </div>
      <a href="#stream_gallery_modal" data-toggle="modal"  style="cursor: pointer" onclick="<%= initialize_modal('stream_gallery_modal', add_image_upload_admin_stream_gallery_path(@stream_gallery, :format => :js)) %>">
        <div style="margin-left:0.2%; float: left; width: 5%;text-align: center;font-size: 200%; color: green;">
          +
        </div>
      </a>

      <table>
        <thead>
        <tr>
          <th>Image Thumb</th>
          <th>Hyperlink</th>
          <th>Title</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% @stream_gallery.image_embeds.each do |image_embed|%>
          <tr>
            <td><%= image_tag image_embed.embed.url(:thumb) %> </td>
            <td><%= image_embed.hyperlink %></td>
            <td><%= image_embed.title %></td>
            <td><%= image_embed.description %></td>
            <td>
              <%= link_to "EDIT", "#stream_gallery_modal", :onclick => "#{initialize_modal('stream_gallery_modal',edit_image_upload_admin_stream_gallery_path(image_embed, :format => :js))}", "data-toggle" => "modal" %> /
              <%= link_to "DELETE", remove_image_upload_admin_stream_gallery_path(image_embed), :confirm => "Are you sure", :remote => true  %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div style="clear: both"></div>
    <% end %>
  </div>
<% else %>
  <b>Please select chain</b>
<% end %>