<div class="nested-fields">
  <div class="field span4 ">
    <%= f.input :url, :as => :string %>
  </div>
  <div class="pull span3">
    <%= link_to_remove_association "X", f, :class => "btn btn-danger" %>
  </div>
  <div class="clearfix"></div>
  <hr />
</div>