<%= simple_form_for [:admin, @stream_gallery_image], :url => create_xml_feed_link_admin_stream_gallery_path(@stream_gallery), :html => {:class => "form-horizontal", :remote => true} do |f| %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal" onclick="$('#stream_gallery_modal').html('');">&times;</a>
    <h3>Create New Add XML Feed </h3>
  </div>
  <div class="modal-body">
    <% if @stream_gallery_image.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@stream_gallery_image.errors.count, "error") %> prohibited this chain from being saved:</h2>

        <ul>
          <% @stream_gallery_image.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.input :feed_link, :as => :string %>
    </div>
    <div class="field">
      <%= f.input :input_source, :as => :hidden %>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
    <a class="btn btn-primary" data-dismiss="modal" onclick="$('#stream_gallery_modal').html('');">Back</a>
  </div>
<% end %>

