<%= simple_form_for [:admin, @stream_gallery_image], :url => create_image_upload_admin_stream_gallery_path(@stream_gallery), :html => {:multipart => true, :class => "form-horizontal", :id => "uploadForm", :target => "uploadTrg"} do |f| %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal" onclick="$('#stream_gallery_modal').html('');">&times;</a>
    <h3>Upload Image Feed </h3>
  </div>
  <div id="error_explanation" style="display: none">
    <div class="alert-error">Some errors were found, please take a look:</div>
    <div class="alert-error" id="error_count"></div>
    <ul id="error_detail">
    </ul>
  </div>
  <div class="modal-body">
    <%= f.input :title, :as => :string %>
    <%= f.input :hyperlink, :as => :string %>
    <%= f.input :description, :input_html => {:rows => 5} %>
    <%= f.input :input_source, :as => :hidden %>
    <%= f.input :embed, :as => :file %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Submit", :class => "btn btn-primary", :onclick => "$('#stream_gallery_modal').ajaxloader('show')" %>
    <a class="btn btn-primary" data-dismiss="modal" onclick="$('#stream_gallery_modal').html('');">Back</a>
  </div>
<% end %>
<iframe id="uploadTrg" name="uploadTrg" height="0" width="0" frameborder="1" scrolling="no" style="display:none"></iframe>
<img id="imgLogo" style="border-width:0px;" />

<script type="text/javascript">
  $(document).ready(function () {
    $("#uploadTrg").load(function () {
      content_iframe = $(this).contents().find("body").html();
      if(content_iframe.indexOf("success") >= 0){
        image_id = content_iframe.split('--')[1];
        $.get( "/admin/stream_galleries/"+ image_id + "/reload_image_upload");
        $("#stream_gallery_modal").html('<%= escape_javascript(render :partial => "admin/referral_programs/partials/confirmation", :locals => {:message => "Image Upload Feed has been successfully created."}) %>');
      }else{
        a = jQuery.parseJSON(content_iframe);
        error_html = "";
        total_error = 0;
        console.log(a);
        $.each( a, function( key, val ) {
          total_error = total_error+1;
          error_html = error_html + "<li id='" + key + "'>"+ key + " " + val + "</li>";
        });
        console.log(total_error);
        console.log(error_html);
        if(error_html!= ""){
          $('#error_explanation').show();
          $('#error_detail').html(error_html);
          $('#error_count').html(total_error + " errors prohibited this record from being saved:");
        }
      }
      $('#stream_gallery_modal').ajaxloader('hide');
    });
  });
</script>
