<%= simple_form_for [:admin, @stream_gallery], :html => {:class => "form-horizontal", :remote => true} do |f| %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal" onclick="$('#stream_gallery_modal').html('');">&times;</a>
    <h3>Create New Stream Gallery </h3>
  </div>
  <div class="modal-body">

    <%= f.input :chain_id, :as => :hidden %>
    <%= f.input :title, :as => :string %>
    <%= f.input :description, :input_html => {:rows => 5} %>
    <%= f.input :animation_style, :collection => StreamGallery::ANIMATION_TYPE, :include_blank => false %>
    <%= f.input :transition_duration %>
    <%= f.input :display_duration %>

  </div>
  <div class="modal-footer">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
    <a class="btn btn-primary" data-dismiss="modal" onclick="$('#stream_gallery_modal').html('');">Back</a>
  </div>
<% end %>

