<% if @is_saved %>
$('#data-container').html("<%= escape_javascript(render "index")%>");
$("#stream_gallery_modal").html('<%= escape_javascript(render :partial => "admin/referral_programs/partials/confirmation", :locals => {:message => "XML Feed Link has been successfully created."}) %>');
<% else %>
$("#stream_gallery_modal").html('<%= escape_javascript(render "new_xml_embed") %>')
<% end %>

