$('#data-container').html("<%= escape_javascript(render "index")%>");
$("#stream_gallery_modal").html('<%= escape_javascript(render :partial => "admin/referral_programs/partials/confirmation", :locals => {:message => "Stream Gallery has been successfully deleted."}) %>');

