<% if @is_saved %>
$('#data-container').html("<%= escape_javascript(render "index")%>");
$("#stream_gallery_modal").html('<%= escape_javascript(render :partial => "admin/referral_programs/partials/confirmation", :locals => {:message => "Image Upload Embed has been successfully updated."}) %>');
<% else %>
$("#stream_gallery_modal").html('<%= escape_javascript(render "edit_image_upload") %>')
<% end %>

