<h1>Listing admin_timeout_errors</h1>

<table>
  <tr>
    <th>Notice error</th>
    <th>Request path</th>
    <th>Referer</th>
    <th>Request params</th>
    <th>Rack response</th>
    <th>Created AT</th>
    <th></th>
    <th></th>
  </tr>

<% @admin_timeout_errors.each do |admin_timeout_error| %>
  <tr>
    <td><%= admin_timeout_error.notice_error %></td>
    <td><%= admin_timeout_error.request_path %></td>
    <td><%= admin_timeout_error.referer %></td>
    <td><%= admin_timeout_error.request_params %></td>
    <td><%= admin_timeout_error.rack_response %></td>
    <td><%= date_helper_timezone(admin_timeout_error.created_at) %></td>
    <td><%#= link_to 'Edit', edit_admin_timeout_trace_path(admin_timeout_error) %></td>
    <td><%#= link_to 'Destroy', admin_timeout_trace_path, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @admin_timeout_errors %>
<br />

<style>
  td{
      word-wrap: break-word;
  }
</style>

<%#= link_to 'New Timeout error', new_admin_timeout_error_path %>
