<%= simple_form_for([:admin, @pos_location]) do |f| %>
    <% if @pos_location.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@pos_location.errors.count, "error") %> prohibited this chain from being saved:</h2>

          <ul>
            <% @pos_location.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <br/>
    <div class="field">
      <div class="span3">
        <%= f.input :chain_id, :collection => Chain.order("name"), :include_blank => false %>
        <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="field">
      <div class="span3">
        <%= f.input :restaurant_id, :collection => (@pos_location.chain.restaurants.order("app_display_text asc") rescue []), :include_blank => false %>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="field">
      <div class="span3">
        <%= f.input :apikey, :hint => "You can change it" %>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="field">
      <div class="span3">
        <%= f.input :menu_upload_status %>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="field">
      <div class="span3">
        <%= f.input :check_status %>
      </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <fieldset>
      <legend>NETPOS</legend>
      <b>Change it if the chain is connect to NETPOS</b>
      <div class="field">
        <div class="span3">
          <%= f.input :POS_StoreID %>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="field">
        <div class="span3">
          <%= f.input :POS_ChainID %>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="field">
        <div class="span3">
          <%= f.input :netpos_timezone, :collection => us_time_zones %>
        </div>
      </div>
    </fieldset>

    <div class="clearfix"></div>

    <%= f.submit @pos_location.new_record? ? "Create" : "Update", :class => "btn btn-primary" %>
    <%= link_to 'Back', admin_pos_locations_path, :class => "btn" %>
<% end %>