<div class="page-header">
  <h2>Listing POS Locations</h2>
</div>
<%= simple_form_for(:search, :url => "", :html => {:method => :get}) do |f| %>

    <div class="x-box">
      <div class="x-box-inner">
        <div class="field">
          <%= label_tag :chain %>
          <%= select_tag('chains', options_from_collection_for_select(Chain.order("name"), :id, :name, params[:chains]), {:multiple => true, :class => 'multiselect'}) %>
        </div>
        <br />
        <div class="field">
          <%= label_tag "Store Name / API key" %>
          <%= text_field_tag "q", params[:q], :style => 'width:300px' %>
        </div>
        <%= submit_tag "Search" %>
      </div>
    </div>

<% end %>
<table class="table stripped">
  <thead>
  <tr>
    <th>Chain Name</th>
    <th>APIKEY</th>
    <th>Restaurant</th>
    <th>Menu Upload Status</th>
    <th>Check Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>

  <% @pos_locations.each do |pos_location| %>
      <tr>
        <td><%= pos_location.chain.name %></td>
        <td><%= pos_location.apikey %></td>
        <td><%= pos_location.restaurant.name %></td>
        <td><%= pos_location.menu_upload_status %></td>
        <td><%= pos_location.check_status %></td>
        <td>
          <%= link_to 'Edit', edit_admin_pos_location_path(pos_location), :class => "btn btn-warning" %>
          <%= link_to 'Destroy', admin_pos_location_path(pos_location), :method => :delete, :class => "btn btn-danger", :confirm => "are you sure?" %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @pos_locations %>
<br/>
<%= link_to 'New POS Location', new_admin_pos_location_path, :class => "btn btn-primary" %>
<%= link_to 'Create Group POS Locations', new_group_of_pos_admin_pos_locations_path, :class => "btn btn-primary" %>