<div class="page-header">
  <h2> Create Group POS Locations</h2>
</div>
<%= simple_form_for :pos, :url => create_group_admin_pos_locations_path, :html => {:class => "form-horizontal"} do |f| %>
  <div class="x-box">
    <div class="field">
      <%= label_tag :chain %>
      <%= select_tag('chains', options_from_collection_for_select(Chain.order("name"), :id, :name, params[:chains]), :include_blank => true) %>
      <span id="loader-chain" style="display: none;"><%= image_tag "loader.gif" %></span>
    </div>
    <br/>

    <div class="field" id="restaurant-choices">
      <%= label_tag :restaurants %>
      <%= select_tag('restaurants', [], {:multiple => true, :class => 'multiselect'}) %>
    </div>
    <br />
    <div class="clearfix"></div>
    <div class="field">
      <label>Menu Upload Status</label>
      <%= check_box_tag :menu_upload_status, true, "checked" %>
    </div>
    <div class="clearfix"></div>
    <div class="field">
      <label>Check Status</label>
      <%= check_box_tag :check_status, true, "checked" %>
    </div>
    <div class="clearfix"></div>
    <br />
  </div>
  <%= submit_tag "Create", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_pos_menu_items_path, :class => "btn" %>
<% end %>


<script type="text/javascript">
  $('#chains').change(function(){
    $('#loader-chain').show()
    $.post("/admin/pos_locations/load_restaurants", { chains: $(this).val() });
    $('#loader-chain').show();
  });

</script>

