<div class="page-header">
  <h3>Test Get Rewards</h3>
</div>

<form accept-charset="UTF-8" action="/api/vono/test/request_header_for_get_rewards" method="GET">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="&#x2713;"/>
  </div>

  <div class="x-box">
    <div class="field">
      <div class="field">
      </div>
      <div class="field">
        <label for="appkey">App Key</label>
        <%= text_field_tag :appkey %> <br />
      </div>
      <div class="field">
        <label for="appkey">Email</label>
        <%= text_field_tag :email %> <br />
      </div>
    </div>
    <br />
    <input name="commit" type="submit" value="Submit" class="btn btn-primary" />
  </div>
</form>