<div class="page-header">
  <h3>Test Onosys Update Profile</h3>
</div>

<form accept-charset="UTF-8" action="/api/vono/test/request_header_for_update_profile" method="POST">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="&#x2713;"/>
  </div>

  <div class="x-box">
    <div class="field">
      <div class="field">
      </div>
      <div class="field">
        <label for="appkey">App Key</label>
        <%= text_field_tag :appkey %> <br />
      </div>
      <div class="field">
        <label for="appkey">Auth token</label>
        <%= text_field_tag :auth_token %> <br />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <%= text_field_tag :email  %> <br />
      </div>
      <div class="field">
        <label for="first_name">First name</label>
        <%= text_field_tag :first_name %> <br />
      </div>
      <div class="field">
        <label for="last_Name">Last name</label>
        <%= text_field_tag :last_name %> <br />
      </div>
      <div class="field">
        <label for="phone_number">Phone Number</label>
        <%= text_field_tag :phone_number %> <br />
      </div>
      <div class="field">
        <label for="favorite_location">Favorite Location </label>
        <%= text_field_tag :favorite_location %> <br />
      </div>
      <div class="field">
        <label for="dob_day">DOB (yyyy-m-d)</label>
        <%= select_tag :dob_year, options_for_select((1900..Time.current.year).to_a) %> -
        <%= select_tag :dob_month, options_for_select((1..12).to_a) %>  -
        <%= select_tag :dob_day, options_for_select((1..31).to_a) %>
      </div>

    </div>
    <br />
    <input name="commit" type="submit" value="Submit" class="btn btn-primary" />
  </div>
</form>