<div class="page-header">
  <h3>Test Onosys Update Password</h3>
</div>

<form accept-charset="UTF-8" action="/api/vono/test/request_header_for_update_password" method="POST">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="&#x2713;"/>
  </div>

  <div class="x-box">
    <div class="field">
      <div class="field">
      </div>
      <div class="field">
        <label for="appkey">App Key</label>
        <%= text_field_tag :appkey %> <br />
      </div>
      <div class="field">
        <label for="auth_token">Auth token</label>
        <%= text_field_tag :auth_token %> <br />
      </div>
      <div class="field">
        <label for="old_password">Old Password</label>
        <%= text_field_tag :old_password %> <br />
      </div>
      <div class="field">
        <label for="new_password">New Password</label>
        <%= text_field_tag :new_password %> <br />
      </div>
      <div class="field">
        <label for="confirm_password">Confirm Password</label>
        <%= text_field_tag :confirm_password %> <br />
      </div>
    </div>
    <br />
    <input name="commit" type="submit" value="Submit" class="btn btn-primary" />
  </div>
</form>