<div class="page-header">
  <h3>Test Reward Claim</h3>
</div>

<form accept-charset="UTF-8" action="/api/vono/test/request_header_for_reward_redeem" method="POST">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="&#x2713;"/>
  </div>

  <div class="x-box">
    <div class="field">
      <div class="field">
      </div>
      <div class="field">
        <label for="appkey">App Key</label>
        <%= text_field_tag :appkey %> <br />
      </div>
      <div class="field">
        <label for="appkey">Email</label>
        <%= text_field_tag :email %> <br />
      </div>
      <div class="field">
        <label for="appkey">Reward Code</label>
        <%= text_field_tag :reward_code %> <br />
      </div>
      <div class="field">
        <label for="appkey">Location ID</label>
        <%= text_field_tag :location_id %> <br />
      </div>
      <div class="field">
        <label for="appkey">Request type</label>
        <%= select_tag "request_type", options_for_select([[0,0],[1,1]]) %> <br />
        <p>0 = posts the redeem call.</p>
        <p>1 = voids the rewards redeemed</p>
      </div>

      <div class="field">
        <label for="appkey">Lat</label>
        <%= text_field_tag :lat %> <br />
      </div>
      <div class="field">
        <label for="appkey">Long</label>
        <%= text_field_tag :long %> <br />
      </div>
      <div class="field">
        <label for="appkey">Additional info</label>
        <%= text_field_tag :additional_info %> <br />
      </div>
      <div class="field">
        <label for="appkey">Warn</label>
        <%= select_tag "warn", options_for_select([["true","true"],["false","false"]]) %> <br /> <br />
      </div>
    </div>
    <br />
    <input name="commit" type="submit" value="Submit" class="btn btn-primary" />
  </div>
</form>