<script>
    $(document).ready(function () {
        if ($("[rel=tooltip]").length) {
            $("[rel=tooltip]").tooltip();
        }
    });
</script>
<% waiting_exists = false %>
<% question_ids = {} %>
<% if @survey.blank? %>
    <% questions = @surveys.first.all_questions_collection(nil,nil).map(&:text) rescue []%>
    <%# question_ids = @surveys.first.all_questions_collection(nil,nil).map(&:id) %>
    <% @surveys.each do |survey| %>
           <% question_ids[survey.id.to_s] = survey.all_questions_collection(nil,nil).map(&:id) %>
           <% question_ids[:ids] = question_ids[survey.id.to_s] %>
     <% end %>
<% else %>
    <% questions = @survey.all_questions_collection(nil,nil).map(&:text) %>
    <% question_ids[@survey.id.to_s] = @survey.all_questions_collection(nil,nil).map(&:id) %>
    <% question_ids[:ids] = question_ids[@survey.id.to_s] %>
<% end %>
<% query = [] %>
<%
 question_ids[:ids].each do |q|
    query << "question_id = #{q.to_s} desc"
 end

   query = query.join(" , ")
%>
<% question1 = questions[0] rescue "" %>
<% question2 = questions[1] rescue "" %>
<% question3 = questions[2] rescue "" %>
<% question4 = questions[3] rescue "" %>
<% question5 = questions[4] rescue "" %>

<div id="x-records">
<table id="myTable" cellspacing="1" class="table table-striped table-bordered tblstyle tablesorter fntstyle" style="table-layout:fixed;">
<thead>
<tr>
  <th class="tblheader " style="width:45px"><b>Receipt</b>

    <div class="icontbl"></div>
  </th>
  <th class="tblheader" style="width:65px"><b>Date</b>

    <div class="icontbl"></div>
  </th>
  <th class="tblheader" style="width:55px"><b>Time</b>

    <div class="icontbl"></div>
  </th>
  <th class="tblheader" style="width:51px;"><b>Location</b>

    <div class="icontbl"></div>
  </th>
  <th class="tblheader" style="width:auto;"><b>Member </b>

    <div class="icontbl"></div>
  </th>
  <% if @is_avg %>
  <th class="tblheader" style="width:30px;"><b>Avg</b>

    <div class="icontbl"></div>
  </th>
      <% end %>
  <th class="tblheader" style="width:auto;">
    <b>Q.1 </b>
    <a data-original-title="<%= question1 %>" href="#" class="icon-question-sign" rel="tooltip"></a>

    <div class="icontbl"></div>
  </th>
  <th class="tblheader" style="width:auto;">
    <b>Q.2 </b>
    <a data-original-title="<%= question2 %>" href="#" class="icon-question-sign" rel="tooltip"></a>

    <div class="icontbl"></div>
  </th>
  <th class="tblheader" style="width:auto;">
    <b>Q.3 </b>
    <a data-original-title="<%= question3 %>" href="#" class="icon-question-sign" rel="tooltip"></a>

    <div class="icontbl"></div>
  </th>
  <th class="tblheader" style="width:auto;">
    <b>Q.4 </b>
    <a data-original-title="<%= question4 %>" href="#" class="icon-question-sign" rel="tooltip"></a>

    <div class="icontbl"></div>
  </th>
  <th class="tblheader uncurve" style="width:auto;">
    <b>Q.5 </b>
    <a data-original-title="<%= question5 %>" href="#" class="icon-question-sign" rel="tooltip"></a>

    <div class="icontbl"></div>
  </th>
  <% if current_owner.visible_create_request? %>
      <th class="tblheader uncurve" style="width: 180px;">
        <b>Detail </b>
        <a data-original-title="What will be sent to a user, date initiated, and who created the task" href="#" class="icon-question-sign" rel="tooltip"></a>
      </th>
  <% end %>

  <% if current_owner.visible_create_request? %>
      <th class="tblheader uncurve" style="width:10%;">

        <b>Contact </b>
        <% if current_owner.is_chain_owner? and current_owner.can_approve?%>
            <div id="request_menu_button" style="display:none;float:right;">
              <%= check_box_tag "select_all", nil, false,
                                :style => "margin-right: 5px;",
                                :onchange => "
                      if($(this).prop('checked') == true){
                        $('.check_request').attr('checked', true);
                      }else{
                        $('.check_request').attr('checked', false);
                      }
                      $('.check_request').change();
                  " %>

            </div>
        <% end %>

      </th>
  <% end %>
</tr>
</thead>
<tbody>
<% @survey_users.each do |survey_user| %>
    <% rc = survey_user.receipt %>
    <% is_online_order = rc.is_online_order rescue false%>
    <%# if is_online_order == false %>
    <tr class="first">
      <td style="text-align:center;">

        <% if rc and is_online_order == false %>
          <% if rc.is_receipt_barcode || rc.is_ncr_receipt  %>
            <a href="<%= show_receipt_barcode_owner_activity_path(rc)  %>" target="_blank">
              <i class="icon-picture"></i>
            </a>
          <% else %>
            <a href="<%= survey_user.receipt.image.url %>" target="_blank">
              <i class="icon-picture"></i>
            </a>
          <% end %>
        <% else %>
            <!--<a href="#"><i class="icon-picture"></i></a>-->
        <% end %>
        <%#= survey_user.id %>
      </td>
            <% lt = survey_user.receipt.last_transaction rescue nil %>
      <td><%#= date_only(survey_user.created_at) %>
        <%= issue_date_switch(lt,survey_user)  %>
      </td>
      <td><%#= hour_only(survey_user.created_at) %>
        <%= issue_hour(lt,survey_user) %>
      </td>
      <td><%=
          begin
            lt.restaurant.name
          rescue
            Restaurant.find(lt.restaurant_id).name rescue "-"
          end
      %></td>
      <% if current_owner.role.to_s.include?('email') %>
          <td style="word-wrap:break-word;"><%= string_format(survey_user.user.email.gsub("@", "@"), :slice_limit => 10) rescue '-'%></td>
      <% else %>
          <td><%= survey_user.user.id  rescue '-'%></td>
      <% end %>
        <%#= debug question_ids[survey_user.survey_id.to_s] %>
      <% avg = survey_user.show_answers_new(question_ids[survey_user.survey_id.to_s],
                                            survey_user.answers.includes(:question).order(query)) %>
      <% if @is_avg %><td><%= float_format(avg[:all]) %></td><% end  %>

      <td><%= string_format(avg[:q1]).to_s.html_safe %></td>
      <td><%= string_format(avg[:q2]).to_s.html_safe %></td>
      <td><%= string_format(avg[:q3]).to_s.html_safe %></td>
      <td><%= string_format(avg[:q4]).to_s.html_safe %></td>
      <td><%= string_format(avg[:q5]).to_s.html_safe %></td>
      <% if  current_owner.visible_create_request? %>
          <% gr = survey_user.chain_owner_request %>
          <td style="word-wrap:break-word">
            <%= gr.show_reward_point_string.html_safe unless gr.blank? %>
          </td>
      <% end %>
      <% if  current_owner.visible_create_request? %>
          <td id="request_<%= gr.id rescue 'none' %>" style="text-align: center;">

            <% if !current_owner.is_chain_owner? %>
                <% gr = survey_user.request_by_owner(current_owner) %>
                <% if gr.blank? and current_owner.visible_create_request? %>
                    <a href="#myModal1" style="font-size:11px;" role="button" style="padding:none;"
                       class="btn-flat reachout button-true" data-toggle="modal"
                       data-backdrop="static" data-keyboard="false" onclick="
                    $('#users_content').html('');
                            $.get('<%=  request_guest_relation_owner_survey_path(survey_user,:su_id => survey_user.id) %>');
                            $('#body_modal').html('');$('#title_job').html('<img src=\'/assets/ajaxLoader.gif\'></img>');
                    ">Reach Out</a>
                <% elsif !gr.blank? and current_owner.visible_create_request? %>
                    <% btn = ""
                       case gr.status
                         when 1
                           btn = link_to("requested", '#', :class => 'btn-flat waiting button-false')
                         when 2
                           btn = link_to("completed", '#', :class => 'btn-flat completed button-false')
                         when 3
                           btn = link_to("processing", '#', :class => 'btn-flat gray button-false')
                         when 4
                           btn = link_to("completed", '#', :class => 'btn-flat completed button-false')
                         when 5
                           btn = link_to("rejected", '#', :class => 'btn-flat rejected button-false')
                       end
                    %>
                    <%= btn.html_safe %>

                <% else %>
                    You do not have permission
                <% end %>
            <% else %>
                <% unless gr.blank? %>
                    <% text = "" %>
                    <% if gr.status == 1 %>
                        <% waiting_exists = true %>
                        <%= check_box_tag "waiting-#{gr.id}", nil, false, :class => 'check_request', :style => 'margin-right: 3px;' , :disabled => true if current_owner.can_approve?%>
                        <% if current_owner.can_approve? %>
                        <a href="#myModal1" role="button" data-toggle="modal"
                           style="font-size:11px;padding-left:3px;padding-right:3px;"
                           class="btn-flat <%= GuestRelation::STATUS[gr.status] %> new-product button-true"
                           data-backdrop="static" data-keyboard="false" onclick="
                        $('#users_content').html('');
                                $.get('<%=  check_status_relation_owner_guest_relation_path(gr) %>');
                                $('#body_modal').html('');$('#title_job').html('<img src=\'/assets/ajaxLoader.gif\'></img>');
                        ">requested</a>
                            <% else %>
                            <%= link_to("requested", '#', :class => 'btn-flat waiting button-false') %>
                         <%end  %>
                    <% elsif GuestRelation::STATUS[gr.status] == "approved" || GuestRelation::STATUS[gr.status] == "completed" %>
                        <%= link_to("completed", '#', :class => 'btn-flat completed button-false') %>
                    <% elsif GuestRelation::STATUS[gr.status] == "rejected" %>
                        <a href="#myModal1" style="font-size:11px;padding:none;" role="button" style="padding:none;"
                           class="btn-flat <%= GuestRelation::STATUS[gr.status] %> new-product button-true" data-toggle="modal"
                           data-backdrop="static" data-keyboard="false" onclick="
                        $('#users_content').html('');
                                $.get('<%=  check_status_relation_owner_guest_relation_path(gr, :read => true) %>');
                                $('#body_modal').html('');$('#title_job').html('<img src=\'/assets/ajaxLoader.gif\'></img>');
                        "><%= GuestRelation::STATUS[gr.status] %></a>

                    <% end %>


                <% else %>
                    <a href="#myModal1" style="font-size:11px;" role="button" style="padding:none;"
                       class="btn-flat reachout new-product button-true" data-toggle="modal"
                       data-backdrop="static" data-keyboard="false" onclick="
                    $('#users_content').html('');
                            $.get('<%=  request_guest_relation_owner_survey_path(survey_user,:su_id => survey_user.id) %>');
                            $('#body_modal').html('');$('#title_job').html('<img src=\'/assets/ajaxLoader.gif\'></img>');
                    ">Reach Out</a>
                <% end %>
            <% end %>
          </td>
      <% end %>
    </tr>
        <%# end%>
<% end %>

</tbody>
</table>
</div>
<% content_for :modal do %>
    <%= render 'owner/surveys/request_modal' %>
<% end %>

<script>
    $(document).ready(function () {
        $('#search_q').bind('keypress', function(e) {
            if(e.keyCode==13){
                $('#name_member').val($('#search_q').val());$('#tableContainer').ajaxloader();$('#form_up').click();return false;
            }
        });

        if($('.check_request').size() < 1){
            $('#request_menu_button').hide();
        }else{
            $('#request_menu_button').show();
        }
        $('.check_request').change(function () {
            var show = false;
            $('input[type=checkbox]').each(function () {
                if ($(this).is(':checked')) {
                    show = true;
                }
                if (show == true) {
                    $('#request_menu').show();
                } else {
                    $('#request_menu').hide();
                }
            });

        });

        <% unless params['requested'].blank? %>
        $('#status').val('1');
        $('#name_member').val($('#search_q').val());$('#tableContainer').ajaxloader();$('#form_up').click();
        <% end %>

        <% if waiting_exists == true %>
        $('.completed').css( "margin-left", "18px" );
        $('.rejected').css( "margin-left", "18px" );
        $('.approved').css( "margin-left", "18px" );
        $('.reachout').css( "margin-left", "18px" );
        <% end %>
        $('.check_request').attr('disabled',false);
    });
</script>
