<% questions = @survey.questions %>
<%= render_chart_widget 'avg_surveys' %>
<% questions.each_with_index do |q,index| %>
  <% if q.question_type == Question::TYPES["Multiple Choice"] %>
    <%= render_chart_widget "survey_question#{index + 1}"%>
  <% end %>
<% end %>
