<section class="span2 topmgn bottommgn">
  <section class="titlebar">Locations</section>
  <section id="checklocation" class="checkwraper scroll-pane" style="overflow-y: auto;">
    <fieldset>
      <label class="checkbox clearmgn">
        <input type="checkbox" value="" name="optionsCheckboxList1" class="checkall">
        <b>All Location</b>
      </label>
      <% @restaurants.each do |restaurant| %>
          <label class="checkbox">
            <%= check_box_tag "x[]", restaurant.id,
                              @selected_restaurants.map(&:id).include?(restaurant.id),
                              :id => restaurant.id, :onclick => "checkbox_checked();" %>
            <% display_text = restaurant.dashboard_display_text %>
            <%= display_text.nil? ? "-" : display_text %></input>
          </label>
      <% end %>
      <div id="left_loader" style="display:none;"><%= image_tag("spinner.gif", :style => "margin-top: 0px;") %></div>
      <%= form_tag search_chart_owner_surveys_path, :method => :post, :remote => true do %>
          <%= hidden_field_tag "survey_id", params[:id].nil? ? @survey.id : params[:id] %>
          <%= hidden_field_tag "id", params[:id].nil? ? @chain.surveys.first.id : params[:id] %>

          <%= text_area_tag "check_values", nil , :style => "display:none;" %>
          <%= submit_tag "submit", :id => "btn_submit1", "data-disable-with" => 'loading...' %>
      <% end %>
  </section>
  </fieldset>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        checkbox_checked();
        $('#x-search-survey').ajaxSend(function () {
            $("#btn_submit").hide();
            $("#left_loader").show();
        });
        $('#x-search-survey').ajaxComplete(function () {
            $("#left_loader").hide();
            $("#btn_submit").show();
        });
    });

    $(function () { // this line makes sure this code runs on page load
        $('.checkall').click(function () {
            $(this).parents('fieldset:eq(0)').find(':checkbox').attr('checked', this.checked);
            $("#check_values").text('');
            $(".checkbox :checked").each(function(){
                $("#check_values").append( $(this).val() + "_");
            });
            $('#btn_submit').hide();$('#btn_submit1').show();
        });
    });

    function checkbox_checked(){
        $("#check_values").text('');
        $(".checkbox :checked").each(function(){
            $("#check_values").append( $(this).val() + "_");
        });
    }

</script>
