<script>
$(document).ready(function () {
    if ($("[rel=tooltip]").length) {
        $("[rel=tooltip]").tooltip();
    }
});
</script>

<% questions = @survey.questions.order("questions.order_number desc") %>
<% questions = questions.map(&:text) %>
<section id="tableContainer" class="scroll-pane tableContainer tablewraper">
  <div id="data-container">
    <table id="myTable" cellspacing="1" class="tablefontfix table table-striped table-bordered tblstyle tablesorter">
      <thead class="">
        <tr>
          <th class="tblheader"><!--<b>Location</b><div class="icontbl"></div>-->
            Location
            <% if current_owner.is_chain_owner? and @tag_list.size > 0 and !@tag_list.first.blank?  %>
                <!--<div class="ui-select" style="width:130px">
    <%#= select_tag("filter_type", options_for_select([" All Locations "]+@tag_list, :selected => @filter_tag),
                   :onchange => "window.location = '/owner/members?tag='+this.value") %>

    </div> -->
                <%#= debug @tag_list %>
                <%#= debug @tag_list.size %>
                <div class="btn-group">
                  <button class="btn">Regions</button>
                  <button class="btn dropdown-toggle" id="button_filter" data-toggle="dropdown" onclick="$('#filter_content').toggle();">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" id="filter_content" style="padding: 10px;">
                    <%= form_tag owner_surveys_path(:id => params[:id].blank? ? params[:survey_id] : params[:id]), :method => :get, :class => 'region-options' do %>
                        <li>
                          <a href="#"> <%= check_box_tag "check_all_region", "check_all_region",
                                                         params['check_all_region'].blank? ?  false : true,
                                                         {:onclick => "$('#filter_content').show();", :class => 'span2'} %>
                          </a>
                          <b>All Regions</b>
                        </li>
                        <% @tag_list.each do |tag| %>
                            <li><a> <%= check_box_tag "tag[]", "#{tag}",
                                                      params['tag'].blank? ? false : params['tag'].include?(tag),
                                                      {:onclick => "$('#filter_content').show();", :class => 'span2'} %>
                            </a>
                              <%= tag %>
                            </li>
                        <% end %>
                        <%= button_tag "Search", :class => 'btn-mini btn-primary' %>
                    <% end %>
                  </ul>
                </div>
            <% end %>
          </th>
          <th class="tblheader"><b>Surveys</b><div class="icontbl"></div></th>
          <th class="tblheader"><b>Avg (1-5)</b><div class="icontbl"></div></th>
          <th class="tblheader"><b>Q1</b> <a data-original-title="" href="#" class="icon-question-sign" rel="tooltip" title="<%= questions.first %>"></a><div class="icontbl"></div></th>
          <th class="tblheader"><b>Q2 </b> <a data-original-title="" href="#" class="icon-question-sign" rel="tooltip" title="<%= questions[1] %>"></a><div class="icontbl"></div></th>
          <th class="tblheader"><b>Q3</b> <a data-original-title="" href="#" class="icon-question-sign" rel="tooltip" title="<%= questions[2] %>"></a><div class="icontbl"></div></th>
          <th class="tblheader"><b>Q4 </b> <a data-original-title="" href="#" class="icon-question-sign" rel="tooltip" title="<%= questions[3] %>"></a><div class="icontbl"></div></th>
          <th class="tblheader"><b>Q5</b> <a data-original-title="" href="#" class="icon-question-sign" rel="tooltip" title="<%= questions[4] %>"></a><div class="leftgn icontbl"></div></th>
        </tr>
      </thead>
      <tbody class="scrollopen">
        <% unless @restaurants.blank? %>
          <tr>
            <td><b>All locations</b></td>
            <td class="w1" id="total_count"><b>0</b></td>
            <td class="w1" id="avg1"><b>-</b></td>
            <td class="w1" id="avg2"><b>-</b></td>
            <td class="w1" id="avg3"><b>-</b></td>
            <td class="w1" id="avg4"><b>-</b></td>
            <td class="w1" id="avg5"><b>-</b></td>
            <td class="w1" id="avg6"><b>-</b></td>
          </tr>


          <% @restaurants.each do |restaurant| %>
            <tr>
            <td><%= restaurant.dashboard_display_text %></td>
            <% completed = restaurant.completed_survey(@survey)%>
            <td><%= completed %></td>

            <% all_survey_avg = restaurant.survey_averages_restaurant(@survey) %>

            <td><%= string_format(number_with_precision(all_survey_avg[:all], :precision => 2)) %></td>

            <% avg1 = all_survey_avg[:q1] %>

            <td><%= string_format(number_with_precision(avg1, :precision => 2)) %></td>

            <% avg2 = all_survey_avg[:q2]%>
            <td><%= string_format(number_with_precision(avg2, :precision => 2)) %></td>

            <% avg3= all_survey_avg[:q3]%>
            <td><%= string_format(number_with_precision(avg3, :precision => 2)) %></td>

            <% avg4= all_survey_avg[:q4]%>
            <td><%= string_format(number_with_precision( avg4, :precision =>2)) %></td>

            <% avg5=all_survey_avg[:q5] %>
            <td><%= string_format(number_with_precision(avg5, :precision =>2)) %></td>

          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
</section>
<%= will_paginate @restaurants %>
<script>
  $('#total_count').html("<%= Restaurant.completed_survey_restaurants(@survey, @all_restaurants) %>");
   <%
    avg_all = Restaurant.survey_averages(@all_restaurants,@survey)
    avg_q1 = Restaurant.survey_averages_q1(@all_restaurants,@survey)
    avg_q2 = Restaurant.survey_averages_q2(@all_restaurants,@survey)
    avg_q3 = Restaurant.survey_averages_q3(@all_restaurants,@survey)
    avg_q4 = Restaurant.survey_averages_q4(@all_restaurants,@survey)
    avg_q5 = Restaurant.survey_averages_q5(@all_restaurants,@survey)
   %>

  $('#avg1').html("<%= float_format(avg_all) if avg_all > 0.0  %>");
  $('#avg2').html("<%= float_format(avg_q1) if avg_q1 > 0.0 %>");
  $('#avg3').html("<%= float_format(avg_q2) if avg_q2 > 0.0 %>");
  $('#avg4').html("<%= float_format(avg_q3) if avg_q3 > 0.0 %>");
  $('#avg5').html("<%= float_format(avg_q4) if avg_q4 > 0.0 %>");
  $('#avg6').html("<%= float_format(avg_q5) if avg_q5 > 0.0 %>");


  <% Restaurant.top5_survey(@all_restaurants,@survey).each_with_index do |top5,index| %>
    $('#up<%=index+1%>').html("<div class='span9'><%= top5.dashboard_display_text %></div><div class='span3'><%= float_format(top5.averages) %></div>");
  <% end %>

  <% Restaurant.bottom_top5_survey(@all_restaurants,@survey).each_with_index do |top5,index| %>
    $('#down<%=index+1%>').html("<div class='span9'><%= top5.dashboard_display_text %></div><div class='span3'><%= float_format(top5.averages) %></div>");
  <% end %>

  $('#check_all_region').click(function () {

      if($('#check_all_region').is(':checked') == true){
          $(".region-options li input[type='checkbox']").each(function(){
                      $(this).attr('checked', true);

                  }
          )
      }else{
          $(".region-options li input[type='checkbox']").each(function(){
                      $(this).attr('checked', false);
                  }
          )
      }
  });
</script>

<style>
    ul#filter_content li a:hover {
        text-decoration: none !important;
    }

    ul#filter_content li {
        overflow: hidden;
    }

    .table-wrapper .table input[type="checkbox"] {
        float: none;
        margin-right: 0px;
        margin-top: 0px;
    }

    .region-options li {
        height: 25px !important;font-weight: normal !important; font-size: 12px !important;
        text-transform:none; !important;
    }

    .region-options .btn-mini {
        margin-top: 10px !important;
    }
    .region-options li .span2 {
        margin-top: 0px !important;
    }
</style>