<% if next_step != 5 %>
    <%= link_to "Process", request_guest_relation_owner_survey_path(@su, :step => next_step),
                :remote => true, :class => 'btn-glow primary login',
                'data-disable-with' => 'Loading' %>
<% elsif next_step == 5 %>
    <%= link_to "Process", '#', :onclick => "$('#cnt').hide();$('#wait').show();$('#sub_button').click();return false;",
                :class => 'btn-glow primary login', :id => 'cnt' %>
    <%= link_to "Loading", '#', :class => 'btn-glow primary login', :id => 'wait', :readonly => true, :style => 'display:none;' %>
<% end %>
