<div id="x-pagination" class="pull-right">
<% unless @survey_users.blank? %>
  <%= will_paginate @survey_users %>
      <%#= will_paginate @survey_users, :page_links=>true,:previous_label=> "Prev",:next_label=>"Next" , :inner_window => 0, :outer_win %>
<% end %>
</div>
<script>
    $("#x-pagination a").attr("data-remote", true);
    $('#x-pagination a').click(function() {
        $("#tableContainer").ajaxloader();
    });


</script>