<div id="preview_desc" class="span4"></div>
<hr />
<div id="preview_step1" class="span6"></div>
<hr />
<hr />
<%= render :partial => 'next_previous', :locals => {:next_step => 5, :previous_step => 0} %>