<%= form_tag request_guest_owner_survey_path(@su), :class => 'form-horizontal', :remote => true do %>
    <div id="preview" style="display:none;">
      <%= render 'preview_request' %>
    </div>
    <div class="the-content-body" style="padding:none;" id="body_form">
      <div id="error_notice"></div>
      <% unless @is_reward.blank? # if reward setting is on  %>
          <div class="control-group">
            <label class="span4 offset1" for="inputEmail">
              <%= radio_button_tag "guest_relation[job_type]", "1", true, :id => 'by_reward', :style => "margin-bottom:6px;" %> I would like to send 
              reward
            </label>

            <div class="controls">

            </div>
          </div>
          <div id="by_reward_content" style="display:block;" class="radio-child">
            <div class="ui-select" style="width:200px">
              <%= select_tag "guest_relation[reward_id]", options_from_collection_for_select(@rewards, "id", "name"), :include_blank => true %>
            </div>
          </div>
          <br>
      <% end %>
      <% unless @is_points.blank? # if reward setting is on  %>
          <div class="control-group">
            <label class="span4 offset1" for="inputEmail">
              <%= radio_button_tag "guest_relation[job_type]", '2', false, :id => 'by_point', :style => "margin-bottom:6px;" %>
              I would like to send points
            </label>

            <div class="controls">

            </div>
          </div>
          <div id="by_point_content" style="display:none;" class="radio-child">
            <%= text_field_tag "guest_relation[points]", nil %> <i>* insert how many points</i><br/>
            <b style="margin-right:10%">1$ = <%= @chain.first.points %> points</b>
          </div>
      <% end %>
      <% if current_owner.role.to_s.include?('email') %>
          <div class="alert warning">
            Contact customer directly at:<br/>
            <%= @su.user.email %>
          </div>
      <% end %>
      <br/>
      <%= submit_tag "sub", :id => 'sub_button', :style => 'display:none;' %>
      <%= render :partial => 'next_previous', :locals => {:next_step => 5, :previous_step => "cancel"} %>
    </div>
<% end %>


<script>
    $(document).ready(function () {
        $('#by_reward').change(function () {
            reset_selection();
            $('#by_reward_content').show();
            $('#owner_job_reward_id').show();
        });

        $('#by_point').change(function () {
            reset_selection();
            $('#by_point_content').show();
        });

        $('#owner_job_push_email').change(function () {
            if ($('#owner_job_push_email').is(':checked')) {
                $('#content_email').show();
            } else {
                $('#content_email').hide();
            }
        });

        $('#owner_job_push_phone').change(function () {
            if ($('#owner_job_push_phone').is(':checked')) {
                $('#content_phone').show();
                $('#notif_char').show();
            } else {
                $('#content_phone').hide();
                $('#notif_char').hide();
            }
        });

        $('#by_notif').change(function () {
            reset_selection();
            $('#by_notif_content').show();
        });

        function reset_selection() {
            $('#users_content').html('');
            $('#reward_id').val('');
            $('#by_reward_content').hide();
            $('#by_point_content').hide();
            $('#by_notif_content').hide();
            $('#by_reward_content').hide();
            $('#owner_job_reward_id').hide();
        }

        $('#owner_job_content_phone').keyup(function () {
            var max = 100;
            var len = $(this).val().length;
            if (len >= max) {
                var char = max - len;
                $('#notif_char').removeClass('label-info');
                $('#notif_char').addClass('label-important');
                $('#notif_char').text(char + ' characters')
            } else {
                var char = max - len;
                $('#notif_char').text(char + ' characters left');
                $('#notif_char').removeClass('label-important');
                $('#notif_char').addClass('label-info');
                $('#owner_job_content_phone').removeClass('error');
            }
        });

    });
</script>