<!-- Modal New Job -->
<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="left: 0px; right: 0px; margin: auto;">
  <div class="modal-header" style="">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close_button">×</button>
    <%= link_to "x", "/owner/surveys/all_survey", :class => "", :id => 'close_button_non_ajax', :style => "display:none;float:right;" %>
  </div>
  <h2 class="modal-title" id="title_job" style="text-align: center;">Loading</h2>
  <br/>

  <div class="modal-body" id="body_modal">
    <%= image_tag "loading.gif" %>
  </div>
</div>


<div id="alertModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="alertModal1" aria-hidden="true" style="left: 0px; right: 0px; margin: auto;width: 400px;">
  <div class="modal-header" style="">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close_button">×</button>
  </div>

  <div class="modal-body" style="text-align: left;">
    Do you want process all the request ?
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" id="alertModal1-ok" >Yes</a>
    <a href="#" class="btn" data-dismiss="modal" id="alertModal1-cancel" >No</a>
  </div>
</div>