<div class="span12"  style="margin-left: 0px;">
  <%= form_tag search_status_relation_owner_guest_relations_path, :remote => true, :class => "span6", :method => :get do %>
    <fieldset style="">
      <legend style=""></legend>
      <div id="search_bar" class="">
        <div class="span6 stat">
          <label for="from">From</label>
          <input type="text" value="" readonly="readonly" name="search[from]" id="search_from" class="x-search-datepicker" style="cursor: pointer;">

          <label for="to">To</label>
          <input type="text" value="" readonly="readonly" name="search[to]" id="search_to" class="x-search-datepicker" style="cursor: pointer;">
          <%= hidden_field_tag "search[q]",nil, :id => 'name_member' %>
          <%= hidden_field_tag "survey_id",params[:survey_id]  %>
        </div>

        <div class="span6 stat">
          <%# if current_owner.visible_create_request? %>
          <% if current_owner.role and current_owner.role.to_s.include?('create') %>
          <label for="status">Contact Status</label>
          <div class="ui-select" style="width:200px">
            <% gstatus = {0 => "All Surveys"}.merge!(GuestRelation::STATUS.except(2)) %>
            <% gstatus[1] = "requested" %>
            <%= select_tag "status", options_for_select(gstatus.except(2,3).invert) %>
          </div>
           <% end %>
          <br><br>
          <div>
            <input type="submit" id="form_up" value="Search" name="commit" class="btn-flat" onclick="
            $('#tableContainer').ajaxloader();
            " style="display:none;">
          </div>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $(".x-search-datepicker").datepicker({
        onSelect:function (theDate) {
          dateValidation(this, theDate);
        },
        beforeShow:function () {
            $('#ui-datepicker-div').css('z-index', 9999);
        },
        dateFormat:'yy-mm-dd'
    });

    function dateValidation(theObject, theDate){
      $date1 = new Date(theDate);
      if(theObject.id == "search_from"){
        $date2 = new Date($("#search_to").val());
        if($date1 > $date2){
          $(theObject).val("");
        }
      }else if(theObject.id == "search_to"){
        $date2 = new Date($("#search_from").val());
        if($date1 < $date2){
          $(theObject).val("");
        }
      }
    }
  });
</script>
