<% gr = GuestRelation.find id %>
<% unless gr.blank? %>
    <% text = "" %>
    <% if GuestRelation::STATUS[gr.status] == "waiting" %>

        <%= check_box_tag "waiting-#{gr.id}", nil, false, :class => 'check_request', :style => 'margin-right: 3px;' %>

        <a href="#myModal1" role="button" data-toggle="modal"
                               style="font-size:11px;padding-left:3px;padding-right:3px;"
                               class="btn-flat <%= GuestRelation::STATUS[gr.status] %> new-product button-true"
                               data-backdrop="static" data-keyboard="false" onclick="
                            $('#users_content').html('');
                                    $.get('<%=  check_status_relation_owner_guest_relation_path(gr) %>');
                                    $('#body_modal').html('');$('#title_job').html('<img src=\'/assets/ajaxLoader.gif\'></img>');
                            ">Requested</a>
    <% elsif GuestRelation::STATUS[gr.status] == "approved" || GuestRelation::STATUS[gr.status] == "completed" %>
        <%= link_to("completed", '#', :class => 'btn-flat completed button-false') %>

    <% elsif GuestRelation::STATUS[gr.status] == "rejected" %>
        <a href="#myModal1" style="font-size:11px;padding:none;" role="button" style="padding:none;"
                               class="btn-flat <%= GuestRelation::STATUS[gr.status] %> new-product button-true" data-toggle="modal"
                               data-backdrop="static" data-keyboard="false" onclick="
                            $('#users_content').html('');
                                    $.get('<%=  check_status_relation_owner_guest_relation_path(gr, :read => true) %>');
                                    $('#body_modal').html('');$('#title_job').html('<img src=\'/assets/ajaxLoader.gif\'></img>');
                            "><%= GuestRelation::STATUS[gr.status] %></a>

    <% end %>
<% end %>
<script>
$(document).ready(function () {
  if($('.check_request').length){
    $('.completed').css( "margin-left", "18px" );
    $('.rejected').css( "margin-left", "18px" );
    $('.approved').css( "margin-left", "18px" );
    $('.reachout').css( "margin-left", "18px" );
  }else{
    $('.completed').css( "margin-left", "0px" );
    $('.rejected').css( "margin-left", "0px" );
    $('.approved').css( "margin-left", "0px" );
    $('.reachout').css( "margin-left", "0px" );
  }
});
</script>