<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th class="span3" style="text-align:center">
                Top 5 locations YTD
            </th>
            <th class="span3" style="text-align:center">
                Bottom 5 locations YTD
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="first">
            <td id="up1">
                <div class="span9">&nbsp;</div>
                <div class="span3" id="val1">&nbsp;</div>
            </td>
            <td id="down1">
                <div class="span9">&nbsp;</div>
                <div class="span3" id="val1">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td id="up2">
                <div class="span9">&nbsp;</div>
                <div class="span3" id="val1">&nbsp;</div>
            </td>
            <td id="down2">
                <div class="span9">&nbsp;</div>
                <div class="span3" id="val1">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td id="up3">
                <div class="span9">&nbsp;</div>
                <div class="span3" id="val1">&nbsp;</div>
            </td>
            <td id="down3">
                <div class="span9">&nbsp;</div>
                <div class="span3" id="val1">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td id="up4">
                <div class="span9">&nbsp;</div>
                <div class="span3" id="val1">&nbsp;</div>
            </td>
            <td id="down4">
                <div class="span9">&nbsp;</div>
                <div class="span3" id="val1">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td id="up5">
                <div class="span9">&nbsp;</div>
                <div class="span3" id="val1">&nbsp;</div>
            </td>
            <td id="down5">
                <div class="span9">&nbsp;</div>
                <div class="span3" id="val1">&nbsp;</div>
            </td>
        </tr>
    </tbody>
</table>