
<div class="row-fluid section">
  <div class="span12 title2">
    <% if params['id'].blank? and params['survey_id'].blank? %>
        <h2>All survey data
          <% if current_owner.visible_create_request? %>
          <a href="#myModal" style="background:grey;color:white;" role="button" class="btn pull-right"
             data-toggle="modal" data-backdrop="static" data-keyboard="false"
             alt="click here to see the tutorial">Help</a>
              <% end %>
        </h2>
    <% else %>
        <h2><%= @survey.title %>
          <% if current_owner.visible_create_request? %>
          <a href="#myModal" data-backdrop="static" data-keyboard="false"
             style="background:grey;color:white;" role="button" class="btn pull-right" data-toggle="modal" alt="click here to see the tutorial">Help</a>
           <% end %>
        </h2>
    <% end %>
  </div>
  <br/><br/>

  <div class="span12" style="margin-left: 0px;">
    <div class="btn-group" style="float:left;">
      <button data-toggle="dropdown" class="btn dropdown-toggle">
        <% if params[:survey_id].blank? %>
            Select Survey
        <% else %>
            <%= @survey.title %>
        <% end %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!--<li><%#= link_to "All Survey", all_survey_owner_surveys_path %></li>-->
        <!--<li class="divider"></li>-->
        <% @surveys.each do |survey| %>
            <li>
              <%= link_to survey.title, all_survey_owner_surveys_path(:survey_id => survey.id) %>
            </li>
        <% end %>
      </ul>
    </div>
    &nbsp;&nbsp;&nbsp;
      <div class="btn-group">
            <button class="btn glow">Download Survey</button>
            <button data-toggle="dropdown" class="btn glow dropdown-toggle">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <a href="#surModal" role="button" class="survey_csv" data-toggle="modal" id="survey_load" data-backdrop="static" data-keyboard="false" style="display:none;"></a>
              <% rgs= RotatingGroup.where(:chain_id => @chain_ids.first) %>
              <% rgs_ids = rgs.map(&:survey_id).uniq %>
              <li class="nav-header" style="margin-left:10px;"><b>General Survey</b></li>
              <% @surveys.each do |survey| %>
                <li>
                  <%= link_to "#{survey.title}", "#",
                              :onclick => "confirm_survey(#{survey.id},null);return true;" %>
                  <%= link_to "#{survey.title}",
                              request_csv_owner_surveys_path(:survey_id => survey.id),
                              :remote => true, :class => "survey_export",
                              :id => "survey_export_#{survey.id}", :style => "display:none;" %>
                </li>
              <% end %>

              <% unless rgs.blank? %>
              <li class="divider"></li>
              <li class="nav-header" style="margin-left:10px;"><b>Rotating Group</b></li>
                <% rgs.each do |m| %>
                    <li>
                      <%= link_to "#{m.name}", "#", :onclick => "confirm_survey(#{m.id},'rotating');return true;" %>
                      <%= link_to "#{m.name}",
                                  request_csv_owner_surveys_path(:rotating_id => m.id,:rotating => 'true'),
                                  :remote => true,
                                  :class => "survey_export_rotate",
                                  :id => "survey_export_#{m.id}_rotating",:target => "_blank",
                                  :style => 'display:none;' %>
                    </li>
                <% end %>
              <% else %>

              <% end %>
            </ul>
        </div>
    <%# x = "<i class='icon-file'></i>" %>

    <%#= link_to "#{x}Export to csv".html_safe, request.parameters.merge({:format => :csv}),:class => "btn", :style => "width:%;" %>
  </div>
  <br /><br />
  <%= render 'search_request_bar' %>

  <div class="span6 input-append" style="margin-left: 0px; margin-bottom: 0px;">
    <%= form_tag({:controller => "surveys", :action => "search_all_survey"}, :id => 'x-search-survey', :remote => true, :method => :get, :style => "float: left; padding-left: 0px; width: 500px;", :class => "input-append") do |f| %>
        <%= text_field_tag "search[q]", '', :placeholder => "Search by member or location", :class => "span8 leftcraft" %>
        <%= link_to "Search","#", :class => "btn",
                    :onclick => "
         if($('#search_q').val() != '' || $('#status').val() != '0' || $('#search_from').val() != '' || $('#search_to').val() != ''){
                    $('#name_member').val($('#search_q').val());
                    $('#tableContainer').ajaxloader();
                    $('#form_up').click();
                    return false;}else{
                      window.location = '/owner/surveys/all_survey'
                    }
                    " %>
    <% end %>

  </div>

  <div id="page_id" class="span6">
    <%= render 'paginate_survey' %>
  </div>
  <div id="page_id2" class="span6">
    <% if current_owner.is_chain_owner? %>
      <div id="request_menu" style="display:none;">
        <%= link_to "Reject", "#", :class => 'btn right', :onclick => "prepare_process('reject');" %>
        <%= link_to "Approve", "#", :class => 'btn right', :onclick => "prepare_process('process');" %>
      </div>
        &nbsp;
    <% end %>
    <%= form_tag process_request_owner_surveys_path, :remote => true do %>
        <%= hidden_field_tag "request_ids", nil %>
        <%= hidden_field_tag "mode", nil %>
        <%= submit_tag "submit", :id => 'btn_process', :class => "hide" %>
    <% end %>
  </div>
</div>
<script>
    function prepare_process(mode){
      var mode_str = mode;
      if (mode_str == 'process'){
          mode_str = 'approve';
      }
      $('#alertModal1 .modal-body').html('Do you want to '+mode_str+' all selected requests ?');
      $('#alertModal1-ok').attr("onclick", "process_all('"+mode+"', true);");
      $('#alertModal1-cancel').attr("onclick", "process_all('"+mode+"', false);");
      $('#alertModal1').modal('show');
    }

    function process_all(mode, run) {
        $('#request_ids').val('');
        $("input:checkbox").each(function(){
            var $this = $(this);
            if($this.is(":checked")){
                x = $('#request_ids').val() +'_'+ $this.attr("id").replace('waiting-','');
                $('#request_ids').val(x) ;
            }
        });

        if (run == true) {
            $('#mode').val(mode);
            $('#x-records').ajaxloader();
            $('#btn_process').click();
        }
        else {
            $('#request_ids').val('');
        }

    }

</script>

<div class="table-wrapper products-table section">
  <div class="row-fluid" id="tableContainer">
    <%= render 'all_survey_list' %>
  </div>
</div>

<!-- Modal -->
<div id="surModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Survey Download</h3>
  </div>

  <div class="modal-body" style="text-align:center;">
    <%= form_tag submit_request_csv_owner_surveys_path, :remote => true do %>
        <%= hidden_field_tag "survey_id_hidden",nil %>
        <%= hidden_field_tag "rotating_id",nil %>
        Start Date <%= text_field_tag "start_date" ,nil, :class => "x-datepicker-day",
                                      :readonly => true,:style=> "cursor:pointer;"%><br/>
        <div id="end_date_show" style="display: none;;">
          End Date <%= text_field_tag "end_date",nil,
                                      :class => "x-datepicker-max-day",
                                      :readonly => true,
                                      :style=> "cursor:pointer;"%><br/>
        </div>
        <i id="notif_survey_popup"></i>
        <%= submit_tag "Submit", :style => "display:none;", :id => "submit_survey_csv" %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <%= link_to "OK", "#", :class => "btn",:onclick => "$('#submit_survey_csv').click();$('.modal-footer').html('Please Wait ....');return false;" %>
  </div>
</div>
<!-- end modal -->

<% content_for :javascript_script do %>
    <script>
        function confirm_survey(survey_id,rotating) {

            if(rotating){
                $('#rotating_id').val(rotating);
                $('#survey_id_hidden').val('');
                $("#survey_export_" + survey_id + '_rotating').click();
            }else
            {
                $('#rotating_id').val('');
                $('#survey_id_hidden').val(survey_id);
                $("#survey_export_" + survey_id).click();
            }
            return false;
        }


        $(document).ready(function () {
            $('.survey_export').click(function () {
                $('#survey_load').click();
            });
            $('.survey_export_rotate').click(function () {
                $('#survey_load').click();
            });
            $('#graph').click(function () {
                $('#data-container').html('<%= image_tag "spinner.gif", :style => "margin-left: 525px;margin-top: 20px;text-align: center;" %>');
            });
            $('#tb').click(function () {
                $('#data-container').html('<%= image_tag "spinner.gif", :style => "margin-left: 525px;margin-top: 20px;text-align: center;" %>');
            });


            $('.x-datepicker').datepicker({dateFormat:'yy-mm-dd'});
            $('.survey_csv').click(function () {
                var id = this.id.replace('survey_', '');
                $('#download_survey_id').val(id);
            });

            $(".x-datepicker-day").datepicker({
                onSelect:function (theDate) {
                    var d1 = $('#start_date').datepicker("getDate");
                    var d2 = $('#start_date').datepicker("getDate");
                    d1.setDate(d1.getDate() + 30); // change to + 29 if

                    $("#end_date").datepicker("option", "maxDate", d1);
                    $("#end_date").datepicker("option", "minDate", d2);
                    $('#end_date_show').show();
                },
                beforeShow:function () {
                    $('#ui-datepicker-div').css('z-index', 9999);
                },
                dateFormat:'yy-mm-dd'
            });

            $(".x-datepicker-max-day").datepicker({

                beforeShow:function () {
                    $('#ui-datepicker-div').css('z-index', 9999);
                },
                dateFormat:'yy-mm-dd'
            });
        });
    </script>
<% end %>
<% content_for :modal do %>
    <%= render 'owner/guest_relations/help' %>
<% end %>
