<% require 'csv' %>
<% headers = ["Date", "Time", "Location", "Member", "AVG", "Q1", "Q2", "Q3","Q4","Q5"] %>
<%= CSV.generate_line headers, :row_sep => ?\t, :quote_char => ?\ %>
<% @survey_users.each do |survey_user| %>
  <% avg = survey_user.show_answers(survey_user.answers) %>
  <% res_name = survey_user.receipt.receipt_transactions.first.restaurant.name rescue "-" %>
  <% user_email = survey_user.user.email rescue "-" %>
  <% row = [
    date_only(survey_user.created_at),
    hour_only(survey_user.created_at),
    res_name,
    user_email,
    float_format(avg[:all]) ,
    avg[:q1],
    avg[:q2],
    avg[:q3],
    avg[:q4],
    avg[:q5]
  ] %>
  <%= CSV.generate_line row, :row_sep => ?\t, :quote_char => ?\ %>
<% end %>