<div class="row-fluid section">
    <div class="span6">
        <h2 style="line-height: 34px;">Survey <%= @survey.blank? ? "Data" : @survey.title %></h2>
        <% sr_id = params[:id] || @survey.id rescue nil %><br />
        <br />
        <div class="btn-group">
            <button class="btn glow">Select Survey</button>
            <button data-toggle="dropdown" class="btn glow dropdown-toggle">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <% @list_surveys.each do |survey| %>
                  <li><%= link_to survey.title, owner_surveys_path(:id => survey.id), :method => :get %></li>
              <% end %>
            </ul>
        </div>

      <!--  <div class="btn-group">
            <button class="btn glow">Download Survey</button>
            <button data-toggle="dropdown" class="btn glow dropdown-toggle">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <a href="#surModal" role="button" class="survey_csv" data-toggle="modal" id="survey_load" data-backdrop="static" data-keyboard="false" style="display:none;"></a>
              <% rgs= RotatingGroup.where(:chain_id => @chain.first.id) %>
              <% rgs_ids = rgs.map(&:survey_id).uniq %>
              <li class="nav-header" style="margin-left:10px;"><b>General Survey</b></li>
              <% @list_surveys.each do |survey| %>
                <li>
                  <%= link_to "#{survey.title}", "#",
                              :onclick => "confirm_survey(#{survey.id},null);return true;" %>
                  <%= link_to "#{survey.title}",
                              request_csv_owner_surveys_path(:survey_id => survey.id),
                              :remote => true, :class => "survey_export",
                              :id => "survey_export_#{survey.id}", :style => "display:none;" %>
                </li>
              <% end %>

              <% unless rgs.blank? %>
              <li class="divider"></li>
              <li class="nav-header" style="margin-left:10px;"><b>Rotating Group</b></li>
                <% rgs.each do |m| %>
                    <li>
                      <%= link_to "#{m.name}", "#", :onclick => "confirm_survey(#{m.id},'rotating');return true;" %>
                      <%= link_to "#{m.name}",
                                  request_csv_owner_surveys_path(:rotating_id => m.id,:rotating => 'true'),
                                  :remote => true,
                                  :class => "survey_export_rotate",
                                  :id => "survey_export_#{m.id}_rotating",:target => "_blank",
                                  :style => 'display:none;' %>
                    </li>
                <% end %>
              <% else %>

              <% end %>
            </ul>
        </div> -->
      <% @chain = current_owner.chain %>
      <% survey_id = Survey.have_average([@chain]) %>
      <% survey_id = survey_id.first if survey_id.class == Array and survey_id.size >0 %>
        <%= link_to "View all survey data", all_survey_owner_surveys_path(:survey_id => survey_id), :class => "btn" %>

    </div>
    <div class="span6">
      <%= render :partial => "top_5" %>
    </div>
</div>
<br /><br />
<div class="table-wrapper products-table section">
  <div class="span12">
    <h2></h2>
    <br/>

    <%#= render 'search_form' %>
    <%= form_tag owner_surveys_path(:id => @survey.id), :class => '',:style => "margin-left:-2.4%;",
                 :method => :get, :remote => true do %>
        <div class="">
          <div title="" data-toggle="tooltip" class="head" data-original-title="">
            <input type="text" placeholder="Restaurant's name..." class="search" name="restaurant" style="height:24px;">
            <div class="hide">
              <hr />
              Start
              Date <%= text_field_tag "start_date", nil,
                                      :class => "x-datepicker-day-search",
                                      :readonly => true,
                                      :style => 'cursor:pointer;',
                                      :id => 'start_date_search'%>
              <%= hidden_field_tag "tag" %>
              <br/>
              <div id="end_date_div" style="display:none;">
                End
                Date&nbsp; &nbsp; <%= text_field_tag "end_date", nil,
                                                     :class => "x-datepicker-max-day-search",
                                                     :readonly => true,
                                                     :style => 'cursor:pointer;display:none;',
                                                     :id => 'end_date_search'
              %></div>
              <%= hidden_field_tag "from_reward", true if params[:action].to_s == "rewards" %>
              <hr/>
            </div>
            <%= submit_tag "search", :id => "btn_post",
                           :class => 'btn btn-info', :onclick => "$('#list_container').ajaxloader();" %>
          </div>
        </div>
    <% end %>
  </div>
    <div id="data-container-top" class="row-fluid content-table">
      <div class="row-fluid head">
      </div>
        <% unless @list_surveys.blank? %>
          <div id="list_container">
            <%= render :partial => "list" %>
          </div>
        <% else %>
            There are no survey yet for this chain
        <% end %>

        <div id="dialog-confirm" title="Survey Answer Export csv" style="display:none;">
          <p>Download The survey answers csv ?</p>
        </div>
    </div>
</div>

  <!-- Modal -->
  <div id="surModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <h3 id="myModalLabel">Survey Download</h3>
    </div>

    <div class="modal-body" style="text-align:center;">
      <%= form_tag submit_request_csv_owner_surveys_path, :remote => true do %>
          <%= hidden_field_tag "survey_id",nil %>
          <%= hidden_field_tag "rotating_id",nil %>
          Start Date <%= text_field_tag "start_date" ,nil, :class => "x-datepicker-day",
                                        :readonly => true,:style=> "cursor:pointer;"%><br/>
          <div id="end_date_show" style="display: none;;">
          End Date <%= text_field_tag "end_date",nil,
                                      :class => "x-datepicker-max-day",
                                      :readonly => true,
                                      :style=> "cursor:pointer;"%><br/>
          </div>
          <i id="notif_survey_popup"></i>
          <%= submit_tag "Submit", :style => "display:none;", :id => "submit_survey_csv" %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <%= link_to "OK", "#", :class => "btn",:onclick => "$('#submit_survey_csv').click();$('.modal-footer').html('Please Wait ....');return false;" %>
    </div>
  </div>


<% content_for :javascript_script do %>
    <script>
        function confirm_survey(survey_id,rotating) {

                        if(rotating){
                            $('#rotating_id').val(rotating);
                            $('#survey_id').val('');
                            $("#survey_export_" + survey_id + '_rotating').click();
                        }else
                        {
                            $('#rotating_id').val('');
                            $('#survey_id').val(survey_id);
                            $("#survey_export_" + survey_id).click();
                        }
                        return false;
        }


        $(document).ready(function () {
            $('.survey_export').click(function () {
                $('#survey_load').click();
            });
            $('.survey_export_rotate').click(function () {
                $('#survey_load').click();
            });
            $('#graph').click(function () {
                $('#data-container').html('<%= image_tag "spinner.gif", :style => "margin-left: 525px;margin-top: 20px;text-align: center;" %>');
            });
            $('#tb').click(function () {
                $('#data-container').html('<%= image_tag "spinner.gif", :style => "margin-left: 525px;margin-top: 20px;text-align: center;" %>');
            });


            $('.x-datepicker').datepicker({dateFormat:'yy-mm-dd'});
            $('.survey_csv').click(function () {
                var id = this.id.replace('survey_', '');
                $('#download_survey_id').val(id);
            });

            $(".x-datepicker-day").datepicker({
                onSelect:function (theDate) {
                    var d1 = $('#start_date').datepicker("getDate");
                    var d2 = $('#start_date').datepicker("getDate");
                    d1.setDate(d1.getDate() + 30); // change to + 29 if

                    $("#end_date").datepicker("option", "maxDate", d1);
                    $("#end_date").datepicker("option", "minDate", d2);
                    $('#end_date_show').show();
                },
                beforeShow:function () {
                    $('#ui-datepicker-div').css('z-index', 9999);
                },
                dateFormat:'yy-mm-dd'
            });

            $(".x-datepicker-max-day").datepicker({

                beforeShow:function () {
                    $('#ui-datepicker-div').css('z-index', 9999);
                },
                dateFormat:'yy-mm-dd'
            });
        });
    </script>
<% end %>
