<% if params[:type] == "graph" %>
$('#data-container-top').html('<%= escape_javascript(render "chart_builder") %>');
<% else %>
$('#list_container').html('<%= escape_javascript(render "list") %>');
<% end %>