<% @ids.each do |id|  %>
 $('#request_<%= id%>').html('<%= escape_javascript(render :partial => "status", :locals => {:id => id}) %>')
<% end %>

<%
    chain_ids = current_owner.chains.map(&:id)
    request_count = GuestRelation.where("chain_id in(?) and status = 1", chain_ids).count if current_owner.is_chain_owner?
%>

<% if request_count.to_i > 0 %>
	$('#surveys-menu').html('<a href="<%= owner_surveys_path %>" style="padding-bottom: 25px; padding-top: 10px;"><i class="icon-Surveys"></i><span>Surveys</span></a><a href="<%= all_survey_owner_surveys_path %>" style="border: 0px none; position: absolute; box-shadow: none; padding: 0px; margin: 0px; width: auto; top: 30px;"><span class="badge badge-important"><%= request_count %></span></a>');
<% else %>
	$('#surveys-menu').html('<a href="<%= owner_surveys_path %>" ><i class="icon-Surveys"></i><span>Surveys</span></a>');
<% end %>

$('#x-records').ajaxloader('hide');
$('#request_menu').hide();
$('#select_all').attr('checked',false);