<% content_for :top_menu do %>
    <%= render "owner/greetings/top_menu" %>
<% end %>
<section class="row-fluid btmmgn">
  <section id="tableContainer" class="scroll-pane tableContainer tablewraper clrmrgn">
    <<% if @survey.blank? %>
        <% questions = @surveys.first.questions.map(&:text) %>
    <% else %>
        <% questions = @survey.questions.map(&:text) %>
    <% end %>
    <% question1 = questions[0] rescue "" %>
    <% question2 = questions[1] rescue "" %>
    <% question3 = questions[2] rescue "" %>
    <% question4 = questions[3] rescue "" %>
    <% question5 = questions[4] rescue "" %>

    <div id="x-records">
      <table id="myTable" cellspacing="1" class="table table-striped table-bordered tblstyle tablesorter fntstyle" style="table-layout:fixed;">
        <thead>
        <tr>
          <th class="tblheader "><b>Receipt</b>

            <div class="icontbl"></div>
          </th>
          <th class="tblheader"><b>Date</b>

            <div class="icontbl"></div>
          </th>
          <th class="tblheader"><b>Time</b>

            <div class="icontbl"></div>
          </th>
          <th class="tblheader"><b>Location</b>

            <div class="icontbl"></div>
          </th>
          <th class="tblheader" style="width:auto;overflow:hidden;"><b>Member </b>

            <div class="icontbl"></div>
          </th>
          <th class="tblheader"><b>Avg</b>

            <div class="icontbl"></div>
          </th>
          <th class="tblheader" style="width:auto;"><b>Q.1 </b>
            <a data-original-title="<%= question1 %>" href="#" class="icon-question-sign-small" rel="tooltip" style="background-position:right top;" title="<%= question1 %>"></a>

            <div class="icontbl"></div>
          </th>
          <th class="tblheader" style="width:auto;"><b>Q.2 </b>

            <div class="icontbl"></div>
            <a data-original-title="<%= question2 %>" href="#" class="icon-question-sign-small" rel="tooltip" style="background-position:right top;" title="<%= question2 %>"></a>

            <div class="icontbl"></div>
          </th>
          <th class="tblheader" style="width:auto;"><b>Q.3 </b>

            <div class="icontbl"></div>
            <a data-original-title="<%= question3 %>" href="#" class="icon-question-sign-small" rel="tooltip" style="background-position:right top;" title="<%= question3 %>"></a>

            <div class="icontbl"></div>
          </th>
          <th class="tblheader" style="width:auto;"><b>Q.4 </b>

            <div class="icontbl"></div>
            <a data-original-title="<%= question4 %>" href="#" class="icon-question-sign-small" rel="tooltip" style="background-position:right top;" title="<%= question4 %>"></a>

            <div class="icontbl"></div>
          </th>
          <th class="tblheader uncurve" style="width:auto;"><b>Q.5 </b>

            <div class="icontbl"></div>
            <a data-original-title="<%= question5 %>" href="#" class="icon-question-sign-small" rel="tooltip" style="background-position:right top;" title="<%= question5 %>"></a>

            <div class="icontbl"></div>
          </th>
        </tr>
        </thead>
        <tbody>
        <% @survey_users.each do |survey_user| %>
            <tr class="first">
              <td><a href="#"><i class="icon-picture"></i>
                <% if survey_user.receipt %>
                    <%= link_to "image", survey_user.receipt.image.url, :target => "_blank" %>
                <% end %>
              </a></td>

              <td><%= date_only(survey_user.created_at) %></td>
              <td><%= hour_only(survey_user.created_at) %></td>
              <% begin %>
                  <td><%= survey_user.restaurant.dashboard_display_text %></td>
              <% rescue %>
                  <td><%= survey_user.receipt.last_transaction.restaurant.dashboard_display_text rescue "-" %></td>
              <% end %>
              <td><%= string_format(survey_user.user.email.gsub("@", "@"), :slice_limit => 10) %></td>
              <% avg = survey_user.show_answers(survey_user.answers.includes(:question).order("questions.question_type desc")) %>
              <td><%= float_format(avg[:all]) %></td>
              <td><%= string_format(avg[:q1]) %></td>
              <td><%= string_format(avg[:q2]) %></td>
              <td><%= string_format(avg[:q3]) %></td>
              <td><%= string_format(avg[:q4]) %></td>
              <td><%= string_format(avg[:q5]) %></td>
            </tr>
        <% end %>

        </tbody>
      </table>
    </div>
    <script>
        $(document).ready(function () {
            if ($("[rel=tooltip]").length) {
                $("[rel=tooltip]").popover({
                    offset:10
                })

            }
        });
    </script>
  </section>
</section>

