$('#survey_id').val('<%= params[:survey_id] %>');
$('#survey_id_hidden').val('<%= params[:survey_id] %>');
$('#rotating_id').val('<%= params[:rotating_id] %>');
$('#notif_survey_popup').html('<%= @survey_name.to_s + @rotating_name.to_s+ " can be downloaded for 1 - 31 day periods." %>');