<% div_name = "#{chart_name}" %>

<% query_string = charts_path(chart_name,params.except(:controller, :action,
    :method, :utf8, :authenticity_token, :commit)) %>
<% query_string = query_string.gsub('.','/') %>
<% parameterized_query_string = with_url_params(query_string, params.except(:controller, :action,
    :method, :utf8, :authenticity_token, :commit, :check_values,"_"), params.except(:controller, :action,
    :method, :utf8, :authenticity_token, :commit, :check_values,"_")) %>

<section class="row-fluid" style="float:left;margin-left:0px;margin-bottom: 25px;" draggable="true">
  <div id="<%= div_name %>" >
    <%= image_tag("spinner.gif", :style => "margin-top: 0px;left: 0px; right: 0px; margin-left: auto; margin-right:auto;display:block;") %>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function(){
    $("#<%= div_name %>").load("<%= parameterized_query_string.html_safe %>", function(response, status, xhr) {
      if (status == "error") {
        var msg = "Sorry but there was an error: ";
        $("#error").html(msg + xhr.status + " " + xhr.statusText);
      }
    });

  });
</script>
