<% div_name = "project-#{project_id}-#{chart_name}" %>
<% query_string = project_chart_path project_id, chart_name, params.except(:controller, :action,:type,
  :method,:keyword, :tag, :filter) %>
<% parameterized_query_string = with_url_params(query_string, params, params) %>

<div class="grid_12" style="text-align: center;" draggable="true">
  <div class="box" id="<%= div_name %>">
    <h3><%= title %></h3>
    <%= image_tag("spinner.gif", :style => "margin-top: 30px;") %>
    <p style="color: #ccc; font-size: 10px;"><%#= parameterized_query_string %></p>
    <br class="cl"/>
  </div>
</div>

<script type="text/javascript">


  $(document).ready(function(){


	$("#<%= div_name %>").load("<%= parameterized_query_string.html_safe %>", function(response, status, xhr) {
		if (status == "error") {
		    var msg = "Sorry but there was an error: ";
		    $("#error").html(msg + xhr.status + " " + xhr.statusText);
		}
	});

  });

</script>
