<% if target.errors.any? %>
  <div id="error_explanation">
    <div class="alert-error">Some errors were found, please take a look:</div>
    <div class="alert-error"><%= pluralize(target.errors.count, "error") %> prohibited this record from being saved:</div>
    <ul>
      <% target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>  