<!-- Modal -->
<div id="myModal_help" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="left: 0px; right: 0px; margin: auto; width: 500px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <!--<h3 id="myModalLabel">Contact Our Support</h3>-->
    <div class="col-md-12" style="padding-top:20px;">
      <h4 id="myModalLabel">Contact Our Support </h4>
    </div>
  </div>
  <div class="modal-body">
    <%= form_tag send_message_owner_members_path do %>
        <%= text_field_tag "subject", nil, :placeholder => "Subject", :style => "width:80%;" %>
        <br/>

        <%= text_area_tag "detail", nil, :placeholder => "How can we help you?", :style => "height:200px;width:80%;", :onfocus => '$("#"+$(this).attr("id")+"_error").hide();$(this).removeAttr("class", "error-custom");' %>
        <br/>
        <span id='detail_error' style="color:red;display:none;margin-left: 40px; margin-top: -10px;float: left;"><i class="icon-remove-sign"></i> Please fill this field</span>
        <br/>

        <%= text_field_tag "from", nil, :placeholder => "Email address where we can reach you", :style => "width:80%;", :onfocus => '$("#"+$(this).attr("id")+"_error").hide();$(this).removeAttr("class", "error-custom");' %>
        <br/>
        <span id='from_error' style="color:red;display:none;margin-left: 40px; margin-top: -10px;float: left;"><i class="icon-remove-sign"></i> Please fill this field <br/></span>
        <br/>

        <%= submit_tag "submit", :id => "submit_support", :style => "display:none;" %>
    <% end %>
    <button class="btn-glow primary login" id="submit_button">Send Message</button>
  </div>



</div>

<script>
    $(document).ready(function () {
        $('#submit_button').click(function () {
            detail_val = $('#detail').val();
            from_val = $('#from').val();
            if (detail_val.length < 1 || from_val.length < 1) {
                $('#detail').addClass('error-custom');
                $('#detail_error').show();
                $('#from').addClass('error-custom');
                $('#from_error').show();

                if (detail_val.length >= 1) {
                    $('#detail').removeAttr("class", 'error-custom');
                    $('#detail_error').hide();
                }
                if (from_val.length >= 1) {
                    $('#from').removeAttr("class", 'error-custom');
                    $('#from_error').hide();
                }
            }
            else {
                $('#submit_support').click();
            }
        });

    });
</script>