<div class="page-header">
  <h2>Barcode Batch </h2>
</div>

<table class="table stripped">
  <thead>
  <tr>
    <th>POS Location</th>
    <th>Barcodes</th>
    <th>Size</th>
    <th>Generated At</th>
  </tr>
  </thead>
  <tbody>

  <% @barcode_batchs.each do |barcode_batch| %>
     <tr id="row_<%= barcode_batch.id %>">
       <td><%= barcode_batch.pos_location.restaurant.name rescue nil %></td>
       <td><%= link_to "show", admin_barcode_batch_url(barcode_batch), :class => "btn btn-success" %></td>
       <td><%= barcode_batch.size %></td>
       <td><%= date_helper_timezone(barcode_batch.created_at) %></td>
     </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @barcode_batchs %>