<div class="page-header">
  <h3>Barcode Batchs Show</h3>
</div>

<table>
  <thead>
  <tr>
    <th>No.</th>
    <th>Code</th>
  </tr>
  </thead>
  <tbody>
  <% @codes.each_with_index do |code, i| %>
    <tr>
      <td><%= i+1%></td>
      <td><%= code.code %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2" style="text-align: center">
      <%= will_paginate @codes %>
    </td>
  </tr>
  </tfoot>
</table>
