<%= simple_form_for([:admin, @social_share]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="field">
        <%= f.input :chain_id, :collection => Chain.active.order("name") %>
      </div>
      <div class="field">
        <%= f.input :name %>
      </div>
      <div class="field">
        Start Date <br/>
        <%= text_field_tag "social_share[start_date]",@social_share.new_record? ? nil : @social_share.start_date.strftime('%Y-%m-%d'),
                           :class=>'x-datepicker', :readonly=>true %>
      </div>
      <div class="field">
        End Date   <br/>
        <%= text_field_tag "social_share[end_date]",@social_share.new_record? ? nil : @social_share.end_date.strftime('%Y-%m-%d'),
                 :class=>'x-datepicker', :readonly=>true %>
      </div>
      <div class="field">
        <%= f.input :description, :input_html => {:rows => 5} %>
      </div>
      <div class="field">
        <%= f.input :fb_text, :input_html => {:rows => 5} %>
      </div>
      <div class="field">
        <%= f.input :twitter_text, :input_html => {:rows => 5} %>
      </div>
      <div class="field">
        <%= f.input :instagram_text, :input_html => {:rows => 5} %>
      </div>
      <div class="field">
        <%= f.input :daily_cap, :hint => "Fill with 0 to inactivate daily cap" %>
      </div>
      <div class="field">
        <%= f.input :weekly_cap, :hint => "Fill with 0 to inactivate weekly cap" %>
      </div>
      <div class="field">
        <%= f.input :monthly_cap, :hint => "Fill with 0 to inactivate monthly cap" %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>