<% if social.is_active? == false  || social.is_default == false %>
    <%= link_to "Make Default", activate_admin_social_share_path(social), confirm: "Make active?",  :class => "btn btn-info" %>
<% else %>
    <button href="#" class="btn btn-success disabled">Default</button>
<% end %>
<%= link_to 'Edit', edit_admin_social_share_path(social), :class => "btn" %>
<%= link_to "View Participation", admin_social_share_participants_path(social), :class => "btn" %>
