<% social_shares.each do |social| %>
      <tr>
        <td><%= social.chain.name rescue nil %></td>
        <td><%= link_to social.name, admin_social_share_path(social) %></td>
        <td><%= social.description %></td>
        <td><%= social.daily_cap %></td>
        <td><%= social.weekly_cap %></td>
        <td><%= social.monthly_cap %></td>
        <td id="incentive-<%= social.id %>">
          <% if social.incentive_type.blank? %>
          <%= link_to "Add Incentive", "#ref_modal",
                        :onclick => "#{initialize_modal('ref_modal',
                        pick_incentive_admin_social_share_path(social))}",
                        "data-toggle" => "modal", :class => "btn" %>

          <% else %>
          <%= render :partial => "admin/social_shares/partials/incentive_referer_column", :locals => {:ref => social, :referer => true} %>
            <% end %>
        </td>
        <td id="social_action_<%= social.id%>">
          <%= render :partial => 'link_action', :locals => {:social => social} %>
         </td>
      </tr>
  <% end %>
