<div class="modal-header">
  <a data-dismiss="modal" class="close">×</a>
  <h3>Pick Incentive</h3>
</div>

<div class="body-tab" style="padding:20px;">
  <ul class="nav nav-tabs" id="myTab" data-tabs="tabs"  >
    <li class="active"><a href="#ontime">One Time</a></li>
    <li><a href="#points">Points</a></li>    
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="ontime">
      <div id="ontime-list"></div>
      <a type="button" class="btn btn-primary" href="#" onclick="$('#ref_modal').ajaxloader();
              $.get('<%=  assign_incentive_admin_social_share_path(@social,:type => "reward")%>')"  data-toggle="modal">Create One Time Reward</a>
      <br/><br/><br/>
    </div>

    <div class="tab-pane" id="points">
      <div id="points-list"></div>
      <a type="button" class="btn btn-primary" href="#" onclick="$('#ref_modal').ajaxloader();
              $.get('<%=  assign_incentive_admin_social_share_path(@social, :type => "offer", :referer => @referer)%>')"  data-toggle="modal">Create Points</a>
      <br/><br/><br/>
    </div>
  </div>


  <script type="text/javascript">
      $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });
      $('#ontime-list').ajaxloader('show');
      $('#points-list').ajaxloader('show');
      $('#ref_modal').ajaxloader('show');
      $.ajax({
        url: '<%= load_onetime_reward_admin_social_share_path(@social,
                 :referer => @referer) %>',
        type: 'GET',        
        success: function (result) {          
          $('#ref_modal').ajaxloader('hide');
        }
      });
      $.get('<%= load_points_admin_social_share_path(@social,
                 :referer => @referer) %>');
      $('#myTab a:first').tab('show');
  </script>
</div>
