<% if @referer.blank? %>
$("#incentive-<%= @social.id %>").html("<%= escape_javascript(render :partial => "admin/social_shares/partials/incentive_column", :locals => {:ref => @social, :referer => nil}) %>");
<% else %>
$("#incentive-referer-<%= @social.id %>").html("<%= escape_javascript(render :partial => "admin/social_shares/partials/incentive_referer_column",
:locals => {:ref => @social,
:referer => true}) %>");
<% end %>
$("#ref_modal").html('<%= escape_javascript(render :partial => "admin/social_shares/partials/confirmation", :locals => {:message => "Incentive #{@type} has been added"}) %>');
