<% if @type == "reward" %>
  $('#ref_modal').html("<%= escape_javascript(render "admin/social_shares/partials/incentive_reward") %>");
<% elsif @type == "offer" %>
  $('#ref_modal').html("<%= escape_javascript(render "admin/social_shares/partials/incentive_offer") %>");
<% end %>