<div class="page-header">
  <h1>Listing Social Share</h1>
</div>
<div class="controls">
<%= form_tag group_chain_list_admin_social_shares_path, :remote => true do |f| %>
  <%= select_tag 'chain_id', options_from_collection_for_select(Chain.active.order("name"), :id, :name), :prompt => "Please select chain" %>
    <%= select_tag 'social_share_id', options_for_select(SocialShare.order('chain_id, social_shares.created_at desc').map{|x| [x.name,x.id, {chn_id: x.chain_id}]}), :prompt => "Please select name" %>
    <%= submit_tag "submit", :id => "sub" , class: "btn "%>
    <%= link_to "reset filter",  admin_social_shares_path, class: "btn btn-info" %>
  <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
  <% end %>
</div>

<table>
  <tr>
    <th>Chain</th>
    <th>Name</th>
    <th>Description</th>
    <th>Daily cap</th>
    <th>Weekly cap</th>
    <th>Monthly cap</th>
    <th>Incentive</th>
    <th></th>
  </tr>
<tbody id="list">
  <%= render "list", social_shares: @social_shares %>
</tbody>

</table>
<div id="will_paginate" >
  <%= will_paginate @social_shares %>
</div>
<div class="modal hide fade" id="ref_modal" style="width: 541px;height: 500px;"></div>
<br />

<%= link_to 'New Social Share', new_admin_social_share_path, :class => "btn btn-primary" %>
<script type="text/javascript">
  $("#chain_id").change(function(){
    var t = $(this)
    $("#social_share_id option").val("");
    if(t.val().length > 0){
      console.log(t.val())
      $("#social_share_id option").css("display","none");
      // $("#social_share_id").find("option[chain_id="+t.val()+"]").css("display","block");
      $("#social_share_id option[chn_id="+t.val()+"]").css("display","block");
    }else{
      $("#social_share_id option").css("display","block");
    }
  });
  $("#chain_id").change();
</script>