<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Description:</b>
  <%= @game.description %>
</p>

<p>
  <b>Daily cap:</b>
  <%= @game.daily_cap %>
</p>

<p>
  <b>Weekly cap:</b>
  <%= @game.weekly_cap %>
</p>

<p>
  <b>Monthly cap:</b>
  <%= @game.monthly_cap %>
</p>


<%= link_to 'Edit', edit_admin_game_path(@game) %> |
<%= link_to 'Back', admin_games_path %>