<%= javascript_include_tag "ckeditor/init" %>

<div class="page-header">
  <h4>Editing <%= @email_template.chain.name %>'s <%= @email_template.template_name %> email template (Locale : <%= @email_template.locale.key %>)</h4>
</div>
<%= simple_form_for([:admin, @email_template], :url => admin_chain_email_template_path(@chain, @email_template), :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.input :chain_id, :as => :hidden %>
  <%= f.input :template_name, :collection => @templates  %>
  <%= f.input :locale_id, :collection => @chain.locales %>
  <%= f.input :mail_subject, :input_html => {:style => "width:400px;"} %>
  <%= f.input :mail_content_html, :as => :ckeditor, :input_html => { :toolbar => 'Easy' } %>
  <%= f.input :mail_content_text, :input_html => {:rows => 15, :style => "width:99%;"} %>
  <%#= f.input :send_as, :as => :hidden, :collection => ["multipart/alternative", "text/html", "text/plain"], :include_blank => false %>
  <div class="form-actions">
    <%= f.submit "Update Email Template", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_chain_path(@email_template.chain), :class => "btn" %>
  </div>
<% end %>