<div class="page-header">
  <h4><%= @email_template.chain.name %>'s <%= @email_template.template_name %> email template </h4>
</div>

<table class="table">
  <tr>
    <td>Locale</td>
    <td><%= @email_template.locale.key %></td>
  </tr>
  <tr>
    <td>Send As</td>
    <td><%= @email_template.send_as %></td>
  </tr>
  <tr>
    <td>Subject</td>
    <td><%= @email_template.mail_subject %></td>
  </tr>
  <tr>
    <td>Content(text/html)</td>
    <td><%= @email_template.mail_content_html.html_safe %></td>
  </tr>
  <tr>
    <td>Content(text/plain)</td>
    <td><%= @email_template.mail_content_text %></td>
  </tr>
</table>

<%= link_to "Edit", edit_admin_chain_email_template_path(@chain, @email_template), :class => "btn btn-success" %>
<%= link_to "Preview", "/admin/chains/#{@chain.id}/email_templates/#{@email_template.id}/mail_view", :target => "_blank" , :class => "btn btn-warning" %>
<%= link_to "Back", admin_chain_path(@email_template.chain), :class => "btn" %>
<%= link_to "Destroy", admin_chain_email_template_path(@chain, @email_template), :class => "btn btn-danger", :method => "delete", :confirm => "are you sure?" %>