<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th><a class="order-table" href="#" data-attribute="0">ID</a></th>
    <th><a class="order-table" href="#" data-attribute="1">Batch Id</a></th>
    <th>Xml Content</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |dj| %>
      <tr>
        <td><%= dj.id %></td>
        <td><%= dj.batch_id %></td>
        <td><%= link_to "Show",admin_olo_order_path(dj), :target => '_blank' %></td>
        <td><%= link_to "Order Details",order_details_admin_olo_order_path(dj), :target => '_blank' %></td>
        </td>
      </tr>
  <% end %>
  </tbody>
  <%= will_paginate @orders unless @orders.blank? %>
</table>