Edit Detail

<!--Restaurant Name <br/>-->
<!--<%#= text_field_tag ""%>-->
<!--Email <br/>-->
<%#=%>
# Olo Ref <br/>
<%#=%>
<!--<%%>-->
<!--<%%>-->

<%= simple_form_for [:admin, @detail], :url => post_detail_olo_admin_olo_order_path(@detail) do |f| %>
    <%= f.error_notification %>

    <%= f.input :email %>
    <%= f.input :store_name %>
    <%= f.input :olo_ref %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>

<% end %>
