<% dj = @detail %>
<h1>Detail Olo Detail <%= dj.id %></h1>
<table class="table table-bordered table-condensed">
  <thead>
  <tr style="width:auto;">
    <% ["id", "olo_order_id", "olo_ref", "store_name", "store_ref", "email", "is_guest", "subtotal", "discount", "tax",
        "total", "time_placed", "time_closed", 'issue_time',"receipt id"].each do |hd| %>
        <th>      <%= hd %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= dj.id %></td>
    <td><%= dj.olo_order_id %></td>
    <td><%= dj.olo_ref %></td>
    <td><%= dj.store_name %></td>
    <td><%= dj.store_ref %></td>
    <td style="word-wrap:break-word;"><%= dj.email %></td>
    <td><%= dj.is_guest %></td>
    <td><%= dj.subtotal %></td>
    <td><%= dj.discount %></td>
    <td><%= dj.tax %></td>
    <td><%= dj.total %></td>
    <td><%= dj.time_placed %></td>
    <td><%= dj.time_closed %></td>
    <td><%= dj.issue_time %></td>
    <td>
      <% if dj.receipt_id.blank? %>
          <%= link_to "Process Order", process_olo_detail_admin_olo_order_path(dj), :class => 'btn', :confirm => "Process receipt ? " %>
      <% else %>
          <%= dj.receipt_id %>
      <% end %>

    </td>
  </tr>
</table>

<hr/>
Xml Data <br/>


<%  nok = Nokogiri.parse(@order.xml_data)%>
<pre>
<%=  nok.at("//order//oloRef[contains(text(),'#{dj.olo_ref}')]").parent %>
    </pre>