<div class="page-header">
  <h2>Olo Orders Details for Batch id :<%= @order.batch_id %></h2>
</div>
<%= form_tag batch_process_admin_olo_order_path(@order) do %>
    <%= submit_tag "Process This Orders", :confirm => "Are you sure?" %>
 <% end %>
<table class="table table-bordered table-condensed">
  <thead>
    <tr style="width:auto;">
    <% ["id", "olo_order_id", "olo_ref", "store_name", "store_ref", "email", "is_guest", "subtotal", "discount", "tax",
        "total", "time_placed", "time_closed",'time_wanted','issue_time', "receipt id"].each do |hd| %>
      <th>      <%= hd %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% @details.each do |dj| %>
      <tr>
        <td><%= link_to dj.id ,olo_order_show_admin_olo_order_path(@order,dj.id) , :target => '_blank' %></td>
        <td><%= dj.olo_order_id %></td>
        <td><%= dj.olo_ref %></td>
        <td><%= dj.store_name %></td>
        <td><%= dj.store_ref %></td>
        <td style="word-wrap:break-word;"><%= dj.email %></td>
        <td><%= dj.is_guest %></td>
        <td><%= dj.subtotal %></td>
        <td><%= dj.discount %></td>
        <td><%= dj.tax %></td>
        <td><%= dj.total %></td>
        <td><%= dj.time_placed %></td>
        <td><%= dj.time_closed %></td>
        <td><%= dj.time_wanted %></td>
        <td><%= dj.issue_time %></td>
        <td>
          <% if dj.receipt_id.blank?  %>
              <%= link_to "Process Order" , process_olo_detail_admin_olo_order_path(dj),:class => 'btn', :confirm => "Process receipt ? " %>
              <% else %>
          <%= dj.receipt_id %>
           <% end %>

        </td>

        </td>
      </tr>
  <% end %>
  </tbody>
  <%= will_paginate @details %>
</table>

<%= link_to "Back",admin_olo_orders_path, :class => 'btn' %>