<%= simple_form_for([:admin, @restaurant]) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="x-box">
    <div class="field">
      <%= f.label :chain %>
      <%= f.collection_select(
        "chain_id", Chain.active.order("name"), :id, :name, options ={:prompt => true},
        :onchange => "$.ajax({
    url :'#{owner_restaurant_list_admin_restaurants_path}',
    data : {ch_id : $('#restaurant_chain_id').val(), restaurant_id : #{@restaurant.nil? ? "" : @restaurant.id }}
    })"
      ) %>
      <a href="<%= new_admin_chain_path %>"><%= image_tag "add.png" %></a>
    </div>
    <div class="field">
      <div id="owner_restaurant"></div>
    </div>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :app_display_text %>
      <%= f.text_field :app_display_text %>
    </div>

    <div class="field">
      <%= f.label :dashboard_display_text %>
      <%= f.text_field :dashboard_display_text %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

<!--     <div class="field">
      <%#= f.label :city %>
      <%#= f.collection_select("city_id", City.order("name").limit(20), :id, :label, options ={:prompt => true}) %>
    </div> -->

    <div class="field">
      <%= f.label :city %>
      <% city = "#{@restaurant.city.name}, #{@restaurant.city.region.abbreviation}, #{@restaurant.city.region.country.abbreviation}" rescue nil %>
      <%= text_field_tag :restaurant_city_text, "#{city}" %>
      <%= f.hidden_field :city_id%>
    </div>

    <div class="field">
      <%= f.label :zipcode %>
      <%= f.text_field :zipcode %>
    </div>

    <div class="field">
      <%= f.label :external_partner_id, "External Partner ID" %>
      <%= f.text_field :external_partner_id %>
    </div>

    <div class="field" style="padding-left: 180px;">
      <%=
      f.input :own_coordinates, :label => false,
        :inline_label => 'Please check if you want add coordinates manually',
        :input_html => {:onchange => "if($(this).attr('checked')){$('#latlng').slideDown();}else{$('#latlng').slideUp();}"}
    %>
      <br />
    </div>

    <div id="latlng" style="display: <%= f.object.own_coordinates ? "block" : "none" %>">
      <div class="field">
        <%= f.label :latitude %>
        <%= f.text_field :latitude %>
      </div>
      <div class="field">
        <%= f.label :longitude %>
        <%= f.text_field :longitude %>
      </div>
    </div>

    <div class="field">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>

    <div class="field">
      <%= f.label :rest_tax %>
      <%= f.text_field :rest_tax %>
    </div>

    <div class="field">
      <%= f.label :social_link %>
      <%= f.text_field :social_link %>
    </div>

    <div class="field tag_field">
      <%= f.label :tag %>

      <% tags = ((Tag.system_tags.order('name asc').map(&:name) - @selected_tags).unshift(@selected_tags)).flatten rescue Tag.system_tags.order('name asc').map(&:name) %>
      <%= select_tag "restaurant[tag_list]", options_for_select(tags, @selected_tags), {:include_blank => false, :class => 'select2', :multiple => true}%>
      <br>
    </div>


    <div class="field">
      <%= f.label :online_order_link %>
      <%= f.text_field :online_order_link %>
    </div>

    <div class="field">
      <%= f.label :fishbowl_restaurant_identifier %>
      <%= f.text_field :fishbowl_restaurant_identifier %>
    </div>

    <div class="field">
      <%= f.input :online_order_support_status, as: :boolean, inline_label: 'Online Order Support Status', label: false %>
    </div>

    <%= f.fields_for :restaurant_detail, @restaurant.restaurant_detail do |detail| %>
      <div class="field">
        <% oo_partner = RestaurantDetail::ONLINE_ORDER_PARTNER_TYPES.map{|k,v| ["#{k} --- #{v}",v] } %>
        <%= detail.label :online_order_partner %>
        <%= detail.select("online_order_partner", oo_partner ) %>
      </div>
    <% end %>

    <%= f.fields_for :restaurant_detail, @restaurant.restaurant_detail do |detail| %>
      <div class="field">
        <%= f.label "External Location Store ID" %>
        <%= detail.text_field "external_location_store_id" %>
      </div>
    <% end %>

    <fieldset>
      <legend>Beacon Information</legend>
      <div class="field">
        <%= f.label :beacon_serial_number %>
        <%= f.text_field :beacon_serial_number %>
        <i>E.g : 0117C58FC58E, without 'SN'</i>
      </div>
      <div class="field">
        <%= f.label :beacon_uuid %>
        <%= f.text_field :beacon_uuid %>
        <i>E.g : 567A|6789, without 'UMM'</i>
      </div>
      <div class="field">
        <%= f.label :location_qrcode_identifier %>
        <%= f.text_field :location_qrcode_identifier %>
      </div>
    </fieldset>

    </div>

  </div>
  <% unless @restaurant.new_record? %>
    <div class="page-header">
      <h3>Open Hours Restaurant</h3>
    </div>
    <% index = 0 %>
    <%= f.simple_fields_for :restaurant_hours do |rh| %>
      <% index = index + 1 %>
      <% if index <= 7 %>
      <div class="span12">
        <div class="span2">
          <%= rh.input :day_of_week, :input_html => {:style => "display:none"} %>
          <h3><%= RestaurantHour::WEEKDAY_NAMES[rh.object.day_of_week] %></h3>
        </div>
        <div class="span3"><%= rh.input :open_at, :input_html => {:class => "x-time-picker"} %></div>
        <div class="span3"><%= rh.input :close_at, :input_html => {:class => "x-time-picker"} %></div>
      </div>
      <% end %>
    <% end %>
  <% end %>
  <br/><br/>
  <div class="actions">
    <%= f.button :submit, :class => "btn btn-primary update-restaurant" %>
  </div>
<% end %>
<script>
  $( ".update-restaurant" ).one( "click", function() {
    console.log("clicked one");
  });
  jQuery.ajax({
    url:'<%= owner_restaurant_list_admin_restaurants_path%>',
    data:{ch_id:$('#restaurant_chain_id').val(), restaurant_id: <%=@restaurant.nil? ? "" : @restaurant.id %>}
  });
    <% if @restaurant.new_record? %>
    $("#restaurant_tag_list").multiselect("uncheckAll");
  <% else %>

  <% end %>
</script>