<script type="text/javascript">
  $(".pagination a").bind("click", function() {
    var page = parseInt($(this).text());

    if(page > 0){
      $('#page').val(page);
      $('#loader').show();
      $('#sub').click();
    }else{
      var page = $(this).attr("class");
      var cur_page = parseInt($(".pagination em").text());

      if(page == "previous_page"){
        $('#page').val(cur_page - 1);
        $('#loader').show();
        $('#sub').click();
      }else if(page == "next_page"){
        $('#page').val(cur_page + 1);
        $('#loader').show();
        $('#sub').click();
      }
    }
    return false;
  });
</script>
<table class="table table-bordered table-condensed">
  <caption></caption>
  <thead>
    <tr>
      <th class="th-small ta-center"><a class="order-table" href="#" data-attribute="0">ID</a></th>
      <th><a class="order-table" href="#" data-attribute="1">Chain Name</a></th>
      <th><a class="order-table" href="#" data-attribute="2">Restaurant Name</a></th>
      <th class="th-very-large"><a class="order-table" href="#" data-attribute="3">Address</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="4">Latitude</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="5">Longitude</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="8">Phone</a></th>
      <th class="th-large"><a class="order-table" href="#" data-attribute="6">Restaurant Owners</a></th>
      <th class="th-small"><a class="order-table" href="#" data-attribute="7">Rest Tax</a></th>
      <th class="th-small"><a class="order-table" href="#" data-attribute="">Status</a></th>
      <th class="th-small"><a class="order-table" href="#" data-attribute="">Tags</a></th>
      <th class="th-medium ta-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td class="ta-center"><%= restaurant.id %></td>
        <td><%= restaurant.try(:chain).try(:name) %></td>
        <td><%= restaurant.name.gsub("\u2028","") %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.latitude %></td>
        <td><%= restaurant.longitude %></td>
        <td><%= restaurant.phone_number %></td>
        <td>
          <% if restaurant.try(:chain).present? && restaurant.owner_list.map(&:full_name).length != 0 %>
            <a href="#myModal" data-toggle="modal" class="list-owner" data-attribute="<%= restaurant.owner_list.map(&:full_name).join(", ") %>">
              <%= restaurant.owner_list.map(&:full_name).join(", ").try(:slice, 0, 50) %>...
            </a>
          <% else %>
            no owners
          <% end %>
        </td>
        <td class="ta-center"><%= restaurant.rest_tax %></td>
        <td class="ta-center">
          <%= restaurant_status_color(restaurant) %>
          <%= "<br><span>#{restaurant_status_title(restaurant)}</span>".html_safe rescue "" %>
        </td>
        <td class="ta-center">
          <% restaurant.tags.each do |tg| %>
              <%= link_to "#{tg.name}", admin_restaurants_path(:tag => tg.name), :style => "background-color:##{tg.color};padding:3px;", :class => "link-tags" %>
          <% end %>
        </td>
        <td>
          <div class="btn-group">
            <button class="btn">Action</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <%= link_to 'Show', admin_restaurant_path(restaurant) %>
              <%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %>
              <%= link_to 'Destroy', admin_restaurant_path(restaurant), confirm: 'Are you sure?', method: :delete %>
              <%= link_to 'Show Avg Visit', avg_visit_admin_restaurant_path(restaurant) %>
              <%= link_to 'Change status', change_status_restaurant_admin_restaurant_path(restaurant), :class => 'nyroModal', onclick: "$('[data-toggle=dropdown]').parent().removeClass('open');" %>
              <% if restaurant.status == true %>
                  <%= link_to 'Deactivate', change_status_restaurant_admin_restaurant_path(restaurant, :status => "deactivate"), :class => "", :confirm => 'Are you sure?' %>
              <% else %>
                  <%= link_to 'Activate', change_status_restaurant_admin_restaurant_path(restaurant, :status =>  "activate"), :class => "", :confirm => 'Are you sure?' %>
              <% end %>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @restaurants %>

<script type="text/javascript">
function isDark( color ) {
    var match = /rgb\((\d+).*?(\d+).*?(\d+)\)/.exec(color);
    return parseFloat(match[1])
         + parseFloat(match[2])
         + parseFloat(match[3])
           < 3 * 256 / 2; // r+g+b should be less than half of max (3 * 256)
}

$('.link-tags').each(function() {
    $(this).css("color", isDark($(this).css("background-color")) ? 'white' : 'black');
});
$('.nyroModal').nyroModal();
</script>
