Owners <br/>
<%= select_tag "restaurant_select_id",
               options_from_collection_for_select(@owners, "id", "email", :selected => @selected_owner.map(&:id)),
               {:include_blank => false, :class => "multiselect", :multiple => true} %>
<a href="<%= new_owner_admin_restaurants_path %>"><%= image_tag "add.png" %></a>
<script type="text/javascript">
    $(".multiselect").multiselect({
        selectedText:"# of # selected"
    });
</script>
