<label for="owner_restaurant_collections" class="string optional control-label">Restaurants</label>
<%= select_tag('owner[restaurant_collections]', options_from_collection_for_select(restaurants, :id, :dashboard_display_text, :selected => @owner.blank? ? [] : @owner.restaurant_collections), options ={:multiple => true, :class=>'multiselect-restaurant'}) %>
<span id="loader_restaurant" style="display:none;"><%= image_tag "loader.gif" %></span>
<script type="text/javascript">
  $(".multiselect-restaurant").multiselect({
    selectedText: "# of # selected"
  });
  $(".multiselect-restaurant").multiselect("uncheckAll");
</script>