<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<h3>Restaurant <%= @restaurant.dashboard_display_text %> average visits</h3>


Day Visits :
<br>
<br>
<table>
  <tr>
    <td>User</td>
    <td>
      <% if @ui_order_condition[:date] == "asc" %>
        <i class="fa fa-sort-asc" aria-hidden="true"></i>
      <% elsif @ui_order_condition[:date] == "desc" %>
        <i class="fa fa-sort-desc" aria-hidden="true"></i>
      <% else %>
        <% @ui_order_condition[:date] = "asc" %>
        <i class="fa fa-sort" aria-hidden="true"></i>
      <% end %>
      <%= link_to ' Visit At', avg_visit_admin_restaurant_path(params[:id], :sort_by_date => "#{@ui_order_condition[:date]}") %>
    </td>
  </tr>

<%= email_before = nil %>
<% @day_visits.each do |visit| %>
     <% email = visit.user.email %>
    <% if visit.visit_at %>
     <tr>
       <td><%= link_to email,user_visits_admin_restaurant_path(visit.restaurant_id, visit.user_id) if email_before != email %></td>
       <td><%= visit.visit_at %></td>
     </tr>
      <% end %>
     <% email_before = email %>
<% end %>

</table>