<div class="page-header">
  <h2>Change status: <%= @restaurant.name %></h2>
</div>
<%= simple_form_for([:admin, @restaurant], :url => save_status_restaurant_admin_restaurant_path(@restaurant)) do |f| %>
  <div class="x-box">
    <div class="">
      <div class="field">
        <%= label_tag :status %>
        <%= select_tag :status, options_for_select([["Active", 0],["Inactive", 1], ["Coming Soon", 2], ["Temporary Closed", 3], ["Testing", 4]], :selected => @status), :class=>'x-col3-dropdown', :style => "width:150px" %>
      </div>
    </div>
  </div>
  <%= submit_tag "save" %>
<% end %>