<h1>Listing Deleted restaurants</h1>
<div id="restaurants">
  <table>
    <caption></caption>
    <thead>
      <tr>
        <th>Restaurant Id</th>
        <th>Chain Name</th>
        <th>Restaurant Name</th>
        <th>Address</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Restaurant Owners</th>
      </tr>
    </thead>
    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.id %></td>
          <td><%= restaurant.chain.name %></td>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.address %></td>
          <td><%= restaurant.latitude %></td>
          <td><%= restaurant.longitude %></td>
          <td>
            <%= link_to 'Revive', revive_admin_restaurant_path(restaurant) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @restaurants %>
</div>
<br/>
<%= link_to 'New Restaurant', new_admin_restaurant_path %> |
<%= link_to "Restaurants", admin_restaurants_path %>