<div class="page-header">
  <h1>Import Restaurants Using FTP</h1>
</div>

<form action="<%= import_by_ftp_admin_restaurants_path %>" method="post" onsubmit="$('input').attr('readonly','readonly');$('button').attr('readonly','readonly');$('select').attr('readonly','readonly')">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
	<div class="field">
		<label>Chain</label>
		<select id="ftp_chain" name="chain">
			<% Chain.order("name").each do |c| %>
				<option value="<%= c.id %>"><%= c.name %></option>
			<% end %>
		</select>
	</div>

	<div class="field">
		<label>XLS / CSV File</label>
    <!-- <input name="name" type="text" value="" /><br> -->
		<select style="float: left" id="fname" name="fname">
			<option disabled="disabled">Please select</option>
		</select>
    <span id="loader" style="display:none;float: left;margin: 4px;"><%= image_tag "loader.gif" %></span>

    <!-- <span>Write name of file on ftp server without extension.</span><br> -->
		<!-- <span>Only work for xls file.</span><br><br> -->
	</div>
	<div class="clearfix"></div>
	<button id="submit" type="submit" class="btn btn-primary">Submit</button>
	<br>
	<br>
	<br>
	<%= link_to "See Sample XLS Files #{image_tag('icon_csv.png')}".html_safe,import_restaurants_admin_restaurants_path(:format => :xls, :ftp => true) %> | 
	<%= link_to "See Sample CSV Files #{image_tag('icon_csv.png')}".html_safe,import_restaurants_admin_restaurants_path(:format => :csv, :ftp => true) %> 

</form>

<script type="text/javascript">
	$("#ftp_chain").change(function(){
    $('#loader').show();
		$(this).attr("disabled","disabled");
		$("#fname").attr("disabled","disabled");
		$("#submit").attr("disabled","disabled");

		$.ajax({ 
			url: '<%= get_list_file_ftp_admin_restaurants_path %>', data: {chain : $(this).val()} 
		});
	});
</script>
