var options = "<option disabled='disabled'>Please select</option>"
<% if !@files.blank? %>
	<% @files.each do |file| %>
		options = options + "<option value=" + '"' + "<%= file %>" + '"' + "><%= file %></option>"
	<% end %>
<% end %>
$("#fname").html(options);
$('#loader').hide();
$("#ftp_chain").removeAttr("disabled");
$("#fname").removeAttr("disabled");
$("#submit").removeAttr("disabled");
