<%= form_tag import_preview_admin_restaurants_path, :multipart => true do %>
  <label class="control-label"><h4>Upload xls/csv files</h4></label>
  <div title="Input Excel or CSV" class="controls">
    <%= file_field_tag :xls %>
  </div>
  <%= submit_tag 'Preview', :class => 'btn btn-primary' %>
<% end %>

<%= link_to "See Sample Xls Files #{image_tag('icon_csv.png')}".html_safe,import_restaurants_admin_restaurants_path(:format => :xls) %>
<!--- table preview for restaurant data -->
<% unless @restaurants.blank? %>
  <%= form_tag create_import_admin_restaurants_path do %>
    <div class="span8"><%= select_tag 'chain_id', options_from_collection_for_select(Chain.active.order('name'), :id, :name) %></div>
    <div class="span8" style="width:100%;">
      <table class="table stripped">
        <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Name</th>
          <th>App display</th>
          <th>Dashboard display</th>
          <th>Select city</th>
          <th>Tags</th>
          <th>external partner ID</th>
          <th>State ( non mandatory ) </th>
          <th>Country ( non mandatory ) </th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% @restaurants.compact.each_with_index do |x, index| %>
          <tr id="<%= index %>">
            <td><%= check_box_tag 'restaurants[]', index, true, :id => "checkbox_#{index}" %></td>
            <%= hidden_field_tag 'city_ids[]', (x.city_id.blank? ? City.first.id : x.city_id), :id => "city_val_#{index}" %>
            <td><%= x.name %></td>
            <td><%= x.app_display_text %></td>
            <td><%= x.dashboard_display_text %></td>
            <td><%#= select_tag "city", options_from_collection_for_select(City.all, :id, :name, x.city_id),
                                     :onchange => "$('#city_val_#{index}').val($('#city_#{index}').val());", :id => "city_#{index}", :style => "width:80px;" %>

              <%= select_tag 'city',
                             options_for_select(City.all.map { |c| [c.name, c.id] }, x.city_id),
                             :onchange => "$('#city_val_#{index}').val($('#city_#{index}').val());",
                             :id => "city_#{index}", :style => 'width:80px;' %>

            </td>
            <td><%= x.tag_import %></td>
            <td><%= x.external_partner_id %></td>
            <td><%= x.state_import %></td>
            <td><%= x.country_import %></td>
            <td><%= link_to 'Remove', '#', :onclick => "$('##{index}').remove();return false;" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="span8">
      <%= submit_tag 'Import', :class => 'btn btn-primary' %>
    </div>
  <% end %>
  <div class="clearfix"></div>
<% end %>