<table>
  <thead>
  <%  ['Name',
                    'App display text',
                    'Dashboard display text',
                    'Address',
                    'Zipcode',
                    'Phone Number',
                    'Latitude',
                    'Longitude',
                    'Tags'
  ].each do |x| %>
  <%= "<th>#{x}<th>".html_safe %>
  <% end %>
  </thead>
</table>