<div class="page-header">
  <h3>Import Restaurant - <%= @status == 1 ? "Success" : "Failed" %> Restaurants</h3>
</div>

<table>
  <thead>
  <tr>
    <th>No</th>
    <th>Restaurant Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @lists.each_with_index do |list, index| %>
      <tr>
        <td><%= index += 1 %></td>
        <td><%= list.kind_of?(Array) ? list[0] : list  rescue nil %></td>
        <td><%= list.kind_of?(Array) ? list[1] : nil rescue nil %></td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="3">
      <%= will_paginate @lists %>
    </td>
  </tr>
  </tfoot>


</table>

<br />

<%= link_to "Back", import_restaurants_histories_admin_restaurants_path, :class => "btn btn-primary"%>