<div class="page-header">
  <h3>Import Restaurant Histories</h3>
</div>

<%= simple_form_for(:search, :url => import_restaurants_histories_admin_restaurants_path, :method => :get) do |f| %>
    <%= select_tag :chain_id, options_for_select(Chain.active.order("name").map{|a| [a.name, a.id]}.unshift([""]), params[:chain_id]) %>
    <%= submit_tag "Search", :class => "btn btn-primary" %>
<% end %>
<table>
  <thead>
  <tr>
    <th>Chain</th>
    <th>Log Type</th>
    <th>Status</th>
    <th>Success Restaurants</th>
    <th>Failed Restaurants</th>
    <th>Run At</th>
    <th>Completed At</th>
    <th>Error Report</th>
  </tr>
  </thead>
  <tbody>
  <% @histories.each do |log| %>
      <tr>
        <td><%= log.chain.name rescue nil %></td>
        <td><%= log.log_type%></td>
        <td><%= log.status%><br>( <%= log.file_name %> )</td>
        <td><%= link_to((log.success_restaurants.count rescue 0), import_restaurants_status_admin_restaurants_path(:id => log.id, :status => 1)) %></td>
        <td><%= link_to((log.failed_restaurants.count rescue 0), import_restaurants_status_admin_restaurants_path(:id => log.id, :status => 2)) %></td>
        <td><%= date_helper(log.created_at) rescue "-"%></td>
        <td><%= date_helper(log.updated_at) rescue "-"%></td>
        <td><%= log.error_message %></td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="8">
      <%= will_paginate @histories %>
    </td>
  </tr>
  </tfoot>


</table>

<br />