<% require 'csv' %>
<% headers = ['Name',
              'App display text',
              'Dashboard display text',
              'Address',
              'Zipcode',
              'Phone Number',
              'Latitude',
              'Longitude',
              'Tags'
] %>
<%= CSV.generate_line headers, :row_sep => ?\t, :quote_char => ?\ %>
<% 1.upto(10) do |i| %>
    <% row = [] %>
    <% row << "Restaurant Name (#{i+1})" %>
    <% row << "Display Name (#{i+1})" %>
    <% row << "Dashboard Display (#{i+1})" %>
    <% row << "Street (#{i+1})" %>
    <% row << "Street (#{4000+i})" %>
    <% row << "#{8995213+i}" %>
    <% row << "#{i+1}" %>
    <% row << "#{i+4}" %>
    <% row << "Tag #{i+1}, Tag #{i+2}" %>
    <%= CSV.generate_line row, :row_sep => ?\t, :quote_char => ?\ %>
<% end %>