<script type="text/javascript">
    $(document).ready(function () {
        $('#search_btn').click(function () {
            $('#search_text_hidden').val($('#search_text').val());
            $('#address').val($('#search_by_address').val());
            $('#tag').val($('#search_by_tags').val());
            $('#page').val(1);
            $('#loader').show();
            $('#sub').click();
        });

        $('.order-table').bind("click", function () {
            var ordvalcur = $(this).attr('data-attribute');
            var ordvalbef = $('#qry_order').val();

            if (ordvalcur == ordvalbef) {
                $('#qry_order').val(parseInt(ordvalbef) + 1000)
            } else {
                $('#qry_order').val($(this).attr('data-attribute'));
            }

            $('#search_btn').click();
        });

        $('#search_text').keypress(function (e) {
            if (e.which == 13) {
                $('#search_btn').click();
            }
        });

        $(".list-owner").bind("click", function () {
            var data = $(this).attr("data-attribute");
            $('.modal-body').html('<p class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;">' + data + '</p>');
            $('#myModalLabel').html('Full Restaurant Owners');
        });
        var string_name_tags = "<%= @name_tags %>";

        $("#search_by_tags").val("");
        $("#search_by_tags").autocomplete({
          delay: 1000,
          minLength: 0,
          source: string_name_tags.split(","),
          change: function( event, ui ) {
            // Selected an item, nothing to do
            if ( ui.item ) {
              return;
            }

            // Search for a match (case-insensitive)
            var value = $(this).val(),
              valueLowerCase = value.toLowerCase(),
              valid = false;
            $(this).children( "option" ).each(function() {
              if ( $( this ).text().toLowerCase() === valueLowerCase ) {
                this.selected = valid = true;
                return false;
              }
            });

            // Found a match, nothing to do
            if ( valid ) {
              return;
            }

            // Remove invalid value
            $(this).val( "" )
            $("#tags").val( "" );
          },
          select: function( event, ui ) {
            $("#tags").val(ui.item.value);
          }
        });

    });
</script>
<div class="page-header">
  <h1>Listing restaurants</h1>
</div>
<% unless params['region'].blank? %>
    <div style="padding: 10px">
      <div class="alert alert-info">
        Region : <%= params['region'] %> selected ,
        <%= link_to "clear filter", admin_restaurants_path, :class => 'btn btn-info pull-right' %>
      </div>
      <br/>
      <center>
        <a href="#" class="btn" data-dismiss="modal" id="close-btn-modal">Close</a>
      </center>
      <br/>
    </div>

<% end %>
<div class="controls">
  <%= select_tag 'chain_restaurants', options_from_collection_for_select(Chain.active.order("name"), :id, :name), :prompt => "Please select chain",
                 :onchange => "$('#chn_id').val(this.value);$('#page').val(1);$('#search_text_hidden').val($('#search_text').val());$('#loader').show();$('#sub').click();" %>
  <%= search_field_tag "search_text", nil, :placeholder => "Name or ID" %>
  <%= search_field_tag "search_by_address", nil, :placeholder => "Address" %>
  <%= search_field_tag "search_by_tags", nil, :placeholder => "Tag" %>
  <%= button_tag "Search", :id => "search_btn", :style => "width: 65px; height: 30px; margin-bottom: 8px;" %>
  <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
</div>
<div id="restaurants">
  <table class="table table-bordered table-condensed">
    <caption></caption>
    <thead>
    <tr>
      <th class="th-small ta-center"><a class="order-table" href="#" data-attribute="0">ID</a></th>
      <th><a class="order-table" href="#" data-attribute="1">Chain Name</a></th>
      <th><a class="order-table" href="#" data-attribute="2">Restaurant Name</a></th>
      <th class="th-very-large"><a class="order-table" href="#" data-attribute="3">Address</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="4">Latitude</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="5">Longitude</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="8">Phone</a></th>
      <th class="th-large"><a class="order-table" href="#" data-attribute="6">Restaurant Owners</a></th>
      <th class="th-small"><a class="order-table" href="#" data-attribute="7">Rest Tax</a></th>
      <th class="th-small"><a class="order-table" href="#" data-attribute="">Status</a></th>
      <th class="th-small"><a class="order-table" href="#" data-attribute="">Tags</a></th>
      <th class="th-medium ta-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @restaurants.each do |restaurant| %>
        <tr>
          <td class="ta-center"><%= restaurant.id %></td>
          <td><%= restaurant.chain.name %></td>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.address %></td>
          <td><%= restaurant.latitude %></td>
          <td><%= restaurant.longitude %></td>
          <td><%= restaurant.phone_number %></td>
          <td>
            <% if restaurant.owner_list.map(&:full_name).length != 0 %>
                <a href="#myModal" data-toggle="modal" class="list-owner" data-attribute="<%= restaurant.owner_list.map(&:full_name).join(", ") %>">
                  <%= restaurant.owner_list.map(&:full_name).join(", ").try(:slice, 0, 50) %>...
                </a>
            <% else %>
                no owners
            <% end %>
          </td>
          <td class="ta-center"><%= restaurant.rest_tax %></td>
          <td class="ta-center">
            <%= restaurant_status_color(restaurant) %>
            <%= "<br><span>#{restaurant_status_title(restaurant)}</span>".html_safe rescue "" %>
          </td>
          <td class="ta-center">
            <% restaurant.tags.each do |tg| %>
                <%= link_to "#{tg.name}", admin_restaurants_path(:tag => tg.name), :style => "background-color:##{tg.color};padding:3px;", :class => "link-tags" %>
            <% end %>
          </td>
          <td>
            <div class="btn-group">
              <button class="btn">Action</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <%= link_to 'Show', admin_restaurant_path(restaurant) %>
                <%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %>
                <%= link_to 'Destroy', admin_restaurant_path(restaurant), confirm: 'Are you sure?', method: :delete %>
                <%= link_to 'Show Avg Visit', avg_visit_admin_restaurant_path(restaurant) %>
                <%= link_to 'Change status', change_status_restaurant_admin_restaurant_path(restaurant), :class => 'nyroModal' %>
                <% if restaurant.status == true%>
                    <%= link_to 'Deactivate', change_status_restaurant_admin_restaurant_path(restaurant, :status => "deactivate"), :class => "", :confirm => 'Are you sure?' %>
                <% else %>
                    <%= link_to 'Activate', change_status_restaurant_admin_restaurant_path(restaurant, :status =>  "activate"), :class => "", :confirm => 'Are you sure?' %>
                <% end %>
              </ul>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @restaurants %>
</div>
<br/>
<%= link_to 'New Restaurant', new_admin_restaurant_path, :class => 'btn btn-primary' %>
<%= link_to "Deleted Restaurants", deleted_admin_restaurants_path, :class => 'btn btn-primary' %>
<%= link_to "New Restaurant Owner", new_owner_admin_restaurants_path, :class => 'btn btn-primary' %>
<%= link_to "New Manager", new_admin_manager_path, :class => 'btn btn-primary' %>
<%= link_to "Import From xls /csv", import_restaurants_admin_restaurants_path, :class => 'btn btn-primary' %>
<%= link_to "Upload From xls /csv", upload_restaurants_admin_restaurants_path, :class => 'btn btn-primary' %>
<%= link_to "Import from xls /csv using FTP", ftp_form_admin_restaurants_path, :class => 'btn btn-primary' %>
<%= link_to "Import Histories", import_restaurants_histories_admin_restaurants_path, :class => 'btn btn-primary' %>


<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-header">

    <h3 id="myModalLabel"></h3>
  </div>
  <div class="modal-body">
    <p class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;">

    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').hide();">Close</button>
  </div>
</div>

<%= form_tag group_chain_list_admin_restaurants_path, :id => "form", :class => 'form-horizontal', :style => "display:none;", :remote => true do %>
    <%= hidden_field_tag "chn_id" %>
    <%= hidden_field_tag "search_text_hidden" %>
    <%= hidden_field_tag "qry_order" %>
    <%= hidden_field_tag "page" %>
    <%= hidden_field_tag "address" %>
    <%= hidden_field_tag "tag" %>
    <%= submit_tag "submit", :id => "sub" %>
<% end %>

<script type="text/javascript">
function isDark( color ) {
    var match = /rgb\((\d+).*?(\d+).*?(\d+)\)/.exec(color);
    return parseFloat(match[1])
         + parseFloat(match[2])
         + parseFloat(match[3])
           < 3 * 256 / 2; // r+g+b should be less than half of max (3 * 256)
}

$('.link-tags').each(function() {
    $(this).css("color", isDark($(this).css("background-color")) ? 'white' : 'black');
});
$('.nyroModal').nyroModal();
</script>
