<div class="page-header">
  <h1>New Restaurant Owner</h1>
</div>

<%= simple_form_for @owner, :url => create_owner_admin_restaurants_path do |f| %>
  <% if @owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
        <% @owner.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="x-box">
    <%= f.input :role_id, :as => :hidden %>
    <div class="field">
      <%= f.label :chain_id %>
      <%= f.input_field :chain_id, :collection => Chain.order("name"), :id => "chain" %>
    </div>

    <div class="field">
      <% restaurants = @owner.chain_id.blank? ? [] : Restaurant.where(:chain_id => @owner.chain_id) %>
      <div id="restaurant_choice">
        <%= render "restaurant_choices", {:restaurants => restaurants} %>
      </div>
      <%= hidden_field_tag('restaurant_ids', restaurants.map(&:id)) %>
    </div>
    <br/>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :title %>
      <%= f.email_field :title %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

    <% unless @owner.new_record? %>
      <div id="pwd" class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div id="pwd" class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :city %>
      <%= text_field_tag :owner_city_text, @owner.try(:city).try(:label) %>
      <%= f.hidden_field :city_id %>
    </div>

    <div class="field">
      <%= f.label :zipcode %>
      <%= f.text_field :zipcode %>
    </div>

    <div class="field">
      <%= f.label :work_contact_number %>
      <%= f.text_field :work_contact_number %>
    </div>

    <div>
      <%= f.label :cell_contact_number %>
      <%= f.text_field :cell_contact_number %>
    </div>

    <% if @owner.new_record? %>
      <i>
        <b>Note : </b>
        Password will send to owner by email
      </i>
    <% end %>
    
    <br/><br/><br/>
    <div>
      <%= f.submit "Submit", :class => "btn btn-primary" %>
      <%= link_to 'Back', admin_restaurants_path, :class => "btn" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(".multiselect-owner").multiselect({
    multiple: false,
    selectedText: "# of # selected"
  });
  
  $(".multiselect-restaurant").multiselect({
    selectedText: "# of # selected"
  });
</script>