<p id="notice"><%= notice %></p>

Name: <%= @restaurant.name%> <br />
Chain: <%= @restaurant.chain.name %><br />
Contact: <%= @restaurant.contact %><br />
Address: <%= @restaurant.address %><br />
City: <%= @restaurant.try(:city).try(:label) %><br />
Zipcode: <%= @restaurant.zipcode %><br />
Social link: <%= @restaurant.social_link %><br />
External Partner Id: <%= @restaurant.external_partner_id %><br />
<br />
Latitude: <%= @restaurant.latitude %><br />
Longitude: <%= @restaurant.longitude %><br />
<br />
Status changed from: <%= Restaurant::TYPES.key(@restaurant.restaurant_detail.status_changed_from) rescue nil %><br />
Status changed to: <%= Restaurant::TYPES.key(@restaurant.restaurant_detail.status_changed_to) rescue nil %><br />
Status changed date: <%= date_helper(@restaurant.restaurant_detail.status_changed_date) rescue nil %><br />

<div class="page-header">
  <h3>Open Hour</h3>
</div>
<% @restaurant.restaurant_hours.order("day_of_week ASC").uniq(&:day_of_week).each do |rh| %>
  <div class="span12">
    <div class="span2">
      <%= RestaurantHour::WEEKDAY_NAMES[rh.day_of_week] %>
    </div>
    <div class="span3"><%= rh.open_at %> - <%= rh.close_at %></div>
  </div>
<% end %>

<%= link_to 'Edit', edit_admin_restaurant_path(@restaurant) %> |
<%= link_to 'Back', admin_restaurants_path %>
