<%= form_tag do_upload_restaurants_admin_restaurants_path, :multipart => true do %>
    <label class="control-label"><h4>Upload xls/csv files</h4></label>
    <div class="controls">
      <%= select_tag 'chain_id', options_from_collection_for_select(Chain.active.order("name"), :id, :name), prompt: "please select chain" %>
    </div>
    <div title="Input Excel or CSV" class="controls">
      <%= file_field_tag :rest_file %>
    </div>
    <%= submit_tag "Upload", :class => "btn btn-primary" %> 
    <%= link_to "See Upload logs", import_restaurants_histories_admin_restaurants_path, :class => "btn btn-primary"%>
<% end %>

<%#= link_to "See Sample Xls Files #{image_tag('icon_csv.png')}".html_safe,import_restaurants_admin_restaurants_path(:format => :xls) %>