<h3>Avg Visit</h3>

<%= @user.email %><br />
Visit At : <br/>

<% unless @day_visits.blank? %>
    <% @day_visits.each do |dv| %>
        <%= dv.visit_at %>  |  => <%= dv.restaurant.dashboard_display_text rescue "-"%> <br>
    <% end %>
<% end %>

<% unless @hash_result.blank? %>
    <% @hash_result.each do |rs| %>
        <p><%=rs[:restaurant_id]  %> | AVG = <%= rs[:average] %> </p>
    <% end %>
<% end %>