<%= javascript_include_tag "ajaxupload" %>
<script>
  $(document).ready(function(){
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function() {
      $('#data-container').ajaxloader('show');
    });

    $('.tata-ajax-loader').click(function(){
      alert("hide this");
      $('.tata-ajax-loader').hide();
    });

    $('.submit_search').click(function() {
      $('#data-container').ajaxloader('show');
    });

    $("#new_form").bind("ajax:success",function(evt,xhr,settings){
      alert("adfasfdsaf");
    });

    $(".x-search-datepicker").datepicker({
      dateFormat: 'yy-mm-dd'
    });
  });
</script>

<%= render 'searchform' %>

<table class="table">
  <thead>
  <tr>
    <th>Gifter Email</th>
    <th>Gifter Name</th>
    <th>Giftee Email</th>
    <th>Giftee Name</th>
    <th>Card Number</th>
    <th>Amount</th>
    <th>Notification Email</th>
    <th>Image Header Url</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
    <% @vantiv_gift_card_email_sent_logs.each do |vgc| %>
    <tr>
      <td class="word_wrap"><%= vgc.user.email %></td>
      <td class="word_wrap"><%= vgc.gifter_name %></td>
      <td class="word_wrap"><%= vgc.giftee_email %></td>
      <td class="word_wrap"><%= vgc.giftee_name %></td>
      <td><%= vgc.card_number %></td>
      <td class="word_wrap"><%= vgc.giftcard_amount %></td>
      <td class="word_wrap"><%= vgc.custom_message %></td>
      <td><%= image_tag vgc.image_header_url %></td>
      <td><%=link_to "Resend", resend_mail_admin_vantiv_gift_card_email_sent_log_path(vgc), remote: true, method: :post, class: "btn btn-primary" %>
        <div id="data-container-resend" style="margin-left:0px !important;"></div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @vantiv_gift_card_email_sent_logs, :params=> @query rescue "" %>
