<%= form_tag(search_admin_vantiv_gift_card_email_sent_logs_path, :id => 'x-search', :class => 'form-horizontal', :remote => true, :method => :post) do |f| %>
    <%= hidden_field_tag "chain_id", @query[:chain_id] %>
  <fieldset>
    <div class="span12" style="margin-left:0px !important">
      <div class="span5">
        <div class="field control-group">
          <label class="control-label">From Date</label>
          <div class="controls">
            <%= text_field_tag "from", @query[:from], :class => 'x-search-datepicker', :readonly=>true %>
          </div>
        </div>
        <div class="field control-group">
          <label class="control-label">To Date</label>
          <div class="controls">
            <%= text_field_tag "to", @query[:to], :class=>'x-search-datepicker', :readonly=>true %>
          </div>
        </div>
        <div class="field control-group">
          <label class="control-label">Gifter Email</label>
          <div class="controls">
            <%= text_field_tag "gifter_email", @query[:gifter_email], :style=>'width:300px', class: "search-text" %>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
      <div class="form-actions">
        <%= hidden_field_tag "qry_order" %>
        <%= submit_tag "Search",:class =>"submit_search btn btn-primary", :id => "sub_button1"%>
        <%= link_to "Reset Filter", "#", :onclick => "$('#from').val('');$('#to').val('');$('#gifter_email').val('');$('#sub_button').click();", :class => "btn" %>
      </div>
    </div>
  </fieldset>
<% end %>
<div style="clear:both"></div>
