<%= simple_form_for([:admin, @application]) do |f| %>
  <%= render "shared/error_messages", :target => @application %>

  <div class="form-inputs">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :chain %>
      <%= f.collection_select("chain_id", Chain.active.order("name"), :id, :name, {:prompt => true}, {class: "form-control"}) %>
    </div>
    <div class="form-group">
      <%= f.label :device_type %>
      <%= f.select :device_type, DEVICE_TYPE_SELECT.to_a, {:prompt => true}, {class: "form-control"} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>
<% end %>
