<div class="page-header">
  <h1>Editing application</h1>
</div>
<div class="col-md-6">
  <%= render 'form' %>

  <%= link_to 'Show', admin_application_path(@application) %> |
  <%= link_to 'Back', admin_applications_path %>
</div>
