<div class="page-header">
  <h1>Listing applications</h1>
</div>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Chain</th>
      <th>Device Type</th>
      <th></th>
    </tr>

  </thead>
  <tbody>
    <% @applications.each do |application| %>
    <tr>
      <td><%= application.name %></td>
      <td><%= application.chain.name %></td>
      <td><%= DEVICE_TYPE_SELECT.invert[application.device_type] rescue "-" %></td>
      <td>
        <div class="btn-toolbar">
          <div class="btn-group">
            <%= link_to "Application Keys", admin_application_application_keys_path(application), :class => 'btn btn-primary' %>
          </div>&nbsp;&nbsp;
          <div class="btn-group">
            <button class="btn">Action</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
              <%= link_to 'Show', admin_application_path(application), :class => 'dropdown-item' %>
              <%= link_to 'Edit', edit_admin_application_path(application), :class => 'dropdown-item' %>
              <% if application.status.eql?('active') %>
              <%= link_to 'Deactivate', change_status_admin_application_path(application, "deactivate"), :class => 'dropdown-item', :confirm => 'Are you sure?' %>
              <% else %>
              <%= link_to 'Activate', change_status_admin_application_path(application, "activate"), :class => 'dropdown-item', :confirm => 'Are you sure?' %>
              <% end %>
              <%= link_to "Application Keys", admin_application_application_keys_path(application), :class => 'dropdown-item' %>
              <% if application.device_type.eql?(2) %>
              <%= link_to "Apple Notification Setting", admin_application_certificates_path(application), :class => 'dropdown-item' %>
              <%= link_to "Test Send APN", test_send_apn_admin_application_path(application), :class => 'dropdown-item' %>
              <% else %>
              <%= link_to "Android Notification Setting", set_key_admin_application_path(application), :class => 'dropdown-item' %>
              <% end %>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Application', new_admin_application_path, :class => 'btn btn-primary' %>
