<h1>Set Key For Android Application</h1>
<%= simple_form_for([:admin, @application]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="field">
      <%= f.input :key %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Update Key", :class => "btn" %>
  </div>
<% end %>

<%= link_to 'Show', admin_application_path(@application) %> |
<%= link_to 'Back', admin_applications_path %>
