<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @application.name %>
</p>

<p>
  <b>Chain:</b>
  <%= @application.chain.name %>
</p>

<p>
  <b>Device Type:</b>
  <%= device_name(@application.device_type) %>
</p>
<% if @application.device_type.eql?(1) %>
  <p>
    <b>Key:</b>
    <%= @application.key %>
  </p>
<% end %>
<%= link_to 'Edit', edit_admin_application_path(@application) %> |
<%= link_to 'Back', admin_applications_path %>
