<% if @certificate %>
  <div class="page-header">
    <h3>Test Send Apple Push Notification</h3>
  </div>
<%= render "shared/error_messages.html", {:target => @rapns} %>
  <%= simple_form_for(@rapns, :url => send_apn_admin_application_path(@application)) do |f| %>
    <%#= f.input :app, :input_html => {:value => @certificate.name, :readonly => true} %>
    Key : <br />
    <div class="field">
      <%= text_field_tag :name, @certificate.name, :readonly => true %>
    </div>
    <div class="field">
      <%= f.input :device_token %>
    </div>
    <div class="field">
      <%= f.input :alert, :label => "Message" %>
    </div>
    <div class="field">
      <%= f.input :badge %>
    </div>
    <%= link_to "Cancel", admin_applications_path, :class => 'btn' %>
    <%= f.submit "Test Send", :class => "btn btn-primary" %>
  <% end %>

<% else %>
  <br />
  <br />
  <h3>Before you test send APN, Please setup Apple push Notification first. </h3>
  <br />
  <h3><%= link_to "Setup now", new_admin_application_certificate_path(@application) %></h3>
  <br />
  <%= link_to "Back", admin_applications_path %>
<% end %>
<br />