<%= simple_form_for([:admin, @perk]) do |f| %>
  <% if @perk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@perk.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
        <% @perk.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% checked = @perk.new_record? || @perk.perk_type == Perk::TYPE[:MULTIPLY]  %>
  <div class="x-box">
    <div class="field">
      <%= f.label "perk_type" %>
      <%= f.radio_button "perk_type",Perk::TYPE[:MULTIPLY], :checked => checked %> Multiply -
      <%= f.radio_button "perk_type",Perk::TYPE[:BONUS] %> Bonus


      <div id="multiply" style="display: block; padding-left: 185px;">
        <%= f.label "Enter the value Here" %><br />
        <%= f.text_field "multiplier", :readonly => true, :style => "width:145px;" %>
        <div id="multiplier_slider" class="x_slider field-inner-box"></div>
      </div>
      <div id="bonus" style="display: block; padding-left: 185px;">
        <%= f.label "bonus_points", :style => "width: 100px;" %>
        <%= f.text_field "bonus_points", :style => "width: 100px;" %><br/>
        <%= f.label "bonus_threshold", :style => "width: 100px;" %>
        <%= f.text_field "bonus_threshold", :style => "width: 100px;" %>
      </div>
    </div>
    <br />
    <div class="field">
      <%= f.label "chain" %>
      <%= select_tag "perk[chain_id]", options_for_select(Chain.active.order("name").map{|x| [x.name,x.id]},@chain), :class=>'chain_perks', :include_blank => true %>
      <div class="link"><a href="<%= new_admin_chain_path %>"><%= image_tag "add.png" %></a></div>
    </div>

    <div class="field">
      <%= f.label "restaurant" %>
      <%= select_tag "restaurant_ids[]",@perk.perk_restaurants.blank?? [] : options_for_select(@restaurants.map{|x| [x.name,x.id]}, @restaurants.map(&:id)),
        :class=>'select required multiselect',:multiple => "multiple"
    %>
      <div class="link"><a href="<%= new_admin_restaurant_path %>"><%= image_tag "add.png" %></a></div>
    </div>

    <div class="field">
      <br />
      <label class="checkbox" style="padding-left:195px;">
        <%= f.check_box "stackable" %> Stackable
      </label>
    </div>
    <br/><br/>
    <div class="actions">
      <%= f.submit "Update", :class => "btn btn-primary" %>
      <%= link_to "Back", admin_perks_path, :class => "btn" %>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function(){
    $('input[type=radio]').change(function() {
      set_form();
    });

    function set_form(){
      if($('#perk_perk_type_1').attr('checked')){
        $('#perk_bonus_points').val(null);
        $('#perk_bonus_threshold').val(null);
        $('#bonus').hide(); $('#multiply').show();
      }else{
        $('#perk_multiplier').val(null);
        $('#multiply').hide();$('#bonus').show();
      }
    }
    $("#multiplier_slider").slider({
      value: $("#perk_multiplier").val(),
      min: 0.1,
      max: 1,
      step: 0.1,
      slide: function(event, ui) {
        $("#perk_multiplier").val(ui.value);
      }
    });
    set_form();
  });
</script>
