<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th class="th-small ta-center">ID</th>
      <th class="ta-center">Multiplier</th>
      <th class="ta-center">Bonus points</th>
      <th class="ta-center">Spending threshold</th>
      <th class="ta-center">Stackable</th>
      <th class="th-medium ta-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% unless @perks.blank? %>
      <% @perks.each do |perk| %>
        <tr>
          <td class="ta-center"><%= perk.id %></td>
          <td class="ta-center"><%= perk.multiplier %></td>
          <td class="ta-center"><%= perk.bonus_points %></td>
          <td class="ta-center"><%= perk.bonus_threshold == 0 ? "" : perk.bonus_threshold %></td>
          <td class="ta-center"><%= perk.stackable %></td>

          <td>
            <div class="btn-group">
              <button class="btn">Action</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <%= link_to 'Show', admin_perk_path(perk) %>
                <%= link_to 'Edit', edit_admin_perk_path(perk) %>
                <%= link_to 'Destroy', admin_perk_path(perk), confirm: 'Are you sure?', method: :delete %>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan="6"> There are no data yet</td></tr>
    <% end %>
  </tbody>
</table>

<br />
<div id="x-pagination">
  <%= will_paginate @perks %>
</div>
