<div class="page-header">
  <h1>Perk Listing</h1>
</div>

<div id="x-records">
  <%= render partial: 'list' %>
</div>
<br/>

<%= link_to 'New perk', new_admin_perk_path, :class => "btn btn-primary" %>
