<div class="page-header">
  <h1>Perk , Id : (<%= @perk.id %>)</h1>
</div>

Multiplier  : <%= @perk.multiplier %><br />
Bonus Point : <%= @perk.bonus_points %><br />
Spending Threshold : <%= @perk.bonus_threshold == 0 ? "" : @perk.bonus_threshold %><br />
Stackable : <%= @perk.stackable?? "Yes" : "No" %><br />
<br />
<%= link_to 'Edit', edit_admin_perk_path(@perk), :class => "btn btn-primary" %>
<%= link_to 'Back', admin_perks_path, :class => "btn" %>