<td><%= st.step_number %></td>
<td><%= st.point_threshold %></td>
<td><%= st.loop %></td>
<td><%= st.reset_milestone_value_after_qualifying %></td>
<td>

      <% if st.reward %>
          <%= st.reward.name %>(<%= st.reward.id  %>) - <%= link_to "<i class=\"icon-remove-sign\"></i> Remove".html_safe,
                                                                    remove_one_time_reward_admin_chain_steppingstone_step_path(@chain, @step_parent, st), :remote => true, :confirm => 'are you sure?' %>
      <% else %>
          <%= link_to "<i class=\"icon-plus-sign\"></i> Add Reward".html_safe,
                      "#milestone_modal",
                      :onclick => "$('#milestone_modal').html('#{escape_javascript(render "shared/ajax_loader")}');
                      $.get('#{add_one_time_reward_admin_chain_steppingstone_step_path(@chain, @step_parent, st)}')",
                      "data-toggle" => "modal" %>
      <% end %>
  <span id="link_loader_<%= st.id %>" style="display:none;"><%= image_tag "loader.gif" %></span>
</td>
<td>
  <%= link_to "Edit", edit_milestone_point_admin_chain_steppingstone_step_path(@chain, @step_parent, st) ,
              :class => "btn btn-primary" %>
  <%= link_to "Destroy", params[:type].blank? ? admin_chain_steppingstone_step_path(@chain,
                                                                                    @step_parent, st) : admin_chain_bucket_path_step_path(@chain, "bucket", @step_parent, st), :class => "btn btn-danger", :method => "delete", :confirm => "Are you sure?" %>
</td>