<td><%= reward.id %></td>
<td><%= reward.name %></td>
<td><%= date_only(reward.effectiveDate) %></td>
<td><%= date_only(reward.expiryDate) %></td>
<td><%= reward.points %></td>
<td>
  <% if @reward_ids.include?(reward.id) %>
      Used
  <% else %>
      <%= link_to image_tag('add.png'),
                  add_the_one_reward_admin_chain_steppingstone_step_path(@chain, @step_parent, @step, reward),
                          :remote => true %>
  <% end %>
  <span id="link_loader_<%= reward.id %>" style="display:none;"><%= image_tag "loader.gif" %></span>
</td>