<div class="page-header">
  <h3>Listing Steps </h3>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Step Number</th>
    <th>Milestone Points</th>
    <th>Loop Consideration</th>
    <th>Reset After Qualifying</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @steps.each do |st| %>
      <tr id="step_<%= st.id %>">
        <%= render "/admin/steps/points_earned/row", {:st => st} %>
      </tr>
  <% end %>
  </tbody>
</table>

<br />
<br />
<div class="modal hide fade" id="milestone_modal" style="width: 800px;height: 500px;overflow: scroll;padding: 10px;">
</div>

    <%= link_to "Create new Step", new_points_earned_step_admin_chain_steppingstone_steps_path(@chain, @step_parent), :class => 'btn btn-primary' %>

<%= link_to "Back", params[:type].blank? ? admin_chain_steppingstones_path(@chain) : admin_chain_bucket_paths_path(@chain), :class => 'btn' %>
<br />
<br />
<b>
  NOTE: if carry over = true for milestone and reset = false for all steps, to prevent infinite loop, we will execute only next qualifying milestone step.
</b>