<div class="page-header">
  <h3>New Step</h3>
</div>

<%= simple_form_for(@step, :url => create_step_points_earned_admin_chain_steppingstone_steps_path(@chain, @step_parent)) do |f| %>
    <div class="field">
      <%= f.input :step_number %>
    </div>

    <div class="field">
      <%= f.input :point_threshold, :label => "Point Threshold" %>
    </div>
    <div class="field">
      <%= f.input :loop, :label => "Loop Consideration" %>
    </div>
    <br />
    <br />

    <div class="field">
      <%= f.input :reset_milestone_value_after_qualifying %>
    </div>

    <%= f.input :property_one, :input_html => {:value => 10}, :as => :hidden %>
    <%= f.input :property_two, :input_html => {:value => 10}, :as => :hidden %>
    <br/>
    <br/>
    <%= f.submit "Create", :class => "btn btn-primary" %>
    <%= link_to "Back", params[:type].blank? ? admin_chain_steppingstone_steps_path(@chain, @step_parent) : admin_chain_bucket_path_steps_path(@chain, "bucket", @step_parent), :class => "btn" %>
<% end %>


<script>
    $(document).ready(function () {
        $('#steppingstone_step_category_type').change(function () {
            if ($('#steppingstone_step_category_type').val() == "1") {
                $('#dynamic_form').hide();

            } else {
                $('#dynamic_form').show();
            }
        });

        if ($('#steppingstone_step_category_type').val() == "1") {
            $('#dynamic_form').hide();
        } else {
            $('#dynamic_form').show();
        }
    });


</script>

