<%= simple_form_for([:admin,@chain, @geo_datum]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :chain_id,:input_html => {:value => @chain.id}, :as => :hidden  %>
    <%= f.input :collect_start_time %>
    <%= f.input :collect_end_time %>
    <%= f.input :post_start_time %>
    <%= f.input :post_end_time %>
    <%= f.input :n_days_to_post_from_today , :label => "N days to post from today "%>
    <%= f.input :num_days_retry, :label => "Number of days to retry " %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
