<h1>Editing Geo Data Setting for Chain <%= @chain.name %></h1>

<%= render 'form' %>

<%= link_to 'Show', admin_chain_geo_data_setting_path(@geo_datum.chain_id, @geo_datum) %> |
<%= link_to 'Back', admin_chains_path %>
