<h1>Listing admin_geo_data</h1>

<table>
  <tr>
    <th>Collect start time</th>
    <th>Collect end time</th>
    <th>Post start time</th>
    <th>Post data time</th>
    <th>Next date collect</th>
    <th>Date to retry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_geo_data.each do |admin_geo_datum| %>
  <tr>
    <td><%= admin_geo_datum.collect_start_time %></td>
    <td><%= admin_geo_datum.collect_end_time %></td>
    <td><%= admin_geo_datum.post_start_time %></td>
    <td><%= admin_geo_datum.post_data_time %></td>
    <td><%= admin_geo_datum.next_date_collect %></td>
    <td><%= admin_geo_datum.date_to_retry %></td>
    <td><%= link_to 'Show', admin_geo_datum %></td>
    <td><%= link_to 'Edit', edit_admin_geo_datum_path(admin_geo_datum) %></td>
    <td><%= link_to 'Destroy', admin_geo_datum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Geo data', new_admin_geo_datum_path %>
