<p id="notice"><%= notice %></p>

<p>
  <b>Collect start time:</b>
  <%= @geo_datum.collect_start_time.strftime("%H:%M") %>
</p>

<p>
  <b>Collect end time:</b>
  <%= @geo_datum.collect_end_time.strftime("%H:%M") %>
</p>

<p>
  <b>Post start time:</b>
  <%= @geo_datum.post_start_time.strftime("%H:%M") %>
</p>

<p>
  <b>Post End time:</b>
  <%= @geo_datum.post_end_time.strftime("%H:%M") %>
</p>

<p>
  <b>N days to post from today:</b>
  <%= @geo_datum.n_days_to_post_from_today %>
</p>

<p>
  <b>Number Days  to retry:</b>
  <%= @geo_datum.num_days_retry %>
</p>


<%= link_to 'Edit', edit_admin_chain_geo_data_setting_path(@geo_datum.chain_id,@geo_datum) %> |
<%= link_to 'Back', admin_chains_path %>
