<%= simple_form_for([:admin, @partner_menu_item], id: "partnerCategory") do |f| %>
  <% if @partner_menu_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partner_menu_item.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
        <% @partner_menu_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="x-box">
    <div class="field">
      <label class="integer required control-label" for="partner_menu_item_chain"><abbr title="required">*</abbr> Chain</label>
      <%= f.select :chain_id, options_from_collection_for_select(Chain.order("name"), :id, :name, (@chain.id rescue nil) ), {:prompt => "Select Chain"} %>
      <span id="loader-chain" style="display: none;"><%= image_tag "loader.gif" %></span>
    </div>

    <div class="field">
      <%= label_tag :menu_data %>
      <%= text_area_tag :menu_data, nil, rows: 15, style: "width:400px;" %>
    </div>

    <div id="box-restaurant">
      <%= render partial: "restaurant" if @restaurants %>
    </div>

    <br/><br/>
    <%= f.submit "Upload", :class => "btn btn-primary" %>
    <%= link_to 'Back', admin_partner_menu_items_path, :class => "btn" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('select#partner_menu_item_chain_id').change(function(){
      $("#loader-chain").show();
      var chain_id = $("#partner_menu_item_chain_id").val();
      $.post("/admin/partner_menu_items/load_restaurants", { chain_id: chain_id})
    });
  });
</script>