<div class="page-header">
  <h1>Listing Partner Menu Items </h1>
</div>
<%= simple_form_for(:search, :url => admin_partner_menu_items_path, :html => {:method => :get}) do |f| %>
  <div class="x-box">
    <div class="x-box-inner">
      <div class="field">
        <%= f.label :chain_id %>
        <%= f.select :chain_id, options_from_collection_for_select(Chain.order("name"), :id, :name, (params[:search][:chain_id] rescue nil) ) %>
        <span id="loader-chain" style="display: none;"><%= image_tag "loader.gif" %></span>
      </div>
      <div id="box-restaurant">
        <label class="string required control-label" for="search_restaurant_id"><abbr title="required">*</abbr> Restaurant</label>
        <%= select_tag "search[restaurant_id]", options_for_select((@restaurants.map { |r| [r.name, r.id]} rescue []), selected: @restaurant_id ) %>
      </div>
      <%= submit_tag "Search", :class => "btn btn-success" %>
    </div>
  </div>
<% end %>

<div id="content-data">

  <table class="table stripped">
    <thead>
    <tr>
      <th>Chain</th>
      <th>Restaurants</th>
      <th>Item Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @partner_menu_items.each do |partner_menu_item| %>
      <tr id="row_<%= partner_menu_item.id %>">
        <td><%= partner_menu_item.chain.try(:name) rescue nil %></td>
        <td><%= partner_menu_item.restaurants.map(&:name).join(",") rescue "-" %></td>
        <td><%= partner_menu_item.item_name %></td>
        <td><%= partner_menu_item.description %></td>
        <td>
          <%#= link_to 'Edit', edit_admin_partner_menu_item_path(partner_menu_item), :class => "btn btn-warning" %>
          <%= link_to 'Destroy', admin_partner_menu_item_path(partner_menu_item), :method => :delete, :class => "btn btn-danger", :confirm => "are you sure?" %>
        </td>
      </tr>
    <% end %>
    </tbody>
    </table>
</div>

<%= will_paginate @partner_menu_items unless @partner_menu_items.blank? %>
<br/>
<%= link_to 'New Partner Menu Item', new_admin_partner_menu_item_path, :class => "btn btn-primary" %>

<script type="text/javascript">
  $(document).ready(function(){
     $('select#search_chain_id').change(function(){
        $("#loader-chain").show();
        var chain_id = $("#search_chain_id").val();
        $.post("/admin/partner_menu_items/load_restaurants", { chain_id: chain_id, page: "index"})
    });
  });
</script>