<%= simple_form_for([:admin, @push_service_notification],  :html => {:style => "position:relative;", :class => 'form-horizontal', :multipart => true, id: "form-push-service-notification" }) do |f| %>
  <div id="errorBox">
    <%= render "shared/error_messages.html", :target => @push_service_notification %>
  </div>

  <div class="form-inputs">
  <label class="integer optional control-label" for="push_service_notification_chain_id">Chain</label>
  <div class="controls">
    <%= f.select :chain_id, Chain.active.order("name").map { |r| [r.name, r.id]} %>
  </div>
</div>
<br />

<%= f.input :service_type, :collection => (PushServiceNotification::SERVICE_TYPES) %>

<br />
<div class="form-inputs">
  <div class="control-group">
    <label class="control-label" for="inputEmail">
      Enter CSV <%= radio_button_tag "select_type", "csv",true %>
    </label>

    <div class="controls">

      <label id="xls_label">Upload CSV file to get user id</label>
      <%= file_field_tag "xls" %>
      <%= hidden_field_tag "xls_path",nil %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">
      Enter Manual <%= radio_button_tag "select_type", "manual_enter" %>
    </label>

    <div class="controls hide" id="manual_input">
      <i>Enter user id separate with comma (,)</i><br/>
      <textarea class="text optional" cols="40" id="plain_push_notification_email"
      style="height:100px;width:700px;" name="push_service_notification[temp_receiver_user_ids]" rows="20"><%= @push_service_notification.temp_receiver_user_ids%></textarea>
    </div>

  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">
      All User <%= radio_button_tag "select_type", "all_user" %>
    </label>
    <div class="controls hide" id="all_user">
      <div class="alert info">All user will be sent.</div>
    </div>
  </div>
</div>

<br />
<%= f.input :reward_id, :collection => (@chain.rewards.where("reward_type != ?",Reward::TYPES["REGULAR"]).active.unexpired rescue []), :input_html => {:id => "reward_select"}, disabled: true %>

<%= f.input :point, input_html: { min: 0 }, disabled: true %>

<%= f.input :notification, :input_html => {:rows => 5, :cols => 100}, disabled: true %>

<%= f.input :notification_url, disabled: true %>

<%= text_area_tag "list_user_ids", @list_user_ids, style: "display:none;" %>

  <div class="control-group">
    <label class="control-label" for="inputEmail">
      Immediate <%= check_box_tag 'immediate', true, false %>
    </label>
  </div>
  <br />

  <div class="span8 time-selection">
    <div id="push_date">
      <div class="field">
        <%= f.input "time_zone_default", :collection => (["EST","EDT"]), :include_blank => false%>
      </div>
      <br />

      <div id="box_timezone_select">
        <%= render :partial => "timezone_select" %>
      </div>

    </div>
  </div>
<div style="clear: both"></div><br/>
</div>
<div class="form-actions">
  <%= f.button :submit, :onclick => "$('#form-action').ajaxloader('show');$('#submit_but').hide();$('#calculate').show();", :id => 'submit_but' %>
  <input type="submit" value="Saving..."  name="commit" class="btn disabled" id="calculate" style="display:none;">
</div>
<% end %>

<script type="text/javascript">
    <% if @confirmation_box == true %>
    $('#confirm').val('true');
    <% end %>

  $(document).ready(function () {
    $('select#push_service_notification_time_zone_default').change(function(){
      var timezone_type = $(this).val();
      $.ajax({
       url : '<%= get_time_admin_push_service_notifications_path %>',
       data : {timezone_type : timezone_type}
       })  ;
    });

    var tmp = $('#date_execute').val() + " " + $('#date_hour').val() + ":" + $('#date_minute').val() + ":60" + " " + "+0000";
    $('#reward_executed_at').val(tmp);
    $('select.pick-schdeule').bind('change', function () {
      if ($(this).val() == "on") {
        $('.schdeule-time').show();
      } else {
        $('.schdeule-time').hide();
      }
    });

    $('.x-datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
    });

    if($('#selected_type').val() == "manual_enter") {
      $('#select_type_manual_enter').change();
    }else if($('#selected_type').val() == "all_user"){
      $('#select_type_all_user').change();
    }else{
      $('#select_type_csv').change();
    }

    $('#immediate').change(function(){
      if($('#immediate').is(':checked')){
        $('div.time-selection').hide();
      }else{
        $('div.time-selection').show();
      }
    });

  });
  function setDateParams() {
    var tmp = $('#date_execute').val() + " " + $('#date_hour').val() + ":" + $('#date_minute').val() + ":60" + " " + "+0000";
    $('#reward_executed_at').val(tmp);
  }

  $("#formsubmit-plainpush").click(function () {

    var iframe = $('<iframe name="postiframe" id="postiframe" style="display: none" />');

    $("body").append(iframe);

    var form = $('#theuploadform-plainpush');
    form.attr("action", "<%= preview_xls_data_admin_plain_push_notifications_path %>");
    form.attr("method", "post");
    form.attr("enctype", "multipart/form-data");
    form.attr("encoding", "multipart/form-data");
    form.attr("target", "postiframe");
    form.attr("xls", $('#userfile').val());
    form.submit();

    $("#postiframe").load(function () {
      iframeContents = $("#postiframe")[0].contentWindow.document.body.innerHTML;
      $("#email_from_xls_area").html(iframeContents);
    });

    return false;

  });


  $("#plain-push-form").submit(function(e){
    if($('#select_type_all_user').is(':checked') == true){
      if (!confirm("Are you sure wants to send to all users?")){
        e.preventDefault();
        return;
      }
    }else{
      return true;
    }


  });

  function check_all_emails(bool) {
    if (bool == true)
      $('.span3 input:checkbox').attr('checked', 'checked');
    else
      $('.span3 input:checkbox').attr('checked', '');
  }

  function reset_selection() {
    $('#theuploadform-plainpush').hide();
    $('#manual_input').hide();
    $('#xls').hide();
    $('#xls_label').hide();
    $('#all_user').hide();
    $('#select_type_manual_enter').attr('checked', false);
    $('#select_type_csv').attr('checked', false);
    $('#select_type_all_user').attr('checked', false);
  }

  $('#select_type_csv').change(function () {
    reset_selection();
    $('#select_type_csv').attr('checked', true);
    $('#xls').show();
    $('#xls_show').hide();
  });

  $('#select_type_manual_enter').change(function () {
    reset_selection();
    $('#manual_input').show();
    $('#select_type_manual_enter').attr('checked', true);
  });

  $('#select_type_all_user').change(function () {
    reset_selection();
    $('#select_type_all_user').attr('checked', true);
    $('#all_user').show();
  });

</script>
