<table>
  <tr>
    <th>Job ID</th>
    <th>Chain</th>
    <th>Notification</th>
    <th>Scheduled for</th>
    <th>Recipient count</th>
    <th>Progress</th>
    <th>Status</th>
    <th>Pushed by</th>
    <th>Created At</th>
    <th></th>
    <th>Action</th>
  </tr>

  <% @push_service_notifications.each do |push_service_notification| %>
    <tr>
      <td><%= push_service_notification.id %></td>
      <td><%= push_service_notification.try(:chain).try(:name) %></td>
      <td><%= push_service_notification.notification %></td>
      <td><%= push_service_notification.date_text_ttd %></td>
      <td style="text-align: center;">
        <% if push_service_notification.is_all_user %>
          all user
        <% else %>
          <%= push_service_notification.recipient_count %>
        <% end %>
      </td>
      <td>
        <% paused = push_service_notification.paused? %>
        <%
           if push_service_notification.recipient_count == 0
             percent = "0%"
           else
             percent = push_service_notification.bind_progress_percent
           end
        %>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70"
               aria-valuemin="0" aria-valuemax="100" style="width:<%= percent %>;background-color:<%= paused ? "yellow" : "green"%>;">
            <span class="sr-only"><%= paused ? "Paused" : "&nbsp;".html_safe %></span>
          </div>
        </div>
      </td>
      <td><%= push_service_notification.success_user_count %>/<%= push_service_notification.recipient_count %></td>
      <td>
        <% if push_service_notification.admin %>
          Admin: <%= push_service_notification.admin.try(:email) %>
        <% elsif push_service_notification.owner_email %>
          Owner: <%= push_service_notification.owner_email %>
        <% end  %>
      </td>
      <td><%= push_service_notification.created_at %></td>
      <td>
        <%= link_to 'Show', admin_push_service_notification_path(push_service_notification), :class => "btn" %>
        <%# if push_service_notification.finished? %>
        <%#= link_to 'See Result', progress_admin_push_service_notification_path(push_service_notification), :class => "btn" %>
        <%# end %>
      </td>
      <td>
        <% if !push_service_notification.parsed? && push_service_notification.status != 3%>
          <div class="btn-group">
            <button class="btn">Actions</button>

            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <%= link_to 'CANCEL', cancel_admin_push_service_notification_path(push_service_notification), :confirm => "Are you sure?"  %>
            </ul>
          </div>
          <b style="color: orange;">SCHEDULED</b>
        <% elsif push_service_notification.canceled? || push_service_notification.status == 3 %>
          <b style="color: red">CANCELED</b>
        <% elsif push_service_notification.finished? %>
          <b style="color: green">FINISHED</b>
        <% elsif !push_service_notification.finished? %>
          <div class="btn-group">
            <button class="btn">Actions</button>

            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <%= link_to 'PAUSE', pause_admin_push_service_notification_path(push_service_notification), :confirm => "Are you sure?" if !paused %>
              <%= link_to 'CANCEL', cancel_admin_push_service_notification_path(push_service_notification), :confirm => "Are you sure?"  %>
              <%= link_to 'RESUMED', resume_admin_push_service_notification_path(push_service_notification), :confirm => "Are you sure?" if paused  %>
            </ul>
          </div>
        <% end %>
      </td>
    </tr>
  <% end if @push_service_notifications %>
</table>
<%= will_paginate @push_service_notifications if @push_service_notifications %>