<table>
  <tr>
    <th>Job ID</th>
    <th>Chain</th>
    <th>Point</th>
    <th>Scheduled for</th>
    <th>Recipient count</th>
    <th>Progress</th>
    <th>Status</th>
    <th>Pushed by</th>
    <th>Created At</th>
    <th></th>
    <th>Action</th>
  </tr>

  <% @push_service_points.each do |push_service_point| %>
    <tr>
      <td><%= push_service_point.id %></td>
      <td><%= push_service_point.try(:chain).try(:name) %></td>
      <td><%= push_service_point.point %></td>
      <td><%= push_service_point.date_text_ttd %></td>
      <td style="text-align: center;">
        <% if push_service_point.is_all_user %>
          all user
        <% else %>
          <%= push_service_point.recipient_count %>
        <% end %>
      </td>
      <td>
        <div id="wrapper-progress-point-<%= push_service_point.id %>">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              <span class="sr-only">&nbsp;</span>
            </div>
          </div>
        </div>
      </td>
      <td class="wrapper-status-point-<%= push_service_point.id %>">
        0/<%= push_service_point.recipient_count %>
      </td>
      <td>
        <% if push_service_point.admin %>
          Admin: <%= push_service_point.admin.try(:email) %>
        <% elsif push_service_point.owner_email %>
          Owner: <%= push_service_point.owner_email %>
        <% end  %>
      </td>
      <td><%= push_service_point.created_at %></td>
      <td>
        <%= link_to 'Show', admin_push_service_notification_path(push_service_point, type: 1), :class => "btn" %>
      </td>
      <td class="wrapper-action-point-<%= push_service_point.id %>">
        <% if push_service_point.status != 0 %>
          <b style="color: green">FINISHED</b>
        <% else %>
          <b style="color: orange;">SCHEDULED</b>
        <% end %>
      </td>
    </tr>
  <% end if @push_service_points %>
</table>
<%= will_paginate @push_service_points if @push_service_points %>