<table>
  <tr>
    <th>Job ID</th>
    <th>Chain</th>
    <th>Reward</th>
    <th>Scheduled for</th>
    <th>Recipient count</th>
    <th>Progress</th>
    <th>Status</th>
    <th>Pushed by</th>
    <th>Created At</th>
    <th></th>
    <th>Action</th>
  </tr>

  <% @push_service_rewards.each do |push_service_reward| %>
    <tr>
      <td><%= push_service_reward.id %></td>
      <td><%= push_service_reward.try(:chain).try(:name) %></td>
      <td><%= "[#{push_service_reward.reward.try(:id)}]" %><%= push_service_reward.reward.try(:name) rescue "-" %></td>
      <td><%= push_service_reward.date_text_ttd %></td>
      <td style="text-align: center;">
        <% if push_service_reward.is_all_user %>
          all user
        <% else %>
          <%= push_service_reward.recipient_count %>
        <% end %>
      </td>
      <td>
        <div id="wrapper-progress-reward-<%= push_service_reward.id %>">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              <span class="sr-only">&nbsp;</span>
            </div>
          </div>
        </div>
      </td>
      <td class="wrapper-status-reward-<%= push_service_reward.id %>">
        0/<%= push_service_reward.recipient_count %>
      </td>
      <td>
        <% if push_service_reward.admin %>
          Admin: <%= push_service_reward.admin.try(:email) %>
        <% elsif push_service_reward.owner_email %>
          Owner: <%= push_service_reward.owner_email %>
        <% end  %>
      </td>
      <td><%= push_service_reward.created_at %></td>
      <td>
        <%= link_to 'Show', admin_push_service_notification_path(push_service_reward, type: 2), :class => "btn" %>
      </td>
      <td class="wrapper-action-reward-<%= push_service_reward.id %>">
        <% if push_service_reward.status != 0 %>
          <b style="color: green">FINISHED</b>
        <% else%>
          <b style="color: orange;">SCHEDULED</b>
        <% end %>
      </td>
    </tr>
  <% end if @push_service_rewards %>
</table>
<%= will_paginate @push_service_rewards if @push_service_rewards %>