<div class="field">
  <div id="expiry_date">
    <div class="schdeule-time">
      <% Time.use_zone(Setting.default_time_zone['zone']) do %>
        RUN AT :<%= datetime_select("push_service_notification", "sent_at", {default: @time }, :style => "width:80px;") %>
      <% end %>
    </div>
  </div>
</div>