$('#loader').hide();
$('#alert-user-id').hide();
$('#live-stream-notification').html('<%= escape_javascript render "index" %>');
$('#live-stream-point').html('<%= escape_javascript render "points" %>');
$('#live-stream-reward').html('<%= escape_javascript render "rewards" %>');

<% @response_points.each do |res|%>
<% if res.is_a?(Hash) && res["jobId"].present? %>
var percent = "<%= (res["successCount"].to_f / res["recipientCount"].to_i) * 100 rescue 0 %>"
$("div#wrapper-progress-point-<%= res["jobId"] %> .progress .progress-bar").css("width", percent+"%").css("background-color", "green");
$("div#wrapper-progress-point-<%= res["jobId"] %> .progress .progress-bar .sr-only").text(showStatusProgressBar("<%= res["controlFlag"].to_i %>", "<%= res["status"].to_i %>"));
$("div#wrapper-progress-point-<%= res["jobId"] %> .progress .progress-bar .sr-only").css("color", "#A4A4A4").css("margin-left","30px").css("font-weight", "bold");
$("td.wrapper-status-point-<%= res["jobId"] %>").html("<%= res["successCount"] %>/<%= res["recipientCount"] %>");

var add_action = '<div class="btn-group"><button class="btn">Actions</button>' +
        '<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>' +
        '<ul class="dropdown-menu dropdown-menu-point">' +
        '</ul></div><b class="title-action-point"></b>'

var btn_pause = '<a href="/admin/push_services/<%= res["jobId"] %>/pause?type=1" data-confirm="Are you sure?">PAUSE</a>'
var btn_cancel = '<a href="/admin/push_services/<%= res["jobId"] %>/cancel?type=1" data-confirm="Are you sure?">CANCEL</a>'
var btn_resume = '<a href="/admin/push_services/<%= res["jobId"] %>/resume?type=1" data-confirm="Are you sure?">RESUME</a>'
//preparing
<% if res["controlFlag"].eql?(1) && res["status"].eql?(4) %>
$("td.wrapper-action-point-<%= res["jobId"] %>").html(add_action);
$(btn_cancel).appendTo("td.wrapper-action-point-<%= res["jobId"] %> ul.dropdown-menu-point");
<% end %>

//running
<% if res["controlFlag"].eql?(1) && res["status"].eql?(1) %>
$("td.wrapper-action-point-<%= res["jobId"] %>").html(add_action);
$(btn_pause).appendTo("td.wrapper-action-point-<%= res["jobId"] %> ul.dropdown-menu-point");
$(btn_cancel).appendTo("td.wrapper-action-point-<%= res["jobId"] %> ul.dropdown-menu-point");
<% end %>

//paused
<% if res["controlFlag"].eql?(0) && res["status"].eql?(1) %>
$("td.wrapper-action-point-<%= res["jobId"] %>").html(add_action);
$(btn_resume).appendTo("td.wrapper-action-point-<%= res["jobId"] %> ul.dropdown-menu-point");
$(btn_cancel).appendTo("td.wrapper-action-point-<%= res["jobId"] %> ul.dropdown-menu-point");
<% end %>

//scheduled
<% if res["controlFlag"].eql?(1) && res["status"].eql?(0) %>
$("td.wrapper-action-point-<%= res["jobId"] %>").html(add_action);
$(btn_cancel).appendTo("td.wrapper-action-point-<%= res["jobId"] %> ul.dropdown-menu-point");
<% end %>

$("td.wrapper-action-point-<%= res["jobId"] %> b").text(showStatusJob("<%= res["controlFlag"].to_i %>", "<%= res["status"].to_i %>"));
$("td.wrapper-action-point-<%= res["jobId"] %> b").css("color", showStatusColor("<%= res["controlFlag"].to_i %>", "<%= res["status"].to_i %>"));

<% end %>
<% end if @response_points.present? %>

<% @response_rewards.each do |res|%>
<% if res.is_a?(Hash) && res["jobId"].present? %>
var percent = "<%= (res["successCount"].to_f / res["recipientCount"].to_i) * 100 rescue 0 %>"
$("div#wrapper-progress-reward-<%= res["jobId"] %> .progress .progress-bar").css("width", percent+"%").css("background-color", "green");
$("div#wrapper-progress-reward-<%= res["jobId"] %> .progress .progress-bar .sr-only").text(showStatusProgressBar("<%= res["controlFlag"].to_i %>", "<%= res["status"].to_i %>"));
$("div#wrapper-progress-reward-<%= res["jobId"] %> .progress .progress-bar .sr-only").css("color", "#A4A4A4").css("margin-left","30px").css("font-weight", "bold");
$("td.wrapper-status-reward-<%= res["jobId"] %>").html("<%= res["successCount"] %>/<%= res["recipientCount"] %>");

var add_action = '<div class="btn-group"><button class="btn">Actions</button>' +
        '<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>' +
        '<ul class="dropdown-menu dropdown-menu-reward">' +
        '</ul></div><b class="title-action-reward"></b>'

var btn_pause = '<a href="/admin/push_services/<%= res["jobId"] %>/pause?type=2" data-confirm="Are you sure?">PAUSE</a>'
var btn_cancel = '<a href="/admin/push_services/<%= res["jobId"] %>/cancel?type=2" data-confirm="Are you sure?">CANCEL</a>'
var btn_resume = '<a href="/admin/push_services/<%= res["jobId"] %>/resume?type=2" data-confirm="Are you sure?">RESUME</a>'
//preparing
<% if res["controlFlag"].eql?(1) && res["status"].eql?(4) %>
$("td.wrapper-action-reward-<%= res["jobId"] %>").html(add_action);
$(btn_cancel).appendTo("td.wrapper-action-reward-<%= res["jobId"] %> ul.dropdown-menu-reward");
<% end %>

//running
<% if res["controlFlag"].eql?(1) && res["status"].eql?(1) %>
$("td.wrapper-action-reward-<%= res["jobId"] %>").html(add_action);
$(btn_pause).appendTo("td.wrapper-action-reward-<%= res["jobId"] %> ul.dropdown-menu-reward");
$(btn_cancel).appendTo("td.wrapper-action-reward-<%= res["jobId"] %> ul.dropdown-menu-reward");
<% end %>

//paused
<% if res["controlFlag"].eql?(0) && res["status"].eql?(1) %>
$("td.wrapper-action-reward-<%= res["jobId"] %>").html(add_action);
$(btn_resume).appendTo("td.wrapper-action-reward-<%= res["jobId"] %> ul.dropdown-menu-reward");
$(btn_cancel).appendTo("td.wrapper-action-reward-<%= res["jobId"] %> ul.dropdown-menu-reward");
<% end %>

//scheduled
<% if res["controlFlag"].eql?(1) && res["status"].eql?(0) %>
$("td.wrapper-action-reward-<%= res["jobId"] %>").html(add_action);
$(btn_cancel).appendTo("td.wrapper-action-reward-<%= res["jobId"] %> ul.dropdown-menu-reward");
<% end %>

$("td.wrapper-action-reward-<%= res["jobId"] %> b").text(showStatusJob("<%= res["controlFlag"].to_i %>", "<%= res["status"].to_i %>"));
$("td.wrapper-action-reward-<%= res["jobId"] %> b").css("color", showStatusColor("<%= res["controlFlag"].to_i %>", "<%= res["status"].to_i %>"));

<% end %>
<% end if @response_rewards.present? %>

$(".pagination a").attr("href", $(".pagination a").attr("href").replace('/sync.js', '') )

function showStatusProgressBar(control_flag, status){
  var status_text = ""
  if(control_flag == 1 && status == 1){
    status_text = "running"
  }else if(status == 2){
    status_text = "success"
  }else if(control_flag == 3){
    status_text = "canceled"
  }else if(control_flag == 1 && status == 4){
    status_text = "preparing"
  }else if(control_flag == 0 && status == 1){
    status_text = "paused"
  }else if(control_flag == 1 && status == 0) {
    status_text = "scheduled"
  }
  return status_text
}

function showStatusJob(control_flag, status){
  var status_job = ""
  if(status == 2){
    status_job = "COMPLETED"
  }else if(control_flag == 3){
    status_job = "CANCELED"
  }else if(control_flag == 1 && status == 0){
    status_job = "SCHEDULED"
  }
  return status_job
}

function showStatusColor(control_flag, status){
  var status_color = ""
  if(control_flag == 1 && status == 1){
    status_color = "green"
  }else if(status == 2){
    status_color = "green"
  }else if(control_flag == 3){
    status_color = "red"
  }else if(control_flag == 0 && status == 4){
    status_color = "green"
  }else if(control_flag == 0 && status == 1){
    status_color = "orange"
  }else if(control_flag == 1 && status == 0){
    status_color = "orange"
  }
  return status_color
}