<div class="page-header">
  <h3>Listing Push Service IPOST</h3>
</div>

<div id="alert-user-id" class="hide alert alert-danger" role="alert">
  User ID can't be blank.
</div>

<%= form_tag({:controller => "push_service_notifications", :action => "ipost"}, :method => :get, :remote => true) do |f| %>
  <div class="x-box-col3">
    <div class="field">
      <%= label_tag :chain %>
      <%= select_tag('chain_id', options_from_collection_for_select(Chain.active.select("id, name").order('name'), :id, :name, params[:chain_id])) %>
      <br />
    </div>

    <div class="field">
      <label for="user_id">User ID</label>
      <%= text_field_tag "user_id" %>
    </div>

    <div class="field hide" id="search_reward_id_wrap">
      <label for="reward_id">Reward ID</label>
      <%= text_field_tag 'reward_id', nil, disabled: true, placeholder: "Reward ID" %>
      <br />
    </div>

    <div>
      <%= submit_tag "Search", :id =>  "search-ipost", :class => "btn", :style => "margin-bottom: 9px;" %>
      <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
    </div>
  </div>
<% end %>

<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#notification" aria-controls="notification" role="tab" data-toggle="tab">Notifications</a></li>
    <li role="presentation"><a href="#point" aria-controls="point" role="tab" data-toggle="tab">Point</a></li>
    <li role="presentation"><a href="#reward" aria-controls="reward" role="tab" data-toggle="tab">Reward</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="notification">
      <div id="live-stream-notification">
        <%= render :partial => "index" %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="point">
      <div id="live-stream-point">
        <%= render :partial => "points"%>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="reward">
      <div id="live-stream-reward">
        <%= render :partial => "rewards"%>
      </div>
    </div>
  </div>
</div>
<br />

<script type="text/javascript">
  $(document).ready(function(){
    $('#search-ipost').click(function(){
      $('#loader').show();
      if( $('input#user_id').val() == ""){
        $('#alert-user-id').show();
        $('#loader').hide();
        return false;
      }
    });

    <% @response_points.each do |res|%>
    <% if res.is_a?(Hash) && res["jobId"].present? %>
    var percent = "<%= (res["successCount"].to_f / res["recipientCount"].to_i) * 100 rescue 0 %>"
    $("div#wrapper-progress-point-<%= res["jobId"] %> .progress .progress-bar").css("width", percent+"%").css("background-color", "green");
    $("div#wrapper-progress-point-<%= res["jobId"] %> .progress .progress-bar .sr-only").text(showStatusProgressBar("<%= res["controlFlag"].to_i %>", "<%= res["status"].to_i %>"));
    $("div#wrapper-progress-point-<%= res["jobId"] %> .progress .progress-bar .sr-only").css("color", "#A4A4A4").css("margin-left","30px").css("font-weight", "bold");
    $("td.wrapper-status-point-<%= res["jobId"] %>").html("<%= res["successCount"] %>/<%= res["recipientCount"] %>");
    $("td.wrapper-recipient-point-<%= res["jobId"] %>").html("<%= res["recipientCount"] %>");

    var add_action = '<div class="btn-group"><button class="btn">Actions</button>' +
            '<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>' +
            '<ul class="dropdown-menu dropdown-menu-point">' +
            '</ul></div><b class="title-action-point"></b>'

    var btn_pause = '<a href="/admin/push_services/<%= res["jobId"] %>/pause?type=1" data-confirm="Are you sure?">PAUSE</a>'
    var btn_cancel = '<a href="/admin/push_services/<%= res["jobId"] %>/cancel?type=1" data-confirm="Are you sure?">CANCEL</a>'
    var btn_resume = '<a href="/admin/push_services/<%= res["jobId"] %>/resume?type=1" data-confirm="Are you sure?">RESUME</a>'
    //preparing
    <% if res["controlFlag"].eql?(1) && res["status"].eql?(4) %>
    $("td.wrapper-action-point-<%= res["jobId"] %>").html(add_action);
    $(btn_cancel).appendTo("td.wrapper-action-point-<%= res["jobId"] %> ul.dropdown-menu-point");
    <% end %>

    //running
    <% if res["controlFlag"].eql?(1) && res["status"].eql?(1) %>
    $("td.wrapper-action-point-<%= res["jobId"] %>").html(add_action);
    $(btn_pause).appendTo("td.wrapper-action-point-<%= res["jobId"] %> ul.dropdown-menu-point");
    $(btn_cancel).appendTo("td.wrapper-action-point-<%= res["jobId"] %> ul.dropdown-menu-point");
    <% end %>

    //paused
    <% if res["controlFlag"].eql?(0) && res["status"].eql?(1) %>
    $("td.wrapper-action-point-<%= res["jobId"] %>").html(add_action);
    $(btn_resume).appendTo("td.wrapper-action-point-<%= res["jobId"] %> ul.dropdown-menu-point");
    $(btn_cancel).appendTo("td.wrapper-action-point-<%= res["jobId"] %> ul.dropdown-menu-point");
    <% end %>

    //scheduled
    <% if res["controlFlag"].eql?(1) && res["status"].eql?(0) %>
    $("td.wrapper-action-point-<%= res["jobId"] %>").html(add_action);
    $(btn_cancel).appendTo("td.wrapper-action-point-<%= res["jobId"] %> ul.dropdown-menu-point");
    <% end %>

    $("td.wrapper-action-point-<%= res["jobId"] %> b").text(showStatusJob("<%= res["controlFlag"].to_i %>", "<%= res["status"].to_i %>"));
    $("td.wrapper-action-point-<%= res["jobId"] %> b").css("color", showStatusColor("<%= res["controlFlag"].to_i %>", "<%= res["status"].to_i %>"));

    <% end %>
    <% end if @response_points.present? %>


    //function for response rewards API
    <% @response_rewards.each do |res|%>
    <% if res.is_a?(Hash) && res["jobId"].present? %>
    var percent = "<%= (res["successCount"].to_f / res["recipientCount"].to_i) * 100 rescue 0 %>"
    $("div#wrapper-progress-reward-<%= res["jobId"] %> .progress .progress-bar").css("width", percent+"%").css("background-color", "green");
    $("div#wrapper-progress-reward-<%= res["jobId"] %> .progress .progress-bar .sr-only").text(showStatusProgressBar("<%= res["controlFlag"].to_i %>", "<%= res["status"].to_i %>"));
    $("div#wrapper-progress-reward-<%= res["jobId"] %> .progress .progress-bar .sr-only").css("color", "#A4A4A4").css("margin-left","30px").css("font-weight", "bold");
    $("td.wrapper-status-reward-<%= res["jobId"] %>").html("<%= res["successCount"] %>/<%= res["recipientCount"] %>");
    $("td.wrapper-recipient-reward-<%= res["jobId"] %>").html("<%= res["recipientCount"] %>");

    var add_action = '<div class="btn-group"><button class="btn">Actions</button>' +
            '<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>' +
            '<ul class="dropdown-menu dropdown-menu-reward">' +
            '</ul></div><b class="title-action-reward"></b>'

    var btn_pause = '<a href="/admin/push_services/<%= res["jobId"] %>/pause?type=2" data-confirm="Are you sure?">PAUSE</a>'
    var btn_cancel = '<a href="/admin/push_services/<%= res["jobId"] %>/cancel?type=2" data-confirm="Are you sure?">CANCEL</a>'
    var btn_resume = '<a href="/admin/push_services/<%= res["jobId"] %>/resume?type=2" data-confirm="Are you sure?">RESUME</a>'
    //preparing
    <% if res["controlFlag"].eql?(1) && res["status"].eql?(4) %>
    $("td.wrapper-action-reward-<%= res["jobId"] %>").html(add_action);
    $(btn_cancel).appendTo("td.wrapper-action-reward-<%= res["jobId"] %> ul.dropdown-menu-reward");
    <% end %>

    //running
    <% if res["controlFlag"].eql?(1) && res["status"].eql?(1) %>
    $("td.wrapper-action-reward-<%= res["jobId"] %>").html(add_action);
    $(btn_pause).appendTo("td.wrapper-action-reward-<%= res["jobId"] %> ul.dropdown-menu-reward");
    $(btn_cancel).appendTo("td.wrapper-action-reward-<%= res["jobId"] %> ul.dropdown-menu-reward");
    <% end %>

    //paused
    <% if res["controlFlag"].eql?(0) && res["status"].eql?(1) %>
    $("td.wrapper-action-reward-<%= res["jobId"] %>").html(add_action);
    $(btn_resume).appendTo("td.wrapper-action-reward-<%= res["jobId"] %> ul.dropdown-menu-reward");
    $(btn_cancel).appendTo("td.wrapper-action-reward-<%= res["jobId"] %> ul.dropdown-menu-reward");
    <% end %>

    //scheduled
    <% if res["controlFlag"].eql?(1) && res["status"].eql?(0) %>
    $("td.wrapper-action-reward-<%= res["jobId"] %>").html(add_action);
    $(btn_cancel).appendTo("td.wrapper-action-reward-<%= res["jobId"] %> ul.dropdown-menu-reward");
    <% end %>

    $("td.wrapper-action-reward-<%= res["jobId"] %> b").text(showStatusJob("<%= res["controlFlag"].to_i %>", "<%= res["status"].to_i %>"));
    $("td.wrapper-action-reward-<%= res["jobId"] %> b").css("color", showStatusColor("<%= res["controlFlag"].to_i %>", "<%= res["status"].to_i %>"));

    <% end %>
    <% end if @response_rewards.present? %>

    $('a[data-toggle="tab"]').bind('click', function (e) {
      console.log("tab click");
      if($("#reward.active").length){
        $("#search_reward_id_wrap").removeClass('hide');
        $("input#reward_id").attr('disabled', false);
      }else{
        $("#search_reward_id_wrap").addClass('hide');
        $("input#reward_id").attr('disabled', true);
      }
    });
  });

  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

    for (i = 0; i < sURLVariables.length; i++) {
      sParameterName = sURLVariables[i].split('=');

      if (sParameterName[0] === sParam) {
        return sParameterName[1] === undefined ? true : sParameterName[1];
      }
    }
  };

  var currentUrl = window.location.href;

  // Given that we're at a url like 'users/:id', this saves the unique id of the user whose show page we are currently looking at
  var page = currentUrl.substr(currentUrl.lastIndexOf('?') + 1);
  page = getUrlParameter("page");
  if(page == undefined){
    page = 1
  }

  function showStatusProgressBar(control_flag, status){
    var status_text = ""
    if(control_flag == 1 && status == 1){
      status_text = "running"
    }else if(status == 2){
      status_text = "success"
    }else if(control_flag == 3){
      status_text = "canceled"
    }else if(control_flag == 1 && status == 4){
      status_text = "preparing"
    }else if(control_flag == 0 && status == 1){
      status_text = "paused"
    }else if(control_flag == 1 && status == 0) {
      status_text = "scheduled"
    }
    return status_text
  }

  function showStatusJob(control_flag, status){
    var status_job = ""
    if(status == 2){
      status_job = "COMPLETED"
    }else if(control_flag == 3){
      status_job = "CANCELED"
    }else if(control_flag == 1 && status == 0){
      status_job = "SCHEDULED"
    }
    return status_job
  }

  function showStatusColor(control_flag, status){
    var status_color = ""
    if(control_flag == 1 && status == 1){
      status_color = "green"
    }else if(status == 2){
      status_color = "green"
    }else if(control_flag == 3){
      status_color = "red"
    }else if(control_flag == 0 && status == 4){
      status_color = "green"
    }else if(control_flag == 0 && status == 1){
      status_color = "orange"
    }else if(control_flag == 1 && status == 0){
      status_color = "orange"
    }
    return status_color
  }

</script>