<div class="page-header">
  <h3>New Push Service Notification</h3>
</div>
<%= render 'form' %>
<%= link_to 'Back', admin_push_service_notifications_path, :class => "btn" %>

<script type="text/javascript">
  $('#push_service_notification_chain_id').change(function(){
    getRewards(this.value);
  });

  $('select#push_service_notification_service_type').change(function(){
    var selected_type = this.value
    activatePush(selected_type);
  });

  $(document).ready(function(){
    var service_type = $('select#push_service_notification_service_type').val();
    var chain_id = $('select#push_service_notification_chain_id').val();
    activatePush(service_type);
    getRewards(chain_id);
  });

  function getRewards(value){
    if(value){
      options = '';
      $.getJSON('/admin/push_services/' + value + '/load_user_list.json', function(response) {
        if(response.milestone > 0){
          $('select#push_service_notification_service_type option[value="1"]').attr("disabled", true).addClass("disabled-opt");
          $('select#push_service_notification_service_type option[value="4"]').attr("disabled", true).addClass("disabled-opt");
        }else{
          $('select#push_service_notification_service_type option[value="1"]').attr("disabled", false).removeClass("disabled-opt");
          $('select#push_service_notification_service_type option[value="4"]').attr("disabled", false).removeClass("disabled-opt");
        }

        $.each(response.rewards, function(i, obj) {
          options += '<option value="' + obj.id + '">[' + obj.id + '] ' + obj.name + '</option>';
        });
        $("#reward_select").html(options);
      });
    }else{
      $('#reward_select').html("<option value=''></option>")
    }
  }

  function activatePush(value){
    selected_type = value
    if(selected_type == 0){
      $('select#reward_select').attr('disabled', true);
      $('input#push_service_notification_point').attr('disabled', true);
      $('textarea#push_service_notification_notification').attr('disabled', true);
      $('input#push_service_notification_notification_url').attr('disabled', true);
    }else if(selected_type == 1){
      $('select#reward_select').attr('disabled', true);
      $('input#push_service_notification_point').attr('disabled', false);
      $('textarea#push_service_notification_notification').attr('disabled', true);
      $('input#push_service_notification_notification_url').attr('disabled', true);
    }else if(selected_type == 2){
      $('select#reward_select').attr('disabled', false);
      $('input#push_service_notification_point').attr('disabled', true);
      $('textarea#push_service_notification_notification').attr('disabled', true);
      $('input#push_service_notification_notification_url').attr('disabled', true);
    }else if(selected_type == 3){
      $('select#reward_select').attr('disabled', true);
      $('input#push_service_notification_point').attr('disabled', true);
      $('textarea#push_service_notification_notification').attr('disabled', false);
      $('input#push_service_notification_notification_url').attr('disabled', false);
    }else if(selected_type == 4){
      $('select#reward_select').attr('disabled', true);
      $('input#push_service_notification_point').attr('disabled', false);
      $('textarea#push_service_notification_notification').attr('disabled', false);
      $('input#push_service_notification_notification_url').attr('disabled', false);
    }else if(selected_type == 5){
      $('select#reward_select').attr('disabled', false);
      $('input#push_service_notification_point').attr('disabled', true);
      $('textarea#push_service_notification_notification').attr('disabled', false);
      $('input#push_service_notification_notification_url').attr('disabled', false);
    }
  }
</script>

<style type="text/css">
  .disabled-opt {background: lightgray;}
</style>