<p id="notice"><%= notice %></p>

<p>
  <b>Chain:</b>
  <%= @push_service_notification.try(:chain).try(:name) %>
</p>

<p>
  <% if @push_service_notification.is_a?(PushServicePoint) %>
    <b>Point: </b><%= @push_service_notification.point %><br/>
  <% elsif @push_service_notification.is_a?(PushServiceReward) %>
    <b>Reward: </b><%= @push_service_notification.reward.try(:name) %><br/>
  <% else %>
    <b>Notification: </b><%= @push_service_notification.notification %>
  <% end %>
</p>

<% if @push_service_notification.is_a?(PushServiceNotification) %>
  <p>
    <b>Sent at:</b><%= @push_service_notification.date_text_ttd %>
  </p>
  <p>
    <b>Recipient count:</b><%= @push_service_notification.recipient_count %>
  </p>
  <p>
    <b>Status:</b> <%= @push_service_notification.status? %>
  </p>
  <p>
    <b>Sent :</b><%= @push_service_notification.success_user_count %>
  </p>

<% else %>
  <p>
    <b>Sent at:</b><%= @response_json["dateTextTtd"] rescue "Error API" %>
  </p>
  <p>
    <b>Recipient count:</b><%= @response_json["recipientCount"] rescue "Error API" %>
  </p>
  <p>
    <b>Success count:</b><%= @response_json["successCount"] rescue "Error API" %>
  </p>
  <p>
    <b>Failed count:</b><%= @response_json["failureCount"] rescue "Error API" %>
  </p>
<% end %>

<%= link_to 'Back', admin_push_service_notifications_path, :class => 'btn btn-primary' %>