<%= simple_form_for([:admin, @notification_ertificate], :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :chain_id, collection: Chain.active.order("name").map { |r| [r.name, r.id]}, prompt: "Select Chain", selected: f.object.chain_id %>
  </div>

  <div class="form-inputs">
    <%= f.input :certificate, as: :file %>
  </div>

  <div class="form-inputs">
    <%= f.input :environment, collection: ["iphone", "android"], prompt: "Select Environment", selected: f.object.environment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit , :label => "Save" %>
    <%= link_to "Back", admin_push_service_notification_certificates_path, class: "btn" %>
  </div>
<% end %>