<h1>Listing Push Service Notification Certificates</h1>
<br/>
<br/>

<%= form_tag(search_admin_push_service_notification_certificates_path, method: :get) do %>
  <div class="form-inputs">
    <%= select_tag :chain_id, options_for_select( Chain.active.order("name").map { |r| [r.name, r.id]} ), prompt: "select chain" %>
  </div>

  <%= submit_tag "Search" %>

<% end %>

<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th>chain</th>
    <th>environment</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <% @notification_ertificates.each do |notification_ertificate| %>
    <tr>
      <td><%= notification_ertificate.chain.try(:name) %></td>
      <td><%= notification_ertificate.environment %></td>
      <td>
        <%= link_to 'Destroy', admin_push_service_notification_certificate_path(notification_ertificate), confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
        <%= link_to "edit", edit_admin_push_service_notification_certificate_path(notification_ertificate), :class => "btn btn-primary" %>
        <%= link_to "show", admin_push_service_notification_certificate_path(notification_ertificate), :class => "btn btn-primary" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @notification_ertificates if @notification_ertificates.present? %>

<%= link_to "New", new_admin_push_service_notification_certificate_path, :class => "btn" %>