<div class="form-inputs">
 <h2>Chain: <%= @notification_ertificate.chain.try(:name) %></h2>
</div>

<div class="form-inputs">
  <p>
    Environment:
    <%= @notification_ertificate.environment %>
  </p>
</div>

<div class="form-inputs">
  <p>
    Certificate:
    <%= @notification_ertificate.certificate %>
  </p>
</div>
