
<% total_member = 0 %>
<% total_member_this_month = 0 %>
<% total_member_last_month = 0 %>
<% total_survey = 0 %>
<% total_coming = 0 %>
<% restaurant_count = 0 %>
<% restaurant_with_member = 0 %>
<% restaurant_month_with_member = 0 %>
<% restaurant_avg_coming = 0 %>
<% restaurant_avg_survey = 0 %>
<% restaurant_last_month_with_member = 0 %>

<% unless @restaurants.blank? %>
    <% @restaurants.each_with_index do |restaurant, index| %>
        <% if current_owner.is_manager? %>
            <%
            display = 'none' if !current_owner.restaurant_list.include?(restaurant)
            %>
            <tr style="display:<%= display %>;">
        <% else %>
            <tr>
        <% end %>
        <% display_text = restaurant.dashboard_display_text %>
        <td><%= display_text.nil? ? "-" : display_text %></td>

        <% members = restaurant.all_total_member %>

        <td><%= members %></td>
        <% total_member += members %>
        <% restaurant_with_member += 1 if members > 0 %>

        <% member_this_month = restaurant.member_this_month %>
        <td><%= member_this_month %></td>
        <% total_member_this_month += member_this_month %>
        <% restaurant_month_with_member += 1 if member_this_month > 0 %>

        <% member_last_month = restaurant.member_last_month %>
        <td><%= member_last_month %></td>
        <% total_member_last_month += member_last_month %>
        <% restaurant_last_month_with_member += 1 if member_last_month > 0 %>

        <% if @is_avg  ## setting on admin%>
        <% sur = SurveysUser.where("restaurant_id in (?)", [restaurant]).first.survey rescue nil %>
        <% all_survey_avg = restaurant.survey_averages_restaurant(sur) rescue 0 %>
        <% if all_survey_avg == 0 %>
            <% all_survey_avg = restaurant.survey_averages_restaurants(@surveys) %>
        <% end %>
        <% avg_survey = all_survey_avg[:all] rescue 0 %>
        <td><%= float_format(avg_survey, 2) %></td>
        <% total_survey += avg_survey %>
        <% restaurant_avg_survey += 1 if avg_survey > 0 %>
        <% end %>

        <% coming = restaurant.avg_coming.round(1) %>
        <td><%= coming %></td>
        <% total_coming += coming %>
        <% restaurant_avg_coming += 1 if coming > 0 %>
        <% restaurant_count = restaurant_count + 1 %>
        </tr>
    <% end %>
<% end %>

<%#= debug @restaurants.total_pages %>
<%= will_paginate @restaurants %>
<% avg_this_month = total_member_this_month.to_f / restaurant_month_with_member.to_f %>
<% if @search_summaries.blank? or !@tag_filter.blank? %>
<script>
    $(document).ready(function () {
        $('#total-members').html('<%= float_format(DashboardQuery::SummaryChain.sum_total_members(@all_restaurants),1) %>');
        $('#total-member-month').html('<%= float_format(DashboardQuery::SummaryChain.sum_average_month(@all_restaurants),1) %>');
        $('#total-member-last-month').html('<%= float_format(DashboardQuery::SummaryChain.sum_average_last_month(@all_restaurants),1) %>');
        $('#avg-survey').html('<%= DashboardQuery::SummaryChain.sum_summary_average_survey(@all_restaurants,@surveys)[:all] %>');
        $('#avg-coming').html('<%= DashboardQuery::SummaryChain.sum_avg_visit(@all_restaurants) %>');
        $(".pagination").find("a").attr("data-remote", true);
        $('.pagination a').click(function () {
            $('.body_table').ajaxloader();
        });
    });

</script>
<% end %>