<tbody class="">
<% total_member = 0 %>
<% total_member_this_month = 0 %>
<% total_survey = 0 %>
<% total_coming = 0 %>
<% restaurant_count = 0 %>
<% restaurant_with_member = 0 %>
<% restaurant_month_with_member = 0 %>
<% restaurant_avg_coming = 0 %>
<% restaurant_avg_survey = 0 %>

<% unless @restaurants.blank? %>
    <% @restaurants.each_with_index do |restaurant, index| %>
        <% if current_owner.is_manager? %>
            <%
            display = 'none' if !current_owner.restaurant_list.include?(restaurant)
            %>
            <tr style="display:<%= display %>;">
        <% else %>
            <tr>
        <% end %>
        <% display_text = restaurant.dashboard_display_text %>
        <td><%= display_text.nil? ? "-" : display_text %></td>

        <% members = restaurant.all_total_member %>

        <td><%= members %></td>
        <% total_member += members %>
        <% restaurant_with_member += 1 if members > 0 %>

        <% member_this_month = restaurant.member_this_month %>
        <td><%= member_this_month %></td>
        <% total_member_this_month += member_this_month %>
        <% restaurant_month_with_member += 1 if member_this_month > 0 %>

        <% sur = SurveysUser.where("restaurant_id in (?)", [restaurant]).first.survey rescue nil %>
        <% all_survey_avg = restaurant.survey_averages_restaurant(sur) rescue 0 %>
        <% if all_survey_avg == 0 %>
            <% all_survey_avg = restaurant.survey_averages_restaurants(@surveys) %>
        <% end %>
        <% avg_survey = all_survey_avg[:all] rescue 0 %>
        <td><%= float_format(avg_survey, 2) %></td>
        <% total_survey += avg_survey %>
        <% restaurant_avg_survey += 1 if avg_survey > 0 %>


        <% coming = restaurant.avg_coming.round(1) %>
        <td><%= coming %></td>
        <% total_coming += coming %>
        <% restaurant_avg_coming += 1 if coming > 0 %>
        <% restaurant_count = restaurant_count + 1 %>
        </tr>
    <% end %>
<% end %>
</tbody>

<% avg_this_month = total_member_this_month.to_f / restaurant_month_with_member.to_f %>
<script>
    $(document).ready(function () {
        $('#total-members').html('<%= float_format((total_member.to_f / restaurant_with_member.to_f),1)  %>');
        $('#total-member-month').html('<%= float_format(avg_this_month,1) %>');
        $('#avg-survey').html('<%= float_format((total_survey.round(2)/restaurant_avg_survey),2) %>');
        $('#avg-coming').html('<%= float_format((total_coming.round(2) / restaurant_avg_coming),1) %>');
    });
</script>