<% unless @restaurants.blank? %>
    <% @restaurants.each_with_index do |restaurant, index| %>
        <% db_summary = restaurant.db_summary %>
        <% if current_owner.is_manager? %>
            <%
               display = 'none' if !current_owner.restaurant_list.include?(restaurant)
            %>
            <tr style="display:<%= display %>;">
        <% else %>
            <tr>
        <% end %>
        <% display_text = restaurant.dashboard_display_text %>
        <td><%= display_text.nil? ? "-" : display_text %></td>

        <% members = db_summary.total_member rescue 0 %>

        <td><%= members %></td>

        <% member_this_month = db_summary.member_this_month rescue 0 %>
        <td><%= member_this_month %></td>

        <% member_last_month = db_summary.member_last_month rescue 0 %>
        <td><%= member_last_month %></td>

        <% if @is_avg  ## setting on admin%>
            <td><%= float_format((db_summary.avg_general rescue 0), 2)  %></td>
        <% end %>

        <% coming = db_summary.avg_visit_month.round(1) rescue 0  %>
        <td><%= coming %></td>
        </tr>
    <% end %>
<% end %>

<%= will_paginate @restaurants %>

<% if @search_summaries.blank? or !@tag_filter.blank? %>
    <script>
        $(document).ready(function () {
            $('#total-members').html('<%= float_format(DashboardQuery::SummaryChain.sum_total_members_v2(@all_restaurants),1) %>');
            $('#total-member-month').html('<%= float_format(DashboardQuery::SummaryChain.sum_average_month_v2(@all_restaurants),1) %>');
            $('#total-member-last-month').html('<%= float_format(DashboardQuery::SummaryChain.sum_average_last_month_v2(@all_restaurants),1) %>');
            $('#avg-survey').html('<%= float_format(DashboardQuery::SummaryChain.sum_summary_average_survey_v2(@all_restaurants),2)%>');
            $('#avg-coming').html('<%= float_format(DashboardQuery::SummaryChain.sum_avg_visit_v2(@all_restaurants),1) %>');
        });

    </script>
<% end %>