  <table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
      <th class="span3">
        Location
        <% if current_owner.is_chain_owner? and @tag_list.size > 0 and !@tag_list.first.blank?  %>
            <div class="ui-select" style="width:150px">
              <%= select_tag("filter_type", options_for_select([" All locations  "]+@tag_list, :selected => @filter_tag),
                             :onchange => "$('#tag').val($('#filter_type').val()); $('#btn_post').click();") %>
            </div>
        <% end %>
      </th>
      <th class="span3">
        <span class="line"></span>
        Total members
        <!--<a data-content="Total # of unique members who have submitted at least one receipt." rel="tooltip" class="icon-question-sign" data-trigger="hover" href="#" data-original-title=""></a>-->
        <a data-content="Number of app users who have submitted a receipt, by location." rel="tooltip" class="icon-question-sign" data-trigger="hover" href="#" data-original-title=""></a>
      </th>
      <th class="span3">
        <span class="line"></span>New members this month
      </th>
      <th class="span3">
        <span class="line"></span>New Member Month Prior
      </th>
      <!-- setting avg surveys --->
      <% if @is_avg %>
          <th class="span3">
            <span class="line"></span>Avg general survey score
          </th>
      <% end %>
      <th class="span3">
        <span class="line"></span>Avg visits per month
      </th>
    </tr>
    <tr>
      <th class="" style="font-size:16px">
        <b>
          <% begin %>
              <% if current_owner.is_manager? %>
                  System Average
              <% else %>
                  Averages
              <% end %>
          <% rescue %>
              Averages
          <% end %>
        </b>
      </th>
      <th class="span3" style="font-size:16px"><b><span id="total-members"><%= image_tag 'loader.gif' %></span></b></th>
      <th class="span3" style="font-size:16px"><b><span id="total-member-month"><%= image_tag 'loader.gif' %></span></b>
      <th class="span3" style="font-size:16px"><b><span id="total-member-last-month"><%= image_tag 'loader.gif' %></span></b>
      </th>
      <th class="span3" style="font-size:16px"><b><span id="avg-survey"><%= image_tag 'loader.gif' %></span></b></th>
      <% if @is_avg %>
          <th class="span3" style="font-size:16px"><b><span id="avg-coming"><%= image_tag 'loader.gif' %></span></b></th>
      <% end %>
    </tr>
    </thead>
    <tbody class="body_table">
    <%= render 'list' %>
    </tbody>
  </table>
