<%= form_tag search_summaries_owner_greetings_path, :class => 'pull-right', :method => :get, :remote => true do %>
    <div class="">
      <div title="" data-toggle="tooltip" class="head" data-original-title="">
        <input type="text" placeholder="Restaurant's name..." class="span8 search" name="restaurant">
        <div class="hide">
          <hr />
          Start
          Date <%= text_field_tag "start_date", nil,
                                  :class => "x-datepicker-day-search",
                                  :readonly => true,
                                  :style => 'cursor:pointer;',
                                  :id => 'start_date_search'%>
          <%= hidden_field_tag "tag" %>
          <br/>
          <div id="end_date_div" style="display:none;">
            End
            Date&nbsp; &nbsp; <%= text_field_tag "end_date", nil,
                                                 :class => "x-datepicker-max-day-search",
                                                 :readonly => true,
                                                 :style => 'cursor:pointer;display:none;',
                                                 :id => 'end_date_search'
          %></div>
          <%= hidden_field_tag "from_reward", true if params[:action].to_s == "rewards" %>
          <hr/>
        </div>
        <%= submit_tag "search", :id => "btn_post",
                       :class => 'btn btn-info pull right', :onclick => "$('.body_table').ajaxloader();" %>
      </div>
    </div>
<% end %>

<script>
  $(document).ready(function () {
      $(".x-datepicker-day-search").datepicker({
          onSelect:function (theDate) {
              var d1 = $('#start_date_search').datepicker("getDate");
              var d2 = $('#start_date_search').datepicker("getDate");
              d1.setDate(d1.getDate() + 30); // change to + 29 if

              $("#end_date_search").datepicker("option", "maxDate", d1);
              $("#end_date_search").datepicker("option", "minDate", d2);
              $('#end_date_search').show();
              $('#end_date_div').show();
          },
          beforeShow:function () {
              $('#ui-datepicker-div').css('z-index', 9999);
          },
          dateFormat:'yy-mm-dd'
      });

      $(".x-datepicker-max-day-search").datepicker({

          beforeShow:function () {
              $('#ui-datepicker-div').css('z-index', 9999);
          },
          dateFormat:'yy-mm-dd'
      });
      $('#start_date_search').val('');
  });
</script>