<%= debug "tasdfjaklsdfjadsf" %>
<%= debug @is_avg %>
<% content_for :top_menu do %>
    <section class="navwraper">
      <div class="subnav">
        <ul class="nav nav-pills">
          <% if current_owner.parent_id.nil? && 1 == 0 # using the else statement  %>
              <li style="width:19%;"><a href="<%= owner_greetings_path %>"><i class="icon-summary"></i>Summary</a></li>
              <li style="width:19%;"><a href="<%= owner_members_path %>"><i class="icon-members"></i>Members</a></li>
              <li style="width:19%;"><a href="<%= @is_avg.blank? ? owner_surveys_path : all_survey_surveys_path %>"><i class="icon-Surveys"></i>Surveys</a></li>
              <li style="width:19%;"><a href="<%= owner_activities_path %>"><i class="icon-Rewards"></i>Activity</a>
              </li>
          <% else %>
              <% survey_path = current_owner.is_manager? ? all_survey_owner_surveys_path : owner_surveys_path %>
              <li><a href="<%= owner_greetings_path %>"><i class="icon-summary"></i>Summary</a></li>
              <li><a href="<%= owner_members_path %>"><i class="icon-members"></i>Members</a></li>
              <li><a href="<%= @is_avg.blank? ? survey_path : all_survey_surveys_path %>"><i class="icon-Surveys"></i>Surveys</a></li>
              <li><a href="<%= owner_activities_path %>"><i class="icon-Rewards"></i>Activity</a></li>
              <% if current_owner.role_id == 1 || current_owner.role_id.blank? %>
                  <!--<li><a href="<%= owner_owner_jobs_path %>"><i class="icon-tak"></i>Take Action</a></li>-->
              <% end %>
          <% end %>
        </ul>
      </div>
    </section>
<% end %>

<% if current_owner.role_id == 1 || current_owner.role_id.blank? %>
    <style>
        .nav-tabs > li, .nav-pills > li {
            width: 20%;
        }
    </style>
<% end %>