$('#content_table').html('<%= escape_javascript(render 'row_tables') %>');

<%# unlees @tag_filter.blank? %>
$('#total-members').html('<%= float_format(DashboardQuery::SummaryChain.sum_total_members(@all_restaurants),1) %>');
$('#total-member-month').html('<%= float_format(DashboardQuery::SummaryChain.sum_average_month(@all_restaurants),1) %>');
$('#total-member-last-month').html('<%= float_format(DashboardQuery::SummaryChain.sum_average_last_month(@all_restaurants),1) %>');
$('#avg-survey').html('<%= DashboardQuery::SummaryChain.sum_summary_average_survey(@all_restaurants,@surveys)[:all] %>');
$('#avg-coming').html('<%= float_format(DashboardQuery::SummaryChain.sum_avg_visit(@all_restaurants),1) %>');
<%# end %>