<div class="table-wrapper products-table section">
  <div class="row-fluid head">
    <div class="span12">
      <h2>Summary data </h2>
      <%#= @tag_list %>
      <br/>
      <a href="#modal_popup_export" class="btn" role="button" data-toggle="modal" id="survey_load"
         data-backdrop="static" data-keyboard="false">

        <i class="icon-file">
        </i>Export to csv</a>
      </a>
      <%= render 'search_form' %>
    </div>
  </div>

  <div class="row-fluid">
    <table class="table table-hover table-striped table-bordered">
      <thead>
      <tr>
        <th class="span3">
          Location
          <% if current_owner.is_chain_owner? and @tag_list.size > 0 and !@tag_list.first.blank? %>
              <!--<div class="ui-select" style="width:150px">-->
              <%#= select_tag("filter_type", options_for_select(["-- All locations -- "]+@tag_list,
                                                             :selected => @filter_tag),{:onchange => "window.location = '/owner/summaries?tag='+this.value"}) %>
              <div class="btn-group">
                <button class="btn">Regions</button>
                <button class="btn dropdown-toggle" id="button_filter" data-toggle="dropdown" onclick="$('#filter_content').toggle();">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="filter_content" style="padding: 10px;">

                  <%= form_tag owner_greetings_path, :method => :get, :class => "region-options" do %>
                      <li>
                        <a href="#"> <%= check_box_tag "check_all_region", "check_all_region",
                                                       params['check_all_region'].blank? ?  false : true,
                                                       {:onclick => "$('#filter_content').show();", :class => 'span2'} %>
                        </a>
                        <b>All Regions</b>
                      </li>

                      <% @tag_list.each do |tag| %>
                          <li><a href="#"> <%= check_box_tag "tag[]", "#{tag}",
                                           params['tag'].blank? ? false : params['tag'].include?(tag),
                                                             {:onclick => "$('#filter_content').show();", :class => 'span2'} %>
                          </a>
                            <%= tag %></li>
                      <% end %>
                      <%= button_tag "Search",:class => 'btn-mini btn-primary' %>
                  <% end %>
                </ul>
              </div>
              <!--</div>-->
          <% end %>
        </th>
        <th class="span3">
          <span class="line"></span>
          Total members
          <!--<a data-content="Total # of unique members who have submitted at least one receipt." rel="tooltip" class="icon-question-sign" data-trigger="hover" href="#" data-original-title=""></a>-->
          <a data-content="Number of app users who have submitted a receipt, by location." rel="tooltip" class="icon-question-sign" data-trigger="hover" href="#" data-original-title=""></a>
        </th>
        <th class="span3">
          <span class="line"></span>New members this month
        </th>
        <th class="span3">
          <span class="line"></span>New Member Month Prior
        </th>
        <!-- setting avg surveys --->
        <% if @is_avg %>
            <th class="span3">
              <span class="line"></span>Avg general survey score
            </th>
        <% end %>
        <th class="span3">
          <span class="line"></span>Avg visits per month
        </th>
      </tr>
      <tr>
        <th class="" style="font-size:16px">
          <b>
            <% begin %>
                <% if current_owner.is_manager? %>
                    System Average
                <% else %>
                    Averages
                <% end %>
            <% rescue %>
                Averages
            <% end %>
          </b>
        </th>
        <th class="span3" style="font-size:16px"><b><span id="total-members"><%= image_tag 'loader.gif' %></span></b>
        </th>
        <th class="span3" style="font-size:16px">
          <b><span id="total-member-month"><%= image_tag 'loader.gif' %></span></b>
        <th class="span3" style="font-size:16px">
          <b><span id="total-member-last-month"><%= image_tag 'loader.gif' %></span></b>
        </th>
        <% if @is_avg %>
            <th class="span3" style="font-size:16px"><b><span id="avg-survey"><%= image_tag 'loader.gif' %></span></b>
            </th>
        <% end %>
        <th class="span3" style="font-size:16px"><b><span id="avg-coming"><%= image_tag 'loader.gif' %></span></b></th>

      </tr>
      </thead>
      <tbody class="body_table">
      <%= render 'new_list' %>
      </tbody>
    </table>
  </div>
</div>

<div id="modal_popup_export" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="alertModal1" aria-hidden="true" style="left: 0px; right: 0px; margin: auto;width: 400px;">
  <!-- Modal -->
  <div class="modal-header" style="">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close_button">×</button>
  </div>

  <div class="modal-body" style="text-align: left;">
    Are You Sure Want to Export to csv ?
  </div>

  <div class="modal-footer">
    <%= link_to "Yes", export_summaries_owner_greetings_path, :class => 'btn btn-primary', :id => 'alerModal1-ok' %>
    <a href="#" class="btn" data-dismiss="modal" id="alertModal1-cancel">No</a>
  </div>
</div>
<script>
    $(document).ready(function () {
        if ($("[rel=tooltip]").length) {
            $("[rel=tooltip]").popover({
                offset:10
            })
        }




        $('#check_all_region').click(function () {

            if($('#check_all_region').is(':checked') == true){
            $(".region-options li input[type='checkbox']").each(function(){
                        $(this).attr('checked', true);

                    }
            )
            }else{
                $(".region-options li input[type='checkbox']").each(function(){
                            $(this).attr('checked', false);
                        }
                )
            }
        });
    });
</script>

<style>
    ul#filter_content li a:hover {
        text-decoration: none !important;
    }

    ul#filter_content li {
        overflow: hidden;
    }

    .table-wrapper .table input[type="checkbox"] {
        float: none;
        margin-right: 0px;
        margin-top: 0px;
    }

    .region-options li {
        height: 25px !important;font-weight: normal !important; font-size: 12px !important;
        text-transform:none; !important;
    }

    .region-options .btn-mini {
        margin-top: 10px !important;
    }
    .region-options li .span2 {
        margin-top: 0px !important;
    }

</style>
