$('.body_table').html('<%= escape_javascript(render 'new_list') %>');

<%# unlees @tag_filter.blank? %>
$('#total-members').html('<%= float_format(DashboardQuery::SummaryChain.sum_total_members_v2(@all_restaurants),1) %>');
$('#total-member-month').html('<%= float_format(DashboardQuery::SummaryChain.sum_average_month_v2(@all_restaurants),1) %>');
$('#total-member-last-month').html('<%= float_format(DashboardQuery::SummaryChain.sum_average_last_month_v2(@all_restaurants),1) %>');
$('#avg-survey').html('<%= float_format(DashboardQuery::SummaryChain.sum_summary_average_survey_v2(@all_restaurants),2)%>');
$('#avg-coming').html('<%= float_format(DashboardQuery::SummaryChain.sum_avg_visit_v2(@all_restaurants),1) %>');
<%# end %>