<div class="container-fluid wrapper bg-grey">
  <div class="content">
    Credit card payment<br />
    not available at this time.
  </div>
</div>
<style type="text/css">
  .bg-grey
  {
    background-color: #4B4B4D;
    width: 100%;
    height: 100%;
  }

  .content{
    margin-top: 40%;
    color: #E1E1E1;
    font-size: 26px;
    text-align: center;
  }
  body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        background-color: #4B4B4D;
  }
  p  {
    margin: 0 0 9px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 26px;
    line-height: 18px;
  }
</style>
