<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Pei Wei - Contact Us</title>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta name="viewport" id="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/sunny/jquery-ui.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" />
   <%= stylesheet_link_tag "pei_wei_contact"%>
   <%= stylesheet_link_tag "sweetalert2.min"%>

</head>

<body style="font-family: MuseoSans500;background-color: #4b4b4d;color:white;padding-top: 25px;padding-bottom: 25px;">
	<section class="content">
		<div class="container">
			<div class="row">
      <%= form_tag "/page/contact_submit/#{params[:appkey]}?#{@parameter_return}", novalidate: true, id: "form" do %>
					<div class="col-md-5 center-block" style="float:none;">
						<!-- <h2 style="text-align: center;">Pei Wei</h2> -->
						<!-- <h3>Contact Us</h3> -->
						<!-- <h3>Contact Us</h3> -->
						<label class="input-title" style="font-family: BentonSansCondBoldItalic; color: #007a87; font-size: 16px;font-weight: bold;">We'd love to hear from you! </label>
						<br>
						<div class="control-group form-group">
							<label class="input-title" for="first_name">*First name </label>
							<input class="btn-block form-control primary-field" type="text" id="first_name" name="contact[FirstName]" value="<%= @user[:first_name] rescue nil %>" placeholder=""  required >
							<span class="help-block errors-msg-form"></span>
						</div>
						<div class="control-group form-group">
							<label class="input-title" for="last_name">*Last name </label>
							<input class="btn-block form-control primary-field" type="text" id="last_name" value="<%= @user[:last_name] rescue nil %>" name="contact[LastName]" placeholder=""   required >
							<span class="help-block errors-msg-form"></span>
						</div>
						<div class="control-group form-group">
							<label class="input-title" for="email">*Email </label>
							<input class="btn-block form-control primary-field" type="email" id="email" name="contact[Email]" value="<%= @user[:email] rescue nil %>" placeholder=""  required >
							<span class="help-block errors-msg-form"></span>
						</div>
						<div class="control-group form-group">
							<label class="input-title" for="phone_number">*Phone </label>
							<input class="btn-block form-control primary-field phone_number" type="text" id="phone_number" name="contact[PhoneNumber]" value="<%= @user[:phone_number] rescue nil %>" placeholder="" data-validation-regex-regex="^\d{10}$" data-validation-regex-message="Oops. The phone number you entered isn't quite right. Please enter a 10 digit number and try again."
							 required >
							<span class="help-block errors-msg-form"></span>
						</div>
						<div class="form-group control-group" style="margin-bottom: 0px;">

							<label class="input-title" for="topic">* What's the main topic of your message? </label>
							<select class="btn-block form-control" id="select-topic" required>
								<option value="" class=""></option>
				                <% @topics.each_with_index do |topic, index|%>
				  				<option value="<%= topic["Heading"]%>" class="<%= 'IsVisitRequired' if topic["IsVisitRequired"] %>"><%= topic["Heading"] %></option>
				  				<% end %>
							</select>
						</div>
						<div class="control-group">
							<input class="btn-block primary-field" type="hidden" id="input-topic" name="contact[Topic]"  >
							<span class="help-block errors-msg-form"></span>
						</div>

						<div class="extra-form hide">
							<label class="input-title">When and where was your visit? </label>
							<div class=" control-group form-group"  style="margin-bottom: 0px;">
              <label class="input-title">* Date of Visit</label>
								<input class="btn-block form-control extra-fields" type="text" name="date" value="" id="date-of-visit" style="background-color: #fff;" readonly required/>
							</div>
							<div class="control-group">
	              				<input type="hidden" name="contact[VisitDate]" value="" id="date_of_visit" class="extra-fields" style="" />
								<span class="help-block errors-msg-form"></span>
	              			</div>

							<div class="control-group form-group">
<label class="input-title">* Time </label><br />
        <input id="visit_time_lunch" type="radio" value="lunch" class="extra-fields" name="contact[VisitTime]">
        <label  for="visit_time_lunch"> Lunch</label><br>
        <input id="visit_time_dinner" type="radio" value="dinner" class="extra-fields" name="contact[VisitTime]">
        <label for="visit_time_dinner"> Dinner</label><br/>
<label for="contact[VisitTime]" class="error" style="display: none;"></label>
	           </div>
							<div class="control-group form-group" style="margin-bottom: 0px;">

								<label class="input-title" for="topic">* Pei Wei Location </label>
				        <input id="project" type="text" name="loc" class="btn-block form-control extra-fields" placeholder="City, Zip Code, or Address" required>
				          <div class="ui-widget"></div>
					   </div>

							<div class="control-group">
				                <input type="hidden" id="project-id" name="contact[StoreId]" class="extra-fields">
								<span class="help-block errors-msg-form"></span>
					        </div>

							<label class="input-title" for="address">How can we get in touch? </label>
							<!-- <hr> -->
							<div class="control-group form-group">
								<label class="input-title" for="address">* Address </label>
								<input class="btn-block form-control extra-fields" type="text" name="contact[Address1]" value="" id="address"  style="" placeholder=""  />
								<span class="help-block errors-msg-form"></span>
	              			</div>
							<div class="control-group form-group">
								<label class="input-title" for="address-line-2">Address Line 2 </label>
								<input class="btn-block form-control" type="text" name="contact[Address2]" value="" id="address-line-2" style="" placeholder="" />
								<span class="help-block errors-msg-form"></span>
	              			</div>
							<div class="control-group form-group">
								<label class="input-title" for="city">* City </label>
								<input class="btn-block form-control extra-fields" type="text" name="contact[City]" value="" id="city" style="" placeholder=""  />
								<span class="help-block errors-msg-form"></span>
	              			</div>
							<div class="control-group form-group" style="margin-bottom: 0px;">

								<label class="input-title" for="state">* State </label>
								<select class="btn-block form-control extra-fields" name="state" id="select-state" required>
								<option value="" class="" disabled selected></option><option value="ab">Alberta</option><option value="ak">Alaska</option><option value="al">Alabama</option><option value="ar">Arkansas</option><option value="as">American Samoa</option><option value="az">Arizona</option><option value="bc">British Columbia</option><option value="ca">California</option><option value="co">Colorado</option><option value="ct">Connecticut</option><option value="dc">Washington DC</option><option value="de">Delaware</option><option value="fl">Florida</option><option value="ga">Georgia</option><option value="gu">Guam GU</option><option value="hi">Hawaii</option><option value="ia">Iowa</option><option value="id">Idaho</option><option value="il">Illinois</option><option value="in">Indiana</option><option value="ks">Kansas</option><option value="ky">Kentucky</option><option value="la">Louisiana</option><option value="ma">Massachusetts</option><option value="mb">Manitoba</option><option value="md">Maryland</option><option value="me">Maine</option><option value="mi">Michigan</option><option value="mn">Minnesota</option><option value="mo">Missouri</option><option value="mp">Northern Mariana Islands</option><option value="ms">Mississippi</option><option value="mt">Montana</option><option value="nb">New Brunswick</option><option value="nc">North Carolina</option><option value="nd">North Dakota</option><option value="ne">Nebraska</option><option value="nh">New Hampshire</option><option value="nj">New Jersey</option><option value="nl">Newfoundland and Labrador</option><option value="nm">New Mexico</option><option value="ns">Nova Scotia</option><option value="nt">Northwest Territories</option><option value="nu">Nunavut</option><option value="nv">Nevada</option><option value="ny">New York</option><option value="oh">Ohio</option><option value="ok">Oklahoma</option><option value="on">Ontario</option><option value="or">Oregon</option><option value="pa">Pennsylvania</option><option value="pe">Prince Edward Island</option><option value="pr">Puerto Rico</option><option value="qc">Quebec</option><option value="ri">Rhode Island</option><option value="sc">South Carolina</option><option value="sd">South Dakota</option><option value="sk">Saskatchewan</option><option value="tn">Tennessee</option><option value="tx">Texas</option><option value="ut">Utah</option><option value="va">Virginia</option><option value="vi">Virgin Islands</option><option value="vt">Vermont</option><option value="wa">Washington</option><option value="wi">Wisconsin</option><option value="wv">West Virginia</option><option value="wy">Wyoming</option><option value="yt">Yukon Territory</option>
								</select>
	              			</div>
							<div class="control-group">
								<input class="btn-block extra-fields" type="hidden" id="input-state" name="contact[State]">
								<span class="help-block errors-msg-form"></span>
							</div>
	              			<div class="control-group form-group">
								<label class="input-title" for="zipcode">* Zip Code </label>
								<input class="btn-block form-control extra-fields" type="text" name="contact[ZipCode]" value="" id="zipcode" style="" placeholder="" data-validation-regex-regex="^\d{5}(?:[-\s]\d{4})?$" data-validation-regex-message="The Zip code you entered is not a valid format. Please give it another shot." />
								<span class="help-block errors-msg-form"></span>
	              			</div>

						</div>

						<label class="input-title">What's on your mind? </label>
						<!-- <hr> -->
						<div class="control-group form-group">
							<label class="input-title" for="comment">Comment </label>
							<span class="help-block errors-msg-form pull-right"></span>
							<textarea id="comment" class="btn-block form-control" rows="5" name="contact[Comment]" placeholder=""></textarea>
						</div>

						<div class="form-group">
							<br><br>
							<button class="btn btn-danger btn-block" type="submit" style="border-radius: 15px;">Send</button>
						</div>
					</div>
				<% end%>
			</div>
		</div>
	</section>
	<section class="footer">

	</section>

<!-- Modal -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title"></div>
      </div>
      <div class="modal-body" style="overflow:visible;">
        <p class="modal-message"></p>
      </div>
     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->

<div id="loader" class="" style="display: none;position: fixed;top: 50%;left: 50%;margin: -50px 0px 0px -25px;">
  <div class="modal-backdrop" style="background: rgba(0,0,0,0.4); margin: auto;position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1040;"></div>
  <div class="swal2-content">
    <%= image_tag "loader-red.gif", size: "40x40"%>
  </div>
</div>

</body>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
     <%= javascript_include_tag "jquery.validate" %>
	<!--
	  For the sake of accessibility, we're including label elements
	  and showing them if placeholder support isn't available. To
	  make this easier, we're appending a class to the html element
	  (since Modernizr does not do that by default for many form tests).
	  This is *not* required for hideShowPassword to work... it's just
	  a nicety of the demo.
	-->
	<script>if(Modernizr.input.placeholder)document.getElementsByTagName('html')[0].className+=' inputplaceholder';</script>

<script type="text/javascript">
$.each($('#form  .primary-field'), function(index, control) {
    $(control).focusout(function() {
        if ($('#form').validate().element(this)) {
          $(this).parent().removeClass("has-error")
          $(this).parent().addClass("has-success")
          console.log("valid")
           //Code for show a valid message or remove a invalid message
        } else {
          $(this).parent().removeClass("has-success")
          $(this).parent().addClass("has-error")
          console.log("invalid")
           //Code for show a invalid message
        }
    });

    $(control).keyup(function() {
        if ($('#form').validate().element(this)) {
          $(this).parent().removeClass("has-error")
          $(this).parent().addClass("has-success")
          console.log("valid")
           //Code for show a valid message or remove a invalid message
        } else {
          $(this).parent().removeClass("has-success")
          $(this).parent().addClass("has-error")
                    console.log("invalid")
           //Code for show a invalid message
        }
    });

});

$.validator.addMethod(
        "regexZipCode",
        function(value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        },
        "The Zip code you entered is not a valid format. Please give it another shot."
);
$.validator.addMethod(
        "regexPhone",
        function(value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        },
        "Oops. The phone number you entered isn't quite right. Please enter a 10 digit number and try again."
);



function CallValidateForm(){
$("#form").validate({
  highlight: function(element, errorClass, validClass) {
    $(element).parent().removeClass("has-success")
    $(element).parent().addClass("has-error")
  },
  unhighlight: function(element, errorClass, validClass) {
          $(element).parent().removeClass("has-error")
          $(element).parent().addClass("has-success")
  },
  invalidHandler: function(form, validator) {
        var errors = validator.numberOfInvalids();
        if (errors) {
          console.log("error!")
          $(".modal-title").text("");
          $(".modal-message").html("One or more fields are invalid, please check and try again.");
          $(".modal-content").css("background-color", "#ff9393");
          $(".modal-content").css("color", "#b94f4f");
          $("#myModal").modal('show');
            //resize code goes here
        }
    },
    submitHandler: function(form) {
    loader("show");
      form.submit();
    }

});
$("#phone_number").rules("add", { regexPhone: /^\d{10}$/ });
$("#zipcode").rules("add", { regexZipCode: /^\d{5}(?:[-\s]\d{4})?$/ });
}
    CallValidateForm();
    var ua = navigator.userAgent;
    var uaString = "";
    if((/Android/i.test(ua)) && (/Chrome/i.test(ua)) ){
      uaString = "chrome mobile"
    }else if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini|Mobile|mobile|CriOS/i.test(ua))
       uaString = "mobile other"
    else if(/Chrome/i.test(ua))
       uaString = "chrome";
    else
       uaString = "other desktop"
        /* start remove space */
        $('body').on('keydown', 'input[type-dump=text], input[type=text], textarea', function(e) {
          // $(this).val($(this).val().replace(/^\s+/g, ''));
        }).on('keyup', 'input[type-dump=text], input[type=text], textarea', function(e) {
          $(this).val($(this).val().replace(/^\s+/g, ''));
        });

        var filter = /^([a-zA-Z0-9_\.\-\@])+$/;
        $("input[type=email]").on({
          keydown: function(e) {
            if((uaString != "chrome mobile") && ((e.which == 32) || (e.keyCode==32))) {
              return false
            }
            if((uaString == "chrome mobile") && ((e.which == 229) || (e.keyCode==229) || (e.which==0) || (e.which==229))) {
              return false
            }
        },
        keyup: function(e) {
          kCd = e.keyCode || e.which;
          if(uaString == "chrome mobile"){
            $(this).val($(this).val().replace(/[^a-zA-Z0-9_\.\-\@]/g, ""));
            $(this).val($(this).val().replace(/\s/g, ''));
          }else if ((e.which == 32) || (e.keyCode==32) || !(filter.test($(this).val()))){
            $(this).val($(this).val().replace(/[^a-zA-Z0-9_\.\-\@]/g, ""));
            console.log("aa")
            $(this).val($(this).val().replace(/\s/g,''));
          }
        }
        });
        $("input[type=password]").on({
          keydown: function(e) {
            if((uaString != "chrome mobile") && ((e.which == 32) || (e.keyCode==32))) {
              return false;
            }
             if((uaString == "chrome mobile") && ((e.which == 229) || (e.keyCode==229))) {
              return false;
            }

          },
        keyup: function(e) {
          if(uaString == "chrome mobile"){
            $(this).val($(this).val().replace(/\s/g,''));
          }else if ((e.which == 32) || (e.keyCode==32)){
            $(this).val($(this).val().replace(/\s/g,''));
          }
        }
        });
        /* end remove space */


        var phone = document.getElementById('email'), cleanSpace;

        cleanSpace= function(e) {
            e.preventDefault();
            var pastedText = '';
            if (window.clipboardData && window.clipboardData.getData) { // IE
                pastedText = window.clipboardData.getData('Text');
              } else if (e.clipboardData && e.clipboardData.getData) {
                pastedText = e.clipboardData.getData('text/plain');
              }
            this.value = pastedText.replace(/\s/g, '');
        };
        $("#password, #email, #first_name, #last_name").each(function() {
          // $(this).onpaste = cleanSpace;
          // console.log();
          document.getElementById($(this).attr("id")).onpaste = cleanSpace;
        });


	$(document).ready(function(){
  		$('input[name=autocomplete]').mask('WSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS', {'translation': {S: {pattern: /[a-zA-Z0-9,. ]/}, W: {pattern: /[a-zA-Z0-9]/}}});
		$('#phone_number').mask('0000000000');

		$('#first_name, #last_name').mask('WSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS', {'translation': {S: {pattern: /[a-zA-Z]/}, W: {pattern: /[a-zA-Z]/}}});
		$('#email').mask('SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS', {'translation': {S: {pattern: /[a-zA-Z0-9@._-]/}, W: {pattern: /[a-zA-Z]/}}});
		$("input.extra-form").prop('disabled',true);
		$("#select-topic").change(function(){
			$("#input-topic").val($(this).val() + "");
			$('#select-topic option:selected');
			// $(this).find("option:selected").first().hasClass( "IsVisitRequired" );
			if ( $(this).find("option:selected").first().hasClass( "IsVisitRequired" ) ){
				$(".extra-form").removeClass('hide');
				$("input.extra-form").prop('disabled',false);
        		$("input[type=text].extra-fields").prop('required',true);
        		$("select.extra-fields").prop('required',true);
				$("input[type=radio].extra-fields").first().prop('required',true);
				// $(".extra-fields").jqBootstrapValidation();
        		CallValidateForm();
			}else{
				$(".extra-form").addClass('hide');
				$(".extra-fields").prop('required',false);
				$("input.extra-form").prop('disabled',true);
				// $(".extra-fields").jqBootstrapValidation("destroy");
				$(".extra-form .help-block").html('');
			}
		});
		$("#select-state").css("color","#8a8a8a");

		$("#select-state").change(function(){
			$("#input-state").val($(this).val());
			$("#input-state").change();
			$("#select-state").css("color","");
		});

		$('#date-of-visit').datepicker({
			minDate: -365,
        	maxDate: 0,
	        dateFormat: "mm/dd/yy",
	        altField: $("#date_of_visit"),
	        altFormat: "yy-mm-dd",
	        onSelect: function(dateText) {
	        	$("#date_of_visit").change();
	        }
      	});
    $("#date-of-visit").datepicker("setDate", new Date() );
	});

</script>


<script>
  $( function() {
    var projects = <%= @restaurants.to_json.html_safe %>;

    $( "#project" ).autocomplete({
      minLength: 1,
      source: projects,
      focus: function( event, ui ) {
        $( "#project" ).val( ui.item.value );
        return false;
      },
      select: function( event, ui ) {
        $( "#project" ).val( ui.item.value );
        $( "#project-id" ).val( ui.item.StoreID );
        $("#project-id").change();

        return false;
      },
      change: function (event, ui) {
	    if (!ui.item) {
	        $( this ).val("");
	        $( "#project-id" ).val("");
	        $("#project-id").change();
	    }
	    return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<div>" + item.name + "</div>" )
        .append( "<div>" + item.address + "</div>" )
        .append( "<div>" + item.city + "</div>" )
        .appendTo( ul );
    };
  } );


  function loader(act){
      if(act == "show"){
        document.getElementById('loader').style.display = "block";
      }
      else{
        document.getElementById('loader').style.display = "none";
      }
    }
  </script>


<script type="text/javascript">
<% if notice %>
  $(".modal-title").text("");
  $(".modal-message").html("<%= notice %>");
  $(".modal-content").css("background-color", "#b2ea9d");
  $(".modal-content").css("color", "#3b7126");
  $("#myModal").modal('show');
<% end %>

<% if alert %>
  $(".modal-title").text("");
  $(".modal-message").html("<%= alert %>");
  $(".modal-content").css("background-color", "#ff9393");
  $(".modal-content").css("color", "#b94f4f");
  $("#myModal").modal('show');
<% end %>
</script>
</html>
