<% if @response["status"] == true %>
<div class="container-fluid wrapper bg">
  <div>
    <% if alert %>
    <div class="col-md-12">
      <div class="alert">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Warning!</strong> <%= alert %>
      </div>
    </div>
    <% end %>
    <div class="col-md-12" style="padding-left:20px;padding-right:20px;">
      <% response_body = @response %>
      <%= form_tag "/page/#{params[:chain_id]}/submit_tokenex_htp/#{@headers["appkey"]}/#{@headers["auth_token"]}", id: "form-tokenex", class: "form-horizontal" do %>
      <!-- <div class="col-md-12 padding-lr-20"> -->
        <div style="padding-top:2px;">
          <label class="text-black text-bold"> Card Number</label>
          <iframe id="tokenExIframe" width="100%" height="54" scrolling="no" frameborder="0" src="<%= response_body["HTPURL"]%>" link=css-stylesheet:"/assets/bootstrap/bootstrap.css">
          </iframe>
        </div>
        <!-- </div> -->
        <!-- <div class="col-md-12 padding-lr-20"> -->
          <%= hidden_field_tag :CustomerRefNumber %>
          <%= hidden_field_tag :token %>
          <%= hidden_field_tag :cardLastDigits %>
          <%= hidden_field_tag :sessionID %>
          <%= hidden_field_tag :cardType %>
          <%= hidden_field_tag :referenceNumber, response_body["referenceNumber"] %>
          <div class="form-group" style="margin-top: -16px;">
            <label class="text-black text-bold"> MM/YYYY</label>
                  <input type="text" id="txtFocus" style="display:none;" class="input-page" />
            <%= text_field_tag :expiration, "",  class: "input-page", type: "tel"%>
          </div>
          <div class="form-group">
            <label class="text-black text-bold"> Zip Code</label>
            <%= text_field_tag :zip_code, "", class: "input-page", type: "tel"%>
          </div>

          <!-- <button type="submit" class="btn btn-danger btn-block  round margin-top-10" id="bthSubmit">SAVE</button> -->
          <div id="submitForm">
            <%= submit_tag "", class: "btn btn-block btn-background", id: "bthSubmit",    "data-disable-with" =>  "Please wait..." %>

          </div>
          <!-- </div> -->
          <% end %>
        </div>
      </div>
      <div class="row">
       <div class="col-md-12 " style="text-align: center;margin-left: 15px;margin-right: 15px;">
         <p class=" text-black center-block margin-top-25 text-bold">
          Please enter four digits for Year when typing
          your card's expiration date.
        </p>
      </div>
    </div>
  </div>

  <div id="loader" class="" style="display: none;">
    <div class="modal-backdrop" style="background: rgba(0,0,0,0.4); margin: auto;position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1040;"></div>
    <div class="swal2-content">
      <%= image_tag "loader-red.gif", size: "40x40"%>
    </div>
  </div>
  <%= content_for :css_style do %>
  <style type="text/css">
  .input-page{

    display: block;
    width: 99%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-appearance: textfield;
    cursor: auto;
    padding: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .btn-block{
    width: 100%;
    height: 115px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;

    font-weight: normal;
    display: inline-block;
     padding: 4px 10px 4px;
     margin-bottom: 0;
     font-size: 13px;
     line-height: 18px;
      text-align: center;
      vertical-align: middle;
    cursor: pointer;
    border-width:0px;
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;

    text-align: center;

    vertical-align: middle;
    margin: 0;
  }
  .form-group {
    margin-bottom: 4px;
  }
  .form-control {
    display: block;
    width: 99%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
  }
  .bg
  {
    /*background-image: url("/assets/htp_page/tijuana_flats_bg03.png");*/
  }
  .padding-lr-20{
    padding-left: 20px;
    padding-right: 20px;
  }
  .padding-lr-30{
    padding-left: 30px;
    padding-right: 30px;
  }
  .padding20{
    padding: 20px 20px 20px 20px ;
  }
  .margin-lr-40{
    margin-left: 40px;
    margin-right: 40px;
  }
  .margin-top-25{
    margin-top: 25px;
  }
  .margin-top-10{
    margin-top: 10px;
  }
  .text-black{
    color: #000000;
  }
  .text-bold{
    font-weight: bold;
  }
  .round {
    border-radius: 24px;
  }
  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: transparent;
/*    background-image: url("/assets/htp_page/tijuana_flats_bg03.png");
    background-size: cover;*/
    padding-top:90px;
  }
  p  {
    margin: 0 0 9px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
  }

  label{
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;

    margin-bottom: 5px;

    color: #E1E1E1;
  }
  .swal2-modal h2{
    font-size: 1em;
    line-height: normal;
  }

  .swal2-content{
    position: fixed;
    top: 47%;
    left: 45%;
  }
  .btn-background{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 45%;
    background-position: center center;
    background-image: url("/assets/htp_page/tijuana_flats_save.png");
    background-color: transparent;
    background-repeat: no-repeat;

  }
</style>
<% end %>

<%= content_for :js_script do %>
<script type="text/JavaScript">
  var click_history = [];
  // alert("test");
  // $('#card_form').on('submit', function (event) {
  //   var form = this;
  //   event.preventDefault();
  // })
  //
  jQuery(function($){
    // $("#expiration").mask("99/9999",{placeholder:"__/____"});
    $('#expiration').mask('99/9999', {placeholder:"__/____"});
    $('#zip_code').mask('99999');
  });

  // event validation for expiration
  document.getElementById('expiration').addEventListener('focusout', function() {
    check_validate_expiration(true);
  }, false);

  // end --------------------

  // event validation for zipcode
  document.getElementById('zip_code').addEventListener('focusout', function() {

    check_validate_zipcode(true);

  }, false);

  // end --------------------

  document.getElementById('bthSubmit').onclick = tokenize;

  //add event listener for postmessage
  if (window.addEventListener) {
    addEventListener("message", listener, false)
  } else {
    attachEvent("onmessage", listener)
  }

  //submit the iframe post
  function tokenize() {
    if(($('#zip_code').val().length < 5) || check_validate_expiration() == false){
      hideKeyboard()
      swal("We’re sorry! The information you entered is invalid.");
    }else{
      loader("show")
      var iframe = document.getElementById("tokenExIframe");
      iframe.contentWindow.postMessage('tokenize','https://test-htp.tokenex.com');
    }
    return false;
  }

  //handle the message from the iframe
  function listener(event)
  {
    var iframe = document.getElementById("tokenExIframe");
    // console.iframe
    if (event.origin === 'https://test-htp.tokenex.com')
    {
      // log("<em>Received from the iFrame:" + event.data + "</em>");
      console.log("Event : " + JSON.stringify(event));
      console.log("Event Data : " + JSON.stringify(event.data));

      var response = JSON.parse(event.data);
      console.log(response.event)
      if (response.event == "validation"){
        if(response.data.isValid ==  false){
          if($('.swal2-overlay').is(':visible') == false){
            $('#cardType').val("");
            loader("hide")
            hideKeyboard()
            swal("We’re sorry! The information you entered is invalid");
            return false;
          }
        }else{
          $('#cardType').val(response.data.cardType);
        }
      }
      if (response.event == "post"){
        if (response.data.success) {
          setToField(response.data);
          document.getElementById('form-tokenex').submit();
        }
      }
    }
    else {
      return false;
      log("<em>Origin: " + event.origin + " isQn't allowed</em>")
    }
  }

  function log(message) {
    document.getElementById("data").innerHTML += message + "<br /><br />";
  }

  function setToField(data){
    $('#token').val(data.token);
    $('#CustomerRefNumber').val(data.customerRefNumber);
    $('#sessionID').val(data.sesssionID);
    $('#cardType').val(data.cardType);
    setLastDigits(data.token)
  }

  function setLastDigits(card_number){
    var cardLastDigits = card_number.substr(card_number.length - 4);
    document.getElementById('cardLastDigits').value = cardLastDigits;

  }

  function loader(act){
    if(act == "show"){
      document.getElementById('loader').style.display = "block";
    }
    else{
      document.getElementById('loader').style.display = "none";
    }
  }

  function check_validate_expiration(popup){
    pattern = /(0|1)[0-9]\/([0-9]{4})/;
    if(pattern.test(document.getElementById('expiration').value)){
      try {
        var today, someday;
        var exMonth=document.getElementById('expiration').value.split('/')[0];
        var exYear=document.getElementById('expiration').value.split('/')[1];
        // if(["01"])
        today = new Date();
        year_expire  = today.getFullYear() + 10
        someday = new Date();
        someday.setFullYear(exYear, exMonth-1, 1);
        expireday = new Date();
        expireday.setFullYear(year_expire, exMonth-1, 31);
        if ((someday < today) ||  (someday > expireday)) {

          hideKeyboard()
          swal("We’re sorry! The information you entered is invalid.");
          return false;
        }else return true
      }
      catch(err) {
        hideKeyboard()
        swal("We’re sorry! The information you entered is invalid.");
        return false;
      }
    }else{

      hideKeyboard()
      swal("We’re sorry! The information you entered is invalid.");

      return false;
    }
    return false
  }

  function check_validate_zipcode(popup){
    max = 5;
    if(document.getElementById('zip_code').value.replace("_", "").length != max)
    {
      hideKeyboard();
      swal("We’re sorry! The information you entered is invalid.");
      return false;
    }else return true;
  }

  function hideKeyboard(){
    $('#txtFocus').show().focus().hide();
  }
</script>
<% end %>
<%else%>
<%= debug @response%>
<% end %>
