<div data-toggle="buttons-radio" class="btn-group pull-right">
  <button id="<%=chart%>_day" class="glow left" onclick="sort_date('day','<%= chart %>');return false;">1D</button>
  <button id="<%=chart%>_week" class="glow middle" onclick="sort_date('week','<%= chart %>');return false;">1W</button>
  <button id="<%=chart%>_month" class="glow middle " onclick="sort_date('month','<%= chart %>');return false;">1M</button>
  <button id="<%=chart%>_3month" class="glow middle " onclick="sort_date('3month','<%= chart %>');return false;">3M</button>
  <button id="<%=chart%>_all" class="glow right" onclick="sort_date('all','<%= chart %>');return false;" style="float:none;">ALL </button>
</div>
<section class="toggleWrapped">
  <div data-toggle="buttons-radio" class="btn-group">
    
  </div>
</section>
<script>  
  function sort_date(range,chart){
    var is_avg = "&avg=false";
    if ($('#'+chart+'_avg').is(':checked')){
        is_avg = "&avg=true";
    }

    $("#"+chart+"_content").html("<div id='<%= chart %>'><img src='/assets/spinner.gif' style='margin: auto;left: 0px; right: 0px; display:block;'></img></div>");
    $("#"+chart).load("/charts/"+chart+"?<%= session[:left_filter].html_safe %>"+"&"+"date="+range+"<%= session[:survey_id] %>"+is_avg, function(response, status, xhr) {
      if (status == "error") {
        var msg = "Sorry but there was an error: ";
        $("#error").html(msg + xhr.status + " " + xhr.statusText);
      }
    });
  }

 function avg_date(chart,sort){
    $("#"+chart+"_content").html("<div id='<%= chart %>'><img src='/assets/spinner.gif' style='margin: auto;left: 0px; right: 0px; display:block;'></img></div>");
    $("#"+chart).load("/charts/"+chart+"?"+"<%= request.query_string.html_safe %>"+"&"+"avg="+sort, function(response, status, xhr) {
      if (status == "error") {
        var msg = "Sorry but there was an error: ";
        $("#error").html(msg + xhr.status + " " + xhr.statusText);
      }
    });
  }
</script>
<script>
  $(document).ready(function() {
    // if dashboard setting is null default is week
    <% if @filter.blank?  %>
    $("#<%= chart %>_<%= params[:date].blank? ? "week" : params[:date] %>").addClass("active");
    <% else %>
      <% if params[:date].blank? %>
      $("#<%= chart %>_<%= @filter %>").addClass("active");
      <% else %>
      $("#<%= chart %>_<%= params[:date] %>").addClass("active");
      <% end %>
    <% end %>
  });
</script>