<section class="topbar">
  <h4 class="title"  style="width:95%">
    <span>
      Average Check
   <a data-content="Average dollar amount spent by app users. Calculated as Subtotals from all Receipts/ Number of Receipts."
      rel="tooltip" class="icon-question-sign" data-trigger="hover" href="#" data-original-title="Average Check"></a>
    <label class="checkbox">
      <input id="avg_check" type="checkbox" onclick="if ($('#avg_check').attr('checked')){avg_date('average_frequency',true);}else{avg_date('average_frequency',false);}" <%= params["avg"] == "true" ? "checked=true" : "" %>> Show Average</input>
    </label>
  </span>
    <%= render :partial => "charts/filter_chart_members", :locals => {:chart => "average_frequency"} %>
  </h4>


  <section class="chartWrapper">
    <div id="average_frequency_content" style="width:98%;"></div>
  </section>
</section>

<script>
    $(document).ready(function () {
        Highcharts.setOptions({
            global:{
                <% if params[:date] == "day" %>
                useUTC:true
                <% else  %>
                useUTC:true
                <% end %>
            }
        });
        chart = new Highcharts.Chart({
            chart:{
                renderTo:"average_frequency_content",
                defaultSeriesType:'line',
                height:400,
                <% if params[:date] == "day" %>
                spacingLeft:48,
                <% end %>
                borderColor:'#C4C4C4',
                borderWidth:1
            },
            title:{
                text:''
            },
            legend:{
                enabled:true
            },
            credits:{
                enabled:false
            },
            plotOptions:{
                series:{
                    connectNulls:true
                }
            },

            xAxis:{
                type:'datetime',
                dateTimeLabelFormats:{ // don't display the dummy year
                    month:'%e. %b',
                    day:'%b %e',
                    hour:'%b %e',
                    year:'%b'},

                labels:{
                    rotation:-45,
                    align:'right',
                    formatter:function () {
                        <% if params[:date] == "day"%>
                        var a = Highcharts.dateFormat('%H:%M', this.value);

                        return a
                        <% else %>
                        return Highcharts.dateFormat('%d %b', this.value);
                        <% end %>
                    },
                    style:{
                        font:'normal 13px Verdana, sans-serif'
                    }
                },
                tickInterval: <%=
        date_start = Time.zone.now
        date_end = date_start.beginning_of_day.to_i * 1000
        if params[:date].blank? or params[:date] == "week"
        date_start = (date_start - 7.days).to_i * 1000
          24

        elsif params[:date] == "all"
         date_start = (date_start - 3.months).to_i * 1000
          336
          elsif params[:date] == "3month"
          date_start = (date_start - 3.months).to_i * 1000
          144
        elsif  params[:date] == "day"
        avg_start = Time.zone.now.utc
          if Time.zone.now.utc.day != Time.zone.now.day
             avg_start = Time.zone.now.utc - 1.days
          end
       date_start = ((avg_start).change(:hour => 0)).to_i * 1000
       date_end = ((avg_start).change(:hour => 0) + 24.hours).to_i * 1000
            1
        elsif params[:date] == "month"
        date_start = (date_start - 1.months).to_i * 1000
          48
        end
        %> * 3600 * 1000,
            <% if params[:date] == "day" %>
            min: <%= date_start %>,
            max:<%= date_end %>
                    <% elsif params[:date] == "all" %>
                    min
        : <%= current_owner.chains.first.created_at.utc.to_i * 1000 %>,
        max: <%= Time.zone.now.utc.to_i * 1000 %>
                <% else %>
                min: <%= date_start %>,
        max: <%= date_end %>
                <% end %>

                }
        ,
        tooltip: {

        <% if params[:date] == "day"%>
            formatter: function () {
                var a = Highcharts.dateFormat('%I:%M %P', this.x);

                return '<b>' + this.series.name + '</b><br />' +
                        '$' + this.y + '<br/>' + '<b>' + a + '</b>';

            }
        <%else%>

            formatter: function () {
                var now = new Date(this.x);
                var utc = new Date(now.getTime() + now.getTimezoneOffset() * 60000);
                return '<b>' + this.series.name + '</b><br />' +
                        '$' + this.y + '<br/>' + '<b>' + Highcharts.dateFormat('%a %d %b', now);
                +'</b>';

            }
        <% end %>
        }
        ,
        yAxis: {
            title: {
                text: ''
            }
        ,
            gridLineWidth: 0,
                    min
        :
            0
        }
        ,

        series: <%= @chart_data.to_json.html_safe %>
                }
        )
        ;
    });

    $(document).ready(function () {
        if ($("[rel=tooltip]").length) {
            $("[rel=tooltip]").popover({
                offset:10
            })
        }
        <% if !@filter_average.blank? and params['avg'].blank? %>
        $('#average_frequency_avg').attr('checked', true);
        <% end %>
    });
</script>