<section class="topbar">
  <span>Average check by frequency <a data-content="Average dollar amount spent by app users (Subtotals from all Receipts/ Number of Receipts.) , split into groupings of customers who have visited your store 1x, 2x, or 3x+." rel="tooltip" class="icon-question-sign" href="#" data-original-title="Customer Frequency"></a>

  </span>
  <section class="chartWrapper">
    <div id="average_check_frequency_content" style="width:98%;"></div>
  </section>
  <%= render :partial => "charts/filter_chart_members", :locals => {:chart => "average_check_frequency"} %>
</section>

<script>
  var chart;
  $(document).ready(function() {
      Highcharts.setOptions({
          global: {
              useUTC: true
          }
      });
    chart = new Highcharts.Chart({

      chart: {
        renderTo: 'average_check_frequency_content',
        type: 'column',
        backgroundColor: '#F2F2F1',        
        height :400,
        borderColor: '#C4C4C4',
        borderWidth: 1
      },
 credits: {
        enabled: false
      },
      title: {
        text: 'Total average frequency'
      },

      xAxis: {
        categories: ['1x Customers', '2x Customers', '3x Customers or more']
      },

      yAxis: {
        allowDecimals: false,
        min: 0,
        title: {
          text: 'Average check'
        }
      },

      tooltip: {
        formatter: function() {
          return ''+
            '<b>'+this.series.name +'</b><br /><b>'+this.x+'</b><br />$'+ this.y +'/visit ';
        }
      },

      plotOptions: {
        bar: {
          dataLabels: {
            enabled: true
          }
        }
      },
      series : <%= @chart_data.to_json.html_safe %>
    });
  });

  $(document).ready(function() {
    if ($("[rel=tooltip]").length) {
      $("[rel=tooltip]").popover({
        offset: 10
      })

    }
  });
</script>