  <section class="topbar">
    <span>Frequency ratio <a data-content="And here's some amazing content. It's very engaging. right?" rel="popover" class="icon-question-sign" href="#" data-original-title="A Title"></a></span>
    <section class="chartWrapper">
      <div id="frequency_content"></div>
    </section>
  </section>

<script>
var chart;
$(document).ready(function() {
	chart = new Highcharts.Chart({
		chart: {
			renderTo: 'frequency_content',
			type: 'column',
      backgroundColor: '#F2F2F1',
          width : 950,
          height :400,
          borderColor: '#C4C4C4',
          borderWidth: 1
		},
		title: {
			text: ''
		},
		xAxis: {
			categories: ['monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
		},
		yAxis: {
			min: 0,
			title: {
				text: ''
			},
			stackLabels: {
				enabled: true,
				style: {
					fontWeight: 'bold',
					color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
				}
			}
		},
		legend: {
			align: 'right',
			x: -100,
			verticalAlign: 'top',
			y: 20,
			floating: true,
			backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
			borderColor: '#CCC',
			borderWidth: 1,
			shadow: false
		},
		tooltip: {
			formatter: function() {
				return '<b>'+ this.x +'</b><br/>'+
					this.series.name +': '+ this.y +'% <br/>'+
					'Total: '+ this.point.stackTotal;
			}
		},
		plotOptions: {
			column: {
				stacking: 'normal',
				dataLabels: {
					enabled: true,
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
				}
			}
		},
		series: [{
			name: 'vlc1',
			data: [10, 20, 60, 10, 20,0,90],
      stack: 'male'
		}, {
			name: 'vlc1',
			data: [90, 80, 40, 90, 80,100,10],
      stack: 'male'
		}, {
			name: 'Joe',
			data: [3, 4, 4, 2, 5,1,2],
      stack: 'female'
		},{
			name: 'John',
			data: [5, 3, 4, 7, 2,1,2],
      stack: 'female'
		}, {
			name: 'Jane',
			data: [2, 2, 3, 2, 1,1,2],
      stack: 'shemale'

		}, {
			name: 'Joe',
			data: [3, 4, 4, 2, 5,1,2],
      stack: 'shemale'
		}]
	});
});</script>