				<section class="locationtblwraper">
					<table class="tablehalf table table-striped table-bordered tblstyle fntstyle">
						<thead>
							<tr>
								<th class="tblheader">Top 5 locations YTD</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Miami <p>5</p></td>
							</tr>
							<tr>
								<td>New York <p>4.5</p></td>
							</tr>
							<tr>
								<td>Tennessee <p>4</p></td>
							</tr>
							<tr>
								<td>New Hampshire <p>4</p></td>
							</tr>
							<tr>
								<td>Elizabeth <p>4</p></td>
							</tr>
						</tbody>
					</table>
					<table class="tablehalf minmgn table table-striped table-bordered tblstyle fntstyle">
						<thead>
							<tr>
								<th class="tblheader">Bottom 5 locations YTD</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Miami <p>0.1</p></td>
							</tr>
							<tr>
								<td>New York <p>0.5</p></td>
							</tr>
							<tr>
								<td>Tennessee <p>1</p></td>
							</tr>
							<tr>
								<td>New Hampshire <p>2</p></td>
							</tr>
							<tr>
								<td>Elizabeth <p>2</p></td>
							</tr>
						</tbody>
					</table>
				</section>			