<%= simple_form_for([:admin_chain, @bucket_path], :url => @bucket_path.new_record? ? admin_chain_bucket_paths_path(@chain) : admin_chain_bucket_path_path(@chain, @bucket_path), :html => {:class => "form-horizontal"}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <div class="control-group select optional">
        <label class="select optional control-label" for="bucket_path_tag_id">Define as</label>
        <div class="controls">
          <select class="select optional" id="bucket_path_tag_id" name="bucket_path[tag_id]">
            <option value="">Please Select</option>
            <% BucketPath.tag_choices.each do |key, value| %>
                <optgroup label="<%= value[:label]%>">
                  <% value[:options].each do |a| %>
                      <option value="<%= a[:value]%>" <%= @bucket_path.tag_id.eql?(a[:value].to_i) ? "selected" : ""%>><%= a[:label]%></option>
                  <% end %>
                </optgroup>
            <% end %>
          </select>
        </div>
      </div>
      <%= f.input :active %>
      <%= f.input :resettable, :label => "Reset steps (looping)" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>