<div class="page-header">
  <h3>Listing Bucket Path <%= @chain.name %></h3>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Define as</th>
    <th>Active</th>
    <th>Reset steps (looping)</th>
    <th></th>
  </tr>

  <% @bucket_paths.each do |bucket_path| %>
      <tr>
        <td><%= bucket_path.name %></td>
        <td><%= bucket_path.tag.name rescue nil %></td>
        <td><%= bucket_path.active %></td>
        <td><%= bucket_path.resettable %></td>
        <td>
          <%= link_to 'Steps', admin_chain_bucket_path_steps_path(@chain, "bucket", bucket_path) %>
          <%= link_to 'Edit', edit_admin_chain_bucket_path_path(@chain, bucket_path) %>
          <%= link_to 'Destroy', admin_chain_bucket_path_path(@chain, bucket_path), confirm: 'Are you sure?', method: :delete %>
        </td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Bucket path', new_admin_chain_bucket_path_path(@chain), :class => "btn btn-primary" %>
<%= link_to "Back", admin_rewards_path, :class => "btn btn-success" %>