<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_bucket_path.name %>
</p>

<p>
  <b>Define as:</b>
  <%= @admin_bucket_path.define_as %>
</p>

<p>
  <b>Active:</b>
  <%= @admin_bucket_path.active %>
</p>

<p>
  <b>Resettable:</b>
  <%= @admin_bucket_path.resettable %>
</p>

<p>
  <b>Percentage of user:</b>
  <%= @admin_bucket_path.percentage_of_user %>
</p>


<%= link_to 'Edit', edit_admin_bucket_path_path(@admin_bucket_path) %> |
<%= link_to 'Back', admin_bucket_paths_path %>