<div class="page-header">
  <h2>Report Delayed Jobs</h2>
</div>
<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th style="width: 50px;">ID</th>
    <th style="width: 150px;">last error</th>
    <th style="width: 150px;">Delayable type</th>
    <th style="width: 150px;">Delayable id</th>
  </tr>
  </thead>
  <tbody>
  <% @jobs.each do |dj| %>
      <tr>
        <td><%= dj.id %></td>
        <td><%= dj.last_error %></td>
        <td><%= dj.delayable_type %></td>
        <td><%= dj.delayable_id %></td>
        </td>
      </tr>
  <% end %>
  </tbody>
  <%= will_paginate @jobs %>
</table>