<div class="span12" style="margin: 0px;">
  <%= form_tag admin_vantiv_gift_cards_path, :multipart => true do %>
    <%= render "shared/error_messages", :target => @vantiv_gift_card %>
    <div class="form-inputs">
      <div class="span8">
        <div class="field">
          <%= hidden_field_tag "chain_id", @chain.id %>
        </div>
        <label class="control-label"><h4>Upload CSV files</h4></label>
        <div title="Input Excel or CSV" class="controls">
          <%= file_field_tag :csv %>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="form-actions">
        <%= button_tag "Submit", data: {:disable_with => "Please wait..."}, :class => 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
