
<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Card number</th>
    <th>Expiration month</th>
    <th>Expiration year</th>
    <th>Cvv</th>
    <th>Cvv2</th>
    <th>Security code</th>
    <th>Used</th>
  </tr>
  </thead>
  <tbody>
    <% @vantiv_gift_cards.each do |vantiv_gift_card| %>
      <tr>
        <td><%= vantiv_gift_card.id %></td>
        <td><%= vantiv_gift_card.card_number %></td>
        <td><%= vantiv_gift_card.expiration_month %></td>
        <td><%= vantiv_gift_card.expiration_year %></td>
        <td><%= vantiv_gift_card.cvv %></td>
        <td><%= vantiv_gift_card.cvv2 %></td>
        <td><%= vantiv_gift_card.security_code %></td>
        <td><%= vantiv_gift_card.used %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="8">
        <%= link_to "New Upload",new_admin_vantiv_gift_card_path(:chain_id => @chain.id), :class => "btn btn-primary" %>
        <%= link_to "Unlink Data #{@chain.name}",unlink_data_admin_vantiv_gift_cards_path(:chain_id => @chain.id), :method => :delete, :class => "btn btn-danger", :confirm => "Are you sure?" %>
      </td>
    </tr>
</table>

<style>
  table.table td { word-wrap: break-word; }
</style>