<%= simple_form_for([:admin, @tag], :html => {:class => "form-horizontal"}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :category_type, :label => "Type", :hint => "Age, Gender, Frequency Visit, etc" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>