<div class="page-header">
  <h3>Listing Stepping Stone Tag</h3>
</div>


<table>
  <tr>
    <th>Name</th>
    <th>Category type</th>
    <th></th>
  </tr>

  <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= tag.category_type %></td>
        <td>
          <%= link_to 'Edit', edit_admin_tag_path(tag) %>
          <%= link_to 'Destroy', admin_tag_path(tag), confirm: 'Are you sure?', method: :delete %>
        </td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Tag', new_admin_tag_path %>