<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_tag.name %>
</p>

<p>
  <b>Category type:</b>
  <%= @admin_tag.category_type %>
</p>


<%= link_to 'Edit', edit_admin_tag_path(@admin_tag) %> |
<%= link_to 'Back', admin_tags_path %>