<% if @type == "reward" %>

  <% unless @reward.errors.blank? %>
    <% error = @reward.errors %>
    <% @reward.attributes.each do |k,v| %>
      $("#reward_<%=  k %>").removeClass("error");
      $("#<%=k%>_error").html("");
    <% end %>
    $('.tata-ajax-loader').hide();
    <% error.each do |key,value| %>
      $("#reward_<%=key%>").addClass("error");
      $("#<%=key%>_error").html("<span style='color:red;'><%= value %></span>");
    <% end %>
  <% else %>
    <% referer_id = @referer.blank? ? nil : 'referer-' %>
    <% referer_part = @referer.blank? ? nil : 'referer_' %>
    <% referer_att  = @referer.blank? ? nil : true %>
    $("#incentive-<%= referer_id %><%= @social.id %>").html("<%= escape_javascript(render :partial => "admin/social_shares/partials/incentive_#{referer_part}column", :locals => {:ref => @social, :referer => referer_att}) %>");
    $("#ref_modal").html('<%= escape_javascript(render :partial => "admin/social_shares/partials/confirmation", :locals => {:message => "Incentive Reward are created"}) %>');
  <% end %>


<% elsif @type == "offer" %>
  <% if @is_save %>
<% referer_id = @referer.blank? ? nil : 'referer-' %>
<% referer_part = @referer.blank? ? nil : 'referer_' %>
<% referer_att  = @referer.blank? ? nil : true %>
    $("#incentive-<%= referer_id %><%= @social.id %>").html("<%= escape_javascript(render :partial => "admin/social_shares/partials/incentive_#{referer_part}column", :locals => {:ref => @social, :referer => referer_att}) %>");
    $("#ref_modal").html('<%= escape_javascript(render :partial => "admin/social_shares/partials/confirmation", :locals => {:message => "Social Share Incentive  are created"}) %>');
  <% else %>
    $("#ref_modal").html('<%= escape_javascript(render "admin/social_shares/partials/incentive_offer") %>')
  <% end %>
<% else %>

  <% if @is_save %>
<% referer_id = @referer.blank? ? nil : 'referer-' %>
<% referer_part = @referer.blank? ? nil : 'referer_' %>
<% referer_att  = @referer.blank? ? nil : true %>
    $("#incentive-<%= referer_id %><%= @social.id %>").html("<%= escape_javascript(render :partial => "admin/social_shares/partials/incentive_#{referer_part}column", :locals => {:ref => @social, :referer => referer_att}) %>");
    $("#ref_modal").html('<%= escape_javascript(render :partial => "confirmation", :locals => {:message => "Social Share incentive are created"}) %>');
  <% else %>
    $("#ref_modal").html('<%= escape_javascript(render "admin/social_shares/partials/incentive_offer") %>')
  <% end %>

<% end %>