
$('#incentive-<%= @social.id %>').html('<%= escape_javascript(link_to "Add Incentive","#ref_modal",
 :onclick => "$('#ref_modal').html('');$.get('#{pick_incentive_admin_social_share_path(@social)}')","data-toggle" => "modal", :class => "btn") %>')
