<h2>Change Password</h2>
<hr/>

<%= form_for(@owner, :url => owner_registration_update_path(@owner)) do |f| %>
    <% if @owner.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">

          <ul>
            <% @owner.errors.full_messages.each do |msg| %>
                <br/>
                <li><%= msg %></li>
            <% end %>
          </ul>

        </div>
    <% end %>
    <div class="span5">
      <% unless @owner.new_record? %>
          <div class="field">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password %>
          </div>
          <div id="pwd" class="field">
            <%= f.label "New Password" %>
            <%= f.password_field :password, :hint => "<i>(leave blank if you don't want to change password)</i>" %>
          </div>
          <div id="pwd" class="field">
            <%= f.label "New Password Confirmation" %>
            <%= f.password_field :password_confirmation %>
          </div>
      <% end %>

      <%= f.submit "Submit", :class => 'btn' %>
    </div>
<% end %>

