<table class="table table-bordered table-condensed">
  <caption></caption>
  <thead>
    <tr>
      <th class="th-small ta-center"><a class="order-table" href="#" data-attribute="1">Survey submit id</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="2">User email</a></th>
      <th><a class="order-table" href="#" data-attribute="3">Chain name</a></th>
      <th>Survey Answers (question = answer)</th>
      <th><a class="order-table" href="#" data-attribute="5">Survey Link</a></th>
      <th>Offer / reward names</th>
      <th><a class="order-table" href="#" data-attribute="7">Restaurant Location (for offers)</a></th>
      <th class="th-small ta-center"><a class="order-table" href="#" data-attribute="8">Barcode/ Receipt review status</a></th>
      <th class="th-small ta-center"><a class="order-table" href="#" data-attribute="9">receipt/barcode link</a></th>
      <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="10">Date time</a></th>
    </tr>
  </thead>
  <tbody>
    <% unless @surveys.blank? %>
      <% @surveys.each do |answer_survey| %>
        <tr>
          <td class="ta-center"><%= answer_survey.receipt_id rescue ""  %></td>
          <td>
            <a href="#myModal" data-toggle="modal" class="short_email" data-attribute="<%= answer_survey.user.email rescue "" %>">
              <%= answer_survey.user.email.try(:slice, 0, 13) %>...
            </a>
          </td>
          <td><%= answer_survey.survey.chain.name rescue ""%></td>
          <td>
            <%  list_answer = user_answers_show_list(answer_survey.answers) %>
            <%= list_answer.html_safe %>
            <a href="#myModal" data-toggle="modal" class="list_answer" data-attribute="<%= list_answer %>">
              <%= list_answer.gsub("<br />","").try(:slice, 0, 25 ) %>...
            </a>
          </td>
          <td><%= link_to "#{answer_survey.survey.title}", admin_survey_path(answer_survey.survey) if answer_survey.survey %></td>
          <%  if answer_survey.receipt %>
            <% receipt_trans = answer_survey.receipt.receipt_transactions %>
            <% offer = receipt_trans.first.offer %>
            <% res = receipt_trans.first.restaurant %>
            <td><%= link_to offer.name,admin_offer_path(offer) rescue "-" %></td>
            <td><%= link_to res.dashboard_display_text, admin_restaurant_path(res)  if res %></td>
          <% else %>
            <td>There are no offer / reward id data</td>
            <td>-</td>
          <% end %>
          <td><%= receipt_status_name(answer_survey.receipt.status) if answer_survey.receipt %></td>
          <td class="ta-center">
            <%  if answer_survey.receipt && !answer_survey.receipt.is_receipt_barcode %>
              <%= link_to "show", admin_receipt_path(answer_survey.receipt)  %>
            <% elsif answer_survey.receipt && answer_survey.receipt.is_receipt_barcode %>  
              <%= link_to "show", admin_receipt_barcode_path(answer_survey.receipt)  %>
            <% end %>
          </td>
          <td><%= date_helper_timezone(answer_survey.updated_at) %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="10" style="text-align:center;">There are no results for this</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="x-pagination">
  <%= will_paginate @surveys %>
</div>

<% if DelayedJob.where("delayable_type = 'export_answer_csv' AND last_error is null").first.blank? %>
  <div style="width:100%; text-align: center;"><%= link_to "Export to csv", request.parameters.merge({:format => :csv}), :id => "export",:onclick => "$('#export').hide();$('#please_wait').show();" %></div>
<% else %>
  <div id="please_wait"><%= image_tag "spinner.gif", :height => '32', :width => '32' %>Please wait Generating report...</div>
<% end %>
<div id="please_wait" style="display:none;"><%= image_tag "spinner.gif" , :height => '32', :width => '32'%>Please wait Generating report...</div>


