<script>
  $(document).ready(function(){
    $('#x-search').ajaxSend(function() {
      $('#data-container').ajaxloader('show');
    });
    $('#x-search').ajaxComplete(function() {
      $('#data-container').ajaxloader('hide');
    });
  });

  $('.order-table').bind("click", function(){
    var ordvalcur = $(this).attr('data-attribute');
    var ordvalbef = $('#qry_order').val();

    if(ordvalcur == ordvalbef){
      $('#qry_order').val(parseInt(ordvalbef) + 1000)
    }else{
      $('#qry_order').val($(this).attr('data-attribute'));
    }

    $('#x-search').submit();
  });

  $(".short_email").bind("click", function(){
    var data = $(this).attr("data-attribute");
    $('.modal-body').html('<p class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;"><span class="name">' + data + '</span></p>');
    $('#myModalLabel').html('Full Email Address');
  });

  $(".list_answer").bind("click", function(){
    var data = $(this).attr("data-attribute");
    $('.modal-body').html('<p class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;"><span class="name">' + data + '</span></p>');
    $('#myModalLabel').html('Survey Answers');
  });
  
  function clear_form_elements(ele) {
    $(".ui-multiselect-none").click();
    $(ele).find(':input').each(function() {      
      switch(this.type) {        
        case 'password':
        case 'select-multiple':
        case 'select-one':        
        case 'text':
        case 'textarea':
          $(this).val('');
          break;
        case 'checkbox':
        case 'radio':
          this.checked = false;
      }
    });

  }
</script>