<%= form_tag({:controller => "answers", :action => "search"}, :id=>'x-search') do |f| %>

  <div class="x-box" style="display:none;">
    <div class="x-box-col3">
      <div class="field">
        <%= label_tag :from %>
        <%= text_field_tag "search[from]",'', :class=>'x-datepicker', :readonly=>true %>
      </div>
      <div class="field">
        <%= label_tag :to %>
        <%= text_field_tag "search[to]",'', :class=>'x-datepicker', :readonly=>true %>
      </div>
    </div>

    <div class="x-box-col3">
      <div class="field">
        <%= label_tag :chain %>
        <%= select_tag('search[chains]', options_from_collection_for_select(Chain.active.order("name"), :id, :name), options ={:multiple => true, :class=>'multiselect'}) %>
      </div>
      <div class="field" id="reward-choices">
        <%= label_tag :rewards %>
        <%= select_tag('search[rewards]', options_from_collection_for_select(Reward.order('name asc'), :id, :name), options ={:multiple => true, :class=>'multiselect'}) %>
      </div>

    </div>
    <div class="x-box-col3">
      <div class="field" id="offer-choices">
        <%= label_tag :offers %>
        <%= select_tag('search[offers]', options_from_collection_for_select(Offer.order('name asc'), :id, :name), options ={:multiple => true, :class=>'multiselect'}) %>
      </div>
      <div class="field" id="restaurant-choices">
        <%= label_tag :restaurants %>
        <%= select_tag "search[restaurants]", options_from_collection_for_select(Restaurant.order('name asc'), :id, :name), options ={:multiple => true, :class=>'multiselect'} %>
      </div>
      <div class="field">
        <%= label_tag :receipt_review_status %>
        <%= select_tag "search[payment_method]", options_for_select(Receipt::STATUS), :prompt=>"Select payment method", :class=>'x-col3-dropdown' %>
      </div>
    </div>

    <div class="x-box-inner">
      <div class="field">

      </div>
    </div>
  </div>
  <%= text_field_tag "search[q]", '', :style=>'width:300px' %>
  <%= hidden_field_tag "qry_order" %>
  <%= submit_tag "Search", :onclick => "$('#qry_order').val('');" %> |
  <%= link_to "Clear Filter", "#", :class => "btn", :style => "margin-bottom: 9px;", :onclick => "clear_form_elements($('#x-search')); return false;" %> |
  <%= link_to "Show Advance Search", "#", :class => "btn", :id => "show-advance-search-link", :style => "margin-bottom: 9px;", :onclick => "$('.x-box').show();$(this).hide();$('#hide-advance-search-link').show();" %>
  <%= link_to "Hide Advance Search", "#", :class => "btn", :id => "hide-advance-search-link", :style => "margin-bottom: 9px; display:none;", :onclick => "$('.x-box').hide();$(this).hide();$('#show-advance-search-link').show();" %>

<% end %>
<%#= render "script.js" %>

<script>
    $(document).ready(function(){
        $('#x-search').ajaxSend(function() {
            $('#data-container').ajaxloader('show');
        });
        $('#x-search').ajaxComplete(function() {
            $('#data-container').ajaxloader('hide');
        });
    });

    $('.order-table').bind("click", function(){
        var ordvalcur = $(this).attr('data-attribute');
        var ordvalbef = $('#qry_order').val();

        if(ordvalcur == ordvalbef){
            $('#qry_order').val(parseInt(ordvalbef) + 1000)
        }else{
            $('#qry_order').val($(this).attr('data-attribute'));
        }

        $('#x-search').submit();
    });

    $(".short_email").bind("click", function(){
        var data = $(this).attr("data-attribute");
        $('.modal-body').html('<p class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;"><span class="name">' + data + '</span></p>');
        $('#myModalLabel').html('Full Email Address');
    });

    $(".list_answer").bind("click", function(){
        var data = $(this).attr("data-attribute");
        $('.modal-body').html('<p class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;"><span class="name">' + data + '</span></p>');
        $('#myModalLabel').html('Survey Answers');
    });

    function clear_form_elements(ele) {
        $(".ui-multiselect-none").click();
        $(ele).find(':input').each(function() {
            switch(this.type) {
                case 'password':
                case 'select-multiple':
                case 'select-one':
                case 'text':
                case 'textarea':
                    $(this).val('');
                    break;
                case 'checkbox':
                case 'radio':
                    this.checked = false;
            }
        });

    }
</script>