<% require 'csv' %>
<% headers = ["Survey submit id", "User Email",
  "Chain", "Survey Answers", "Survey Name", "Offer / Reward / Deal Names", "Restaurant Location (for offers)",
  "Receipt review status","Date time"] %>
<%= CSV.generate_line headers, :row_sep => ?\t, :quote_char => ?\ %>
<% @surveys.each do |answer_survey| %>
  <% row = [] %>
  <% row << answer_survey.receipt_id %>
  <% begin;email = answer_survey.user.email;rescue;email = "";end;row << email %>
  <% begin;chain_name = answer_survey.survey.chain.name;rescue;chain_name = "";end;row << chain_name %>
  <% begin;answer = answer_survey.answers.collect{|x| x.value.to_s.gsub(',','').squish}.join('/');rescue;answer = "" ; end;row << answer %>
  <% begin;x = answer_survey.survey.title;rescue;x = "";end;  row << x %>
  <% begin;offer = answer_survey.receipt.receipt_transactions.first.offer.name;rescue;offer = "";end;row << offer %>
  <% begin;res_name = answer_survey.receipt.last_transaction.restaurant.dashboard_display_text;rescue;res_name = "";end;row << res_name %>
  <% begin;status = Receipt::STATUS.index(answer_survey.receipt.status);rescue;status= "";end;row << status %>
  <% row << answer_survey.updated_at.strftime('%m-%d-%Y')%>
  <%= CSV.generate_line row, :row_sep => ?\t, :quote_char => ?\ %>
<% end %>