<div class="page-header">
  <h1>Answers Listing</h1>
</div>

<%= render :partial => "search_area" %>
<div id="data-container" style="margin-left:0 !important;">
  <%= render "answer_list" %>
  <script type="text/javascript" >    
<% if flash[:send_job] %>
    $('#export').text('Please wait someone is generating the report..')
<% end %>    
  </script>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-header">

    <h3 id="myModalLabel"></h3>
  </div>
  <div class="modal-body">
    <p class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;">

    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').hide();">Close</button>
  </div>
</div>