<table>
  <thead>
  <tr>
    <th>Chain</th>
    <th>Name</th>
    <th>Type</th>
    <th>Priority</th>
    <th>Max Renders</th>
    <th>Survey</th>
    <th>Active</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>

  <% @rotating_groups.each do |group| %>
      <tr>
        <td><%= group.chain.name %></td>
        <td><%= group.name %></td>
        <td><%= group.group_type_name %></td>
        <td><%= group.priority %></td>
        <td><%= group.max_renders %></td>
        <td><%= group.survey.title rescue nil %></td>
        <td><%= group.active %></td>
        <td>
          <%= link_to "Edit", edit_admin_rotating_group_path(group), :class => "btn btn-warning" %>
          <%= link_to "Questions", admin_rotating_group_rotating_questions_path(group), :class => "btn btn-success" %>
          <%= link_to "Destroy", admin_rotating_group_path(group), :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger" %>
        </td>
      </tr>
  <% end %>
  <% if @rotating_groups.blank? %>
      <tr>
        <td colspan="8" style="text-align: center;">There are no data</td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="8" style="text-align: center;"><%= will_paginate @rotating_groups %></td>
  </tr>
  </tfoot>
</table>
<br />
<br />
<%= link_to "New Rotating Group", new_admin_rotating_group_path(:chain_id => params[:id]), :class => "btn btn-primary" %>