<div class="page-header">
  <h1>Listing Rotating Groups</h1>
</div>

<div class="page-header">
  <div class="field form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="select01">Chain:</label>

        <div class="controls">
          <%= select_tag 'chain_rotating_select', options_from_collection_for_select(Chain.active.order("name"), :id, :name, params[:id]), :prompt => "Please select chain" %>
          <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div id="data-container">
  <%= render("list") unless @rotating_groups.blank? %>
</div>