<div class="page-header">
  <h3>New Rotating Group</h3>
</div>

<%= simple_form_for([:admin, @rotating_group]) do |f| %>
    <div class="field">
      <%= f.input :chain_id, :as => :hidden,  :input_html => {:value => @chain.id} %>
    </div>

    <div class="field">
      <div class="control-group integer required">
        <label class="integer required control-label" for="rotating_group_chain_id"><abbr title="required">*</abbr>
          Chain</label>  <b><%= @chain.name %></b>
      </div>
    </div>

    <div class="field">
      <%= f.input :survey_id, :collection => @chain.surveys, :input_html => {:id => "survey_list"} %>
    </div>

    <div class="field">
      <%= f.input :name %>
    </div>

    <div class="field">
      <%= f.input :group_type, :collection => RotatingGroup::GROUP_TYPE.to_a %>
    </div>

    <div class="field">
      <%= f.input :priority %>
    </div>

    <div class="field">
      <%= f.input :max_renders, :hint => "how many times to render the questions until answered by the user" %>
    </div>

    <div class="field">
      <%= f.input :active %>
    </div>

    <br/>
    <%= f.submit "Create", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_rotating_groups_path, :class => "btn" %>
<% end %>

