<fieldset>
  <legend>Daily Settings</legend>
  <% selected_zone = @report_subscription.report_settings["time_zone"] rescue Time.zone.name %>
  <label class="integer optional control-label">Select time zone</label>
  <%= select_tag "report_settings[time_zone]",time_zone_options_for_select(selected_zone) %>
</fieldset>