<%= simple_form_for([:admin, @report_subscription]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="x-box">
      <div class="field">
        <%= f.label :report_definition_id %>
        <%= f.input_field :report_definition_id, :as => :select, :collection => @report_definitions,:include_blank => true %>
      </div>
      <div id="hide_content" style="display: none;">
      <div class="field">
        <%= f.label :chain_id %>
        <%= f.input_field :chain_id, :as => :select, :collection => @chains.sort! %>
      </div>
      <div id="restaurant_collection" class="field"></div>
      <div id="owner_collection" class="field"></div>
      <br />
      <div class="field">
        <%= f.label :additional_emails %>
        <%= f.input_field :additional_emails , :style => "height:100px;" %><br/>
        <span style="padding-left:178px;"><i>Insert the email separate by comma * important</i></span>
      </div>
      <br/>
      <div class="field">
        <%= f.label :sending_method %>
        <%= f.input_field :sending_method, :as => :select, :collection => ReportSubscription::SEND_TYPES %>
      </div>
      <div id="ftp_detail_box" style="display: <%= f.object.sending_method.to_i == 4 || f.object.sending_method.to_i == 5 ? "block" : "none"%>">
        <div class="field">
          <%= f.label :ftp_host %>
          <%= f.input_field :ftp_host, :class => "ftp_detail" %>
        </div>

        <div class="field">
          <%= f.label :ftp_username %>
          <%= f.input_field :ftp_username, :class => "ftp_detail" %>
        </div>

        <div class="field">
          <%= f.label :ftp_password %>
          <%= f.input_field :ftp_password, :as => :string, :class => "ftp_detail" %>
        </div>

        <div class="field">
          <%= f.label :ftp_port %>
          <%= f.input_field :ftp_port, :as => :string, :class => "ftp_detail" %>
        </div>

        <div class="field">
          <%= f.label :ftp_upload_path %>
          <%= f.input_field :ftp_upload_path, :class => "ftp_detail" %>
        </div>
      </div>

      <div id="desc_collection" class="field"></div>
      <div class="field">
        <%= f.label :report_kind %>
        <%= f.input_field :report_kind, :as => :select, :collection => ReportSubscription::TYPES, :include_blank => true %>
      </div>
      <div class="field">
        <%= f.label :file_type %>
        <%= f.input_field :file_type, :as => :select, :collection => ReportSubscription::FILE_TYPES, :include_blank => true %>
      </div>
      <div id="run_at" style="display: none;" class="field">
        <%= f.label :run_at%>
        <%= f.input_field :run_at, :style => "width:50px;"%>
      </div>
      <div id="report_setting"></div>
        <div id="" style="display: ;" class="field">
          <%= f.label :date_format%>
          <%= f.input_field :date_format, :style => "width:120px;"%>
          <i>do not change this, if you dont know any idea of it</i>
        </div>

    </div>
    </div>
  </div>

  <div class="form-actions">
    <br/><br/><br/>
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>
<% end %>


<script>

<% if params[:action].to_s == "edit" %>
    $(document).ready(function(){
      val = $('#report_subscription_chain_id').val();
      $.get("<%= search_chain_admin_report_subscriptions_path %>",{ chain_id: val, id : <%= params[:id] %> });

      val = $('#report_subscription_report_definition_id').val();
      $.get("<%= search_report_description_admin_report_subscriptions_path %>",{ definition_id: val , id : <%= params[:id] %>});

      val = $('#report_subscription_report_kind').val();
      $.get("<%= report_settings_admin_report_subscriptions_path %>",{ kind: val, id : <%= params[:id] %> });

    });
<% end %>
  jQuery.ajaxSetup({
    beforeSend: function() {
      $('#new_report_subscription').ajaxloader();
    },
    complete: function(){
      $('#new_report_subscription').ajaxloader('hide');
    },
    success: function() {}
  });


  $('#report_subscription_chain_id').change(function () {
    val = $('#report_subscription_chain_id').val();
    $.get("<%= search_chain_admin_report_subscriptions_path %>",{ chain_id: val });
  });

  $('#report_subscription_report_definition_id').change(function () {
    val = $('#report_subscription_report_definition_id').val();
    $.get("<%= search_report_description_admin_report_subscriptions_path %>",{ definition_id: val });
  });

  $('#report_subscription_report_kind').change(function () {
    val = $('#report_subscription_report_kind').val();
    $.get("<%= report_settings_admin_report_subscriptions_path %>",{ kind: val });
  });
 $('#report_subscription_sending_method').change(function(){
     val =  $(this).val();
     if(val == '4' || val == '5'){
       $('#ftp_detail_box').show();
     }
     else{
       $('#ftp_detail_box').hide();
       $('.ftp_detail').val("") ;
     }
 })
</script>
