<fieldset>
  <% selected_zone = @report_subscription.report_settings["time_zone"] rescue Time.zone.name %>
  <% selected_day = @report_subscription.report_settings["month_day"] rescue Time.zone.name %>
  <legend>Monthly Settings</legend>
  <label class="integer optional control-label">Select time zone</label>
  <%= select_tag "report_settings[time_zone]",time_zone_options_for_select(selected_zone) %>
  <br/>
  <label class="integer optional control-label">Month Day</label>
  <%= text_field_tag "report_settings[month_day]", selected_day %><br/>
  <span style="padding-left:178px;"><i>-1 means end of month, 0 means beginning of month</i></span>
</fieldset>