<label for="owner_select_id" class="integer optional control-label">Owners</label>
<%= select_tag "owner_select_id",
               options_from_collection_for_select(@owners, "id", "email",:selected => @selected_owner),
               {:include_blank => false,
                :class => "multiselect",
                :multiple => true
                } %>

<script type="text/javascript">
    $(".multiselect").multiselect({
        selectedText:"# of # selected"
    });
</script>
