<% unless @report_description.query.blank? %>
    <% query = JSON.parse(@report_description.query) %>
    <% query.each do |x, y| %>
        <div class="query_content">
          <label class="integer optional control-label"><%= x if x.downcase != 'chain_id' or x.downcase != 'restaurant_ids' %></label>
          <% if y.downcase != "date" %>
              <%= val = nil %>
              <% if !@report_subscription.new_record? %>
                  <% val = @custom_params[x] %>
              <% end %>
              <% if x.downcase != 'restaurant_ids' %>
                  <%= text_field_tag "query[#{x}]", val, :placeholder => "Insert #{x} value here.", :style => "#{'display:none' if x.downcase == 'chain_id'}" %>
              <% end %>
          <% else %>
              <% if x.downcase != 'restaurant_ids' %>
                  <%= text_field_tag "query[#{x}]", nil,
                                     :placeholder => "Date  are set by the report kind", :readonly => true %>
              <% end %>
          <% end %>
        </div>
    <% end %>
<% end %>