<label for="restaurant_select_id" class="integer optional control-label">Restaurants</label>
<%= select_tag "query_restaurant_ids",
               options_from_collection_for_select(@restaurants, "id", "dashboard_display_text"), :class => 'multiselect',:multiple => true %><br/><br/>
<script type="text/javascript">
    $(".multiselect").multiselect({
        selectedText:"# of # selected"
    });
</script>