<%= form_tag post_test_report_admin_report_subscriptions_path do  %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal" onclick="$('#ref_modal').html('');">&times;</a>
      <h3>Insert The information</h3>
    </div>
    <div class="modal-body">
      <div class="span3">
        Please insert email you want to sent, separate by comma <br />
        <%= hidden_field_tag "subscription_id", @report_subscription.id %>
        <%= text_area_tag "emails", nil , :style => "width:200px;height:100px;"%> <br />
        <%= submit_tag "submit", :onclick => "$('#ref_modal').ajaxloader();" %>
      </div>
    </div>
<% end %>