
<fieldset>
  <% selected_zone = @report_subscription.report_settings["time_zone"] rescue Time.zone.name %>
  <% selected_day = @report_subscription.report_settings["week_day"] rescue Time.zone.name %>
  <% begin_day = @report_subscription.report_settings["begin_day"] rescue Time.zone.name %>
  <% end_day = @report_subscription.report_settings["end_day"] rescue Time.zone.name %>
  <legend>Weekly settings</legend>
  <label class="integer optional control-label">Select time zone</label>
  <%= select_tag "report_settings[time_zone]",time_zone_options_for_select(selected_zone) %><br />
  <label class="integer optional control-label">Select Day To Execute</label>
  <%= select_tag "report_settings[week_day]", options_for_select([['Sunday', 0], ['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6]], :selected => selected_day) %><br/>
  <label class="integer optional control-label">Begin Day Start</label>
  <%= select_tag "report_settings[begin_day]", options_for_select([['Sunday', 0], ['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6]], :selected => begin_day) %>
  <br />

  <label class="integer optional control-label">End Day Start</label>
  <%= select_tag "report_settings[end_day]", options_for_select([['Sunday', 0], ['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6]], :selected => end_day) %>
</fieldset>