
<% unless @subscription_name.blank?%>
Email subject : <%= @subscription_name.filename({})[0]%>

<br/>
Filename : <%= @subscription_name.filename({})[1]%>
    <% else%>
    PLEASE SAVE IT FIRST!
<% end%>