<div class="page-header">
  <h1>Listing Report Subscriptions ( Active Definitions Only )</h1>
</div>

Chain: <%= select_tag("chain_id", options_from_collection_for_select(Chain.active.order('name asc'), "id", "name"), {:include_blank => false, :prompt => "All"}) %>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Chain</th>
      <th>Report Definition parameter</th>
      <th>Report Definition name</th>
      <th class="th-medium">Running type</th>
      <th class="th-medium">Run at</th>
      <th>Time zone</th>
      <th class="th-medium ta-center">Actions</th>
      <th class="th-medium ta-center">Testing</th>
    </tr>
  </thead>
  <tbody>
    <% unless @report_subscriptions.blank? %>
      <% @report_subscriptions.each do |rd| %>
        <tr>
          <td><%= rd.id%></td>
          <td><%= rd.chain.name rescue "" %></td>
          <td>
            <%= render_query_to_json(rd.custom_params) %>
          </td>
          <td>
            <%= rd.report_definition.name %>
          </td>
          <td><%= ReportSubscription::TYPES.key(rd.report_kind.to_i)  %></td>
          <td><%= hour_only(rd.run_at)  %></td>
          <td>
            <%= render_query_to_json(rd.report_settings) %>
          </td>
          <td>
            <div class="btn-group">
              <button class="btn">Action</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <%= link_to "Show" ,admin_report_subscription_path(rd)%>
                <%= link_to "Edit" , edit_admin_report_subscription_path(rd)%>
                <%= link_to "CUSTOM NAME CONVENTION" , subscription_filename_admin_report_subscription_path(rd)%>
                <%= link_to 'Destroy', admin_report_subscription_path(rd), confirm: 'Are you sure?', method: :delete %>
              </ul>
            </div>
          </td>
          <td>
            <%= link_to "Test This report", "#ref_modal", :onclick =>
                    "#{initialize_modal('ref_modal',test_report_admin_report_subscription_path(rd,:format => :js))}", "data-toggle" => "modal",:class => "btn alert" %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan="9" text-align:'center';> There are no Data </td></tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @report_subscriptions %>
<br/>
<div class="modal hide fade" id="ref_modal" style="width: 541px;height: 500px;">
</div>
<%= link_to 'New Report Subscription', new_admin_report_subscription_path, :class => "btn btn-primary" %>

<script type="text/javascript">
    $(document).ready(function () {
        $('#chain_id').val(<%= params['chain_id']%>)
        $("#chain_id").change(function () {
            // similar behavior as clicking on a link
            window.location.href = "<%= admin_report_subscriptions_path%>?chain_id="+$("#chain_id").val();
        });
       // $("#chain_id").change();
    });
</script>