$('#owner_collection').html("<%= escape_javascript(render "owner_list") %>") ;
$('#restaurant_collection').html("<%= escape_javascript(render "restaurant_list") %>")   ;
$('#query_chain_id').val(<%= @chain.id %>)   ;