$('#desc_collection').html("<%= escape_javascript(render "params") %>");

<% if !@report_description.query.include?('restaurant_ids') %>
    $('#restaurant_collection').remove();
<% end %>
$('#hide_content').show();