<%= simple_form_for( @subscription_name, :url => post_subscrition_filename_admin_report_subscription_path) do |f| %>
    <%= f.error_notification %>
<%#= debug @subscription_name%>
    <div class="form-inputs">
      <div class="x-box">
        <div class="field">
          <%= f.label :date_format %>
          <%#= f.input_field :date_format%>
          <%= text_field_tag "subscription_format[date_format]",@subscription_name.date_format%>
        </div>
        <br/>
        <i style="color:blue; font-weight: bold;">DATE FORMAT AVAILABLE : <br/>
        </i>
                  <pre>
          %Y = YEAR
          %m = month
          %d = day
          FORMAT EXAMPLE:
           %Y-%m-%d it will produce : 2016-04-22
</pre>
        <br/>
        <hr/>
        <div class="field">
          <%= f.label :file_name %>
          <%= text_field_tag "subscription_format[file_name]",@subscription_name.file_name%>
        </div>

        <div class="field">
          <%= f.label :email_subject %>
          <%= text_field_tag "subscription_format[email_subject]",@subscription_name.email_subject%>
        </div>
<pre>

          <i>add <i class="text-error" style="color:red;font-weight: bold;">%{chain}</i> to show the chain name</i>
          <i>add <i class="text-error" style="color:red;font-weight: bold;">%{start_date}</i>  to show the start date</i>
          <i>add <i class="text-error" style="color:red;font-weight: bold;">%{end_date}</i>  to show the end date</i>

          </pre>

      </div>
      </div>

    <div class="form-actions">
      <br/><br/><br/>
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
<% end %>
<%= link_to "See how the filename would be like", get_filename_subscription_admin_report_subscription_path(@subscription), :class => 'btn nyroModal'%>
<%= link_to "Back", "/admin/report_subscriptions/"%>