<div id="edit_container">
  <%= render 'edit_form' %>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Loading</h3>
  </div>
  <div class="modal-body">
    <div id="body_modal">

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" id="btn_close" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn" id="btn_update" onclick="$('#submit_update').click();$('#btn_close').hide();
            $('#btn_update').hide();$('#btn_loading').show();" style="display: none;">Update
    </button>
    <button class="btn" id="btn_loading" style="display: none;">Loading ..</button>
  </div>
</div>
