<h2 class="span10">  MISS YOU TASKS
  <%= params['chain_id'].blank? ? "For All Chain" : "For Chain #{@chain.name}" %>
</h2>

<% if ENV["S3_BUCKET"] != "prelevant" # if its on trel get on this feature %>
Testing Mode&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<% color = "red" %>

<%= link_to "#{@testing.blank? ? 'OFF' : 'ON'}", "/admin/miss_you_tasks/testing_activation",
:class => "#{@testing.blank? ? 'btn' : 'btn btn-danger'}",
:confirm => "Are you sure want to Turn #{@testing.blank? ? 'On' : 'OFF'} the testing mode?" %>
<% end %>
<br/><br/>

Chain : <%= select_tag 'chain_id',
                       options_from_collection_for_select(Chain.active.order("name"), :id, :name, @chain_id.to_s),
                       :prompt => "All" %>

<!--
Filter : <%= select_tag :type, options_for_select([['queue', 'queue'], ['approved', 'approved'],
                                                   ['rejected', 'rejected'],
                                                   ['completed', 'completed'],
                                                   ['inprogress', 'in progress'],
                                                   ['failed', 'failed']],
                                                  :selected => params['type']), :class => 'x-col3-dropdown', :style => "width:98px"
%>-->
<%= link_to "Search", "#", :id => 'search_link', :class => 'btn btn-primary' , :style => "display:none;"%>
<%= link_to "Loading .. ", "#", :id => 'search_link_loader', :class => 'btn btn-primary hide' %>
<table id="myTable" cellspacing="1" class="">
  <thead class="">
  <tr>
    <th class="tblheader"><b>ID</b></th>
    <th class="tblheader"><b>Job Name</b></th>
    <th class="tblheader"><b>Chain</b></th>
    <th class="tblheader"><b>Requested by</b></th>
    <th class="tblheader"><b>Type</b></th>
    <th class="tblheader"><b>Number of Users</b></th>
    <th class="tblheader"><b>Executed at</b></th>
    <th class="tblheader"><b>Action</b></th>
    <th class="tblheader"><b>Export</b></th>
    <th class="tblheader"><b>Miss You task</b></th>
  </tr>
  </thead>
  <% unless @jobs.blank? %>
      <% @jobs.each do |job| %>
          <tr>
            <td><%= job.id %></td>
            <td><%= job.description %></td>
            <td><%= job.chain.name %></td>
            <td><%= job.owner.email rescue "" %></td>
            <% a = OwnerJob::SCHEDULE.key(job.schedule_type)
               a = a.blank? ? "One Time" : a
            %>
            <td><%= a %></td>
            <td>
              <% if job.miss_you? %>
                  N/A
                  <% else %>
              <% if OwnerJob::STATUS.key(job.status) == "Completed" %>
                  <%= job.success_users %>
              <% else %>
                  <%= job.total_users %>
              <% end %>
              <% end %>
                  </td>
            <td><%=
                job.time_to_execute.html_safe rescue nil
            %>
            </td>
            <% if OwnerJob::STATUS.key(job.status) == "Queue" %>
                <td><%= link_to "Approve", admin_miss_you_task_path(job, :chain_id => params['chain_id']), :method => :put, :class => "btn btn-success", :confirm => "Do you want to approve this request?" %>
                  |
                  <%= link_to "Reject", admin_miss_you_task_path(job, :chain_id => params['chain_id']), :method => :delete, :confirm => "Do you want to reject this request?", :class => "btn btn-danger" %>
            <% elsif OwnerJob::STATUS.key(job.status) == "Processing" %>
                <td><%= link_to "Cancel This process", admin_miss_you_task_path(job, :type => "cancel", :chain_id => params['chain_id']), :method => :put, :class => "btn btn-success", :confirm => "Do you want to Cancel this request and move it into rejected?" %>
            <% elsif OwnerJob::STATUS.key(job.status) == "Rejected" %>
                <td><%= link_to "TURN ON", admin_miss_you_task_path(job, :chain_id => params['chain_id']), :method => :put, :class => "btn btn-success", :confirm => "Do you want to move to TURN ON ?" %>
            <% elsif OwnerJob::STATUS.key(job.status) == "Completed" %>
                <td><%#= link_to "See Logs", completed_job_admin_miss_you_task_path(job, :chain_id => params['chain_id']), :class => "btn btn-success" %>
            <% elsif OwnerJob::STATUS.key(job.status) == "In Progress" %>
                <td><%= link_to "TURN OFF", admin_miss_you_task_path(job), :method => :delete, :confirm => "Do you want to reject this request?", :class => "btn btn-danger" %>
            <% elsif OwnerJob::STATUS.key(job.status) == "Approved" %>
                <td><%= link_to "Move To queue", admin_miss_you_task_path(job, :type => "move_to_queue", :chain_id => params['chain_id']), :method => :put, :class => "btn btn-success", :confirm => "Do you want to move job to queue?" %>
                <td><%= link_to "TURN OFF", admin_miss_you_task_path(job), :method => :delete, :confirm => "Do you want to reject this request?", :class => "btn btn-danger" %>
            <% else %>
                <td><%= link_to "Move To queue", admin_miss_you_task_path(job, :type => "move_to_queue", :chain_id => params['chain_id']), :method => :put, :class => "btn btn-success", :confirm => "Do you want to move job to queue?" %>
            <% end %>
            <%= link_to "Detail", admin_miss_you_task_path(job), :class => "btn btn-success" %>

            <%= link_to "Edit", edit_admin_miss_you_task_path(job), :class => "btn btn-info" if OwnerJob::STATUS.key(job.status) == "Queue" %>
            </td>
            <td>Success User : <%= link_to image_tag("icon_csv.png"), sending_report_admin_miss_you_task_path(job), :class => 'nyroModal' %> <br/>
              Failed User : <%= link_to image_tag("icon_csv.png"), sending_report_admin_miss_you_task_path(job, :error => true), :class => 'nyroModal' %>

            </td>

            <% if job.miss_you == true %>
            <td><%=  "TRUE"  %></td>
             <% end %>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td colspan="2" style="text-align:center;">There are no
          job <%= params['type'].blank? ? "queue" : params['type'] %></td>
      </tr>
  <% end %>

</table>
<%= will_paginate @jobs %>
<br/><br/>

<script>
    $(document).ready(function () {
        $('#search_link').click(function () {
            chain_id = $('#chain_id').val();
            typ = $('#type').val();
            $('#search_link').hide();
            $('#search_link_loader').show();
            window.location = '/admin/miss_you_tasks/search?chain_id=' + chain_id + '&type=' + typ;
        });

        $('#chain_id').change(function () {
            $('#search_link').click();
        });
    });

</script>