<h1>LIST <%=  @error.blank? ? "SUCCESS " : "FAILED "%>USERS</h1>
<%= form_tag post_sending_report_miss_you_admin_miss_you_task_path(@job) do |f|%>
    pls input email address, the report will be sent to your email shortly<br/>
    EMAIL: <%= text_field_tag :email%><br/>
    <%= hidden_field_tag "error", @error%>
    <%= submit_tag "Submit"%>
<%end%>