<h1>Job <%= @job.description %></h1>
<table>
  <thead>
  <tr>
    <td>Desc</td>
    <td>Info</td>
    <td>Additional info</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Status</td>
    <td><%= OwnerJob::STATUS.key @job.status %></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Chain id</td>
    <td><%= @job.chain_id %></td>
    <td><%= Chain.find(@job.chain_id).name rescue "" %></td>
  </tr>
  <tr>
    <td>Reward Type</td>
    <td><%= OwnerJob::REWARD_TYPES.key @job.reward_type.to_i %></td>
    <td>
      <%= case OwnerJob::REWARD_TYPES.key @job.reward_type.to_i
            when "Reward"
              Reward.find(@job.reward_id).name rescue @job.reward_id
            when "Point"
              "#{@job.points} points will be pushed"
          end
      %>

    </td>
  </tr>
  <tr>
    <td>Job Type</td>
    <td><%= case
            OwnerJob::TYPES.key @job.job_type.to_i
            when "User"
            "All user in this chain will be get the reward"
            else
             "#{pluralize(@job.show_select_user,'user')} will get the reward"
        end
    %></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Execution Time</td>
    <td><%= @job.time_to_execute.html_safe %></td>
    <% if @job.schedule_type != 1 #not one time %>
    <td>From : <%= @job.owner_scheduler.start_at  rescue "-"%> to <%= @job.owner_scheduler.end_at rescue "-"%> </td>
        <% end %>
  </tr>
  <tr>
    <td>Notification</td>
    <td>
    <% if @job.is_fishbowl == false%>
    REGULAR EMAIL <br/>
    <%= if @job.push_email == true
    "Push Email <br />
    Subject : #{@job.subject_email} <br />
    Content : #{@job.content_email} <br /><br />
    ".html_safe
    else
      "Push Email Is not Set<br />".html_safe
    end
    %>
          <%else%>

      FISHBOWL EMAIL<br/>
      <%end%>
      <%= if @job.push_phone == true
            "Push Phone <br />
    Subject : #{@job.subject_phone} <br />
    Content : #{@job.content_phone} <br /><br />".html_safe
          else
            "Push Phone Is not Set<br />".html_safe
          end
      %>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <% if @job.job_type != nil and @job.job_type != 3 %>
    <td>User Group</td>
    <td><%=  @job.percentage.blank? ? "User who have visited in #{@job.activity_days} Week" : "User who have not visited in #{@job.percentage} Week"
    %>
    </td>
        <% else %>
      <td>User Group</td>
      <td>Individual for user</td>
        <% end %>
    <td>&nbsp;</td>
  </tr>
  </tbody>
</table>