<%
   bonus_points =@offer.bonus_points && @offer.bonus_points > 0 ? 'yes' :'no'
   bonus_points_ftu =@offer.bonus_points_ftu && @offer.bonus_points_ftu > 0 ? 'yes' :'no'
%>
<link href="http://seiyria.com/bootstrap-slider/css/bootstrap-slider.css" rel="stylesheet">

<%= simple_form_for([:admin, @offer]) do |f| %>
    <% if @offer.new_record? %>
        <%= hidden_field_tag "offer[is_online_order]", @offer.is_online_order.blank? ? params["online"].to_s == "true"  : @offer.is_online_order %>
    <% else %>
        <%= hidden_field_tag "offer[is_online_order]", @offer.is_online_order%>
    <% end %>
    <% if @offer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

          <ul>
            <% @offer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="x-box">

      <div class="field">
        <%= f.label :chain_id %>

        <% if params['online'] == 'true' %>
            <%= f.input_field :chain_id, :collection => Chain.active.order("name") , :prompt=>"Please select Chain", :class=>'chain_surveys_online' %>
        <% else %>
            <%= f.input_field :chain_id, :collection => Chain.active.order("name") , :prompt=>"Please select Chain", :class=>'chain_surveys' %>
        <% end %>

        <div class="link"><a href="<%= new_admin_chain_path %>"><%= image_tag "add.png" %></a></div>
      </div>

      <div class="field">
        <%= f.label :restaurants %>
        <%=
            f.input_field :restaurant_ids,
                          :collection => @offer.chain ? @offer.chain.restaurants.offer_active.order('name asc') : [],
                          :id => "restaurants",
                          :class => 'multiselect',
                          :multiple => true
        %>
        <div class="link"><a href="<%= new_admin_restaurant_path %>"><%= image_tag "add.png" %></a></div>
      </div>
      <br/>
      <div class="field">
        <%= f.label :name %>
        <%= f.input_field :name %>
      </div>
      <br/>
      <br/>
      <%= hidden_field_tag "offer[having_rule]",true%>

      <div class="field">
        <%= f.label :survey %>
        <%= f.input_field :survey_id,
                          :collection => @offer.chain ? @offer.chain.surveys : [],
                          :include_blank=>"NO SURVEY SELECTED",
                          :id=>'surveys' %>
        <div class="link"><a href="<%= new_admin_survey_path %>"><%= image_tag "add.png" %></a></div>
      </div>


      <%#= link_to 'Add Rules', new_admin_offer_offer_rule_path(@offer), :class => "nyroModal" rescue nil %>
      <!--<a href="#myModal" role="button" class="btn" data-toggle="modal">Add Rules</a>-->
      <%= link_to "Add rule",new_admin_offer_offer_rule_path(@offer), :class => 'btn' rescue nil%>
      <div class="field">
        <%=  render "admin/offer_rules/offer_rule_list" %>
      </div>
      <br/><br/>

      <div class="actions">
        <i><%= "Rule Can Be create after you create the offer first" if @offer.offer_rules.blank? rescue nil%></i><br/>
        <%= f.submit "Create", :class => "btn btn-primary" %>
        <%= link_to 'Show', admin_offer_path(@offer), :class => "btn" if @offer.id != nil %>
        <%= link_to 'Back', admin_offers_path, :class => "btn" %>
      </div>
    </div>
<% end %>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Offer Rule Form</h3>
  </div>
  <div class="modal-body">
    <%= render  'admin/offer_rules/form' rescue nil%>
  </div>
</div>

<script type="text/javascript">
    $( document ).ready(function() {
        // Without JQuery
        console.log('ready');

    });


    $('input[name=offer[is_multiplier]][value=true]').click(function() {
        $('#multiplier_block').show();
        $('#constant_block').hide();
        $('#offer_constant_value').val('0');
    });
    $('input[name=offer[is_multiplier]][value=false]').click(function() {
        $('#multiplier_block').hide();
        $('#constant_block').show();
        $('#offer_multiplier').val('0');
    });
    <% if (params["online"].to_s == "true" and @offer.new_record?) or  (!@offer.blank? and @offer.is_online_order == true)%>
    $('#surveys').append('<option value="">--- No Survey ---- </option>');
    <% end %>



    function add_fields(link, association, content) {
        var new_id = new Date().getTime();
        var regexp = new RegExp("new_" + association, "g");
        var well_xp = new RegExp("well");
        $(link).parent().after(content.replace(regexp, new_id).replace(well_xp,"well "+new_id));
        console.log(content);

    }
</script>
