<% content_for :title do %>
  Relevant: Editing offer
<% end %>

<%= javascript_include_tag "bootstrap-slider"%>
<div class="page-header">
  <h1>Editing offer</h1>
</div>

<% if @offer.having_rule == false %>
    <%= render 'form' %>
<% else %>
    <%= render 'form_rule' %>
<% end %>
