<div class="page-header">
  <h1>New offer <%= "With Rules" unless params[:rule].blank?%></h1>
</div>

<% if params[:rule].blank? %>
    <%= render 'form' %>
<% else %>
    <%= render 'form_rule' %>
<% end %>