<%
bonus_points =@offer.bonus_points && @offer.bonus_points > 0 ? 'yes' :'no'
bonus_points_ftu =@offer.bonus_points_ftu && @offer.bonus_points_ftu > 0 ? 'yes' :'no'
%>

<%= simple_form_for([:admin, @offer]) do |f| %>
    <% if @offer.new_record? %>
    <%= hidden_field_tag "offer[is_online_order]", @offer.is_online_order.blank? ? params["online"].to_s == "true"  : false %>
        <% else %>
        <%= hidden_field_tag "offer[is_online_order]", @offer.is_online_order%>
        <% end %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% @offer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="x-box">

    <div class="field">
      <%= f.label :chain_id %>
      <%= f.input_field :chain_id, :collection => Chain.active.order("name") , :prompt=>"Please select Chain", :class=>'chain_surveys',
                        :id => 'offer_chain_id' %>
      <div class="link"><a href="<%= new_admin_chain_path %>"><%= image_tag "add.png" %></a></div>
    </div>

      <div class="field">
        <%= f.label :restaurants %>
        <%=
        f.input_field :restaurant_ids,
          :collection => @offer.chain ? @offer.chain.restaurants.order('name asc') : [],
          :id => "restaurants",
          :class => 'multiselect',
          :multiple => true
      %>
        <div class="link"><a href="<%= new_admin_restaurant_path %>"><%= image_tag "add.png" %></a></div>
      </div>
    <br/>
    <div class="field">
      <%= f.label :name %>
      <%= f.input_field :name %>
    </div>

    <div class="field">
      <%= f.input :is_multiplier,
                  :collection => [[true, 'Multiplier'], [false, 'Constant Value']],
                  :label_method => :last,
                  :value_method => :first,
                  :as => :radio_buttons,
                  :item_wrapper_class => 'inline',
                  :label => false,
                  :input_html => {:id => "multiplier_choice"}
      %>
    </div>

    <div id="multiplier_block" class="field" style="display: <%= @offer.is_multiplier ? "block" : "none"%>">
      <%= f.label :multiplier %>
      <%= f.input_field :multiplier, :as => :string, :required=>true %>
      <div id="multiplier_slider" class="x_slider field-inner-box" style="margin-left:185px;"></div>
    </div>


    <div id="constant_block" class="field" style="display: <%= @offer.is_multiplier ? "none" : "block"%>">
      <%= f.label :constant_value %>
      <%= f.input_field :constant_value, :as => :string, :required=>true %>
    </div>

    <div class="field">
      <%= f.label "Minimum subtotal criteria for receipt approval" %>
      <%= f.number_field :min_subtotal_criteria_for_receipt_approval,
                         default: '0', max: 100000, min: 0,
                         onchange: "if(isNaN(parseFloat($(this).val()))){$(this).val(0)} else if($(this).val() < 0){$(this).val(0)} else if ($(this).val() > 100000){$(this).val(100000)};" %><br/>
        <span style="margin-left:180px;">
          <i>Min: 0, Max: 100000</i></span>

    </div>

    <br/>
    <div class="field">
      <%= f.label :effectiveDate %>
      <%= f.input_field :effectiveDate, :as => :string, :label=>'Valid From Date', :class=>'x-datepicker', :value => @offer.effectiveDate.try(:strftime, '%m-%d-%Y'), :readonly=>true %>
    </div>

    <div class="field">
      <%= f.label :expiryDate %>
      <%= f.input_field :expiryDate, :as => :string, :label=>'Valid To Date', :class=>'x-datepicker', :value => @offer.expiryDate.try(:strftime, '%m-%d-%Y'), :readonly=>true, :required=>true %>
    </div>

    <div class="field">
      <button id="time_limit_show_or_hide" style="margin-left:175px;"> Hide Offer Hours Option</button>
    </div>
    <br/>
    <div id="time_limit">
      <div class="field">
        <%= f.label :timeStart %>
        <%= f.input_field :timeStart, :as => :string, :label=>'Time From', :class=>'x-time-picker', :readonly=>true %>
      </div>
      <div class="field">
        <%= f.label :timeEnd %>
        <%= f.input_field :timeEnd, :as => :string, :label=>'Time End', :class=>'x-time-picker', :readonly=>true %>
      </div>
    </div>
    <br/>
    <div class="field">
      <%= f.label :daysOfWeek, 'Days Of Week' %>
      <% Date::ABBR_DAYNAMES.each_with_index do |day, index| %>
        <%= check_box_tag "offer[day_of_week_#{index}]", index, false,
          :name => "offer[day_of_week][]",
          :checked => @offer.include_day_of_week(index.to_i) %> <%= day %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :fineprint, 'Offer Details' %>
      <%= f.text_area :fineprint, :value=>"Take a picture of your receipt, and earn reward points!" %>
    </div>

    <div class="field">
      <%= f.label :survey %>
      <%= f.input_field :survey_id,
        :collection => @offer.chain ? @offer.chain.surveys : [],
        :prompt=>"Please select Survey",
        :id=>'surveys' %>
      <div class="link"><a href="<%= new_admin_survey_path %>"><%= image_tag "add.png" %></a></div>
    </div>
    <br/><br/>
    <div class="actions">
      <%= f.submit "Create", :class => "btn btn-primary" %>
      <%= link_to 'Show', admin_offer_path(@offer), :class => "btn" if @offer.id != nil %>
      <%= link_to 'Back', admin_offers_path, :class => "btn" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
    $('input[name=offer[is_multiplier]][value=true]').click(function() {
        $('#multiplier_block').show();
        $('#constant_block').hide();
        $('#offer_constant_value').val('0');
    });
    $('input[name=offer[is_multiplier]][value=false]').click(function() {
        $('#multiplier_block').hide();
        $('#constant_block').show();
        $('#offer_multiplier').val('0');
    });
    <% if (params["online"].to_s == "true" and @offer.new_record?) or  (!@offer.blank? and @offer.is_online_order == true)%>
    $('#surveys').append('<option value="">--- No Survey ---- </option>');
    <% end %>
  <% if (params["online"].to_s == "true" and @offer.new_record?) or  (!@offer.blank? and @offer.is_online_order == true)%>
  $('#surveys').prepend('<option value="">--- No Survey ---- </option>');
  <% end %>
</script>
<%= debug params["online"].to_s == "true" and @offer.new_record?%>