<%
   bonus_points =@offer.bonus_points && @offer.bonus_points > 0 ? 'yes' :'no'
   bonus_points_ftu =@offer.bonus_points_ftu && @offer.bonus_points_ftu > 0 ? 'yes' :'no'
%>

<%= form_for([:admin, @offer]) do |f| %>

    <% if @offer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

          <ul>
            <% @offer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :chain %>
      <br/>
      <%= f.collection_select("chain_id", Chain.order("name"), :id, :name, options ={:prompt => true}) %>
    </div>
    <div class="field">
      <%= label_tag :restaurant %>
      <br/>
       <%
          ids=@offer.restaurants.map(&:id);
       %>
      <%= f.collection_select(:restaurant_ids, Restaurant.all, :id, :name, options ={:prompt => true, :class=>'multiselect', :selected => ids}) %>
      <%= hidden_field_tag('ids', ids) %>
      <a href="<%= new_admin_chain_path %>"><%= image_tag "add.png" %></a>
    </div>
    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :multiplier %>
      <br/>
      <%= f.text_field :multiplier %>
      <div id="multiplier_slider"></div>
    </div>
    <div class="field">
      <%= f.label :effectiveDate, 'Valid From Date' %>
      <br/>
      <%= f.text_field :effectiveDate, :value => @offer.effectiveDate.try(:strftime, '%Y-%m-%d') %>
    </div>
    <div class="field">
      <%= f.label :expiryDate, 'Valid To Date' %>
      <br/>
      <%= f.text_field :expiryDate, :value => @offer.expiryDate.try(:strftime, '%Y-%m-%d') %>
    </div>
    <button id="time_limit_show_or_hide"> Hide Offer Hours Option</button>
    <div class="field" id="time_limit">
      <%= f.label :timeStart, 'Time From' %>
      <br/>
      <%= f.text_field :timeStart %>
      <br/>
      <%= f.label :timeEnd, 'Time To' %>
      <br/>
      <%= f.text_field :timeEnd %>
    </div>
    <div class="field">
      <%= f.label :daysOfWeek, 'Days Of Week' %>
      <br/>
      <% Date::ABBR_DAYNAMES.each_with_index do |day, index| %>
          <%= check_box_tag "offer[day_of_week_#{index}]", index, false,
                            :name => "offer[day_of_week][]",
                            :checked => @offer.include_day_of_week(index.to_i) %> <%= day %>
      <% end %>
    </div>

    <div class="field">
      Bonus Points for All Valid Subscriptions<br/>
      <% ['no', 'yes'].each do |option| %>
          <br><%= radio_button_tag 'bonus_points', option, bonus_points == option, :class =>'bonus_option' %>
          <%= option.humanize %>
      <% end %>
      <%= f.label :bonus_points, 'Bonus Points' %><%= f.text_field :bonus_points, :disabled => true %>
    </div>

    <div class="field">
      Bonus Points for First Time User Valid Subscriptions<br/>
      <% ['no', 'yes'].each do |option| %>
          <br><%= radio_button_tag 'bonus_points_ftu', option, bonus_points_ftu == option, :class =>'bonus_option' %>
          <%= option.humanize %>
      <% end %>
      <%= f.label :bonus_points_ftu, 'Bonus Points' %><%= f.text_field :bonus_points_ftu, :disabled => true %>
    </div>

    <div class="field">
      <%= f.label :fineprint, 'Other Details' %>
      <br/>
      <%= f.text_area :fineprint %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
