<table class="table table-bordered table-condensed">
  <caption></caption>
  <thead>
    <tr>
      <th class="th-small ta-center"><a class="order-table" href="#" data-attribute="0">ID</a></th>
      <th><a class="order-table" href="#" data-attribute="1">Chain Name</a></th>
      <th><a class="order-table" href="#" data-attribute="2">Offer Title</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="3">Valid From</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="4">Valid To</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="5">Hours</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="6">Points Multiplier</a></th>
      <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="7">Points (AU)</a></th>
      <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="8">Points (FTU)</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="9">Survey Linked To</a></th>
      <th class="th-medium ta-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @offers.each do |offer|
      points_au = offer.bonus_points && offer.bonus_points > 0 ? "Yes- #{offer.bonus_points}" : 'No'
      points_ftu = offer.bonus_points_ftu && offer.bonus_points_ftu > 0 ? "Yes- #{offer.bonus_points_ftu}" : 'No'
    %>
      <tr>
        <td class="ta-center"><%= offer.id %></td>
        <td><%= offer.chain.name %></td>
        <td><%= offer.name %></td>

        <td><%= offer.effectiveDate ? (l offer.effectiveDate) : '-' %></td>
        <td><%= offer.expiryDate ? (l offer.expiryDate) : '-' %></td>
        <td><%= offer.timeStart || '-' %> to <%= offer.timeEnd || '-' %></td>
        <td class="ta-center"><%= offer.multiplier %>X</td>

        <td class="ta-center"><%= points_au %></td>
        <td class="ta-center"><%= points_ftu %></td>
        <td><%= offer.try(:survey).try(:title) %></td>
        <td>
          <div class="btn-group">
            <button class="btn">Action</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <%= link_to 'Show', admin_online_offer_path(offer), class: "dropdown-item" %>
              <%= link_to 'Edit', edit_admin_online_offer_path(offer), class: "dropdown-item" %>
              <%= link_to 'Destroy', admin_online_offer_path(offer), confirm: 'Are you sure?', method: :delete, class: "dropdown-item" %>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="x-pagination">
  <%= will_paginate @offers %>
</div>
