<script type="text/javascript">
  $(document).ready(function(){
    $('#search_btn').click(function(){
      $('#search_text_hidden').val($('#search_text').val());
      $('#page').val(1);
      $('#loader').show();
      $('#sub').click();
    });

    $('.order-table').bind("click", function(){
      var ordvalcur = $(this).attr('data-attribute');
      var ordvalbef = $('#qry_order').val();

      if(ordvalcur == ordvalbef){
        $('#qry_order').val(parseInt(ordvalbef) + 1000)
      }else{
        $('#qry_order').val($(this).attr('data-attribute'));
      }

      $('#search_btn').click();
    });

    $('#search_text').keypress(function (e) {
      if (e.which == 13) {
        $('#search_btn').click();
      }
    });

  });
</script>
<div class="page-header">
  <h1>Listing Online Offers</h1>
</div>
<div class="controls">
  <%= select_tag 'chain_offers', options_from_collection_for_select(Chain.active.order("name"), :id, :name), :prompt=>"Please select chain",
    :onchange => "$('#chn_id').val(this.value);$('#page').val(1);$('#search_text_hidden').val($('#search_text').val());$('#loader').show();$('#sub').click();" %>
  <%= search_field_tag "search_text" %>
  <%= button_tag "Search", :id => "search_btn", :style => "width: 65px; height: 30px; margin-bottom: 8px;" %>
  <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
</div>
<div id="x-records">
  <%= render partial: 'offers' %>
</div>
<br/>
<%#= link_to 'New Offer', new_admin_offer_path , :class => "btn btn-primary" %>

<%#= link_to 'New Offer Order Online', new_admin_online_offer_path, :class => "btn btn-primary" %>
<%= link_to 'New Offer Order Online', new_admin_offer_path(:online => true), :class => "btn btn-primary" %>

<%= form_tag group_chain_list_admin_online_offers_path, :id => "form", :class => 'form-horizontal', :style => "display:none;", :remote => true do %>
  <%= hidden_field_tag "chn_id" %>
  <%= hidden_field_tag "search_text_hidden" %>
  <%= hidden_field_tag "qry_order" %>
  <%= hidden_field_tag "page" %>
  <%= submit_tag "submit", :id => "sub" %>
<% end %>
