<p id="notice"><%= notice %></p>

Name: <%= @offer.name %> <br/>
Effective Date: <%= @offer.effectiveDate.try(:strftime, '%Y-%m-%d') %><br />
Expiry Date: <%= @offer.expiryDate.try(:strftime, '%Y-%m-%d') %><br />
Start Time: <%= @offer.timeStart %><br />
End Time: <%= @offer.timeEnd %><br />
Multiplier: <%= @offer.multiplier %><br />
Constant Value: <%= @offer.constant_value %><br />
Chain: <%= @offer.chain.name %><br />

<br/>
<%= form_tag("/admin/update_online_offer_participation", :method => :post) do %>
    <%= hidden_field_tag(:online_offer_id, @offer.id) %>
    <table>
      <caption>Participating Restaurants:</caption>
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>All <%= check_box_tag "all_participants" %></th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th colspan="3"></th>
        <th><%= submit_tag "Pull Out", :confirm => "Click OK to pull out the selected restaurants from this offer", :disable_with => "Please wait..." %></th>
      </tr>
      </tfoot>
      <tbody>
      <% @participants.each do |restaurant| %>
          <tr>
            <td><%= restaurant.name %></td>
            <td><%= restaurant.address %></td>
            <td><%= restaurant.try(:city).try(:name) %></td>
            <td><%= check_box_tag "pullout_[#{restaurant.id}]", restaurant.id, false,
                                  :name => "pullout[]" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br/>
    <table>
      <caption>Non-participating Restaurants</caption>
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>All <%= check_box_tag "all_non_participants" %></th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th colspan="3"></th>
        <th><%= submit_tag "Participate", :confirm => "Click OK to add the selected restaurants to this offer", :disable_with => "Please wait..." %></th>
      </tr>
      </tfoot>
      <tbody>

      <% if !@non_participants.blank?
             @non_participants.each do |restaurant| %>
              <tr>
                <td><%= restaurant.name %></td>
                <td><%= restaurant.address %></td>
                <td><%= restaurant.try(:city).try(:name) %></td>
                <td><%= check_box_tag "participate_[#{restaurant.id}]", restaurant.id, false,
                                      :name => "participate[]" %></td>
              </tr>
          <% end
             end %>
      </tbody>
    </table>
<% end %>

<%= link_to 'Edit', edit_admin_online_offer_path(@offer), :class => "btn" %>
<%= link_to 'Back', admin_online_offers_path, :class => "btn" %>
