<div class="page-header">
  <h3>Emma Log Success Users</h3>
</div>

<table>
  <thead>
  <tr>
    <th>User ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Restaurant</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |id| %>
      <% user = User.find(id) rescue nil%>
      <tr>
        <td><%= user.id rescue nil %></td>
        <td><%= user.first_name rescue nil%></td>
        <td><%= user.last_name rescue nil%></td>
        <td><%= user.email rescue nil%></td>
        <td>
          <% em = EmmaMarketing.where(:user_id => user.id, :chain_id => user.chain_id).first %>
          <%= em.restaurant_id if em %>
        </td>
        <td><%= date_helper(user.created_at) rescue nil%></td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="5">
      <%= will_paginate @users if @users.present? %>
    </td>
  </tr>
  </tfoot>


</table>

<br />

<%= link_to "Back", admin_emma_logs_path, :class => "btn btn-primary"%>