<%= simple_form_for([:admin,@admin_report_definition]   ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email_subject, :as => :text, :input_html => { :rows => 5 } %>
    <i>add %{chain} to show the chain name</i><br />
    <i>add %{start_date} to show the start date</i><br />
    <i>add %{end_date} to show the end date</i><br /><br />
    <i class="alert">Note that space will be replaced by '_'</i>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
    <%= link_to 'Show', admin_report_definition_path(@admin_report_definition), :class => "btn" %>
    <%= link_to 'Back', admin_report_definitions_path, :class => "btn" %>
  </div>
<% end %>
