<%= simple_form_for([:admin,@admin_report_definition]   ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="x-box" style="padding-top:20px;">
      <div class="field">
        <%= f.label :name %>
        <%= f.input_field :name %>
      </div>
      <div class="field">
        <%= f.label :email_subject %>
        <%= f.input_field :email_subject %>
        <div style="margin-left:185px;">
          <i>add %{chain} to show the chain name</i><br />
          <i>add %{start_date} to show the start date</i><br />
          <i>add %{start_date} to show the end date</i><br />
        </div>
      </div>
      <br/>
      <div class="field">
        <%= f.label :jasper_path %>
        <%= f.input_field :jasper_path, :as => :string %>
      </div>
      <div class="field">
        <%= f.label :asynchronous %>
        <%= f.input_field :asynchronous, :as => :select,:include_blank => false%>
      </div>
      <div class="field">
        <%= f.label :active %>
        <%= f.input_field :active, :as => :select,:include_blank => false%>
      </div>

      <div style="margin-left:178px;">
        <%= render "param_collection" %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <br/><br/><br/>
    <%= f.button :submit, :class => "btn btn-primary" %>
    <%= link_to 'Back', admin_report_definitions_path, :class => "btn" %>
  </div>
<% end %>
