<%= link_to "Click here to Add Parameters Name","#", :id => "add_param",
  :onclick =>
  "$('#param_content').prepend('#{escape_javascript(render "params_form")}');
return false;" %>

<div id="param_content">
  <% unless @admin_report_definition.query.blank? %>
    <% query = JSON.parse(@admin_report_definition.query)  %>
    <% query.each do |x,y| %>
      <div class="query_content">
        <%= text_field_tag "query[]", x %>
        <%= select_tag "data_type[]", options_for_select(["Date", "String", "Integer"],y) %>
        <%= link_to "remove", "#", :onclick => "$(this).parent().remove();return false;"%><br />
      </div>
    <% end %>
  <% end %>
</div>