<div class="query_content">
  <%= text_field_tag "query[]", nil %>
  <%= select_tag "data_type[]", options_for_select(["Date", "String", "Integer"]) %>
  <%= link_to "remove", "#", :onclick => "$(this).parent().remove();return false;"%><br />
</div>

