<div class="page-header">
  <h1>Listing Report definition</h1>
</div>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Jasper path</th>
      <th>Query</th>
      <th class="th-medium ta-center">Status</th>
      <th>Email Subject</th>
      <th class="th-medium ta-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_report_definitions.each do |admin_report_definition| %>
      <tr>
        <td><%= admin_report_definition.name %></td>
        <td><%= admin_report_definition.jasper_path %></td>
        <td>
          <%= render_query_to_json(admin_report_definition.query) %>
        </td>
        <td class="ta-center">
          <%= button_to "#{admin_report_definition.active?? 'Active' : 'Inactive'}",
            {:action => 'activate_deactivate',
            :id => admin_report_definition.id,:page => params[:page]}, :method => :post ,
            :class => "btn #{admin_report_definition.active?? 'btn-success' : 'btn-danger'}",
            :confirm => "Are you sure want to #{admin_report_definition.active?? 'Deactive' : 'Activate'} this report?"%>
        </td>
        <td><%= admin_report_definition.email_subject  %></td>
        <td>
          <div class="btn-group">
            <button class="btn">Action</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <%= link_to 'Show', admin_report_definition_path(admin_report_definition) %>
              <%= link_to 'Edit Email Subject', edit_admin_report_definition_path(admin_report_definition) %>
              <%= link_to 'Edit Parameters', edit_parameter_admin_report_definition_path(admin_report_definition) %>
              <%= link_to 'Destroy', admin_report_definition_path(admin_report_definition), confirm: 'Are you sure?', method: :delete %>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Report definition', new_admin_report_definition_path, :class => "btn btn-primary" %>
