<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_report_definition.name %>
</p>

<p>
  <b>Jasper path:</b>
  <%= @admin_report_definition.jasper_path %>
</p>


<p>
  <b>Query:</b>
  <%= @admin_report_definition.query %>
</p>
<br/>

<%= link_to 'Edit', edit_admin_report_definition_path(@admin_report_definition), :class => "btn" %>
<%= link_to 'Back', admin_report_definitions_path, :class => "btn" %>
