<%= simple_form_for [:admin, @admin] do |f| %>
  <%= f.error_notification %>

  <%= f.input :email, :required => true %>

  <% if f.object.new_record? or current_admin.has_role?(ADMIN_ROLES[:ADMIN]) %>
    Role:
    <%= f.select :role, ADMIN_ROLES.to_a, :prompt => true %>
  <% end %>
  <%= f.input :password %>
  <% unless f.object.new_record? %>
    <i>(leave blank if you don't want to change it)</i>
  <% end %>
  <%= f.input :password_confirmation %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
