<h1>Listing Admin User</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admins.each do |admin| %>
  <tr>
    <td><%= admin.email %></td>
    <td><%= admin.role rescue nil %></td>
    <td><%= link_to 'Show', admin_admin_path(admin) %></td>
    <td><%= link_to 'Edit', edit_admin_admin_path(admin) %></td>
    <td><%= link_to 'Destroy', admin_admin_path(admin), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Admin', new_admin_admin_path %>
