<p id="notice"><%= notice %></p>
<p>
  Email : <%= @admin.email %>
</p>
<p>
  Role : <%= @admin.role rescue nil %>
</p>
<%= link_to 'Edit', edit_admin_admin_path(@admin) %> |
<%= link_to 'Back', admin_admins_path %>
