  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>field_name</th>
      <th>app_display_text</th>
      <th>description</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @raffle_additional_informations.each do |raffle_info| %>
      <tr>
        <td><%= raffle_info.id %></td>
        <td><%= raffle_info.field_name %></td>
        <td><%= raffle_info.app_display_text %></td>
        <td><%= raffle_info.description %></td>
        <td>
          <%= link_to "EDIT", "#raffle_modal", :onclick => "#{initialize_modal('raffle_modal',edit_additional_info_admin_raffle_path(raffle_info.id, :format => :js))}", "data-toggle" => "modal" %> /
          <%= link_to "DELETE", remove_additional_info_admin_raffle_path(raffle_info.id), :method => :delete, :confirm => "Are you sure", :remote => true  %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

