<%= simple_form_for [:admin, @raffle_additional_info], :url => update_additional_info_admin_raffle_path(@raffle_additional_info), :html => {:class => "form-horizontal", :remote => true} do |f| %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal" onclick="$('#raffle_modal').html('');">&times;</a>
    <h3>Edit Additional Info</h3>
  </div>
  <div class="modal-body">
    <%= f.input :raffle_id, :as => :hidden %>
    <%= f.input :field_name, :as => :string %>
    <%= f.input :app_display_text, :as => :string %>
    <%= f.input :description, :as => :string %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
    <a class="btn btn-primary" data-dismiss="modal" onclick="$('#raffle_modal').html('');">Back</a>
  </div>
<% end %>

