<%= simple_form_for [:admin, @raffle_step], :url => update_step_admin_raffle_path(@raffle_step), :html => {:class => "form-horizontal", :remote => true} do |f| %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal" onclick="$('#raffle_modal').html('');">&times;</a>
    <h3>Edit Raffle Step</h3>
  </div>
  <div class="modal-body">
    <%= f.input :raffle_id, :as => :hidden %>
    <%= f.input :display_title, :as => :string %>
    <%= f.input :display_subtitle, :as => :string %>
    <%= f.input :display_description, :as => :string %>
    <%= f.input :custom_api_response, :input_html => {:rows => 5} %>
    <%= f.input :code, :as => :string %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
    <a class="btn btn-primary" data-dismiss="modal" onclick="$('#raffle_modal').html('');">Back</a>
  </div>
<% end %>

