<%= simple_form_for [:admin, @raffle], :url => admin_raffle_path(@raffle), :html => {:class => "form-horizontal", :remote => true} do |f| %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal" onclick="$('#raffle_modal').html('');">&times;</a>
    <h3>Edit Raffle  <%= @raffle.title %></h3>
  </div>
  <div class="modal-body">

    <%= f.input :chain_id, :as => :hidden %>
    <%= f.input :title, :as => :string %>
    <%= f.input :description, :as => :string %>

    <div id="date_selection" class="control-group string optional">
      <label class="string optional control-label" for="raffle_description">Start date</label>
      <div class="controls">
        <div id="effectiveDate_error"></div>
        <%= f.text_field :start_date, :value => @raffle.start_date.try(:strftime, '%Y-%m-%d'), :class => 'x-datepicker', :onclick => "$('.x-datepicker').datepicker({dateFormat: 'yy-mm-dd'});".html_safe %>
      </div>
      <br>
      <label class="string optional control-label" for="raffle_description">End date</label>
      <div class="controls">
        <div id="expiryDate_error"></div>
        <%= f.text_field :end_date, :value => @raffle.end_date.try(:strftime, '%Y-%m-%d'), :class => 'x-datepicker', :onclick =>  "$('.x-datepicker').datepicker({dateFormat: 'yy-mm-dd'});".html_safe %>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
    <a class="btn btn-primary" data-dismiss="modal" onclick="$('#raffle_modal').html('');">Back</a>
  </div>
<% end %>

