<% if @chain %>
  <div class="page-header">
    <h2>Raffles <%= @chain.name %> <%= link_to "NEW", "#raffle_modal", :onclick => "#{initialize_modal('raffle_modal',new_admin_raffle_path(:chain_id => @chain.id, :format => :js))}", "data-toggle" => "modal", :style => "size:100px;", :class => "btn btn-primary" %></h2>
  </div>
  <div id="data-container">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @raffles.each do |raffle| %>
        <tr>
          <td><%= raffle.id %></td>
          <td><%= raffle.title %></td>
          <td><%= raffle.description %></td>
          <td><%= raffle.start_date.strftime("%Y-%m-%d") rescue nil %></td>
          <td><%= raffle.end_date.strftime("%Y-%m-%d") rescue nil %></td>
          <td>
            <%= button_to "#{raffle.active?? 'Active' : 'Inactive'}", {:action => 'activate_deactivate', :id => raffle.id}, :method => :post , :remote => true,
                        :class => "btn #{raffle.active?? 'btn-success' : 'btn-danger'}",
                        :confirm => "Are you sure want to #{raffle.active?? 'Deactive' : 'Activate'} this raffle?"%>
          </td>
          <td>
            <div class="btn-group">
              <button class="btn">Action</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <%= link_to "Edit", "#raffle_modal", :onclick => "#{initialize_modal('raffle_modal',edit_admin_raffle_path(raffle, :format => :js))}", "data-toggle" => "modal" %>
                <%= link_to "Delete", admin_raffle_path(raffle), :method => :delete, :confirm => "Are you sure", :remote => true  %>
                <%= link_to "Steps", steps_admin_raffle_path(raffle) %>
                <%= link_to "Additional Info", additional_informations_admin_raffle_path(raffle) %>
                <%= link_to "Participation Histories", participation_histories_admin_raffle_path(raffle) %>
                <%= link_to "Admin update", admin_update_admin_raffle_path(raffle) %>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<% else %>
  <b>Please select chain</b>
<% end %>