  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Display Title</th>
      <th>Display Subtitle</th>
      <th>Display Description</th>
      <th>Custom API Response</th>
      <th>Code</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @raffle_steps.order("id asc").each do |step| %>
      <tr>
        <td><%= step.id %></td>
        <td><%= step.display_title %></td>
        <td><%= step.display_subtitle %></td>
        <td><%= step.display_description %></td>
        <td><%= step.custom_api_response %></td>
        <td><%= step.code %></td>
        <td>
          <%= button_to "#{step.active?? 'Active' : 'Inactive'}", {:action => 'activate_deactivate_step', :id => step.id}, :method => :post , :remote => true,
                        :class => "btn #{step.active?? 'btn-success' : 'btn-danger'}",
                        :confirm => "Are you sure want to #{step.active?? 'Deactive' : 'Activate'} this step?"%>
        </td>
        <td>
          <%= link_to "EDIT", "#raffle_modal", :onclick => "#{initialize_modal('raffle_modal', edit_step_admin_raffle_path(step.id, :format => :js))}", "data-toggle" => "modal" %> /
          <%= link_to "DELETE", remove_step_admin_raffle_path(step.id), :method => :delete, :confirm => "Are you sure", :remote => true  %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>