<div class="page-header">
  <h2>Raffle Additional Informations</h2>
  <h2><%= @chain.name %> - <%= @raffle.title %> <%= link_to "NEW", "#raffle_modal", :onclick => "#{initialize_modal('raffle_modal', add_additional_info_admin_raffle_path(:raffle_id => @raffle.id, :format => :js))}", "data-toggle" => "modal", :style => "size:100px;", :class => "btn btn-primary"  %></h2>
</div>
<div id="data-container">
  <%= render "additional_informations" %>
</div>
<br><br>
<%= link_to "Back to Raffle", admin_raffles_path, :class => "btn btn-primary"  %>
<div class="modal hide fade" id="raffle_modal" style="width: 541px;height: 500px;"></div>