<div class="page-header">
  <h2>Raffles Updated Step User Histories</h2>
  <h2><%= @raffle.title %></h2>
</div>

<div id="data-container">
  <table>
    <thead>
    <tr>
      <th>executed_at</th>
      <th>user_id</th>
      <th>User Email</th>
      <th>Raffle Step</th>
      <th>Success</th>
      <th>Messages</th>
    </tr>
    </thead>
    <tbody>
    <% @histories.each do |participan| %>
      <tr>
        <td><%=  Time.zone.at(participan.group.to_i) rescue nil %></td>
        <td><%= participan.submitted_user_id %></td>
        <td><%= participan.try(:user).try(:email) %></td>
        <td><%= participan.try(:raffle_step).try(:display_subtitle) %></td>
        <td><%= participan.success%></td>
        <td><%= participan.message %></td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
    <td colspan="6">
      <%= will_paginate @histories %>
    </td>
    </tfoot>
  </table>
</div>
<br><br>
<%= link_to "Back to Raffle", admin_raffles_path(:chain_id => @raffle.chain_id), :class => "btn btn-primary"  %>
<%= link_to "Update Raffle User Step", edit_step_users_admin_raffle_path(@raffle), :class => "btn btn-primary"  %>