<% if @is_saved %>
  $('#data-container').html("<%= escape_javascript(render "list_steps")%>");
  $("#raffle_modal").html('<%= escape_javascript(render :partial => "admin/referral_programs/partials/confirmation", :locals => {:message => "Raffle Step has been successfully created."}) %>');
<% else %>
  $("#raffle_modal").html('<%= escape_javascript(render "new_step_form") %>')
<% end %>

	