<% if @is_saved %>
  $('#data-container').html("<%= escape_javascript(render "index")%>");
  $("#raffle_modal").html('<%= escape_javascript(render :partial => "admin/referral_programs/partials/confirmation", :locals => {:message => "Raffle has been successfully created."}) %>');
<% else %>
  $("#raffle_modal").html('<%= escape_javascript(render "new_form") %>')
<% end %>

