<div class="page-header">
  <h3>Update Raffle Users</h3>
  <h4>Chain : <%= @raffle.try(:chain).try(:name) %></h4>
  <h4>Raffle : <%= @raffle.title %></h4>
</div>
<%= simple_form_for([:admin, @raffle], :url => update_step_users_admin_raffle_path(@raffle), :html => { :class => "form-horizontal", :multipart => true, :id => "update-raffle-step-form"}) do |f| %>
  <%= render "shared/error_messages", :target => @raffle %>
  <%= f.input :chain_id, :input_html => {:value => @raffle.chain_id}, :as => :hidden %>
  <%= f.input :id, :input_html => {:value => @raffle.id}, :as => :hidden %>
  <%= f.input :selected_step, :collection => @raffle.raffle_steps, :label_method => :display_subtitle %>
  <%= hidden_field_tag "confirm", @confirmation_box.blank? ? nil : "true" %>
  <div class="control-group radio_buttons optional">
    <div class="controls">
      <label class="radio">
        <input class="radio_buttons optional" id="raffle_push_type_upload" name="raffle[push_type]" type="radio" value="1" <%= params[:raffle] && params[:raffle][:push_type].to_i.eql?(1) ? "checked" : ""%>>
        Upload XLS File
        <div class="span12">
          <%= f.file_field :xls %>
          <br /> <br />
        </div>
      </label>
      &nbsp;
      <label class="radio"><input class="radio_buttons optional" id="raffle_push_type_input" name="raffle[push_type]" type="radio" value="2" <%= params[:raffle] && params[:raffle][:push_type].to_i.eql?(2) ? "checked" : ""%>>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Enter User ID (separated by commas)
        <div class="span12">
          <%= f.text_area :user_temp_ids, :rows => 6 %>
          <br /> <br />
        </div>
      </label>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :onclick => "$('#form-action').ajaxloader('show');$('#submit_but').hide();$('#calculate').show();", :id => 'submit_but' %>
    <input type="submit" value="Calculating Duplicate Users"  name="commit" class="btn disabled" id="calculate" style="display:none;">
    <%= link_to "Back", admin_update_admin_raffle_path(@raffle), :class => "btn"%>
  </div>

<% end %>

<!--- confirmation for info duplicate content ---->
<% if @confirmation_box == true %>


  <div id="modal_popup_export" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <h3 id="myModalLabel">Admin Update Confirmation</h3>
    </div>
    <div class="modal-body">
      <p>
        Unique Users : <%= @uniq_count %> users.
      </p>
      <p>
        Duplicates Found :  <%= @duplicate_count %>.
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="window.location = '/admin/raffles/<%= @raffle.id%>/edit_step_users'">Cancel</button>
      <button class="btn btn-primary" onclick="$('#form-action').ajaxloader('show');$('#update-raffle-step-form').submit();">Continue</button>
    </div>
  </div>
  <div class="modal-backdrop fade in"></div>
<% end %>
