  <div class="page-header">
    <h2>Raffles Participation Histories</h2>
    <h2><%= @raffle.title %></h2>
  </div>

  <%= simple_form_for(:search, :url => participation_histories_admin_raffle_path(@raffle), :method => :get) do |f| %>
    Search By :
    <%= select_tag :search_by, options_for_select([["USER ID", "user_id"], ["EMAIL","user_email"]], params[:search_by])%>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", :class => "btn btn-primary" %>
  <% end %>

  <div id="data-container">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <!-- <th>raffle_id</th> -->
        <th>user_id</th>
        <th>user_email</th>
        <th>date_of_submission</th>
        <th>information_submited</th>
        <th>Completed step</th>
        <th>Uncompleted step</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @participation_histories.each do |participan| %>
        <tr>
          <td><%= participan.id %></td>
          <!-- <td><%#= participan.raffle_id %></td> -->
          <td><%= participan.user_id %></td>
          <td><%= participan.user_email %></td>
          <td><%= participan.date_of_submission.strftime("%Y-%m-%d %H:%M:%S") rescue nil %></td>
          <td>
            <% x = participan.information_submited.split(",") rescue [] %>
            <% x.each_slice(2) do |info| %>
              <b>App Text : </b> <%= RaffleAdditionalInformation.find(info[0]).field_name rescue info[0] %> <br>
              <b>Answer : </b> <%= info[1] %> <br><br>
            <% end %>

          </td>
          <% completed_step = participan.raffle_participation_histories.order("created_at Asc").map{|a| a.try(:raffle_step).try(:display_subtitle)}.uniq %>
          <% uncompleted_step = @raffle.raffle_steps.pluck(:display_subtitle).uniq - completed_step %>

          <td><%= completed_step.join(", ")%></td>
          <td><%= uncompleted_step.join(", ")%></td>
          <td>
          <%= link_to "Step histories", step_histories_admin_raffle_path(participan.id) %>
            <!-- <div class="btn-group">
              <button class="btn">Action</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <%#= link_to "Edit", "#raffle_modal", :onclick => "#{initialize_modal('raffle_modal',edit_admin_raffle_path(raffle, :format => :js))}", "data-toggle" => "modal" %>
                <%#= link_to "Delete", admin_raffle_path(raffle), :method => :delete, :confirm => "Are you sure", :remote => true  %>
                <%#= link_to "Additional Info", additional_informations_admin_raffle_path(raffle) %>
              </ul>
            </div> -->
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @participation_histories %>
  <br><br>
<%= link_to "Back to Raffle", admin_raffles_path, :class => "btn btn-primary"  %>