  <div class="page-header">
    <h2>Raffles Step Histories </h2>
    <h2><%= @raffle.title %> - <%= @participation_history.user_email %></h2>
    
  </div>

  <div id="data-container">
    <table>
      <thead>
      <tr>
        <th>step display title</th>
        <th>step display subtitle</th>
        <th>Submited at</th>
      </tr>
      </thead>
      <tbody>
      <% @step_histories.each do |step| %>
        <tr>
          <td><%= step.try(:raffle_step).try(:display_title) %></td>
          <td><%= step.try(:raffle_step).try(:display_subtitle) %></td>
          <td><%= date_helper_timezone(step.created_at) rescue nil %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<br><br>
  <%= link_to "Back", participation_histories_admin_raffle_path(@raffle) %>