<% if @is_saved %>
  $('#data-container').html("<%= escape_javascript(render "additional_informations")%>");
  $("#raffle_modal").html('<%= escape_javascript(render :partial => "admin/referral_programs/partials/confirmation", :locals => {:message => "Raffle Additional Info has been successfully updated."}) %>');
<% else %>
  $("#raffle_modal").html('<%= escape_javascript(render "new_additional_info_form") %>')
<% end %>

	