<%= simple_form_for([:admin, @promotion], :html => {:style => "position:relative;", :class => 'form-horizontal', :multipart => true, :id => "plain-push-form"}) do |f| %>
  <% if @promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promotion.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
        <% @promotion.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>

    <div class="control-group">
      <label for="focusedInput" class="control-label">Name </label>
      <div class="control"><%= f.text_field :name %></div>
    </div>
    <div class="control-group">
      <label for="focusedInput" class="control-label">Valid From date</label>
      <div class="control">
        <%= text_field_tag "promotion[effective_date]",date_only(@promotion.effective_date) , :class => 'x-datepicker' %>
      </div>
    </div>
    <div class="control-group">
      <label for="focusedInput" class="control-label"> Valid to Date</label>
      <div class="control">
        <%= text_field_tag "promotion[expiry_date]",date_only(@promotion.expiry_date), :class => 'x-datepicker' %>
      </div>
    </div>
    <div class="control-group">
      <div class="btn-group">
        <a class="btn" href="#">
          Select Type
        </a>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% if @promotion.promotable_type == "Reward" || @promotion.promotable_type.nil? %>
            <li><%= link_to "Select reward",reward_list_admin_promotions_path, :class => "nyroModal" %></li>
          <% end %>
          <% if @promotion.promotable_type == "Perk" || @promotion.promotable_type.nil?%>
            <li><%= link_to "Select Perk",perk_list_admin_promotions_path, :class => "nyroModal" %></li>
          <% end %>
          <% if @promotion.promotable_type == "PromotionOffer" || @promotion.promotable_type.nil?%>
              <li><%= link_to "Select Points",promo_offer_admin_promotions_path, :class => "nyroModal" %></li>
          <% end %>
        </ul>
      </div>
    </div>


    <div class="control-group">
      <label for="focusedInput" class="control-label"></label>
      <div class="control">
        <%= render "selected_reward_or_perk" %>
      </div>

    </div>
    <div class="control-group">
      <label for="focusedInput" class="control-label">Generate Promo Code</label><br/>
      <div class="control">
        Static :<%= radio_button_tag "generate_code",nil,!@promotion.quantity.blank?, :onclick => "$('#static_code').show();$('#shared_code').hide();$('#shared_value').val('');$('#quantity').val('#{@promotion.quantity}');", :id => 'generate_code_static' %>

        Shared :<%= radio_button_tag "generate_code",nil,@promotion.quantity.blank?, :onclick => "$('#static_code').hide();$('#shared_code').show();$('#quantity').val('');$('#shared_value').val('#{@promotion.quantity.blank? ? (@promotion.promo_codes.first.code rescue '') : ''}');", :id => 'generate_code_shared'  %>
      </div>
      <%= render "list_promo"  %>
    </div>
    <div class="control-group">
      <div id="static_code">
        <%= text_field_tag "promotion[quantity]", @promotion.quantity, :id => "quantity", :placeholder => "Quantity" %>
        <%= link_to "See Sample Code",generate_promo_code_admin_promotions_path, :class => "nyroModal btn" %>
      </div>
      <div id="shared_code" style="display:none;">
        <div class="control">
          Code : <input type="text" size="16" class="span2" name="promotion[shared_value]" id="shared_value" placeholder="insert the promo code"/><br/>
          Limit : <%= text_field_tag "promotion[limit]", @promotion.limit, :id => "limit", :placeholder => "Limit N user" %><br />
          <i> limit how much N times user will get use this shared code</i>
          <i> 0 or not filled means its unlimited / user to enter this code</i>
        </div>
      </div>
    </div>

<div class="control-group">
  <input id="push_notification_checkbox" type="checkbox" name="push_notification" style="display: inline-block;"
  <%= @notification.blank? ? '' : 'checked' %>>
  <label for="push_notification_checkbox" style="display: inline-block;">Push Notification</label><br>
</div>
<div id="push_notification_form" class="hide">
<%= render "notification"  %>
</div>

    <div class="form-actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>

<br><br><br><br><br><br>
<script type="text/javascript">
<% unless @promotion.quantity.blank? %>
    $('#static_code').show();
    $('#shared_code').hide();
    $('#quantity').val('<%= @promotion.quantity %>');
    $('#promotion_shared_value').val('');
<% else %>
    $('#static_code').hide();
    $('#shared_code').show();
    $('#quantity').val('');
    $('#shared_value').val('<%= @promotion.promo_codes.first.code rescue "" %>');
<% end %>

var push_notification_fields = $("#push_notification_form input, #push_notification_form textarea, #push_notification_form radio, #push_notification_form checkbox, #push_notification_form select")

<% if @notification.blank? %>
  $("#push_notification_checkbox").checked = false;
<% else %>
  $("#push_notification_checkbox").checked = true;
  $(document).ready(function() {
    $("#push_notification_form").removeClass("hide");
    push_notification_fields.removeAttr("disabled");
  });
<% end %>

push_notification_fields.attr("disabled", "disabled")
$("#push_notification_checkbox").change(function(){
  if($(this)[0].checked == true){
    $("#push_notification_form").removeClass("hide");
    push_notification_fields.removeAttr("disabled")
  }else{
    $("#push_notification_form").addClass("hide");
    push_notification_fields.attr("disabled", "disabled")
  }
});
</script>

