<%= simple_form_for([:admin, @promotion], :html => {:class => "form-horizontal"}) do |f| %>
    <% if @promotion.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@promotion.errors.count, "error") %> prohibited this chain from being saved:</h2>

          <ul>
            <% @promotion.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>

      <div class="control-group">
        <label for="focusedInput" class="control-label">Name </label>
        <div class="control"><%= f.text_field :name %></div>
      </div>
      <div class="control-group">
        <label for="focusedInput" class="control-label">Valid From date</label>
        <div class="control">
          <%= text_field_tag "promotion[effective_date]",date_only(@promotion.effective_date) , :class => 'x-datepicker' %>
        </div>
      </div>
      <div class="control-group">
        <label for="focusedInput" class="control-label"> Valid to Date</label>
        <div class="control">
          <%= text_field_tag "promotion[expiry_date]",date_only(@promotion.expiry_date), :class => 'x-datepicker' %>
        </div>
      </div>
      <div class="control-group">
        <div class="btn-group">
          <a class="btn" href="#">
            Select Type
          </a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if @promotion.promotable_type == "Reward" || @promotion.promotable_type.nil? %>
                <li><%= link_to "Select reward",reward_list_admin_promotions_path(:type => "gift"), :class => "nyroModal" %></li>
            <% end %>
            <% if @promotion.promotable_type == "PromotionOffer" || @promotion.promotable_type.nil?%>
                <li><%= link_to "Select Points",promo_offer_admin_promotions_path, :class => "nyroModal" %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <%= f.input :gift_promoteable, :as => :hidden, :input_html => {:value => 1 } %>
      <%= hidden_field_tag :type, @type %>

      <div class="control-group">
        <label for="focusedInput" class="control-label"></label>
        <div class="control">
          <%= render "selected_reward_or_perk" %>
        </div>

      </div>

      <div class="form-actions">
        <%= f.submit %>
      </div>
    </fieldset>
<% end %>