<div class="page-header">
  <h1>Notification for promotion <%= @promotion.name %></h1>
  <h2>chain : <%= @promotion.chain.name %></h2>
</div>

<table class="table">
  <tr>
    <th>Email</th>
    <th>Content</th>
    <th>Created At</th>
    <th>Created by</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% if @promotion_notification %>
  <tr>
    <% begin  %>
    <td>
       <%= "(#{@promotion_notification.email[:emails].size}) email adress" %>
    </td>
    <% rescue %>
    <td> - </td>
    <% end %>      
    <td>
      <% begin %>
      <% @promotion_notification.content[:content]["content"].each do |k,v| %>
      <%= k.humanize %> : <%= v %> <br />
      <% end %>
      <% rescue %>
        -
      <% end %>
    </td>
    <td><%= date_helper(@promotion_notification.created_at) %></td>
    <td><%= @promotion_notification.admin.email rescue "-" %></td>
    <td><%= @promotion_notification.job_status.html_safe %></td>
    <td></td>
    <td><%#= link_to 'Show', admin_promotion_notification_path(promotion_notification.id) %></td>
    <td></td>
    <td><%#= link_to 'Destroy', admin_promotion_notification_path(promotion_notification.id), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<span id="page-loader" style="display:none;"><%= image_tag "loader.gif" %></span>

<script>
  $('.pagination a').attr('data-remote', 'true').click(function() {
    $('.pagination').html($('#page-loader').show());
    $('#promotion_notifications').ajaxloader('show');
  });
</script>