<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th class="th-small ta-center"><a class="order-table" href="#" data-attribute="1">ID</a></th>
      <th><a class="order-table" href="#" data-attribute="2">Name</a></th>
      <th class="th-large ta-center"><a class="order-table" href="#" data-attribute="3">Type ( reward / perk )</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="4">Effective date</a></th>
      <th class="th-medium"><a class="order-table" href="#" data-attribute="5">Expiry Date</a></th>
      <th class="th-very-large"><a class="order-table" href="#" data-attribute="6">Promo Code</a></th>
      <th class="th-medium ta-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% unless @promotions.blank? %>
      <% @promotions.each do |promotion| %>
        <tr>
          <td class="ta-center"><%= promotion.id %></td>
          <td><%= promotion.name %></td>
          <td class="ta-center"><%= promotion.promotable_type %></td>
          <td><%= date_only(promotion.effective_date) %></td>
          <td><%= date_only(promotion.expiry_date) %></td>
          <td>
            <% if promotion.is_repeated %>
               Repeated Promotion <br />
               Duration between consecutive incentive push : <%= promotion.duration %><br /><br />
            <% end %>
            <% if promotion.quantity.blank? && !promotion.gift_promotion? %>
              Shared <br />
              Code : <%= promotion.promo_codes.first.code rescue '-' %><br/>
              <% if promotion.limit == 0 || promotion.limit.blank? %>
                Limit : 0 / ~ no limit per user
              <% else  %>
                Limit : <%= promotion.limit %> per user
              <% end %>
            <% elsif !promotion.gift_promotion? %>
              Static <br />
              Code number (<%= promotion.promo_codes.count %>)<br/>
            <% elsif promotion.gift_promotion? %>
              Giftable
            <% end %>
          </td>
          <td>
            <div class="btn-group">
              <button class="btn">Action</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <%= link_to 'Show', admin_promotion_path(promotion) %>
                <%= link_to 'Edit', promotion.gift_promotion? ? edit_admin_promotion_path(promotion, :type => 'gift') : edit_admin_promotion_path(promotion)%>
                <%= link_to 'Destroy', admin_promotion_path(promotion), confirm: 'Are you sure?', method: :delete %>
                <%= link_to 'Notification', promotion_notification_admin_promotions_path(promotion), target: "blank" %>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan="6"> There are no data yet</td></tr>
    <% end %>
  </tbody>
</table>
<div id="x-pagination">
  <%= will_paginate @promotions, :class => "pagination r-paging" %>
</div>