<hr/> <i>Send Notification to</i><br/>


<% unless @locales.blank? %>
    <% @locales.each do |lc| %>
        <h4>Form for '<%= lc %>' locale

          <div class="control-group">
            <label class="control-label" for="inputEmail">
              Email : <%= check_box_tag "promotion_notification[is_push_email]", true, true %>
            </label>

            <div class="control-group text optional control-group">
              <div class="span3">
                Subject
                : <%= text_field_tag "notification[content][subject_#{lc}]", nil, :class => 'string email optional' %>
                <label class="" for="promotion_notification_content"><abbr title="required">*</abbr>
              </div>
              &nbsp;&nbsp;&nbsp;Content:&nbsp;&nbsp;&nbsp;<%= text_area_tag "notification[content][#{lc}]", nil, :rows => 10, :cols => 15 %>
            </div>
          </div>


          <div class="control-group">
            <label class="control-label" for="inputEmail">
              Phone : <%= check_box_tag "promotion_notification[is_push_phone]", true, true %>
            </label>

            <div class="control-group text optional control-group">
              <label class="" for="promotion_notification_content"><abbr title="required">*</abbr>

                <div class="span3">
                  Content Push To device
              </label>
              <%= text_area_tag "notification[content][device_text_#{lc}]", nil, :rows => 10, :cols => 15 %>
            </div>
          </div>
          </div>

    <% end %>
<% else %>
    <div class="control-group">
      <label class="control-label" for="inputEmail">
        Email : <%= check_box_tag "promotion_notification[is_push_email]", true, ((@notification.is_push_email? ? true : false) rescue true) %>
        <%#= check_box_tag "promotion_notification[is_push_email]", true, true %>
      </label>

      <div class="control-group text optional control-group">
        <div class="span3">
          Subject : <%= text_field_tag "notification[content][subject_en]", (@notification.content[:content]['content']['subject_en'] rescue nil), :class => 'string email optional' %>
          <label class="" for="promotion_notification_content"><abbr title="required">*</abbr>
        </div>
        &nbsp;&nbsp;&nbsp;Content:&nbsp;&nbsp;&nbsp;<%= text_area_tag "notification[content][en]", (@notification.content[:content]['content']['en'] rescue nil), :rows => 10, :cols => 15, :style => "width:500px;" %>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label" for="inputEmail">
        Phone : <%= check_box_tag "promotion_notification[is_push_phone]", true, ((@notification.is_push_phone? ? true : false) rescue true) %>
      </label>

      <div class="control-group text optional control-group">
        <label class="" for="promotion_notification_content"><abbr title="required">*</abbr>

          <div class="span3">
            Content Push To device
        </label>
        <%= text_area_tag "notification[content][device_text_en]", (@notification.content[:content]['content']['device_text_en'] rescue nil), :rows => 10, :cols => 15 %>
      </div>
    </div>
    </div>


<% end %>

<div class="span3">
  <div id="push_date">
    <div class="field">
      <div id="expiry_date">
        <% my_time = Time.zone.now %>
        Schedule to Push (EST Time)
        <div id="executed_at_error"></div>
        <% exec_at = date_only(my_time) %>
        <%= text_field_tag "date_execute",
                           exec_at.nil? ? (Time.zone.now + 5.minutes).strftime("%Y-%m-%d") : exec_at,
                           :class => 'x-datepicker', :style => "width:80px;", :onchange => "setDateParams();" %>
        <%= select_hour(my_time.nil? ? my_time : my_time, {}, :style => "width:50px;", :onchange => "setDateParams();") %>
        <%= select_minute(my_time.nil? ? my_time : my_time, {}, :style => "width:50px;", :onchange => "setDateParams();") %>
        <%= hidden_field_tag "promotion_notification[executed_at]", nil %>
      </div>
    </div>
  </div>
</div>
<div style="clear: both"></div>    <br /><br /><br />



<script>
    $(".multiselect").multiselect({
        multiple:false,
        header:"Choose an Option!",
        noneSelectedText:"Select an Option"
    });

    $("#formsubmit-plainpush").click(function () {

        var iframe = $('<iframe name="postiframe" id="postiframe" style="display: none" />');

        $("body").append(iframe);

        var form = $('#theuploadform-plainpush');
        form.attr("action", "<%= preview_xls_data_admin_promotions_path %>");
        form.attr("method", "post");
        form.attr("enctype", "multipart/form-data");
        form.attr("encoding", "multipart/form-data");
        form.attr("target", "postiframe");
        form.attr("xls", $('#userfile').val());
        form.submit();

        $("#postiframe").load(function () {
            iframeContents = $("#postiframe")[0].contentWindow.document.body.innerHTML;
            $("#email_from_xls_area").html(iframeContents);
        });

        return false;

    });


    $("#plain-push-form").submit(function(e){
        if($('#select_type_all_user').is(':checked') == true){
            if (!confirm("Are you sure wants to send to all users?")){
                e.preventDefault();
                return;
            }
        }else{
            return true;
        }


    });

    function check_all_emails(bool) {
        if (bool == true)
            $('.span3 input:checkbox').attr('checked', 'checked');
        else
            $('.span3 input:checkbox').attr('checked', '');
    }

    function reset_selection() {
        $('#theuploadform-plainpush').hide();
        $('#manual_input').hide();
        $('#xls').hide();
        $('#xls_label').hide();
        $('#all_user').hide();
        $('#select_type_manual_enter').attr('checked', false);
        $('#select_type_csv').attr('checked', false);
        $('#select_type_all_user').attr('checked', false);
    }

    $('#select_type_csv').change(function () {
        reset_selection();
        $('#select_type_csv').attr('checked', true);
        $('#xls').show();
        $('#xls_show').hide();
    });

    $('#select_type_manual_enter').change(function () {
        reset_selection();
        $('#manual_input').show();
        $('#select_type_manual_enter').attr('checked', true);
    });

    $('#select_type_all_user').change(function () {
        reset_selection();
        $('#select_type_all_user').attr('checked', true);
        $('#all_user').show();
    });


  $('input[type=file]').change(function(event) { 

    $("#submit_data").submit(function(){
      var formData = new FormData($(this)[0]);
      $.ajax({
        url: "/import_data",
        data: formData,
        processData: false, //<-- important
        contentType: false, //<-- important
        type: 'POST',
        success: function(data)
        { 
          alert(345)
        }
      });
    });
  });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        var tmp = $('#date_execute').val() + " " + $('#date_hour').val() + ":" + $('#date_minute').val() + ":60" + " " + "+0000";
        $('#reward_executed_at').val(tmp);

        $('.x-datepicker').datepicker({
            dateFormat:'yy-mm-dd'
        });
    });
    function setDateParams() {
        var tmp = $('#date_execute').val() + " " + $('#date_hour').val() + ":" + $('#date_minute').val() + ":60" + " " + "+0000";
        $('#reward_executed_at').val(tmp);
    }

</script>