<h1>Listing Offer Points</h1> <br/>
<%# unless @promo_offers.blank? %>
    Select Chain
    <%= select_tag('promo_offer[chain]', options_from_collection_for_select(Chain.active.order("name"), :id, :name),
             :prompt=>"Please select chain",
                   :onchange => "$('#chain_id').val(this.value);
                   $('#loader').show();
                   $('#nyroModalContent').ajaxloader('show');$('#sub_offer').click();") %>

<%# else %>
<%# end %>
<br/>
<%= form_tag search_offers_admin_promotions_path,:id => "form",:style => "display:none;", :remote => true do %>
    <%= hidden_field_tag "chain_id" %>
    <%= submit_tag "submit", :id => "sub_offer" %>
<% end %>
<div id="data-container" style="height: 400px !important;">

</div>
<br/>
<%#= link_to "New Offer Points",new_offer_admin_promotions_path, :class => 'btn nyroModal' %>
<%#= link_to "Close",'#', :class => 'btn btn-danger', :onclick => "$.nyroModalRemove();" %>