<%= simple_form_for(@offer, url: @offer.new_record? ? create_promo_offer_admin_promotions_path : update_incentive_admin_social_share_path(@offer), html: {:class => 'form-horizontal', :remote => true}) do |f| %>
    <% if @offer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>
          <ul>
            <% @offer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="modal-header">
      <h3>Points</h3>
    </div>
    <div id='error_explanation' style="display:none;">Points Should be Integer And Title could not be blank</div>
    <div class="modal-body" style="height: 100px !important;">

      <%= f.input :title %>
      <%= f.input :points, :as => :string, :required=>true %>
      <%= hidden_field_tag "promotion_offer[chain_id]", @chain.id %>
      <div class="control-group string required" style="margin-left:-48px;"></div>
      <div class="clearfix"></div>
      <div class="modal-footer" style="margin-top: 70px;">
        <%= f.submit "Save Changes", :onclick => "$('.modal-body').ajaxloader();" %>
        <%= link_to "Cancel",'#', :class => 'btn btn-danger',
                    :onclick => "$('#table_offer_list').show();$('#offer_form_hide').hide();" %>
      </div>
    </div>
<% end %>
