<script>
    $(document).ready(function(){
        $(".pagination").find("a").attr("data-remote", true);
        $('.pagination a').click(function() {
            $('#data-container').ajaxloader('show');
        });

        $('.tata-ajax-loader').click(function(){
            alert("hide this");
            $('.tata-ajax-loader').hide();
        });

        $(".edit_reward").click(function() {
            modalPopup(align, top, width, padding, disableColor, disableOpacity,
                    backgroundColor, borderColor, borderWeight, borderRadius,
                    fadeOutTime, $(this).attr('href'), loadingImage);
        });

        $("#new_form").bind("ajax:success",function(evt,xhr,settings){
            alert("adfasfdsaf");
        });
    });
</script>
<div id="table_offer_list">
<table>
  <caption></caption>
  <thead>
  <tr>
    <th>Title</th>
    <th width="10%">Points</th>
    <th>Action</th>
  </tr>
  </thead>
  <% unless @promo_offers.blank? %>
  <% @promo_offers.each do |pr| %>
      <tr>
        <td><%= pr.title  %></td>
        <td><%= pr.points  %></td>
        <td>
          <%= link_to image_tag("add.png"), "#", :onclick =>
                  "$('#selected_content').html('#{escape_javascript(render :partial => 'promo_offer',
                                                                           :locals => {:pr => pr})}');
                                                                           $('#selected_id').val('#{pr.id}');
                                                                           $('#selected_type').val('PromotionOffer');
                                                                           $('#promotion_chain_id').val('#{pr.chain_id}');$('.nyroModalClose').click();" %>
        </td>
      </tr>
      <% end %>
          <% else %>
          <tr>
            <td colspan="3">You could Add first</td>
          </tr>

  <% end %>
</table>
  <hr/>
  <%= link_to "New Offer Points","#", :class => 'btn',
              :onclick => "$('#table_offer_list').hide();$('#offer_form_hide').show();" %>
  <%= link_to "Close",'#', :class => 'btn btn-danger', :onclick => "$.nyroModalRemove();" %>


<%= will_paginate @promo_offers, :params=>{:chain_id => @chain.id ,:controller => "promotions", :action => "search_offers"} rescue ""%>
</div>
<div id="offer_form_hide" style="display:none;">
  <%= render 'offer_form' %>
</div>
