<% unless perk.blank? %>
  <table>
    <tr>
      <th>Perk id</th>
      <th>multiplier:</th>
      <th>bonus_points:</th>
      <th>bonus_threshold:</th>
      <th>stackable</th>
      <th>Action</th>
    </tr>
    <tr>
      <td><%= perk.id %></td>
      <td><%= perk.multiplier %></td>
      <td><%= perk.bonus_points %></td>
      <td><%= perk.bonus_threshold == 0 ? "" : perk.bonus_threshold %></td>
      <td><%= perk.stackable %></td>

      <td>
        <%= link_to 'Show', admin_perk_path(perk) %> |
    </tr>
  </table>
<% else %>
  <p> Maybe you havent select the perk/reward or perk/reward was deleted</p>
<% end %>