<table>
  <tr>
    <th>Perk id</th>
    <th>multiplier:</th>
    <th>bonus_points:</th>
    <th>bonus_threshold:</th>
    <th>stackable</th>
    <th>Action</th>
  </tr>
  <% unless @perks.blank? %>
    <% @perks.each do |perk| %>
      <tr>
        <td><%= perk.id %></td>
        <td><%= perk.multiplier %></td>
        <td><%= perk.bonus_points %></td>
        <td><%= perk.bonus_threshold == 0 ? "" : perk.bonus_threshold %></td>
        <td><%= perk.stackable %></td>

        <td>
          <%= link_to 'Show', admin_perk_path(perk) %> |
          <%= link_to image_tag("add.png"), "#", :onclick => "$('#selected_content').html('#{escape_javascript(render :partial => 'perk', :locals => {:perk => perk})}');$('#selected_id').val('#{perk.id}');$('#selected_type').val('Perk');$('#promotion_chain_id').val('#{perk.chain_id}');$('.nyroModalClose').click();" %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr><td colspan="6"> There are no data yet</td></tr>
  <% end %>
</table>

<br />
<div id="x-pagination">
  <%= will_paginate @perks %>
</div>
