<div class="page-header">
  <h1>Promotion Codes</h1>
</div>

<span>Filter By Code / Email</span>
<%= form_tag search_code_by_email_and_code_admin_promotion_path(@promotion),
             :id => "form", :class => 'form-horizontal',
             :method => :get, :remote => true do %>

    <%= text_field_tag "search", nil %>
    <%= submit_tag "Search", :id => "sub", :onclick => "$('#promocodes_content').ajaxloader();" %>
    <%= link_to "Reset Filter",'#',
                :onclick => "$('#search').val('');$('#sub').click();return false;", :class => "btn" %>
<% end %>

<div id="promocodes_content">
  <%= render "list_code" %>
</div>
