<% unless pr.blank? %>
    <table>
      <tr>
        <th>Promotion Offer id</th>
        <th>Title</th>
        <th>Points</th>

      </tr>
      <tr>
        <td><%= pr.id %></td>
        <td><%= pr.title %></td>
        <td><%= pr.points %></td>
      </tr>
    </table>
<% else %>
    <p> Maybe you havent select the perk/reward/points or perk/reward/points was deleted</p>
<% end %>