<% unless reward.blank? %>
<table>
  <caption></caption>
  <thead>
    <tr>
      <th>Reward id</th>
      <th width="10%">Chain</th>
      <th width="10%">Reward Title</th>
      <th width="10%">Valid From</th>
      <th width="10%">Valid to</th>
      <th>Points reward Worth</th>
      <th>Reward Category</th>
      <th>Action</th>
      <th width="20%"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= reward.id %></td>
      <td><%= reward.chain.name if reward.chain %></td>
      <td><%= reward.name %></td>
      <td><%= date_helper(reward.effectiveDate) %></td>
      <td><%= date_helper(reward.expiryDate) %></td>
      <td><%= reward.points %></td>
      <td><%= Reward::TYPES.find{|key,value| value == reward.reward_type}[0] rescue ""%></td>
      <td><%= link_to 'Show', admin_reward_path(reward) %></td>
    </tr>
  </tbody>
</table>
<% else %>
<p> Maybe you havent select the perk/reward or perk/reward was deleted </p>
<% end %>