<script>
  $(document).ready(function(){
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function() {
      $('#data-container').ajaxloader('show');
    });

  $('.tata-ajax-loader').click(function(){
    alert("hide this");
    $('.tata-ajax-loader').hide();
  });

    $(".edit_reward").click(function() {
      modalPopup(align, top, width, padding, disableColor, disableOpacity,
      backgroundColor, borderColor, borderWeight, borderRadius,
      fadeOutTime, $(this).attr('href'), loadingImage);
    });

   $("#new_form").bind("ajax:success",function(evt,xhr,settings){
       alert("adfasfdsaf");
    });
  });
</script>
<% unless @chain.blank? %>
  <table>
    <caption></caption>
    <thead>
      <tr>
        <th>Reward id</th>
        <th width="10%">Chain</th>
        <th width="10%">Reward Title</th>
        <th width="10%">Valid From</th>
        <th width="10%">Valid to</th>
        <th>Points reward Worth</th>
        <th>Reward Category</th>
        <th>Action</th>        
      </tr>
    </thead>
  <% end %>
  <tbody>
    <% unless @rewards.blank? %>
      <% @rewards.each do |reward| %>
        <tr>
          <td><%= reward.id %></td>
          <td><%= reward.chain.name if reward.chain %></td>
          <td><%= reward.name %></td>
          <td><%= date_helper(reward.effectiveDate) %></td>
          <td><%= date_helper(reward.expiryDate) %></td>
          <td><%= reward.points %></td>
          <td><%= Reward::TYPES.find{|key,value| value == reward.reward_type}[0] rescue ""%></td>
          <td><%= link_to 'Show', admin_reward_path(reward), :target => "blank" %> |
            <%= link_to image_tag("add.png"),"#", :onclick => "$('#selected_content').html('#{escape_javascript(render :partial => 'reward', :locals => {:reward => reward})}');$('#promotion_chain_id').val('#{reward.chain_id}');$('#selected_type').val('Reward');$('#selected_id').val('#{reward.id}');$('.nyroModalClose').click();" %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="9" style="text-align:center;">
          <% unless @chain.blank? %>
            There are no data
            <% else %>
            Please Select Chain
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @rewards, :params=>{:chain_id => @chain.id } rescue ""%>