<%= form_tag(search_promotion_admin_promotions_path, :id=>'x-search', :remote => true, :method => :get) do |f| %>

  <div class="x-box">
    <div class="x-box-inner">
      <div class="field">
        <%= label_tag :from %>
        <%= text_field_tag "search[from]",'', :class=>'x-search-datepicker', :readonly=>true %>
      </div>
      <div class="field">
        <%= label_tag :to %>
        <%= text_field_tag "search[to]",'', :class=>'x-search-datepicker', :readonly=>true %>
      </div>
    </div>

    <div class="x-box-inner">
      <div class="field">
        <%= label_tag :chain %>
        <%= select_tag('search[chains]', options_from_collection_for_select(Chain.active.order("name"), :id, :name), options ={:multiple => true, :class=>'multiselect'}) %>
      </div>
    </div>

    <div class="x-box-inner">
      <div class="field">
        <%= label_tag :promotion_type %>
        <%= select_tag "search[promo_type]",options_for_select([["All", nil],["Reward",'Reward'],
                                                                ["Perk",'Perk'],["Points",'PromotionOffer']])%>
      </div>
    </div>
  </div>

  <%= text_field_tag "search[q]", '', :style=>'width:300px' %>
  <%= hidden_field_tag "page", 1 %>
  <%= hidden_field_tag "qry_order" %>
  <%= submit_tag "Search",:id => "x-search-submit-btn", :onclick => "if($('#flagqry').val() == ''){ $('#page').val(1) }$('#qry_order').val('');" %>
  <%= link_to "Reset Filter", admin_promotions_path, :class => "btn", :style => "margin-bottom: 9px;" %>
<% end %>