<%= hidden_field_tag "selected_id",@promotion.promotable_id %>
<%= hidden_field_tag "selected_type",@promotion.promotable_type %>
<%= hidden_field_tag "promotion[chain_id]",@promotion.chain_id.nil? ? @promotion.set_chain_id : @promotion.chain_id %>
<br /><br />
Selected Perk / Reward /Points:
<div id="selected_content">
  <% unless @promotion.promotable_type.blank? %>
    <% if @promotion.promotable_type == "Reward" %>
      <% rw = Reward.find(@promotion.promotable_id) rescue nil %>
      <%= render :partial => "reward", :locals => {:reward => rw} %>
    <% elsif @promotion.promotable_type == "Perk" %>
      <%  perk =  Perk.find(@promotion.promotable_id) rescue nil %>
      <%= render :partial => "perk", :locals => {:perk => perk} %>
    <% else %>
      <% pr = PromotionOffer.find(@promotion.promotable_id) rescue nil %>
          <%= render :partial => "promo_offer", :locals => {:pr => pr} %>
    <% end %>
  <% end %>
</div>

