<div class="page-header">
  <h4>History users who used <%= @promo_code.code %></h4>
</div>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>At</th>
    </tr>
  </thead>
  <tbody>
    <% unless @histories.blank? %>
      <% @histories.each do |history| %>
        <tr>
          <th><%= history.user.email rescue nil %></th>
          <th><%= date_helper_timezone(history.created_at) %></th>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">There are no data</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", show_promo_codes_admin_promotion_path(@promo_code.promotion), :class => "btn btn-primary" %>