<% if @save == true %>
$('#data-container').html('<%= escape_javascript(render 'offer_list_tables') %>');
<% else %>
$('#error_explanation').show();
<% end %>
$('#data-container').ajaxloader('hide');
$('.modal-body').ajaxloader('hide');