<h2>Edit Promotion</h2>
<% if @type.eql?("gift") %>
    <%= render 'gift_promotion_form' %>
<% elsif @promotion.is_repeated %>
    <%= render 'repeated_promotion_form' %>
<% else %>
    <%= render 'form' %>
<% end %>



<%= link_to "Back", admin_promotions_path %>
<script>
    $(".x-datepicker").datepicker({
        dateFormat: 'yy-mm-dd'
    });
</script>