<script type="text/javascript">
  $(document).ready(function(){
    $('.order-table').bind("click", function(){
      var ordvalcur = $(this).attr('data-attribute');
      var ordvalbef = $('#qry_order').val();

      if(ordvalcur == ordvalbef){
        $('#qry_order').val(parseInt(ordvalbef) + 1000)
      }else{
        $('#qry_order').val($(this).attr('data-attribute'));
      }

      $('#x-search').submit();
    });

    $('#search_text').keypress(function (e) {
      if (e.which == 13) {
        $('#x-search').submit();
      }
    });

    $(".pagination a").bind("click", function() {
      $("#x-records").ajaxloader('show');
      $('#receipt_page').val('');
      var page = parseInt($(this).text());
      $('#flagqry').val("pagination");

      if(page > 0){
        $('#page').val(page);
        $('#loader').show();
        $('#x-search-submit-btn').click();
      }else{
        var page = $(this).attr("class");
        var cur_page = parseInt($(".pagination em").text());

        if(page == "previous_page"){
          $('#page').val(cur_page - 1);
          $('#loader').show();
          $('#x-search-submit-btn').click();
        }else if(page == "next_page"){
          $('#page').val(cur_page + 1);
          $('#loader').show();
          $('#x-search-submit-btn').click();
        }
      }
      return false;
    });

  });
</script>
<div class="page-header">
  <h1>Listing Promotion</h1>
</div>

<%= render 'searchform' %>
<br clear="all"/>
<div id="x-records">
  <%= render "list" %>
</div>
<br clear="all"/>
<%= link_to "Create New Promotion", new_admin_promotion_path, :class => "btn btn-primary" %>
<%= link_to "Create New Gift Promotion", new_admin_promotion_path(:type => "gift"), :class => "btn btn-primary" %>
<%= link_to "Create New Repeated Promotion", new_admin_promotion_path(:type => "repeated"), :class => "btn btn-primary" %>

<%= hidden_field_tag "flagqry" %>
