<div class="page-header">
  <h2>New <%= @type.capitalize rescue nil %> Promotion</h2>
</div>
<% if @type.eql?("gift") %>
    <%= render 'gift_promotion_form' %>
<% elsif @promotion.is_repeated %>
    <%= render 'repeated_promotion_form' %>
<% else %>
    <%= render 'form' %>
<% end %>

<%= link_to "Back", admin_promotions_path %>

<script>
    $(".x-datepicker").datepicker({
        dateFormat:'yy-mm-dd'
    });
</script>