<div style="width:800px;">
  <script>
      $(document).ready(function(){
          $('#form').ajaxSend(function() {
              $('#data-container').ajaxloader('show');
          });
          $('#form').ajaxSend(function() {
              $('#data-container').ajaxloader('hide');
          });
          if($('#chain').val() != ""){
              $('#chain_id').val(this.value);$('#loader').show();$('#data-container').ajaxloader('show');
              $('#sub').click();
          }
      });

  </script>
    <%= render 'offer_list' %>
</div>