<div style="width:800px;">
<h1>Listing Rewards</h1>
<script>
  $(document).ready(function(){
    $('#form').ajaxSend(function() {
      $('#data-container').ajaxloader('show');
    });
    $('#form').ajaxSend(function() {
      $('#data-container').ajaxloader('hide');
    });
    if($('#chain').val() != ""){
      $('#chain_id').val(this.value);$('#loader').show();$('#data-container').ajaxloader('show');
      $('#sub').click();
    }
  });

</script>
<div class="field">
  Chain:
  <%= select_tag 'chain', options_from_collection_for_select(Chain.active.order("name"), :id, :name), :prompt=>"Please select chain",
    :onchange => "$('#chain_id').val(this.value);$('#loader').show();$('#data-container').ajaxloader('show');$('#sub').click();" %>
  <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>

  <%= form_tag search_rewards_admin_promotions_path,:id => "form",:style => "display:none;", :remote => true do %>
    <%= hidden_field_tag "chain_id" %>
    <%= hidden_field_tag "type", @type %>
    <%= submit_tag "submit", :id => "sub" %>
  <% end %>
</div>
<div id="data-container"></div>
</div>