<p id="notice"><%= notice %></p>
<div class="page-header">
<h2>Promotion <%= @promotion.name %></h2>
</div>

Share Code : (<%= @promotion.promo_codes.shared_promo.count %>)<br/>
One Time use : (<%= @promotion.promo_codes.one_time_promo.count %>)<br/>
<hr/>
Used Code : (<%= @promotion.promo_codes.used_promo.count %>)
<br/>

<%= link_to "Show All promo codes for #{@promotion.name}",show_promo_codes_admin_promotion_path(@promotion) %>


