<%= form_for [:admin, @country] do |f| %>
  <%= render "shared/error_messages.html", :target => @country %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <br/>
  <%= submit_tag "submit" %>
<% end %>