<script type="text/javascript">
  $(document).ready(function(){
    $('#search_btn').click(function(){
      $('#search_text_hidden').val($('#search_text').val());
      $('#page').val(1);
      $('#loader').show();
      $('#sub').click();
    });

    $('.order-table').bind("click", function(){
      var ordvalcur = $(this).attr('data-attribute');
      var ordvalbef = $('#qry_order').val();

      if(ordvalcur == ordvalbef){
        $('#qry_order').val(parseInt(ordvalbef) + 1000)
      }else{
        $('#qry_order').val($(this).attr('data-attribute'));
      }

      $('#search_btn').click();
    });

    $('#search_text').keypress(function (e) {
      if (e.which == 13) {
        $('#search_btn').click();
      }
    });

  });
</script>

<div class="page-header">
  <h1>Listing Countries</h1>
</div>
<div class="controls">
  <%= search_field_tag "search_text" %>
  <%= button_tag "Search", :id => "search_btn", :style => "width: 65px; height: 30px; margin-bottom: 8px;" %>
  <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
</div>
<div id="countries-content">
<table class="table table-bordered table-condensed">
  <caption></caption>
  <thead>
    <tr>
      <th><a class="order-table" href="#" data-attribute="1">Country</a></th>
      <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="2">Short Form</a></th>
      <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="3">ISO</a></th>
      <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="4">Country ID</a></th>
      <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="5">Status</a></th>
      <th class="th-medium ta-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td class="ta-center"><%= country.abbreviation %></td>
        <td class="ta-center"><%= country.ISO %></td>
        <td class="ta-center"><%= country.id %></td>
        <td>
          <%= form_tag update_status_admin_country_path(country) do  %>
            <%= select_tag "country_status",
              options_for_select( [["Active",true],["Deactive",false]], country.active ),
              :onchange => "this.form.submit();",
              :style => "width:100px;"
          %>
          <% end %>
        </td>
        <td class="ta-center">
          <%= link_to 'Show', admin_country_path(country) %> |
          <%= link_to 'Edit', edit_admin_country_path(country) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @countries %>
</div>

<br />
<div class="controls">
  <a href="#myModal" data-toggle="modal" class="btn btn-primary" >
    Add Country
  </a>
  <%= link_to "Add State",admin_regions_path, :class => "btn btn-primary" %>
  <%= link_to "Add City",admin_cities_path, :class => "btn btn-primary" %>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-header">

    <h3 id="myModalLabel">Add Country</h3>
  </div>
  <div class="modal-body">
    <div style="padding-left:10px;padding-right:10px;">
      <%= form_for [:admin, @country] do |f| %>
        <%= render :partial => "form", :locals => {:f => f} %>
        <br />
        <%= submit_tag "Submit",:class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').hide();">Close</button>
  </div>
</div>


<%= form_tag search_country_admin_countries_path, :id => "form", :class => 'form-horizontal', :style => "display:none;", :remote => true do %>
  <%= hidden_field_tag "search_text_hidden" %>
  <%= hidden_field_tag "qry_order" %>
  <%= hidden_field_tag "page", 1 %>
  <%= submit_tag "submit", :id => "sub" %>
<% end %>