<p id="notice"><%= notice %></p>

Name: <%= @country.name%> <br />
Abbreviation: <%= @country.abbreviation %> <br />
ISO : <%= @country.ISO%> <br />

<%= link_to 'Edit', edit_admin_country_path(@country) %> |
<%= link_to 'Back', admin_countries_path %>
