<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Locales</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% unless @chain.blank? %>
      <% unless @goal_categories.blank? %>
        <% @goal_categories.each do |goal_category| %>
          <tr>
            <td><%= goal_category.description %></td>
            <td>
              <% goal_category.goal_category_locales.each do |gcl| %>
                <b><%= gcl.locale.key %></b> : <%= gcl.text %> <br />
              <% end %>
            </td>
            <td>
              <%=  goal_category.status.eql?(GoalCategory::STATUS[:ACTIVE]) ? "ACTIVE" : "DEACTIVE" %>  
            </td>
            <td>
              <%= link_to "Edit", edit_admin_goal_category_path(goal_category) %> |
              <% if goal_category.status.eql?(GoalCategory::STATUS[:ACTIVE]) %>
                <%= link_to "DEACTIVATE", deactivate_admin_goal_category_path(goal_category) %>
              <% else %>
                <%= link_to "ACTIVATE", activate_admin_goal_category_path(goal_category) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="2">
            There are no data
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2" style="color: red;">
          Please Select a chain
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<br />
<%= link_to "New Goal Category", new_admin_goal_category_path(:chain_id => @chain.id), :class => "btn btn-primary" if @chain %>