<div class="page-header">
  <h3>New Goal Category</h3>
</div>

<%= simple_form_for([:admin, @goal_category]) do |f| %>
  <%= f.input :description, :input_html => {:rows => 5, :cols => 100} %>
  <%= f.input :chain_id, :as => :hidden %>
  <div class="page-header">
    <h4>Locales :</h4>
    <%= f.simple_fields_for :goal_category_locales do |gcl| %>
      <%= gcl.input :locale_id, :as => :hidden %>
      <%= gcl.input :text, :label => gcl.object.locale.key, :input_html => {:rows => 5, :cols => 100}  %>
    <% end %>
  </div>
  <br />
  <%= f.submit "Create", :class => "btn btn-primary" %>
<% end %>