<div class="row">
  <div class="col-md-5 center-block container-content">
    <div class="title-head">UPDATE ACCOUNT</div>
    <%= simple_form_for(@current_user, url: user_user_path(@current_user), method: :put) do |f| %>
        <% if @current_user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@current_user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @current_user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= hidden_field_tag :appkey, session[:client_id] %>
        <%= hidden_field_tag "user[register_type]", 1 %>

        <div>
          <%= f.label :first_name, "FIRST NAME (Min. 2 Characters)", class: 'label-text' %><br />
          <%= f.text_field :first_name, class: "form-control" %>
        </div>

        <div>
          <%= f.label :last_name, "LAST NAME (Min. 2 Characters)", class: 'label-text' %><br />
          <%= f.text_field :last_name, class: "form-control" %>
        </div>

        <div><%= f.submit "UPDATE", class: 'btn btn-info btn-block' %></div>
        <br />
    <% end %>
  </div>
</div>