<% if @chain.blank? %>
    <%= render "edit_lpq" %>
<% else %>
    <% if @chain.id == 1 %>
        <%= render "edit_nekter" %>
    <% elsif @chain.id == 36 %>
        <%= render "edit_lpq" %>
    <% else %>
        <%= render "edit_lpq" %>
    <% end %>
<% end %>