<h1>
  My Profile

  <%= link_to "Sign out", user_log_out_path, class: 'btn btn-primary pull-right', style: 'margin-right: 30px;' %>
</h1>
<table>
  <caption>Profile</caption>
  <thead>
  <tr>
    <th>ID</th>
    <th>Chain</th>
    <th>Name</th>
    <th>Points</th>
    <th>Receipt Submitted</th>
    <th>Join Date</th>
  </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @current_user.id %></td>
        <td><%= @current_user.chain.name %></td>
        <td><%= @current_user.full_name %></td>
        <td><%= @current_user.points %></td>
        <td><%= @current_user.receipts.count %></td>
        <td><%= @current_user.created_at %></td>
      </tr>
  </tbody>
</table>