<%= f.label :country %>
<%= select_tag "country", options_for_select(@countries.collect { |c|[c.name, c.id] }), :prompt=>"Please select State/Province" %><br />
<%= f.label :city %>
<%= select_tag('city[region_id]', options_from_collection_for_select([], '', ''), :prompt=>"Please select State/Province") %>
<span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span><br />
<%= f.label :name %>
<%= f.text_field :name %><br />
