<script type="text/javascript">
  $(".pagination a").bind("click", function() {
    var page = parseInt($(this).text());

    if(page > 0){
      $('#page').val(page);
      $('#loader').show();
      $('#sub').click();
    }else{
      var page = $(this).attr("class");
      var cur_page = parseInt($(".pagination em").text());

      if(page == "previous_page"){
        $('#page').val(cur_page - 1);
        $('#loader').show();
        $('#sub').click();
      }else if(page == "next_page"){
        $('#page').val(cur_page + 1);
        $('#loader').show();
        $('#sub').click();
      }
    }
    return false;
  });
</script>
<table class="table table-bordered table-condensed">
  <caption></caption>
  <thead>
    <tr>
      <th><a class="order-table" href="#" data-attribute="1">Name</a></th>
      <th><a class="order-table" href="#" data-attribute="2">State</a></th>
      <th><a class="order-table" href="#" data-attribute="3">Country</a></th>
      <th class="th-medium ta-center">ISO</th>
      <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="5">Status</a></th>
      <th class="th-medium ta-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.region.name if city.region %></td>
        <td><%= city.region.country.name if city.region and city.region.country %></td>
        <td class="ta-center"><%= city.region.country.ISO %></td>
        <td>
          <%= form_tag update_status_admin_city_path(city) do  %>
            <%= select_tag "city_status",
              options_for_select( [["Active",true],["Inactive",false]], city.active ),
              :onchange => "this.form.submit();",
              :style => "width:100px;"
          %>
          <% end %>
        </td>
        <td class="ta-center">
          <%= link_to 'Show', admin_city_path(city) %> |
          <%= link_to 'Edit', edit_admin_city_path(city) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @cities %>