<%= form_for [:admin, @city] do |f| %>
  <%= render "shared/error_messages.html", :target => @city %>
  Country : <%= select_tag "country",options_for_select(@countries.collect { |country|[country.name, country.id]  }, @country_id) %>
  <br />
  State :<span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
  <%= select_tag "city[region_id]",
    options_for_select(@states.collect { |reg|[reg.name, reg.id]  }, @region_id) %>
  <br />
  Name : <%= f.text_field :name %>
  <%= submit_tag "submit" %>
<% end %>

<%= link_to "Back", admin_cities_path %>