<p>Country : <%= @city.region.country.name if @city.region %></p><br />
<p>Region  :  <%= @city.region.name if @city.region%></p><br />
<p>Name  :  <%= @city.name if @city.region%></p><br />


<%= link_to "back", admin_cities_path %>