<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Promotion Detail</h1>
    <table>
      <tr>
        <td>Name</td>
        <td><%= @promotion.name %></td>
      </tr>
      <tr>
        <td>Type</td>
        <td><%= @promotion.promotable_type %></td>
      </tr>
      <tr>
        <td>Chain</td>
        <td><%= @promotion.chain.name rescue nil %></td>
      </tr>
    </table>

    <h2>Here the error info for this promotion : </h2>
    <p><%= @exception %></p>
  </body>
</html>
