<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Promotion Detail</h1>
    <table>
      <tr>
        <td>Name :</td>
        <td><%= @promotion.name %></td>
      </tr>
      <tr>
        <td>Type :</td>
        <td><%= @promotion.promotable_type %></td>
      </tr>
      <tr>
        <td>Chain :</td>
        <td><%= @promotion.chain.name rescue nil %></td>
      </tr>
    </table>
    <ul>
      <h3>Promo Codes : </h3>
      <% @promotion.promo_codes.each do |promo_code| %>
        <li>
          Code : <%= promo_code.code %>
        </li>
      <% end %>
    </ul>
  </body>
</html>
