<script type="text/javascript">
  $(document).ready(function(){
    $(".onetime-pagination").find("a").attr("data-remote", true);
    $('.onetime-pagination a').click(function() {
      $('#ontime-list').ajaxloader('show');
    });
  });
</script>

<table class="table">
  <thead>
    <tr>
      <th>Reward id</th>
      <th>Chain</th>
      <th>Reward Title</th>
      <th>Valid From</th>
      <th>Valid to</th>
      <th>Points reward Worth</th>
      <th>Reward Category</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% unless @rewards.blank? %>
      <% @rewards.each do |reward| %>
        <tr>
          <td><%= reward.id %></td>
          <td><%= reward.chain.name if reward.chain %></td>
          <td><%= reward.name %></td>
          <td><%= date_helper(reward.effectiveDate) %></td>
          <td><%= date_helper(reward.expiryDate) %></td>
          <td><%= reward.points %></td>
          <td><%= Reward::TYPES.find{|key,value| value == reward.reward_type}[0] rescue ""%></td>
          <td><%= link_to "<i class=\"icon-plus-sign\"></i>".html_safe,
          assign_with_existing_reward_admin_referral_program_path(
                  @referral_program, reward,
                 :type => "reward",
                 :referer => @referer
          ),
          :remote => true %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="7" style="text-align:center;">
          There are no data
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @rewards, :params=>{:id => @referral_program.id }, :class => "onetime-pagination" rescue "" %>
