<div class="page-header">
  <h2>Test VEXT customer connect</h2>
</div>

<%= simple_form_for :vext_customer_connect, :url => api_vext_vext_external_customer_connect_path do |f| %>
    App Key : <br />
    <%= text_field_tag :appkey %> <br />

    External Relevant User ID: <br />
    <%= text_field_tag :email %> <br />
    Patron ID: <br />
    <%= text_field_tag :patron_id %> <br />
    Partner ID: <br />
    <%= text_field_tag :partner %> <br />


    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_vext_api_path, :class => "btn" %>
<% end %>
