<%= simple_form_for([:admin, @chain, @appcode]) do |f| %>
    <%= f.error_notification %>


    Select The Code Setting<br/>

    <%= f.select :appcode_type, AppcodeSetting::TYPES %>
    <div class="form-inputs">
      <div id="dynamic_form" style="display: <%=  params[:action].to_s != "new"  ? 'block': 'none' %>;">
        <div class="field">
          <%= f.input :pos_digit_barcode, :label => 'MICROS RECEIPT BARCODE LENGTH' %>   <br/>
        </div>

        <div class="field">
          MICROS BARCODE FORMAT
          <%= f.input :barcode_format,
                      :collection => [[1, 'Numeric'], [2, 'Alphanumeric']],
                      :label_method => :last,
                      :value_method => :first,
                      :as => :radio_buttons,
                      :item_wrapper_class => 'inline',
                      :label => false
          %>
        </div>

        <div class="field">
          <%= f.input :barcode_format_type,
                      :collection => Chain::BARCODE_FORMAT_TYPES,
                      :label => "POS SCANNED BARCODE VERSION"
          %>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>


<script>
    $(document).ready(function () {
        $('#appcode_setting_appcode_type').change(function () {
            if ($('#appcode_setting_appcode_type').val() == "2") {
                $('#dynamic_form').show();
            } else {
                $('#dynamic_form').hide();
            }
        })

        <% if params[:action].to_s == "edit" and @appcode.appcode_type == 1 #static%>
        $('#dynamic_form').hide();
        <% end %>
    });


</script>