<div class="span10">
  <%= simple_form_for([:admin, @partner_code_setting], :remote => true) do |f| %>
    <%= render "shared/error_messages", :target => @partner_code_setting %>
    <div class="form-inputs">
      <div class="span4">
        <div class="field">
          <%= hidden_field_tag "partner_code_setting[chain_id]", @chain.id %>
        </div>

        <fieldset id="reward_code_setting_box" >
            <div class="span12">
              <%= f.input :appcode_type, :as => :hidden %>
              <div class="form-inputs">
                <div id="dynamic_form">
                  <div class="field">
                    <%= f.input :pos_digit_barcode, :label => 'CODE LENGTH' %>
                  </div>

                  <div class="field">
                    CODE TYPE
                    <%= f.input :barcode_format,
                                  :collection => [[1, 'Numeric'], [2, 'Alphanumeric']],
                                  :label_method => :last,
                                  :value_method => :first,
                                  :as => :radio_buttons,
                                  :item_wrapper_class => 'inline',
                                  :label => false
                    %>
                  </div>
                  <div class="field">
                    <%= f.input :barcode_format_type,
                                  :collection => Chain::BARCODE_FORMAT_TYPES,
                                  :label => "CODE FORMAT"
                    %>
                  </div>
                  <div class="field">
                    <%= f.input :zero_padding, :label => "Zero Padding"%>
                  </div>
                  <div class="field">
                    <%= f.input :timer, :label => "Code Expired after (in days, 0 = unlimited)"%>
                  </div>
                </div>
              </div>
            </div>
        </fieldset>

        <div class="form-actions">
        <%= button_tag "Submit", data: {:disable_with => "Please wait..."}, :class => 'btn btn-primary' %>
      </div>
    </div>
    </div>
  <% end %>

</div>