<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>CODE LENGTH</th>
    <th>CODE TYPE</th>
    <th>CODE FORMAT</th>
    <th>Zero Padding</th>
    <th>Valid Days</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% unless @partner_code_setting.blank? %>
    <tr>
      <td><%= @partner_code_setting.id %></td>
      <td><%= @partner_code_setting.pos_digit_barcode %></td>
      <td>
        <% if @partner_code_setting.barcode_format.eql?("1") %>
          Numeric
        <% elsif @partner_code_setting.barcode_format.eql?("2") %>
          Alphanumeric
        <% else %>
        -
        <% end %>
      </td>
      <td><%= Chain::BARCODE_FORMAT_TYPES.index(@partner_code_setting.barcode_format_type.to_i) rescue "-" %></td>
      <td><%= @partner_code_setting.zero_padding %></td>
      <td><%= @partner_code_setting.timer %></td>
      <td><%= link_to "Edit", edit_admin_partner_code_setting_path(@partner_code_setting), :class => 'nyroModal', :onclick => "$('.btn-group').click();" %></td>
      <td><%= link_to "Delete", admin_partner_code_setting_path(@partner_code_setting), :method => :delete, :confirm => "Are you sure?" %></td>
    </tr>
  <% else %>
      <tr>
        <td colspan="7"><%= link_to "New",new_admin_partner_code_setting_path(:chain_id => @chain.id), :class => 'nyroModal' %></td>
      </tr>
  <% end %>
</table>

<script>
    $('.nyroModal').nyroModal();
</script>
<style>
    table.table td { word-wrap: break-word; }
</style>