<div class="page-header">
  <h3>Listing User Location</h3>
</div>


<table>
  <tr>
    <th>User Id</th>
    <th>City</th>
    <th>Postal Code</th>
    <th>Country Code</th>
    <th>Adress</th>
    <th>Latitude</th>
    <th>Longitude</th>

  </tr>

  <%#= debug @locations %>
  <% @locations.each do |lc| %>
      <tr>
        <td><%= lc.user_id %></td>
        <td><%= lc.city %></td>
        <td><%= lc.postal_code %></td>
        <td><%= lc.country_code %></td>
        <td><%= lc.address %></td>
        <td><%= lc.latitude %></td>
        <td><%= lc.longitude %></td>
        <td>
          <%#= link_to 'Edit', edit_admin_tag_path(tag) %>
          <%#= link_to 'Destroy', admin_tag_path(tag), confirm: 'Are you sure?', method: :delete %>
        </td>
      </tr>
  <% end %>
</table>
<%= will_paginate @locations %>
<br />

<%#= link_to 'New Tag', new_admin_tag_path %>