<% if @referer.blank? %>
$('#incentive-<%= @referral_program.id %>').html('<%= escape_javascript(link_to "Add Incentive referee","#ref_modal", :onclick => "$('#ref_modal').html('');$.get('#{pick_incentive_admin_referral_program_path(@referral_program)}')","data-toggle" => "modal", :class => "btn") %>')
<% else %>
$('#incentive-referer-<%= @referral_program.id %>').html('<%= escape_javascript(link_to "Add Incentive Referer","#ref_modal", :onclick => "$('#ref_modal').html('');$.get('#{pick_incentive_admin_referral_program_path(@referral_program, :referer => true)}')",
"data-toggle" => "modal", :class => "btn") %>')
<% end %>
