<%= simple_form_for([:admin, @question], :remote => true, :html => {:class => 'form-horizontal', :style => "margin-top:40px"}) do |f| %>
    <div class="errors"></div>
    <%= f.input :non_app_display, :collection => Question::NON_APP_DISPLAY, :include_blank => false %>
    <%= f.input :question_type, :as => :hidden %>
    <%= f.input :survey_id, :as => 'hidden' %>
    <%= f.input :text %>
    <div class="form-actions">
      <%= f.button :submit, "Save Question" %>
    </div>
<% end %>