<%= simple_form_for([:admin, @question], :remote=>true, :html=>{ :class=>'fancy-submit'}) do |f| %>
    <div class="x-box" style="width: 380px">
      <div class="errors"></div>
      <div class="x-box-inner">
        <%= f.input :question_type, :label=>"Add a Question", :collection=>Question::TYPES, :prompt=>"Select Question Type" %>
        <div id="question-wrapper" style="display:none">
          <div id="x-question">
            <%= f.input :survey_id, :as=>'hidden' %>
            <%= f.input :text %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Save Question" %>
          </div>
        </div>
      </div>
    </div>
<% end %> 