<div style="height: 450px;overflow-y: scroll;">
  <div class="page-header">
    <h3>Add New Question</h3>
  </div>
  Select Question Type :   <%= select_tag :question_type_id, options_for_select(Question::TYPES), :prompt => "Select Question Type" %>

  <div id="form-question-add">

  </div>

  <script type="text/javascript">
      $('#question_type_id').bind('change', function () {
          if ($(this).val() == '') {
              $.get('/admin/questions/0/question_with_type?survey_id=<%= @survey_id %>');
          } else {
              $.get('/admin/questions/' + $(this).val() + '/question_with_type?survey_id=<%= @survey_id %>');
          }
      });
  </script>
</div>