<div class="nested-fields">
  <div class="field">
    <%= f.input :label %>
  </div>
  <div class="field">
    <%= f.input :value %>
  </div>
  <div class="pull-right">
    <%= link_to_remove_association "remove choice", f, :class => "btn btn-danger" %>
  </div>
  <div class="clearfix"></div>
  <hr />
</div>