<% if @is_save %>
$.modal.close();
$('#question-list').html('<%= escape_javascript(render 'admin/surveys/questions') %>');
$('#question-list').ajaxloader('hide');
$('#question-list').effect("highlight", {color: "green"}, 5000);
<% else %>
$('#form-question-add').html('<%= escape_javascript(render(@question.question_type_parameterize_name)) %>');
<% end %>