<% key = "login_dashboard" %>
<% cache(key, :expires_in => 1.day) do %>
<div class="row-fluid login-wrapper">
  <a href="<%= owner_greetings_path %>">
    <%= image_tag "logo.png", :class => "logo" %>
  </a>

  <div class="span4 box">
    <div class="content-wrap">
      <h6>Dashboard Log in</h6>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <% if notice %><p class="notice"><%= notice %></p><% end %>
          <% if alert %><p class="alert"><%= alert %></p><% end %>
          <%= f.email_field :email, :class => "span12", :placeholder => "E-mail address" %>
          <%= f.password_field :password, :class => "span12", :placeholder => "Your password" %>
          <%= link_to "Forgot password?",new_password_path(resource_name), :class => "forgot" %>
          <% if devise_mapping.rememberable? -%>
              <div class="remember">
                <input type="checkbox" value="1" name="owner[remember_me]" id="owner_remember_me" checked="checked">
                <label for="owner_remember_me">Remember me</label>
              </div>
          <% end -%>
          <button class="btn-glow primary login" type="submit">Log in</button>
      <% end %>
    </div>
  </div>
</div>
<% end %>