<div class="page-header">
  <h3>List Unsent Android Notifications</h3>
</div>
<table class="table table-bordered table-condensed">
  <caption></caption>
  <thead>
    <tr>
      <th>Registration ID</th>
      <th>Error Code</th>
      <th>Failed at</th>
      <th>User ID</th>
    </tr>
  </thead>
  <tbody>

    <% @gcm_unsent_histories.each do |gcm| %>
      <tr>
        <td><%= gcm.reg_id %></td>
        <td><%= gcm.error_code %></td>
        <td><%= date_helper(gcm.failed_at) rescue nil %></td>
        <td>
          <% user = User.where(:device_token => gcm.reg_id).first %>
          <% if user  %>
            <%= user.email %> #<%= link_to user.id, admin_user_path(user) %>
            | <%= link_to "Remove regID from user", remove_regid_admin_unsent_android_notification_path(gcm) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @gcm_unsent_histories %>