<div class="page-header">
  <h3>Menu Item Reports</h3>
</div>

<%= simple_form_for [:admin, @menu_item_report], :html => {:id => "menu_item_report_form"} do |f| %>
  <%= render "shared/error_messages.html", :target => @menu_item_report %>
  <div class="field">
    <%= f.input :chain_id, :collection => Chain.active.order("name") %>
  </div>
  <div class="field">
    <%= f.input :reward_id, :collection => (@rewards.map{|x| ["[#{x.id}] #{x.name}", x.id]} rescue []) %>
  </div>
  <div class="field">
    <%= f.input :start_date, :input_html => {:class => 'x-datepicker', :readonly => true} %>
  </div>
  <div class="field">
    <%= f.input :end_date, :input_html => {:class => 'x-datepicker', :readonly => true} %>
  </div>
  <div class="field">
    <%= f.input :email, :label => "Send the result to (email address)" %>
  </div>
  <div class="field">
    <%= f.submit "Generate Report" %>
  </div>
<% end %>

<script type="text/javascript">
  $('#menu_item_report_chain_id').change(function(){
    $('#menu_item_report_form').ajaxloader('show');
    if(this.value){
      options = '';
      $.getJSON('/admin/menu_item_reports/' + this.value + '/load_user_list.json', function(response) {
        $.each(response, function(i, obj) {
          options += '<option value="' + obj.id + '">[' + obj.id + '] ' + obj.name + '</option>';
        });
        $("#menu_item_report_reward_id").html(options);
      });
    }else{
      $('#menu_item_report_reward_id').html("<option value=''></option>")
    }
    $('#menu_item_report_form').ajaxloader('hide');
  });
</script>
