<section class="topmgn bottommgn">
<%#= debug @tag_list %>

  <section class="titlebar">
    <% if current_owner.is_chain_owner? and @tag_list.size > 0 and !@tag_list.first.blank? %>
        Locations
        <!--<div class="ui-select" style="width:130px">
    <%#= select_tag("filter_type", options_for_select([" All Locations "]+@tag_list, :selected => @filter_tag),
                   :onchange => "window.location = '/owner/members?tag='+this.value") %>

    </div> -->
        <div class="btn-group">
          <button class="btn">Regions</button>
          <button class="btn dropdown-toggle" id="button_filter" data-toggle="dropdown" onclick="$('#filter_content').toggle();">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="filter_content" style="padding: 10px;">
            <%= form_tag owner_members_path, :method => :get, :class => 'region-options' do %>
                <li>
                  <a href="#"> <%= check_box_tag "check_all_region", "check_all_region",
                                                 params['check_all_region'].blank? ?  false : true,
                                                 {:onclick => "$('#filter_content').show();", :class => 'span2'} %>
                  </a>
                  <b>All Regions</b>
                </li>

                <% @tag_list.each do |tag| %>
                    <li><a> <%= check_box_tag "tag[]", "#{tag}",
                                              params['tag'].blank? ? false : params['tag'].include?(tag),
                                              {:onclick => "$('#filter_content').show();", :class => 'span2'} %>
                    </a>
                      <%= tag %>
                    </li>
                <% end %>
                <%= button_tag "Search", :class => 'btn-mini btn-primary' %>
            <% end %>
          </ul>
        </div>
    <% else %>
        Locations
    <% end %>
  </section>
  <section id="checklocation" class="checkwraper scroll-pane" style="overflow-y: auto;">
    <fieldset>
      <label class="checkbox clearmgn">
        <input type="checkbox" value="" name="optionsCheckboxList1" class="checkall">
        <b>All Locations</b>
      </label>
      <% key = @selected_restaurants.map(&:id).join('_')+params['tag'].to_s %>
      <%# cache(key, :expires_in => 1.day) do %>
          <% @restaurants.each do |restaurant| %>
              <label class="checkbox">
                <%= check_box_tag "x[]", restaurant.id,
                                  @selected_restaurants.map(&:id).include?(restaurant.id),
                                  :id => restaurant.id, :onclick => "checkbox_checked();" %>
                <% display_text = restaurant.dashboard_display_text %>
                <%= display_text.nil? ? "-" : display_text %></input>
              </label>
          <% end %>
      <%# end %>
      <div id="left_loader" style="display:none;"><%= image_tag("spinner.gif", :style => "margin-top: 0px;") %></div>
      <%= form_tag search_owner_members_path, :method => :post, :remote => true do %>

          <%= text_area_tag "check_values", nil, :style => "display:none;" %>
          <%= submit_tag "submit", :id => "btn_submit1", "data-disable-with" => 'loading...', :class => 'btn-glow' %>
      <% end %>
  </section>
  </fieldset>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        checkbox_checked();
        $('#x-search-survey').ajaxSend(function () {
            $("#btn_submit").hide();
            $("#left_loader").show();
        });
        $('#x-search-survey').ajaxComplete(function () {
            $("#left_loader").hide();
            $("#btn_submit").show();
        });
        <% unless @filter_tag.blank? %>
        $('.checkall').click(function () {
            $(this).parents('fieldset:eq(0)').find(':checkbox').attr('checked', this.checked);
            $("#check_values").text('');
            $(".checkbox :checked").each(function () {
                $("#check_values").append($(this).val() + "_");
            });
            $('#btn_submit').hide();
            $('#btn_submit1').show();
        });
        $('.checkall').click();
        $('#btn_submit1').click();
        <% end %>


        $('#check_all_region').click(function () {

            if($('#check_all_region').is(':checked') == true){
                $(".region-options li input[type='checkbox']").each(function(){
                            $(this).attr('checked', true);

                        }
                )
            }else{
                $(".region-options li input[type='checkbox']").each(function(){
                            $(this).attr('checked', false);
                        }
                )
            }
        });
    });

    $(function () { // this line makes sure this code runs on page load
        $('.checkall').click(function () {
            $(this).parents('fieldset:eq(0)').find(':checkbox').attr('checked', this.checked);
            $("#check_values").text('');
            $(".checkbox :checked").each(function () {
                $("#check_values").append($(this).val() + "_");
            });
            $('#btn_submit').hide();
            $('#btn_submit1').show();
        });
    });

    function checkbox_checked() {
        $("#check_values").text('');
        $(".checkbox :checked").each(function () {
            $("#check_values").append($(this).val() + "_");
        });
    }

</script>

<style>
    ul#filter_content li a:hover {
        text-decoration: none !important;
    }

    ul#filter_content li {
        overflow: hidden;
    }

    .region-options li {
        height: 25px !important;font-weight: normal !important; font-size: 12px !important;
        text-transform:none; !important;
    }

    .region-options .btn-mini {
        margin-top: 10px !important;
    }
    .region-options li .span2 {
        margin-top: 0px !important;
    }
</style>
