<style>.checkbox{background: none;}</style>
<!-- upper main stats -->
<div id="main-stats">
  <div class="row-fluid stats-row">
    <div class="span4 stat">
      <div class="data">
        <span class="number"><%= @new_member_today %></span>
        Today's sign-ups
      </div>
      <span class="date"></span>
    </div>
    <div class="span4 stat">
      <div class="data">
        <span class="number"><%= @all_member %></span>
        Total sign-ups
      </div>
      <span class="date"></span>
    </div>
    <div class="span4 stat">
      <div class="data">
        <span class="number"><%= float_format(@active_members_count)   %> %</span>
        App activity level
        <a data-content="Percentage of users who have engaged with the app in the last 120 days" rel="tooltip" class="icon-question-sign" href="#" data-original-title="Active Members" data-trigger="hover" data-placement="left"></a>
      </div>
      <span class="date"></span>
    </div>

  </div>
</div>
<!-- end upper main stats -->

<div id="pad-wrapper" class="custom-content-index">
    <div class="row-fluid">
        <div class="span2">
          <%= render "left_menu" %>
        </div>
        <div class="span10 bottommgn" >
          <%= render :partial => "members" %>
        </div>
    </div>
</div>