<%= label_tag :offers %>
<%= select_tag('search[offers]', options_for_select(@offers.map { |r| [r.name, r.id] }), {:multiple => true, :class => 'multiselect-filter'}) %>

<script type="text/javascript">
    $("#search_offers").multiselect().multiselectfilter();
</script>