<%= label_tag :restaurants %>
<%= select_tag('search[restaurants]', options_for_select(@restaurants.map { |r| [r.name, r.id] }), {:multiple => true, :class => 'multiselect-filter'}) %>

<script type="text/javascript">
    $("#search_restaurants").multiselect().multiselectfilter();
</script>
