<%= label_tag :rewards %>
<%= select_tag('search[rewards]', options_for_select(@rewards.map { |r| [r.name, r.id] }), {:multiple => true, :class => 'multiselect'}) %>

<script type="text/javascript">
    $("#search_rewards").multiselect();
</script>
        