<div class="hero-unit">
  <h2>Test Onosys API</h2>
  <br />
  <h4>User Management:</h4>
  <ul>
    <li><%= link_to "Test CONNECT CREDENTIALS", test_onosys_settings_path %></li>
    <li><%= link_to "Test CUSTOMER CONNECT API DETAILS (signup/login)", test_onosys_signup_login_path %></li>
    <li><%= link_to "Test GET PROFILE", test_onosys_get_profile_path %></li>
    <li><%= link_to "Test UPDATE PROFILE", test_onosys_update_profile_path %></li>
    <li><%= link_to "Test FORGOT PASSWORD", test_onosys_forgot_password_path %></li>
    <li><%= link_to "Test UPDATE PASSWORD", test_onosys_update_password_path %></li>
    <li><%= link_to "Test GET REFRESH TOKEN", test_onosys_get_refresh_token_path %></li>
  </ul>

  <br />
  <h4>Rewards:</h4>
  <ul>
    <li><%= link_to "Test GET REWARDS", test_onosys_get_rewards_path %></li>
    <li><%= link_to "Test CLAIM REWARD", test_onosys_reward_claim_path %></li>
    <li><%= link_to "Test REDEEM REWARD", test_onosys_reward_redeem_path %></li>
  </ul>
</div>

