<div class="hero-unit">
  <h2>Test NuOrder API</h2>
  <ul>
    <li><%= link_to "Test CONNECT CREDENTIALS", test_nuorder_connect_settings_path %></li>
    <li><%= link_to "Test CUSTOMER CONNECT API DETAILS (signup/login)", test_nuorder_signup_login_path %></li>
    <li><%= link_to "Test GET Patron Information", test_nuorder_get_profile_path %></li>
    <li><%= link_to "Test SEARCH Patron Information", test_nuorder_search_profile_path %></li>
    <li><%= link_to "Test FORGOT PASSWORD", test_nuorder_forgot_password_path %></li>
    <li><%= link_to "Test UPDATE PASSWORD", test_nuorder_update_password_path %></li>
    <li><%= link_to "Test UPDATE PROFILE", test_nuorder_update_profile_path %></li>
    <li><%= link_to "Test GET PASSWORD HINT", test_nuorder_password_hint_path %></li>
  </ul>
</div>

