<div class="hero-unit">
  <h2>Test API</h2>
  <ul>
    <li><%= link_to "Test Submit Receipt", "/api/test/submit_receipt" %></li>
    <li><%= link_to "Test forgot password", "/api/test/forgot_password" %></li>
    <li><%= link_to "Test update password", "/api/test/update_password" %></li>
    <li><%= link_to "Test user signin", "/api/test/user_signin" %></li>
    <li><%= link_to "Test user signup", test_signup_path %></li>
    <li><%= link_to "Test Get List Deals", test_list_deals_path %></li>
    <li><%= link_to "Test Get Detail Deal", test_detail_deals_path %></li>
    <li><%= link_to "Test Get Deal Location", test_deal_location_path %></li>
    <li><%= link_to "Test Post Checkin", test_post_checkin_path %></li>
    <li><%= link_to "Test Answer Deal Survey", api_test_answer_deal_survey_path %></li>
    <li><%= link_to "Test Get Deal  Survey", api_test_get_deal_survey_path %></li>
    <li><%= link_to "Test Chain Image Share", "/api/test/form_chain_image" %></li>
    <li><%= link_to "Test Reward Activity", test_reward_activity_path %></li>
    <li><%= link_to "Test Deactivate Account", test_deactivate_account_path %></li>
    <li><%= link_to "Test Reactivate Account", test_reactivate_account_path %></li>
    <li><%= link_to "Test User Activity", test_user_activity_path %></li>
    <li><%= link_to "Test User Profile", test_user_profile_path %></li>
    <li><%= link_to "Test Get Rewards List", api_test_reward_list_path %></li>
    <li><%= link_to "Test Geo Data", api_test_geo_data_setting_path %>
    <li>
      <%= link_to "Facebook Reactivate Account", api_test_test_fb_reactivate_account_path %>
      <%= link_to 'Login with Facebook', user_omniauth_authorize_path(:facebook) %>
    </li>
    <li><%= link_to "Test Claim Reward", test_claim_reward_path %></li>
    <li><%= link_to "Test Promo Code", api_test_promocode_path,:target => "_blank" %></li>
    <li><%= link_to "Test Share Text List", test_share_text_list_path %></li>
    <li><%= link_to "Test Launch Text", test_launch_text_path %></li>
    <li><%= link_to "Test Generate Keychain Value", test_generate_keychain_value_path %></li>
    <li><%= link_to "Test Submit Survey", test_submit_survey_path %></li>
    <li><%= link_to "Test Get Survey", load_survey_path %></li>
    <li><%= link_to "Test Active Rewards", test_active_reward_path %></li>
    <li><%= link_to "Test Gallery Stream", test_gallery_stream_path %></li>
    <li><%= link_to "Test Module Accessed", test_module_accessed_path %></li>
    <li><%= link_to "Test Facebook Data", test_facebook_data_path %></li>
    <li><%= link_to "Test Braintree client token", test_braintree_client_token_path %></li>
    <li><%= link_to "PULL SURVEY - Test Pull Survey", test_pull_survey_path %></li>
    <li><%= link_to "PULL SURVEY - Test Skip Survey", test_skip_survey_path %></li>
    <li><%= link_to "Test User Update Profile", test_user_update_profile_path %></li>
    <li><%= link_to "Test Birthday reward", test_birthday_reward_path %></li>
    <li><%= link_to "Test User Get Oauth Token", test_user_get_oauth_token_path %></li>
    <li><%= link_to "Test Get Olo Mobile Uri", test_get_olo_mobile_uri_path %></li>
    <li><%= link_to "Test Restaurant by AOID reward", test_get_restaurant_aoid_path %></li>

    <br/><br/>
    <b>XPIENT</b>
    <li><%= link_to "Test XPIENT Submit Order", test_xpient_submit_order_path %></li>

    <br/><br/>
    <b>Raffle</b>
    <li><%= link_to "Test Raffle", test_raffle_path %></li>
    <li><%= link_to "Test Submit Code", test_raffle_submit_code_path %></li>
    <li><%= link_to "Test Submit Info", test_raffle_submit_info_path %></li>


  </ul>
  <br />
  <h2>Timeout Stuff</h2>
  <ul>
    <li><%= link_to "Test Timeout", '/api/test/test_timeout' %></li>
  </ul>
  <h2>Goal Stuff</h2>
  <ul>
    <li><%= link_to "Test Get Goal Categories", test_get_categories_path %></li>
    <li><%= link_to "Test Submit User Goal Categories", test_submit_categories_path %></li>
    <li><%= link_to "Test Get Weekly User Goal", test_weekly_user_goal_path %></li>
    <li><%= link_to "Test Complete Goal", test_complete_goal_path %></li>
    <li><%= link_to "Test Deadline Goal", test_deadline_path %></li>
    <li><%= link_to "Test History Completed Goal in last 4 weeks", test_history_path %></li>
  </ul>
  <h2>OLO Stuff</h2>
  <ul>
    <li><%#= link_to "List Summaries", "/api/test/olo_list_summaries" %><br/>
      <div class="alert-info">
      Reports : Reports Operations<br/>

      get /reports/order <br/>
      parameters : start , end
      </div>
    </li>
    <li><%#= link_to "Order Export ", "/api/test/olo_orders" %><br/>
      <div class="alert-info">
        Export : Data Export Operations<br/>

        get /orderexport <br/>
        parameters : none
      </div>
    </li>

    <li><%#= link_to "Order Export with batch id", "/api/test/olo_export" %><br/>
      <div class="alert-info">
        Export : Export based on batch id<br/>

        post /orderexport/{batch_id} <br/>
        parameters : batch_id
      </div>
    </li>
   </ul>
  <br />

  <h2>Referral Stuff</h2>
  <ul>
    <li><%= link_to "Get Email Template referral", api_test_referral_email_path, :target => "_blank" %></li>
    <li><%= link_to "Sign Up with referral", api_test_sign_up_with_referral_path, :target => "_blank" %></li>
  </ul>
  <br />

  <h2>Social Shares</h2>
  <ul>
    <li><%= link_to "Social shares", api_test_social_shares_path, :target => "_blank" %></li>
    <li><%= link_to "Post Social Shares", api_test_post_social_shares_path, :target => "_blank" %></li>
  </ul>
  <br />

  <h2>Gifting Reward</h2>
  <ul>
    <li><%= link_to "Tap To Gift", test_tap_to_gift_path %></li>
    <li><%= link_to "Test Use the Code", test_giftcode_path %></li>
  </ul>
  <br />

  <h2>Game</h2>
  <ul>
    <li><%= link_to "Test Game Points", test_game_points_path %></li>
    <li><%= link_to "Test Game Activity", test_game_activity_path %></li>
  </ul>
  <br />

  <h2>PHP MIGRATION</h2>
  <ul>
    <li><%= link_to "Test Migration with User ID", test_php_migration_path("user_id") %></li>
  </ul>
  <br />

  <h2>POS STUFF</h2>
  <ul>
    <li>
      <%= link_to "Test POS Reward", test_pos_reward_path %><br />
      <i>(This is api test page for check POS redeem the reward by post the reward code / Reward Redeemtion)</i>
    </li>
    <li>
      <%= link_to "Test POS Check Upload Status", test_pos_check_upload_status_path %><br />
      <i>(This is api test page for checking the status to allow POS upload check upload / pos receipt barcode. if status 'true' then allowed, if not then no allowed.)</i>
    </li>
    <li>
      <%= link_to "Test POS Check Upload", test_pos_check_upload_path %><br />
      <i>(This is api test page for allowing POS to upload check upload / pos receipt barcode.)</i>
    </li>
    <li>
      <%= link_to "Test POS Menu Upload Status", test_pos_menu_upload_status_path %><br />
      <i>(This is api test page for checking the status to allow POS upload menu. if status 'true' then allowed, if not then no allowed.)</i>
    </li>
    <li>
      <%= link_to "Test POS Menu Upload", test_pos_menu_upload_path %><br />
      <i>(This is api test page for allowing POS to upload menu.)</i>
    </li>
    <li>
      <%= link_to "Test User Scans code to earn loyalty", test_pos_receipt_upload_path %><br />
      <i>(This is api test page for user scans code for earning loyalty.)</i>
    </li>
    <li>
      <%= link_to "Test Receipt Barcode", test_pos_receipt_barcode_path %><br />
      <i>(This is api test page for POS requests the barcode lists.)</i>
    </li>
    <li>
      <%= link_to "Test Submit Single Barcode", test_submit_barcode_path %><br />
      <i>(This is api test page for POS submit a singele  pos receipt xml with barcode)</i>
    </li>
    <li>
      <%= link_to "Test Get Usercode", test_get_user_code_path %><br />
      <i>(Get usercode from authtoken)</i>
    </li>
    <li>
      <%= link_to "Test Get Payment Code", test_get_payment_code_path %><br />
      <i>(Get payment code)</i>
    </li>
    <li>
      <%= link_to "Test Get Giftcard Code", test_get_gift_code_path %>
      <br/>
      <i>(Get Giftcard code)</i>
    </li>
    <li>
      <%= link_to "Test Get Giftcard skins", test_get_giftcard_skin_path %>
      <br/>
      <i>(Get Giftcard skins)</i>
    </li>
    <li>
      <%= link_to "Test Submit Usercode", test_submit_usercode_path %><br />
      <i>(Submit usercode to be processed.)</i>
    </li>
    <li><%= link_to "Test Get Code Type", test_get_code_type_path %><br />
      <i>(Get code type.)</i>
    </li>
    <li><%= link_to "Test Micros Get Check Detail", test_micros_check_detail_path %>
      <br/>
      <i>(Get Micros Check Detail.)</i>
    </li>

    <li><%= link_to "Test PAY TS", test_pay_table_service_path %>
      <br/>
      <i>(TABLE SERVICE PAYMENT TEST.)</i>
    </li>
    <li><%= link_to "POS Test Pull Check Payment", test_pull_check_payment_path %>
      <br/>
      <i>(POS PULL CHECK TEST.)</i>
    </li>
    <li><%= link_to "POS Get Check", test_get_check_path %>
      <br/>
      <i>(POS GET CHECK TEST.)</i>
    </li>
    <li><%= link_to "POS Test Pull Payment Alert", test_pull_payment_alert_path %>
      <br/>
      <i>(POS GET CHECK TEST.)</i>
    </li>
  </ul>

  <h2>VANTIV GIFT CARD</h2>
  <ul>
    <li><%= link_to "Test Activate Card", test_vantiv_activate_card_path %></li>
    <li><%= link_to "Test Deposit Card", test_vantiv_deposit_card_path %></li>
    <li><%= link_to "Test Get Card Balance", test_vantiv_get_card_balance_path %></li>
    <li><%= link_to "Test Card Unload", test_vantiv_card_unload_path %></li>
    <li><%= link_to "Test Gift", test_vantiv_gift_path %></li>
    <li><%= link_to "Test VANTIV API CALL", test_vantiv_api_call_path %></li>
  </ul>
  <br/>

  <br />
    <h3>OLO</h3>
    <ul>
      <li><%= link_to "Test OLO settings", test_olo_settings_path %></li>
    </ul>

  <br />
  <% if false %>
  <h3>PARTNER API</h3>
  <ul>
    <li><%= link_to "Partner Category", api_test_partner_categories_path %></li>
    <li><%= link_to "Partner Reward", api_test_partner_rewards_path %></li>
    <li><%= link_to "Get Partner Reward", api_test_get_partner_rewards_path %></li>
  </ul>
  <% end %>
</div>

