<%= simple_form_for([:admin,@external_setting], :remote => true) do |f| %>
  <%#= f.error_notification %>
  <%= render "shared/error_messages", :target => @external_setting %>
  <div class="form-inputs">
    <%= f.input :basic_auth %>
    <div class="field">
      <%= hidden_field_tag "external_setting[chain_id]", @chain.id %>
    </div>
    <%= f.input :basic_pwd%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
