<h1>Listing External Setting</h1>

<table>
  <tr>
    <th>Basic auth</th>
    <th>Basic password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% unless @external_setting.blank?%>
      <tr>
        <td><%= @external_setting.basic_auth %></td>
        <td><%= @external_setting.basic_pwd %></td>
        <td><%= link_to 'Edit', edit_admin_external_setting_path(@external_setting), :class => 'nyroModal' %></td>
        <td><%= link_to 'Destroy', admin_external_setting_path(@external_setting), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% else %>
      <tr>
        <td colspan="7"><%= link_to "New",new_admin_external_setting_path(:chain_id => @chain.id), :class => 'nyroModal' %></td>
      </tr>
  <% end %>
</table>

<br />
<script>
    $('.nyroModal').nyroModal();
</script>
<style>

    table.table td { word-wrap: break-word; }
</style>
