<p id="notice"><%= notice %></p>

<p>
  <b>Basic auth:</b>
  <%= @admin_external_setting.basic_auth %>
</p>

<p>
  <b>Chain:</b>
  <%= @admin_external_setting.chain_id %>
</p>

<p>
  <b>Basic password:</b>
  <%= @admin_external_setting.basic_password %>
</p>


<%= link_to 'Edit', edit_admin_external_reward_setting_path(@admin_external_setting) %> |
<%= link_to 'Back', admin_external_reward_settings_path %>
