$('#data-container').ajaxloader('show');
$('#data-container').html("<%= escape_javascript(render('list')) %>")
$('#data-container').ajaxloader('hide');
$('#loader').hide();
$('#closeBut').click();