<%= simple_form_for [:admin, @survey],:url => add_point_admin_survey_path(@survey, :edit => true), :html => {:class => 'form-horizontal', :remote => true} do |f| %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Points</h3>
  </div>
  <div class="modal-body">
    <div class="field">
      <%= f.input :point %>
    </div>
    <div class="modal-footer" style="margin-top: 70px;">
      <%= f.submit "Submit Changes", :class => "btn btn-primary" %>
      <%= link_to "Back","#", :onclick => "$('.modal-body').ajaxloader();$('#ref_modal').html('#{ escape_javascript(render "select_incentive") }')",:class => "btn btn-primary" %>
    </div>
  </div>
<% end %>