<% if !survey.reward_id.blank? %>
  <% reward = Reward.find(survey.reward_id)%>
  <%= link_to "Reward #{reward.name}", admin_reward_path(reward), :target => "_blank" %>
  <%= link_to "<i class=\"icon-remove-sign\"></i>".html_safe,
              remove_incentive_admin_survey_path(survey, "reward"), :confirm => "Are you sure?", :remote => true, :alt => "Remove Reward Incentive" %>

<% elsif !survey.point.blank? %>
  <%= link_to "#{survey.point} points", "#ref_modal",
              :onclick => "#{initialize_modal('ref_modal',
                                              edit_point_admin_survey_path(survey))}", "data-toggle" => "modal" %>


  <%= link_to "<i class=\"icon-remove-sign\"></i>".html_safe,
              remove_incentive_admin_survey_path(survey, "point"), :confirm => "Are you sure?", :remote => true, :alt => "Remove Point Incentive" %>


<% else %>
  <%= link_to "Add Incentive", "#ref_modal",
              :onclick => "#{initialize_modal('ref_modal',
                                              pick_incentive_admin_survey_path(survey))}",
              "data-toggle" => "modal" %>
<% end %>