<%= simple_form_for [:admin, @survey],:url => add_point_admin_survey_path(@survey), :html => {:remote => true} do |f| %>
  <div class="field">
    <%= f.input :point %>
  </div>
  <%= f.submit "Assign Point", :class => "btn btn-primary" %>
<% end %>