<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Chain Users Tag Updated :</h1>
<table>
  <tr>
    <td>Chain Name</td>
    <td>Updated Tag At</td>
  </tr>
  <% @chains.each do | chain | %>
      <tr>
        <td><%= chain.name%></td>
        <td><%= chain.last_set_tag_at %></td>
      </tr>
  <% end %>
</table>
</body>
</html>
