<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Reward POS Codes Less than 2000</h1>
<table>
  <tr>
    <td>Chain Name</td>
    <td><%= @chain_name %></td>
  </tr>
  <tr>
    <td>Reward ID</td>
    <td><%= @reward.id %></td>
  </tr>
  <tr>
    <td>Reward Name</td>
    <td><%= @reward.name%></td>
  </tr>
  <tr>
    <td>Number of unused codes left</td>
    <td><%= @reward.reward_pos_codes.where("user_id IS NULL").count %></td>
  </tr>
</table>
</body>
</html>
