<%= javascript_include_tag ("fullcalendar") %>
<script>
  $(document).ready(function () {

    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    $('#calendar').fullCalendar({
      header:{
        left:'prev,next today',
        center:'title'
        //right: 'month,agendaWeek,agendaDay'
      },
      editable:false,
      events:  <%= @reports_json.html_safe %> ,
      eventClick: function(event) {
        if (event.url) {
          window.open(event.url);
          return false;
        }
      }
    });

  });

</script>
<div id='calendar'></div>