<div class="page-header">
  <h1>Listing Reports</h1>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#form').ajaxSend(function() {

    });

    $('#form').ajaxSend(function() {

    });
    
    if($('#chain').val() != ""){
      $('#chain_id').val(this.value);$('#loader').show();
      $('#sub').click();
    }
  });

</script>
<div class="page-header">
  <div class="field form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="select01">Chain:</label>
        <div class="controls">
          <%= select_tag 'chain', options_from_collection_for_select(Chain.active.order("name"), :id, :name), :prompt=>"Please select chain",
            :onchange => "$('#chain_id').val(this.value);$('#loader').show();$('#sub').click();" %>
          <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
        </div>
      </div>
      <div id="restaurant_select">

      </div>
    </fieldset>
  </div>
</div>

<%= form_tag search_reports_admin_reports_path, :id => "form", :class => 'form-horizontal', :style => "display:none;", :remote => true do %>
  <%= hidden_field_tag "chain_id" %>
  <%= hidden_field_tag "restaurant_id" %>
  <%= submit_tag "submit", :id => "sub" %>
<% end %>


<div id="data-container"></div>
