<% unless params[:id].eql?("0") %>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Chain</th>
        <th>Name</th>
        <th>Threshold Points</th>
        <th>Milestone Number</th>
        <th>Reward</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% unless  @milestones.blank? %>
        <% @milestones.each do |milestone| %>
          <tr id="milestone-<%= milestone.id %>">
            <%= render "row", {:milestone => milestone} %>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="7">There are no data</td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7">
          <%= will_paginate @deals, :params => {:chain_id => @chain.id } rescue "" %>
        </td>
      </tr>
      <tr>
        <td colspan="7">
          <%= link_to "New Milestone Reward", new_admin_milestone_path(@chain), :class => "btn" %>
        </td>
      </tr>
    </tfoot>
  </table>
<% else %>
  <h4 style="color:red">Please select Chain first.</h4>
<% end %>

<%= render "popup_form" %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function() {
      $('#data-container').ajaxloader('show');
    });
  })
</script>