<td><%= milestone.id %></td>
<td><%= milestone.chain.name %></td>
<td><%= milestone.name %></td>
<td><%= milestone.threshold_points %></td>
<td><%= milestone.milestone_number %></td>
<td>
  <% if milestone.reward %>
    <%= link_to milestone.reward.name,"#milestone_modal", :onclick => "$('#test_modal').html('');$.get('#{edit_reward_admin_milestone_path(milestone, milestone.reward)}')","data-toggle" => "modal" %>
  <% else %>
    <%= link_to "Add Reward","#milestone_modal", :onclick => "$('#test_modal').html('');$.get('#{add_reward_admin_milestone_path(milestone)}')","data-toggle" => "modal", :class => "btn" %>
  <% end %>
</td>
<td>
  <%= link_to "Edit", edit_admin_milestone_path(milestone) %>
</td>