<% if @is_save %>
  $("#milestone_modal").html('<%= escape_javascript(render "confirmation", {:message => "Reward has successfully added."}) %>');
  $("#milestone-<%= @milestone.id %>").html('<%= escape_javascript(render "row", {:milestone => @milestone}) %>')
  $("#milestone-<%= @milestone.id %>").effect("highlight", {}, 10000);
<% else %>
  $("#milestone_modal").html('<%= escape_javascript(render "milestone_reward") %>');
<% end %>