<div class="page-header">
  <h1>Edit Milestone Reward</h1>
</div>
<%= simple_form_for [:admin, @milestone] do |f| %>
  <%= f.input :name %>
  <%= f.input :milestone_number %>
  <%= f.input :threshold_points %>
  <%= f.input :chain_id, :as => :hidden %>
  <br />
  <br />
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", milestones_by_chain_admin_milestone_path(@milestone.chain), :class => "btn btn-primary" %>
<% end %>