<div class="page-header">
  <h1>Milestones Reward</h1>
</div>

<div class="field form-horizontal">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="select01">Chain:</label>
      <div class="controls">
        <%= select_tag 'chain', options_from_collection_for_select(Chain.active.order("name"), :id, :name, @chain.id), :prompt=>"Please select chain",
          :onchange => "$('#loader').show();if(this.value == '')$.get('/admin/milestones/0/milestones_by_chain');else $.get('/admin/milestones/'+this.value+'/milestones_by_chain');" %>
        <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
      </div>
    </div>
  </fieldset>
</div>

<div id="data-container">
  <%= render "list" %>
</div>