<div class="page-header">
  <h1>New Milestone Reward</h1>
</div>
<%= simple_form_for [:admin, @milestone] do |f| %>
  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :milestone_number %>
  </div>
  <div class="field">
    <%= f.input :threshold_points %>
  </div>
  <%= f.input :chain_id, :as => :hidden %>
  <%= f.submit "Create", :class => "btn btn-primary" %>
  <%= link_to "Back", milestones_by_chain_admin_milestone_path(@chain), :class => "btn btn-primary" %>
<% end %>