<h1>My Reward Wallets</h1>

<table>
  <caption>Private Rewards</caption>
  <thead>
  <tr>
    <th>Name</th>
    <th width="10%">Chain</th>
    <th width="10%">Points</th>
    <th>Dates</th>
    <th width="20%"></th>
  </tr>
  </thead>
  <tbody>
    <% @privateRewards.each do |reward| %>
    <tr>
    <td><%= reward.name %></td>
    <td><%= reward.chain.name %></td>
    <td><%= reward.points %></td>
    <td><%= reward.effectiveDate.try(:strftime,'%Y-%m-%d') || '-' %> to <%= reward.expiryDate.try(:strftime,'%Y-%m-%d') || '-' %></td>
    <td><%= button_to 'Redeem', user_reward_path(reward), confirm: 'Are you sure?', method: :redeem %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <caption>Chain Rewards</caption>
  <thead>
  <tr>
    <th>Name</th>
    <th width="10%">Chain</th>
    <th width="10%">Points</th>
    <th>Dates</th>
    <th width="20%"></th>
  </tr>
  </thead>
  <tbody>
    <% @publicRewards.each do |reward| %>
    <tr>
    <td><%= reward.name %></td>
    <td><%= reward.chain.name %></td>
    <td><%= reward.points %></td>
    <td><%= reward.effectiveDate.try(:strftime,'%Y-%m-%d') || '-' %> to <%= reward.expiryDate.try(:strftime,'%Y-%m-%d') || '-' %></td>
    <td><%= button_to 'Redeem', user_reward_path(reward), confirm: 'Are you sure?', method: :redeem %></td>
    </tr>
    <% end %>
  </tbody>
</table>