<script>
$(document).ready(function() {
 
 <% @one_time_rewards.each do |chain_reward| %>
  chart = new Highcharts.Chart({
    chart: {
      renderTo: 'chart-container-<%= chain_reward.reward.id %>',
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      backgroundColor: '#E3E3E4',
      height: 200,
      marginTop: -10,
      animation: false,
      width: 226
    },
    title: {     
      text : false
    },
    credits: {
      enabled:false
    },
    tooltip: {
      formatter: function() {
        return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
      }
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: false,
          color: '#000000',
          connectorColor: '#000000',
          formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
          }
        }
      }
    },
    series: [{
      type: 'pie',
      name: 'One Time Reward',
      data: <%= chain_reward.reward.chart_redeemed_or_not.html_safe %>
    }]
  });
<% end %>
});
</script>