<section class="clrmgnl span6 bottommgn halfcontent">
    <section class="topspace">
      <h2>One-time <a data-original-title="A Title" href="#" class="icon-question-sign" rel="popover" data-content="And here's some amazing content. It's very engaging. right?"></a></h2>
    </section>
    <% ChainRewardEvent.where(:chain_id=>@chain.id).includes(:reward).each do |chain_reward| %>
      <% if chain_reward.reward %>
    <button class="btn tagbar" type="submit" id="one_time_<%= chain_reward.reward.id %>" onclick="$('#reward_modal_<%= chain_reward.reward.id %>').modal({})">
      
      <h4><%= chain_reward.reward.name %></h4>      
      <section class="valwraper">
        <%= ChainRewardEvent::EVENTS.index(chain_reward.event).humanize %>
      </section>
    </button>
    <%= render :partial => "reward_popup",:locals => {:reward => chain_reward.reward} %>
    <% end %>
    <% end %>
    <button class="btn tagbar" type="submit">
      <h4>Add and offers</h4>
      <section class="valwraper clearthissty">
        <i class="icon-plus"></i>
      </section>
    </button>
  </section>