<section class="span6 bottommgn halfcontent clrmgnr">
  <section class="topspace">
    <h2>Ongoing <a data-original-title="A Title" href="#" class="icon-question-sign" rel="popover" data-content="And here's some amazing content. It's very engaging. right?"></a></h2>
  </section>
  <% @ongoing_rewards.each do |reward| %>
    <button class="btn tagbar" type="submit" id="reward_<%= reward.id %>" onclick="$('#reward_modal_<%= reward.id %>').modal({})">
      <h4><%= reward.name %></h4>
      <section class="valwraper">
        <%= reward.points.nil? ? 0 : reward.points %>
      </section>
    </button>
    <%= render :partial => "reward_popup",:locals => {:reward => reward} %>
  <% end %>
  
  <button class="btn tagbar" type="submit" id="myModal1" onclick="$('#myModal1').modal({})">
    <h4>Add reward</h4>
    <section class="valwraper clearthissty">
      <i class="icon-plus"></i>
    </section>
  </button>
</section>