<div class="modal hide fade" id="reward_modal_<%=reward.id%>" style="display: none;">
    <div class="modal-header">
      <a data-dismiss="modal" class="close"></a>
      <h2><%= reward.name %></h2>
    </div>
    <div class="modal-body">
      <table class="table table-striped">
        <tr>
          <td><b>Reward Title</b></td>
          <td><%= reward.name %></td>
        </tr>
        <tr>
          <td><b>Points</b></td>
          <td><%= reward.points %></td>
        </tr>
        <tr>
          <td><b>Valid</b></td>
          <td><%= date_only(reward.effectiveDate) %> to <%= date_only(reward.expiryDate) %></td>
        </tr>
        <tr>
          <td><b>Locations</b></td>
          <td>Cincinatti, Chicago, Miami, New York, New Jersey, Pettsburgh</td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <a class="btn btn-danger btn-large fixsize" href="#">Delete</a>
      <a class="btn btn-success btn-large fixsize" data-toggle="modal" data-dismiss="modal" href="#myModal2">Update</a>
    </div>
  </div>