<% content_for :top_menu do %>
  <%= render "owner/greetings/top_menu" %>
<% end %>

<section id="rewardwraper" class="contentwraper hlfbtnmgn scroll-pane">
  <section class="atrule">
    <h1>Rewards</h1>
    <section class="redeewraper">
      <section class="aspace bgreen">
        Redeemed
      </section>
      <section class="aspace bblue">
        Not yet redeemed
      </section>
    </section>
  </section>
  <section class="rewardchartspace">
    <% @one_time_rewards.each do |chain_reward| %>
      <section class="chartwraper">
      <h3><%= chain_reward.reward.name %></h3>
      <h5><%= date_only(chain_reward.reward.expiryDate) %></h5>
      <div id="chart-container-<%= chain_reward.reward.id %>" class="chartviewer"></div>
    </section>
      <% end %>
</section>
<section class="row-fluid">
  <%= render "ongoing_rewards" %>
  <%= render "one_time_rewards" %>
</section>

<%= render 'chart_generator' %>
<% content_for :javascript_script do %>  
  <%= javascript_include_tag "bootstrap.js" %>
<% end %>