<p>Insert The email for this chain below :</p>
<%= form_tag set_email_to_admin_owners_path do %>
    <%= text_field_tag "email_to", @val %>
    <%= hidden_field_tag "chain_id", @chain_id %>
    <%= submit_tag "submit" %>
<% end %>