<hr>
<%= custom_form_for([:admin, @owner]) do |f| %>
  <div class="span5">
    <%= f.input :role_id, :as => :hidden %>
    <%= f.input "chain_id", :collection => Chain.order("name"), :label => "Chain" if @owner.new_record? %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :title %>
    <%= f.input :address %>
    
    <% unless @owner.new_record? %>
      <%= f.input :password, :hint => "<i>(leave blank if you don't want to change password)</i>" %>
      <%= f.input :password_confirmation %>          
    <% end %>
    <br/>
    <br/>

    <div class="form-group row string optional owner_address">
      <label class="col-sm-3 col-form-label string optional" for="owner_address">City</label>
      <div class="col">
        <%= text_field_tag :owner_city_text, @owner.try(:city).try(:label), class: "form-control form-control-sm string optional" %>
        <%= f.hidden_field :city_id %>
      </div>
    </div>

    <%= f.input :zipcode %>
    <%= f.input :work_contact_number %>
    <div class="field">
      <%= f.input :cell_contact_number %>
    </div>
  </div>
<!--
  <%# if @owner.role_id.eql?(1) or @owner.new_record? %>
      <div class="span5" style="margin-top: 60px;">
        <div class="page-header">
          <h4>Generate System Reports</h4>
        </div>
        <%#= f.check_box :daily %> Daily <br/>
        <%#= f.check_box :weekly %> Weekly <br/>
        <%#= f.check_box :monthly %> Monthly <br/>
        <%#= f.check_box :periodic %> Periodic <br/>
      </div>
  <%# end %>
-->
<!--
  <%# unless @owner.new_record? %>
      <div class="span5" style="margin-top: 20px;">
        <div class="page-header">
          <h4>Generate Restaurant Reports</h4>
        </div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Store</th>
            <th>Daily</th>
            <th>Weekly</th>
            <th>Monthly</th>
            <th>Periodic</th>
          </tr>
          </thead>
          <tbody>
          <%#= f.simple_fields_for :restaurants_owners do |ro| %>
              <tr>
                <td><%#= ro.object.restaurant.dashboard_display_text %></td>
                <td><%#= ro.input :daily, :label => false %></td>
                <td><%#= ro.input :weekly, :label => false %></td>
                <td><%#= ro.input :monthly, :label => false %></td>
                <td><%#= ro.input :periodic, :label => false %></td>
              </tr>
          <%# end %>
          </tbody>
        </table>

      </div>
  <%# end %>
-->
  <div class="clearfix"></div>
  <% if @owner.new_record? %>
      <i>
        <b>Note : </b>
        Password will send to owner by email
      </i>
  <% end %>
  <div class="pull-right"><%= f.button :submit, :class => "btn btn-primary" %> <br /><br /></div>
<% end %>

<script type="text/javascript">
  $(".multiselect").multiselect({
      multiple:false,
      selectedText:"# of # selected"
  });
</script>