<table>
  <caption></caption>
  <thead>
  <tr>
    <th>Chain Id</th>
    <th>Chains</th>
    <th>View and Edit Owners</th>
  </tr>
  </thead>
  <tbody>

  <% @chains.each do |chain| %>
      <tr>
        <td><%= chain.id %></td>
        <td><%= chain.name %></td>
        <td>
          <%= link_to 'View', admin_owner_path(chain), :class => "btn btn-mini btn-primary" %>
          <%= link_to 'Dashboard Setting', dashboard_setting_admin_owner_path(chain), :class => "btn btn-mini btn-primary" %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @chains %> <br/>
<%= link_to 'New Chain Owner', new_admin_owner_path, :class => 'btn btn-primary'  %>
<%= link_to "New Restaurant Owner", new_owner_admin_restaurants_path, :class => 'btn btn-primary' %>
<%= link_to "Unknown Owners", unknown_owner_admin_owners_path, :class => 'btn btn-primary'  %>
<%= link_to "Owner, Question to email", question_to_admin_owners_path, :class => 'btn btn-primary'  %>