<% if @owner.new_record? %>
    <% url = create_manager_admin_managers_path %>
    <% method = 'post' %>
<% else %>
    <% url = update_admin_manager_path(@owner) %>
    <% method = 'put' %>
<% end %>
<%= simple_form_for([:admin, @owner], :url => url, :method => method) do |f| %>
    <div class="span5">
      <%= f.input :role_id, :as => :hidden %>
      <% if @owner.new_record? %>
          <div class="field">
            <%= f.input "chain_id", :collection => Chain.order("name"), :label => "Chain", :input_html => {
                    :onchange => "$('#chain_loader').show();$.ajax({
url: '/admin/managers/restaurant_selection_manager',
    data: {chain_id : $('#owner_chain_id').val()}
});"
            }
            %>
            <span id="chain_loader" style="display: none;"><%= image_tag "loader.gif" %></span>
          </div>
      <% end %>
      <div class="field" id="restaurant_select"></div>
      <div class="field" id="restaurant_owner_list"></div>
      <div class="field">
        <%= f.input :first_name %>
      </div>

      <div class="field">
        <%= f.input :last_name %>
      </div>

      <div class="field">
        <%= f.input :email %>
      </div>

      <div class="field">
        <%= f.input :title %>
      </div>

      <div class="field">
        <%= f.input :address %>
      </div>

      <% unless @owner.new_record? %>
          <div id="pwd" class="field">
            <%= f.input :password, :hint => "<i>(leave blank if you don't want to change password)</i>" %>
          </div>
          <div id="pwd" class="field">
            <%= f.input :password_confirmation %>
          </div>
      <% end %>
      <br/>
      <br/>

      <div class="field">
        <%= f.label :city %>
        <%= text_field_tag :owner_city_text, @owner.try(:city).try(:label) %>
        <%= f.hidden_field :city_id %>
      </div>

      <div class="field">
        <%= f.input :zipcode %>
      </div>

      <div class="field">
        <%= f.input :work_contact_number %>
      </div>

      <div class="field">
        <%= f.input :cell_contact_number %>
      </div>
    </div>
    <% if @owner.role_id.eql?(1) or @owner.new_record? %>
        <div class="span5" style="margin-top: 60px;">
          <div class="page-header">
            <h4>Generate System Reports</h4>
          </div>
          <%= f.check_box :daily %> Daily <br/>
          <%= f.check_box :weekly %> Weekly <br/>
          <%= f.check_box :monthly %> Monthly <br/>
          <%= f.check_box :periodic %> Periodic <br/>
        </div>
    <% end %>
    <% unless @owner.new_record? %>
        <div class="span5" style="margin-top: 20px;">
          <div class="page-header">
            <h4>Generate Restaurant Reports</h4>
          </div>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Store</th>
              <th>Daily</th>
              <th>Weekly</th>
              <th>Monthly</th>
              <th>Periodic</th>
            </tr>
            </thead>
            <tbody>
            <%= f.simple_fields_for :restaurants_owners do |ro| %>
                <tr>
                  <td><%= ro.object.restaurant.dashboard_display_text %></td>
                  <td><%= ro.input :daily, :label => false %></td>
                  <td><%= ro.input :weekly, :label => false %></td>
                  <td><%= ro.input :monthly, :label => false %></td>
                  <td><%= ro.input :periodic, :label => false %></td>
                </tr>
            <% end %>
            </tbody>
          </table>

        </div>
    <% end %>
    <div class="clearfix"></div>
    <% if @owner.new_record? %>
        <i>
          <b>Note : </b>
          Password will send to manager by email
        </i>
    <% end %>
    <div class="pull-right"><%= f.submit "Submit" %></div>
<% end %>

<script type="text/javascript">
    $(".multiselect").multiselect({
        multiple:false,
        selectedText:"# of # selected"
    });
</script>