<% cr = owner.has_role?(:create) ||
        owner.has_role?(:create_email)||
        owner.has_role?(:create_process)||
        owner.has_role?(:create_email_process) %>
<% but_cr_state = cr == true ? "ON" : "OFF" %>
<% color_create = cr == true ? "" : "btn-danger" %>
<tr>
  <td>Create task(needs approval)</td>

  <td><%= link_to but_cr_state,
                  set_user_owner_status_admin_owner_path(
                          @chain,
                          :mode => "create", :val => cr == true ? "OFF" : "ON", :user_id => owner.id),
                  :class => "btn #{color_create}",
                  :remote => true
  %></td>
</tr>
<% pr =owner.has_role?(:process) ||
        owner.has_role?(:create_process) ||
        owner.has_role?(:create_email_process) ||
        owner.has_role?(:email_process) %>
<% but_pr_state = pr == true ? "ON" : "OFF" %>
<% color_process = pr == true ? "" : "btn-danger" %>
<tr>
  <td>Create task(no approval needed)</td>
  <td><%= link_to but_pr_state,
                  set_user_owner_status_admin_owner_path(@chain,
                                                         :mode => "process", :val => pr == true ? "OFF" : "ON", :user_id => owner.id), :class => "btn #{color_process}",
                  :remote => true
  %></td>
</tr>

<% em = owner.has_role?(:create_email_process) ||
        owner.has_role?(:email) ||
        owner.has_role?(:create_email)||
        owner.has_role?(:email_process) %>
<% but_state = em == true ? "ON" : "OFF" %>
<% color_email = em == true ? "" : "btn-danger" %>
<tr></tr>
<td>Member email address is visible</td>
<td><%= link_to but_state, set_user_owner_status_admin_owner_path(@chain,
                                                                  :mode => "email", :val => em == true ? "OFF" : "ON", :user_id => owner.id),
                :class => "btn #{color_email}",
                :remote => true

%> </td>

</tr>
<tr>
  <td>Take action page </td>
  <td>
    <%#= debug Owner.owner_chain_take_action?(owner) %>
    <% btn_state = Owner.owner_chain_take_action?(owner) %>
    <% color_btn = btn_state == "ON" ? 'btn-success' : 'btn-danger' %>

    <%#= debug owner %>
    <%= link_to "#{btn_state}",
                set_take_action_setting_new_admin_owner_path(
                        :val => btn_state == "ON" ? "OFF" : "ON", :chain_id => @chain, :owner_id => owner.id),
                :class => "btn #{color_btn}", :id => "btn_action_#{@chain}", :remote => true
                 %>

  </td>
</tr>
<script>
    $(document).ready(function () {

        $('.btn').click(function () {
            var r = confirm("Are You sure Want to Turn Off / On the setting?");
            if (r == true) {
                $('#content').ajaxloader('show');
            }
            else {
                x = "You pressed Cancel!";
            }
        });
    });
</script>