<% unless @owners.blank? %>
<div class="page-header">
  <h3><%= @restaurant.dashboard_display_text %>'s Owners</h3>
</div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Email</th>
    <th>Title</th>
    <th>Permission</th>
  </tr>
  </thead>
  <tbody>
  <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.email %></td>
        <td><%= owner.title %></td>
        <td><%= owner.role_id.eql?(1) ? "Chain" : "Restaurant" %></td>
      </tr>
      </tbody>
  <% end %>
  </table>
<br />
<% else %>
    There are no restaurant owner for this restaurant
<% end %>