Restaurants <br />
<%= select_tag "restaurant_select_id",
               options_from_collection_for_select(@restaurants, "id", "dashboard_display_text"),
               {:include_blank => false, :class => 'multiselect', :multiple => true}%>
<%= link_to "#{image_tag 'add.png'}".html_safe, new_admin_restaurant_path, :target => "_blank" %>

<script type="text/javascript">
    $(".multiselect").multiselect({
        selectedText: "# of # selected"
    });
</script>