Restaurants <br />
<%= select_tag "restaurant_select_id",
               options_from_collection_for_select(@restaurants, "id", "dashboard_display_text"),
         {:include_blank => true, :onchange => "$('#chain_loader').show();$.ajax({
url: '/admin/owners/restaurant_selection',
data: {res_id : $('#restaurant_select_id').val()}
});"}%> <%= link_to "#{image_tag 'add.png'}".html_safe, new_owner_admin_restaurants_path %>