<% btn_state = Owner.chain_take_action?(chain) %>
<% btn_color = btn_state == "ON" ? 'btn-success' : 'btn-danger' %>
<%= link_to "#{btn_state}",
            set_take_action_setting_admin_owner_path(
                    :val => btn_state == "ON" ? "OFF" : "ON", :chain_id => chain.id),
            :class => "btn #{btn_color}" , :id => "btn_action_#{chain.id}" ,:remote => true,
            :confirm => "Are You sure Want to Turn #{btn_state == "ON" ? "OFF" : "ON"} the setting?" %>
