<%= form_tag post_setting_admin_owner_path(chain), :class => "form-horizontal" do %>
    <%= hidden_field_tag "chain_id", @chain.id %>
    <fieldset>
      <legend>Dashboard Settings View , for chain <%= @chain.name %></legend>
      <span class="label">All Location :</span>
       <%= check_box_tag "all_location", true, @filter_location.blank? ? false : true, :class => "checkbox" %>
      <i> * this will set the all location to be checked all ..</i> <br/> <br/>
      <span class="label">Average :</span>
       <%= check_box_tag "average", true, @filter_average.blank? ? false : true, :class => "checkbox" %>
      <i> * this will set the average checked as the default ..</i><br/> <br/> <br/>
      <span class="label">Chart
        Filtering: </span>
      <%= select_tag "filter", options_for_select([["day", "day"],["week","week"],["month", "month"],["3month", "3month"],["all", "all"]], @filter.blank? ? "week" : @filter) %>
      <i> * this will set the default filter as <span id="chart_filter"></span> ..</i><br/>
      <br/><br/>
      <%= submit_tag "Update Setting", :class => "btn" %>
    </fieldset>
<% end %>
 <script>
$(document).ready(function(){
    $('#chart_filter').text($('#filter').val());
    $('#filter').change(function(){
        $('#chart_filter').text($('#filter').val());
    });
});
 </script>