<p id="notice"><%= notice %></p>

<% if @owner.chain_owner? %>
    Chain Owner
<% else %>
    Restaurant Owner
<% end %>
<% if @owner.chain_owner? %>
    <%= @owner.chains.map(&:name) %>
    <% else %>
    <%= @owner.restaurant_list.map(&:dashboard_display_text) %>
<% end %><br />
First Name: <%= @owner.first_name %> <br/>
Last Name: <%= @owner.last_name %> <br/>
Email: <%= @owner.email %> <br/>
Address: <%= @owner.address %> <br/>
City: <%= @owner.try(:city).try(:label) %> <br/>
<br/>
Zipcode: <%= @owner.zipcode %> <br/>
Work Contact Number: <%= @owner.work_contact_number %> <br/>
Cell Contact Number: <%= @owner.cell_contact_number %> <br/>

<%= link_to 'Edit', edit_admin_owner_path(@owner) %> |
<%= link_to 'Back', admin_owners_path %>
