<p id="notice"><%= notice %></p>

Manager of :          <br />


<%= @owner.restaurant_list.map(&:dashboard_display_text) %>  <br />

First Name: <%= @owner.first_name %> <br/>
Last Name: <%= @owner.last_name %> <br/>
Email: <%= @owner.email %> <br/>
Address: <%= @owner.address %> <br/>
City: <%= @owner.try(:city).try(:label) %> <br/>
<br/>
Zipcode: <%= @owner.zipcode %> <br/>
Work Contact Number: <%= @owner.work_contact_number %> <br/>
Cell Contact Number: <%= @owner.cell_contact_number %> <br/>

<%= link_to 'Edit', edit_admin_manager_path(@owner) %> |
<%= link_to 'Back', admin_managers_path %>
