<h1>Dashboard Survey Page Settings</h1>
<div id="content">
  <table>
    <thead>
    <th>Name</th>
    <th>Status</th>
    </thead>
    <tbody id="perm-<%= @owner.id %>">
    <%= render :partial => 'permission', :locals => {:owner => @owner} %>
    </tbody>
  </table>
</div>