<h1>Listing Owners</h1>

<div class="controls">
  <%= select_tag 'chain_restaurants', options_from_collection_for_select(Chain.active.order("name"), :id, :name), :prompt => "Please select chain",
                 :onchange => "$('#chn_id').val(this.value);$('#page').val(1);$('#loader').show(); $('#sub').click();" %>
  <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>

  <%= form_tag admin_owners_path, :id => "form-owners", :class => 'form-horizontal', :style => "display:nonex;", :remote => true, method: :get do %>
      <%= hidden_field_tag "chn_id" %>
      <%= hidden_field_tag "page" %>
      <%= submit_tag "submit", :id => "sub", style: 'display:none;' %>
  <% end %>

</div>

<div id="boxListOwners">
  <%= render "list_owners" %>
</div>