<h1>Listing Managers</h1>

<table>
  <caption></caption>
  <thead>
  <tr>
    <th>Chain Id</th>
    <th>Chains</th>
    <th>View and Edit Managers</th>
  </tr>
  </thead>
  <tbody>

  <% @chains.each do |chain| %>
      <tr>
        <td><%= chain.id %></td>
        <td><%= chain.name %></td>
        <td>
          <%= link_to 'View', list_manager_admin_manager_path(chain), :class => "btn btn-mini btn-primary" %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @chains %> <br/>
<%= link_to 'New Manager', new_admin_manager_path, :class => 'btn btn-primary'  %>
