<h3>This is where are the template for the email when chain/restaurant owner is created</h3>
<br /><br />
<i>add %{owner_email} to show where the owner email will shown</i><br />
<i>add %{password} to show where the password will shown</i><br />
<i>add %{chain_name} to show where the chain name will shown</i>  <br />
<i>add %{restaurants} to show where the restaurant collections will shown</i><br />

<i></i>

<%= form_tag set_email_confirmation_admin_owners_path do  %>
    Email Subject <br /><%= text_field_tag "email_subject", @email_subject %><br />
    Email Content <br /><%= text_area_tag "email_content", @email_content, :style => "width:400px;height:200px;" %><br />
    <%= submit_tag "submit" %>
<% end %>