<% if @res %>
$('#restaurant_owner_list').html("<%= escape_javascript(render "restaurant_owner") %>")
<% else %>
    $('#restaurant_select').html("<%= escape_javascript(render "restaurant") %>")
<% end %>

$('#chain_loader').hide();