<div class="page-header">
  <h3><%= @chain.name %>'s Owners</h3>
</div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Email</th>
    <th>Title</th>
    <th>Permission</th>
    <th>Actions</th>
    <th>Guest Relation</th>
  </tr>
  </thead>
  <tbody>
  <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.email %></td>
        <td><%= owner.title %></td>
        <td><%= owner.role_id.eql?(1) ? "Chain" : "Restaurant" %></td>
        <td>
          <%= link_to "Show", detail_admin_owner_path(owner) %>
          <%= link_to "Edit", edit_admin_owner_path(owner) %>
          <% if owner.is_active %>
              <%= link_to "Deactivate", admin_owner_path(owner), :method => :delete, :confirm => "Are you sure?" %>
          <% else %>
              <%= link_to "Activate", admin_owner_path(owner), :method => :delete, :confirm => "Are you sure?" %>
          <% end %>
        </td>
        <td id="permission_<%= owner.id %>">
          <%= link_to "Edit", edit_permission_admin_owner_path(owner) %>
        </td>
      </tr>
      </tbody>
  <% end %>
  </table>
<br/>
<%= link_to "Back", admin_owners_path, :class => "btn btn-primary" %>

<script>
    $(document).ready(function () {
        $('.check_request').change(function () {
            alert('asdfsdfs');
        });
    });
</script>