<div class="page-header">
  <h3><%= @chain.name %>'s Managers</h3>
</div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Email</th>
    <th>Title</th>
    <th>Permission</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @managers.each do |owner| %>
      <tr>
        <td><%= owner.email %></td>
        <td><%= owner.title %></td>
        <td><%= "Manager" %></td>
        <td>
          <%= link_to "Show", detail_admin_manager_path(owner) %>
          <%= link_to "Edit", edit_admin_manager_path(owner) %>
          <% if owner.is_active %>
              <%= link_to "Deactivate", admin_owner_path(owner), :method => :delete, :confirm => "Are you sure?" %>
          <% else %>
              <%= link_to "Activate", admin_owner_path(owner), :method => :delete, :confirm => "Are you sure?" %>
          <% end %>
        </td>
      </tr>
      </tbody>
  <% end %>
  </table>
<br />
<%= link_to "Back", admin_managers_path, :class => "btn btn-primary" %>