<div class="page-header">
  <h3>Unknown's Owners</h3>
</div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Email</th>
    <th>Title</th>
    <th>Permission</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% unless @owners.blank? %>
  <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.email %></td>
        <td><%= owner.title %></td>
        <td><%= owner.role_id.eql?(1) ? "Chain" : "Restaurant" %></td>
        <td>
          <%= link_to "Show", detail_admin_owner_path(owner) %>
          <%= link_to "Edit", edit_admin_owner_path(owner) %>
          <% if owner.is_active %>
              <%= link_to "Deactivate", admin_owner_path(owner), :method => :delete, :confirm => "Are you sure?" %>
          <% else %>
              <%= link_to "Activate", admin_owner_path(owner), :method => :delete, :confirm => "Are you sure?" %>
          <% end %>
        </td>
      </tr>
      </tbody>
  <% end %>
  <% else %>
  <tr><td colspan="4">There are no unknown owner</td></tr>
      <% end %>
  </table>
<br />
<%= link_to "Back", admin_owners_path, :class => "btn btn-primary" %>