<table>
  <tr>
    <th>Survey Id</th>
    <th>Title</th>
    <th>Chain</th>
    <th>Valid from date</th>
    <th>Valid to date</th>
    <th>Offers</th>
    <th>Rewards</th>
    <th>Status</th>
    <th></th>
  </tr>

<% @surveys.each do |survey| %>
  <tr>
    <td><%= survey.id %></td>
    <td><%= survey.title %></td>
    <td><%= survey.try(:chain).try(:name) %></td>
    <td><%= survey.valid_from_date ? (l survey.valid_from_date) : '---' %></td>
    <td><%= survey.valid_to_date ? (l survey.valid_to_date) : '---' %></td>
    <td><%= survey.offers.map(&:name)%></td>
    <td><%= survey.rewards.map(&:name)%></td>
    <td><%= survey_status_name(survey.status)%></td>

    <td><%= link_to 'Take survey', user_survey_path(survey) %></td>
  </tr>
<% end %>
</table>

