<h1>User::Surveys#show</h1>
<p id="notice"><%= notice %></p>

<div class="x-box" style="border: 1px dashed #000">
  <div class="x-box-inner">
    <b class="x-label-heading">Title:</b> <%= @survey.title %> <br/>
    <b class="x-label-heading">Chain:</b> <%= @survey.try(:chain).try(:name) %> <br/>
  </div>
  <div class="x-box-inner">
    <b class="x-label-heading">Valid from date:</b> <%= @survey.valid_from_date %> <br/>
    <b class="x-label-heading">Valid to date:</b> <%= @survey.valid_to_date %> <br/>
  </div>
</div>
<div class="x-box">
  <% if !@survey.questions.blank? %>
      <h1>Survey Questions/Comments </h1>
      <ul class="x-question-box">
        <% @survey.questions.each do |question| %>
            <li> <%= question.text %>
              <% if !question.question_choices.blank? %>
                  <ul class="x-choice-list">
                    <% question.question_choices.each do |choice| %>
                        <li><%= choice.label %> --- <%= choice.value %></li>
                    <% end %>
                  </ul>
              <% end %>
            </li>
        <% end %>
      </ul>
  <% end %>
</div>

<%= link_to 'Back', admin_surveys_path %>
