<% btn_state = Owner.chain_take_action?(chain) %>
<% btn_color = btn_state == "ON" ? 'btn-success' : 'btn-danger' %>
<%= link_to "#{btn_state}",
            set_take_action_setting_chain_admin_chain_path(chain,
                    :val => btn_state == "ON" ? "OFF" : "ON"),
            :class => "btn #{btn_color} btn-sm" , :id => "btn_action_#{chain.id}" ,:remote => true,
            data: {confirm: "Are You sure Want to Turn #{btn_state == "ON" ? "OFF" : "ON"} the setting?"} %>

