<% unless chain.emma_setting.blank? %>
    <% if chain.emma_sync_now_status == "open" %>
        <%= link_to "Sync Now", sync_now_emma_admin_chain_path(chain), :class => "btn btn-primary btn-sm", :remote => true %>
    <% else %>
        <%= link_to "Syncing...", "#", :style => "pointer-events: none; cursor: default;", :class => "btn btn-primary btn-sm" %>
    <% end %>
<% else %>
    <%= link_to "Sync Now", "#", :style => "pointer-events: none; cursor: default;", :class => "btn btn-sm "%>
<% end %>