<% if chain.fishbowl_setting %>
  <% if chain.fishbowl_sync_now_status == "open" %>
    <%= link_to "Sync Now", fishbowl_sync_now_admin_chain_path(chain), :class => "btn btn-primary btn-sm", :remote => true %>
  <% else %>
    <%= link_to "Syncing...", "#", :style => "pointer-events: none; cursor: default;", :class => "btn btn-primary btn-sm" %>
  <% end %>
<% else %>
  <%= link_to "Sync Now", "#", :style => "pointer-events: none; cursor: default;", :class => "btn btn-sm" %>
<% end %>