<div class="x-box">
<hr>
<%= custom_form_for([:admin, @chain], :html => {:multipart => true}) do |f| %>
  
    <legend>GENERIC SETTINGS</legend>
    <%= f.input :name %>

    <%= f.input :points, wrapper: :horizontal_input_group, label: 'One Dolar =*' do %>
      <%= f.input_field :points, class: "form-control form-control-sm" %>
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">points</span>
      </div>
    <% end %>

    <%= f.input :user_points, wrapper: :horizontal_input_group, hint: "", label: 'One Reward Points =' do %>
      <%= f.input_field :user_points, class: "form-control form-control-sm" %>
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">user points</span>
      </div>
    <% end %>

    <%= f.input :email, wrapper: :horizontal_input_group, hint: "example : Peter's Pizza-Pub <ppp.support@relevantmobile.com>"  do %>
      <%= f.input_field :email, class: "form-control form-control-sm" %>          
    <% end %>

    <%= f.input :survey_email, wrapper: :horizontal_input_group, hint: "example : Peter's Pizza-Pub <ppp.support@relevantmobile.com>"  do %>
      <%= f.input_field :survey_email, class: "form-control" %>          
    <% end %>

    <%= f.input :timer, wrapper: :horizontal_input_group, hint: "Timer is in second.. ( default is 120 second)"  do %>
      <%= f.input_field :timer , :value => @chain.timer.nil? ? "120" : @chain.timer, class: "form-control" %>          
    <% end %>    

    <%= f.input :hours_delay_reward, wrapper: :horizontal_input_group, hint: "Hours Delay only integer ( 0 - 280 )"  do %>
      <%= f.input_field :hours_delay_reward, class: "form-control" %>          
    <% end %>

    <%= f.input :user_limit_receipt_approved_per_day, wrapper: :horizontal_input_group, hint: "User Limit Receipt Approved Per Day ( 0 -> Unlimited, N -> Limited Value )"  do %>
      <%= f.input_field :user_limit_receipt_approved_per_day, class: "form-control" %>          
    <% end %>

    <%= f.input :max_subtotal, wrapper: :horizontal_input_group, hint: "Field used to  show warning pop up to receipt reviewers while manullay reviewing receipts. 0 -> no limit"  do %>
      <%= f.input_field :max_subtotal, class: "form-control" %>          
    <% end %>

    <%= f.input :maximum_offer_points_earned_per_day, wrapper: :horizontal_input_group, hint: "0 - implies user can earn any number of points, Across one or multiple receipt submissions and or offers."  do %>
      <%= f.input_field :maximum_offer_points_earned_per_day, class: "form-control" %>          
    <% end %>

    <%= f.input :reward_timer, wrapper: :horizontal_input_group, hint: "Used to indicate new reward in rewards listing page", label: 'New Reward indicator timer (in hours)'  do %>
      <%= f.input_field :reward_timer, default: 24, class: "form-control" %>          
    <% end %>

    <%= f.input :max_number_of_locations, wrapper: :horizontal_input_group, hint: "Min: 10, Max: 100", label: 'Maximum Number of locations echoed'  do %>
      <%= f.input_field :max_number_of_locations, default: 10, min: 10, max: 100, class: "form-control",
                         onchange: "if(isNaN(parseInt($(this).val()))){$(this).val(10)} else if($(this).val() < 10){$(this).val(10)} else if ($(this).val() > 100){$(this).val(100)};" %>          
    <% end %>  
    
    <%= f.input :code_scan_range, wrapper: :horizontal_input_group, hint: "This is the radius from user's latitude longitude where locations under chain have to fall within for the scan to be accepted to process for loyalty. 0 => the range is unlimited"  do %>
      <%= f.input_field :code_scan_range, default: 24, class: "form-control" %>          
    <% end %>
    
    <%= f.input :locales, collection: Locale.all, as: :select, selected: @chain.locales.map(&:id), input_html: {multiple: true, class: 'multiple-select SumoUnder'} %>
    <%= f.input :owners, collection: Owner.all, as: :select, selected: @chain.owners.map(&:id), input_html: {multiple: true, class: 'multiple-select SumoUnder'} %>
    <%= f.input :restaurants, collection: Restaurant.where(chain_id: @chain.id), as: :select, selected: @chain.restaurants.map(&:id), input_html: {multiple: true, class: 'multiple-select SumoUnder'}  unless action.eql?('create') %>
    <%= f.input :phone_number_is_required, as: :boolean, label: 'Phone Number Required?' %>
    
    
    <%= f.input :unique_phone_number_required, as: :boolean, label: 'Unique Phone Number?' if f.respond_to?(:unique_phone_number_required) %>
    <%= f.input :birthday_required, as: :boolean, label: 'Collect Year Info ?'  %>

    <div id="check_age_box" class="field" style="display: <%= @chain.birthday_required ? "block" : "none"%>">
      <%= f.input :check_age_required, as: :boolean, label: 'Check Age ?', inline_label: true %>
    </div>

    <div id="check_age_value_box" class="field" style="display: <%= @chain.check_age_required ? "block" : "none"%>">
      <%= f.input :check_age_value %>   <br />
    </div>
    <%= f.input :required_unique_device_info, as: :boolean, label: 'Requires unique device info for signup incentive' %>
    <%= f.input :require_point_signup_incentive, as: :boolean, label: 'Sign up points incentive' %>
    
    <div id="point_signup_incentive_box" class="field" style="display: <%= @chain.require_point_signup_incentive ? "block" : "none"%>">
      <%= f.input :point_signup_incentive %>   <br />
    </div>

    <div id="fb_signup_incentive_box" class="field">
      <%= f.input :fb_signup_incentive, as: :boolean, label: 'FB Sign up incentive' %>
    </div>

    <div id="fb_signup_incentive_point_box" class="field" style="display: <%= @chain.fb_signup_incentive ? "block" : "none"%>">
      <%= f.input :fb_signup_incentive_point %>   <br />
    </div>
        

    <fieldset>
      <legend>FTP Server Settings</legend>
        <%= f.input :ftp_url %>
        <%= f.input :ftp_port %>
        <%= f.input :ftp_username %>
        <%= f.input :ftp_password, :as => :string %>        
    </fieldset>
    
    <div id="rewards_image" class="field" style="">

      <%= f.input :rewards_image, :as => :file, :label => "Rewards Image" %>
      <% if @chain.rewards_image.present? %>
        <%= image_tag @chain.rewards_image.url(:thumb) %> <br />
        <%= f.input :delete_reward_image, as: :boolean, checked_value: true, unchecked_value: false, :label => 'Delete Image' %>

      <% end %>
    </div>

    <div class="field">
      <%= f.input :activate_milestone_receipt,
                  :collection => [[true, 'Activate Milestone Receipt'], [false, 'Activate Steppingstone']],
                  :label_method => :last,
                  :value_method => :first,
                  :as => :radio_buttons,
                  :label => false
      %>
    </div>

    <div class="field">
      <%= f.simple_fields_for :chain_setting do |cs| %>
        <%= cs.input :hybrid_milestone_regular_rewards_enabled, as: :boolean, inline_label: 'HYBRID MILESTONE REGULAR REWARDS ENABLED', label: false %>
      <% end %>
    </div>

    <div class="field">
      <%= f.input :reward_code_generated_type,
                  :collection => Chain::REWARD_CODE_GENERATED_TYPE.to_a,
                  :label_method => :first,
                  :value_method => :last,
                  :as => :radio_buttons,
                  :label => false
      %>
    </div>

  </fieldset>

  <!--<br/><br/>-->
  <!--<fieldset>-->
  <!--<legend>Report Generate:</legend>-->
  <!--<div class="field">-->
  <!--<%#= f.label :report_period %>-->
  <%#= f.input_field :report_period %> <!--- Days, <span style="margin-left:10px;"><i>Periodic report to be generated in days</i></span> -->
  <!--</div>-->
  <!--<br/>-->
  <!--<div class="field">-->
  <!--<%#= f.label :report_start_date %>-->
  <!--<%#= f.input_field :report_start_date,:as => :string, :class => 'x-datepicker' %>-->
  <!--</div>-->

  <!--<div class="field">-->
  <!--<%#= f.label :report_end_date %>-->
  <!--<%#= f.input_field :report_end_date,:as => :string, :class => 'x-datepicker'  %>-->
  <!--</div>-->
  <!--</fieldset>-->

  <fieldset>
    <legend>PHP MIGRATION</legend>
    <%= f.input :php_chain_id, :label => "PHP Chain ID" %>
    <%= f.input :check_php_migration, as: :boolean, inline_label: 'Check for PHP Migration', label: false%>
  </fieldset>


  <br/><br/>
  <fieldset>
    <legend>POS SETTINGS</legend>
    <div class="field">
      <%= f.input :user_reward_redeemption_flow,
                  :collection => [[1, 'From App'], [2, 'Code scan from POS'], [3, 'Hybrid Setting']],
                  :label_method => :last,
                  :value_method => :first,
                  :as => :radio_buttons,
                  :label => "Reward Redeemption Flow"
      %>
      <i>When pick Hybrid Setting, New Link will appears Called 'Hybrid Reward Redemption Flow Setting' on this form after updated.</i>
      <br />
      <%= link_to "Hybrid Reward Redemption Flow Setting", hybrid_reward_redemption_admin_chain_path(f.object), :class => "btn btn-primary" if f.object.user_reward_redeemption_flow.eql?(3) %>

      <br/>
    </div>
    <br/>
    <%= f.input :pos_receipt_processing_delay, wrapper: :horizontal_input_group, hint: "POS Receipt processing delay  minutes only integer"  do %>
      <%= f.input_field :pos_receipt_processing_delay, class: "form-control" %>          
    <% end %>

    <div id="pos_used_type" class="field">
      <%= f.input :pos_used_type,
                  :collection => Chain::POS_USED_TYPE.invert.to_a,
                  :label_method => :last,
                  :value_method => :first,
                  :as => :radio_buttons,
                  :label => "POS Used Type"
      %>
    </div>

    <%= f.input :pos_receipt_processing_delay, wrapper: :horizontal_input_group, label: 'NO of days Micros Table receipt barcode can be scanned from day of generation', hint: "0 -> No Limit"  do %>
      <%= f.input_field :pos_receipt_processing_delay, class: "form-control" %>          
    <% end %>
    <%= f.input :pos_discount_setting, collection: Chain::POS_DISCOUNT_TYPE %>

    <%= f.input :netpos_batch_check_request, wrapper: :horizontal_input_group, label: 'NET POS  batch check request', hint: "in minutes"  do %>
      <%= f.input_field :netpos_batch_check_request, class: "form-control" %>          
    <% end %>

    <%= f.input :auto_loyalty, label: "AUTO Loyalty Active for reward redeem (Only for MICROS and NORTHKEY)" %>
    
    <% if f.respond_to?(:unique_phone_number_required) %>
      <div class="field">
        <%= f.input :payment_processor, collection: Chain::PAYMENT_PROCESSOR_TYPE %>
      </div>
    <% end %>
    <br>
    <legend>ONLINE ORDER PARTNER RESTAURANT  SETTINGS</legend>
    <div class="field">
      <%= f.simple_fields_for :chain_setting do |cs| %>
          <%= cs.input :olo_restaurant_hour_sync, as: :boolean, inline_label: 'Hours Sync', label: false %>
      <% end %>
    </div>
    <br>
    <legend>Domain Email Validation SETTINGS</legend>
    <div class="field">
      <%= f.simple_fields_for :chain_setting do |cs| %>
        <%= cs.input :domain_email_validation, as: :boolean, inline_label: 'Domain Email Validation', label: false %>
      <% end %>
    </div>
    <br>
    <legend>User email signup Confirmation</legend>
    <div class="field">
      <%= f.simple_fields_for :chain_setting do |cs| %>
          <%= cs.input :user_email_confirmation, as: :boolean, inline_label: 'Signup Email Confirmation', label: false %>
      <% end %>
    </div>
    <legend>EXTERNAL PARTNER</legend>
    <div class="field">
      <%= f.simple_fields_for :chain_setting do |cs| %>
        <%= cs.input :external_partner, collection: ChainSetting::EXTERNAL_PARTNERS %>
      <% end %>
    </div>
  </fieldset>

  <br/><br/>
  <div class="actions">
    <%= f.button :submit, :class => "btn btn-primary" %> <br /><br />
  </div>
<% end %>
</div>

<% content_for :bottom_assets do %>
  <script>
    $(document).ready(function(){
      $('#chain_birthday_required').change(function(){
        if($(this).is(":checked")){
          $('#check_age_box').show();
        }else{
          $('#check_age_box').hide();
          $('#chain_check_age_required').removeAttr("checked");
        }
      })

      $('#chain_check_age_required').change(function(){
        if($(this).is(":checked")){
          $('#check_age_value_box').show();
        }else{
          $('#check_age_value_box').hide();
          $('#chain_check_age_value').val("");
        }
      })

      // $('#chain_required_unique_device_info').change(function(){
      //   if($(this).is(":checked")){
      //           $('#require_point_signup_incentive_box').show();
      //       }else{
      //           $('#chain_require_point_signup_incentive').removeAttr("checked");
      //           $('#require_point_signup_incentive_box').hide();
      //           $('#point_signup_incentive_box').hide();
      //           $('#chain_point_signup_incentive').val("");
      //       }
      // })

      $('#chain_require_point_signup_incentive').change(function(){
        if($(this).is(":checked")){
          $('#point_signup_incentive_box').show();
        }else{
          $('#point_signup_incentive_box').hide();
          $('#chain_point_signup_incentive').val("");
        }
      })

      $('#chain_fb_signup_incentive').change(function(){
        if($(this).is(":checked")){
          $('#fb_signup_incentive_point_box').show();
        }else{
          $('#fb_signup_incentive_point_box').hide();
          $('#chain_fb_signup_incentive_point').val("");
        }
      })
    })
  </script>

  <style type="text/css">
    div#pos_used_type {margin: 20px 0px;}
    div#pos_used_type .radio.inline{width: 130px;}
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/jquery.sumoselect.js"></script>
  <style type="text/css">
    .SumoSelect .select-all{
      height: 30px !important;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.sumoselect/3.0.2/sumoselect.css" />
  <script type="text/javascript">
    $(".multiple-select").SumoSelect({ okCancelInMulti: true, selectAll: true });
  </script>
<% end%>