<div class="alert-error" style="display:none;">Only Number Allowed between 0 - 280</div>
<%= form_tag "/update_hours_delay_chain", :remote => true do %>
  <div style="margin-left:100px;">
    Hours : <%= text_field_tag "chain_delay",nil, :id => "chain_delay" %></div>
  <%= hidden_field_tag "chain_id",nil, :id => "chain_id" %>
  <%= submit_tag "save", :style => "display:none", :id => "submit_button" %>
<% end %>