<div class="nested-fields">
  <table>
    <tr>
      <td >
        <%= f.input :locale_id, :collection => Locale.all %>
        <%= f.input :title %>
        <%= f.input :subtitle, :input_html => {:rows => 3, :cols => 4} %>
      </td>
      <td style="vertical-align: middle">
        <%= link_to_remove_association "remove", f, :class => "btn btn-danger" %>
      </td>
    </tr>
  </table>
</div>