<div class="table-responsive">
  <table class="table table-bordered table-responsive table-condensed">
    <thead>
      <tr>
        <th class=" ta-center">
          <a class="order-table" href="#" data-attribute="0">ID</a>
        </th>
        <th class="">
          <a class="order-table" href="#" data-attribute="1">Chain Name</a>
        </th>
        <th class="">
          <a class="order-table" href="#" data-attribute="2">Chain Owners</a>
        </th>
        <th class="">
          <a class="order-table" href="#" data-attribute="3">Chain Locales</a>
        </th>
        <th class="">
          <a class="order-table" href="#" data-attribute="4">Dollar to Point Ratio</a>
        </th>
        <th class="th-medium">
          <a class="order-table" href="#" data-attribute="5">Reward Points to User Points Ratio</a>
        </th>
        <th class=" th-email">
          <a class="order-table" href="#" data-attribute="6">Email</a>
        </th>
        <th class="th-email">
          <a class="order-table" href="#" data-attribute="7">Survey Email</a>
        </th>
        <th class="">
          <a class="order-table" href="#" data-attribute="8">Hours Delay Before Pushed to User</a>
        </th>
        <th class="">
          <a class="order-table" href="#" data-attribute="9">User Limit Receipt Approved Per Day</a>
        </th>
        <th class="ta-center">Actions</th>
        <th class="th-medium ta-center">Mailchimp</th>
        <th class="th-medium ta-center">Fishbowl</th>
        <th class="th-medium ta-center">Myemma</th>
        <th class=" ta-center">DashBoard(Take Action)</th>
      </tr>
    </thead>
    <tbody>

      <% @chains.each do |chain| %>
        <tr>
          <td class="ta-center"><%= chain.id %></td>
          <td><%= chain.name %></td>
          <td>
            <% if chain.owners.map(&:full_name).length != 0 %>
              <a href="#myModal" data-toggle="modal" class="list-owner" data-attribute="<%= chain.owners.map(&:full_name).join("<br/> ").html_safe %>">
                <%=  pluralize(chain.owners.size,"Owner") %>
              </a>
            <% else %>
              no owners
            <% end %>
          </td>
          <td><%=chain.locales.map(&:name).join(", ") %></td>
          <td>$1=<%= chain.points %> points</td>
          <td>1 reward point=<%= chain.user_points || 1 %> user points</td>
          <td>
            <a href="#myModal" data-toggle="modal" class="short_email" data-attribute="<%= chain.email.gsub("<","---").gsub(">","") rescue nil %>">
              <%= chain.email.try(:slice, 0, 10) %>...
            </a>
          </td>
          <td>
            <% if chain.survey_email != nil && chain.survey_email != ""  %>
              <a href="#myModal" data-toggle="modal" class="short_email" data-attribute="<%= chain.survey_email.gsub("<","---").gsub(">","") rescue nil %>">
                <%= chain.survey_email.try(:slice, 0, 10) %>...
              </a>
            <% end %>
          </td>
          <td class="ta-center">
            <span id="hour_val_<%=chain.id%>"><%= chain.hours_delay_reward %></span>
            <%= link_to "edit","#",:class => "hours_delay", :id => "chain_#{chain.id}" %>
            <%= hidden_field_tag "hour_delay",chain.hours_delay_reward, :id => "hour_#{chain.id}" %>
          </td>
          <td><%= chain.user_limit_receipt_approved_per_day %></td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
              </button>
              <div class="dropdown-menu">

                <%= link_to 'Show', admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to 'Edit', edit_admin_chain_path(chain), :class => "dropdown-item" %>
                <% if chain.status.eql?('active') %>
                  <%= link_to 'Deactivate', change_status_admin_chain_path(chain, "deactivate"), :class => "dropdown-item", data: { confirm: 'Are you sure?'} %>
                <% else %>
                  <%= link_to 'Activate', change_status_admin_chain_path(chain, "activate"), :class => "dropdown-item", data: {confirm: 'Are you sure?'} %>
                <% end %>
                <%= link_to "Chain URLs", admin_chain_chain_urls_path(chain), :class => "dropdown-item" %>
                <%= link_to "Image Text Share", admin_chain_image_text_shares_path(chain), :class => "dropdown-item" %>
                <%= link_to "User - Reward Notification Setting", new_reward_notification_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "User - Birthday Notification Setting", new_birthday_reward_notification_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "User - Point Notification Setting", new_point_notification_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Admin Push - Reward Notification Setting", new_admin_push_reward_notification_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Referral Email Setting", new_referral_notification_admin_chain_path(chain), :class => 'dropdown-item' %>
                <%= link_to "Milestone Notification Setting", new_milestone_notification_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Email Parse Setting", new_email_parse_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Account Notification Setting", new_account_notification_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Giftcard Notification Emails ", new_giftcard_notification_email_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Reward Share Text", new_reward_share_text_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Survey Response Alert", new_survey_response_alert_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Privacy Policy", admin_chain_text_tile_contents_path("privacy_policy", chain), :class => "dropdown-item" %>
                <%= link_to "Term", admin_chain_text_tile_contents_path("term", chain), :class => "dropdown-item" %>
                <%= link_to "Faq", admin_chain_text_tile_contents_path("faq", chain), :class => "dropdown-item" %>
                <%= link_to "About Us", admin_chain_text_tile_contents_path("about_us", chain), :class => "dropdown-item" %>
                <%= link_to "Contact Us FAQ", admin_chain_text_tile_contents_path("contact_us_faq", chain), :class => "dropdown-item" %>
                <%= link_to "Game FAQ", admin_chain_text_tile_contents_path("game_faq", chain), :class => "dropdown-item" %>
                <%= link_to "Game Notification Setting", new_game_notification_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Game Point Notification Setting", new_game_point_notification_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Migration - Reset password setting", new_reset_email_notification_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "[Dashboard] Setting", dashboard_setting_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "LAPSED USER/ Miss you ", admin_chain_task_definitions_path(chain), :class => "dropdown-item" %>
                      <%= link_to "No Scan Users ", admin_chain_no_scan_task_path(chain), :class => "dropdown-item" %>

                <%#= link_to "Setting Question, for dashboard", admin_chain_dashboard_questions_path(chain) %>
                <%#= link_to "Create Dashboard signature", new_dashboard_signature_admin_chain_path(chain) %>
                <%#= link_to "Create Dashboard Miss You Setting", admin_chain_task_definitions_path(chain) %>
                <%= link_to "Point Rounding Preference", new_admin_rounding_setting_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Mailchimp Setting", new_mailchimp_setting_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Emma Setting", new_emma_setting_admin_chain_path(chain), :class => "dropdown-item" %>
                <%#= link_to "Guest Relation Setting", new_guest_relation_setting_admin_chain_path(chain) %>
                <%= link_to "Launch Text Setting", new_launch_text_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Itunes / play store app link", itunes_play_store_config_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "API Response Text", admin_chain_api_response_texts_path(chain), :class => "dropdown-item" %>
                <%= link_to "Giftcard Skins", admin_chain_giftcard_skins_path(chain), :class => "dropdown-item" %>
                <%= link_to "FAQ Config", admin_chain_faqs_path(chain), :class => "dropdown-item" %>
                <%= link_to "Fishbowl API Setting", new_fishbowl_setting_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Survey Incentive Threshold Setting", new_survey_incentive_threshold_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Reward Expiration Notification Setting", new_reward_expiration_notification_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Check for Active reward notification", new_active_reward_notification_admin_chain_path(chain), :class => "dropdown-item" %>
                <% if chain.geo_data_setting.blank? %>
                    <%= link_to "Geo Data schedule", new_admin_chain_geo_data_setting_path(chain), :class => "dropdown-item" %>
                <% else %>
                    <%= link_to "Geo Data schedule", edit_admin_chain_geo_data_setting_path(chain,chain.geo_data_setting), :class => "dropdown-item" %>
                <% end %>
                <%= link_to "Receipt Code Settings ",new_receipt_code_setting_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Loyalty User Code Settings",new_user_code_setting_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Payment User Code Settings ",new_pay_code_setting_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Reward Redeemption Code Settings ",new_reward_code_setting_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Braintree Settings", new_btree_setting_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Gift Code Settings ",new_gift_code_setting_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "NETPOS Setting ",new_netpos_setting_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Olo Setting", olo_setting_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "No Scans Alert", admin_chain_chain_setting_alerts_path(chain), :class => "dropdown-item" %>
                <%= link_to "Notifications", admin_chain_notification_settings_path(chain), :class => "dropdown-item" %>
                <%= link_to "User Activity Based Notification", admin_chain_user_notifications_path(chain), :class => "dropdown-item" %>
                <%= link_to "Revel setting", revel_setting_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "locations update JSON Settings", location_update_json_admin_chain_path(chain), :class => "dropdown-item" %>
                <%= link_to "Momentfeed API Settings", new_momentfeed_setting_admin_chain_path(chain), :class => "dropdown-item" %>
              </div>
            </div>
            <% unless chain.use_generated_code %>
             <div class="clearfix"></div>
             <br />
             <%= link_to "Rewards POS Code", rewards_pos_codes_admin_chain_path(chain), :class => "btn btn-sm btn-primary" %>
            <% end %>
          </td>
          <td id="sync_now_btn_<%= chain.id %>">
            <%= render "sync_now_btn", {:chain => chain} %>
          </td>
          <td id="fishbowl_<%= chain.id %>">
            <%= render "fishbowl_sync_btn", {:chain => chain} %>
          </td>
          <td id="emma_sync_now_btn_<%= chain.id %>">
            <%= render "emma_sync_now_btn", {:chain => chain} %>
          </td>
          <td id="db_take_<%= chain.id %>">
            <%= db_take_btn(chain) %>
            <%#= render :partial => "db_take_btn",:locals =>  {:chain => chain} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <%= will_paginate @chains %>
