<% if !@survey.questions.blank? %>
    <i>This change will affect directly without pushing the button update</i>  <br />
    <% index = 0 %>
    <% @survey.questions.each do |question| %>
        <div id="<%= question.id %>">
          <% index += 1 %>
          <div style="float:left;margin-right: 30px;width: 150px"> <%= index%>. <%= question.text %></div>
          <% if question.rotating_group_id.blank? && question.question_type.eql?(1) %>
            <div id="unconquest_<%= question.id%>" class="question_box_opts_unconsidered unconsidered_box <%= question.is_considered_for_negative_response ? "" : "unconsidered_active" %>"></div>
            <div id="conquest_<%= question.id%>" class="question_box_opts_considered considered_box <%= question.is_considered_for_negative_response ? "considered_active" : "" %>"></div>
          <% end %>
          <div class="clearfix"></div>
          <% if !question.question_choices.blank? %>
              <div class="disabled x-choice-list" id="question-<%= question.id %>" style="margin-left:30px">
                <% question.question_choices.each do |choice| %>
                    <div class="disabled">
                      <table style="width: 20%;">
                        <tr>
                          <td>
                            <span><%= choice.label %></span>
                            ---
                            <span><%= choice.value %></span>
                          </td>
                          <td>
                            <% if question.rotating_group_id.blank? && !question.question_type.eql?(1)%>
                                <div id="unconchoice_<%= choice.id%>" class="choice_box_opts_unconsidered unconsidered_box <%= choice.is_considered_for_negative_response ? "" : "unconsidered_active" %>"></div>
                                <div id="conchoice_<%= choice.id%>" class="choice_box_opts_considered considered_box <%= choice.is_considered_for_negative_response ? "considered_active" : "" %>"></div>
                            <% end %>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="clearfix"></div>
                <% end %>
              </div>
          <% end %>
        </div>
    <% end %>
<% end %>

<div class="page-header">
  <h4>Set Question/Choice to be Considered for Negative Response From Rotating Group Question</h4>
</div>
Select Rotating Group : <%= select_tag "rotating_group_select", options_for_select(@survey.rotating_groups.map{|a| [a.name, a.id]}), {:include_blank => true}%>  <br />
<div id="rotating_group_question_list" style="margin-top: 10px;">

</div>

<script type="text/javascript">
    $(function() {
        $('.question_box_opts_unconsidered').click(function(){
            elem = $(this);
            id_elem = elem.attr("id");
            question_id = id_elem.split('_')[1];
            $('#survey_question_list').ajaxloader('show');
            $.get('/admin/chains/'+question_id+'/set_considered_question/question/0');
        });
        $('.question_box_opts_considered').click(function(){
            elem = $(this);
            id_elem = elem.attr("id");
            question_id = id_elem.split('_')[1];
            $('#survey_question_list').ajaxloader('show');
            $.get('/admin/chains/'+question_id+'/set_considered_question/question/1');
        });

        $('.choice_box_opts_unconsidered').click(function(){
            elem = $(this);
            id_elem = elem.attr("id");
            choice_id = id_elem.split('_')[1];
            $('#survey_question_list').ajaxloader('show');
            $.get('/admin/chains/'+choice_id+'/set_considered_question/choice/0');
        });

        $('.choice_box_opts_considered').click(function(){
            elem = $(this);
            id_elem = elem.attr("id");
            choice_id = id_elem.split('_')[1];
            $('#survey_question_list').ajaxloader('show');
            $.get('/admin/chains/'+choice_id+'/set_considered_question/choice/1');
        });

        $('#rotating_group_select').change(function(){
            $('#response_alert_setting_page').ajaxloader('show');
            id = $(this).val();
            if(id == ""){
                $.get('/admin/chains/'+0+'/load_survey_rotating_question');
            }else{
                $.get('/admin/chains/'+id+'/load_survey_rotating_question');
            }
        });
    });
</script>