<table>
  <caption>Listing Restaurants</caption>
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= link_to 'Show', admin_restaurant_path(restaurant) %> |
        <%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %> |
        <%= link_to 'Destroy', admin_restaurant_path(restaurant), confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @restaurants if @restaurants.present? %>