<% if !@rotating_group.questions.blank? %>
    <i>This change will affect directly without pushing the button update</i>  <br />
    <% index = 0 %>
    <% @rotating_group.questions.each do |question| %>
        <div id="rotating_<%= question.id %>">
          <% index += 1 %>
          <div style="float:left;margin-right: 30px;width: 150px"> <%= index%>. <%= question.text %></div>
          <% if question.question_type.eql?(1) %>
              <div id="rotatingunconquest_<%= question.id%>" class="rotating_question_box_opts_unconsidered unconsidered_box <%= question.is_considered_for_negative_response ? "" : "unconsidered_active" %>"></div>
              <div id="rotatingconquest_<%= question.id%>" class="rotating_question_box_opts_considered considered_box <%= question.is_considered_for_negative_response ? "considered_active" : "" %>"></div>
          <% end %>
          <div class="clearfix"></div>
          <% if !question.question_choices.blank? %>
              <div class="disabled x-choice-list" id="rotatingquestion-<%= question.id %>" style="margin-left:30px">
                <% question.question_choices.each do |choice| %>
                    <div class="disabled">
                      <table style="width: 20%;">
                        <tr>
                          <td>
                            <span><%= choice.label %></span>
                            ---
                            <span><%= choice.value %></span>
                          </td>
                          <td>
                            <% if !question.question_type.eql?(1)%>
                                <div id="rotatingunconchoice_<%= choice.id%>" class="rotating_choice_box_opts_unconsidered unconsidered_box <%= choice.is_considered_for_negative_response ? "" : "unconsidered_active" %>"></div>
                                <div id="rotatingconchoice_<%= choice.id%>" class="rotating_choice_box_opts_considered considered_box <%= choice.is_considered_for_negative_response ? "considered_active" : "" %>"></div>
                            <% end %>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="clearfix"></div>
                <% end %>
              </div>
          <% end %>
        </div>
    <% end %>
<% end %>

<script type="text/javascript">
    $(function() {
        $('.rotating_question_box_opts_unconsidered').click(function(){
            elem = $(this);
            id_elem = elem.attr("id");
            question_id = id_elem.split('_')[1];
            $('#rotating_group_question_list').ajaxloader('show');
            $.get('/admin/chains/'+question_id+'/set_considered_rotating_question/question/0');
        });
        $('.rotating_question_box_opts_considered').click(function(){
            elem = $(this);
            id_elem = elem.attr("id");
            question_id = id_elem.split('_')[1];
            $('#rotating_group_question_list').ajaxloader('show');
            $.get('/admin/chains/'+question_id+'/set_considered_rotating_question/question/1');
        });

        $('.rotating_choice_box_opts_unconsidered').click(function(){
            elem = $(this);
            id_elem = elem.attr("id");
            choice_id = id_elem.split('_')[1];
            $('#rotating_group_question_list').ajaxloader('show');
            $.get('/admin/chains/'+choice_id+'/set_considered_rotating_question/choice/0');
        });

        $('.rotating_choice_box_opts_considered').click(function(){
            elem = $(this);
            id_elem = elem.attr("id");
            choice_id = id_elem.split('_')[1];
            $('#rotating_group_question_list').ajaxloader('show');
            $.get('/admin/chains/'+choice_id+'/set_considered_rotating_question/choice/1');
        });
    });
</script>