<div class="page-header">
  <h2>Listing chains</h2>
</div>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Chain Id</th>
      <th>Chain Name</th>      
      <th>Locales</th>
      <th>Active Images</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

    <% @chains.each do |chain| %>
      <tr>
        <td><%= chain.id %></td>
        <td><%= chain.name %></td>
        <td><%=chain.locales.map(&:name)%></td>
        <% img = chain.image_share %>
        <% if img %>
        <td><%= link_to "Image", img %><br />
          <%= image_tag(img, :size => "150x150")%>
        </td>
        <% else %>
        <td>No active image for sharing</td>
        <% end %>
        <td>  <%= link_to "Image Text Share", admin_chain_image_text_shares_path(chain), :class => 'btn' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @chains %>
<br/>
