<% if @is_save %>
  $("#api_response_text_box").html('<h4>Notification successfully updated.</h4>');
<% else %>
   $("#api_response_text_box").html("<%= escape_javascript(render('admin/api_response_texts/form'))%>");
   $('#image_loader_save').hide();
<% end %>