<%= form_tag "/admin/get_jasper" do  %>

  Select Chain : <%= select_tag 'chain_id', options_from_collection_for_select(Chain.active.order("name"), :id, :name), :prompt => "Please select chain" %><br/>
  Select Start Date :<%= text_field_tag "start_date" ,nil, :class => "x-datepicker"%><br/>
  Select End Date :<%= text_field_tag "end_date",nil, :class => "x-datepicker" %><br/>
  <%= submit_tag "Submit"  %>
<% end %>