<div class="relevantmobile-report-box">
  <div class="header">
    <h4>Daily Report : <%= @report_value[:today].strftime("%m/%d/%Y") %></h4>
  </div>
  <div class="chain_info">
    <%= @chain.name %> : <%= number_to_currency(@report_value[:participant], :precision => 0, :unit => "") %> Participating Restaurants,
    Total Users : <%= number_to_currency(@report_value[:total_users], :precision => 0, :unit => "") %>
  </div>

  <div class="legend">
    <%= image_tag "thumb-up-icon.png" %>
    <%= image_tag "thumb-icon.png" %>
    &nbsp;&nbsp;&nbsp;Compared to same day last week
  </div>

  <div class="content">
    <h3>Signups :</h3>
    <div class="box">
      <table>
        <tr>
          <td>New</td>
          <td>Referrals</td>
        </tr>
        <tr>
          <td><%= number_to_currency(@report_value[:new_user][:new_signup_today], :precision => 0, :unit => "") %></td>
          <td><%= number_to_currency(@report_value[:new_refcode_user][:new_signup_last_week], :precision => 0, :unit => "") %></td>
        </tr>
        <tr>
          <td><%= comparison_value(@report_value[:new_user][:new_signup_today] - @report_value[:new_user][:new_signup_last_week]) %></td>
          <td><%= comparison_value(@report_value[:new_refcode_user][:new_signup_today] - @report_value[:new_refcode_user][:new_signup_last_week]) %></td>
        </tr>
      </table>
    </div>

    <div class="box">
      <table>
        <tr>
          <td>Receipts</td>
          <td>Surveys</td>
        </tr>
        <tr>
          <td><%= number_to_currency(@report_value[:receipts][:approved_today], :precision => 0, :unit => "") %></td>
          <td><%= number_to_currency(@report_value[:surveys][:completed_today], :precision => 0, :unit => "") %></td>
        </tr>
        <tr>
          <td><%= comparison_value(@report_value[:receipts][:approved_today] - @report_value[:receipts][:approved_last_week]) %></td>
          <td><%= comparison_value(@report_value[:surveys][:completed_today] - @report_value[:surveys][:completed_last_week]) %></td>
        </tr>
      </table>
    </div>

    <div class="box">
      <table>
        <tr>
          <td>Avg. Check</td>
        </tr>
        <tr>
          <td><%= number_to_currency(@report_value[:avg_check][:today], :precision => 2) %></td>
        </tr>
        <tr>
          <td><%= comparison_value(@report_value[:avg_check][:today] - @report_value[:avg_check][:last_week]) %></td>
        </tr>
      </table>
    </div>
    <div style="clear: both"></div>
    <br />
    <br />
    <div class="box" style="width:20%!important">
      <table>
        <tr>
          <td>Total Reward Redeemed</td>
        </tr>
        <tr>
          <td><%= number_to_currency(@report_value[:total_redemeed][:regular][:total][:today], :precision => 0, :unit => "")%></td>
        </tr>
        <tr>
          <td><%= comparison_value(@report_value[:total_redemeed][:regular][:total][:today] - @report_value[:total_redemeed][:regular][:total][:last_week])%></td>
        </tr>
      </table>
    </div>

    <div class="box" style="width: 70%!important;">
      <table>
        <tr>
          <% i = 0 %>
          <% @report_value[:total_redemeed][:regular].each do |key, value| %>
            <%= content_tag(:td, key) if !key.eql?(:total) and i < 5 %>
            <% i += 1 %>
            <% break if i > 4 %>
          <% end %>
        </tr>
        <tr>
          <% i = 0 %>
          <% @report_value[:total_redemeed][:regular].each do |key, value| %>
            <%= content_tag(:td, number_to_currency(value[:today], :precision => 0, :unit => "")) if !key.eql?(:total) and i < 5 %>
            <% i += 1 %>
            <% break if i > 4 %>
          <% end %>
        </tr>
        <tr>
          <% i = 0 %>
          <% @report_value[:total_redemeed][:regular].each do |key, value| %>
            <%= content_tag(:td, comparison_value(value[:today] - value[:last_week])) if !key.eql?(:total) and i < 5 %>
            <% i += 1 %>
            <% break if i > 4 %>
          <% end %>
        </tr>
      </table>
    </div>

    <div style="clear: both"></div>
    <br />
    <br />
    <div class="box" style="width:20%!important">
      <table>
        <tr>
          <td>Total Promotion Redeemed</td>
        </tr>
        <tr>
          <td><%= number_to_currency(@report_value[:total_redemeed][:one_time][:total][:today], :precision => 0, :unit => "")%></td>
        </tr>
        <tr>
          <td><%= comparison_value(@report_value[:total_redemeed][:one_time][:total][:today] - @report_value[:total_redemeed][:one_time][:total][:last_week])%></td>
        </tr>
      </table>
    </div>

    <div class="box" style="width: 70%!important;">
      <table>
        <tr>
          <% i = 0 %>
          <% @report_value[:total_redemeed][:one_time].each do |key, value| %>
            <%= content_tag(:td, key) if !key.eql?(:total) and i < 5 %>
            <% i += 1 %>
            <% break if i > 4 %>
          <% end %>
        </tr>
        <tr>
          <% i = 0 %>
          <% @report_value[:total_redemeed][:one_time].each do |key, value| %>
            <%= content_tag(:td, number_to_currency(value[:today], :precision => 0, :unit => "")) if !key.eql?(:total) and i < 5 %>
            <% i += 1 %>
            <% break if i > 4 %>
          <% end %>
        </tr>
        <tr>
          <% i = 0 %>
          <% @report_value[:total_redemeed][:one_time].each do |key, value| %>
            <%= content_tag(:td, comparison_value(value[:today] - value[:last_week])) if !key.eql?(:total) and i < 5 %>
            <% i += 1 %>
            <% break if i > 4 %>
          <% end %>
        </tr>
      </table>
    </div>

    <div style="clear: both"></div>
    <br />
    <br />
    <% if @report_value[:surveys][:selected] %>
      <h3>Survey : <%= @report_value[:surveys][:selected].title %></h3>
      <table class="usual">
        <tr>
          <td align="left">Question</td>
          <td>Average survey score</td>
          <td>Vs. Last Week </td>
        </tr>
        <% total_record = 0 %>
        <% total_today = 0 %>
        <% last_week_today = 0 %>
        <% @report_value[:surveys][:question_lists].each do |key, value| %>
          <tr>
            <td align="left" style="text-align: left"><%= key %></td>
            <td><%= number_to_currency(value[:today], :precision => 0, :unit => "")%></td>
            <td><%= comparison_value(value[:today] - value[:last_week])%></td>
          </tr>
          <% total_record += 1 %>
          <% total_today += value[:today] %>
          <% last_week_today += value[:last_week] %>
        <% end %>
        <tr>
          <td align="left" style="text-align: left">Average</td>
          <td><%= number_to_currency(((total_today/total_record) rescue 0), :precision => 0, :unit => "")%></td>
          <td><%= comparison_value(((total_today/total_record) rescue 0) - ((last_week_today/total_record) rescue 0))%></td>
        </tr>
      </table>
    <% end %>
  </div>

</div>
