<h1>Dashboard Setting For :<%= @chain.name %></h1>
<br/>

<%= link_to "Setting Question, for dashboard", admin_chain_dashboard_questions_path(@chain), :class => 'btn' %><br/>
<%#= link_to "Create Dashboard signature", new_dashboard_signature_admin_chain_path(chain) %>
<%= link_to "Create Dashboard Miss You Setting", admin_chain_task_definitions_path(@chain), :class => 'btn' %> <br/>
<%= link_to "Guest Relation Setting", new_guest_relation_setting_admin_chain_path(@chain), :class => 'btn' %> <br/>
<%= link_to "Avg Survey Setting", new_avg_survey_setting_admin_chain_path(@chain), :class => 'btn nyroModal' %> <br/>