<div class="page-header">
  <h2>Listing chains</h2>
</div>
<table class="table table-bordered table-condensed">
  <caption></caption>
  <thead>
    <tr>
      <th>Chain Id</th>
      <th>Chain Name</th>
      <th>Chain Owners</th>
      <th>Chain Locales</th>
      <th>Dollar to Point Ratio</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

    <% @chains.each do |chain| %>
      <tr>
        <td><%= chain.id %></td>
        <td><%= chain.name %></td>
        <td><%=chain.owners.map(&:full_name)%></td>
        <td><%=chain.locales.map(&:name)%></td>
        <td>$1=<%= chain.points %> points</td>
        <td>
          <%= link_to 'Show', admin_chain_path(chain), :class => "btn" %>
          <%= link_to 'Edit', edit_admin_chain_path(chain), :class => "btn" %>
          <% if chain.status.eql?('active') %>
            <%= link_to 'Deactivate', change_status_admin_chain_path(chain, "deactivate"), :class => "btn", data: {confirm: 'Are you sure?'} %>
          <% else %>
            <%= link_to 'Activate', change_status_admin_chain_path(chain, "activate"), :class => "btn", data: {confirm: 'Are you sure?'} %>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @chains %>
<br/>
<%= link_to 'New Chain', new_admin_chain_path, :class => "btn btn-primary" %>
<%= link_to 'New Chain Owner', new_admin_owner_path, :class => "btn btn-primary" %>
<%= link_to 'Activated', admin_chains_path, :class => "btn btn-primary" %>
