<%= javascript_include_tag "ckeditor/init" %>
<h2>Edit Email Template</h2>
<%= simple_form_for :email_template, :url => create_email_template_admin_chain_path(@chain) do |f| %>
  <div class="field">
    <%= f.input :key, :input_html => {:value => @key, :readonly => true, :style => 'width:600px'} %>
  </div>

  <div class="field">
    <%#= f.input :content, :as => :text, :input_html => {:value => @content, :rows => 20, :style => 'width:600px' } %>
    <%= f.input :content, :as => :ckeditor, :input_html => { :toolbar => 'Easy', :rows => 3, :cols => 20, :value => @content } %>
  </div>

  <div class="actions">
    <%= f.submit %> | <%= link_to "Back", admin_chain_url(@chain) %>
  </div>
<% end %>
