<h2>Edit Warning claim Template</h2>
<%= simple_form_for :warning_template, :url => add_warning_template_admin_chain_path(@chain) do |f| %>
  <div class="field">
    <%= f.input :key, :input_html => {:value => @key, :readonly => true, :style => 'width:600px'} %>
  </div>
  <% quest = @content["question"] rescue "" %>
  <div class="field">
    <%= f.input :question, :as => :text, :input_html => {:value =>quest,  :rows => 2, :style => 'width:300px' } %>
    <i>example : are you sure ?</i>
  </div>
  <% bod = @content["body"] rescue ""%>
  <div class="field">
    <%= f.input :body, :as => :text, :input_html => {:value => bod, :rows => 5, :style => 'width:300px' } %>
    <i>example : Please do NOT click "Confirm" until you are in front of our staff. Voucher valid for 2 minutes only.</i>
  </div>

  <div class="actions">
    <%= f.submit %> | <%= link_to "Back", admin_chain_url(@chain) %>
  </div>
<% end %>
