<h2>Edit Warning claim Template</h2>
<%= simple_form_for :reward_notif, :url => add_reward_notif_admin_chain_path(@chain) do |f| %>
    <div class="field">
      <%= f.input :key, :input_html => {:value => @key, :readonly => true, :style => 'width:600px'} %>
    </div>
    <% bod = @content["body"] rescue ""%>
    <div class="field">
      <%= f.input :body, :as => :text, :input_html => {:value => bod, :rows => 5, :style => 'width:300px' } %>
      <i>example : New reward pushed to your account since you last checked you rewards.</i>
    </div>

    <div class="actions">
      <%= f.submit %> | <%= link_to "Back", admin_chain_url(@chain) %>
    </div>
<% end %>
