<%= form_tag(post_geodata_report_admin_chains_path) do |f| %>

    <div class="x-box" style="display:;">
      <div class="">
        Enter Date
        <div class="field">
          <%= label_tag :beginning %>
          <%= text_field_tag "this_period_start", '', :class => 'x-datepicker', :readonly => true %>
        </div>
        <div class="field">
          <%= label_tag :ending %>
          <%= text_field_tag "this_period_end", '', :class => 'x-datepicker', :readonly => true %>
        </div>
      </div>

      <br/>

      <%= select_tag("chain_id", options_from_collection_for_select(Chain.order("name"), "id", "name"), {:include_blank => false}) %>

      <br/>
      Send To email Address : <%= text_field_tag "email" %>
      <br/>
    </div>

    <%= submit_tag "create" %>
<% end %>
<script type="text/javascript">
    $(document).ready(function () {

        $("#chain_id").change(function () {
            $("#h_chain_id").val($(this).val());
            $("#sub").click();
            $('#loader').show();
            $('#loader-2').show();
        });
        $("#chain_id").change();
    });
</script>