$("#tag_id").html("");
$("#tag_id2").html("");
$("#tag_id3").html("");
$("#reward_id").html("");
$('#tag_id').multiselect( 'refresh' );

<% @tags = [] %>
<% @restaurants.each do |res| %>
<% @tags << res.tags %>
<% end %>
<% @tags.flatten.uniq.sort{|a,b| a[:name].downcase <=> b[:name].downcase}.each do |tag| %>
$("#tag_id").append($('<option></option>').attr('value','<%= tag.id %>').text('<%= tag.name %>'));
<% end unless @tags.flatten.blank?%>
<% @tags.flatten.uniq.sort{|a,b| a[:name].downcase <=> b[:name].downcase}.each do |tag| %>
$("#tag_id2").append($('<option></option>').attr('value','<%= tag.id %>').text('<%= tag.name %>'));
<% end unless @tags.flatten.blank? %>
<% @tags.flatten.uniq.sort{|a,b| a[:name].downcase <=> b[:name].downcase}.each do |tag| %>
$("#tag_id3").append($('<option></option>').attr('value','<%= tag.id %>').text('<%= tag.name %>'));
<% end unless @tags.flatten.blank? %>

<% if @chain and @chain.rewards %>
  <% @chain.rewards.order("name asc").each do |rw| %>
  $("#reward_id").append($('<option></option>').attr('value', "<%= rw.id %>").text("<%= rw.name %>"));
  <% end unless @chain.rewards.blank? %>
<% end %>

$('#tag_id').multiselect( 'refresh' );
$('#tag_id2').multiselect( 'refresh' );
$('#tag_id3').multiselect( 'refresh' );
$('#tag_id').multiselect("checkAll");
$('#tag_id2').multiselect("checkAll");
$('#tag_id3').multiselect("checkAll");
$('#reward_id').multiselect('refresh');
$('#reward_id').multiselect("checkAll");
$('#loader').hide();
$('#loader-2').hide();