<p id="notice"><%= notice %></p>

<h1>Hybrid Reward Redemption Flow</h1>
<br/>
<h3>Chain: <%= @chain.name %></h3>

<br/>
<%= form_tag(update_hybrid_reward_redemption_admin_chain_path(@chain), method: :put ) do %>
    <table>
      <caption>APP based rules:</caption>
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>All <%= check_box_tag "all_participants" %></th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th colspan="3"></th>
        <th><%= submit_tag "Move to POS integrated rules", data: {confirm: "Click OK to pull out the selected restaurants from this Chain"}, :disable_with => "Please wait..." %></th>
      </tr>
      </tfoot>
      <tbody>
      <% @participants.each do |restaurant| %>
          <tr>
            <td><%= restaurant.name %></td>
            <td><%= restaurant.address %></td>
            <td><%= restaurant.try(:city).try(:name) %></td>
            <td><%= check_box_tag "pullout_[#{restaurant.id}]", restaurant.id, false,
                                  :name => "pullout[]" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br/>
    <table>
      <caption>POS integrated rules</caption>
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>All <%= check_box_tag "all_non_participants" %></th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th colspan="3"></th>
        <th><%= submit_tag "Move to APP based rules", data: {confirm: "Click OK to add the selected restaurants to this Chain"}, :disable_with => "Please wait..." %></th>
      </tr>
      </tfoot>
      <tbody>

      <% if !@non_participants.blank?
             @non_participants.each do |restaurant| %>
              <tr>
                <td><%= restaurant.name %></td>
                <td><%= restaurant.address %></td>
                <td><%= restaurant.try(:city).try(:name) %></td>
                <td><%= check_box_tag "participate_[#{restaurant.id}]", restaurant.id, false,
                                      :name => "participate[]" %></td>
              </tr>
          <% end
             end %>
      </tbody>
    </table>
<% end %>
