
<%= form_tag import_preview_admin_chains_path, :multipart => true  do  %>
    <label class="control-label"><h4>Upload xls/csv files</h4></label>
    <div title="Input Excel or CSV" class="controls">
      <%= file_field_tag :xls %>
    </div>
    <%= submit_tag "Preview Emails", :class=>"btn btn-primary" %>
<% end %>

<!--- table preview for Chain data -->
<% unless @chains.blank? %>
    <%= form_tag create_import_admin_chains_path  do %>
        <% @chains.compact.each_with_index do |x, index| %>
            <div class="span8">
              <table class="table stripped">
                <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Name</th>
                  <th>Dollar to points</th>
                  <th>Email</th>
                  <th>Timer</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr id="<%= index %>">
                  <td><%= check_box_tag "chains[]", index, true %></td>
                  <td><%=  x.name %></td>
                  <td><%=  x.points %></td>
                  <td><%=  x.email %></td>
                  <td><%=  x.timer %></td>
                  <td><%=  link_to "Remove", "#", :onclick => "$('##{index}').remove();return false;" %></td>
                </tr>
                </tbody>
              </table>
              <%= submit_tag "Import" %>
            </div>
        <% end %>
    <% end %>
    <div class="clearfix"></div>
<% end %>