<script type="text/javascript">
  $(document).ready(function(){
    $('#search_btn').click(function(){
      $('#search_text_hidden').val($('#search_text').val());
      $('#search_appkey_hidden').val($('#search_appkey').val());
      $('#page').val(1);
      $('#loader').show();
      $('#sub').click();
    });

    $('.order-table').bind("click", function(){
      var ordvalcur = $(this).attr('data-attribute');
      var ordvalbef = $('#qry_order').val();

      if(ordvalcur == ordvalbef){
        $('#qry_order').val(parseInt(ordvalbef) + 1000)
      }else{
        $('#qry_order').val($(this).attr('data-attribute'));
      }
      
      $('#search_btn').click();
    });

    $('#search_text').keypress(function (e) {
      if (e.which == 13) {
        $('#search_btn').click();
      }
    });

    $('#search_appkey').keypress(function (e) {
      if (e.which == 13) {
        $('#search_btn').click();
      }
    });

    $(".short_email").bind("click", function(){
      var data = $(this).attr("data-attribute").split("---");
      $('.modal-body').html('<p class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;"><span class="name">' + data[0] + '</span><<span class="email">' + data[1] + '</span>></p>');
      $('#myModalLabel').html('Full Email Address');
    });

    $(".list-owner").bind("click", function(){
      var data = $(this).attr("data-attribute");
      $('.modal-body').html('<p class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;">' + data + '</p>');
      $('#myModalLabel').html('Full Chain Owners');
    });

  });
</script>
<div class="page-header">  
  <h1>Listing chains</h1>
</div>
<div class="clearfix mb-5"></div>
<form class="col-7 form-inline">
  <div class="row">
    <div class="col">
      <%= search_field_tag "search_text", "", placeholder: "Chain Name or ID", class: 'form-control form-control-sm' %>
    </div>
    <div class="col">
      <%= search_field_tag "search_appkey", "", placeholder: "Application Appkey", class: 'form-control form-control-sm' %>
    </div>
    <div class="col">
      <button id="search_btn" class="btn btn-sm">
        <span class="oi oi-magnifying-glass"></span>
      </button>
      <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>

    </div>
  </div>
</form>
<div class="clearfix mb-3"></div>

<div id="chain-content">
  <%= render "list_chain" %>
</div>
<br/>
<%= link_to 'New Chain', new_admin_chain_path, :class => "btn btn-primary" %>
<%= link_to 'New Chain Owner', new_admin_owner_path, :class => "btn btn-primary" %>
<%= link_to 'Deactivated', deactivated_admin_chains_path, :class => "btn btn-primary" %>


<%= render "admin/shared/static_modal" %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="myModalLabel" class="modal-title"></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


<script>
  $('.hours_delay').click(function(){    
    var id = this.id.replace('chain_','')
    $('#modal').modal();
    $('.modal-body').html("<%= escape_javascript(render "hours_delay_form") %>");
    $('#chain_delay').val($('#hour_'+id).val());
    $('#chain_id').val(id);
    $('#myModalLabel').html('Update Hours Delay Chain');
  });
  $('#button_save').click(function(){
    $('#submit_button').click();
    $('#modal').ajaxloader()
  });
</script>



<%= form_tag admin_chains_path, :id => "form", :class => 'form-horizontal', :style => "display:none;", :remote => true, :method => :get do %>
  <%= hidden_field_tag "search_text_hidden" %>
  <%= hidden_field_tag "search_appkey_hidden" %>
  <%= hidden_field_tag "qry_order" %>
  <%= hidden_field_tag "page" %>
  <%= submit_tag "submit", :id => "sub" %>
<% end %>