<div class="page-header">
  <h2>Edit Itunes / Play Store Link</h2>
  <hr>
</div>

<%= custom_form_for :itunes_link, :url => post_itunes_play_store_config_admin_chain_path(@chain) do |f| %>
      <%= f.input :itunes_link_text, :input_html => {:value => @itunes_link_text} %>
      <%= f.input :itunes, :label => "Itunes URL",  :input_html => {:value => @itunes_link,
                                           :readonly => false} %>
    
      <%= f.input :play_store_link_text, :input_html => {:value => @play_store_link_text} %>
      <%= f.input :play_store, :label => "Play Store URL" ,:input_html => {:value => @play_store_link,
                                               :readonly => false} %>
    
    <i>* ex : https://play.google.com/store/apps/details?id=com.ak.app.roti.activity&hl=en</i>
    <div class="actions">
      <%= f.submit "Save", class: "btn btn-primary" %> | <%= link_to "Back", admin_chain_url(@chain) %>
    </div>

    <div class="alert alert-info">
      You could add %{itunes_link} or %{play_store_link} on : <br /><br />
      <i>*Welcome Email </i><br/>
      <i>*Forgot Password Email </i><br/>
      <i>*Mail To referrer Setting </i>  <br/>
    </div>
<% end %>
