<% if @rotating_group %>
$('#rotating_group_question_list').html('<%= escape_javascript(render("rotating_question")) %>');
$('#response_alert_setting_page').ajaxloader('hide');
<% else %>
$('#rotating_group_question_list').html('Please select a rotating groups');
$('#response_alert_setting_page').ajaxloader('hide');
<% end %>