<% if @survey %>
  $('#survey_question_list').html('<%= escape_javascript(render("question")) %>');
  $('#response_alert_setting_page').ajaxloader('hide');
<% else %>
  $('#survey_question_list').html('Please select a survey');
  $('#response_alert_setting_page').ajaxloader('hide');
<% end %>