
<div class="page-header">
  <h2>Location update JSON: <%= @chain.name %></h2>
</div>
<%= simple_form_for([:admin, @chain], :url => save_location_json_admin_chain_path(@chain)) do |f| %>
  <div class="x-box">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>

    <div class="">
      <div class="field">
        <%= label_tag :json_url %>
        <%= text_field_tag "json_url", @json_url %>
      </div>

      <div class="field">
        <%= label_tag :frequency %> per
        <%= select_tag :frequency, options_for_select((1..24), :selected => @json_frequency), :prompt => "--select frequency--", :class=>'x-col3-dropdown', :style => "width:150px" %> hour
      </div>

      <div class="field">
        <%= label_tag :report_address %>
        <%= text_field_tag "report_address", @json_report_address, style: "width: 400px;" %>
      </div>

    </div>
  </div>
  <%= submit_tag "save" %>
<% end %>

<%= link_to 'Manual sync restaurant JSON', manual_sync_restaurant_json_admin_chain_path(@chain), :class => 'btn btn-primary' %>
