<div class="page-header">
  <h2>Fishbowl Setting for chain : <%= @chain.name %></h2>
  <hr>
</div>
<%= custom_form_for([:admin, @chain], :url => create_fishbowl_setting_admin_chain_path(@chain)) do |f| %>
  
  <div class="field">
    <%= f.simple_fields_for :fishbowl_setting do |fs| %>
      <%= fs.input :api_username %> <br  />
      <%= fs.input :api_password, :as => :string %> <br  />

      <!--
      Fisbowl Setting for List ID's
      Display only one field if there was a blank new fishbowl_setting
      -->
      <div class="form-group row string required chain_fishbowl_setting_attributes_list_ids">
        <label class="col-sm-3 col-form-label string required" for="chain_fishbowl_setting_attributes_list_ids">
          ListID's <abbr title="required">*</abbr>
        </label>
        
      <div class="list_ids_fields col">
          <% if @fishbowl_setting.blank? %>
            <div class="list_id_row">
              <input class="form-control form-control-sm string required" type="text" name="chain[fishbowl_setting_attributes][list_ids][]">
            </div>
            <br>
          <% else %>
            <% if @fishbowl_setting.list_ids.blank? %>
              <div class="list_id_row">
              <input class="form-control form-control-sm string required" type="text" name="chain[fishbowl_setting_attributes][list_ids][]">
            </div>
            <br>
            <% else %>
              <% @fishbowl_setting.list_ids.each_with_index do |list_id, index| %>
              <div class="list_id_row">
                <input class="form-control form-control-sm string required" type="text" name="chain[fishbowl_setting_attributes][list_ids][]" <%= index != 0 ? 'style="border-radius: 3px 0px 0px 3px; border-right:0px"'.html_safe : '' %> value="<%= list_id %>"/>
                <% if index != 0 %>
                  <span style="margin-bottom: 9px; border-radius: 0px 4px 4px 0px; border-left: 0px" class="btn btn-danger btn-remove">-</span>
                <% end %> 
                </div>               
              <% end %>
            <% end %>
          <% end %>
      </div>

      </div>
      
      <span class="btn btn-add btn-success">Add more ListID</span>

      <script type="text/javascript">
        $(document).ready(function() {
          $('.btn-add').click(function() {
            $('.list_ids_fields').append('<input class="form-control form-control-sm string required" type="text" name="chain[fishbowl_setting_attributes][list_ids][]" style="border-radius: 3px 0px 0px 3px; border-right:0px"/><span style="margin-bottom: 9px; border-radius: 0px 4px 4px 0px; border-left: 0px" class="btn btn-danger btn-remove">-</span><br/></div>');
            $('.btn-remove').click(function(){
              $(this).parent().remove();
            });
          });
          $('.btn-remove').click(function(){
            $(this).parent().remove();
          });
        });
      </script>
      <br/><br/>

      <%= fs.input :site_id, :label => "SiteID" %> <br  />
      <div class="field">
        <%= fs.input :ignore_marketing_optin,
                     :collection => [[true, 'YES'], [false, 'NO']],
                     :label_method => :last,
                     :value_method => :first,
                     :as => :radio_buttons,
                     :item_wrapper_class => 'inline',
                     :label => "Ignore Marketing Optin"
        %>
      </div>
      <div class="field">
        <%= fs.input :real_time_sync,
                    :collection => [[true, 'YES'], [false, 'NO']],
                    :label_method => :last,
                    :value_method => :first,
                    :as => :radio_buttons,
                    :item_wrapper_class => 'inline',
                    :label => "Real Time Sync"
        %>
      </div>
      <fieldset>
        <legend>Welcome email settings</legend>
        <div class="field">
          <%= fs.input :welcome_email_mailing_id, :label => "Device sign up welcome emailing iD" %>
        </div>

        <div class="field">
          <%= fs.input :browser_welcome_email_mailing_id, :label => "Browser and C Browser sign up welcome emailing iD " %>
        </div>
      </fieldset>
      <fieldset>
        <legend>Points Notification settings</legend>
        <div class="field">
          <%= fs.input :points_notification_mailing_id %>
        </div>
      </fieldset>
      <fieldset>
        <legend>Payment Notification settings</legend>
        <div class="field">
          <%= fs.input :payment_notification_mailing_id %>
        </div>
      </fieldset>
      <fieldset>
        <legend>Reward Notification settings</legend>
        <div class="field">
          <%= fs.input :reward_redeem_mailing_id %>
        </div>
      </fieldset>
      <fieldset>
        <legend>We Miss You Notification Email Setting</legend>
        <div class="field">
          <%= fs.input :we_miss_you_reward_notification %>
        </div>
        <div class="field">
          <%= fs.input :we_miss_you_point_notification %>
        </div>
      </fieldset>
      <fieldset>
        <legend>No Scans After 7 Days Email Setting</legend>
        <div class="field">
          <%= fs.input :no_scans_7_days_mailing_id %>
        </div>
      </fieldset>
    <% end %>
  </div>
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>
  <%= link_to "Destroy", remove_fishbowl_setting_admin_chain_path(@chain), data: {confirm: "Are you sure?"}, :class => "btn btn-danger"  unless @chain.fishbowl_setting.id.blank? %>
  <%= link_to "Notification Setting GLOBAL", admin_chain_notification_settings_path(@chain), :class => "btn" %>
<% end %>