<div class="page-header">
  <h2>Points Rounding preference for chain : <%= @chain.name %></h2>
  <hr>
</div>
<%= custom_form_for([:admin, @chain], :url => create_admin_rounding_setting_admin_chain_path(@chain)) do |f| %>
    <%= f.input :point_rounding_preference, :collection => Chain::ROUNDING_OPTIONS.keys, :include_blank => false%>
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>
<% end %>