<%= javascript_include_tag "ckeditor/init" %>
<div class="page-header">
  <h2>Admin Push - Point Notification Setting</h2>
</div>
<%= simple_form_for([:admin, @chain], :url => create_admin_push_point_notification_admin_chain_path(@chain)) do |f| %>
  <% if @chain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chain.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
        <% @chain.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <br />
    <legend><i>Send Notification to</i></legend>
    Email : <%= f.check_box "admin_push_point_notif_to_email", :checked => @chain.admin_push_point_notif_to_email %>
    Phone : <%= f.check_box "admin_push_point_notif_to_device", :checked => @chain.admin_push_point_notif_to_device %>
  </fieldset>
  <br />
  <fieldset>
    <legend><i>Email And Push Notification</i></legend>
    <br />
    <b>
      <i>Add %{chain_name} to include chain name in your notification.</i> <br />
      <i>Add %{point_added} to add the point added to user account</i><br />
      <i>Add %{receipt_id_link} to renders receipt id hyperlinked to receipt image url</i><br /><br />
      <i class="alert">if You add the %{receipt_id_link} please follow this rule.
        add '__' and '__' without quote, to your sentences .</i>
      <br /><br /><br /> <i class="alert"> in example : '__ this is the receipt image link %{receipt_id_link} __'
      because there are some push notification that doesnt have the receipt id link
    </i><br />
    </b>
    <br />
    <br />
    <%= f.simple_fields_for :admin_push_point_notifications do |nl| %>
      <div class="span12">
        <h4><b>Notification <%= nl.object.locale.name %></b></h4>
        <%= nl.input :email_subject, :label => "Email Subject", :input_html => {:id => "#{nl.object.locale.key}_email_subject", :style => "margin-left:10px;width:250px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
        <%= nl.input :email_content_html, :as => :ckeditor, :label => "Email HTML Content", :input_html => { :toolbar => 'Easy', :rows => 3, :cols => 20, :value => nl.object.email_content_html, :style => "width:600px"} %>
        <%= nl.input :email_content, :as => :text, :label => "Email Content", :input_html => {:rows => 5, :cols => 20, :id => "#{nl.object.locale.key}_email_content", :style => "margin-left:10px;width:600px;height:300px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
        <%= nl.input :notification, :as => :string, :label => "Push Notification Content", :input_html => {:id => "#{nl.object.locale.key}_notification", :style => "margin-left:10px;width:250px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
        <%= nl.input :locale_id, :as => :hidden %>
      </div>
    <% end %>
  </fieldset>
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>