<div class="page-header">
  <h2>Steppingstone Notification Setting</h2>
</div>
<%= simple_form_for([:admin, @chain], :url => create_steppingstone_notification_admin_chain_path(@chain)) do |f| %>
    <% if @chain.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@chain.errors.count, "error") %> prohibited this chain from being saved:</h2>

          <ul>
            <% @chain.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <fieldset>
      <legend><i>Email And Push Notification</i></legend>
      <br />
      <b>
        <ul>
          <i>Note : Add %{reward_name} to include reward name in your notification. Eg : Congrats, you got %{reward_name}</i> <br />
          <i>Add %{min_subtotal} to include minimum subtotal value.</i><br />
          <i>Add %{receipt_id} to include the receipt id.</i><br />
          <i>Add %{reward_fine_print} to add the reward fine print</i><br />
        </ul>
      </b>
      <br />
      <br />
      <%= f.simple_fields_for :steppingstone_notifications do |nl| %>
          <div class="span4">
            <h4><b>Notification <%= nl.object.locale.name %></b></h4>
            <%= nl.input :subject, :label => "Email Subject", :input_html => {:id => "#{nl.object.locale.key}_email_subject", :style => "margin-left:10px;width:250px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
            <%= nl.input :content, :as => :text, :label => "Email Content", :input_html => {:rows => 5, :cols => 20, :id => "#{nl.object.locale.key}_email_content", :style => "margin-left:10px;width:250px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
            <%= nl.input :locale_id, :as => :hidden %>
          </div>
      <% end %>
    </fieldset>
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>