<div class="page-header">
  <h2>User Code Setting: <%= @chain.name %></h2>
  <hr>
</div>
<%= custom_form_for([:admin, @chain], :url => create_user_code_setting_admin_chain_path(@chain)) do |f| %>
  
  <fieldset>
    <%= f.simple_fields_for :user_code_setting do |pcs| %>
      <%= pcs.input :code_type, :as => :hidden %>
      <%= pcs.select :appcode_type, AppcodeSetting::TYPES %>

      <div class="field user-metadata" style="display: <%= pcs.object.appcode_type.eql?(AppcodeSetting::TYPES["STATIC"]) ? "block" : "none" %>;">
        User metadata
        <%= pcs.input :user_metadata,
                      :collection => [[1, 'Relevant ID'], [2, 'Phone Number']],
                      :label_method => :last,
                      :value_method => :first,
                      :as => :radio_buttons,
                      :item_wrapper_class => 'inline',
                      :label => false
        %>
      </div>

      <div class="field">
        <%= pcs.input :zero_padding, :label => "Zero Padding"%>
      </div>
      <div class="form-inputs">
        <div id="dynamic_form" style="display: <%= pcs.object.appcode_type.eql?(AppcodeSetting::TYPES["DYNAMIC"]) ? "block" : "none" %>;">
          <div class="field">
            <%= pcs.input :pos_digit_barcode, :label => 'BARCODE LENGTH' %>   <br/>
          </div>

          <div class="field">
            BARCODE TYPE
            <%= pcs.input :barcode_format,
                        :collection => [[1, 'Numeric'], [2, 'Alphanumeric']],
                        :label_method => :last,
                        :value_method => :first,
                        :as => :radio_buttons,
                        :item_wrapper_class => 'inline',
                        :label => false
            %>
          </div>

          <div class="field">
            <%= pcs.input :barcode_format_type,
                        :collection => Chain::BARCODE_FORMAT_TYPES,
                        :label => "POS BARCODE FORMAT"
            %>
          </div>

          <div class="field">
            <%= pcs.input :timer, :label => "Code Expired after (in seconds, 0 = unlimited)"%>
          </div>
        </div>
        <div class="field">
          <%= pcs.input :prefix %>
          <%= pcs.input :postfix %>
        </div>
      </div>
    <% end %>
  </fieldset>
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>

<script>
  $(document).ready(function () {
    $('#chain_user_code_setting_attributes_appcode_type').change(function () {
      if ($('#chain_user_code_setting_attributes_appcode_type').val() == "2") {
        $('#dynamic_form').show();
        $('.user-metadata').hide();
      } else {
        $('#dynamic_form').hide();
        $('.user-metadata').show();
      }
    });
  });
</script>