<div class="page-header">
  <h2>Survey Incentive Threshold Setting</h2>
  <hr>
</div>
<%= custom_form_for([:admin, @chain], :url => create_survey_incentive_threshold_admin_chain_path(@chain)) do |f| %>
  <%= f.input :survey_incentive_daily_cap, :label => "Daily Cap (0 = unlimited)" %>
  <%= f.input :survey_incentive_weekly_cap, :label => "Weekly Cap (0 = unlimited)" %>
  <%= f.input :survey_incentive_monthly_cap, :label => "Monthly Cap (0 = unlimited)" %>
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>