<div class="page-header">
  <h2>Mailchimp Setting for chain : <%= @chain.name %></h2>
  <hr>
</div>
<%= custom_form_for([:admin, @chain], :url => create_mailchimp_setting_admin_chain_path(@chain)) do |f| %>
 
    <div class="field">
      <%= f.input :mailchimp_sync %>   <br  />
      <div id="mchimp-api-key" style="display: <%= @chain.mailchimp_sync ? "block" : "none" %>">
        <%= f.input :mailchimp_api_key %>
        <%= f.input :mailchimp_list_id %> <br />
      </div>
    </div>
  <div class="field">
    <%= f.input :mailchimp_ignore_marketing_optin,
                 :collection => [[true, 'YES'], [false, 'NO']],
                 :label_method => :last,
                 :value_method => :first,
                 :as => :radio_buttons,
                 :item_wrapper_class => 'inline',
                 :label => "Ignore Marketing Optin"
    %>
  </div>
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>


<script type="text/javascript">
    $('#chain_mailchimp_sync').change(function(){
        if($(this).is(":checked")){
            $('#mchimp-api-key').show();
        }else{
            $('#chain_mailchimp_api_key').val("");
            $('#chain_mailchimp_list_id').val("");
            $('#mchimp-api-key').hide();
        }
    })
</script>