<div class="page-header">
  <h2>Momentfeed API Settings for chain : <%= @chain.name %></h2>
</div>
<%= simple_form_for([:admin, @momentfeed_setting], :url => create_momentfeed_setting_admin_chain_path(@chain)) do |f| %>
    <% if !@chain.momentfeed_setting.blank? && @chain.momentfeed_setting.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@chain.momentfeed_setting.errors.count, "error") %> prohibited this Momentfeed API Settings from being saved:</h2>

          <ul>
            <% @chain.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.input :api_key, label: "Api Key" %><br/>
    </div>
    <div class="field">
      <%= f.input :base_url, label: "Base URL" %><br/>
    </div>

    <div class="field">
      <%= f.input :update_type, as: :radio_buttons, collection: update_types, checked: (!@chain.momentfeed_setting.blank? ? @chain.momentfeed_setting.update_type.to_i : 1)%>
    </div>

    <div class="field hour">
      <%= f.input :update_interval, label: "Update interval", collection: daily_hours, include_blank: false %><br/>
    </div>

    <div class="field at_date hide">
      <%= f.input :update_interval_option, label: "Update time", collection: at_hours, include_blank: false %><br/>
    </div>
    
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>

<% unless @chain.momentfeed_setting.blank? %>
  <%= link_to 'Manual sync momenteed settings', manual_sync_momentfeed_settings_admin_chain_path(@chain), :class => 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $(showUpdateInterval($("input[name='momentfeed_setting[update_type]']:checked")));

   if (!!window.performance && window.performance.navigation.type === 2) {
            // value 2 means "The page was accessed by navigating into the history"
            console.log('Reloading');
            window.location.reload(); // reload whole page

        }
  })
  $("input[name='momentfeed_setting[update_type]']").change(function(){
    showUpdateInterval($(this));
  })  
  function showUpdateInterval(radiobutton)
  {
    if(radiobutton.val() == 1)
    {
      $('.hour').show()
      $('.at_date').hide()
    }
    else
    {
      $('.hour').hide()
      $('.at_date').show()
    }
  }

</script>