<div class="page-header">
  <h2>Game Notification Setting for chain : <%= @chain.name %></h2>
</div>
<%= simple_form_for([:admin, @chain], :url => create_game_notification_admin_chain_path(@chain)) do |f| %>
    <% if @chain.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@chain.errors.count, "error") %> prohibited this chain from being saved:</h2>

          <ul>
            <% @chain.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <br/>
    <fieldset>
      <b>
        <i>Add %{user_points_earned} to include user points earned name in your notification.</i> <br/>
        <i>Add %{user_posted_gamepoints} to include user points posted in your notification.</i> <br/>
      </b>
      <br/>
      <br/>
      <%= f.simple_fields_for :game_notifications do |ppn| %>
          <div class="span4">
            <h4><b>Notification <%= ppn.object.locale.name %></b></h4>
            <%= ppn.input :notification, :as => :text, :label => "Notification Message", :input_html => {:rows => 5, :cols => 20, :id => "#{ppn.object.locale.key}_warning_message", :style => "margin-left:10px;width:250px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
            <%= ppn.input :locale_id, :as => :hidden %>
          </div>
      <% end %>
    </fieldset>
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>