<div class="x-box">
  <h2>Referral Email Notification Setting</h2>
<hr>
<%= custom_form_for([:admin, @chain], :url => create_referral_notification_admin_chain_path(@chain)) do |f| %>
    
    
  <fieldset>
    <legend><i>Email</i></legend>
    <i>Note : Add %{referral_code} to include referral code of each user Eg : hi,admin want you to join ,.. with referral code ABCD </i>
    <br />
    <%= f.simple_fields_for :referral_locales do |nl| %>    
      <div class="span4">
        <h4><b>Notification <%= nl.object.locale.name %></b></h4>
        <%= nl.input :email_subject %>
        <%= nl.input :email_content %>
        <%= nl.input :locale_id, :as => :hidden %>
        <%= nl.input :facebook_text %>
        <%= nl.input :twitter_text %>
        <%= nl.input :other_media_text %>
      </div>
    <% end %>
  </fieldset>
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>
</div>