<div class="page-header">
  <h2>Braintree Setting: <%= @chain.name %></h2>
  <hr>
</div>
<%= custom_form_for([:admin, @chain], :url => create_btree_setting_admin_chain_path(@chain)) do |f| %>
  
  <fieldset>
    <%= f.simple_fields_for :btree_setting do |bs| %>
      <%= bs.input :environment, :collection => ["", :sandbox, :production] %>
      <%= bs.input :merchant_id %>
      <%= bs.input :public_key %>
      <%= bs.input :private_key %>      
    <% end %>
  </fieldset>
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>