<%= javascript_include_tag "ckeditor/init" %>
<div class="page-header">
  <h2>Active Reward Notification for chain : <%= @chain.name %></h2>
  <hr>
</div>
<%= custom_form_for([:admin, @chain], :url => create_active_reward_notification_admin_chain_path(@chain)) do |f| %>
  
  <fieldset>
    <%= f.simple_fields_for :active_reward_notifications do |ppn| %>
        <h4><b>Notification <%= ppn.object.locale.name %></b></h4>
        <%= ppn.input :notification, :label => "Notification pop up for sucess mesaage ", :input_html => {:id => "#{ppn.object.locale.key}_notification"} %>
        <%= ppn.input :cancel_button_text, :as => :string, :input_html => {:id => "#{ppn.object.locale.key}_cancel_button_text"} %>
        <%= ppn.input :continue_button_text, :as => :string, :input_html => {:id => "#{ppn.object.locale.key}_continue_button_text"} %>
        <%= ppn.input :locale_id, :as => :hidden %>
      
    <% end %>
  </fieldset>
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>