<%= javascript_include_tag "ckeditor/init" %>

<div class="page-header">
  <h2>Giftcard Notification Email for chain : <%= @chain.name %></h2>
</div>
<%= simple_form_for([:admin, @chain], :url => create_giftcard_notification_email_admin_chain_path(@chain)) do |f| %>
  <% if @chain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chain.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
        <% @chain.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br />

  <fieldset>
    <legend><i>Email Notification</i></legend>
    <br />
    <b>
      <i>Add %{giftee_name} to include giftee name in your notification.</i> <br />
      <i>Add %{custom_message} to include custom message in your notification</i><br />
      <i>Add %{gifter_name} to include Gifter name</i><br />
      <i>Add %{giftcard_number} to include Giftcard number generated</i><br />
      <i>Add %{amount} to include Amount</i><br />
      <i>Add %{image_header_url} to include image header URL</i><br />
      <i>Add %{barcode_image} to include barcode_image</i><br />
      <br />
    </b>
    <br />
    <br />
    <%= f.simple_fields_for :giftcard_notification_emails do |ppn| %>

      <div class="span12">
        <h4><b>Notification <%= ppn.object.locale.name %></b></h4>
        <br/>
        <%= ppn.input :send_barcode, as: :boolean, inline_label: true, label: false %>
        <%= ppn.input :subject_email, :label => "Email Subject", :input_html => {:id => "#{ppn.object.locale.key}_email_subject", :style => "margin-left:10px;width:250px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
        <%= ppn.input :content_email, :as => :ckeditor, :label => "Email Content", :input_html => {:rows => 15, :cols => 15, :id => "#{ppn.object.locale.key}_email_content", :style => "margin-left:10px;width:750px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
        <%= ppn.input :locale_id, :as => :hidden %>
      </div>
    <% end %>
  </fieldset>
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>