<div class="xbox">
  <h2>Migration - Reset Email Notification Setting for chain : <%= @chain.name %></h2>
<hr>
<%= custom_form_for([:admin, @chain], :url => create_reset_email_notification_admin_chain_path(@chain)) do |f| %>
    
    <fieldset>
      <b>
        <i>Add %{chain_name} to include chain name in your notification.</i> <br/>
        <i>Add %{password} to include password on your notification.</i> <br/>
      </b>
      <br/>
      <br/>
      <%= f.simple_fields_for :reset_email_notifications do |ppn| %>
          <div class="span4">
            <h4><b>Notification <%= ppn.object.locale.name %></b></h4>
            <%= ppn.input :subject %>
            <%= ppn.input :content, :as => :text, :input_html => {:rows => 5, :cols => 20, :id => "#{ppn.object.locale.key}_content"} %>
            <%= ppn.input :locale_id, :as => :hidden %>
          </div>
      <% end %>
    </fieldset>
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>
</div>