<div class="page-header">
  <h2>Gift Notification Setting for chain : <%= @chain.name %></h2>
</div>
<%= simple_form_for([:admin, @chain], :url => create_gift_notification_admin_chain_path(@chain)) do |f| %>
    <% if @chain.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@chain.errors.count, "error") %> prohibited this chain from being saved:</h2>

          <ul>
            <% @chain.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <br/>
    <fieldset>
      <b>
        <i>Add %{chain_name} to include chain name in your notification.</i> <br/>
        <i>Add %{reward_fine_print} to include reward fine print in your notification.</i> <br/>
        <i>Add %{number_of_time} to include number of time incentive attached can be gifted in your notification.</i> <br/>
        <i>Add %{reward_title} to include reward title in your notification.</i> <br/>
        <i>Add %{code} to include code in your notification.</i> <br/>
        <i>add %{promo_expiration_date} in your notification. should echo the end date of promotion associated with the gifting reward</i>

      </b>
      <br/>
      <br/>
      <%= f.simple_fields_for :gift_notifications do |ppn| %>
          <div class="span4">
            <h4><b>Notification <%= ppn.object.locale.name %></b></h4>
            <%= ppn.input :email_subject, :label => "Email Subject", :input_html => {:id => "#{ppn.object.locale.key}_email_subject", :style => "margin-left:10px;width:250px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
            <%= ppn.input :email_content, :as => :text, :label => "Email Content", :input_html => {:rows => 5, :cols => 20, :id => "#{ppn.object.locale.key}_email_content", :style => "margin-left:10px;width:250px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
            <%= ppn.input :warning_message, :as => :text, :label => "Warning Message", :input_html => {:rows => 5, :cols => 20, :id => "#{ppn.object.locale.key}_warning_message", :style => "margin-left:10px;width:250px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
            <%= ppn.input :locale_id, :as => :hidden %>
          </div>
      <% end %>
    </fieldset>
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>