<div class="page-header">
  <h2>Survey Response Alert Setting for chain : <%= @chain.name %></h2>
  <hr>
</div>
<%= custom_form_for([:admin, @chain], :url => create_survey_response_alert_admin_chain_path(@chain), :html => {:class => "form-horizontal", :id => "response_alert_setting_page"}) do |f| %>
    
    <%= f.simple_fields_for :survey_response_alert do |sra| %>

          <%= sra.input :send_email_alert, :as => :hidden  %>
          <div style="float:left;width: 100px;">Send Email Alert :</div>
          <div id="false_box" class=" unconsidered_box <%= sra.object.send_email_alert ? "" : "unconsidered_active" %>"></div>
          <div id="true_box" class=" considered_box <%= sra.object.send_email_alert ? "considered_active" : "" %>"></div>
           <br />
          <div class="clearfix"></div>
          <i>This change will affect if you push the update button</i>
          <div class="clearfix"></div>
          <div class="page-header">
            <h4>Set Question/Choice to be Considered for Negative Response</h4>  <br />
            Select Survey : <%= select_tag :survey_id, options_for_select(@chain.surveys.map{|s| [s.title, s.id]}), {:include_blank => true, :id => "survey_select"}%>
          </div>
          <div class="clearfix"></div>
          <div id="survey_question_list">

          </div>

        <div class="clearfix"></div>
        <div class="notification_locale">
          <hr />
          <b><i>NOTE : <br />
            %{user_email}, <br />
            %{survey_location}, <br />
            %{survey_date_time}, <br />
            %{survey_id}, <br />
            %{receipt_id_link} renders receipt id hyperlinked to receipt image url <br />
            %{survey_response} render survey table . includes survey questions and respective user response</i></b> <br />
          <hr />
          <%= sra.simple_fields_for :notification_locales do |nl| %>
              <div class="span4">
                <h4><b>Response Alert <%= nl.object.locale.name %></b></h4>
                <%= nl.input :email_subject, :label => "Email Subject", :hint => "only include %{survey_id} in subject line", :input_html => {:id => "#{nl.object.locale.key}_email_subject"} %>
                <%= nl.input :email_content, :as => :text, :label => "Email Content", :input_html => {:rows => 8, :cols => 20, :id => "#{nl.object.locale.key}_email_content"} %>
                <%= nl.input :locale_id, :as => :hidden %>
              </div>
          <% end %>
        </div>
    <% end %>
    <div class="clearfix"></div>
    <div class="form-actions" style="text-align: center">
      <%= f.submit "Update", :class => "btn btn-primary" %>
      <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>
    </div>

<% end %>

<script type="text/javascript">
    $('#survey_select').change(function(){
      $('#response_alert_setting_page').ajaxloader('show');
      id = $(this).val();
      if(id == ""){
          $.get('/admin/chains/'+0+'/load_survey_question');
      }else{
          $.get('/admin/chains/'+id+'/load_survey_question');
      }
    });
    $('#true_box').click(function(){
        $('#false_box').removeClass('unconsidered_active');
        $(this).addClass('considered_active');
        $('#chain_survey_response_alert_attributes_send_email_alert').attr('checked','checked');
        $('#chain_survey_response_alert_attributes_send_email_alert').val(true);
    })
    $('#false_box').click(function(){
        $('#true_box').removeClass('considered_active');
        $(this).addClass('unconsidered_active');
        $('#chain_survey_response_alert_attributes_send_email_alert').removeAttr('checked');
        $('#chain_survey_response_alert_attributes_send_email_alert').val(false);
    })
</script>