<div class="page-header">
  <h2>Launch Text Setting</h2>
  <hr>
</div>

<%= custom_form_for @chain, :url => create_new_launch_text_admin_chain_path(@chain) do |f| %>
    <%= f.simple_fields_for :launch_texts do |launch_text| %>
        <%= render "launch_text_fields", :f => launch_text %>
    <% end %>
    <div class="link" style="margin-bottom: 10px">
      <%= link_to_add_association 'add launch text', f, :launch_texts, :class => "btn btn-primary"%>
    </div>
    <%= f.submit "Update", :class => "btn btn-primary" %>
<% end %>