<div class="page-header">                                new_push_reward_admin_chain_path
  <h2>New Push Reward Notification for <%= @chain.name %></h2>
</div>
<div class="x-box">
  <%= simple_form_for :chain, :url => post_push_reward_admin_chain_path(@chain) do |f| %>
    <div class="field">
      <%= f.label :new_push_reward %>
      <%= f.input_field :new_push_reward, as: :text %><br/>
    </div>
    <br/><br/>
    <div class="actions">
      <%= submit_tag "save", :class => 'btn' %> <br /><br />
    </div>
  <% end %>
  <%= link_to "Back", admin_chains_path, :class => 'btn' %>
</div>

