<h2>New Reward Notification Template</h2>
<%= simple_form_for :reward_notif, :url => add_reward_notif_admin_chain_path(@chain) do |f| %>
    <div class="field">
      <%= f.input :locale, :as => :select, :collection => Locale.all %>
    </div>

    <div class="field">
      <%= f.input :body, :as => :text, :input_html => {:value => @content, :rows => 5, :style => 'width:300px' } %>
      <i>example : New reward pushed to your account since you last checked you rewards.

    <div class="actions">
      <%= f.submit %> | <%= link_to "Back", admin_chain_url(@chain) %>
    </div>
<% end %>
