<div class="page-header">
  <h2>Account Notification Setting for chain : <%= @chain.name %></h2>
  <hr>
</div>
<%= custom_form_for([:admin, @chain], :url => create_account_notification_admin_chain_path(@chain)) do |f| %>
  <%= f.simple_fields_for :account_notifications do |an| %>
      <h4><b>Notification <%= an.object.locale.name %></b></h4>
      <%= an.input :deactivation_confirmation_text %>
      <%= an.input :reactivation_confirmation_text %>
      <%= an.input :confirm_button_text, :as => :string %>
      <%= an.input :cancel_button_text, :as => :string %>
      <%= an.input :locale_id, :as => :hidden %>    
  <% end %>
  <div class="clearfix"></div>
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>
  
<% end %>