<div class="page-header">
  <h2>Receipt Code Setting: <%= @chain.name %></h2>
  <he>
</div>
<%= custom_form_for([:admin, @chain], :url => create_receipt_code_setting_admin_chain_path(@chain)) do |f| %>
  <fieldset>
    <%= f.simple_fields_for :receipt_code_setting do |pcs| %>
        <%= pcs.input :appcode_type, :as => :hidden %>
        <%= pcs.input :code_type, :as => :hidden %>
        <div class="form-inputs">
          <div id="dynamic_form">
            <div class="field">
              <%= pcs.input :pos_digit_barcode, :label => 'BARCODE LENGTH' %>
            </div>

            <div class="field">
              BARCODE TYPE
              <%= pcs.input :barcode_format,
                            :collection => [[1, 'Numeric'], [2, 'Alphanumeric']],
                            :label_method => :last,
                            :value_method => :first,
                            :as => :radio_buttons,
                            :item_wrapper_class => 'inline',
                            :label => false
              %>
            </div>
            <div class="field">
              <%= pcs.input :barcode_format_type,
                            :collection => Chain::BARCODE_FORMAT_TYPES,
                            :label => "POS BARCODE FORMAT"
              %>
            </div>
          </div>
        </div>      
    <% end %>
  </fieldset>
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>