<div class="x-box">
  <h2>Milestone Notification Setting</h2>
<hr>
<%= custom_form_for([:admin, @chain], :url => create_milestone_notification_admin_chain_path(@chain)) do |f| %>
  <fieldset>
    <legend><i>Email And Push Notification</i></legend>
    <br />
    <b>
      <ul>
        <i>Note : <br/> 
        Add %{reward_name} to include reward name in your notification. Eg : Congrats, you got %{reward_name}</i> <br />
        <i>Add %{points_incentive_set} to include total point incentive</i> <br />
        <i>Add %{min_subtotal} to include minimum subtotal value.</i><br />
        <i>Add %{receipt_id} to include the receipt id.</i><br />
        <i>Add %{reward_fine_print} to add the reward fine print</i><br />
      </ul>
    </b>
    <br />
    <br />
    <%= f.simple_fields_for :milestone_notifications do |nl| %>
      <div class="span4">
        <h4><b>Notification <%= nl.object.locale.name %></b></h4>
        <%= nl.input :email_subject %>
        <%= nl.input :email_content %>
        <%= nl.input :locale_id, :as => :hidden %>
      </div>
    <% end %>
  </fieldset>
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>
</div>