<div class="x-box">
  <h2>Online Order (* if user not found in the chain)</h2>
<hr>
<%= custom_form_for([:admin, @chain], :url => create_email_parse_admin_chain_path(@chain)) do |f| %>
      <legend><i>Email Notification</i></legend>
      <br />
      <b>
        <ul>
          <i>Note :

          <i>Add %{user_email} to add the user email that rejected</i><br/>
          <i>Add %{chain} to add the email name that rejected</i>
            <br />
        </ul>
      </b>
      <br />
      <div class="form-group row string">
        <label class="col-sm-3 col-form-label">SEND EMAIL </label>
        <div class="col">
          
        <%= check_box_tag "send_email","true", !@on_off.blank?, class: "form-control form-control-sm string" %>
        </div>
      </div>
      <div class="form-group row string">
        <label class="col-sm-3 col-form-label">Subject </label>
        <div class="col">
          <%= text_field_tag "subject", @subject, class: "form-control form-control-sm string" %>
        
        </div>
      </div>
      
      
      <div class="form-group row string">
        <label class="col-sm-3 col-form-label">Content </label>
        <div class="col">
          <%= text_area_tag "content", @content, class: "form-control form-control-sm string" %>
        
        </div>
      </div>
      
      
      <hr/>

     <h1> Email For WebHook</h1><br/>
     <div class="form-group row string">
        <label class="col-sm-3 col-form-label">Email </label>
        <div class="col">
          <%= text_field_tag "email_parse_url", @chain.email_url.blank? ? nil : @chain.email_url, class: "form-control form-control-sm string" %>
        
        </div>
      </div>
      
      
      <br/>
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>
</div>