<%= javascript_include_tag "ckeditor/init" %>
<div class="page-header">
  <h2>Reward Expiration Notification for chain : <%= @chain.name %></h2>
  <hr>
</div>
<%= custom_form_for([:admin, @chain], :url => create_reward_expiration_notification_admin_chain_path(@chain)) do |f| %>  
  <fieldset>
    <br />
    <legend><i>Send Notification to</i></legend>
    Email : <%= f.check_box "ren_email_notification", :checked => @chain.ren_email_notification %>
    Phone : <%= f.check_box "ren_device_notification", :checked => @chain.ren_device_notification %><br />
    Number of Days before reward instance expiration that notification has to be sent : <%= f.input "ren_number_of_days", :label => false %>
  </fieldset>
  <br />
  <fieldset>
    <legend><i>Email And Push Notification</i></legend>
    <br />
    <b>
      <i>Add %{reward_title} to add reward title in notification</i><br />
      <i>Add %{reward_exp_date} to add reward expiration date in notification</i><br />
      <i>Add %{reward_fine_print} to add reward fine print in notification</i><br />
      <i>Add %{chain_name} to add chain name in notification</i><br />
    </b>
    <br />
    <br />
    <%= f.simple_fields_for :reward_exp_notifications do |ppn| %>
      <div class="span12">
        <h4><b>Notification <%= ppn.object.locale.name %></b></h4>
        <%= ppn.input :email_subject, :label => "Email Subject", :input_html => {:id => "#{ppn.object.locale.key}_email_subject", :style => "margin-left:10px;width:250px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
        <%= ppn.input :email_body_html, :as => :ckeditor, :label => "Email HTML Content", :input_html => { :toolbar => 'Easy', :rows => 3, :cols => 20, :value => ppn.object.email_body_html, :style => "width:600px"} %>
        <%= ppn.input :email_body_text, :as => :text, :label => "Email Content", :input_html => {:rows => 5, :cols => 20, :id => "#{ppn.object.locale.key}_email_content", :style => "margin-left:10px;width:550px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
        <%= ppn.input :notification, :as => :string, :label => "Push Notification Content", :input_html => {:id => "#{ppn.object.locale.key}_notification", :style => "margin-left:10px;width:250px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
        <%= ppn.input :locale_id, :as => :hidden %>
      </div>
    <% end %>
  </fieldset>
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>