<div class="page-header">
  <h2>Dashboard Signature Setting for chain : <%= @chain.name %></h2>
</div>
<%= simple_form_for([:admin, @chain], :url => create_dashboard_signature_admin_chain_path(@chain)) do |f| %>
    <div class="field">
      <%= text_area_tag "signature", @signature, :style => "width:300px;height:200px;" %>
    </div>
    <br />


    <p class="alert-info">
      <i>If this value is not set. default signature are </i> <br />

      Thank You <br/>
      <%= @chain.name %>
    </p>
    <div class="form-actions" style="text-align: center">
      <%= f.submit "Update", :class => "btn btn-primary" %>
      <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>
    </div>
<% end %>
