<div class="page-header">
  <h2>NETPOS Setting: <%= @chain.name %></h2>
  <hr>
</div>
<%= custom_form_for([:admin, @chain], :url => create_netpos_setting_admin_chain_path(@chain)) do |f| %>
  <fieldset>
    <%= f.simple_fields_for :netpos_setting do |bs| %>
      <%= bs.input :root_url %>
      <%= bs.input :login %>
      <%= bs.input :password, :as => :string %>
    <% end %>
  </fieldset>
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>