<div class="page-header">
  <h2>Reward Redeemption Code Setting: <%= @chain.name %></h2>
  <hr>
</div>
<%= custom_form_for([:admin, @chain], :url => create_reward_code_setting_admin_chain_path(@chain)) do |f| %>
  <% if @chain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chain.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
        <% @chain.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br />
  <div class="field">
    <%= f.input :reward_code_generated_type,
                :collection => Chain::REWARD_CODE_GENERATED_TYPE.to_a,
                :label_method => :first,
                :value_method => :last,
                :as => :radio_buttons,
                :item_wrapper_class => 'inline',
                :label => false
    %>
  </div>
  <fieldset id="reward_code_setting_box" style="display:<%= @chain.reward_code_generated_type == 1 ? "block" : "none"%>">
    <%= f.simple_fields_for :reward_code_setting do |pcs| %>
      
        <%= pcs.input :appcode_type, :as => :hidden %>
        <%= pcs.input :code_type, :as => :hidden %>
        <div class="form-inputs">
          <div id="dynamic_form">
            <div class="field">
              <%= pcs.input :pos_digit_barcode, :label => 'CODE LENGTH' %>
            </div>

            <div class="field">
              CODE TYPE
              <%= pcs.input :barcode_format,
                            :collection => [[1, 'Numeric'], [2, 'Alphanumeric']],
                            :label_method => :last,
                            :value_method => :first,
                            :as => :radio_buttons,
                            :item_wrapper_class => 'inline',
                            :label => false
              %>
            </div>
            <div class="field">
              <%= pcs.input :barcode_format_type,
                            :collection => Chain::BARCODE_FORMAT_TYPES,
                            :label => "CODE FORMAT"
              %>
            </div>
            <div class="field">
              <%= pcs.input :zero_padding, :label => "Zero Padding"%>
            </div>
            <div class="field">
              <%= pcs.input :timer, :label => "Code Expired after (in seconds, 0 = unlimited)"%>
            </div>
          </div>
        </div>      
    <% end %>
  </fieldset>

  <fieldset id="reward_code_fishbowl_setting_box" style="display:<%= @chain.reward_code_generated_type == 3 ? "block" : "none"%>">
    <%= f.simple_fields_for :fishbowl_promotion_setting do |fs| %>
      <%= fs.input :username %> <br  />
      <%= fs.input :password, :as => :string %> <br  />
      <%= fs.input :client_id, :label => "ClientID" %> <br  />
      <%= fs.input :client_secret %> <br  />
      <%= fs.input :brand_id, :label => "BrandID" %>
      <%= fs.input :reward_code_generate_type, :as => :hidden, :input_html => {:value => @chain.reward_code_generated_type} %><br  />
    <% end %>
  </fieldset>

  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>

<script type="text/javascript">
  $('#chain_reward_code_generated_type_1').click(function(){
    $('#reward_code_setting_box').show();
    $('#reward_code_fishbowl_setting_box').hide();
    $('#chain_fishbowl_promotion_setting_attributes_reward_code_generate_type').val("1")
  });

  $('#chain_reward_code_generated_type_2').click(function(){
    $('#reward_code_setting_box').hide();
    $('#reward_code_fishbowl_setting_box').hide();
    $('#chain_fishbowl_promotion_setting_attributes_reward_code_generate_type').val("2")
  });

  $('#chain_reward_code_generated_type_3').click(function(){
    $('#reward_code_fishbowl_setting_box').show();
    $('#reward_code_setting_box').hide();
    $('#chain_fishbowl_promotion_setting_attributes_reward_code_generate_type').val("3")
  })

</script>