<div class="page-header">
  <h2>Gift Code Setting: <%= @chain.name %></h2>
  <hr>
</div>
<%= custom_form_for([:admin, @chain], :url => create_gift_code_setting_admin_chain_path(@chain)) do |f| %>
  <fieldset>
    <%= f.simple_fields_for :gift_code_setting do |pcs| %>
        <%= pcs.select :appcode_type, AppcodeSetting::TYPES %>
        <%= pcs.input :code_type, :as => :hidden %>
        <div class="form-inputs">
          <div id="dynamic_form">
              <%= pcs.input :pos_digit_barcode, :label => 'BARCODE LENGTH' %>
              <%= pcs.input :default_code, as: :boolean, checked_value: true, unchecked_value: false, label: 'Default Giftcard number' %>
              <br />
            
              BARCODE TYPE
              <%= pcs.input :barcode_format,
                          :collection => [[1, 'Numeric'], [2, 'Alphanumeric']],
                          :label_method => :last,
                          :value_method => :first,
                          :as => :radio_buttons,
                          :item_wrapper_class => 'inline',
                          :label => false
              %>
              <%= pcs.input :barcode_format_type,
                          :collection => Chain::BARCODE_FORMAT_TYPES,
                          :label => "POS BARCODE FORMAT"
              %>
              <%= pcs.input :zero_padding, :label => "Zero Padding"%>
              <%= pcs.input :timer, :label => "Code Expired after (in seconds, 0 = unlimited)"%>
              <%= pcs.input :prefix %>
              <%= pcs.input :postfix %>
            
          </div>
        </div>      
    <% end %>
  </fieldset>
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>