<%= javascript_include_tag "ckeditor/init" %>
<h2>New Email Template</h2>
<%= simple_form_for :email_template, :url => add_email_template_admin_chain_path(@chain) do |f| %>
  <div class="field">
    <%= f.input :locale, :as => :select, :collection => @chain.locales, :include_blank => false %>
  </div>
  <div class="field">
    <%= f.input :code, :as => :select, :collection => [
      ['Welcome Email Email Subject', 'welcome_email_subject'],
      ['Welcome Email Email Body', 'welcome_email_body'],
      ['Welcome Chain Owner Email Subject', 'welcome_chain_owner_email_subject'],
      ['Welcome Chain Owner Email Body', 'welcome_chain_owner_email_body'],
      ['Welcome Rest Owner Email Subject', 'welcome_rest_owner_email_subject'],
      ['Welcome Rest Owner Email Body', 'welcome_rest_owner_email_body'],
      ['Receipt Reject Email Subject', 'receipt_reject_email_subject'],
      ['Receipt Reject Email Body', 'receipt_reject_email_body'],
      ['Forgot Password Email Subject','forgot_password_email_subject'],
      ['Forgot Password Email Body','forgot_password_email_body'],
      ['Push Reward Notification Subject','push_reward_notification_subject'],
      ['Push Reward Notification Body','push_reward_notification_body'],
      ['Referral Referer Subject','referral_referer_email_subject'],
      ['Referral Referer Body','referral_referer_email_body']
    ], :include_blank => false %>
  </div>
  <div id="legend-email"></div>
  <div class="field">
    <%#= f.input :content, :as => :text, :input_html => {:value => @content, :rows => 15, :style => 'width:450px' } %>
    <%= f.input :content, :as => :ckeditor, :input_html => { :toolbar => 'Easy', :rows => 3, :cols => 20 } %>
  </div>

  <div class="actions">
    <%= f.submit %> | <%= link_to "Back", admin_chain_url(@chain) %>
  </div>
<% end %>
