<div class="page-header">
  <h2>Emma Setting for chain : <%= @chain.name %></h2>
  <hr>
</div>
<%= custom_form_for([:admin, @emma_setting], :url => create_emma_setting_admin_chain_path(@chain)) do |fs| %>
    <div class="field">
        <label>Emma ignore marketing optin</label>
        <div class="radio">
            <label>
              <%= radio_button_tag 'emma_ignore_marketing_optin', true, @chain.emma_ignore_marketing_optin %> True
            </label>
          </div>
          <div class="radio">
            <label>
              <%= radio_button_tag 'emma_ignore_marketing_optin', false, !@chain.emma_ignore_marketing_optin %> False
            </label>
          </div>
      <br />

        <%= fs.input :public_api_key, :as => :string %> <br  />
        <%= fs.input :private_api_key, :as => :string %> <br  />
        <%= fs.input :account_id, :label => "AccountID" %> <br  />
        <%= fs.input :group_id, :label => "GroupID" %> <br  />
    </div>
    <%= fs.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>
    <%#= link_to "Destroy", remove_emma_setting_admin_chain_path(@chain), :confirm => "Are you sure?", :class => "btn btn-danger"  unless @chain.emma_setting.id.blank? %>
<% end %>