<%= javascript_include_tag "ckeditor/init" %>
<div class="page-header">
  <h2>Game Point Notification Setting for chain : <%= @chain.name %></h2>
</div>
<%= simple_form_for([:admin, @chain], :url => create_game_point_notification_admin_chain_path(@chain)) do |f| %>
  <% if @chain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chain.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
        <% @chain.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <br />
    <legend><i>Send Notification to</i></legend>
    Email : <%= f.check_box "game_point_notif_send_to_email", :checked => @chain.game_point_notif_send_to_email %>
    Phone : <%= f.check_box "game_point_notif_send_to_device", :checked => @chain.game_point_notif_send_to_device %>
  </fieldset>
  <br />
  <fieldset>
    <legend><i>Email And Push Notification</i></legend>
    <br />
    <b>
      <i>Add %{point_earned} to add the point added to user account from game</i><br />
    </b>
    <br />
    <br />
    <%= f.simple_fields_for :game_point_notifications do |ppn| %>
      <div class="span12">
        <h4><b>Notification <%= ppn.object.locale.name %></b></h4>
        <%= ppn.input :email_subject, :label => "Email Subject", :input_html => {:id => "#{ppn.object.locale.key}_email_subject", :style => "margin-left:10px;width:250px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
        <%= ppn.input :email_content_html, :as => :ckeditor, :label => "Email HTML Content", :input_html => { :toolbar => 'Easy', :rows => 3, :cols => 20, :value => ppn.object.email_content_html, :style => "width:600px"} %>
        <%= ppn.input :email_content, :as => :text, :label => "Email Content", :input_html => {:rows => 5, :cols => 20, :id => "#{ppn.object.locale.key}_email_content", :style => "margin-left:10px;width:550px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>
        <%= ppn.input :notification, :as => :string, :label => "Push Notification Content", :input_html => {:id => "#{ppn.object.locale.key}_notification", :style => "margin-left:10px;width:250px;"}, :label_html => {:class => 'control-label'}, :wrapper_html => {:class => "control-group"} %>

        <%= ppn.input :locale_id, :as => :hidden %>
      </div>
    <% end %>
  </fieldset>
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>