<div class="page-header">
  <h2>Reward Share Text Setting for chain : <%= @chain.name %></h2>
  <hr>
</div>
<%= custom_form_for([:admin, @chain], :url => create_reward_share_text_admin_chain_path(@chain)) do |f| %>
    <b>
      <i>Note : </i><br />
      <i>Add %{reward_name} to include reward name in your share text. Eg : Congrats, you got %{reward_name}</i>
    </b>
    <br/>
    <br/>
    <%= f.simple_fields_for :reward_share_texts do |an| %>
        <div class="span4">
          <h4><b>Share Text <%= an.object.locale.name %></b></h4>
          <%= an.input :share_text_facebook, :label => "Facebook", :input_html => {:rows => 5, :cols => 20, :id => "#{an.object.locale.key}_share_text_fb"} %>
          <%= an.input :share_text_twitter, :label => "Twitter",:input_html => {:rows => 5, :cols => 20, :id => "#{an.object.locale.key}_share_text_tw"} %>
          <%= an.input :locale_id, :as => :hidden %>
        </div>
    <% end %>
    <div class="clearfix"></div>
    <div class="form-actions" style="text-align: center">
      <%= f.submit "Update", :class => "btn btn-primary" %>
      <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>
    </div>

<% end %>