<h1> Guest Relations Setting for : <%= @chain.name %></h1>

<table>
  <th>
    <tr><td>Name</td>
    <td>Status</td></tr>
  </th>
  <% but_cr_state = @cr == true ? "ON" : "OFF" %>
  <% color_create = @cr == true ? "" : "btn-danger" %>
  <tr>
    <td>Push Reward</td>

    <td><%= link_to but_cr_state,
                    update_guest_relation_setting_admin_chain_path(
                            @chain,
                            :mode => "reward", :val => @cr == true ? "OFF" : "ON"),
                    :class => "btn #{color_create}" , :id => "btn_reward_#{@chain.id}" , data: {confirm: "Are You sure Want to Turn Off / On the setting?"}
    %></td>
  </tr>
  <% but_pr_state = @pr == true ? "ON" : "OFF" %>
  <% color_process = @pr == true ? "" : "btn-danger" %>
  <tr>
    <td>Push Point</td>
    <td><%= link_to but_pr_state,
                    update_guest_relation_setting_admin_chain_path(@chain,
                                                                :mode => "points",
                                                                :val => @pr == true ? "OFF" : "ON"),
                    :class => "btn #{color_process}", data: {confirm: "Are You sure Want to Turn Off / On the setting?"}
    %></td>
  </tr>
</table>
<%= link_to "Back", dashboard_setting_admin_chain_path(@chain) , :class => 'btn'%>

