<div class="page-header">
  <h2>Pay Code Setting: <%= @chain.name %></h2>
  <hr>
</div>
<%= custom_form_for([:admin, @chain], :url => create_pay_code_setting_admin_chain_path(@chain)) do |f| %>
  <% if @chain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chain.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
        <% @chain.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br />
  <fieldset>
    <%= f.simple_fields_for :pay_code_setting do |pcs| %>
        <%= pcs.input :appcode_type, :as => :hidden %>
        <%= pcs.input :code_type, :as => :hidden %>
        <div class="form-inputs">
          <div id="dynamic_form">
            <div class="field">
              <%= pcs.input :pos_digit_barcode, :label => 'BARCODE LENGTH' %>
            </div>

            <div class="field">
              BARCODE TYPE
              <%= pcs.input :barcode_format,
                          :collection => [[1, 'Numeric'], [2, 'Alphanumeric']],
                          :label_method => :last,
                          :value_method => :first,
                          :as => :radio_buttons,
                          :item_wrapper_class => 'inline',
                          :label => false
              %>
            </div>
            <div class="field">
              <%= pcs.input :barcode_format_type,
                          :collection => Chain::BARCODE_FORMAT_TYPES,
                          :label => "POS BARCODE FORMAT"
              %>
            </div>
            <div class="field">
              <%= pcs.input :zero_padding, :label => "Zero Padding"%>
            </div>
            <div class="field">
              <%= pcs.input :timer, :label => "Code Expired after (in seconds, 0 = unlimited)"%>
            </div>
          </div>
        </div>
      
    <% end %>
  </fieldset>
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_chains_url, :class => "btn btn-primary" %>

<% end %>