<div class="page-header">
  <h2>EDIT CHAIN OLO SETTING</h2>
  <hr>
</div>
<div class="x-box">
  <%= custom_form_for @chain, :as => :chain, :url => olo_update_admin_chain_path(@chain)do |f| %>
      <%= f.input :olo_url %>
      sample url : https://frelevant.herokuapp.com/olo_webhook/chain_name <br/>
      where chain name should un space , sample test chain, it should be test-chain on the url
        <%= f.input :olo_signature %>
      <%= f.submit "Update", class: "btn btn-primary" %>
      
  <% end %>
</div>