<%= form_tag(post_region_report_admin_chains_path) do |f| %>

    <div class="x-box" style="display:;">
      <div class="">
        THIS PERIOD
        <div class="field">
          <%= label_tag :beginning %>
          <%= text_field_tag "this_period_start", '', :class => 'x-datepicker', :readonly => true %>
        </div>
        <div class="field">
          <%= label_tag :ending %>
          <%= text_field_tag "this_period_end", '', :class => 'x-datepicker', :readonly => true %>
        </div>
      </div>

      <div class="">
        LAST PERIOD
        <div class="field">
          <%= label_tag :beginning %>
          <%= text_field_tag "last_period_start", '', :class => 'x-datepicker', :readonly => true %>
        </div>
        <div class="field">
          <%= label_tag :ending %>
          <%= text_field_tag "last_period_end", '', :class => 'x-datepicker', :readonly => true %>
        </div>
      </div>
      <br/>

      <%= select_tag( "chain_id", options_from_collection_for_select(Chain.order("name"),"id","name"), {:include_blank => false}) %>

      <%= select_tag('tag_id', "", options ={:multiple => true, :class=>'multiselect'}) %>
      <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
      
      </div>

      <%= submit_tag "create" %>
<% end %>
<script type="text/javascript">
$( document ).ready(function() {
  
  $("#chain_id").change( function(){
    $("#h_chain_id").val($(this).val());
    $("#sub").click();
    $('#loader').show();
  });
  $("#chain_id").change();
});
</script>

<%= form_tag region_match_admin_chains_path, :id => "form", :class => 'form-horizontal', :style => "display:none;", :remote => true do %>
  <%= hidden_field_tag "h_chain_id" %>
  <%= submit_tag "submit", :id => "sub" %>
<% end %>