$("#tag_id").html("");
$('#tag_id').multiselect('refresh');

<% @tags = [] %>
<% @restaurants.each do |res| %>
<% @tags << res.tags %>
<% end %>
<% @tags.flatten.uniq.sort{|a,b| a[:name].downcase <=> b[:name].downcase}.each do |tag| %>
$("#tag_id").append($('<option></option>').attr('value', '<%= tag.name %>').text('<%= tag.name %>'));
<% end unless @tags.flatten.blank? %>







$('#tag_id').multiselect('refresh');
$('#tag_id').multiselect("checkAll");

//$('#reward_id').multiselect('refresh');
//$('#reward_id').multiselect("checkAll");
$('#loader').hide();
//$('#loader-2').hide();