<div class="x-box">
<%= simple_form_for([:admin, @chain], :html => {:multipart => true}) do |f| %>
  <% if @chain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chain.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
        <% @chain.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <fieldset>
      <legend>Relevant to REVEL FTP Server Settings</legend>
      <div class="field">
        <%= f.input :relevant_to_revel_ftp_url %>
      </div>
      <div class="field">
        <%= f.input :relevant_to_revel_ftp_port %>
      </div>
      <div class="field">
        <%= f.input :relevant_to_revel_ftp_username %>
      </div>
      <div class="field">
        <%= f.input :relevant_to_revel_ftp_password, :as => :string %>
      </div>
      <div class="field">
        <%= f.label :relevant_to_revel_ftp_dir %>
        <%= f.input_field :relevant_to_revel_ftp_root_dir %>
      </div>
      <br><br>
    </fieldset>
  </div>

  <div class="field">
    <fieldset>
      <legend>REVEL to Relevant FTP Server Settings</legend>
      <div class="field">
        <%= f.input :revel_to_relevant_ftp_url %>
      </div>
      <div class="field">
        <%= f.input :revel_to_relevant_ftp_port %>
      </div>
      <div class="field">
        <%= f.input :revel_to_relevant_ftp_username %>
      </div>
      <div class="field">
        <%= f.input :revel_to_relevant_ftp_password, :as => :string %>
      </div>
      <div class="field">
        <%= f.label :revel_to_relevant_ftp_dir %>
        <%= f.input_field :revel_to_relevant_ftp_root_dir %>
      </div>
      <br><br>
    </fieldset>
  </div>

  <div class="actions">
    <%= f.button :submit, :class => "btn btn-primary" %> <br /><br />
  </div>
<% end %>
</div>


<style>
  .x-box label, .x-box .x-box-inner label{width: 100%;}
</style>
