<div class="page-header">
  <h3>Rewards POS Codes <%= @chain.name%></h3>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Reward ID</th>
    <th>Reward Name</th>
    <th>Total Unused Code</th>
    <th>Total Uploaded Code</th>
  </tr>
  </thead>
  <tbody>
  <% @rewards.each do |reward| %>
    <tr>
      <td><%=reward.id%></td>
      <td><%=reward.name%></td>
      <td><%=reward.reward_pos_codes.where("user_id IS NULL").count%></td>
      <td><%=reward.reward_pos_codes.count %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4">
      <%= will_paginate @rewards%>
    </td>
  </tr>
  </tfoot>
</table>

<%= link_to "<< Back to Chain page", admin_chains_path, :class => "btn btn-primary" %>