<div class="page-header">                                new_push_reward_admin_chain_path
  <h2>New Reward Timer for <%= @chain.name %></h2>
</div>
<div class="x-box">
  <%= simple_form_for :chain, :url => post_push_reward_admin_chain_path(@chain) do |f| %>
      <div class="field">
        <%= f.label :reward_timer %>
        <%= f.input_field :reward_timer %><br/>
      </div>
      <br/><br/>
      <div class="actions">
        <%= submit_tag "save", :class => 'btn' %> <br /><br />
      </div>
  <% end %>
  <%= link_to "Back", admin_chains_path, :class => 'btn' %>
</div>

