$('.table.table-bordered').ajaxloader();
$('#db_take_<%= @chain.id %>').html('<%= escape_javascript(render :partial => 'db_take_btn', :locals => {:chain => @chain}) %>');
$('.table.table-bordered').ajaxloader('hide');