<div class="page-header">
  <h1>Name: <%= @chain.name%> </h1>
</div>

<div id="listRestaurants">
  <%= render partial: "restaurants" %>
</div>

<table>
  <caption>Listing Email Template FROM DB (<%= link_to "Create New Template", new_admin_chain_email_template_path(@chain)%>)</caption>
  <thead>
  <tr>
    <th>Name</th>
    <th>Locale</th>
    <th>Subject</th>
    <th>Content (text/html)</th>
    <th>Content (text/plain)</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @chain.email_templates.where(:template_name => (ChainLocale::EMAILS + ChainLocale::NCR_EMAIL)).each do |email_template| %>
      <tr>
        <td><%= email_template.template_name %></td>
        <td><%= email_template.locale.key %></td>
        <td><%= email_template.mail_subject %></td>
        <td><%= truncate(email_template.mail_content_html,  :length => 100, :separator => ' ')%></td>
        <td><%= truncate(email_template.mail_content_text,  :length => 100, :separator => ' ')%></td>
        <td>
          <%= link_to "show", admin_chain_email_template_path(@chain, email_template), :class => "btn btn-primary"  %>
          <%= link_to "edit", edit_admin_chain_email_template_path(@chain, email_template), :class => "btn btn-success"  %>
          <%= link_to "destroy", admin_chain_email_template_path(@chain, email_template), :class => "btn btn-danger", :method => "delete", data: {confirm: "are you sure?"} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<!---------------- WarningLocale ----------->
<table>
  <caption>Listing Warning Claim Template (<%= link_to "Create WarningLocale template", new_warning_template_admin_chain_path(@chain) %>)
    <% if @warning_keys.blank? %>
      |
      <%= link_to "Generate default warning data", generate_warning_template_admin_chain_path(@chain), :confirm => 'Are you sure? all the template will replace by default template' %>
    <% end %></caption>
  <thead>
  <tr>
    <th>Field</th>
    <th>Question</th>
    <th>Body</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @warning_keys.each do |key| %>
    <tr>
      <td><%= key %></td>
      <td><%a = REDIS.hget "chain_#{@chain.id}_warning_claim", key %>
        <% a = JSON.parse(a) rescue ""%>
        <%= a["question"] rescue ""%>
      </td>
      <td><%= a["body"] rescue ""%></td>
      <td>
        <%= link_to "edit", edit_warning_template_admin_chain_path(@chain, key) %>
        <%= link_to "delete", delete_warning_template_admin_chain_path(@chain, key), :confirm => 'Are you sure?', method: :delete %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


<!---------------- Reward Notification ----------->
<table>
  <caption>listing new reward pushed notification in app (<%= link_to "Create New Reward Notification Template", new_reward_notif_admin_chain_path(@chain) %>)
    <% if @reward_notifications.blank? %>
      |
      <%= link_to "Generate default data", generate_reward_notif_admin_chain_path(@chain), :confirm => 'Are you sure? all the template will replace by default template' %>
    <% end %></caption>
  <thead>
  <tr>
    <th>Field</th>
    <th>Body</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <%#= debug @reward_notifications %>
  <% @reward_notifications.each do |key| %>
    <tr>
      <td><%= key %></td>
      <%a = REDIS.hget "chain_#{@chain.id}_reward_notif", key %>
      <td><%= JSON.parse(a)["body"] %></td>
      <td>
        <%= link_to "edit", edit_reward_notif_admin_chain_path(@chain, key) %>
        <%= link_to "delete", delete_reward_notif_admin_chain_path(@chain, key), :confirm => 'Are you sure?', method: :delete %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


<br />
<%= link_to 'Edit', edit_admin_chain_path(@chain), :class => "btn btn-primary" %>
<%= link_to 'Back', admin_chains_path, :class => "btn btn-success" %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function() {
      $('#data-container').ajaxloader('show');
    });
  })
</script>