$('#listRestaurants').html('<%= escape_javascript(render "restaurants") %>');
$('#loader').hide();

$(".pagination").find("a").attr("data-remote", true);
$('.pagination a').click(function() {
  $('#data-container').ajaxloader('show');
});