<h1>Survey with check detail</h1>

<%= form_tag(pos_survey_check_report_admin_chains_path) do |f| %>

    <div class="x-box" style="display:;">
      <div class="">
        Select Date
        <div class="field">
          <%= label_tag :beginning %>
          <%= text_field_tag "start_date", Time.zone.now.to_date, :class => 'x-datepicker', :readonly => true %>
        </div>
        <div class="field">
          <%= label_tag :ending %>
          <%= text_field_tag "end_date", Time.zone.now.to_date, :class => 'x-datepicker', :readonly => true %>
        </div>
      </div>

      <%#= select_tag( "chain_id", options_from_collection_for_select(Chain.order("name"),"id","name"), {:include_blank => false}) %>
      Survey ID : <%= text_field_tag "survey_id" %>




    </div>
    Send To email Address : <%= text_field_tag "email" %><br/>

    <%= submit_tag "create" %>
<% end %>
<script type="text/javascript">
    $( document ).ready(function() {

        $("#chain_id").change( function(){
            $("#h_chain_id").val($(this).val());
            $("#sub").click();
            $('#loader').show();
        });
        $("#chain_id").change();
    });
</script>

<%= form_tag grouping_region_match_admin_chains_path, :id => "form", :class => 'form-horizontal', :style => "display:none;", :remote => true do %>
    <%= hidden_field_tag "h_chain_id" %>
    <%= submit_tag "submit", :id => "sub" %>
<% end %>