<% if @save.eql?(true) %>
  $('#modal').hide();
  $('#hour_<%= @chain.id %>').val('<%= @hour %>');
  $('#hour_val_<%= @chain.id %>').text('<%= @hour %>');
<% else %>
  $('.alert-error').show();
<% end %>
$('#modal').ajaxloader('hide');