<h1>User Email List</h1>

<%= form_tag(post_user_email_list_admin_chains_path) do |f| %>

    <div class="x-box" style="display:;">
     <div class="">
        ENTER PERIOD
        <div class="field">
          <%= label_tag :beginning %>
          <%= text_field_tag "this_period_start", '', :class => 'x-datepicker', :readonly => true %>
        </div>
        <div class="field">
          <%= label_tag :ending %>
          <%= text_field_tag "this_period_end", '', :class => 'x-datepicker', :readonly => true %>
        </div>
      </div>



      <%= select_tag( "chain_id", options_from_collection_for_select(Chain.order("name"),"id","name"), {:include_blank => false}) %>




    </div>
    Send To email Address : <%= text_field_tag "email" %><br/>

    <%= submit_tag "create" %>
<% end %>
