<section id="checklocation" class="checkwraper scroll-pane" style="border:none;">
  <ul class="nav nav-pills nav-stacked">
    <li class="">
      <%= link_to "Receipt Submitted".html_safe, owner_activities_path, :class=> "btn",:id => "graph" %>
    </li>
    <li>
      <%= link_to "Rewards Redeemed".html_safe, rewards_owner_activities_path, :class=> "btn",:id => "graph" %>
    </li>
  </ul>
</section>