<script>
    $(document).ready(function(){
        $.ajax({
            url: '<%= print_row_tables_owner_activities_path %>',
            type: 'POST',
            data: {restaurant_id : <%=  restaurants.compact %>, step : <%= step.to_i + 1 %>} ,
            success: function(data){
               // alert("OK");
            }
        });
    });
</script>