<table>
  <thead>
    <tr>
    <th>
      Reward Code</th>
      <th>
        Timer    </th>
    </tr>
  </thead>

  <% @rewards.each do |reward_trans| %>
    <tr>
      <td>
        <%= reward_trans.staffcode.nil?? "-" :reward_trans.staffcode %>
      </td>
      <td>
        <% a =   reward_trans.restaurant_reward.nil?? "-" : reward_trans.restaurant_reward.reward.chain.timer %>
        <%= a %>
      </td>
    </tr>
  <% end %>
</table>