<div class="row-fluid head">
  <div class="span8">
    <h2>Reward Detail <small>From <%= date_only(@start_date) %> - <%= date_only(@end_date) %></small></h2>
  </div>
  <div class="pull-right">
    <%= will_paginate @restaurants %>
  </div>
</div>

<div class="row-fluid">
  <table class="table table-hover">
    <thead>
    <tr>
      <%= table_generate_rewards_search(@start_date,@end_date,@restaurants) %>
    </tr>
    </thead>
    <tbody>
    <% unless @restaurants.blank? %>
        <% @restaurants.each do |res| %>
            <tr><%= table_generate_body_rewards_ajax_search(@start_date,@end_date,res)  %></tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>
</div>