<% if @is_save == true %>
$('#error_act').html('');
$('.modal-body').html('We are collecting user responses, they will be emailed to you soon.');
$('.modal-footer').html('<a href="/owner/activities" class="btn">Ok</a> ');
$('#myModalLabel').html('Processing Request');
$('.modal-footer').show();
<% else %>
$('#error_act').html("<div class='alert fade in'><button data-dismiss='alert' class='close' type='button'>×</button>" +
        "<p> <%=@err %> </p></div> ");
$('.modal-footer').show();
<% end %>