<% index = 0 %>
<% @restaurants.map(&:id).in_groups_of(10).each_with_index do |res_5,step| %>
    $('#ajax_request').append("<%= escape_javascript(render :partial => "restaurant_activities", :locals => {:restaurants => res_5, :step => @step}) %>");
<% end %>