<% require 'csv' %>
<% headers = csv_table_generate_receipts(10,@restaurants)%>
<%= CSV.generate_line headers, :row_sep => ?\t, :quote_char => ?\ %>
<% @restaurants.each do |res| %>
  <% row = csv_table_generate_body_receipts(10, [res]) %>

  <%= CSV.generate_line row, :row_sep => ?\t, :quote_char => ?\ %>
<% end %>