<% content_for :top_menu do %>
  <%= render "owner/greetings/top_menu" %>
<% end %>
<section class="contentwraper bottommgn">
  <%= render "left_menu" %>
  <section class="span10 bottommgn" style="width:100%;margin-top:19px;float:none;margin-left:114px;">

    <h1>Receipts <small>From <%= date_only(Time.zone.now - 10.days) %> - <%= date_only(Time.zone.now) %></small></h1>


    <br />
    <table cellspacing="1" class="table table-striped table-bordered tblstyle tablesorter fntstyle" id="myTable" style="width:80%;padding-left;10px">
      <thead>
        <tr>
          <%= table_generate_receipts(10,@restaurants) %>
        </tr>
      </thead>
      <tbody>
        <%= table_generate_body_receipts(10,@restaurants) %>
      </tbody>
    </table>
  </section>

</section>
