<% content_for :top_menu do %>
    <%= render "owner/greetings/top_menu" %>
<% end %>
<section class="contentwraper bottommgn">
  <%= render "left_menu" %>
  <section class="span10 bottommgn" style="width:100%;margin-top:19px;float:none;margin-left:114px;">


    <h1>Rewards Redeemed <small>From <%= date_only(Time.zone.now - 10.days) %> - <%= date_only(Time.zone.now) %></small></h1>

    <br />
    <table cellspacing="1" class="table table-striped table-bordered tblstyle tablesorter fntstyle" id="myTable" style="width:80%;padding-left;10px">
      <thead>
      <tr>
        <%= table_generate_rewards(10,@restaurants) %>
      </tr>
      </thead>
      <tbody>
      <% @restaurants.in_groups_of(5) do |res_5| %>
          <% res_5.each do |res| %>
              <% unless res.blank? %>
                  <tr class="first" id="row-<%= res.id %>">
                    <td>
                      <%= res.dashboard_display_text %>
                    </td>
                    <td colspan="11">Gathering Data <%= image_tag "loader.gif" %>...</td>
                  </tr>
              <% end %>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </section>

</section>
<div id="ajax_request" style="display:none;"></div>
<script>
    $(document).ready(function(){
        $.ajax({
            url: '<%= generate_restaurant_rewards_owner_activities_path %>',
            type: 'POST',
            data: {restaurant_id : <%=  @restaurants.map(&:id) %>} ,
            success: function(data){
                //alert("OK");
            }
        });
    });
</script>
