<%= stylesheet_link_tag "d2_css/lib/select2" %>
<%= javascript_include_tag "d2_js/select2.min" %>
<div class="row-fluid section">
  <div class="span12">
    <%= link_to "Receipt Submitted".html_safe, owner_activities_path, :class=> "btn",:id => "graph" %>
    <%= link_to "Rewards Redeemed".html_safe, rewards_owner_activities_path, :class=> "btn",:id => "graph" %>
    <a href="#surModal" class="btn" role="button" class="survey_csv" data-toggle="modal" id="survey_load" data-backdrop="static" data-keyboard="false" style="display:;">Export CSV</a>
    <% if current_owner.is_chain_owner? and @tag_list.size > 0 and !@tag_list.first.blank?  %>

        <!--<div class="ui-select" style="width:130px">
    <%#= select_tag("filter_type", options_for_select([" All Locations "]+@tag_list, :selected => @filter_tag),
                   :onchange => "window.location = '/owner/members?tag='+this.value") %>

    </div> -->
        <%#= debug @tag_list %>
        <%#= debug @tag_list.size %>

    <% end %>
    <%= render 'search_form' %>
  </div>
</div>
<br /><br />
<div class="table-wrapper products-table section" id="content">
  <div class="row-fluid head">
    <div class="span8">
      <h2>Reward Detail <small>From <%= date_only(Time.zone.now - 10.days) %> - <%= date_only(Time.zone.now) %></small>
      <% if current_owner.is_chain_owner? and @tag_list.size > 0 and !@tag_list.first.blank? %>
      <div class="btn-group">
        <button class="btn">Regions</button>
        <button class="btn dropdown-toggle" id="button_filter" data-toggle="dropdown" onclick="$('#filter_content').toggle();">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="filter_content" style="padding: 10px;">
          <%= form_tag rewards_owner_activities_path, :method => :get, :class => 'region-options' do %>
              <li>
                <a href="#"> <%= check_box_tag "check_all_region", "check_all_region",
                                               params['check_all_region'].blank? ?  false : true,
                                               {:onclick => "$('#filter_content').show();", :class => 'span2'} %>
                </a>
                <b>All Regions</b>
              </li>
              <% @tag_list.each do |tag| %>

                  <li><a> <%= check_box_tag "tag[]", "#{tag}",
                                            params['tag'].blank? ? false : params['tag'].include?(tag),
                                            {:onclick => "$('#filter_content').show();", :class => 'span2'} %>
                  </a>
                    <%= tag %>
                  </li>
              <% end %>
              <%= button_tag "Search", :class => 'btn-mini btn-primary' %>
          <% end %>
        </ul>
      </div>
      <% end %>
      </h2>
    </div>
    <div class="pull-right">
      <%= will_paginate @restaurants %>
    </div>
  </div>

  <div class="row-fluid">
    <table class="table table-hover">
      <thead>
      <tr>
        <%= table_generate_rewards(10,@restaurants) %>
      </tr>
      </thead>
      <tbody>
      <% unless @restaurants.blank? %>
          <% @restaurants.each do |res| %>
              <tr><%= table_generate_body_rewards_ajax(10,res)  %></tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>

<div id="ajax_request" style="display:none;"></div>
<script>
  $(document).ready(function () {
      $('.survey_export').click(function () {
          $('#survey_load').click();
      });
      $('.survey_export_rotate').click(function () {
          $('#survey_load').click();
      });
      $('#graph').click(function () {
          $('#data-container').html('<%= image_tag "spinner.gif", :style => "margin-left: 525px;margin-top: 20px;text-align: center;" %>');
      });
      $('#tb').click(function () {
          $('#data-container').html('<%= image_tag "spinner.gif", :style => "margin-left: 525px;margin-top: 20px;text-align: center;" %>');
      });


      $('.x-datepicker').datepicker({dateFormat:'yy-mm-dd'});
      $('.survey_csv').click(function () {
          var id = this.id.replace('survey_', '');
          $('#download_survey_id').val(id);
      });

      $(".x-datepicker-day").datepicker({
          onSelect:function (theDate) {
              var d1 = $('#start_date').datepicker("getDate");
              var d2 = $('#start_date').datepicker("getDate");
              d1.setDate(d1.getDate() + 30); // change to + 29 if

              $("#end_date").datepicker("option", "minDate", d2);
              $('#end_date_show').show();
          },
          beforeShow:function () {
              $('#ui-datepicker-div').css('z-index', 9999);
          },
          dateFormat:'yy-mm-dd'
      });

      $(".x-datepicker-max-day").datepicker({

          beforeShow:function () {
              $('#ui-datepicker-div').css('z-index', 9999);
          },
          dateFormat:'yy-mm-dd'
      });

      $('#check_all_region').click(function () {

          if($('#check_all_region').is(':checked') == true){
              $(".region-options li input[type='checkbox']").each(function(){
                          $(this).attr('checked', true);

                      }
              )
          }else{
              $(".region-options li input[type='checkbox']").each(function(){
                          $(this).attr('checked', false);
                      }
              )
          }
      });

  });
</script>

<% content_for :modal do %>
<!-- Modal -->
<div id="surModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Reward Detail</h3>
  </div>
  <div id="error_reward"></div>
  <div class="modal-body" style="text-align:center;">
    <%= form_tag export_rewards_redeemed_owner_activities_path, :remote => true do %>
        <%= hidden_field_tag "chain_id",@chain.id %>
        Start Date <%= text_field_tag "start_date" ,nil, :class => "x-datepicker-day", :readonly => true, :style => 'cursor:pointer;'%><br/>

        <div id="end_date_show" style="display: none;;">
          End Date <%= text_field_tag "end_date",nil, :class => "x-datepicker-max-day", :readonly => true, :style => 'cursor:pointer;' %><br/>

        </div>
        <div>
        Restaurant&nbsp;&nbsp;<%= select_tag "restaurant_id", options_from_collection_for_select(current_owner.restaurant_list, "id", "name"),
                                           { :prompt => 'All Restaurants' , :class => 'multiselect'} %>
        </div>
        <div>
        Rewards&nbsp;&nbsp;&nbsp;&nbsp;
        <%= select_tag "reward_id", options_from_collection_for_select(@chain.rewards.active, "id", "name"),
                       { :prompt => 'All Rewards' , :class => 'multiselect'} %>
        </div>
        <i id="notif_survey_popup"></i>
        <%= submit_tag "Submit", :style => "display:none;", :id => "submit_survey_csv" %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <%= link_to "OK", "#", :class => "btn",:onclick => "$('#submit_survey_csv').click();$('.modal-footer').hide();return false;" %>
  </div>
</div>
<% end %>

<script type="text/javascript">
    $(document).ready(function () {
        $('#hour_start_date_hours_4i').css('width','80px');
        $('#hour_start_date_hours_5i').css('width','80px');

        $('#hour_end_date_hours_4i').css('width','80px');
        $('#hour_end_date_hours_5i').css('width','80px');
        if ($("[rel=tooltip]").length) {
            $("[rel=tooltip]").tooltip();
        }

        // select2 plugin for select elements
        $(".select2").select2({
            placeholder: "Select a State"
        });
    });

</script>


<style>
    ul#filter_content li a:hover {
        text-decoration: none !important;
    }

    ul#filter_content li {
        overflow: hidden;
    }

    .table-wrapper .table input[type="checkbox"] {
        float: none;
        margin-right: 0px;
        margin-top: 0px;
    }

    .region-options li {
        height: 25px !important;font-weight: normal !important; font-size: 12px !important;
        text-transform:none; !important;
    }

    .region-options .btn-mini {
        margin-top: 10px !important;
    }
    .region-options li .span2 {
        margin-top: 0px !important;
    }
</style>