<% if @from_rewards == false %>
$('#content').html('<%= escape_javascript(render 'receipt_content') %>');
<% else %>
$('#content').html('<%= escape_javascript(render 'reward_content') %>')
<% end %>
$('#content').ajaxloader('hide');