<% content_for :top_menu do %>
  <%= render "owner/greetings/top_menu" %>
<% end %>
<section class="contentwraper bottommgn">
  <%= render "left_menu" %>
  <section class="span10 bottommgn"  style="width:100%;margin-top:19px;float:none;margin-left:114px;">
    <h1>Reward Detail <%= @restaurant.dashboard_display_text  %> @ <%= date_only(@date) %></h1><br /><br />
    <table cellspacing="1" class="table table-striped table-bordered tblstyle tablesorter fntstyle" id="myTable" style="width:80%;padding-left;10px">
      <thead>
        <tr>
        <th>Hour</th>
        <th>Total</th>
        <%= generate_detail_header_reward(@rewards) %>
        <tr>
      </thead>
      <tbody>
        <%= generate_detail_body_reward(@rewards, @week, @restaurant.id) %>
      </tbody>
    </table>
    <%= render :partial => "popup" %>
  </section>
</section>
