<!--bootstrap-->
<%= stylesheet_link_tag "d2_css/bootstrap/bootstrap", "d2_css/bootstrap/bootstrap-responsive",
                        "d2_css/bootstrap/bootstrap-overrides" %>

<!-- libraries -->
<%= stylesheet_link_tag "jquery-ui", "d2_css/lib/font-awesome", "d2_css/lib/uniform.default" %>

<!-- global styles -->
<%= stylesheet_link_tag "d2_css/custom-layout", "d2_css/layout", "d2_css/elements", "d2_css/icons" %>

<!-- open sans font -->
<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" %>

<!-- lato font -->
<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic" %>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<style>
    .Center-Container {
        position: relative;
    }

    .Absolute-Center {
        margin: auto;
        position: absolute;
        top: 20; left: 0; right: 0;
    }

    .receipt {
        background-color: #D6D6D6;
        border: 1px dashed #000000;
        min-width: 265px;
        padding: 15px 15px 30px;
        width: 20%;
    }

    .head-align {text-align: center;}
    .head-chain-name {font-size: 18px;}
    .head-restaurant-name {font-size: 15px;}

    .menu-items {border-top: dashed 1px black; padding-top: 5px;padding-bottom: 5px;}
    .menu-calculate {border-top: dashed 1px black; padding-top: 5px;}
    .menu-left {width: 80%; float: left;}
    .menu-right {float: right; width: 20%; text-align: right;}

    #gbarcode {margin: auto;}
</style>


<div class="Center-Container">
  <div class="Absolute-Center receipt" style="">
    <div class="head-align">
      <span class="head-chain-name"><%= @receipt.chain.name %></span><br>
      <span class="head-restaurant-name"><%= @transaction.current_restaurant.name.gsub("\u2028","") rescue nil %></span><br>
      <span><%= @transaction.current_restaurant.address rescue nil %></span><br><br>
    </div>
    <%  if @receipt.is_receipt_barcode %>
        <div>
          <div>
        <span class="pull-left">
          Chk <%= @pos_xml.check_id rescue "-" %>
        </span>
        <span class="pull-right">
          <%= date_only(@transaction.receipt_date.blank? ? @transaction.issue_date : @transaction.receipt_date) rescue "-" %> / <%= issue_hour(@transaction,@transaction )  rescue "-" %>
        </span>
          </div><br style="clear:both;" />
          <div>
        <span class="pull-left">
          Seq <%= @pos_xml.seq_num rescue "-" %>
        </span>
        <span class="pull-right">

        </span>
          </div><br style="clear:both;" /><br style="clear:both;" />
        </div>
    <% elsif @receipt.is_olo %>
        <% dj = @detail %>
        <div>
          <div>
        <span class="pull-left">
          Olo Ref <%= dj.olo_ref  %>
        </span>
        <span class="pull-right">
          <%= date_only(@transaction.receipt_date.blank? ? @transaction.issue_date : @transaction.receipt_date) rescue "-" %> / <%= issue_hour(@transaction,@transaction)  rescue "-" %>
        </span>
          </div><br style="clear:both;" />
          <div>
        <span class="pull-left">
          StoreId <%= dj.store_ref %>
        </span>
        <span class="pull-right">

        </span>
          </div><br style="clear:both;" /><br style="clear:both;" />
        </div>
    <% end %>
    <div>
      <div>
        <span class="menu-left">Items</span>
        <span class="menu-right">Price</span>
      </div><br style="clear:both;" />
    </div>
    <% nok = Nokogiri.parse(@order.xml_data) %>
    <% xml =  nok.at("//order//oloRef[contains(text(),'#{dj.olo_ref}')]").parent.to_xml %>
    <% nok1 = Nokogiri.parse(xml) %>
    <%# nok1.xpath('//products') %>
    <div class="menu-items">
      <% products = nok1.xpath('//products//orderProduct') %>
      <%# @menu_items.each do |menu_item| %>
      <% products.each do |product|  %>
          <div>
        <span class="menu-left">
          <%= product.attr("quantity") rescue nil %> x
          <%= product.attr("name") rescue nil %>
        </span>
            <span class="menu-right"><%= product.attr('baseCost').to_f.round(2) rescue nil %></span>
          </div>
          <br style="clear:both;" />
      <% end unless products.blank? %>
    </div>


    <div class="menu-calculate">
      <div>
        <span class="menu-left">Payment Total</span>
        <span class="menu-right"><%= dj.subtotal %></span>
      </div><br style="clear:both;" />

      <div>
        <span class="menu-left">Subtotal</span>
        <span class="menu-right"><%= subtotal = @transaction.subtotal rescue nil %></span>
      </div><br style="clear:both;" />

      <div>
        <span class="menu-left">Tax</span>
        <span class="menu-right"><%= tax = dj.tax rescue nil %></span>
      </div><br style="clear:both;" />

      <div>
        <span class="menu-left">Discount</span>
        <span class="menu-right">-<%= dj.discount %></span>
      </div><br style="clear:both;" />

      <div>
        <span class="menu-left">TOTAL</span>
        <span class="menu-right"><%= ((subtotal.to_f + tax.to_f) - dj.discount.to_f).round(2) %></span>
      </div>
    </div>
    <br style="clear:both;" /><br style="clear:both;" />
    <div>
      <div id="gbarcode"></div>
    </div>
  </div>
</div>


<% if @receipt.is_receipt_barcode %>
    <input id="bar_id" type="hidden" value="<%= @receipt.try(:pos_check_upload).try(:barcode) %>" />
<% elsif @receipt.is_ncr_receipt %>
    <% begin %>
        <input id="bar_id" type="hidden" value="<%= @receipt.try(:ncr_data_receipt).try(:qr_code) %>" />
    <%rescue %>
        <input id="bar_id" type="hidden" value="<%= Dashboard::NcrDataReceipt.find(@receipt.ncr_data_receipt_id).try(:qr_code) %>" />
    <% end %>
<% end %>


<%= javascript_include_tag "http://code.jquery.com/jquery-latest.js" %>
<%= javascript_include_tag "d2_js/jquery-barcode.min" %>

<script type="text/javascript">
    $(document).ready(function() {
        var value = $("#bar_id").val();
        var btype = "codabar";
        var settings = {
            bgColor: "#D6D6D6",
            color: "#000",
            barWidth: 2,
            barHeight: 30
        };

        $("#gbarcode").barcode(value, btype, settings);
    });
</script>