<% require 'csv' %>
<% headers = ["Receipts", "Time", "Check Total"]%>
  <%= CSV.generate_line headers, :row_sep => ?\t, :quote_char => ?\ %>
  <% @receipts.each do |receipt| %>    
    <% row = [] %>
    <% row << "Receipt:"+receipt.id.to_s %>
    <% row <<  receipt.updated_at.strftime("%H : %M %p")%>
    <% row <<  receipt.last_transaction.subtotal rescue "-"%>


    <%= CSV.generate_line row, :row_sep => ?\t, :quote_char => ?\ %>
  <% end %>