<div class="row-fluid section">
  <div class="span12">
    <div class="span2"></div>
    <div class="span10">
      <h3>Reward Detail <%= @restaurant.dashboard_display_text rescue nil  %> @ <%= date_only(@date) %></h3>
      <h3 style="margin-top:5px;margin-bottom:5px;">Total  <%= @rewards.size %></h3>
      <% a = @rewards.map(&:restaurant_id) %>
      <%    
        b = Hash.new(0)   
        a.each do |v|
          b[v] += 1
        end 
      %>
    </div>
  </div>
  <div class="span12" style="margin-left: 0px;">
    <div class="span2" style="margin-left: 0px;">
      <%= render "left_menu" %>
    </div>
    <div class="span10">
      <table class="table table-striped" style="margin-top:5px;">
        <tbody>
          <% counts = @rewards.map(&:reward).map(&:name).reduce({}) do |acc,n|
          acc.tap do |a|
          a[n] ||= 0
          a[n] += 1
          end
          end %>
          <% counts.each do |k,v| %>
            <tr>
              <td><%= k %></td>
              <td><%= v %></td>
              <% rwd_tmp = Reward.where(:name => k, :chain_id => @chain.id).first %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <table cellspacing="1" class="table table-striped table-bordered tblstyle tablesorter fntstyle" id="simpleTable" style="display:none;">
        <thead>
          <tr>
          <th data-sort="int" id="time_sort" data-sort-default="desc">Time</th>
          <th>Code</th>
          <th>Reward</th>
          <tr>
        </thead>
        <tbody>
          <% @rewards.each do |reward_trans| %>
            <tr>
              <td class="time_hour" data-sort-value="" ><%
                  timezone ||= Setting.default_time_zone["zone"] || Time.zone.now.zone %>
                  <%= reward_trans.created_at.in_time_zone(timezone).strftime("%I : %M %p")

              %></td>
              <td><%=reward_trans.staffcode%></td>
              <td><%=reward_trans.reward.name%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render :partial => "popup" %>
    </div>
  </div>
</div>


<script>
    $(function(){
        $("table").stupidtable({
        });
        $('#time_sort').click();


        $('.time_hour').each(function(){
            var time = $(this).text();
//            var hours = Number(time.match(/^(\d+)/)[1]);
//            var minutes = Number(time.match(/:(\d+)/)[1]);
//            if(time.match(/PM/)[1] == "PM" && hours<12) hours = hours+12;
//            if(time.match(/PM/)[0] == "AM" && hours==12) hours = hours-12;
//            var sHours = hours.toString();
//            var sMinutes = minutes.toString();
//            if(hours<10) sHours = "0" + sHours;
//            if(minutes<10) sMinutes = "0" + sMinutes;
            var dt = new Date('1970/01/01 ' + time);
            dt = dt.getTime();
            //console.log(dt.getMilliseconds());
            $(this).attr('data-sort-value', dt);
        });
        $('#time_sort').click();
        $('#simpleTable').show();
    });

    $(document).ready(function(){
        $('#time_sort').click();
    });
</script>