<% require 'csv' %>
<% headers = ["Time","Reward"] %>
<%= CSV.generate_line headers, :row_sep => ?\t, :quote_char => ?\ %>
<% @rewards.each do |reward_trans|%>
    <% row = [
            reward_trans.created_at.strftime("%H : %M %p"),
            reward_trans.restaurant_reward.reward.name
    ] %>
    <%= CSV.generate_line row, :row_sep => ?\t, :quote_char => ?\ %>
<% end %>