<div class="row-fluid section">
  <div class="span12">
    <div class="span2"></div>
    <div class="span10">
      <h3>Receipt Detail <%= @restaurant.dashboard_display_text %> @ <%= date_only(@date) %></h3>
    </div>
  </div>
  <div class="span12" style="margin-left: 0px;">
    <div class="span2" style="margin-left: 0px;">
      <%= render "left_menu" %>
    </div>
    <div class="span10">
      <table cellspacing="1" class="table table-striped table-bordered tblstyle tablesorter fntstyle" id="simpleTable" style="margin-top: 5px;display:none;"  >
        <thead>
          <tr>
          <th>Receipts</th>
          <th data-sort="int" id="time_sort" data-sort-default="desc">Time</th>
          <th>Check total</th>
          <th>Images</th>
          </tr>
        </thead>
        <% user_ids = [] %>
        <tbody>
          <% subtotal = 0 %>
          <% sum_subtotal = 0 %>
          <% receipt_count = 0 %>
          <% unless @receipts.blank? %>
            <% @receipts.each do |receipt| %>
              <tr class="first">
                <% lt = receipt.last_transaction %>
                <td><%= "Receipt:"+receipt.id.to_s %></td>
                <td class="time_hour" data-sort-value="">
                  <% issue_time = issue_hour(lt, receipt).gsub(' ','') %>
                  <% issue_time = issue_time.insert(5,' ') if issue_time[3] != " " %>
                  <%= issue_time %>
                </td>
                <td>
                  <% begin %>
                    <% subtotal = lt.subtotal %>
                    <%= subtotal.round(2) %>
                    <% sum_subtotal = sum_subtotal + subtotal %>
                  <% rescue %>
                    -
                  <% end %>

                </td>
                <td>
                  <% if receipt.is_receipt_barcode || receipt.is_ncr_receipt %>
                    <%= link_to "<i class='icon-picture'></i>".html_safe,show_receipt_barcode_owner_activity_path(receipt),:target => "_blank" %>
                  <% elsif receipt.is_online_order == true %>
                    <%= link_to "<i class='icon-picture'></i>".html_safe ,show_online_order_owner_activity_path(receipt) , :target => '_blank'%>
                  <% elsif receipt.is_olo == true %>
                     <%= link_to "<i class='icon-picture'></i>".html_safe ,show_olo_order_owner_activity_path(receipt) , :target => '_blank'%>
                  <% else %>
                    <%= link_to "<i class='icon-picture'></i>".html_safe,receipt.image_url,:target => "_blank" %>
                  <% end %>
                </td>
              </tr>
              <% user_ids << receipt.user_id %>
              <% receipt_count = receipt_count + 1 %>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div class="alert alert-info">
        <i class="icon-lightbulb"></i>
      AVG : <strong>$<%= (sum_subtotal / receipt_count).round(2) rescue "" %></strong>&nbsp; | &nbsp;
      Active Member : <strong><%= user_ids.flatten.compact.uniq.size %></strong>
        </div>

    </div>
  </div>
</div>

<script>
    $(function(){
        $("table").stupidtable({
        });
        $('#time_sort').click();
        $('#simpleTable').show();


        $('.time_hour').each(function(){
            var time = $(this).text();
//            var hours = Number(time.match(/^(\d+)/)[1]);
//            var minutes = Number(time.match(/:(\d+)/)[1]);
//            if(time.match(/PM/)[1] == "PM" && hours<12) hours = hours+12;
//            if(time.match(/PM/)[0] == "AM" && hours==12) hours = hours-12;
//            var sHours = hours.toString();
//            var sMinutes = minutes.toString();
//            if(hours<10) sHours = "0" + sHours;
//            if(minutes<10) sMinutes = "0" + sMinutes;
            var dt = new Date('1970/01/01 ' + time);
            dt = dt.getTime();
            //console.log(dt.getMilliseconds());
            $(this).attr('data-sort-value', dt);
        });
        $('#time_sort').click();
        $('#simpleTable').show();
    });

    $(document).ready(function(){
        $('#time_sort').click();
    });
</script>