<%= simple_form_for([:admin, @term]) do |f| %>
  <%= render "shared/error_messages", :target => @term %>
  <div class="field">
    Locale <br/>
    <%= f.collection_select("locale_id", Locale.all, :id, :key) %>
  </div>
  <div class="field">
    <%= f.input :content, :as => :text, :input_html => {:value => @content, :rows => 30, :style => 'width:640px' } %>
  </div>
  <%= link_to "See The Output",preview_admin_terms_path(:format => :html),:id => "preview-button",:class => "nyroModal" %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
