<h1>Listing terms</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Locale</th>
    <th>Action</th>
  </tr>

  <% @terms.each do |term| %>
    <tr>
      <td><%= term.content.try(:slice, 0, 100) %>...</td>
      <td><%= term.locale.name %></td>
      <td>
        <%= link_to 'Show', admin_term_path( term) %> |
        <%= link_to 'Edit', edit_admin_term_path(term) %> |
        <%= link_to 'Destroy', admin_term_path(term), confirm: 'Are you sure?', method: :delete %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Term', new_admin_term_path %>
