<div style="height: 100%; width:96%; " class="t_and_c" >
  <br />
  <div id="prevabc"></div>
</div>
<script>
  $(document).ready(function(){

    $.ajax({
      url: '<%= preview_admin_terms_path %>',
      type: 'post',
      data: { content: $('#term_content').val() }
    });

  });
</script>


<style>
  #nyroModalContent{
    width:1000px !important;
  }
</style>