<p id="notice"><%= notice %></p>

<p>
  <b>Locale:</b><%= @term.locale.name %><br/>
  <b>Content:</b>
  <%= markdown(@term.content) %>
</p>


<%= link_to 'Edit', edit_admin_term_path(@term) %> |
<%= link_to 'Back', admin_terms_path %>
