<%= javascript_include_tag "ajaxupload" %>
<script>
  $(document).ready(function(){
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function() {
      $('#data-container').ajaxloader('show');
    });

    $('.tata-ajax-loader').click(function(){
      alert("hide this");
      $('.tata-ajax-loader').hide();
    });

    $('.submit_search').click(function() {
      $('#data-container').ajaxloader('show');
    });

    $("#new_form").bind("ajax:success",function(evt,xhr,settings){
      alert("adfasfdsaf");
    });

    $(".x-search-datepicker").datepicker({
      dateFormat: 'yy-mm-dd'
    });
  });
</script>

<%= render 'searchform' %>

<table class="table">
  <thead>
  <tr>
    <th>Type</th>
    <th>User Email</th>
    <th>Transaction Detail</th>
    <th>API Response</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <% @vantiv_transaction_logs.each do |vtl| %>
    <tr>
      <td>
        <%= vtl.transaction_type_description %> <%= vtl.success ? "<span class='badge badge-success'>Success</span>".html_safe : "<span class='badge badge-warning'>Failed</span>".html_safe %>
      </td>
      <td><%= User.find(vtl.user_id).try(:email) rescue "-" %></td>
      <td>
        <ul>
          <li>Card Number = <%= vtl.card_number %></li>
          <li>Ref Num = <%= vtl.ref_num %></li>
          <li>Trans ID = <%= vtl.transaction_id %></li>
          <li>Amount = <%= vtl.amount %></li>
        </ul>
      </td>
      <td>
        <ul>
          <% unless vtl.relevant_response.blank? %>
            <li><b>(RELEVANT ERROR)</b> <b style="color:red"><%= vtl.relevant_response %> </b></li>
          <% end %>
          <% unless  vtl.vantiv_response.blank? %>
              <li><b>(VANTIV ERROR)</b> <b style="color:red"><%= vtl.vantiv_response %> </b></li>
          <% end %>
          <% unless vtl.mp_response.blank? %>
              <li><b>(MP ERROR)</b> <b style="color:red"><%= vtl.mp_response %> </b></li>
          <% end %>
        </ul>
      </td>
      <td><%= vtl.created_at %></td>
    </tr>
   <% end %>
</table>
<%= will_paginate @vantiv_transaction_logs, :params=>{:chain_id => @chain.id} rescue "" %>
