<%= form_tag(search_query_admin_vantiv_transaction_logs_path(@chain.id), :id => 'x-search', :class => 'form-horizontal', :remote => true, :method => :post) do |f| %>
  <fieldset>
    <div class="span12" style="margin-left:0px !important">
      <div class="span5">
        <div class="field control-group">
          <label class="control-label">From Date</label>
          <div class="controls">
            <%= text_field_tag "search_date[from]", @effective_date, :class => 'x-search-datepicker', :readonly=>true %>
          </div>
        </div>
        <div class="field control-group">
          <label class="control-label">To Date</label>
          <div class="controls">
            <%= text_field_tag "search_date[to]",@expiry_date, :class=>'x-search-datepicker', :readonly=>true %>
          </div>
        </div>
        <div class="field control-group">
          <label class="control-label">User Email</label>
          <div class="controls">
            <%= text_field_tag "search[email]", (@search_query["email"] rescue nil), :style=>'width:300px', class: "search-text" %>
          </div>
        </div>
      </div>
      <div class="span5">
<div class="field control-group">
          <label class="control-label">Ref Number</label>
          <div class="controls">
            <%= text_field_tag "search[ref_num]", (@search_query["ref_num"] rescue nil), :style=>'width:300px', class: "search-text" %>
          </div>
        </div>
        <div class="field control-group">
          <label class="control-label">Card Number</label>
          <div class="controls">
            <%= text_field_tag "search[card_number]", (@search_query["card_number"] rescue nil), :style=>'width:300px', class: "search-text" %>
          </div>
        </div>
        <div class="field control-group">
          <label class="control-label">Transaction Id</label>
          <div class="controls">
            <%= text_field_tag "search[transaction_id]", (@search_query["transaction_id"] rescue nil), :style=>'width:300px', class: "search-text" %>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
      <div class="form-actions">
        <%= hidden_field_tag "qry_order" %>
        <%= submit_tag "Search",:class =>"submit_search btn btn-primary", :id => "sub_button1"%>
        <%= link_to "Reset Filter", "#", :onclick => "$('#search_date_from').val('');$('#search_date_to').val('');$('.search-text').val('');$('#sub_button').click();", :class => "btn" %>
      </div>
    </div>
  </fieldset>
<% end %>
<div style="clear:both"></div>
