<% reward.additional_informations.each do |ri| %>
    Additional Reward Id :
    <%= text_field_tag "additional_info[reward_id][]",ri.id, :readonly => true %>
    <%#= ri.description %>
    Value :<%= text_field_tag "additional_info[description][]","" %>
<% end %>