<% @goal_categories.each_with_index do |category| %>
  <%= category.description %> <b>( #ID : <%= category.id %>)</b><br />
<% end %>

<% unless @goal_categories.blank? %>
  Please type #ID here, to pick category (separate by comma), ex : 1,2,3
  <%= text_field_tag "category_ids" %>
<% end %>

<% if @goal_categories.blank? %>
  We can't load categories with '<%= params[:appkey] %>'.
<% end %>

