<% if @restaurants.blank? %>
    No Restaurants found
<% else %>
    <table class="table table-bordered table-condensed">
      <caption></caption>
      <thead>
      <tr>
        <th>Restaurant Id</th>
        <th>Chain Name</th>
        <th>Restaurant Name</th>
        <th>Address</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Restaurant Owners</th>
      </tr>
      </thead>
      <tbody>
      <% @restaurants.each do |restaurant| %>
          <tr>
            <td><%= restaurant.id %></td>
            <td><%= restaurant.chain.name %></td>
            <td><%= restaurant.name %></td>
            <td><%= restaurant.address %></td>
            <td><%= restaurant.latitude %></td>
            <td><%= restaurant.longitude %></td>
            <td><%= restaurant.owners.map(&:full_name).join(", ") %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br />
    SELECT RESTAURANT ID :
    <%= text_field_tag :location %> <br />
<% end %>


<% if @users.blank? %>
    No Users found
<% else %>
    USER :
    <%= select_tag :auth_token, options_for_select([""] + @users.map{|u| ["#{u.authentication_token} -- #{u.email}", u.authentication_token]}), :onchange => "$.get('/api/test/load_rewards?user='+$('#auth_token').val());"  %>
    <div id="reward_list"></div>
<% end %>