<% if @rewards.blank? %>
    No Rewards found
<% else %>
    <table class="table">
      <thead>
      <tr>
        <th>Reward id</th>
        <th>Reward Title</th>
        <th>Valid From</th>
        <th>Valid to</th>
        <th>Points reward Worth</th>
        <th>Reward Category</th>
      </tr>
      </thead>
      <tbody>
      <% @rewards.each do |reward| %>
          <tr>
            <td><%= reward.id %></td>
            <td><%= reward.name %></td>
            <td><%= date_helper(reward.effectiveDate) %></td>
            <td><%= reward.expiryDate.strftime("%Y-%m-%d 23:59:59") if reward.expiryDate %></td>
            <td><%= reward.points %></td>
            <td><%= Reward::TYPES.find { |key, value| value == reward.reward_type }[0] rescue "" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    SELECT REWARD ID :
    <%= text_field_tag :reward_id %> <br />
<% end %>