<%#= select_tag :auth_token, options_for_select(@users.map{|u| [u.email, u.authentication_token]}), :onchange => "$.get('/api/test/load_rewards?user='+$(this).val())" %>
<%= select_tag :auth_token, options_for_select(@users.map{|u| ["#{u.authentication_token} -- #{u.email}", u.authentication_token]}) %>