<% @user_goals.each_with_index do |user_goal| %>
  <%= user_goal.goal.description %> <b>( #USER GOAL ID : <%= user_goal.id %>)</b><br />
  <b>COMPLETED : </b><%= user_goal.completed %><hr />

<% end %>

<% unless @user_goals.blank? %>
  Please type #GOAL ID here to pick category, ex : 1
  <%= text_field_tag "goal_id" %>
<% end %>

<% if @user_goals.blank? %>
  We can't load user goals with '<%= params[:auth_token] %>'.
<% end %>

