<div class="page-header">
  <h2>Test Claim Reward</h2>
</div>

<%= simple_form_for :reward, :url => claim_api_v1_rewards_path do |f| %>
  App Key :
  <%= text_field_tag :appkey %> <br />
  Warn :
  <%= select_tag "warn", options_for_select([["true","true"],["false","false"]]) %> <br />
  Reward id :
  <%= text_field_tag :reward_id %> <br />
  location (restaurant id ):
  <%= text_field_tag :location %> <br />
  lat:
  <%= text_field_tag :lat %> <br />
  long:
  <%= text_field_tag :long %> <br />
  Auth Token
  <%= text_field_tag "auth_token" %> <br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path, :class => "btn" %>
  <%= debug Chain.first.timer %>
<% end %>