<div class="page-header">
    <h1>Test Forgot Password</h1>
</div>

<%= simple_form_for :password, :url => forgot_password_api_v1_user_index_path do |f| %>
<label for="appkey">App Key</label>
<%= text_field_tag :appkey %> <br />
<label for="locale">Email</label>
<%= text_field_tag :email %> <br />
  <label for="migrate">Migrate</label>
  <%= text_field_tag :migrate %> <br />

  <br /><br />
<%= submit_tag "Test", :class => "btn btn-primary" %>
<%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>
