<div class="page-header">
  <h1>Test Chain Image Share</h1>
</div>

<%= simple_form_for :chain_image, :url => api_v1_get_image_info_url,:html => {:method => :get} do |f| %>
  <label for="appkey">App Key</label>
  <%= text_field_tag :appkey %> <br />
  <label for="locale">Locale</label>
  <%= select_tag :locale, options_for_select(["en", "es"]) %><br />
  <br /><br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>