<div class="page-header">
  <h2>Test Collect Geo Data</h2>
</div>

<%= simple_form_for :geo_data, :url => api_v1_geodata_path do |f| %>
    Auth Token ( if available )              <br />
    <%= text_field_tag "auth_token" %> <br />
    App Key : <br />
    <%= text_field_tag :appkey %> <br />

    Keystore: <br />
    <%= text_field_tag :keychain %> <br />
    Android Id: <br />
    <%= text_field_tag :android_id %> <br />
    lat:
    <%= text_field_tag :lat %> <br />
    long:
    <%= text_field_tag :lon %> <br />
    Device Time(2015-01-01 9:50PM):
    <%= text_field_tag :device_time %> <br />

  <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path, :class => "btn" %>
<% end %>