Result <hr/>
<fieldset>
  <%=  @result %>
</fieldset>
<hr/>
Batch id :


<%= @olo.batch_ids.join(" AND ") %><br/>

<h1>Test The batch id</h1> <br/>
Insert the batch id here : <br/>
<%= form_tag '/api/test/get_olo_order_batch', :method => :get do  %>
    <%= text_field_tag "batch_id", nil %>
    <%= submit_tag "Get batch" %>
<% end  %>

<%#= link_to "Order With Batch", "/api/test/get_olo_order_batch" , :class => 'btn' %>

<br/>
<%= link_to "Back ", "/api/test/olo_orders", :class => 'btn' %>