<div class="span14">
  <div class="page-header">
    <h1>Test Get Partner Rewards</h1>
  </div>
  <%= form_tag "/api/v1/partner_reward", method: :get do |f| %>
    <label for="appkey">App Key</label>
    <%= text_field_tag :appkey %> <br />

    <label for="reward_id">Reward ID</label>
    <%= text_field_tag "reward_id" %> <br />

    <label for="all_rewards">All rewards</label>
    <%= check_box_tag "all_rewards", true %> <br />

    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
  <% end %>
</div>