<h1>Click this url To download the zip files </h1><br/>
<%= link_to @x.export_url, @x.export_url, :target => '_blank' %>       <br/>
<hr/>



<% ol = OloOrder.where(:batch_id => @batch_id).first%>
<% unless ol.blank? %>
    OR Click This to see the order details
<td><%= link_to "Order Details",order_details_admin_olo_order_path(ol), :target => '_blank' , :class => 'btn'%></td>
<% end %>