<%= form_tag "/api/test/get_olo_order_batch", :method => :get do %>
    Batch Id : <%= text_field_tag "batch_id" %>
    <%= submit_tag "Submit" %>
<% end %>

<%= link_to "Back ", "/admin/test_api", :class => 'btn' %>