<%= form_tag "/api/test/get_olo_list_summaries", :method => :get do %>
    Insert Start_date : <%= text_field_tag "start_date" %> <br/>
    Insert End_date : <%= text_field_tag "end_date" %> <br/>
    <%= submit_tag "Submit" %>
<% end %>

<%= link_to "Back ", "/admin/test_api", :class => 'btn' %>