<div class="page-header">
    <h1>Test Partner Categories</h1>
</div>

<%= form_tag "/api/v1/category", method: :get do |f| %>
  <label for="appkey">App Key</label>
  <%= text_field_tag :appkey %> <br />
  <br /><br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>
