<div class="span14">
  <div class="page-header">
    <h1>Test Partner Rewards</h1>
  </div>

  <%= form_tag api_v1_partner_reward_path do |f| %>
    <div class="span4">
      <label for="appkey">App Key</label>
      <%= text_field_tag :appkey %> <br />
      <label for="start_date">Start date</label>
      <%= text_field_tag :effectiveDate, nil, class: 'x-datepicker' %> <br />

      <label for="end_date">End date</label>
      <%= text_field_tag :expiryDate, nil, class: 'x-datepicker' %> <br />

      <label for="title">Title</label>
      <%= text_field_tag :name %> <br />

      <label for="description">Description</label>
      <%= text_area_tag :description, nil, rows: 5 %> <br />

      <label for="points">points</label>
      <%= text_field_tag :points %> <br />

      <br /><br />
      <%= submit_tag "Test", :class => "btn btn-primary" %>
      <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
    </div>
    <div class="span4">
      <% 0.upto(6) do |i| %>
        <div class="field">
          Valid days of week and time <%= PartnerHour::WEEKDAY_NAMES[i] %><div></div>
          <%= hidden_field_tag "valid_days_of_week_and_time[#{i}][dow]", i %>
          <%= text_field_tag "valid_days_of_week_and_time[#{i}][start]", nil, style: "width: 80px;", placeholder: 'start', class: 'time-picker' %>
          <%= text_field_tag "valid_days_of_week_and_time[#{i}][end]", nil, style: "width: 80px;", placeholder: 'end', class: 'time-picker' %>
        </div>
      <% end %>

      <br />

      <label for="valid_all_locations">Valid all locations</label>
      <%= check_box_tag "valid_all_locations" %> <br />

      <label for="valid_locations">Valid locations</label>restaurant ids example: 1,2,3,4,5
      <%= text_area_tag "valid_locations[]", nil, rows: 4 %> <br />

    </div>

    <div class="span4">
      <label for="order_minimum">Order minimum</label>
      <%= text_field_tag "discount_formula[order_minimum]" %> <br />

      <label for="discount_type">Discount type</label>
      <%= select_tag "discount_formula[discount_type]", options_for_select([["Dollar", 0],["Percent", 1]]) %> <br />

      <label for="discount_value">Discount value</label>
      <%= text_field_tag "discount_formula[discount_value]" %> <br />

      <label for="order_from_category">Order from category</label>category ids <br />
      <p>example: [{"categoryId" => 8, "type" => 1},{"categoryId" => 7, "type" => 0 }]</p>
      <%= text_area_tag "discount_formula[order_from_category]", nil, rows: 4 %> <br />

      <label for="minimum_count_order_from_category">Minimum count order from category</label>
      <%= text_field_tag "discount_formula[minimum_count_order_from_category]" %> <br />

      <label for="discount_count_from_category">Discount count from category</label>
      <%= text_field_tag "discount_formula[discount_count_from_category]" %> <br />

      <label for="discount_from_category">Discount from category</label>category ids <br />
      <p>example: [{"categoryId" => 8, "type" => 1},{"categoryId" => 7, "type" => 0 }]</p>
      <%= text_area_tag "discount_formula[discount_from_category]", nil, rows: 4 %> <br />
    </div>

  <% end %>
</div>

