<div class="page-header">
  <h2>Test Post Social Shares</h2>
</div>
<%= simple_form_for :social_share, :url => user_interaction_api_v1_social_shares_path, :html => {:method => :post} do |f| %>
    App Key :
    <%= text_field_tag :appkey %> <br />
    Auth Token
    <%= text_field_tag :auth_token %> <br />
    Medium :
    <%= select_tag :medium_id, options_for_select(["1", "2", "3"]) %>
    <br>
    1 Fb, 2 Twitter, 3 insta
    <!--Locale:-->
    <%#= select_tag :locale, options_for_select(['','en', 'es']) %> <br />

    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>