<div class="page-header">
  <h2>Test Get Active referral for chain</h2>
</div>
<%= simple_form_for :referral, :url => api_v1_referral_path, :html => {:method => :get} do |f| %>
  App Key :
  <%= text_field_tag :appkey %> <br />
  Auth Token
  <%= text_field_tag :auth_token %> <br />
  Locale:
  <%= select_tag :locale, options_for_select(['','en', 'es']) %> <br />

  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>