<div class="page-header">
  <h2>Get Reward List</h2>
</div>
<%= form_tag "/api/v1/rewards", :method => :get do %>
    App Key :
    <%= text_field_tag :appkey %> <br />
    Auth Token
    <%= text_field_tag :auth_token %> <br />
    Device Time <br/>
    <%= text_field_tag :device_timestamp %>
    Example  string 1/10/2015 23:00:00
    <br />
    <%= submit_tag "Test" %>
<% end %>