<div class="page-header">
  <h1>New User</h1>
</div>
<form accept-charset="UTF-8" action="/api/v1/user/signup" method="post">
  <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;"/>
    <input name="authenticity_token" type="hidden" value="py1bRQnrz636MNA+PdmBJqv+Zmgn5pmSB4JVtCHxDaQ="/>
  </div>

  <div class="x-box">

    <div class="field">

      <div class="field">
        <label for="appkey">AppKey</label>
        <input id="appkey" name="appkey" type="text"/>
      </div>
      <div class="field">
        <label for="first_name">First name</label>
        <input id="first_name" name="first_name" type="text"/>
      </div>

      <div class="field">
        <label for="last_name">Last name</label>
        <input id="last_name" name="last_name" type="text"/>
      </div>

      <div class="field">
        <label for="username">Username</label>
        <input id="username" name="username" type="text"/>
      </div>

      <div class="field">
        <label for="email">Email</label>
        <input id="email" name="email" type="text"/>
      </div>

      <div class="field">
        <label for="register_type">Register type</label>
        <select class="user-types" id="register_type" name="register_type">
          <option value="1">Email PWD</option>
          <option value="2">Facebook</option>
          <option value="3">Twitter</option>
        </select>
      </div>

      <div id="pwd" class="field">
        <label for="password">Password</label>
        <input id="password" name="password" type="password"/>
      </div>

      <div class="field">
        <label for="register_device_type_android">Device type</label>
        <input id="register_device_type_android" name="register_device_type" type="radio" value="android"/>
        Android
        <input id="register_device_type_iphone" name="register_device_type" type="radio" value="iphone"/>
        Iphone
      </div>

      <div class="field">
        <label for="deviceid">Device</label>
        <input id="deviceid" name="deviceid" type="text"/>
      </div>

      <div class="field">
        <label for="deviceid">locale</label>
        <%= select_tag :locale, options_for_select(['','en', 'es']) %> <br />
      </div>

      <div class="field">
        <label for="latitude">Latitude</label>
        <input id="latitude" name="latitude" type="text"/>
      </div>
      <div class="field">
        <label for="longitude">Longitude</label>
        <input id="longitude" name="longitude" type="text"/>
      </div>
      <div class="field">
        <label for="referral_code">Referral Code</label>
        <input id="referral_code" name="referral_code" type="text"/>
      </div>
    </div>
    <br /><br />
    <div><input name="commit" type="submit" value="Submit" class="btn btn-primary"/></div>
  </div>

</form>



