<div class="page-header">
  <h1>Submit receipt</h1>
</div>

<%= form_tag "/api/v1/receipts", :method => :post, :multipart => true do %>
  <div class="field">
    <label>App key</label>
    <%= text_field_tag 'appkey' %>
  </div>
  <div class="field">
    <label>Authtoken</label>
    <%= text_field_tag "auth_token" %>
  </div>

  <div class="field">
    <label>Offer ID</label>
    <%= text_field_tag "offer" %>
  </div>

  <div class="field">
    <label>Restaurant ID</label>
    <%= text_field_tag "restaurant" %>
  </div>

  <div class="field">
    <label>Date: fomat mm/dd/yyyy</label>
    <%= text_field_tag "date" %>
  </div>

  <div class="field">
    <label>Time: format HH:MM am/pm</label>
    <%= text_field_tag "time" %>
  </div>

  <div class="field">
    <label>Subtotal</label>
    <%= text_field_tag "subtotal" %>
  </div>

  <div class="field">
    <label>Receipt number</label>
    <%= text_field_tag "receipt_number" %>
  </div>

  <div class="field">
    <%= label_tag :upload_receipt %>
    <%= file_field_tag :image %>
  </div>
  <br />
  <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
  <%= submit_tag "Submit", :class => "btn btn-primary"  %>
<% end %>