<div class="page-header">
  <h2>Test Use Gift Code</h2>
</div>

<%= simple_form_for :reward, :url => "/api/v1/promocode" do |f| %>
    App Key :
    <%= text_field_tag :appkey %> <br />
    Auth Token
    <%= text_field_tag "auth_token" %> <br />
    Code:
    <%= text_field_tag :code %><br />
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>