<div class="page-header">
  <h1>Test Complete Goal</h1>
</div>
<%= simple_form_for :deal, :url => complete_api_v1_goals_path do |f| %>
  <label for="appkey">App Key</label>
  <%= text_field_tag :appkey %> <br />
  <label for="auth_token">Auth Token</label>
  <%= text_field_tag :auth_token %>
  <a href="#" onclick="$.get('/api/test/load_user_goals/'+$('#auth_token').val());" class="btn btn-primary">LOAD USER GOALS</a><br />
  <div id="user_goals_box">

  </div>
  <label for="locale">Locale</label>
  <%= select_tag :locale, options_for_select(['','en', 'es']) %> <br />
  <br /><br />

  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>



