<div class="page-header">
  <h2>Test Generate Keychain Value</h2>
</div>

<%= simple_form_for :reward, :url => api_v1_generate_keychain_path, :method => :get do |f| %>
    App Key :
    <%= text_field_tag :appkey %> <br />
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>

