<div class="page-header">
  <h2>Test POS Get Check</h2>
</div>
<%= simple_form_for :pos, :url => pos_v1_get_check_detail_path, method: :get do |f| %>
    Apikey :
    <%= text_field_tag :apikey %>   <br/>
    Check Id :
    <%= text_field_tag :check_id %>   <br/>
    Seq Num  : <%= text_field_tag :seq_num %>   <br/>
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path, :class => "btn" %>
<% end %>
