<div class="page-header">
  <h2>Test Facebook Data</h2>
</div>

<%= simple_form_for :reward, :url => facebook_data_api_v1_user_index_path do |f| %>
  App Key :
  <%= text_field_tag :appkey %> <br />
  AuthToken
  <%= text_field_tag :auth_token %> <br />
  FbId :
  <%= text_field_tag :fb_id %> <br />
  FB Name :
  <%= text_field_tag :fb_name %> <br />
  FB FName :
  <%= text_field_tag :fb_fname %> <br />
  FB LName :
  <%= text_field_tag :fb_lname %> <br />
  FB Link :
  <%= text_field_tag :fb_link %> <br />
  FB Gender :
  <%= text_field_tag :fb_gender %> <br />
  FB Locale :
  <%= text_field_tag :fb_locale %> <br />
  FB Age Range :
  <%= text_field_tag :fb_age_range %> <br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>

