<div class="page-header">
  <h2>Test Get Oauth Token</h2>
</div>
<%= form_tag api_v1_get_oauth_token_path, method: :get do %>
    Appkey :
    <%= text_field_tag :appkey %>   <br/>
    <label for="auth_token">Auth Token</label>
    <%= text_field_tag :auth_token %>  <br />
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path, :class => "btn" %>
<% end %>
