<div class="page-header">
  <h2>Test Vantiv Card Unload</h2>
</div>
<%= simple_form_for :user, :url => api_v1_vantiv_test_call_path do |f| %>
    <label for="chain_id">Chain ID</label>
    <%= select_tag :chain_id, options_for_select(Chain.active.order("name ASC").map{|a| [a.name, a.id]}.unshift(["SELECT CHAIN", ""])) %> <br />
    <label for="api">API</label>
    <%= select_tag :api_call, options_for_select([["SELECT API CALL", ""], ["ACTIVATE CARD", "activate_card"], ["CARD RELOAD", "card_reload"], ["CARD BALANCE", "get_card_balance"], ["CARD UNLOAD", "card_unload"], ["CARD REVERSAL", "card_reversal"]]) %> <br />
    <label for="card_number">Card Number</label>
    <%= text_field_tag :card_number %><br />
    <div id="amount-field" style="display: none">
      <label for="card_number">Amount</label>
      <%= text_field_tag :amount %><br />
    </div>
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>

<script type="text/javascript">
  $('#api_call').change(function(){
    if($(this).val() == "activate_card" || $(this).val() == "card_reload" || $(this).val() == "card_reversal" ||  $(this).val() == "card_unload" ) {
      $('#amount-field').show();
    } else{
      $('#amount-field').hide();
    }
  })
</script>