<div class="page-header">
  <h2>Test POS Receipt Barcode</h2>
</div>
<%= simple_form_for :pos, :url => pos_v1_pos_check_barcode_path, :method => :get do |f| %>
    Apikey :
    <%= text_field_tag :apikey %>   <br/>
    Size :
    <%= text_field_tag :size %>   <br/>
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path, :class => "btn" %>
<% end %>
