<h1>Test Table Service Payment</h1>
<%= form_tag api_v1_pay_table_service_path, :multipart => true do %>
  App Key : <%= text_field_tag "appkey" %><br/>
  Auth Token : <%= text_field_tag "auth_token" %><br/>
  QRCode  :<%= text_field_tag "code",nil %> <br />
  Tip  :<%= text_field_tag "tip",nil %> <br />
  Signature  :<%= file_field_tag "signature" %> <br />
  Skip Payment(For Testing Only)  :<%= text_field_tag "skip_payment" %> value = 1 to skip <br />
  <%= submit_tag "submit" %>
<% end %>
<%= link_to "Back", admin_test_api_path %>
