<div class="page-header">
  <h2>Test POS Reward</h2>
</div>
<%#= simple_form_for :pos, :url => api_v2_pos_reward_code_path do |f| %>
<%= simple_form_for :pos, :url => pos_v1_pos_process_reward_code_path do |f| %>
    Apikey :
    <%= text_field_tag :apikey %>   <br/>
    Request Type :
    <%= select_tag :request_type, options_for_select([['Redemption', 0], ['Redemption Reversal', 1]]) %>
    <div id="redemption">
      Reward Code :
      <%= text_field_tag :reward_code %>  <br/>
      Check XML :
      <%= text_area_tag :check, "", :rows => "10" %> <br/>
    </div>
    <div id="reversal" style="display: none;">
      Transaction ID / Check ID :
      <%= text_field_tag :transaction_id %> <br/>
    </div>
    <br/>
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path, :class => "btn" %>
<% end %>

<script type="text/javascript">
    $('#request_type').change(function () {
        if ($(this).val() == '1') {
            $('#redemption').slideUp();
            $('#reversal').slideDown();
        } else {
            $('#reversal').slideUp();
            $('#redemption').slideDown();
        }
    })
</script>