<div class="page-header">
  <h2>Test Get Giftcard skin</h2>
</div>

<%= simple_form_for :user, :url => api_v1_giftcard_skin_path, :method => :get do |f| %>
  App Key :
  <%= text_field_tag :appkey %> <br />


  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>

