<div class="page-header">
  <h2>Get Reward List</h2>
</div>
<%= form_tag "/api/test/post_birthday_reward", :method => :post do %>
    <%= select_tag('test', options_for_select(["10min", "1hour"])) %>
    <%= submit_tag "Test" %>
<% end %>