<div class="page-header">
  <h1>Test User Activity</h1>
</div>
<%= simple_form_for :user, :url => activity_api_v1_user_index_path, :html => {:method => :get} do |f| %>
    <label for="appkey">App Key</label>
    <%= text_field_tag :appkey %> <br />
    <label for="auth_token">Auth Token</label>
    <%= text_field_tag :auth_token %><br />
    <br /><br />
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>



