<div class="page-header">
  <h2>Test POS Check Upload </h2>
</div>
<%= simple_form_for :pos, :url => pos_v1_pos_check_upload_path do |f| %>
    Apikey :
    <%= text_field_tag :apikey %>   <br/>
    XML Batch  :
    <%= text_area_tag :check_batch,  "", :rows => "10" %>   <br/>
    Locale  :
    <%= select_tag :locale_id,  options_for_select(Locale.all.map{|l| [l.key, l.id]}) %>   <br/>
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path, :class => "btn" %>
<% end %>
