<div class="page-header">
  <h2>Test Get Restaurant By AOID</h2>
</div>

<%= simple_form_for :reward, :url => "/api/v1/restaurants", :method => :get do |f| %>
  App Key :
  <%= text_field_tag :appkey %> <br />
  Restaurant ID :
  <%= text_field_tag :restaurant_id %> <br />
  AOID :
  <%= text_field_tag :aoid %> <br />
  External Partner ID :
  <%= text_field_tag :external_partner_id %> <br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>