<div class="page-header">
  <h2>Test Claim Reward</h2>
</div>

<%= simple_form_for :reward, :url => claim_api_v1_rewards_path do |f| %>
    App Key :
    <%= text_field_tag :appkey %>
    <br />
    Location ID : <%= text_field_tag :location%> <br />
    User Auth Token : <%= text_field_tag :auth_token%> <br />
    Reward ID: <%= text_field_tag :reward_id%> <br />
    Warn :
    <%= select_tag "warn", options_for_select([["true","true"],["false","false"]]) %> <br />
    lat:
    <%= text_field_tag :lat %> <br />
    long:
    <%= text_field_tag :long %> <br />

    <%= link_to "Add additional info",'#', :id => 'add',:class=> "btn btn-warning" ,:onclick => "
    $('#add').hide();$('#load').show();
       $.ajax({
        url: '#{test_claim_reward_get_info_path}',
    data: {reward_id : $('#reward_id').val()}
    });
    " %>
    <span id="load" style="display: none;">Please Wait</span>
    <div id="additional"></div>
    <br />
    <!--<span class="help-inline">Example reward_additional id = 1, Answer = 7th avenue, then fill it with 1,7th avenue and so on, delimiter is comma ','</span>-->
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path, :class => "btn" %>
<% end %>

<script>
    $(document).ready(function(){
    /*    $('#add').click()
    $.ajax({
        url: '<%= test_claim_reward_get_info_path %>',
        data: {reward_id : $('#reward_id').val()}
    });  */
    });
</script>