<div class="page-header">
  <h4>Test User scans code</h4>
</div>

<%= simple_form_for :pos, :url => code_api_v1_receipts_path do |f| %>
    Appkey :
    <%= text_field_tag :appkey %>   <br/>
    Auth Token :
    <%= text_field_tag :auth_token %>   <br/>
    Barcode :
    <%= text_field_tag :barcode %>   <br/>
    Latitude :
    <%= text_field_tag :latitude %>   <br/>
    Longitude :
    <%= text_field_tag :longitude %>   <br/>
    Beacons :
    <%= text_field_tag :beacons %>
    E.g : UMM 567A|6789  SN 734YY9857437575
    <br/>
    Code Type :
    <%= text_field_tag :code_type %>   <br/>
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path, :class => "btn" %>
<% end %>
