  <div class="page-header">
    <h1>Test Subtmit Survey Step 2</h1>
  </div>

  <%= simple_form_for :survey, :url => test_post_submit_survey_path do |f| %>

    <label for="appkey">App Key</label>
    <%= text_field_tag :appkey, @appkey %> <br />
    <label for="id">Survey ID</label>
    <%= text_field_tag :id, @survey_id %><br />
    <label for="auth_token">Auth Token</label>
    <%= text_field_tag :auth_token, @auth_token %><br />
    <label for="auth_token">Receipt Id</label>
    <%= text_field_tag :receiptId, @receiptId %><br />
    <br /><br />
    Question : 
    <ol>
      <% @ordered_questions.each do |question| %>
        <li>
           <%= question.text %> (<%= question.question_type_name %>)
           <% unless question.question_type.eql?(1) %>
              <ul>
                <% question.question_choices.each do |choice| %>
                  <li><%= choice.label %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ID : (<%= choice.id %>)</li>
                <% end %>
                </ul>
           <% end %>
        </li>

      <% end %>
    </ol>
    
    <label for="auth_token">Your Answer</label>
    <%= text_area_tag :answers %><br />(<i>Answer ordered by question number and seperated by commas, for all not comment question answer with the ID</i>)<br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
  <% end %>
