<div class="page-header">
  <h2>Test Raffles - Submit Info</h2>
</div>
<%= simple_form_for :raffles, :url => submit_info_api_v1_raffle_path, :method => :post  do |f| %>
    App Key :
    <%= text_field_tag :appkey %> <br />
    Auth Token
    <%= text_field_tag :auth_token %> <br />
    Raffle ID
    <%= text_field_tag :raffle_id %> <%= link_to "Load Additional Info", "#", :id => 'load_fields',  :class => "btn btn-primary", :onclick => "
            $.ajax({
                url: '#{ load_raffle_additional_info_path }',
                data: {appkey : $('#appkey').val(), 
                    auth_token : $('#auth_token').val(),
                    raffle_id :  $('#raffle_id').val()
                }
            }); 
    " %><br />
    
    <%#= text_field_tag :additional_info %> <br /> 
    <div id="list_fields"></div>
    <br><br>
    <%= submit_tag "Submit", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>
<script>
    // $(document).ready(function(){
    //     $('#load_fields').click(function(){
    //         $.ajax({
    //             url: '#{ load_raffle_additional_info_path }',
    //             data: {appkey : $('#appkey').val(), 
    //                 auth_token : $('#auth_token').val(),
    //                 raffle_id :  $('#raffle_id').val()
    //             }
    //         });  
    //     });
    // });
</script>