<div class="page-header">
  <h2>Test POS Pull Payment Alert</h2>
</div>
<%= simple_form_for :pos, :url => pos_v1_do_pull_payment_alert_path do |f| %>
    Apikey :
    <%= text_field_tag :apikey %>   <br/>
    Emp Num :
    <%= text_field_tag :emp_num %>   <br/>
    Revenue Center :
    <%= text_field_tag :rvc %>   <br/>
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path, :class => "btn" %>
<% end %>
