<div class="page-header">
  <h2>Test Facebook Data</h2>
</div>

<%= simple_form_for :reward, :url => pos_v1_submit_order_xpient_path do |f| %>
  JSON check :
  <%= text_area_tag "xpient", "", :rows => 10, :cols => 5 %> <br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>

