<div class="page-header">
  <h2>Test Braintree Client Token</h2>
</div>
<%= simple_form_for :active_reward, :url => api_v1_braintree_client_token_path, :html => {:method => :get}  do |f| %>
  App Key :
  <%= text_field_tag :appkey %> <br />
  Auth Token
  <%= text_field_tag :auth_token %> <br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>