<div class="page-header">
  <h2>Test Tap To Gift</h2>
</div>

<%= simple_form_for :reward, :url => tap_to_gift_api_v1_rewards_url do |f| %>
    App Key :
    <%= text_field_tag :appkey %> <br />
    Reward Id:
    <%= text_field_tag :reward_id %><br />
    Auth Token
    <%= text_field_tag "auth_token" %> <br />
    Confirm
    <%= select_tag "warn", options_for_select([["True", "true"], ["False", "false"]]) %> <br />
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>

