<div class="page-header">
  <h2>Test Submit usercode</h2>
</div>
<%= simple_form_for :pos, :url => pos_v1_pos_usercode_path do |f| %>
  Apikey :
  <%= text_field_tag :apikey %>   <br/>
  XML Check  :
  <%= text_area_tag :check_xml,  "", :rows => "10" %>   <br/>
  usercode :
  <%= text_field_tag :usercode %>
  <br />
  Timestamp  :
  <%= text_field_tag :timestamp %>   <br/>
  Locale  :
  <%= select_tag :locale_id,  options_for_select(Locale.all.map{|l| [l.key, l.id]}) %>   <br/>
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path, :class => "btn" %>
<% end %>

