<div class="page-header">
  <h1>Test Submit Goal Category</h1>
</div>
<%= simple_form_for :deal, :url => select_api_v1_categories_path, :html => {:method => :get} do |f| %>
  <label for="appkey">App Key</label>
  <%= text_field_tag :appkey %> 
  <a href="#" onclick="$.get('/api/test/load_categories/'+$('#appkey').val());" class="btn btn-primary">LOAD CATEGORIES</a><br />
  <div id="category_box">

  </div>
  <label for="auth_token">Auth Token</label>
  <%= text_field_tag :auth_token %>  <br />
  <br /><br />

  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>



