<% if params['reward_id'].blank? %>
alert('Please insert Reward id');
<% else %>
<%# begin %>
 <% reward = Reward.find params['reward_id']  %>
 <% unless reward.additional_informations.blank? %>
   $('#additional').html('<%= escape_javascript(render :partial => "additional_info", :locals => {:reward => reward}) %>');
 <% else %>
 <% end %>
<%# rescue %>
//alert('Reward is not find');
<%# end %>
<% end %>

$('#add').show();$('#load').hide();