<div class="page-header">
  <h2>Test Raffles - Submit Code</h2>
</div>
<%= simple_form_for :raffles, :url => submit_code_api_v1_raffle_path, :method => :post  do |f| %>
    App Key :
    <%= text_field_tag :appkey %> <br />
    Auth Token
    <%= text_field_tag :auth_token %> <br />
    Raffle ID
    <%= text_field_tag :raffle_id %> <br />
    Step ID
    <%= text_field_tag :raffle_step_id %> <br />
    Code
    <%= text_field_tag :code %> <br />

    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>
