<div class="page-header">
  <h2>Test Launch Texts</h2>
</div>

<%= simple_form_for :reward, :url => api_v1_launch_text_path, :method => :get do |f| %>
    App Key :
    <%= text_field_tag :appkey %> <br />
    Locale
    <%= select_tag "locale", options_for_select([["en", "en"], ["es", "es"]]) %> <br />
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>

