<div class="page-header">
  <h1>Test Subtmit Survey Step 1</h1>
</div>
<%= simple_form_for :survey, :url => test_submit_survey_step2_path do |f| %>
  <b>Set Survey Id first</b>
  <label for="appkey">App Key</label>
  <%= text_field_tag :appkey %> <br />
  <label for="id">Survey ID</label>
  <%= text_field_tag :id %><br />
  <label for="auth_token">Auth Token</label>
  <%= text_field_tag :auth_token %><br />
  <label for="auth_token">Receipt Id</label>
  <%= text_field_tag :receiptId %><br />
  <br /><br />
  <%= submit_tag "Next to Step 2", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>


