<div class="page-header">
  <h1>Test Post Checkin</h1>
</div>
<%= simple_form_for :deal, :url => api_v1_post_checkin_path do |f| %>
  <label for="appkey">App Key</label>
  <%= text_field_tag :appkey %> <br />
  <label for="locale">Locale</label>
  <%= select_tag :locale, options_for_select(["en", "es"]) %><br />
  <label for="dealid">Deal ID</label>
  <%= text_field_tag :dealid %><br />
  <label for="restaurant_id">Restaurant ID</label>
  <%= text_field_tag :restaurant_id %><br />
  <label for="userlat">User Latitude</label>
  <%= text_field_tag :userlat %><br />
  <label for="userlong">User Longitude</label>
  <%= text_field_tag :userlong %><br />
  <label for="auth_token">Auth Token</label>
  <%= text_field_tag :auth_token %><br />

  <br /><br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>



