<div class="page-header">
  <h2>Test Reward Share Text List</h2>
</div>
<%= simple_form_for :deal, :url => share_api_v1_rewards_path, :method => :get do |f| %>
  <label for="appkey">App Key</label>
  <%= text_field_tag :appkey %> <a href="#" onclick="$.get('/api/test/load_users?appkey='+$('#appkey').val());" class="btn btn-primary">LOAD USER</a><br />
  <label for="auth_token">Auth Token</label>
  <%= select_tag :auth_token, [""] %><br />
  <label for="id">Rewards ID</label>
  <%= text_field_tag :id %>   <br />
  <label for="locale">Locale</label>
  <%= select_tag :locale, options_for_select(['','en', 'es']) %>   <br />
  <label for="platform">Platform</label>
  <%= select_tag :platform, options_for_select([["Facebook", 1], ["Twitter", 2]]) %>   <br />
  <br /><br />


  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>