<div class="page-header">
  <h1>Test Treatware APPLY OFFERS</h1>
</div>
<%= simple_form_for :user, :url => pos_v1_tw_apply_offers_path do |f| %>
  StoreId = <%= text_field_tag "storeId", nil %> <br />
  shortCode = <%= text_field_tag "shortCode", nil %> <br />
  Order = <%= text_area_tag "Order", nil %>
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>



