<div class="page-header">
  <h1>Test Treatware Get Info</h1>
</div>
<%= simple_form_for :user, :url => pos_v1_tw_get_info_path do |f| %>
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>



