<div class="page-header">
  <h2>Test Get Goal Categories</h2>
</div>
<%= simple_form_for :categories, :url => points_api_v1_game_path  do |f| %>
    App Key :
    <%= text_field_tag :appkey %> <br />
    Auth Token
    <%= text_field_tag :auth_token %> <br />
    Level Number:
    <%= text_field_tag :level_number %> <br />
    Game Points:
    <%= text_field_tag :game_points %> <br />
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>
