<div class="page-header">
  <h2>Test Vantiv Get Card Balance</h2>
</div>
<%= simple_form_for :user, :url => api_v1_vantiv_gift_path do |f| %>
    <label for="appkey">App Key</label>
    <%= text_field_tag :appkey %> <br />
    <label for="auth_token">Auth Token</label>
    <%= text_field_tag :auth_token %><br />

    <label for="giftcard_amount">Giftcard Amount</label>
    <%= text_field_tag :giftcard_amount %><br />

    <label for="giftee_email">Giftee Email</label>
    <%= text_field_tag :giftee_email %><br />

    <label for="giftee_name">Giftee Name</label>
    <%= text_field_tag :giftee_name %><br />

    <label for="custom_message">Custom Message</label>
    <%= text_field_tag :custom_message %><br />

    <label for="gifter_name">Gifter Name</label>
    <%= text_field_tag :gifter_name %><br />

    <label for="image_header_url">Image header URL</label>
    <%= text_field_tag :image_header_url %><br />

    <label for="cvv">CVV (optional)</label>
    <%= text_field_tag :cvv %><br />

    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>

