<h1>Test User Update Profile</h1>
<%= form_tag api_v1_user_update_profile_path, :multipart => true do %>
  App Key : <%= text_field_tag "appkey" %><br/>
  Auth Token : <%= text_field_tag "auth_token" %><br/>
  Email : <%= text_field_tag "email" %><br/>
  First Name : <%= text_field_tag "first_name" %><br/>
  Last Name : <%= text_field_tag "last_name" %><br/>
  Favorite Location : <%= text_field_tag "favorite_location" %><br/>
  Favorite Menu Item : <%= text_field_tag "favorite_menu_item" %><br/>
  Profile Pic  :<%= file_field_tag "profilepic" %> <br />
  Phone Number  :<%= text_field_tag "phone_number" %> <br />
  App usage purpose  :<%= text_field_tag "app_usage_purpose" %> <br />
  Marketing Optin  :<%= text_field_tag "marketing_optin" %> (TRUE or FALSE or true or false) <br />
  Marketing Optin  Texting:<%= text_field_tag "marketing_optin_texting" %> (1 = TRUE or 0 = FALSE) <br />
  Gender  : <%= select_tag :gender, options_for_select([["Not provided", "0"],["Male", "1"], ["Female", "2"], ["Other", "3"], ]), :include_blank => true%> <br />
  <div class="field">
    <label for="dob_day">DOB (yyyy-m-d)</label>
    <%= select_tag :dob_year, options_for_select((1900..Time.current.year).to_a), :include_blank => true%> -
    <%= select_tag :dob_month, options_for_select((1..12).to_a), :include_blank => true %>  -
    <%= select_tag :dob_day, options_for_select((1..31).to_a), :include_blank => true %>
  </div>
 <div class="field">
        <label for="mall_employee">Mall Employee </label>
        <input id="mall_employee" name="mall_employee" type="text"/> (1 = TRUE or 0 = FALSE)
      </div>
       <div class="field">
        <label for="retailer">Retailer</label>
        <input id="retailer" name="retailer" type="text"/>
      </div>
  <%= submit_tag "submit" %>
<% end %>
<%= link_to "Back", admin_test_api_path,  :class => "btn" %>
