<div class="page-header">
  <h1>Test Deactivate Account</h1>
</div>
<%= simple_form_for :account, :url => api_v1_deactivate_account_path, :html => {:method => :get} do |f| %>
  <label for="appkey">App Key</label>
  <%= text_field_tag :appkey %> <br />
  <label for="auth_token">Auth Token</label>
  <%= text_field_tag :auth_token %><br />
  <label for="warn">Warn</label>
  <%= select_tag "warn",options_for_select([["False", "false"], ["True","true"]]) %><br />
  <i> Warn = false will make user deactivate</i> <br />
  <i> Warn = true,  will show confirmation text before deactivate</i>
  <br /><br /><br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>