<div class="page-header">
  <h2>Test POS Get Code Type</h2>
</div>
  <label for="apikey">ApiKey</label>
  <%= text_field_tag :apikey %> <br />
  <label for="code">code</label>
  <%= text_field_tag :code %>  <br />
  <%= link_to "Test", "#", :class => "btn btn-primary", :onclick => "window.location.href='/pos/v1/code/'+$('#code').val()+'/type?apikey='+$('#apikey').val();" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>


