<div class="page-header">
  <h2>Test POS Pull Check</h2>
</div>
<%= simple_form_for :pos, :url => pos_v1_pull_check_payment_path, :method => :post do |f| %>
  Apikey :
  <%= text_field_tag :apikey %>   <br/>
  CheckId :
  <%= text_field_tag :check_num %>   <br/>
  Sequence Number :
  <%= text_field_tag :check_seq %>   <br/>
  Revenue Center :
  <%= text_field_tag :revenue_center %>   <br/>
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path, :class => "btn" %>
<% end %>
