<div class="page-header">
  <h1>Test List Deals</h1>
</div>
<%= simple_form_for :deal, :url => list_deals_api_v1_deals_url, :html => {:method => :get} do |f| %>
  <label for="appkey">App Key</label>
  <%= text_field_tag :appkey %> <br />
  <label for="locale">Locale</label>
  <%= select_tag :locale, options_for_select(["en", "es"]) %>

  <br /><br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>



