<div class="page-header">
  <h2>Test PHP Migration Send <%= params[:type].gsub(/_/, ' ').titleize %></h2>
</div>

<%= simple_form_for :reward, :url => api_v1_user_migrate_url, :html => {:method => :get} do |f| %>
    App Key :
    <%= text_field_tag :appkey %> <br />

    <%= params[:type].gsub(/_/, ' ').titleize %> :
    <%= text_field_tag params[:type] %> <br />

    <% if params[:type].eql?("user_id") %>
        Reset PWD : <%= select_tag :reset_pwd, options_for_select([["False", "false"], ["True", "true"]]) %> <br />
        Enter New password : <%= text_field_tag :new_pwd %>    <br />
    <% else %>
        User Type : <%= select_tag :user_type, options_for_select([["", ""], ["FB", "fb"], ["Email", "email"]]) %> <br />
    <% end %>
    Sign In device Type :
    <%= select_tag :sign_in_device_type, options_for_select([["android"], ["iphone"]]) %> <br />
    Device Token :
    <%= text_field_tag :device_token %> <br />
    Device ID :
    <%= text_field_tag :device_id %> <br />
    Phone Model :
    <%= text_field_tag :phone_model %> <br />
    OS :
    <%= text_field_tag :os %> <br />

    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>
