<div class="page-header">
  <h1>Sign in</h1>
</div>

<form accept-charset="UTF-8" action="/api/v1/user/login" class="user_new" id="user_new" method="post">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="&#x2713;"/>
    <input name="authenticity_token" type="hidden" value="py1bRQnrz636MNA+PdmBJqv+Zmgn5pmSB4JVtCHxDaQ="/>
  </div>

  <div class="field">
    <div class="field">
      <label for="appkey">AppKey</label>
      <input id="appkey" name="appkey" type="text"/>
    </div>
    <div class="field">
      <label for="user_email">Email</label>
      <input id="user_email" name="email" size="30" type="email"/>
    </div>

    <div class="field"><label for="user_password">Password</label>
      <input id="user_password" name="password" size="30" type="password"/>
    </div>

    <div class="field"><label for="type">Register Type</label>
      <input id="type" name="register_type" size="30" type="text"/>
    </div>

    <div class="field">
      <label for="signin_device_type_android">Device type</label>
      <input id="signin_device_type_android" name="sign_in_device_type" type="radio" value="android"/> Android
      <input id="signin_device_type_iphone" name="sign_in_device_type" type="radio" value="iphone"/> Iphone
    </div>
    <br />
    <div class="field">
      <label for="user_remember_me">Activate</label>
      <%= select_tag "account_activate",options_for_select([["Confirmation","confirm"],["False", "false"], ["True","true"]]) %><br />
      <i>"activate_account = nil or no value for this (confirmation)" it will show the default confirmations. </i>
      <i>"activate_account = true" you want to activate this user using parameter </i>
      <i>"activate_account = false" if you want to see the label confirmation for reactive this user</i>
      <i></i>
    </div>

    <br /><br />
    <div class="field"><input name="commit" type="submit" value="Sign in" class="btn btn-primary" /></div>
  </div>
</form>
