<div class="page-header">
  <h1>New User</h1>
</div>

<form accept-charset="UTF-8" action="/api/v1/user/signup" method="post">
  <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;"/>
    <input name="authenticity_token" type="hidden" value="py1bRQnrz636MNA+PdmBJqv+Zmgn5pmSB4JVtCHxDaQ="/>
  </div>

  <div class="x-box">
    <div class="field">
      <div class="field">
        <label for="appkey">AppKey</label>
        <input id="appkey" name="appkey" type="text"/>
      </div>
      <div class="field">
        <label for="first_name">First name</label>
        <input id="first_name" name="first_name" type="text"/>
      </div>

      <div class="field">
        <label for="last_name">Last name</label>
        <input id="last_name" name="last_name" type="text"/>
      </div>

      <div class="field">
        <label for="username">Username</label>
        <input id="username" name="username" type="text"/>
      </div>

      <div class="field">
        <label for="email">Email</label>
        <input id="email" name="email" type="text"/>
      </div>

      <div class="field">
        <label for="register_type">Register type</label>
        <select class="user-types" id="register_type" name="register_type">
          <option value="1">Email PWD</option>
          <option value="2">Facebook</option>
          <option value="3">Twitter</option>
        </select>
      </div>

      <div id="pwd" class="field">
        <label for="password">Password</label>
        <input id="password" name="password" type="password"/>
      </div>

      <div class="field">
        <label>Device type</label>
        <select class="user-types" id="sign_in_device_type" name="sign_in_device_type">
          <option value="android">Android</option>
          <option value="iphone">IPhone</option>
          <option value="browser">Browser</option>
          <option value="browser_compatible">Browser Compatible</option>
        </select>
      </div>

      <div class="field">
        <label for="device_token">Device Token</label>
        <input id="device_token" name="device_token" type="text"/>
      </div>

      <div class="field">
        <label for="keychain">KeyChain Value(if device type is iphone, fill this)</label>
        <input id="keychain" name="keychain" type="text"/>
      </div>

      <div class="field">
        <label for="android_id">ANDROID ID(if device type is android, fill this)</label>
        <input id="android_id" name="android_id" type="text"/>
      </div>

      <div class="field">
        <label for="device_id">Device ID</label>
        <input id="device_id" name="device_id" type="text"/>
      </div>

      <div class="field">
        <label for="latitude">Latitude</label>
        <input id="latitude" name="latitude" type="text"/>
      </div>
      <div class="field">
        <label for="longitude">Longitude</label>
        <input id="longitude" name="longitude" type="text"/>
      </div>
      <div class="field">
        <label for="phone_model">Phone Model</label>
        <input id="phone_model" name="phone_model" type="text"/>
      </div>
      <div class="field">
        <label for="os">OS Version</label>
        <input id="os" name="os" type="text"/>
      </div>
      <div class="field">
        <label for="phone_number">Phone Number</label>
        <input id="phone_number" name="phone_number" type="text"/>
      </div>
      <div class="field">
        <label for="dob_day">DOB (yyyy-m-d)</label>
        <%= select_tag :dob_year, options_for_select((1900..Time.current.year).to_a) %> -
        <%= select_tag :dob_month, options_for_select((1..12).to_a) %>  -
        <%= select_tag :dob_day, options_for_select((1..31).to_a) %>
      </div>
      <div class="field">
        <label for="special_occassion">Special Occasion</label>
        <input id="special_occassion" name="special_occassion" type="text"/>
        FORMAT DATE : YYYY-mm-dd
      </div>
      <div class="field">
        <label for="referral_code">Referral Code</label>
        <input id="referral_code" name="referral_code" type="text"/>
      </div>

      <div class="field">
        <label for="referral_code">zipcode</label>
        <input id="referral_code" name="zipcode" type="text"/>
      </div>

      <div class="field">
        <label for="marketing_optin">Marketing Optin</label>
        <input id="marketing_optin" name="marketing_optin" type="text"/>
        (TRUE or FALSE or true or false)
      </div>
      <div class="field">
        <label for="marketing_optin_texting">Marketing Optin Texting</label>
        <input id="marketing_optin_texting" name="marketing_optin_texting" type="text"/>
        (1 = TRUE or 0 = FALSE)
      </div>
      <div class="field">
        <label for="favorite_location">Favorite Location</label>
        <input id="favorite_location" name="favorite_location" type="text"/>
      </div>
      <div class="field">
        <label for="favorite_menu_item">Favorite Menu Item</label>
        <input id="favorite_menu_item" name="favorite_menu_item" type="text"/>
        <i>can be anything, multiple values will be separated by commam E.g: 45, 7897,69 </i>
      </div>
      <div class="field">
        <label for="migrate">Migrate</label>
        <input id="migrate" name="migrate" type="text"/>
      </div>
      <div class="field">
        <label for="migrate">App usage purpose</label>
        <input id="migrate" name="app_usage_purpose" type="text"/>
      </div>
      <div class="field">
        <label for="gender">Gender</label>
        <input id="gender" name="gender" type="text"/>
        <i>
          0 -> IMPLIES USER VOLUNTARILY PICKED NOT TO SPECIFY,
          1 -> MALE,
          2-> FEMALE,
          3 -> OTHER
        </i>
      </div>
       <div class="field">
        <label for="mall_employee">Mall Employee </label>
        <input id="mall_employee" name="mall_employee" type="text"/> (1 = TRUE or 0 = FALSE)
      </div>
       <div class="field">
        <label for="retailer">Retailer</label>
        <input id="retailer" name="retailer" type="text"/>
      </div>
<!--       <div class="field">
        <label for="favorite_location">Favorite Location</label>
        <select id="favorite_location" name="favorite_location">

        </select>
      </div> -->
    </div>
    <br />
    <input name="commit" type="submit" value="Submit" class="btn btn-primary" />
  </div>
</form>
