<div class="page-header">
  <h4>Test POS Receipt Claim</h4>
</div>

<%= simple_form_for :pos, :url => pos_v1_pos_receipt_claim_path, :method => :get do |f| %>
    Apikey :
    <%= text_field_tag :apikey %>   <br/>
    Barcode :
    <%= text_field_tag :barcode %>   <br/>
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path, :class => "btn" %>
<% end %>
