<div class="page-header">
  <h2>Test POS Get Payment Code</h2>
</div>

<%= simple_form_for :user, :url => api_v1_gift_code_path, :method => :get do |f| %>
  App Key :
  <%= text_field_tag :appkey %> <br />
  <label for="auth_token">Auth Token</label>
  <%= text_field_tag :auth_token %>  <br />
  <label for="latitude">Latitude</label>
  <%= text_field_tag :lat %>  <br />
  <label for="longitude">Longitude</label>
  <%= text_field_tag :long %>  <br /><br />

  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>

