<div class="page-header">
  <h2>Test POS Check Upload Status</h2>
</div>
<%#= simple_form_for :pos, :url => api_v2_pos_reward_code_path do |f| %>
<%= simple_form_for :pos, :url => pos_v1_pos_check_upload_status_path, :html => {:method => :get} do |f| %>
    Apikey :
    <%= text_field_tag :apikey %>   <br/>
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path, :class => "btn" %>
<% end %>
