<h3>Add giftable reward to user</h3>

<%= form_tag "/api/v1/rewards/add_giftable_to_user", :method => :get do %>
    Select App Key :
    <%= select_tag 'appkey', options_for_select(ApplicationKey.all.map{|a| ["#{a.appkey} - #{a.application.chain.name rescue nil}", a.appkey]}), :prompt => "Please select app key" %>
    <br/>

    <div class="field">
      User :
      <span id="user_select_from">
      <%= text_field_tag "auth_token" %>
      </span>
    </div>

    <div class="field">
      Send To (user_id) :
      <span id="user_select">
      <%= text_field_tag "receiver_id" %>
      </span>
    </div>
    <div id="reward-list"></div>
    <%= submit_tag "submit" %>
<% end %>

<script type="text/javascript">
    $('#appkey').change(function () {
        $.get("/api/test/load_giftable_rewards?appkey=" + this.value);
    });
</script>