<div class="page-header">
  <h2>Test Get Olo Mobile Uri</h2>
</div>
<%= form_tag api_v1_get_olo_mobile_uri_path, method: :get do %>
    Appkey :
    <%= text_field_tag :appkey %>   <br/>
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path, :class => "btn" %>
<% end %>
