<div class="page-header">
  <h2>Test Chain Image Share</h2>
</div>

<%= simple_form_for :chain_image, :url => test_post_answer_deal_survey_url do |f| %>
  App Key :
  <%= text_field_tag :appkey %> <br />
  Locale :
  <%= select_tag :locale, options_for_select(["en", "es"]) %> <br />
  Deal ID :
  <%= text_field_tag :dealid %> (dealid)<br />
  Survey ID:
  <%= text_field_tag :id %> (id)<br />
  Auth Token
  <%= text_field_tag :auth_token %> <br />
  Answer : separate by comma <br />
  <%= text_field_tag :answers %> (answers) <-- format is same with the submit survey (not from deal)<br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>