<div class="page-header">
  <h2>Test Get Weekly User Goal</h2>
</div>
<%= simple_form_for :categories, :url => deadline_api_v1_goals_path, :html => {:method => :get} do |f| %>
  App Key :
  <%= text_field_tag :appkey %> <br />
  Auth Token
  <%= text_field_tag :auth_token %> <br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>



