<div class="page-header">
  <h1>Test Get History Completed Goals in last 4 weeks</h1>
</div>
<%= simple_form_for :goal, :url => history_api_v1_goals_path, :html => {:method => :get} do |f| %>
  <label for="appkey">App Key</label>
  <%= text_field_tag :appkey %> <br />
  <label for="auth_token">Auth Token</label>
  <%= text_field_tag :auth_token %>  <br />
  <label for="locale">Locale</label>
  <%= select_tag :locale, options_for_select(['','en', 'es']) %> <br />
  <br /><br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>