<div class="page-header">
  <h2>Test Module Accessed</h2>
</div>

<%= simple_form_for :reward, :url => api_v1_module_accessed_path do |f| %>
  App Key :
  <%= text_field_tag :appkey %> <br />
  AuthToken
  <%= text_field_tag :auth_token %> <br />
  Keychain :
  <%= text_field_tag :keychain %> <br />
  Android ID :
  <%= text_field_tag :android_id %> <br />
  Lat :
  <%= text_field_tag :lat %> <br />
  Long :
  <%= text_field_tag :long %> <br />
  Module Name :
  <%= text_field_tag :module_name %> <br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>

