<div class="page-header">
  <h1>Test Skip Survey</h1>
</div>
<%= simple_form_for :user, :url => skip_api_v1_survey_index_path do |f| %>
  <label for="appkey">App Key</label>
  <%= text_field_tag :appkey %> <br />
  <label for="auth_token">Auth Token</label>
  <%= text_field_tag :auth_token %><br />
  <label for="survey_id">Survey ID</label>
  <%= text_field_tag :survey_id %><br />

  <label for="receipt_id">Receipt ID</label>
  <%= text_field_tag :receipt_id %><br />

  <br /><br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>