<div class="page-header">
  <h2>Test Vantiv Card Unload</h2>
</div>
<%= simple_form_for :user, :url => api_v1_vantiv_unload_card_path do |f| %>
    <label for="appkey">App Key</label>
    <%= text_field_tag :appkey %> <br />
    <label for="auth_token">Auth Token</label>
    <%= text_field_tag :auth_token %><br />
    <label for="card_number">Card Number (Optional)</label>
    <%= text_field_tag :card_number %><br />
    <%= submit_tag "Test", :class => "btn btn-primary" %>
    <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>

