<div class="page-header">
  <h1>Test Get Deal Survey</h1>
</div>

<%= simple_form_for :survey, :url => test_post_deal_survey_url do |f| %>
  <label for="appkey">App Key</label>
  <%= text_field_tag :appkey %> <br />
  <label for="locale">Locale</label>
  <%= select_tag :locale, options_for_select(["en", "es"]) %><br />
  <label for="dealid">Deal ID</label>
  <%= text_field_tag :dealid %><br />
  <label for="id">Survey ID</label>
  <%= text_field_tag :id %><br />
  <label for="auth_token">Auth Token</label>
  <%= text_field_tag :auth_token %><br />
  <br /><br />
  <%= submit_tag "Test", :class => "btn btn-primary" %>
  <%= link_to "Back", admin_test_api_path,  :class => "btn" %>
<% end %>



