<div class="page-header">
  <h1>Update Password</h1>
</div>
<form accept-charset="UTF-8" action="/api/v1/user/update_password" class="user_new" id="user_new" method="post">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input name="authenticity_token" type="hidden" value="py1bRQnrz636MNA+PdmBJqv+Zmgn5pmSB4JVtCHxDaQ=" />
  </div>
  <div class="field">
    <div class="input select required">
      <label >Chain</label>
      <select name="appkey">
        <% ApplicationKey.order("appkey asc").each do |appkey| %>
          <option value="<%= appkey.appkey %>"><%= appkey.appkey %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div>
    <label for="current_password">Current Password</label>
    <input id="current_password" name="current_password" size="30" type="password" />
  </div>

  <div>
    <label for="password">New Password</label>
    <input id="password" name="password" size="30" type="password" />
  </div>

  <div>
    <label for="password_confirmation">Confirm Password</label>
    <input id="password_confirmation" name="password_confirmation" size="30" type="password" />
  </div>

  <div><label for="auth_token">Auth_token</label>
    <input id="auth_token" name="auth_token" size="30" type="text" />
  </div>
  <br />
  <input name="commit" type="submit" value="Change"  class="btn btn-primary" />
</form>
