<div class="page-header">
    <h1>New User</h1>
</div>

<form accept-charset="UTF-8" action="/api/v1/user/signup" method="post">
    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;"/>
        <input name="authenticity_token" type="hidden" value="py1bRQnrz636MNA+PdmBJqv+Zmgn5pmSB4JVtCHxDaQ="/>
    </div>

    <div class="x-box">
        <div class="field">
            <div class="field">
                <label for="appkey">AppKey</label>
                <input id="appkey" name="appkey" type="text"/>
            </div>

            <div class="field">
                <label for="first_name">First name</label>
                <input id="first_name" name="first_name" type="text"/>
            </div>

            <div class="field">
                <label for="last_name">Last name</label>
                <input id="last_name" name="last_name" type="text"/>
            </div>

            <div class="field">
                <label for="username">Username</label>
                <input id="username" name="username" type="text"/>
            </div>

            <div class="field">
                <label for="email">Email</label>
                <input id="email" name="email" type="text"/>
            </div>

            <div class="field">
                <label for="register_type">Register type</label>
                <select class="user-types" id="register_type" name="register_type">
                    <option value="1">Email PWD</option>
                    <option value="2">Facebook</option>
                    <option value="3">Twitter</option>
                </select>
            </div>

            <div id="pwd" class="field">
                <label for="password">Password</label>
                <input id="password" name="password" type="password"/>
            </div>

            <div class="field">
                <label>Device type</label>
                <select class="user-types" id="sign_in_device_type" name="sign_in_device_type">
                    <option value="android">Android</option>
                    <option value="iphone">IPhone</option>
                    <option value="browser">Browser</option>
                    <option value="browser_compatible">Browser Compatible</option>
                </select>
            </div>

            <div class="field">
                <label for="device_token">Device Token</label>
                <input id="device_token" name="device_token" type="text"/>
            </div>

            <div class="field">
                <label for="device_id">Device ID</label>
                <input id="device_id" name="device_id" type="text"/>
            </div>

            <div class="field">
                <label for="latitude">Latitude</label>
                <input id="latitude" name="latitude" type="text"/>
            </div>
            <div class="field">
                <label for="longitude">Longitude</label>
                <input id="longitude" name="longitude" type="text"/>
            </div>
            <div class="field">
                <label for="phone_model">Phone Model</label>
                <input id="phone_model" name="phone_model" type="text"/>
            </div>
            <div class="field">
                <label for="os">OS Version</label>
                <input id="os" name="os" type="text"/>
            </div>
            <div class="field">
                <label for="phone_number">Phone Number</label>
                <input id="phone_number" name="phone_number" type="text"/>
            </div>
            <div class="field">
                <label for="phone_number">Zipcode</label>
                <input id="phone_number" name="phone_number" type="text"/>
            </div>
            <div class="field">
                <label for="dob">DOB</label>
                <input id="dob" name="dob" type="text"/>  (yyyy-mm-dd) -> (1986-02-20)
            </div>
        </div>
        <br />
        <input name="commit" type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
