<div class="page-header">
  <h1>Sign in</h1>
</div>
<form accept-charset="UTF-8" action="/api/v1/user/login" class="user_new" id="user_new" method="post">
    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;"/>
        <input name="authenticity_token" type="hidden" value="py1bRQnrz636MNA+PdmBJqv+Zmgn5pmSB4JVtCHxDaQ="/>
    </div>

    <div class="field">
        <div class="field">
            <label for="appkey">AppKey</label>
            <input id="appkey" name="appkey" type="text"/>
        </div>

        <div class="field">
            <label for="user_email">Email</label>
            <input id="user_email" name="email" size="30" type="email"/>
        </div>

        <div class="field">
            <label for="user_password">Password</label>
            <input id="user_password" name="password" size="30" type="password"/>
        </div>

        <div class="field">
            <label for="type">Register Type</label>
            <select class="user-types" id="register_type" name="register_type">
                <option value="1">Email PWD</option>
                <option value="2">Facebook</option>
            </select>
        </div>

        <div class="field">
            <label>Device type</label>
            <select class="user-types" id="sign_in_device_type" name="sign_in_device_type">
                <option value="android">Android</option>
                <option value="iphone">IPhone</option>
                <option value="browser">Browser</option>
                <option value="browser_compatible">Browser Compatible</option>
            </select>
        </div>
        <div class="field">
          <label for="keychain">KeyChain Value(if device type is iphone, fill this)</label>
          <input id="keychain" name="keychain" type="text"/>
        </div>

        <div class="field">
          <label for="android_id">ANDROID ID(if device type is android, fill this)</label>
          <input id="android_id" name="android_id" type="text"/>
        </div>

        <div class="field">
          <label for="device_id">Device ID</label>
          <input id="device_id" name="device_id" type="text"/>
        </div>
        <div class="field">
            <label for="phone_number">Phone Number</label>
            <input id="phone_number" name="phone_number" type="text"/>
        </div>
        <div class="field">
            <label for="phone_model">Phone Model</label>
            <input id="phone_model" name="phone_model" type="text"/>
        </div>
        <div class="field">
            <label for="os">OS Version</label>
            <input id="os" name="os" type="text"/>
        </div>

        <div class="field">
            <label for="migrate">Migrate</label>
            <input id="migrate" name="migrate" type="text"/>
        </div>
<br />
        <div class="field">
            <label class="checkbox">
                <input id="user_remember_me" name="remember_me" type="checkbox" value="1"/>Remember me
            </label>
        </div>
<br />
        <div class="field"><input name="commit" type="submit" value="Sign in" class="btn btn-primary" /></div>
    </div>
</form>