<%= f.label :country_id %>
<%= f.select :country_id, Country.active_countries.collect{|x|[x.name, x.id]}  %> <br />
<%= f.label :nama %>
<%= f.text_field :name %> <br />
<%= f.label :abbreviation %>
<%= f.text_field :abbreviation %><br />