<script type="text/javascript">
  $(".pagination a").bind("click", function() {
    var page = parseInt($(this).text());

    if(page > 0){
      $('#page').val(page);
      $('#loader').show();
      $('#sub').click();
    }else{
      var page = $(this).attr("class");
      var cur_page = parseInt($(".pagination em").text());

      if(page == "previous_page"){
        $('#page').val(cur_page - 1);
        $('#loader').show();
        $('#sub').click();
      }else if(page == "next_page"){
        $('#page').val(cur_page + 1);
        $('#loader').show();
        $('#sub').click();
      }
    }
    return false;
  });
</script>
<table class="table table-bordered table-condensed">
  <caption></caption>
  <thead>
    <tr>
      <th><a class="order-table" href="#" data-attribute="1">State</a></th>
      <th><a class="order-table" href="#" data-attribute="2">Country</a></th>
      <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="3">State Short Form</a></th>
      <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="4">State ID</a></th>
      <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="5">Status</a></th>
      <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="6">Action</a></th>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td><%= region.country.name %></td>
        <td class="ta-center"><%= region.abbreviation %></td>
        <td class="ta-center"><%= region.id %></td>
        <td>
          <%= form_tag update_status_admin_region_path(region) do  %>
            <%= select_tag "region_status",
              options_for_select( [["Active",true],["Deactive",false]], region.active ),
              :onchange => "this.form.submit();",
              :style => "width:100px;"
          %>
          <% end %>
        </td>
        <td class="ta-center">
          <%= link_to 'Show', admin_region_path(region) %> |
          <%= link_to 'Edit', edit_admin_region_path(region) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @regions %>