<script type="text/javascript">
  $(document).ready(function(){
    $('#search_btn').click(function(){
      $('#search_text_hidden').val($('#search_text').val());
      $('#page').val(1);
      $('#loader').show();
      $('#sub').click();
    });

    $('.order-table').bind("click", function(){
      var ordvalcur = $(this).attr('data-attribute');
      var ordvalbef = $('#qry_order').val();

      if(ordvalcur == ordvalbef){
        $('#qry_order').val(parseInt(ordvalbef) + 1000)
      }else{
        $('#qry_order').val($(this).attr('data-attribute'));
      }

      $('#search_btn').click();
    });

    $('#search_text').keypress(function (e) {
      if (e.which == 13) {
        $('#search_btn').click();
      }
    });

  });
</script>

<div class="page-header">
  <h1>Listing Regions</h1>
</div>
<div class="controls">
  <%= select_tag 'region_country', options_from_collection_for_select(Country.active_countries, :id, :name), :prompt=>"Please select country",
    :onchange => "$('#country_id').val(this.value);$('#search_btn').click();" %>
  <%= search_field_tag "search_text" %>
  <%= button_tag "Search", :id => "search_btn", :style => "width: 65px; height: 30px; margin-bottom: 8px;" %>
  <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
</div>
<div id="region-content">
  <table class="table table-bordered table-condensed">
    <caption></caption>
    <thead>
      <tr>
        <th><a class="order-table" href="#" data-attribute="1">State</a></th>
        <th><a class="order-table" href="#" data-attribute="2">Country</a></th>
        <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="3">State Short Form</a></th>
        <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="4">State ID</a></th>
        <th class="th-medium ta-center"><a class="order-table" href="#" data-attribute="5">Status</a></th>
        <th class="th-medium ta-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @regions.each do |region| %>
        <tr>
          <td><%= region.name %></td>
          <td><%= region.country.name %></td>
          <td class="ta-center"><%= region.abbreviation %></td>
          <td class="ta-center"><%= region.id %></td>
          <td>
            <%= form_tag update_status_admin_region_path(region) do  %>
              <%= select_tag "region_status",
                options_for_select( [["Active",true],["Deactive",false]], region.active ),
                :onchange => "this.form.submit();",
                :style => "width:100px;"
            %>
            <% end %>
          </td>
          <td class="ta-center">
            <%= link_to 'Show', admin_region_path(region) %> |
            <%= link_to 'Edit', edit_admin_region_path(region) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @regions %>
</div>
<br />
<div class="controls">
  <a href="#myModal" data-toggle="modal" class="btn btn-primary" >
    Add State
  </a>
  <%= link_to "Add Countries",admin_countries_path, :class => "btn btn-primary" %>
  <%= link_to "Add City",admin_cities_path, :class => "btn btn-primary" %>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-header">

    <h3 id="myModalLabel">Add State</h3>
  </div>
  <div class="modal-body">
    <div style="padding-left:10px;padding-right:10px;">
      <%= form_for [:admin, @region] do |f| %>
        <%= render "shared/error_messages.html", :target => @region %>
        <%= render :partial => 'form', :locals => {:f => f} %>
        <br/>
        <%= submit_tag "Submit", :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').hide();">Close</button>
  </div>
</div>

<%= form_tag search_region_admin_regions_path, :id => "form", :class => 'form-horizontal', :style => "display:none;", :remote => true do %>
  <%= hidden_field_tag "country_id" %>
  <%= hidden_field_tag "search_text_hidden" %>
  <%= hidden_field_tag "qry_order" %>
  <%= hidden_field_tag "page", 1 %>
  <%= submit_tag "submit", :id => "sub" %>
<% end %>