/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require basic_simplemodal
 *= require docs
 *= require email
 *= require general
 *= require jquery-multiselect
 *= require jquery-ui
 *= require nyromodal
 *= require sortable
 *= require toggle-switch
 *= require_self
*/
#user_nav {
    float: right;
    font-size: 12px;
}

#admin_nav {
    float: right;
    font-size: 12px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
}

.ui-timepicker-div dl dd {
    margin: -25px 0 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

#multiplier_slider {
    float: none;
    width: 150px;
}

body {
    font: 12px Verdana, sans-serif;
}

table { 
   word-wrap:break-word;
   table-layout: fixed;
}

table a, table a:visited {
    color: #333333;
    text-decoration: underline;
}

table a:hover, table a:visited:hover {
    text-decoration: none;
}

caption, th, td {
    vertical-align: top;
    text-align: left;
}

table caption, th, tfoot td {
    font-weight: bold;
    color: #333333;
}

table caption {
    background-color: #dfeffc;
    font-size: 18px;
    padding: 8px;
}

table {
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    background-color: #dfeffc;
}

td, th {
    padding: 5px;
}

thead th {
    background-color: white;
    border-bottom: 1px solid #dfeffc;
    color: #333333;
}

tfoot th, tfoot td {
    background-color: white;
    border-top: 1px solid #dfeffc;
    border-bottom: 2px solid #dfeffc;
    color: #333333;
}

tbody td, tbody th {
    border-bottom: 1px solid #ffffff;
    color: #333333;
}

tbody tr:last-child td, tbody tr:last-child th {
    border-radius: 0 0 0 4px;
}

tbody tr:nth-child(even) {
    background-color: #dfeffc;
}

tbody th a {
    color: #333333;
}

tbody tr:hover td, tbody tr:hover th, tbody tr:hover td a, tbody tr:hover th a {
    color: #333333;
    background-color: white;
}

tbody tr:hover td a:visited, tbody tr:hover th a:visited {
    color: #333333;
}

/****************** Two columns box ******************/
.x-box {
    float: left;
    padding: 5px;
    margin: 0px auto;
    width: 99%
}

.x-box .x-box-inner {
    width: 49%;
    padding: 5px;
    float: left;
}

.x-box .x-box-heading {
    font-weight: bold;
    text-decoration: underline;
}

.x-box .x-box-heading a {
    text-decoration: none;
    color: blue;
}

.x-box label, .x-box .x-box-inner label {
    display: inline-block;
    vertical-align: top;
    width: 150px
}

.x-box-inner .points {
    padding-left: 20px;
}

.x-box-inner .cdate {
    width: 180px
}

.x-box .field .field-inner-box {
    float: left;
}

/*.x-box .field .field_with_errors{*/
/*padding: 5px; height: 25px; display: block;*/
/*}*/
/****************** Three columns box ******************/
.x-box .x-box-col3 {
    width: 32%;
    padding: 5px;
    float: left;
}

.x-box .x-box-col3 label {
    display: inline-block;
    vertical-align: top;
    width: 40%
}

.x-col3-dropdown {
    width: 150px
}

.multiselect {
    min-width: 230px
}

#loading {
    position: absolute;
    text-align: center;
    width: 100%;
}

label abbr {
    border: 0px;
}

.x-box .field .input {
    display: inline;
}

.x-box .field .link {
    display: inline-block;
}

.x-box .x-label-heading {
    width: 20%;
    display: inline-block;
}

.x-box .x-choice-list {
    margin-top: 5px;
}

.x-box .x-choice-list li {
    list-style: lower-alpha;
}

.x-question-box {
    padding-left: 30px;
    padding-top: 5px;
    margin: 0px;
}

.x-question-box li {
    list-style: decimal-leading-zero;
}

.error {
    display: inline-block;
    /*min-width: 380px;*/
    border-color: red;
}

.tata-ajax-loader-img{
    background-image: url(/assets/loading.gif);
}

#data-container{
    margin-left:20px;
}
.word_wrap{
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.short_label{
    padding: 0px 5px 0px 5px;
    width: 80px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

#error_explanation {
    padding: 10px;
@extend .alert;
@extend .alert-error;
@extend .alert-block; /* optional */
}

.field_with_errors {
@extend .control-group.error
}

.receipt_status_box {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 20px;
    width: 20px;
}

.unconsidered_box{
    float:left;
    height: 20px;
    width: 20px;
    border: 2px solid red;
    cursor: pointer;
    margin: 2px;
}

.unconsidered_active{
    background: red;
}


.dropdown-menu-submenu {
    display: none!important;
    left: 175px!important;
    position: absolute;
    top: 100%;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

}

.navbar .dropdown-menu-submenu li:before, .navbar .dropdown-menu-submenu li:after{
  display: none!important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu-submenu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -11px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu-submenu {
    display: block!important;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.considered_box{
    float:left;
    height: 20px;
    width: 20px;
    border: 2px solid green;
    cursor: pointer;
    margin: 2px;
}

.considered_active{
    background: green;
}

.tag_field{
    margin: 5px 0 10px 0;
}

.select2-container, .select2-drop, .select2-search, .select2-search input
{
    width: 600px !important;
}

.dropdown-menu{
    font-size: 0.8rem;
}

.btn-sm {
    font-size: 0.8rem;
}
.table-responsive{
    overflow-y:visible;
    overflow-x:visible;
}