/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require basic_simplemodal
 *= require chains
 *= require docs
 *= require email
 *= require fullcalendar
 *= require fullcalendar.print
 *= require general
 *= require jquery-multiselect
 *= require jquery-ui
 *= require jquery.wysiwyg
 *= require nyromodal
 *= require sortable
 *= require toggle-switch
 *= require_directory ./bootstrap
 *= require_self
*/
#admin_nav,#user_nav{float:right;font-size:12px}.ui-timepicker-div .ui-widget-header{margin-bottom:8px}.ui-timepicker-div dl{text-align:left}.ui-timepicker-div dl dt{height:25px}.ui-timepicker-div dl dd{margin:-25px 0 10px 65px}.ui-timepicker-div td{font-size:90%}#multiplier_slider{float:none;width:150px}body{font:12px Verdana,sans-serif}table a,table a:visited{color:#333;text-decoration:underline}table a:hover,table a:visited:hover{text-decoration:none}caption,td,th{vertical-align:top;text-align:left}table caption,tfoot td,th{font-weight:700;color:#333}table caption{background-color:#dfeffc;font-size:18px;padding:8px}table{table-layout:fixed;border-spacing:0;width:100%;background-color:#dfeffc}td,th{padding:5px}thead th{background-color:#fff;border-bottom:1px solid #dfeffc;color:#333}tfoot td,tfoot th{background-color:#fff;border-top:1px solid #dfeffc;border-bottom:2px solid #dfeffc;color:#333}tbody td,tbody th{border-bottom:1px solid #fff;color:#333}tbody tr:last-child td,tbody tr:last-child th{border-radius:0 0 0 4px}tbody tr:nth-child(even){background-color:#dfeffc}tbody th a{color:#333}tbody tr:hover td,tbody tr:hover td a,tbody tr:hover th,tbody tr:hover th a{color:#333;background-color:#fff}tbody tr:hover td a:visited,tbody tr:hover th a:visited{color:#333}.x-box{float:left;padding:5px;margin:0 auto;width:99%}.x-box .x-box-inner{width:49%;padding:5px;float:left}.x-box .x-box-heading{font-weight:700;text-decoration:underline}.x-box .x-box-heading a{text-decoration:none;color:#00f}.x-box .x-box-inner label,.x-box label{display:inline-block;vertical-align:top;width:175px}.x-box-inner .points{padding-left:20px}.x-box-inner .cdate{width:180px}.x-box .field .field-inner-box{float:left}.x-box .x-box-col3{width:32%;padding:5px;float:left}.x-box .x-box-col3 label{display:inline-block;vertical-align:top;width:40%}.x-col3-dropdown{width:150px}.multiselect{min-width:230px}#loading{position:absolute;text-align:center;width:100%}label abbr{border:0}.x-box .field .input{display:inline}.x-box .field .link{display:inline-block}.x-box .x-label-heading{width:20%;display:inline-block}.x-box .x-choice-list{margin-top:5px}.x-box .x-choice-list li{list-style:lower-alpha}.x-question-box{padding-left:30px;padding-top:5px;margin:0}.x-question-box li{list-style:decimal-leading-zero}.error{display:inline-block;border-color:red}.tata-ajax-loader-img{background-image:url(/assets/loading.gif)}#data-container{margin-left:20px}.word_wrap{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word}.short_label{padding:0 5px;width:80px;overflow:hidden;display:inline-block;vertical-align:middle;font-weight:700}#error_explanation{padding:10px;@extend .alert;@extend .alert-error;@extend .alert-block}.field_with_errors{@extend .control-group.error}.receipt_status_box{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;height:20px;width:20px}.unconsidered_box{float:left;height:20px;width:20px;border:2px solid red;cursor:pointer;margin:2px}.unconsidered_active{background:red}.considered_box{float:left;height:20px;width:20px;border:2px solid green;cursor:pointer;margin:2px}.considered_active{background:green}