/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: basic.css 257 2010-07-27 23:06:56Z emartin24 $
 */

#basic-modal-content, #basic-modal-dup {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#fff; cursor:wait;}

/* Container */
#simplemodal-container {height:180px; width:350px; color:#bbb; background-color:#fff; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(/assets/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}


#simplemodal-dup {height:180px; width:950px; color:#bbb; background-color:#fff; border:4px solid #444; padding:12px;}
#simplemodal-dup .simplemodal-data {padding:8px;}
#simplemodal-dup code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-dup a {color:#000000;}
#simplemodal-dup a.modalCloseImg {background:url(/assets/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-dup h3 {color:#84b8d9;}

#simplemodal-form {height:450px; width:550px; color:#bbb; background-color:#fff; border:4px solid #444; padding:12px;}
#simplemodal-form .simplemodal-data {padding:8px;}
#simplemodal-form code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-form a {color:#000000;}
#simplemodal-form a.modalCloseImg {background:url(/assets/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-form h3 {color:#84b8d9;}