
/****************** Custom table ******************/
.th-id { width: 10px; text-align: center; }
.th-email { width: 70px; }
.th-small { width: 50px; }
.th-medium { width: 100px; }
.th-large { width: 150px; }
.th-very-large { width: 200px; }
.ta-center { text-align: center !important; }

