/* Moshi-Moshi, Roti Rewards & Nexter Juice Bar */
@font-face { font-family: Din-Regular; src: url('/assets/ufonts.com_din-medium.ttf'); }
@font-face { font-family: Din-Bold; src: url('/assets/ufonts.com_din-bold.ttf'); }

/* Firehouse Subs*/
@font-face { font-family: GothamBold; src: url('/assets/Gotham-Bold.otf'); }
@font-face { font-family: Gillsans; src: url('/assets/ufonts.com_gillsans.ttf'); }
@font-face { font-family: RobotoCondensed; src: url('/assets/RobotoCondensed-Regular.ttf'); }

/* Mellow Mushroom */
@font-face { font-family: MyriadStdTilt; src: url('/assets/Myriad_Std_Tilt.ttf'); }

/* Gyu-Kaku */
@font-face { font-family: BaileySansITCBookBold; src: url('/assets/lt_0.ttf'); }
@font-face { font-family: BaileySansITCBookRegular; src: url('/assets/lt_2.ttf'); }

/* Helo Burger */
@font-face { font-family: ClarendonBTBold; src: url('/assets/ClarendonBTBold.ttf'); }
@font-face { font-family: ClarendonBT; src: url('/assets/Clarendon-BT.ttf'); }

/* Vive La Crepe */
@font-face { font-family: TrebuchetMSBold; src: url('/assets/Trebuchet-MS-Bold.ttf'); }

/* Fuzzy Taco */
@font-face { font-family: OzHandicraftBTRoman; src: url('/assets/tt1178m.ttf'); }

/* LPQ */
@font-face { font-family: ChronicleTextG1Roman; src: url('/assets/ChronicleTextG1-Roman-Pro.otf'); }
@font-face { font-family: LSTKClarendonRegular; src: url('/assets/LSTKClaBol.otf'); }
@font-face { font-family: ChronicleDisplayBold; src: url('/assets/ChronicleDisp-Bold.otf'); }

/* Veggie Grill */
/* font-family: GothamBold */
@font-face { font-family: GothamMedium; src: url('/assets/Gotham-Medium.ttf'); }

/* Zoes */
@font-face { font-family: DINStdEngschrift; src: url('/assets/DINEngschriftStd.otf'); }
@font-face { font-family: MyriadProCondensed; src: url('/assets/MyriadPro-Cond.otf'); }
@font-face { font-family: MyriadProLightCondensed; src: url('/assets/MyriadPro-LightCond.otf'); }

/* Project Pie */
@font-face { font-family: PROJECT_PIE; src: url('/assets/PIE.ttf'); }

/* IL FORNAIO */
@font-face { font-family: DINSchLight; src: url('/assets/DINSchrift30640NeuzeitGroteskLight.otf'); }

/* Blaze Pizza*/
@font-face { font-family: AmaticSCRegular; src: url('/assets/AmaticSC-Regular.ttf'); }
@font-face { font-family: AmaticBold; src: url('/assets/Amatic-Bold.ttf'); }

/* Shredwich*/
@font-face { font-family: Corbel; src: url('/assets/Corbel.ttf'); }
@font-face { font-family: CorbelBold; src: url('/assets/Corbel-Bold.ttf'); }

/*BRUXIE*/
@font-face { font-family: GothamNarrowBold; src: url('/assets/GothamNarrow-Bold.otf'); }
@font-face { font-family: GothamNarrowBook; src: url('/assets/GothamNarrow-Book.otf'); }

/* Rita's */
@font-face { font-family: GothamXNarrowBook; src: url('/assets/GothamXNarrow-Book.otf'); }

/* Sbarro */
@font-face { font-family: TradeGothicBold; src: url('/assets/TradeGothic-BoldCondTwenty.otf'); }
@font-face { font-family: TradeGothicRegular; src: url('/assets/TradeGothic-CondEighteen.otf'); }

/* POLLO CAMPERO */
@font-face { font-family: MuseoThreeHundred; src: url('/assets/Museo-300.otf'); }
@font-face { font-family: MuseoNineHundred; src: url('/assets/Museo-900.otf'); }

/* Texas Roadhouse */
@font-face { font-family: UniversLTProRoman; src: url('/assets/UniversLTPro-55Roman.ttf'); }
@font-face { font-family: UniversLTProBold; src: url('/assets/UniversLTPro-65Bold.ttf'); }

/* Dick's Last Resort */
@font-face { font-family: BurbankBigCondensedBlack; src: url('/assets/BurbankBigCondensed-Black.otf'); }
@font-face { font-family: CCSezWho; src: url('/assets/CCSEZ.TTF'); }

/* Copper Club */
@font-face { font-family: HypatiaSansProRegular; src: url('/assets/HYPATIASANSPRO-REGULAR.OTF'); }
@font-face { font-family: HypatiaSansProBold; src: url('/assets/HYPATIASANSPRO-BOLD.OTF'); }
@font-face { font-family: HypatiaSansProSemibold; src: url('/assets/HYPATIASANSPRO-SEMIBOLD.OTF'); }

/* TEXAS LAND AND CATTLE */
@font-face { font-family: UnitedSansCondBold; src: url('/assets/UnitedSansCond-Bold.otf'); }
@font-face { font-family: UnitedSansCondMedium; src: url('/assets/UnitedSansCond-Medium.otf'); }

/* LONE STAR STEAKHOUSE */
@font-face { font-family: MatchwoodBoldWF; src: url('/assets/Matchwood_Bold_WF.ttf'); }
@font-face { font-family: MatchwoodWF; src: url('/assets/Matchwood_WF.ttf'); }

/* Aroogas */
@font-face { font-family: LangdonRegular; src: url('/assets/Langdon.otf'); }

/* Wetzels Pretzels */
@font-face { font-family: ArcherBlack; src: url('/assets/Archer-Black.otf'); }
@font-face { font-family: KnockoutHTF49LiteweightRegular; src: url('/assets/Knockout-HTF49-Liteweight.otf'); }

/* Smoothie King*/
@font-face { font-family: MontserratRegular; src: url('/assets/Montserrat-Regular.ttf'); }
@font-face { font-family: SohoStdExtraBold; src: url('/assets/SohoStdExtraBold.otf'); }

/* Roy Rogers */
@font-face { font-family: BreeSerifExtraBold; src: url('/assets/BreeSerif-Extrabold.otf'); }
@font-face { font-family: BreeSerifLightItalic; src: url('/assets/BreeSerif-LightItalic.otf'); }

/* Pei Wei */
@font-face { font-family: MuseoSansThreeHundred; src: url('/assets/MuseoSans-300.otf'); }
@font-face { font-family: NexaRustSlabBlack; src: url('/assets/NexaRustSlab-Black.otf'); }

@font-face { font-family: DINPro; src: url('/assets/DINPro-Medium_13936.ttf'); }
@font-face { font-family: NBInternationalProRegular; src: url('/assets/NB-International-Pro-Regular.otf'); }
@font-face { font-family: HelserifMed; src: url('/assets/Helserif-Med.otf'); }

@font-face { font-family: ArchivoNarrowBold; src: url('/assets/ArchivoNarrow-Bold.otf'); }
@font-face { font-family: ArchivoNarrowRegular; src: url('/assets/ArchivoNarrow-Regular.otf'); }

@font-face { font-family: EmigreMrEavesXLModOTBold; src: url('/assets/Emigre-MrEavesXLModOT-Bold.otf'); }
@font-face { font-family: EmigreMrEavesXLModOTBook; src: url('/assets/Emigre-MrEavesXLModOT-Book.otf'); }

@font-face { font-family: HalfCutGothic; src: url('/assets/half-cut-gothic-1.0.ttf'); }
@font-face { font-family: HelveticaRegular; src: url('/assets/Helvetica-Regular.ttf'); }

@font-face { font-family: ArcherMedium; src: url('/assets/Archer-Medium.otf'); }
@font-face { font-family: FuturaBold; src: url('/assets/Futura-Bold.ttf'); }