.sortable, .exclude {
    padding: 0;
    width: 310px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;;
}
.sortable.grid {
    overflow: hidden;
}
.sortable li, .exclude li {
    list-style: none;
    border: 1px solid #CCC;
    background: #F6F6F6;
    font-family: "Tahoma";
    color: #1C94C4;
    margin: 5px;
    padding: 5px;
    /*height: 22px;*/
    cursor: hand
}

li.disabled {
    opacity: 0.5;
}
.sortable.grid li {
    line-height: 80px;
    float: left;
    width: 80px;
    height: 80px;
    text-align: center;
}
li.highlight {
    background: #FEE25F;
}

ui.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
    visibility: visible!important;
}