Locate restaurant

<%= form_tag "/api/v1/rewards/locate", :method => :get do %>
    <select name="appkey">
        <option value="UVWXYZ">New York Fries</option>
        <option value="HIJKLMN">McDonut</option>
        <option value="ABCDEFG">Vive la crepe</option>
    </select>
    <br />
   latitude :<%= text_field_tag  "latitude","40.7343702" %><br />
   longitude :<%= text_field_tag "longitude","-73.9924277" %><br />
   <%= submit_tag "submit"  %>
<% end %>