Claim Reward

<%= form_tag "/api/v1/rewards/claim", :method => :post do %>
   Chain :<select name="appkey">
        <option value="UVWXYZ">New York Fries</option>
        <option value="HIJKLMN">McDonut</option>
        <option value="ABCDEFG">Vive la crepe</option>
    </select>
    <br />
  reward list :<%= select_tag "reward_id", options_from_collection_for_select(@rewards, :id, :name) %><br />

  latitude :<%= text_field_tag  "lat","40.7343702" %><br />
  longitude :<%= text_field_tag "lng","-73.9924277" %><br />
    <input type="button" id="locate" value="Locate"/>
  restaurant : <%= text_field_tag "location" %> <br />
  user name : <%= @current_user.full_name %>
  <%= submit_tag "submit"  %>
<% end %>


<script type="text/javascript">
    $("#locate").click(function(){
        $.ajax({
          url: '/api/v1/rewards/locate',
          type: 'GET',
          data: { appkey: "UVWXYZ", lat: $('#lat').val, lng: $('#lng').val },
          dataType: 'JSON',
          success: function(data){
            $('#location').val(data.restaurants[0].id);
          }
        });
});
</script>