 <%= form_tag "/api/v1/promocode/" do %>
 App key :<%= text_field_tag "appkey",nil %> <br />
 Auth Token
 <%= text_field_tag "auth_token",nil %> <br />
 Code :<%= text_field_tag "code",nil %><br />
 force :<%= text_field_tag "force",nil %><br />
 <%= submit_tag "submit" %>
 <% end %>
 <%= link_to "Back", '/admin/test_api' %>
