Submit receipt

<%= form_tag "/api/v1/receipts", :method => :post, :multipart => true do %>
   Select App Key :
    <% if @application.nil? %>
        <% url_string= url_for(:controller=>'tests', :action=>'test_submit_receipt')
           if url_string.index("?")
             url_string += "&appkey="
           else
             url_string += "?appkey="
           end
        %>
        <%= select_tag 'appkey', options_from_collection_for_select(ApplicationKey.all, :appkey, :appkey), :prompt=>"Please select app key",
                       :onchange => "document.location = '"+url_string +"' + this.value" %>
        <br />
    <% else %>
        <%= @application.application.chain.name %>  |
                <%= link_to 'Pick a different chain', '/api/test/receipt' %>
        <input type="hidden" name="appkey" value="<%= @application.appkey %>" />

        <div class="field">
          <%= label_tag :user %>
          <%= select_tag "auth_token", options_from_collection_for_select(@users, :authentication_token, :email), :prompt=>"Please select user" %>
        </div>

        <div class="field">
          <%= label_tag :offer %>
          <%= select_tag "offer", options_from_collection_for_select(@offers, :id, :name), :prompt=>"Please select offer" %>
        </div>

        <div class="field">
          <%= label_tag :restaurant %>
          <%= select_tag('restaurant', options_from_collection_for_select([], '', ''), :prompt=>"Please select restaurant") %>
          <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
        </div>

        <div class="field">
          <%= label_tag :upload_receipt %>
          <%= file_field_tag :image %>
        </div>
        <%= submit_tag "submit"  %>
    <% end %>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
      $('#offer').change(function() {
        var options;
        if (this.value) {
          options = '';
          return $.getJSON('offer_restaurants/' + this.value, function(response) {
            $.each(response, function(i, obj) {
              return options += '<option value="' + obj.id + '">' + obj.name + '</option>';
            });
            return $("#restaurant").html(options);
          });
        } else {
          return $('#restaurant').html("<option value=''>Please select</option>");
        }
      });
    });
</script>
