Answer survey Gui Test

<%= form_tag answer_api_v1_survey_path(@survey_id) do  %>
  Chain:  <%= @application.chain.name %><br />
          <input type="hidden" name="appkey" value="<%= @appkey.appkey %>" />
    <% @survey.questions.each do |question| %>
      Question #<%= question.id %>: <%= text_field_tag "answers[#{question.id}]","" %><br />
    <% end %>
  receipt id :<%= text_field_tag "receiptId","" %><br />
  reward id :<%= text_field_tag "rewardId","" %><br />
  User:  <%= select_tag "auth_token", options_from_collection_for_select(@users, :authentication_token, :email), :prompt=>"Please select user" %>
    </div>

  <%= submit_tag "submit"  %>
<% end %>


List of Questions of this survey id : <br />
Questions:<br />
<% @survey.questions.each do |question| %>
   <%= question.text %> --- id :<b> <%= question.id %></b><br />
  <% question.question_choices.each do |sub| %>
   id: <%= sub.id %> <%= sub.label %>---<%= sub.value %><br />
  <% end %>
<% end %>