<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h3>Error Report Detail :</h3>
Chain Name : <%= @chain.name %>
<br />
Error : <%= @error_text %>
</body>
</html>