<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h2>Location JSON Report <%= @chain.name %></h2>
<br />

<h3>Pos Location created</h3>
<% @pos_locations.each do |pos_location| %>
  <p>Restaurant name:  <%= pos_location[0] %> --- apikey: <%= pos_location[1] %></p>
<% end %>

</body>
</html>