<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
Mailchimp Sync Error Report Detail :
Chain Name : <%= @chain.name%>  <br />
Error : <%= @error_text %>
</body>
</html>