<div class="page-header">
  <h3>Editing Application Key</h3>
</div>

<%= simple_form_for([:admin_application, @application_key], url: admin_application_application_key_path(@application, @application_key)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :appkey %>
    <%= f.input :application_id, input_html: {readonly: true}, as: :hidden %>
    <%= f.input :version %>
    <%= f.input :ocr_send_message %>  <br />
    <h4>Show New Question Types : </h4>
    <%= f.input :show_new_question_types ,as: :boolean, inline_label: 'DROPDOWN', label: false  %>
    <%= f.input :show_new_question_slider, as: :boolean, inline_label: 'SLIDER', label: false  %><br />
    <%= f.input :show_new_question_multiple_dropdown, as: :boolean, inline_label: 'MULTIPLE DROPDOWN', label: false  %><br />
    <%= f.input :show_gifter %><br />
    <%= f.input :show_expired_reward %><br/>
    <%= f.input :show_expired_reward_activity_listing, :label => "Expired reward activity listing" %><br/>
    <%= f.simple_fields_for :application_key_detail do |p| %>
      <%= p.input :is_required %><br/>
    <% end %>

  </div>
<br />
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Show', admin_application_application_key_path(@application, @application_key) %> |
<%= link_to 'Back', admin_application_application_keys_path(@application) %>
