<div class="page-header">
  <h2>Listing Application Keys for <%= @application.name %></h2>
</div>


<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th rowspan="2" width="13%">Appkey</th>
      <th rowspan="2" width="7%">Application</th>
      <th rowspan="2" width="7%">Version</th>
      <th rowspan="2" width="10%">Status</th>
      <th rowspan="2">Newest Version</th>
      <th rowspan="2">OCR Send Message</th>
      <th colspan="3" style="text-align: center">Show New Question Types</th>
      <th rowspan="2">Show Gifter Reward</th>
      <th rowspan="2">Show Reward Expired</th>
      <th rowspan="2">Expired reward activity listing</th>
      <th rowspan="2">Is Required</th>
      <th rowspan="2"></th>
    </tr>
    <tr>
      <th style="text-align: center">DROPDOWN</th>
      <th style="text-align: center">SLIDER</th>
      <th style="text-align: center">MULTIPLE DROPDOWN</th>
    </tr>
  </thead>
  <tbody>

  <% @application_keys.each do |application_key| %>
    <tr>
      <td><%= application_key.appkey %></td>
      <td><%= application_key.application_id %></td>
      <td><%= application_key.version %></td>
      <td>
        <%= select_tag :app_status, options_for_select(APPLICATION_KEY_STATUS, :selected => application_key.status), :class=>'x-col3-dropdown', :style => "width:90px",
          :onchange => "window.location='/admin/applications/#{application_key.application.id}/application_keys/#{application_key.id}/update_status/'+this.value" %>
      </td>
      <td>
        <% if application_key.is_newest %>
          <b>TRUE</b>
        <% else %>
          <%= link_to "Set As Newest Version", "/admin/applications/#{application_key.application.id}/application_keys/#{application_key.id}/set_newest_version/true", :confirm => 'Are you sure?' %>
        <% end %>
      </td>
      <td>
        <%= application_key.ocr_send_message %>
      </td>
      <td>
        <%= application_key.show_new_question_types %>
      </td>
      <td>
        <%= application_key.show_new_question_slider %>
      </td>
      <td>
        <%= application_key.show_new_question_multiple_dropdown %>
      </td>
      <td>
        <%= application_key.show_gifter %>
      </td>
      <td>
        <%= application_key.show_expired_reward %>
      </td>
      <td>
        <%= application_key.show_expired_reward_activity_listing %>
      </td>
      <td>
        <%= application_key.application_key_detail.try(:is_required) || 'false' %>
      </td>
      <td>
        <%= link_to 'Show', admin_application_application_key_path(@application, application_key) %>
        <%= link_to 'Edit', edit_admin_application_application_key_path(@application, application_key) %>
        <%= link_to 'Destroy', admin_application_application_key_path(@application, application_key), confirm: 'Are you sure?', method: :delete %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Application key', new_admin_application_application_key_path(@application), :class => "btn btn-primary" %>
