<div class="page-header">
  <h3>New Application Key for <%= @application.name %></h3>
</div>
<%= simple_form_for([:admin_application, @application_key]) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :appkey, input_html: {value: Application.generate_new_app_key} %>
    <%= f.input :application_id, input_html: {readonly: true}, as: :hidden %>
    <%= f.input :version %>
    <%= f.input :ocr_send_message %>  <br />
    <h5>Show New Question Types : </h5>
    <%= f.input :show_new_question_types ,as: :boolean, inline_label: 'DROPDOWN', label: false  %>
    <%= f.input :show_new_question_slider, as: :boolean, inline_label: 'SLIDER', label: false  %><br />
    <%= f.input :show_new_question_multiple_dropdown, as: :boolean, inline_label: 'MULTIPLE DROPDOWN', label: false  %><br />
    <%= f.input :show_gifter %><br/>
    <%= f.input :show_expired_reward %><br/>
    <%= f.input :show_expired_reward_activity_listing, :label => "Expired reward activity listing" %><br/>
    <%= f.simple_fields_for :application_key_detail do |p| %>
      <%= p.input :is_required %><br/>
    <% end %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<%= link_to 'Back', admin_application_application_keys_path %>
