<p id="notice"><%= notice %></p>

<p>
  <b>Appkey:</b>
  <%= @application_key.appkey %>
</p>

<p>
  <b>Application:</b>
  <%= @application_key.application_id %>
</p>

<p>
  <b>Version:</b>
  <%= @application_key.version %>
</p>

<p>
  <b>OCR Send Message</b>
  <%= @application_key.ocr_send_message %>
</p>

<p>
  <b>Show New Question Types</b>
  <%= @application_key.show_new_question_types %>
</p>

<p>
  <b>Show Gifter</b>
  <%= @application_key.show_gifter %>
</p>
<p>
  <b>Show Expired <Reward></Reward></b>
  <%= @application_key.show_expired_reward %>
</p>
<p>
  <b>Expired reward activity listing <Reward></Reward></b>
  <%= @application_key.show_expired_reward_activity_listing %>
</p>

<p>
  <b>Is Required</b>
  <%= @application_key.application_key_detail.try(:is_required) || 'false' %>
</p>



<%= link_to 'Edit', edit_admin_application_application_key_path(@application, @application_key) %> |
<%= link_to 'Back', admin_application_application_keys_path(@application) %>
