html {
	background: transparent url(/assets/d2_img/bgs/back-orange.png) repeat-x 0 0;
	min-height: 100%;
	background-size: 100% 100%;
	/*-webkit-background-size: cover;*/
}
body {
	background: none;
}
.navbar-inverse .navbar-inner {
	background: none;
	border: 1px solid transparent;
	box-shadow: none;
}
.navbar-inverse .notification-dropdown .count {
	background: rgb(252, 130, 123);
}


/* sidebar */
#sidebar-nav.display { 
	background: transparent url(/assets/d2_img/bgs/back-orange.png) repeat-x 0 0;
	background-size: 100% 100%;
	box-shadow: none;
}
#dashboard-menu > li.active > a, 
#dashboard-menu > li > a:hover {
	color: #fff;
	text-shadow: none;
}
#dashboard-menu > li > a {
	color: rgb(190, 190, 190);
	box-shadow: none;
	border: 0px;
}
#dashboard-menu a i {
	opacity: 0.6;
}
#dashboard-menu a i.icon-chevron-down {
	color: #fff;
}
#dashboard-menu ul.submenu {
	border-bottom: 0px;
	box-shadow: 0 2px 1px -1px rgb(75, 101, 136);
}
#dashboard-menu ul.submenu a {
	text-shadow: none;
	color: rgb(211, 211, 211);
}

.content {
	box-shadow: none;
}


/* Menu Icon */
.icon-summary {
    background-image: url("/assets/icon_summary_white.png");
    background-repeat: no-repeat;
}

.icon-members {
    background-image: url("/assets/icon_members_white.png");
     background-repeat: no-repeat;
}

.icon-Surveys {
    background-image: url("/assets/icon_surveys_white.png");
     background-repeat: no-repeat;
}

.icon-Rewards {
    background-image: url("/assets/icon_rewards_white.png");
    background-repeat: no-repeat;
}

.icon-tak {
    background-image: url("/assets/take_action_icon_white.png");
    background-repeat: no-repeat;
}