<% incent = ref.incentive %>



<% if ref.incentive_type == "Reward" %>
    <%= link_to "Reward #{incent.name} (One Time Reward)", admin_reward_path(incent), :target => "_blank" %>
<% elsif ref.incentive_type == "refOffer" and ref.incentive.kind.to_s.eql?("1") %>
    <% if incent.points.blank? %>
        <%= link_to "Multiply #{incent.multiplier} Times (Points)", "#ref_modal", :onclick => "$('#ref_modal').html('');$.get('#{edit_incentive_admin_social_share_path(ref.incentive, :referer => referer)}')", "data-toggle" => "modal" %>
    <% else %>
        <%= link_to "Get #{incent.points} Bonus (Points)", "#ref_modal", :onclick => "$('#ref_modal').html('');$.get('#{edit_incentive_admin_social_share_path(ref.incentive, :referer => referer)}')", "data-toggle" => "modal" %>
    <% end %>
<% else %>
    <%= link_to "#{incent.title} (Fixed Points)", "#ref_modal",
                :onclick => "#{initialize_modal('ref_modal',
                                                edit_incentive_admin_social_share_path(ref.incentive,
                                                                                           :referer => referer))}", "data-toggle" => "modal" %>
<% end %>

<%= link_to "<i class=\"icon-remove-sign\"></i>".html_safe,
            remove_incentive_admin_social_share_path(ref, incent, :referer => referer), :confirm => "Are you sure?", :remote => true, :alt => "Remove Incentive Referee" %>


