<%= simple_form_for(@offer, url: @offer.new_record? ? create_offer_incentive_admin_social_share_path(@social) : update_incentive_admin_social_share_path(@offer), html: {:class => 'form-horizontal', :remote => true}) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>
      <ul>
        <% @offer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Points</h3>
  </div>
  <div class="modal-body">
    <%= hidden_field_tag "referer", params['referer'] %>
    <%= f.input :title %>
    <%= f.input :points, :as => :string, :required=>true %>
    <%= f.input :kind, :as => :hidden, :input_html => {:value => '1'} %>
    <%= f.input :chain_id, :as => :hidden ,:input_html => {:value => @chain.id}  %>
    <div class="control-group string required" style="margin-left:-48px;"></div>
    <div class="clearfix"></div>
    <div class="modal-footer" style="margin-top: 70px;">
      <%= f.submit "Save Changes", :onclick => "$('.modal-body').ajaxloader();" %>
      <%= link_to "Back","#", :onclick => "$('.modal-body').ajaxloader();$('#ref_modal').html('#{ escape_javascript(render "select_incentive") }')",:class => "btn btn-primary" if @offer.new_record? %>
    </div>
  </div>
<% end %>
