<script type="text/javascript">
  $(document).ready(function(){
    $(".points-pagination").find("a").attr("data-remote", true);
    $('.points-pagination a').click(function() {
      $('#points-list').ajaxloader('show');
    });
  });
</script>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Points</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% unless @points.blank? %>
      <% @points.each do |point| %>
        <tr>
          <td><%= point.title %></td>
          <td><%= point.points %></td>
          <td><%= link_to "<i class=\"icon-plus-sign\"></i>".html_safe, assign_with_existing_reward_admin_social_share_path(@social, point, :type => "offer", :referer => @referer), :remote => true %></td>
        </tr>
      <% end %>
    <% else %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @points, :params=>{:id => @social.id }, :class => "points-pagination" rescue "" %>