<table style="width:1200px;">
  <caption><%= @user.email %> with <%= @user.points %> Points</caption>
  <thead>
    <tr>
      <th>Reward Name</th>
      <th>TYPE</th>
      <th>Points</th>
      <th>Qualify ?</th>
    </tr>
  </thead>
  <tbody>
    <% unless @rewards.blank? %>
      <% @rewards.each do |reward| %>
        <tr>
          <td><%= link_to reward.name, admin_reward_path(reward), :target => '_blank' %></td>
          <td><%=  Reward::TYPES.find{|key,value| value == reward.reward_type}[0] rescue "" %></td>
          <td><%= reward.points %></td>

          <td>
            <% if @user.points.to_i > 0 %>
              <%= @user.points.to_i >= reward.points.to_i ? "Yes" : 'No' %>
            <% else %>
              No
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan="4">There are no reward for this user</td></tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    $(".status_active").click(function() {
      var id = $(this).attr("id").replace('status_active_','');
      $.ajax({
        url: '<%= update_reward_status_admin_user_path(@user,:format => :js) %>',
        type: 'post',
        data: { "activated":'true', reward_id: id },
        beforeSend: function(){
          $('#status_active_'+id).hide();
          $('#loader_status_'+id).show();
          $('#active_'+id).hide();
        },
        complete: function(){
          $('#loader_status_'+id).hide();
          $('#status_active_'+id).show();
          $('#deactive_'+id).show();
        }
      });
    });
    $(".status_destroy").click(function() {
      var id = $(this).attr("id").replace('status_destroy_','');
      $.ajax({
        url: '<%= update_reward_status_admin_user_path(@user,:format => :js) %>',
        type: 'post',
        data: { "activated": 'false', reward_id: id },
        beforeSend: function(){
          $('#status_active_'+id).hide();
          $('#loader_status_'+id).show();
          $('#deactive_'+id).hide();
        },
        complete: function(){
          $('#loader_status_'+id).hide();
          $('#status_active_'+id).show();
          $('#active_'+id).show();
        }
      });
    });
  });
</script>
