<%= form_tag(:url=>'/api/v1/user/sign_up') do |f| %>

    <div class="x-box">

      <div class="field">
        <%= label_tag :chain %>
        <%= select_tag "chain", options_from_collection_for_select(Chain.order("name asc"), :id, :name) %>
      </div>

      <div class="field">
        <%= label_tag :first_name %>
        <%= text_field_tag :first_name %>
      </div>

      <div class="field">
        <%= label_tag :last_name %>
        <%= text_field_tag :last_name %>
      </div>

      <div class="field">
        <%= label_tag :username %>
        <%= text_field_tag :username %>
      </div>

      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email %>
      </div>

      <div class="field">
        <%= label_tag :register_type %>
        <%= select_tag "register_type", options_for_select(User::USERS_TYPES), options={:class=>'user-types'} %>
      </div>

      <div id="pwd" class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>

      <div class="field">
        <%= label_tag :device_type %>
        <% User::DEVICE_TYPES.each do |option| %>
            <%= radio_button_tag(:register_device_type, option) %>
            <%= option.humanize %>
        <% end %>
      </div>
      <div class="field">
        <%= label_tag :latitude %>
        <%= text_field_tag :latitude %>
      </div>

      <div class="field">
        <%= label_tag :device_id %>
        <%= text_field_tag :deviceid %>
      </div>

      <div class="field">
        <%= label_tag :longitude %>
        <%= text_field_tag :longitude %>
      </div>
    </div>

    <div><%= submit_tag "Submit" %></div>
<% end %>