<%= form_for([:admin, @user]) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="x-box">
      <div class="field">
        <%= f.label :chain_id %>
        <%= f.collection_select("chain_id", Chain.order("name asc"), :id, :name, options ={:prompt => true}) %>
      </div>

      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>

      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>

      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :register_type %>
        <%= f.select :register_type, options_for_select(User::USERS_TYPES), options ={:prompt=>"Please select"}, html_options={:class=>'user-types'} %>
      </div>

      <div id="pwd" class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="field">
        <%= f.label :device_type %>
        <% User::DEVICE_TYPES.each do |option| %>
            <%= f.radio_button(:register_device_type, option) %>
            <%= option.humanize %>
        <% end %>
      </div>
      <div class="field">
	    <%= f.label :locale %>
        <%= f.collection_select("locale_id", Locale.all, :id, :key) %>
      </div>
      <div class="field">
        <%= f.label :latitude %>
        <%= f.text_field :latitude %>
      </div>
      <div class="field">
        <%= f.label :longitude %>
        <%= f.text_field :longitude %>
      </div>

    </div>

    <div><%= f.submit "Submit" %></div>
<% end %>
