<%= form_for([:admin, @user]) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.label :chain_id %>
      <br/>
      <%= f.collection_select("chain_id", Chain.order("name asc"), :id, :name, options ={:prompt => true}) %>
    </div>

    <div class="field">
      <%= f.label :first_name %>
      <br/>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <br/>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <br/>
      <%= f.email_field :email %>
    </div>


    <div class="field">
      <%= f.label :sign_up_date %>
      <br/>
      <%= f.text_field :created_at %>
    </div>
    <div class="field">
      <%= f.label :device_type %>
      <% User::DEVICE_TYPES.each do |option| %>
          <%= f.radio_button(:register_device_type, option) %>
          <%= option.humanize %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :latitude %>
      <br/>
      <%= f.text_field :latitude %>
    </div>
    <div class="field">
      <%= f.label :longitude %>
      <br/>
      <%= f.text_field :longitude %>
    </div>
    <div class="field">
      <%= f.label :phone_number %>
      <br/>
      <%= f.text_field :phone_number %>
    </div>

    <div class="field">
      <%= f.label :dob_month %>
      <br/>
      <%= f.text_field :dob_month %>
    </div>

    <div class="field">
      <%= f.label :dob_day %>
      <br/>
      <%= f.text_field :dob_day %>
    </div>

      <%= f.label :locale %> <br />
       <%= f.collection_select("locale_id", Locale.all, :id, :key) %>
    <div><%= f.submit "Submit" %></div>
<% end %>
