<table>
  <caption><%= @user.email %> with <%= @user.points %> Points</caption>
  <thead>
    <tr>
      <th>Reward id</th>
      <th>Reward Name</th>
      <th>Points</th>
      <th>Status</th>
      <th>Reward Pushed Date</th>
      <th>Expiration Date</th>
      <th>Qualify ?</th>
      <th>Expired ?</th>
      <th>How reward reached </th>
      <th>Reward Description</th>
    </tr>
  </thead>
  <tbody>
    <% unless @rewards_wallet.blank? %>
      <% @rewards_wallet.each do |reward| %>
        <% if reward.reward %>
          <tr>
            <% begin %>
            <td><%= reward.reward.id rescue '-' %></td>
            <td><%= link_to reward.reward.name, admin_reward_path(reward.reward), :target => '_blank' %></td>
            <td><%= reward.reward.points %></td>
            <% selected = RewardWallet::STATUS.find{|key,value| value == reward.status}[1] rescue nil%>

            <td><%= select_tag "reward_wallet[status]", options_for_select(RewardWallet::STATUS,selected), :style => "width:96px;",
                :class => "reward_status", :id => "#{reward.id}",
                :disabled => reward.expiry_date < Time.current ? true: false,
                :title => reward.expiry_date < Time.current ? "This #{reward.reward.name} is expired you cannot set the status anymore" : "set the status" if reward and reward.expiry_date %>
              <span id="loader_<%= reward.id %>" style="display:none;"><%= image_tag "loader.gif" %></span>
            </td>
            <td><%= reward.created_at.strftime("%d %B %Y %H:%M:%S") %></td>
            <td><%= reward.expiry_date.strftime("%d %B %Y 23:59:59") rescue nil %></td>
            <td><%= @user.points.to_i >= reward.reward.points.to_i ? "Yes" : 'No' %></td>
            <td>
              <div id="active_<%= reward.id %>" style="display:<%= reward.expiry_date < Time.current ? 'block': 'none' %>">
                Yes 
              </div>
              <div id="deactive_<%= reward.id %>" style="display:<%= reward.expiry_date < Time.current ? 'none': 'block' %>">
                No  
              </div>
              <span id="loader_status_<%= reward.id %>" style="display:none;"><%= image_tag "loader.gif" %></span>
            </td>
                <td><%= reward.description  %></td>
                <td><%= reward.reward.description  %></td>
            <% rescue %>
                <td colspan="7"> This reward has been deleted </td>
            <% end %>

          </tr>
        <% end %>
      <% end %>
    <% else %>
      <tr><td colspan="4">There are no reward for this user</td></tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    $(".reward_status").change(function() {
      var id = $(this).attr("id");
      $.ajax({
        url: '<%= update_wallet_status_admin_user_path(@user,:format => :js) %>',
        type: 'post',
        data: { "reward_wallet[status]":$(this).attr("value"), reward_wallet_id: id },
        beforeSend: function(){
          $('#'+id).hide();
          $('#loader_'+id).show();
        },
        complete: function(){
          $('#loader_'+id).hide();
          $('#'+id).show();
        }
      });
    });


    //--------------------

    $(".status_active").click(function() {
      var id = $(this).attr("id").replace('status_active_','');
      $.ajax({
        url: '<%= update_wallet_status_admin_user_path(@user,:format => :js) %>',
        type: 'post',
        data: { "activated":'true', reward_wallet_id: id },
        beforeSend: function(){
          $('#status_active_'+id).hide();
          $('#loader_status_'+id).show();
          $('#active_'+id).hide();
        },
        complete: function(){
          $('#loader_status_'+id).hide();
          $('#status_active_'+id).show();
          $('#deactive_'+id).show();
        }
      });
    });
    $(".status_destroy").click(function() {
      var id = $(this).attr("id").replace('status_destroy_','');
      $.ajax({
        url: '<%= update_wallet_status_admin_user_path(@user,:format => :js) %>',
        type: 'post',
        data: { "activated": 'false', reward_wallet_id: id },
        beforeSend: function(){
          $('#status_active_'+id).hide();
          $('#loader_status_'+id).show();
          $('#deactive_'+id).hide();
        },
        complete: function(){
          $('#loader_status_'+id).hide();
          $('#status_active_'+id).show();
          $('#active_'+id).show();
        }
      });
    });

  });
</script>