<table>
  <caption><%= @user.email %> Associated Devices</caption>
  <thead>
    <tr>
      <th>Device Type</th>
      <th>Android ID</th>
      <th>Keychain Value</th>
      <th>Access Type</th>
      <th>Access Time</th>
    </tr>
  </thead>
  <tbody>
    <% unless @devices.blank? %>
      <% @devices.each do |device| %>
        <tr>
          <td><%= device.device_type %></td>
          <td><%= device.device_id %></td>
          <td><%= device.keychain_value %></td>
          <td><%= device.access_type %></td>
          <td><%= date_helper(device.access_date_time) %></td>
        </tr>
      <% end %>  
    <% else %>
      <tr><td colspan="5">There are no devices associated for this user</td></tr>
    <% end %>
  </tbody>
</table>

<style>
    #innerModalPopupDiv{
        width: 1200px;
    }

    #outerModalPopupDiv{
      width: 1200px !important;
      left: 30% !important;
      margin-left   -20px;
    }
</style>
