  <%= form_tag({:controller => "users", :action => "search"}, :id=>'x-search', :method => :get, :remote => true) do |f| %>

    <div class="x-box">
      <div class="x-box-inner">
        <div class="field">
          <%= label_tag :from %>
          <%= text_field_tag "search[from]",'', :class=>'x-search-datepicker', :readonly=>true %>
        </div>
        <div class="field">
          <%= label_tag :to %>
          <%= text_field_tag "search[to]",'', :class=>'x-search-datepicker', :readonly=>true %>
        </div>
      </div>

      <div class="x-box-inner">
        <div class="field">
          <%= label_tag :chain %>
          <%= select_tag('search[chains]', options_from_collection_for_select(Chain.order("name asc"), :id, :name), options ={:multiple => true, :class=>'multiselect'}) %>
        </div>
        <div class="field">
          <%= label_tag :device_type %>
          <%= select_tag('search[device_type]', options_for_select(User::DEVICE_TYPES), options ={:multiple => true, :class=>'multiselect'}) %>
        </div>
      </div>
      <%= hidden_field_tag "page", 1 %>
      <%= hidden_field_tag "flagqry" %>
      <div class="x-box-inner">
        <div class="field">
          <%= label_tag "Keychain or Android ID" %>
          <%= text_field_tag "search[device_info]", "" %>
        </div>
        <div class="field">
          <%= label_tag "First Name" %>
          <%= text_field_tag "search[first_name_info]", "" %>
        </div>
        <div class="field">
          <%= label_tag "Last Name" %>
          <%= text_field_tag "search[last_name_info]", "" %>
        </div>
        <div class="field">
          <%= label_tag "Phone number" %>
          <%= text_field_tag "search[phone_number]", "" %>
        </div>
        <div class="field">
          <%= select_tag "search[pattern]",options_for_select([["EXACT MATCH", "EXACT"],["PARTIAL MATCH", "PARTIAL"]]), :style=>'width:175px' %>
          <%= text_field_tag "search[q]", params[:search] ? params[:search][:q] : nil, :style=>'width:210px' %>
          <%= submit_tag "Search", :id => "x-search-submit-btn", :class => "btn", :style => "margin-bottom: 9px;", :onclick => "if($('#flagqry').val() == ''){ $('#page').val(1) };$('#x-records').ajaxloader('show');" %>
        </div>
      </div>
    </div>

<% end %>