<script>
  $(document).ready(function(){
    $(".show_reward").click(function() {
      $('.btn-group').removeClass('open');
      modalPopup(align, top, width, padding, disableColor, disableOpacity,
          backgroundColor, borderColor, borderWeight, borderRadius,
          fadeOutTime, $(this).attr('href'), loadingImage);
    });
    $(".available_rewards").click(function() {
      $('.btn-group').removeClass('open');
      modalPopup(align, top, width, padding, disableColor, disableOpacity,
          backgroundColor, borderColor, borderWeight, borderRadius,
          fadeOutTime, $(this).attr('href'), loadingImage);
    });
  });
</script>
<div id="x-pagination">
  <%= will_paginate @users if @users.length > 0 %>
</div>
<table>
  <caption></caption>
  <thead>
  <tr>
    <th width="15%">Account</th>
    <th width="15%">Registration</th>
    <th width="15%">Device</th>
    <th width="15%">Other</th>
    <th width="6%">Status</th>
    <th width="8%">Notification</th>
    <th width="15%">Email Marketing Status</th>
    <th width="12%">Associated Devices</th>
    <th width="8%">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% unless @users.length <= 0 %>
    <% @users.each do |user| %>
      <tr style="border-bottom: 2px solid #dfeffc;">
        <td>
          <label for="user_id" class="short_label">ID</label>
          <span id="user_id"><%= link_to "#{user.id}", admin_user_path(user) %></span><br/>
          <label for="user_email" class="short_label">Email</label>
          <span id="user_email"><%= user.email %></span><br/>
          <label for="user_chain" class="short_label">Chain</label>
          <span id="user_chain"><%= user.try(:chain).try(:name) %></span>  <br/>
          <label for="user_appkey_used" class="short_label">AppKey</label>
          <span id="user_chain_app_key"><%= user.chain_app_key %></span><br/>
          <label for="user_client_set_status" class="short_label">Client Set Status</label>
          <span id="user_client_set_status"><%= user.client_set_status_label %> - <%= user.client_set_status_value %></span><br/>
          <% if !user.try(:favorite_restaurant).try(:name).blank? %>
          <label for="favorite_restaurant" class="short_label">Favorite Location</label>
          <span id="favorite_restaurant"><%= user.try(:favorite_restaurant).try(:name) %></span><br/>
          <% end %>
          <% unless user.try(:favorite_menu_item).blank? %>
            <label for="favorite_menu_item" class="short_label">Favorite Menu Item</label>
            <span id="favorite_menu_item"><%= user.try(:favorite_menu_item) %></span><br/>
          <% end %>
          <% unless user.try(:app_usage_purpose).blank? %>
            <label for="app_usage_purpose" class="short_label">App usage purpose</label>
            <span id="app_usage_purpose"><%= user.try(:app_usage_purpose) %></span><br/>
          <% end %>
          <label for="gender" class="short_label">Gender</label>
          <span id="gender"><%= user.gender_title %></span><br/>
          <label for="marketing_optin_texting" class="short_label">Marketing Optin Texting</label>
          <span id="marketing_optin_texting"><%= user.marketing_optin_texting %></span><br/>

          <div class="get-auth-token btn btn-info" email="<%= user.email %>" token="<%= user.authentication_token %>">get AuthToken</div> <br/>

        </td>
        <td>
          <label for="user_type" class="short_label">Type</label>
          <span id="user_type"><%= user_type(user.register_type) %></span><br/>
          <label for="user_date<%= user.id %>" class="short_label">Date</label>
          <span id="user_date<%= user.id %>"><%= user.created_at.try(:strftime, '%m-%d-%Y') %></span><br/>
          <label for="user_location<%= user.id %>" class="short_label">Lat/Long</label>
          <span id="user_location<%= user.id %>"><%= "#{user.latitude} / #{user.longitude}" %></span><br />
          <label for="user_location<%= user.id %>" class="short_label">Ref Code</label>
          <span id="user_ref_code<%= user.id %>"><%= user.ref_code %></span>
        </td>
        <td>
          <label for="user_device_type" class="short_label">Type</label>
          <span id="user_device_type"><%= user.sign_in_device_type %></span><br/>
          <label for="user_device_id" class="short_label">ID</label>
          <span id="user_device_id"><%= user.device_id %></span><br/>
          <label for="user_device_token" class="short_label">Token</label>
          <a href="#" id="user_device_token_<%= user.id %>" class="short_token"><%= user.device_token.try(:slice, 0, 10) %>...</a> <br/>
          <div id="full_token_<%= user.id%>" class="word_wrap" style="display: none"><%= user.device_token %></div>

          <label for="user_device_os" class="short_label">OS</label>
          <span id="user_device_os"><%= user.os_version %></span><br/>

          <label for="user_phone_model" class="short_label">Model</label>
          <span id="user_phone_model"><%= user.phone_model %></span><br/>
          <label for="user_phone_number" class="short_label">Phone Number</label>
          <span id="user_phone_number"><%= user.phone_number %></span><br/>
        </td>
        <td>
          <label for="user_points" class="short_label">Points</label>
          <span id="user_points"><%= user.points %></span><br/>
          <label for="user_points" class="short_label">Total Points Earned</label>
          <span id="user_points"><%= user.total_points_earned %></span><br/>
          <label for="user_locale" class="short_label">Locale</label>
          <span id="user_locale"><%= user.locale.name if user.locale%></span> <br/>
          <% unless user.chain.activate_milestone_receipt %>
            <label for="user_user_tag" class="short_label">Tag</label>
            <span id="user_user_tag"><%= user.user_tag.tag.name rescue "-" %></span>  <br />
          <% end %>
          <label for="user_zipcode" class="short_label">Zipcode</label>
          <span id="user_user_tag"><%= user.zipcode.blank? ? "-" : user.zipcode %></span>  <br />
          <label for="user_dob" class="short_label">DOB</label>
          <span id="user_dob"><%= Date.parse("#{user.dob_year}-#{user.dob_month}-#{user.dob_day}").strftime("%b %d, %Y") rescue nil %></span><br/>
          <label for="first_name" class="short_label">Name</label>
          <span id="first_name"><%= "#{user.first_name} #{user.last_name}" %></span><br/>
          <label for="milestone_point" class="short_label">Milestone Point</label>
          <span id="milestone_point"><%= user.point_threshold %></span><br/>
          <% unless user.try(:user_profile).try(:guest_dna_user_acc_key).blank? %>
            <label for="guest_dna_user_acc_key" class="short_label">GUEST DNA Acc key:</label>
            <span id="guest_dna_user_acc_key"><%= user.try(:user_profile).try(:guest_dna_user_acc_key) %></span><br/>
          <% end %>
          <% unless user.try(:user_profile).try(:tech_studio_guest_identifier).blank? %>
            <label for="tech_studio_guest_identifier" class="short_label">Tech Studio Guest Identifier:</label>
            <span id="tech_studio_guest_identifier"><%= user.try(:user_profile).try(:tech_studio_guest_identifier) %></span><br/>
          <% end %>
          <% if user.has_vantiv_gift_card? %>
              <label for="vantiv_gc" class="short_label">Vantiv gift card value:</label>
              <span id="guest_dna_user_acc_key"><%= user.try(:vantiv_gift_card_profile).try(:gift_card_number) %></span><br/>
          <% end %>

          <% if user.try(:user_profile).try(:patron_id) %>
            <label for="patron_id" class="short_label">Patron ID</label>
            <span id="patron_id"><%= user.try(:user_profile).try(:patron_id) %></span><br/>
          <% end %>
          <% if user.try(:user_profile).try(:external_relevant_user_id) %>
            <label for="patron_id" class="short_label">External Relevant User ID</label>
            <span id="patron_id"><%= user.try(:user_profile).try(:external_relevant_user_id) %></span><br/>
          <% end %>
          <% if user.try(:onosys_profile) %>
              <label for="onosys_account_id" class="short_label">Onosys Account ID</label>
              <span id="onosys_account_id"><%= user.try(:onosys_profile).try(:account_id) %></span><br/>
          <% end %>
          <% if user.try(:olo_profile) %>
            <label for="olo_profile" class="short_label">OLO Account Token</label>
            <span id="olo_profile"><%= user.try(:olo_profile).try(:account_token) %></span><br/>
          <% end %>
          <% if user.try(:user_profile) && !user.try(:user_profile).mall_employee.nil? %>
            <label for="mall_employee" class="short_label">Mall Employee</label>
            <span id="mall_employee"><%= user.try(:user_profile).try(:mall_employee) %></span><br/>
          <% end %>
          <% if user.try(:user_profile).try(:retailer) %>
            <label for="retailer" class="short_label">Retailer</label>
            <span id="retailer"><%= user.try(:user_profile).try(:retailer) %></span><br/>
          <% end %>
        </td>
        <td>
          <%= button_to "#{user.active?? 'Active' : 'Inactive'}", {:action => 'activate_deactivate', :id => user.id,:page => params[:page]}, :method => :post ,
                        :class => "btn #{user.active?? 'btn-success' : 'btn-danger'}",
                        :confirm => "Are you sure want to #{user.active?? 'Deactive' : 'Activate'} this account?"%>
        </td>
        <td>
          <label for="user_points" class="short_label">Email</label>
              <span id="user_points">
              <%= button_to "#{user.push_email?? 'On' : 'Off'}", {:action => 'update_notification_email', :id => user.id,:page => params[:page]}, :method => :post ,
                            :class => "btn #{user.push_email?? 'btn-success' : 'btn-danger'}",
                            :confirm => "Turn #{user.push_email?? 'Off' : 'On'} this email notif?"%>
              </span>
          <label for="user_points" class="short_label">Device</label>
              <span id="user_points">
              <%= button_to "#{user.push_device?? 'On' : 'Off'}", {:action => 'update_notification_device', :id => user.id,:page => params[:page]}, :method => :post ,
                            :class => "btn #{user.push_device?? 'btn-success' : 'btn-danger'}",
                            :confirm => "Turn off #{user.push_device?? 'Off' : 'On'} this device notif?"%>
              </span>
          <label for="marketing_optin" class="short_label">Marketing</label>
              <span id="marketing_optin">
              <%= button_to "#{user.marketing_optin?? 'On' : 'Off'}", {:action => 'update_marketing_optin', :id => user.id,:page => params[:page]}, :method => :post ,
                            :class => "btn #{user.marketing_optin?? 'btn-success' : 'btn-danger'}",
                            :confirm => "Turn off #{user.marketing_optin?? 'Off' : 'On'} this marketing optin?"%>
              </span>
        </td>
        <td>
          <% if user.chain.mailchimp_sync %>
            <% if em = EmailMarketing.where(:user_id => user.id, :chain_id => user.chain_id).first %>
              <b>Mailchimp : </b>  <br /><%= em.status_in_color.html_safe %>
            <% else %>
              <b>Mailchimp: </b>  <br /> -
            <% end %>
          <% end %>
          <br/>
          <% if user.chain.fishbowl_setting %>
            <% if uf = UserFishbowl.where(:user_id => user.id, :chain_id => user.chain_id).first %>
              <b>Fishbowl : </b>  <br /><%= uf.status_in_color.html_safe %>
            <% else %>
              <b>Fishbowl : </b>  <br /> -
            <% end %>
          <% end %>
          <br/>
          <% if user.chain.emma_setting %>
            <% if uf = EmmaMarketing.where(:user_id => user.id, :chain_id => user.chain_id).first %>
              <b>Emma : </b>  <br /><%= uf.status_in_color.html_safe %>
            <% else %>
              <b>Emma : </b>  <br /> -
            <% end %>
          <% end %>
        </td>
        <td style="text-align: center;">
          <div style="float:left;">
            <%= user_signup_status_color(user.signup_device_status)%>
          </div>
          <div style="float:left;margin-left:15px;">
            <%= user_signup_status_name(user.signup_device_status) %>
          </div>
          <div class="clearfix"></div>
          <%= link_to 'Show', show_accosiated_devices_admin_user_path(user), :class => "show_reward", :remote => true%>
        </td>
        <td>
          <div class="btn-group">
            <button class="btn">Actions</button>

            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <%= link_to 'Reward Wallet', show_reward_admin_user_path(user), :class => "show_reward", :remote => true %>
              <%= link_to 'Perk Wallet', show_perks_admin_user_path(user), :class => "nyroModal" %>
              <%#= link_to 'Rewards', available_rewards_admin_user_path(user), :class => "available_rewards", :remote => true %>
              <%= link_to 'Reward Transactions', admin_user_reward_transactions_path(user) %>
              <%= link_to 'Receipt Transactions', receipts_admin_user_path(user) %>
              <%= link_to 'Giftcard Transactions', giftcards_admin_user_path(user) %>
              <%= link_to 'Deal Participation', deal_participation_admin_user_path(user) %>
              <%= link_to 'Point Earned On Deals', earned_deal_points_admin_user_path(user) %>
              <%= link_to 'View Offline Rewards', offline_deal_reward_admin_user_path(user) %>
              <%= unless user.aoo_synced?
                    link_to 'Edit', edit_admin_user_path(user)
                  else
                    link_to 'Edit', "#", :style => "color:grey"
                  end
              %>
              <%= link_to 'Show Point Histories', point_histories_admin_user_path(user) %>
              <%= link_to 'Show Gift Card Redeem Historiess', gift_card_redeem_histories_admin_user_path(user) %>
              <%= link_to 'Game Activity', game_activity_admin_user_path(user) %>
              <%= link_to 'Update Last active/ Miss you Date', miss_you_date_admin_user_path(user) %>
              <%= link_to 'Barcode Scanned', receipts_admin_user_path(user, :type => "barcode")%>
              <%= link_to 'Online Orders', receipts_online_admin_user_path(user)%>
              <%= link_to 'Payments', payments_admin_user_path(user)%>
              <%= link_to 'Nuorder', nuorder_admin_user_path(user)%>
              <%#= link_to "Online Orders from Relevant API", online_orders_admin_user_path(user) %>
              <%#= link_to 'Deactivate', admin_user_path(user), :method => :delete, :confirm => "are you sure?" %>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr><td colspan="10">Please Select Criteria</td></tr>
  <% end %>
  </tbody>
</table>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-header">

    <h3 id="myModalLabel">Device Token</h3>
  </div>
  <div class="modal-body">
    <p class="modal_text word_wrap" style="padding-left:10px;padding-right:10px;">One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').hide();">Close</button>
  </div>
</div>
<div id="x-pagination">
  <%= will_paginate @users  if @users.length > 0 %>
</div>
<%= link_to "Export to csv", request.parameters.merge({:format => :csv}) %>
