<table>
  <caption></caption>
  <thead>
    <tr>
      <th>Deal Title</th>
      <th>Deal Type</th>
      <th>Activity Type</th>
      <th>Incentive Type</th>
      <th>Participation date</th>
      <th>User Location</th>
      <th>Incentive Detail</th>
      <th>Incentive Status</th>
    </tr>
  </thead>
  <tbody>
    <% unless @user_incentives.blank? %>
      <% @user_incentives.each do |u| %>
        <% begin %>
          <tr>
            <% dl = u.get_deal %>
            <td><%= dl.title %></td>
            <td><%= dl.deal_type_name %></td>
            <td><%= incentive_type_detail(u) %></td>
            <% incent = dl.incentive %>
            <td><%= incent.nil? ? "-" : incentive_reward_type_detail(incent) %></td>
            <td><%= dl.created_at %></td>
            <% user_act = u.user_activity %>
            <td><%= user_act.nil? ? "-" : user_act.user_latitude.to_s+"/"+user_act.user_longitude.to_s %></td>
            <td><%= incentive_detail(incent) %></td>
            <td><%= incentive_status_earn(u.deal.deal_type_name) %></td>
          </tr>
          <% rescue %>
        <% next %>
      <% end %>
        <% end %>
      
    <% else %>
      <tr>
        <td colspan="8">This user has no deal participations</td>
      </tr>
    <% end %>
  </tbody>
</table>