<h1>Listing Deleted Users</h1>
<script type="text/javascript">
  $(document).ready(function(){
    $(".show_reward").click(function() {
      modalPopup(align, top, width, padding, disableColor, disableOpacity,
      backgroundColor, borderColor, borderWeight, borderRadius,
      fadeOutTime, $(this).attr('href'), loadingImage);
    });
    $(".available_rewards").click(function() {
      modalPopup(align, top, width, padding, disableColor, disableOpacity,
      backgroundColor, borderColor, borderWeight, borderRadius,
      fadeOutTime, $(this).attr('href'), loadingImage);
    });
  });
</script>
<table>
  <caption></caption>
  <thead>
    <tr>
      <th>Account</th>
      <th>Registration</th>
      <th>Device</th>
      <th>Other</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr style="border-bottom: 2px solid #dfeffc;">
        <td>
          <label for="user_id" class="short_label">ID</label>
          <span id="user_id"><%= link_to "#{user.id}", admin_user_path(user) %></span><br/>
          <label for="user_email" class="short_label">Email</label>
          <span id="user_email"><%= user.email %></span><br/>
          <label for="user_chain" class="short_label">Chain</label>
          <span id="user_chain"><%= user.try(:chain).try(:name) %></span>
        </td>
        <td>
          <label for="user_type" class="short_label">Type</label>
          <span id="user_type"><%= user_type(user.register_type) %></span><br/>
          <label for="user_date<%= user.id %>" class="short_label">Date</label>
          <span id="user_date<%= user.id %>"><%= user.created_at.try(:strftime, '%m-%d-%Y') %></span><br/>
          <label for="user_location<%= user.id %>" class="short_label">Lat/Long</label>
          <span id="user_location<%= user.id %>"><%= "#{user.latitude} / #{user.longitude}" %></span>
        </td>
        <td>
          <label for="user_device_type" class="short_label">Type</label>
          <span id="user_device_type"><%= user.sign_in_device_type %></span><br/>
          <label for="user_device_id" class="short_label">ID</label>
          <span id="user_device_id"><%= user.device_id %></span><br/>
          <label for="user_device_token" class="short_label">Token</label>
          <a href="#" id="user_device_token" class="short_token"><%= user.device_token.try(:slice, 0, 10) %>...</a>
          <div id="full_token" class="word_wrap" style="display: none"><%= user.device_token %></div>
        </td>
        <td>
          <label for="user_points" class="short_label">Points</label>
          <span id="user_points"><%= user.points %></span><br/>
          <label for="user_locale" class="short_label">Locale</label>
          <span id="user_locale"><%= user.locale.name if user.locale%></span>
        </td>
        <td>
          <%= link_to 'Edit', edit_admin_user_path(user) %> |
          <%= link_to "Activate", revive_admin_user_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="x-pagination">
  <%= will_paginate @users %>
</div>
<%= link_to "Export to csv", request.parameters.merge({:format => :csv}), :class => "x-csv#{@action}"%>

<%= link_to 'New Users', new_admin_user_path %> |
<%= link_to "Users", admin_users_path %>