<div class="page-header">
  <h1>Earned Point's <%= @user.email %> From Deals</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th>DealID</th>
      <th>Deal Title</th>
      <th>Points</th>
      <th>User Activity Date</th>
      <th>User Activity</th>
    </tr>
  </thead>
  <tbody>
    <% if @user_incentives.blank? %>
      <tr>
        <td colspan="4">
          There are no data
        </td>
      </tr>
    <% else %>
      <% @user_incentives.each do |user_incentive| %>
        <tr>
          <td><%= user_incentive.deal.id %></td>
          <td><%= user_incentive.deal.title %></td>
          <td><%= user_incentive.incentive.points %></td>
          <td><%= user_incentive.created_at %></td>
          <td><%= user_incentive.user_activity_type %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>

</table>