<div class="page-header">
  <h3><%= @user.email %>'s game activities</h3>
</div>

<table>
  <thead>
  <tr>
    <th>Date Time</th>
    <th>Game</th>
    <th>Level</th>
    <th>Game Point Submitted</th>
    <th>User point earned</th>
  </tr>
  </thead>
  <tbody>
  <% @activities.each do |act| %>
      <tr>
        <td><%= date_helper(act.created_at.in_time_zone)%></td>
        <td><%= act.game.name rescue nil%></td>
        <td><%= act.level_number %></td>
        <td><%= act.game_point_submitted%></td>
        <td><%= act.points%></td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="5"> <%= will_paginate(@activities) %></td>
  </tr>
  </tfoot>
</table>

<%= link_to "Back to User list", admin_users_path, :class => "btn btn-primary" %>