<div class="page-header">
  <h3><%= @user.email %>'s history points</h3>
</div>

<table>
  <thead>
  <tr>
    <th>Receipt number</th>
    <th>Amount</th>
    <th>Transaction id</th>
    <th>created at</th>
  </tr>
  </thead>
  <tbody>
  <% @histories.each do |history| %>
    <tr>
      <td><%= history.receipt_number %></td>
      <td><%= history.amount %></td>
      <td><%= history.transaction_id %></td>
      <td><%= history.created_at %></td>
    </tr>
  <% end %>
  <tr></tr>
  </tbody>
</table>

<%= link_to "Back to users", admin_users_url, :class => "btn btn-primary" %>