<div class="page-header">
  <h2>Giftcard Transactions</h2>
</div>

<table>
  <tr>
    <th>Transaction type</th>
    <th>Card number</th>
    <th>Ref num</th>
    <th>Transaction ID</th>
    <th>Amount</th>
    <th>Success</th>
  </tr>

  <% @giftcard_transactions.each do |giftcard| %>
      <tr>
        <td><%= giftcard.transaction_type_description %></td>
        <td><%= giftcard.card_number %></td>
        <td><%= giftcard.ref_num %></td>
        <td><%= giftcard.transaction_id %></td>
        <td><%= giftcard.amount %></td>
        <td><%= giftcard.success %></td>
      </tr>
  <% end %>
</table>

<div id="x-pagination">
  <%= will_paginate @giftcard_transactions if @giftcard_transactions.length > 0 %>
</div>

<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
