<% require 'csv' %>
<% headers = ["Id", "User Name", "User Email", "Chain Belonging to", "Device Type", "Points","Total Points Earned", "Sign Up Date"] %>
<%= CSV.generate_line headers, :row_sep => ?\t, :quote_char => ?\ %>
<% @users.each do |user|%>
    <% row = [
            user.id,
            user.full_name.try(:strip),
            user.email.try(:strip),
            user.try(:chain).try(:name).try(:strip),
            user.try(:register_device_type).try(:humanize),
            user.points,
            user.total_points_earned,
            user.created_at.try(:strftime, '%m-%d-%Y')
    ] %>
    <%= CSV.generate_line row, :row_sep => ?\t, :quote_char => ?\ %>
<% end %>