<h1>Listing users</h1>
<%= render 'searchform' %>
<%= text_field_tag :user_id, "", :placeholder => "User ID", :id => 'user_id_find' %> <%= link_to "GO TO", "#", :class => "btn btn-primary", :onclick => "window.location.href= '/admin/users/'+$('#user_id_find').val(); return false;" %>

<br clear="all"/><br clear="all"/>

<div id="x-records">
  <%= render partial: 'users' %>
</div>

<%= link_to 'New Users', new_admin_user_path %> |
<%= link_to "See Deleted Users", deleted_admin_users_path %>

<div class="modal" id="getAuthToken" tabindex="-1" role="dialog" aria-hidden="true" style="display:none;">
  <div class="modal-header">

    <h3 id="myModalLabel">Authentication Token user <span class="authUser"></span></h3>
  </div>
  <div class="modal-body">
    <p class="modal_text word_wrap authentication_token_value" style="padding-left:10px;padding-right:10px;"></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="$('#getAuthToken').hide();">Close</button>
  </div>
</div>



<script type="text/javascript">
  $(".pagination a").bind("click", function() {
    var page = parseInt($(this).text());
    $('#flagqry').val("pagination");

    if(page > 0){
      $('#page').val(page);
      /*$('#loader').show();*/
      $('#x-search-submit-btn').click();
    }else{
      var page = $(this).attr("class");
      var cur_page = parseInt($("#page").val());

      if(page == "previous_page"){
        $('#page').val(cur_page - 1);
        /*$('#loader').show();*/
        $('#x-search-submit-btn').click();
      }else if(page == "next_page"){
        $('#page').val(cur_page + 1);
        /*$('#loader').show();*/
        $('#x-search-submit-btn').click();
      }
    }
    return false;
  });
  
</script>