<h2>Update Last Active Date for <%= @user.email %></h2>

<% if @last_active.blank? %>
    <%# last_act = (Time.zone.now - 210.days).strftime('%Y-%m-%d') %>
<% else %>
    <% last_act = @last_active.strftime('%Y-%m-%d') %>
<% end %>

<% if @miss_date.blank? %>
    <% #last_miss = (Time.zone.now - 210.days).strftime('%Y-%m-%d') %>
<% else %>
    <% last_miss = @miss_date.strftime('%Y-%m-%d') %>
<% end %>

<%= form_tag update_miss_you_admin_user_path(@user), :method => :put do %>
  <div class="span12">
    <div class="span4">
      Last Active : <%= text_field_tag "last_active",last_act ,
                       :class => 'x-datepicker' %> <br />
    </div>
  </div>
  <div class="span12">
    <div class="span4">
        <%#= debug last_miss%>
      Last Miss You Date :<%= text_field_tag "miss_you_date",last_miss ,
                       :class => 'x-datepicker' %> <br />
    </div>
    <div class="span4">
      <%= check_box_tag "make_null", "2", false, :id => 'make_null' %> Make Null
    </div>
  </div>
    <%= submit_tag "Update Last Active Date" %>
<% end %>

<hr/>
<h2>Update Signup Date for <%= @user.email %></h2>

<%= form_tag update_signup_admin_user_path(@user), :method => :put do %>
    <div class="span12">
      <div class="span4">
        Signup date : <%= text_field_tag "signup_date",(@user.created_at.in_time_zone('EST').strftime("%Y-%m-%d") rescue nil) ,
                                         :class => 'x-datepicker' %> <br />
      </div>
      <div class="span12">
      <div class="span4">
        No Scan PUsh reward / point date : <%= text_field_tag "no_scan_date",(@user.no_scan_date.strftime("%Y-%m-%d") rescue nil) ,
                                         :class => 'x-datepicker' %> <br />
      </div>
      <div class="span4">
        <%= check_box_tag "make_null_no_scan", "2", false, :id => 'make_null_no_scan' %> Make Null
      </div>
      </div>
    </div>
    <%= submit_tag "Update Signup Date" %>
<% end %>

<script type="text/javascript">
  $("#make_null").bind("click", function(){
    if($("#make_null").is(':checked')){
      $("#miss_you_date").attr( "val-date", $("#miss_you_date").val() );
      $("#miss_you_date").val('');
      $("#miss_you_date").attr('disabled', 'disabled');
    }else{
      $("#miss_you_date").removeAttr('disabled');
      $("#miss_you_date").val( $("#miss_you_date").attr( "val-date") );
      $("#miss_you_date").attr( "val-date", '')
    }
  })

  $("#make_null_no_scan").bind("click", function(){
      if($("#make_null_no_scan").is(':checked')){
          $("#no_scan_date").attr( "val-date", $("#no_scan_date").val() );
          $("#no_scan_date").val('');
          $("#no_scan_date").attr('disabled', 'disabled');
      }else{
          $("#no_scan_date").removeAttr('disabled');
          $("#no_scan_date").val( $("#no_scan_date").attr( "val-date") );
          $("#no_scan_date").attr( "val-date", '')
      }
  })
</script>
