<div class="page-header">
  <h1>Offline Rewards <%= @user.email %> From Deals</h1>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Deal Title</th>
      <th>Deal Type(Guarantee Lottery)</th>
      <th>Activity</th>
      <th>Offline Reward</th>
      <th>Participation Date Time</th>
      <th>User Location</th>
    </tr>
  </thead>
  <tbody>
    <% if @user_incentives.blank? %>
      <tr>
        <td colspan="4">
          There are no data
        </td>
      </tr>
    <% else %>
      <% @user_incentives.each do |user_incentive| %>
        <tr>
          <% dl = user_incentive.get_deal %>
          <td><%= dl.title %></td>
          <td><%= dl.deal_type_name %></td>
          <td><%= user_incentive.user_activity_type.eql?("UserCheckin") ? "Check IN" : "Submit Survey" %></td>
          <td><%= user_incentive.incentive.title %></td>
          <td><%= user_incentive.user_activity.created_at.strftime("%m/%d/%Y %H:%M:%S") %></td>
          <td><%= user_incentive.user_activity.user_latitude rescue nil %>&nbsp;&nbsp;&nbsp;  <%= user_incentive.user_activity.user_longitude rescue nil %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>

</table>