<div class="page-header">
  <h3><%= @user.email %>'s Online Orders</h3>
</div>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>OrderId</th>
    <th>Date</th>
    <th>Location name</th>
    <th>Subtotal</th>
    <th>Points</th>
    <th>Status</th>
    <th>Platform</th>
    <th>Order partner</th>
  </tr>
  </thead>
  <tbody>
  <% @online_orders.each do |oo| %>
      <tr>
        <td><%= oo.id %></td>
        <td><%= oo.online_order_identifier %></td>
        <td><%= date_helper(oo.created_at.in_time_zone)%></td>
        <td><%= oo.restaurant.name rescue nil %></td>
        <td><%= oo.online_order_detail.sub_total %></td>
        <td><%= oo.receipt.last_transaction.total_points_earned rescue nil %></td>
        <td><%= Onosys::OnlineOrder::STATUS.invert[oo.loyalty_status] %></td>
        <td><%= Onosys::OnlineOrder::PLATFORM.invert[oo.platform] %></td>
        <td>Onosys</td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="9"> <%= will_paginate(@online_orders) %></td>
  </tr>
  </tfoot>
</table>

<%= link_to "Back to User list", admin_users_path, :class => "btn btn-primary" %>