<div class="page-header">
  <h1>Payments <%= @user.email %></h1>
</div>
<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Date Time</th>
    <th>Dollar amount user billed for</th>
    <th>Location</th>
    <th>Receipt Barcode Linked</th>
    <th>Signature</th>
  </tr>
  </thead>
  <tbody>
  <% if @payments.blank? %>
    <tr>
      <td colspan="5">
        There are no data
      </td>
    </tr>
  <% else %>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.id %></td>
        <td><%= date_helper(payment.created_at) %></td>
        <td>
          <%= payment.amount %>
        </td>
        <td><%= payment.try(:restaurant).try(:name) %></td>
        <td>
          <% if receipt_id = payment.try(:user_session).try(:receipt_id) %>
            <%= link_to receipt_id, menu_receipt_admin_receipt_barcode_path(receipt_id), :target => "_blank" %>
          <% end %>
        </td>
        <td>
          <% if receipt_id = payment.try(:user_session).try(:receipt_id) %>
            <% uph =  UserPaymentHistory.where(:receipt_id => receipt_id).first rescue nil %>
            <% if uph && uph.signature.file? %>
              <%= image_tag(uph.signature.url(:small)) %>
            <% else %>
              -
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="5" style="text-align: center;">
        <%= will_paginate @payments, :class => "pagination r-paging" %>
      </td>
    </tr>
  <% end %>
  </tbody>

</table>