<div class="page-header">
  <h3><%= @user.email %>'s history points</h3>
</div>

<table>
  <thead>
  <tr>
    <th>Description</th>
    <th>Point</th>
    <th>at</th>
  </tr>
  </thead>
  <tbody>
  <% @histories.each do |history| %>
      <tr>
        <td><%= history.description %></td>
        <td>
          <% if history.description != "Admin Remove Point" %>
              <%= history.point %>
          <% else %>
              -<%= history.point %>
          <% end %>
        </td>
        <td><%= history.created_at %></td>
      </tr>
  <% end %>
  <tr></tr>
  </tbody>
</table>

<%= link_to "Back to users", admin_users_url, :class => "btn btn-primary" %>