<div class="page-header">
  <h2><%=  "#{@user.email} - Online Order" %></h2>
</div>


<table>
  <tr>
    <th><%=  "Online Order Id"  %></th>
    <th>Transaction Id</th>
    <th>Issue Date</th>
    <th>Subtotal</th>
    <th>Points</th>
    <th>Submit Date</th>
    <th class="span2" style="text-align: center;">Status</th>
  </tr>

  <% @receipts.each do |receipt| %>
      <% trans = receipt.last_transaction%>
      <% olo_hook = OloWebhook.where(:receipt_id => receipt.id).first%>
      <tr>
        <!--<td>-->
              <!--<%#= link_to receipt.id, (receipt) %>-->
        <!--</td>-->
        <% unless receipt.comment.blank? %>
        <td><%= link_to "#{receipt.id}",admin_comment_path(receipt.comment), :target => '_blank' rescue "-" %></td>
            <% else %>
            <td><%= link_to "#{receipt.id}" ,olo_receipt_detail_admin_olo_orders_path(:receipt_id => receipt.id) , :target => '_blank' %></td>
            <% end %>
        <td><%= trans.id rescue nil %></td>
        <td>
          <% if receipt.is_olo == false%>
          <%= date_helper(receipt.get_date) rescue nil %>
              <% else%>
             <%= olo_hook.get_issue_date rescue date_helper(receipt.get_date)%>
        <% end %>
        </td>
        <td><%= trans.subtotal.to_f.round(2) rescue nil %></td>
        <td><%= trans.total_points_earned rescue nil %></td>
        <%# unless @type.eql?("barcode") %>
            <!--<td><%#= payment_method_name(trans.payment_method) rescue nil %></td>-->
        <%# end %>
        <td><%= date_helper(receipt.created_at) %></td>
            <td><%#= link_to receipt.show_receipt_barcode, menu_receipt_admin_receipt_barcode_path(receipt), :target => "_blank" %></td>

        <td>
          <div style="float:left;">
            <%= receipt_status_color(trans.status) rescue "-" %>
          </div>
          <div style="float:left;margin-left:15px;">
            <%= receipt_status_name(trans.status) rescue "-" %>
          </div>
        </td>
      </tr>
  <% end %>
</table>
<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
