<div class="page-header">
  <h2><%= @type.eql?("barcode") ? "#{@user.email} - Barcode Scanned" : "#{@user.email} - Receipt Transactions"%></h2>
</div>


<table>
  <tr>
    <th><%= @type.eql?("barcode") ? "Id" : "Receipt Id" %></th>
    <th>Transaction Id</th>
    <th>Issue Date</th>
    <th>Subtotal</th>
    <th>Points</th>
    <% unless @type.eql?("barcode") %>
      <th>Payment Method</th>
    <% end %>
    <th>Submit Date</th>
    <% if @type.eql?("barcode")%>
      <th>Barcode</th>
    <% end %>
    <th class="span2" style="text-align: center;">Status</th>
  </tr>

  <% @receipts.each do |receipt| %>
      <% trans = receipt.last_transaction%>
      <tr>
        <td>
          <% if @type.eql?("barcode") %>
            <%= link_to receipt.id, admin_receipt_barcode_path(receipt) %>
          <% else %> 
            <%= link_to receipt.id, admin_receipt_path(receipt) %>
            <%= link_to "<i class='icon-camera'></i>".html_safe, receipt.image.url, :target => "_blank" %>
          <% end %>
        </td>
        <td><%= trans.id rescue nil %></td>
        <% zone = Setting.default_time_zone["zone"] || Time.zone.now.zone %>
        <td><%= date_helper(receipt.get_date) rescue nil %><%#= zone %></td>
        <td><%= trans.subtotal.to_f.round(2) rescue nil %></td>
        <td><%= trans.total_points_earned rescue nil %></td>
        <% unless @type.eql?("barcode") %>
          <td><%= payment_method_name(trans.payment_method) rescue nil %></td>
        <% end %>  
        <td><%= date_helper(receipt.created_at) %><%#= zone %></td>
        <% if @type.eql?("barcode")%>
          <td><%= link_to receipt.show_receipt_barcode, menu_receipt_admin_receipt_barcode_path(receipt), :target => "_blank" %></td>
        <% end %>
        <td>
          <div style="float:left;">
            <%= receipt_status_color(trans.status) rescue "-" %>
          </div>
          <div style="float:left;margin-left:15px;">
            <%= receipt_status_name(trans.status) rescue "-" %>
          </div>
        </td>
      </tr>
  <% end %>
</table>
<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
