<table>
  <tr>
    <th>Perk id</th>
    <th>multiplier</th>
    <th>bonus points</th>
    <th>spending threshold</th>
    <th>stackable</th>
    <th>Action</th>
  </tr>
  <% unless @perks.blank? %>
    <% @perks.each do |perk| %>
      <tr>
        <td><%= perk.id %></td>
        <td><%= perk.multiplier %></td>
        <td><%= perk.bonus_points %></td>
        <td><%= perk.bonus_threshold == 0 ? "" : perk.bonus_threshold %></td>
        <td><%= perk.stackable %></td>

        <td>
          <%= link_to 'Show', admin_perk_path(perk) %> |
          <%= link_to 'Edit', edit_admin_perk_path(perk) %> |
          <%= link_to 'Destroy', admin_perk_path(perk), confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  <% else %>
    <tr><td colspan="6"> There are no perks for this user yet</tr>
  <% end %>
</table>

<br />
