<p id="notice"><%= notice %></p>

<div class="x-box" style="border: 1px dashed #000">
  <div class="x-box-inner">
    <b class="x-label-heading">First Name:</b> <%= @user.first_name %> <br/>
    <b class="x-label-heading">Email:</b> <%= @user.email %> <br/>
    <b class="x-label-heading">Chain:</b> <%= @user.try(:chain).try(:name) %> <br/>
    <b class="x-label-heading">Latitude:</b> <%= @user.latitude %> <br/>
  </div>
  <div class="x-box-inner">
     <b class="x-label-heading">Last Name:</b> <%= @user.last_name %> <br/>
    <b class="x-label-heading">Register Type:</b> <%= user_type(@user.register_type) %> <br/>
    <b class="x-label-heading">Total Points:</b> <%= @user.points %> <br/>
    <b class="x-label-heading">Longitude:</b> <%= @user.longitude %> <br/>
  </div>
</div> <br clear="all" />

<h1>Receipts</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Transaction Id</th>
    <th>Cashier</th>
     <th>Server Name/Id</th>
    <th>Points</th>
    <th>Payment Method</th>
    <th>Status</th>
  </tr>

  <%
     @user.receipts.each do |receipt|
     transaction = receipt.last_transaction
  %>
      <tr>
        <td><%= receipt.id %></td>
        <td><%= transaction.id rescue nil %></td>
        <td><%= transaction.cashier rescue nil %></td>
        <td><%= transaction.server_name rescue nil %></td>
        <td><%= transaction.total_points_earned rescue nil %></td>
        <td><%= payment_method_name(transaction.payment_method) rescue nil %></td>
        <td><%= receipt_status_name(transaction.status) rescue nil %></td>
      </tr>
  <% end %>
</table>
<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
