<div style="padding: 10px">  
  <div class="alert alert-info">
    <strong>Yeahh!</strong>
    <%= message %>
  </div>
  <br />
  <center>
    <a class="btn btn-primary" data-dismiss="modal">OK</a>
  </center>
  <br />
</div>
