<%= simple_form_for([:admin, @general_menu_item]) do |f| %>
  <% if @general_menu_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@general_menu_item.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
        <% @general_menu_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="x-box">
    <div class="field">
      <%= f.label :chain_id %>
      <%= f.input_field :chain_id, :collection => Chain.active.order("name") , :prompt=>"Please select Chain" %>
      <div class="link"><a href="<%= new_admin_chain_path %>"><%= image_tag "add.png" %></a></div>
    </div>

    <div class="field">
      <%= f.label :item_name %>
      <%= f.input_field :item_name %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.input_field :description, :rows => 5 %>
    </div>

    <div class="field">
      <%= f.label :item_keywords %>
      <%= f.input_field :item_keywords %>
    </div>
    <br/><br/>
    <%= f.submit @general_menu_item.new_record? ? "Create" : "Update", :class => "btn btn-primary" %>
    <%= link_to 'Back', admin_general_menu_items_path, :class => "btn" %>
  </div>
<% end %>