<td><%= general_menu_item.chain.name rescue nil %></td>
<td><%= general_menu_item.item_name %></td>
<td><%= general_menu_item.description %></td>
<td><%= general_menu_item.item_keywords %></td>
<td>
  <button type="button" data-toggle="modal" data-target="#myModal" onclick="loadMenuItem('<%= menu_items_admin_general_menu_item_path(general_menu_item)%>')">
    POS Menu Items
  </button>
</td>
<td>
  <button type="button" data-toggle="modal" data-target="#myModal" onclick="loadMenuItem('<%= add_range_start_end_admin_general_menu_item_path(general_menu_item)%>')">
    POS Menu Items
  </button>
</td>
<td>
  <button type="button" data-toggle="modal" data-target="#myModal" onclick="loadMenuItem('<%= olo_menu_items_admin_general_menu_item_path(general_menu_item)%>')">
    OLO Menu Items
  </button>
</td>
<td>
  <%= link_to 'Edit', edit_admin_general_menu_item_path(general_menu_item), :class => "btn btn-warning" %>
  <%= link_to 'Destroy', admin_general_menu_item_path(general_menu_item), :method => :delete, :class => "btn btn-danger", :confirm => "are you sure?" %>
  </div>
</td>