<script>
    $(document).ready(function () {
        $(".pagination").find("a").attr("data-remote", true);
        $('.pagination a').click(function () {
            $('#data-container').ajaxloader('show');
        });
    });
</script>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">POS Menu Items in <%= @chain.name %></h3>
</div>
<div class="modal-body" style="height: 350px;">
  <%= simple_form_for(:search, :url => menu_items_admin_general_menu_item_path(@general_menu_item), :html => {:method => :get, :remote => true}) do |f| %>

      <div class="x-box">
        <div class="x-box-inner">
          <div class="field">
            <%= label_tag :key %>
            <%= text_field_tag "q", @key, :style => 'width:300px' %>
          </div>
          <%= submit_tag "Search" %>
        </div>
      </div>

  <% end %>
  <table style="width: 100%;" class="table">
    <thead>
    <tr>
      <th>Item Number</th>
      <th>Item Name</th>
      <th>Description</th>
      <th>Size/Level ID</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody id="tab">
    <% unless @menu_items.blank? %>
        <% @menu_items.each do |menu_item| %>
            <tr id="row_mn_<%= menu_item.id %>">
              <%= render "menu_item", {:menu_item => menu_item} %>
            </tr>
        <% end %>
    <% else %>
        <tr id="blank-row">
          <td colspan="5">Available Menu Items are empty</td>
        </tr>
    <% end %>

    </tbody>
    <tfoot>
    <tr>
      <td colspan="5"><%= will_paginate @menu_items %></td>
    </tr>
    </tfoot>
  </table>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<script type="text/javascript">
    $(".multiselect").multiselect({
        selectedText:"# of # selected"
    });
</script>