<td><%= menu_item.item_number %></td>
<td><%= menu_item.item_name %></td>
<td><%= menu_item.description %></td>
<td><%= menu_item.level_size_id %></td>
<td id="col_mn_<%= menu_item.id %>">
  <% if @menu_item_ids.include?(menu_item.id) %>
      <%= link_to "Remove", remove_menu_item_admin_general_menu_item_path(@general_menu_item, menu_item), :class => "btn", :remote => true, :onclick => "$('#col_mn_#{menu_item.id}').html('removing...')" %>
  <% else %>
      <%= link_to "Add", add_menu_item_admin_general_menu_item_path( @general_menu_item, menu_item), :class => "btn", :remote => true, :onclick => "$('#col_mn_#{menu_item.id}').html('adding...')" %>
  <% end %>
</td>