<div class="page-header">
<h3>Menu Item Range</h3>
</div>
<%= simple_form_for([:admin, @general_menu_item], :url => submit_range_start_end_admin_general_menu_item_path(@general_menu_item), :html => {:remote => true}) do |f| %>
  <% if @general_menu_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@general_menu_item.errors.count, "error") %> prohibited this chain from being saved:</h2>

      <ul>
        <% @general_menu_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="x-box">
    <%= f.simple_fields_for :general_menu_item_range_value do |gmi| %>
      <div class="span4">
        <%= gmi.input :start_value %>
        <%= gmi.input :end_value %>
      </div>
    <% end %>
    <div class="clearfix"></div>
    <div class="span4">
      <%= f.submit "Submit", :class => "btn btn-primary" %>
      <a class="btn" data-dismiss="modal">Cancel</a>
    </div>
  </div>
<% end %>