<script>
    $(document).ready(function () {
        $(".pagination").find("a").attr("data-remote", true);
        $('.pagination a').click(function () {
            $('#data-container').ajaxloader('show');
        });
    });
</script>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">General Menu Item Rewards</h3>
</div>
<div class="modal-body" style="height: 350px;">
  <table>
    <thead>
    <tr>
      <th>Reward id</th>
      <th>Reward Title</th>
      <th>Valid From</th>
      <th>Valid to</th>
      <th>Points</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody id="tab">
    <% unless @rewards.blank? %>
        <% @rewards.each do |reward| %>
            <tr id="row_<%= reward.id %>">
              <%= render "reward", {:reward => reward, :act => act} %>
            </tr>
        <% end %>
    <% else %>
        <tr id="blank-row">
          <td colspan="6">No Reward Added</td>
        </tr>
    <% end %>

    </tbody>
    <tfoot>
    <tr>
      <td colspan="6"><%= will_paginate @rewards, :remote => true %></td>
    </tr>
    </tfoot>
  </table>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>