<td><%= reward.id %></td>
<td><%= reward.name %></td>
<td><%= date_only(reward.effectiveDate) %></td>
<td><%= date_only(reward.expiryDate) %></td>
<td><%= reward.points %></td>
<td id="col_<%= reward.id%>">
  <% if act.eql?("add") %>
      <% if @reward_ids.include?(reward.id) %>
          Added
      <% else %>
          <%= link_to image_tag('add.png'), assign_reward_admin_chain_general_menu_item_path(@chain, @general_menu_item, reward), :remote => true, :onclick => "$('#col_#{reward.id}').html('process ...')" %>
      <% end %>
  <% else %>
      <%= link_to image_tag('x.png'), remove_reward_admin_chain_general_menu_item_path(@chain, @general_menu_item, reward), :remote => true, :onclick => "$('#col_#{reward.id}').html('process ...')" %>
  <% end %>

  <span id="link_loader_<%= reward.id %>" style="display:none;"><%= image_tag "loader.gif" %></span>
</td>