$('#content-modal').html('<%=j render "rewards", {:act => "add"} %>');
$('#add_reward_link').remove();
$('#myModalLabel').html('Reward List');
$('.modal-footer').prepend('<%= link_to "Back", rewards_admin_chain_general_menu_item_path(@chain, @general_menu_item), :remote => true, :class => 'btn', :onclick =>
      "$('#content-modal').html('<div style=\"margin: 20px;\"><h3>loading...</h3></div>');" %>');