<div class="page-header">
  <h2>General Menu Items </h2>
</div>

<%= simple_form_for(:search, :url => "", :html => {:method => :get}) do |f| %>

    <div class="x-box">
      <div class="x-box-inner">
        <div class="field">
          <%= label_tag :chain %>
          <%= select_tag('chains', options_from_collection_for_select(Chain.order("name"), :id, :name, params[:chains]), {:multiple => true, :class => 'multiselect'}) %>
        </div>
        <br/>

        <div class="field">
          <%= label_tag :key %>
          <%= text_field_tag "q", params[:q], :style => 'width:300px' %>
        </div>
        <%= submit_tag "Search" %>
      </div>
    </div>

<% end %>

<table class="table stripped">
  <thead>
  <tr>
    <th>Chain</th>
    <th>Item Name</th>
    <th>Description</th>
    <th>Item Keywords</th>
    <th>Menu Item Linked</th>
    <th>Menu Item Range</th>
    <th>Menu Item OLO</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>

  <% @general_menu_items.each do |general_menu_item| %>
      <tr id="row_<%= general_menu_item.id %>">
        <%= render "general_menu_item", {:general_menu_item => general_menu_item} %>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @general_menu_items %>
<br/>
<%= link_to 'New General Menu Item', new_admin_general_menu_item_path, :class => "btn btn-primary" %>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <span id="content-modal"></span>
</div>

<script type="text/javascript">
    function loadMenuItem(url) {
        $('#content-modal').html('<div style="margin: 20px;"><h3>loading...</h3></div>');
        $.get(url);
    }
    function loadRewardContent(url) {
        $('#add_reward_link').remove();
        $('#content-modal').html('<div style="margin: 20px;"><h3>loading...</h3></div>');
        $.get(url)
    }
</script>