$('#content-modal').html('<%=j render "rewards", {:act => "show"} %>');
$('.modal-footer').prepend('<%= link_to "Add Reward", add_reward_admin_chain_general_menu_item_path(@chain, @general_menu_item), :id => "add_reward_link", :class => "btn btn-primary", :remote => true %>')
$('#myModalLabel').html('General Menu Item Rewards')