<% if @is_save %>
$('#content-modal').html('<%=j render "confirmation", {:message => "Menu Item range has been successfully saved."} %>');
<% else %>
$('#content-modal').html('<%=j render "range_start_end" %>');
<% end %>