<%= simple_form_for([:admin, @push_service_point],  :html => {:style => "position:relative;", :class => 'form-horizontal', :multipart => true, id: "form-push-service-notification" }) do |f| %>
  <%= render "shared/error_messages.html", :target => @push_service_point %>

<div class="form-inputs">
  <label class="integer optional control-label" for="push_service_point_chain_id">Chain</label>
  <div class="controls">
    <%= f.select :chain_id, Chain.active.order("name").map { |r| [r.name, r.id]} %>
  </div>
</div>
<%= hidden_field_tag "selected_type", @push_service_point.select_type %>
  <br />
<div class="form-inputs">
  <div class="control-group">
    <label class="control-label" for="inputEmail">
      Enter CSV <%= radio_button_tag "select_type", "csv",true %>
    </label>

    <div class="controls">

      <label id="xls_label">Upload CSV file to get user id</label>
      <%= file_field_tag "xls" %>
      <%= hidden_field_tag "xls_path",nil %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">
      Enter Manual <%= radio_button_tag "select_type", "manual_enter" %>
    </label>

    <div class="controls hide" id="manual_input">
      <i>Enter user id separate with comma (,)</i><br/>
      <textarea class="text optional" cols="40" id="plain_push_notification_email"
      style="height:100px;width:700px;" name="push_service_point[temp_receiver_user_ids]" rows="20"><%= @push_service_point.temp_receiver_user_ids%></textarea>
    </div>

  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">
      All User <%= radio_button_tag "select_type", "all_user" %>
    </label>
    <div class="controls hide" id="all_user">
      <div class="alert info">All user will be sent.</div>
    </div>
  </div>
</div>
<%= f.input :point, input_html: { min: 0 } %>
<%= text_area_tag "list_user_ids", @list_user_ids, style: "display:none;" %>
<div class="span8">
  <div id="push_date">
    <div class="field">
      <div id="expiry_date">
        <div class="schdeule-time">
          <% Time.use_zone(Setting.default_time_zone['zone']) do %>
          RUN AT :<%= f.datetime_select :sent_at, { :default => Time.now.in_time_zone("EST")}, :style => "width:80px;" %>
          <% end %>
        </div>
      </div>
    </div>
    <br />
    <div class="field">
      <%= f.input "time_zone_default", :collection => (["EST","EDT"]), :include_blank => false%>
    </div>
  </div>
</div>
<div style="clear: both"></div>    <br/><br/><br/>
</div>

<div class="form-actions">
      <%= f.button :submit, :onclick => "$('#form-action').ajaxloader('show');$('#submit_but').hide();$('#calculate').show();", :id => 'submit_but' %>
      <input type="submit" value="Saving..."  name="commit" class="btn disabled" id="calculate" style="display:none;">
    </div>
<% end %>


<script type="text/javascript">
    <% if @confirmation_box == true %>
    $('#confirm').val('true');
    <% end %>

  $(document).ready(function () {
    var tmp = $('#date_execute').val() + " " + $('#date_hour').val() + ":" + $('#date_minute').val() + ":60" + " " + "+0000";
    $('#reward_executed_at').val(tmp);
    $('select.pick-schdeule').bind('change', function () {
      if ($(this).val() == "on") {
        $('.schdeule-time').show();
      } else {
        $('.schdeule-time').hide();
      }
    });

    $('.x-datepicker').datepicker({
      dateFormat: 'yy-mm-dd'
    });
    $('#time_zone_default').bind('change', function(){
      if($(this).val() == "EDT"){
        $('#edt_time').show();
        $('#est_time').hide();
      }else{
        $('#edt_time').hide();
        $('#est_time').show();
      }
    });


    if ($('#time_zone_default').val() == "EDT") {
      $('#edt_time').show();
      $('#est_time').hide();
    }else{
      $('#edt_time').hide();
      $('#est_time').show();
    }

    if($('#selected_type').val() == "manual_enter") {
      $('#select_type_manual_enter').change();
    }else if($('#selected_type').val() == "all_user"){
      $('#select_type_all_user').change();
    }else{
      $('#select_type_csv').change();
    }

  });
  function setDateParams() {
    var tmp = $('#date_execute').val() + " " + $('#date_hour').val() + ":" + $('#date_minute').val() + ":60" + " " + "+0000";
    $('#reward_executed_at').val(tmp);
  }

  $("#formsubmit-plainpush").click(function () {

    var iframe = $('<iframe name="postiframe" id="postiframe" style="display: none" />');

    $("body").append(iframe);

    var form = $('#theuploadform-plainpush');
    form.attr("action", "<%= preview_xls_data_admin_plain_push_notifications_path %>");
    form.attr("method", "post");
    form.attr("enctype", "multipart/form-data");
    form.attr("encoding", "multipart/form-data");
    form.attr("target", "postiframe");
    form.attr("xls", $('#userfile').val());
    form.submit();

    $("#postiframe").load(function () {
      iframeContents = $("#postiframe")[0].contentWindow.document.body.innerHTML;
      $("#email_from_xls_area").html(iframeContents);
    });

    return false;

  });


  $("#plain-push-form").submit(function(e){
    if($('#select_type_all_user').is(':checked') == true){
      if (!confirm("Are you sure wants to send to all users?")){
        e.preventDefault();
        return;
      }
    }else{
      return true;
    }


  });

  function check_all_emails(bool) {
    if (bool == true)
      $('.span3 input:checkbox').attr('checked', 'checked');
    else
      $('.span3 input:checkbox').attr('checked', '');
  }

  function reset_selection() {
    $('#theuploadform-plainpush').hide();
    $('#manual_input').hide();
    $('#xls').hide();
    $('#xls_label').hide();
    $('#all_user').hide();
    $('#select_type_manual_enter').attr('checked', false);
    $('#select_type_csv').attr('checked', false);
    $('#select_type_all_user').attr('checked', false);
  }

  $('#select_type_csv').change(function () {
    reset_selection();
    $('#select_type_csv').attr('checked', true);
    $('#xls').show();
    $('#xls_show').hide();
  });

  $('#select_type_manual_enter').change(function () {
    reset_selection();
    $('#manual_input').show();
    $('#select_type_manual_enter').attr('checked', true);
  });

  $('#select_type_all_user').change(function () {
    reset_selection();
    $('#select_type_all_user').attr('checked', true);
    $('#all_user').show();
  });

</script>
