<table>
  <tr>
    <th>Chain</th>
    <th>Point</th>
    <th>Scheduled for</th>
    <th>Recipient count</th>
    <th>Progress</th>
    <th>Status</th>
    <th>Pushed by</th>
    <th>Created At</th>
    <th></th>
    <th>Action</th>
  </tr>

  <% @push_service_points.each do |push_service_point| %>
    <tr>
      <td><%= push_service_point.try(:chain).try(:name) %></td>
      <td><%= push_service_point.point %></td>
      <td><%= push_service_point.date_text_ttd %></td>
      <td><%= push_service_point.recipient_count %></td>
      <td>
        <% paused = push_service_point.paused? %>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70"
               aria-valuemin="0" aria-valuemax="100" style="width:<%= push_service_point.bind_progress_percent %>;background-color:<%= paused ? "yellow" : "green"%>;">
            <span class="sr-only"><%= paused ? "Paused" : "&nbsp;".html_safe %></span>
          </div>
        </div>
      </td>
      <td><%= push_service_point.success_user_count %>/<%= push_service_point.recipient_count %></td>
      <td><%= push_service_point.admin.try(:email) %></td>
      <td><%= push_service_point.created_at %></td>
      <td>
        <%= link_to 'Show', admin_push_service_point_path(push_service_point), :class => "btn" %>
        <%# if push_service_point.finished? %>
        <%#= link_to 'See Result', progress_admin_push_service_point_path(push_service_point), :class => "btn" %>
        <%# end %>
      </td>
      <td>
        <% if !push_service_point.parsed? && push_service_point.status != 3%>
          <div class="btn-group">
            <button class="btn">Actions</button>

            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <%= link_to 'CANCEL', cancel_admin_push_service_point_path(push_service_point), :confirm => "Are you sure?"  %>
            </ul>
          </div>
          <b style="color: orange;">SCHEDULED</b>
        <% elsif push_service_point.canceled? || push_service_point.status == 3 %>
          <b style="color: red">CANCELED</b>
        <% elsif push_service_point.finished? %>
          <b style="color: green">COMPLETED</b>
        <% elsif !push_service_point.finished? %>
          <div class="btn-group">
            <button class="btn">Actions</button>

            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <%= link_to 'PAUSE', pause_admin_push_service_point_path(push_service_point), :confirm => "Are you sure?" if !paused %>
              <%= link_to 'CANCEL', cancel_admin_push_service_point_path(push_service_point), :confirm => "Are you sure?"  %>
              <%= link_to 'RESUMED', resume_admin_push_service_point_path(push_service_point), :confirm => "Are you sure?" if paused  %>
            </ul>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @push_service_points %>