<div class="page-header">
  <h3>Listing Push Service Points</h3>
</div>

<div id="live-stream-point">
 <%= render "index" %>
</div>

<br />

<%= link_to 'New Push service point', new_admin_push_service_point_path, :class => "btn btn-primary"%>


<script type="text/javascript">
  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
      sParameterName = sURLVariables[i].split('=');

      if (sParameterName[0] === sParam) {
        return sParameterName[1] === undefined ? true : sParameterName[1];
      }
    }
  };

    var currentUrl = window.location.href;

    // Given that we're at a url like 'users/:id', this saves the unique id of the user whose show page we are currently looking at
    var page = currentUrl.substr(currentUrl.lastIndexOf('?') + 1);
    page = getUrlParameter("page");
    if(page == undefined){
      page = 1
    }
    setInterval(function() {
//      $('#live-stream-notification').ajaxloader('show');
      $.ajax({
        type: "GET",
        url: "/admin/push_service_points/sync.js?page="+page
      });
    }, 6000);
</script>