<h3>Progress Push Service Point</h3>
<h5>Android</h5>
<b>Success User : <%= @androids.success_count %> </b><br />
<b>Failed User : <%= @androids.failure_count %></b> <br /><br />


<h5>IPhone</h5>
<b>Success User : <%= @ios.success_count %> </b><br />
<b>Failed User : <%= @ios.failure_count %></b> <br /><br />

<%= link_to 'Back', admin_push_service_points_path, :class => "btn btn-primary" %>
