<p id="notice"><%= notice %></p>

<p>
  <b>Chain:</b>
  <%= @push_service_point.try(:chain).try(:name) %>
</p>

<p>
  <b>Point:</b>
  <%= @push_service_point.point %>
</p>
  <p>
    <b>Sent at:</b>
    <%= @push_service_point.date_text_ttd %>
  </p>

  <p>
    <b>Recipient count:</b>
    <%= @push_service_point.recipient_count %>
  </p>

<p>
  <b>Success count:</b>
  <%= @push_service_point.success_user_count %>
</p>

<p>
  <b>Failed count:</b>
  <%= @push_service_point.failed_user_count %>
</p>



<%= link_to 'Back', admin_push_service_points_path, :class => 'btn btn-primary' %>