<div class="page-header">
  <h2><%= @type.eql?("barcode") ? "#{@user.email} - Barcode Scanned" : "{@user.email} - Receipt Transactions"%></h2>
</div>


<table>
  <tr>
    <th>Receipt Id</th>
    <th>Transaction Id</th>
    <th>Cashier</th>
     <th>Server Name/Id</th>
    <th>Points</th>
    <th>Payment Method</th>
    <th>Status</th>
  </tr>

  <% @receipt_transactions.each do |rt| %>
      <tr>
        <td><%= rt.receipt_id %></td>
        <td><%= rt.id rescue nil %></td>
        <td><%= rt.cashier rescue nil %></td>
        <td><%= rt.server_name rescue nil %></td>
        <td><%= rt.total_points_earned rescue nil %></td>
        <td><%= payment_method_name(rt.payment_method) rescue nil %></td>
        <td><%= receipt_status_name(rt.status) rescue nil %></td>
      </tr>
  <% end %>
</table>
<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>