<%= simple_form_for([:admin,@referral_program], :remote => true) do |f| %>
  <%= f.error_notification %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal" onclick="$('#ref_modal').html('');">&times;</a>
    <h3>Refferal </h3>
  </div>
  <div class="modal-body">
    <div class="span3">
      <%= f.input :name %>
      <%= f.input :description, :input_html => {:style => "height:100px;"} %>
      <%= f.input :chain_id ,:as => :hidden, :input_html => {:value => @chain.id} %>
      <%= f.input :start_date, :as => :string, :input_html => {:class => 'x-datepicker'}  %>
      <%= f.input :expiry_date, :as => :string, :input_html => {:class => 'x-datepicker'}  %>


      <%= f.button :submit %>
    </div>
    <div class="span3">
      <%= f.input :approve, :label => false, :input_html => {
              :onchange => "$('#referral_program_min_approve').toggle();"} %><i>Receipt to be Approved? </i>
      <br />
      <%= f.input :min_approve, :label => false, :placeholder => 'Minimum subtotal',
                  :input_html => {:style => "#{@referral_program.approve == false ? "display:none;": "display:block;"}",
                                  :value => @referral_program.min_approve == 0 ? nil : @referral_program.min_approve} %>
      <i>leaves blank / 0 value it means no minimum subtotal</i>
      <i>If receipt approval is not set, incentives will be added when users sign up with valid code</i>

      <br /><br /><br />

      <%= f.input :max_incentive %>
      <i>0 / blank it means No limit</i>
      <br /><br /><br />
      <%= f.input :uniq_device %>
      <i>Checked --- User must sign up from different device</i>
    </div>
  </div>
<% end %>
<script>
  $('.x-datepicker').datepicker({dateFormat: 'yy-mm-dd'});
</script>
