<h1>Referral program For Chain <%= @chain.name %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>Expiry date</th>
      <th>Code</th>
      <th>Receipt Approval</th>
      <th>Minimal Approval</th>
      <th>Incentive referee</th>
      <th>Incentive referer</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% unless @referral_programs.blank? %>
      <% @referral_programs.each do |referral_program| %>
        <tr>
          <td><%= referral_program.name %></td>
          <td><%= referral_program.start_date %></td>
          <td><%= referral_program.expiry_date %></td>
          <td>
            <% if @chain.count_ref_code == 0 %>
            <%= link_to "Show", "#ref_modal", :onclick => "#{initialize_modal('ref_modal',show_ref_admin_referral_programs_path(referral_program,@chain, :format => :js))}", "data-toggle" => "modal" %>
            <% else %>
             <%= link_to "Show", admin_referral_program_referral_codes_path(referral_program),:target => "_blank" %>
            <% end %>
          </td>
          <td><%= referral_program.approve == true ? "Yes" : "-" %></td>
          <td><%= referral_program.min_approve.to_i > 0  ? referral_program.min_approve : "-" %></td>
          <td id="incentive-<%= referral_program.id %>">
            <% if referral_program.incentive_type.blank? %>
              <%= link_to "Add Incentive referee", "#ref_modal",
                :onclick => "#{initialize_modal('ref_modal',pick_incentive_admin_referral_program_path(referral_program))}","data-toggle" => "modal", :class => "btn" %>
          <% else %>
              <%= render :partial => "admin/referral_programs/partials/incentive_column", :locals => {:ref => referral_program, :referer => nil} %>
            <% end %>
          </td>
          <td id="incentive-referer-<%= referral_program.id %>">
            <% if referral_program.incentive_referer_type.blank? %>
            <%= link_to "Add Incentive refereer", "#ref_modal",
                        :onclick => "#{initialize_modal('ref_modal',pick_incentive_admin_referral_program_path(referral_program, :referer => true))}","data-toggle" => "modal", :class => "btn" %>
            <% else %>
                <%= render :partial => "admin/referral_programs/partials/incentive_referer_column", :locals => {:ref => referral_program, :referer => true} %>
            <% end %>
          </td>
          <td>
            <% if referral_program.is_active == false %>
              <%= link_to "Make Active", activate_admin_referral_program_path(referral_program), confirm: "Make active?", :remote => true, :class => "btn btn-info" %>
            <% else %>
              <button href="#" class="btn btn-danger disabled">Active</button>
            <% end %>
            |<%= link_to "Edit", "#ref_modal", :onclick => "#{initialize_modal('ref_modal',edit_ref_admin_referral_programs_path(referral_program,@chain, :format => :js) )}", "data-toggle" => "modal" %>|
            <%= link_to 'Destroy', admin_referral_program_path(referral_program), confirm: 'Are you sure?', method: :delete %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan="9">There are no active Referral</td></tr>
    <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="9"><%= will_paginate @referral_programs %></td>
  </tr>

  </tfoot>
</table>
<div class="modal hide fade" id="ref_modal" style="width: 641px;height: 500px;"></div>
<br />

<%= link_to "New Referral program", "#ref_modal", :onclick => "#{initialize_modal('ref_modal',new_ref_admin_referral_programs_path(@chain, :format => :js))}", "data-toggle" => "modal",  :class => "btn btn-primary" %>