<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel"><%= @referral_program.name %></h3>
</div>
<div class="modal-body">
  <p><b>Description :</b>
    <%= @referral_program.description %></p>
  <p>
    <b>Chain:</b>
    <%= @referral_program.chain_id %>
  </p>

  <p>
    <b>Start date:</b>
    <%= @referral_program.start_date %>
  </p>

  <p>
    <b>Expiry date:</b>
    <%= @referral_program.expiry_date %>
  </p>
</div>
<% generated_code = @chain.count_ref_code  %>
<div class="modal-footer">
  <%= link_to "Show (#{generated_code}) Ref code Users", admin_referral_program_referral_codes_path(@referral_program),:target => "_blank", :class => "btn btn-primary"  %>
  <% if generated_code == 0 %>
    <%= link_to "Generate", generate_codes_admin_referral_program_referral_codes_path(@referral_program), :remote => true , :class => "btn btn-primary", :onclick => "$('#ref_modal').ajaxloader();"%>
  <% end %>

  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
<p id="notice"><%= notice %></p>

