<% if @referer.blank? %>
$("#incentive-<%= @referral_program.id %>").html("<%= escape_javascript(render :partial => "admin/referral_programs/partials/incentive_column", :locals => {:ref => @referral_program, :referer => nil}) %>");
<% else %>
$("#incentive-referer-<%= @referral_program.id %>").html("<%= escape_javascript(render :partial => "admin/referral_programs/partials/incentive_referer_column",
:locals => {:ref => @referral_program,
:referer => true}) %>");
<% end %>
$("#ref_modal").html('<%= escape_javascript(render :partial => "admin/referral_programs/partials/confirmation", :locals => {:message => "Incentive #{@type} has been added"}) %>');
