$('#data-container').html("<%= escape_javascript(render "list")%>");
<% if  params[:action] != "activate" %>
  $('#ref_modal').modal('hide');
  $('.modal-backdrop').hide();
<% end %>

<% if @error_on_date == "true" %>
  alert("Check your start date and expiry date ..")
<% end %>

$('.modalCloseImg.simplemodal-close').click();
