<div class="page-header">
  <h1>Select Chain</h1>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#form-ref-program').ajaxSend(function() {
      $('#data-container').ajaxloader('show');
    });
    $('#form-ref-program').ajaxSend(function() {
      $('#data-container').ajaxloader('hide');
    });
    if($('#chain-choice-refprog').val() != ""){
      $('#chain_id').val(this.value);$('#loader').show();$('#data-container').ajaxloader('show');
      $('#sub').click();
    }
  });

</script>
<div class="page-header">
  <div class="field form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="select01">Chain:</label>
        <div class="controls">
          <%= select_tag 'chain', options_from_collection_for_select(Chain.active.order("name"), :id, :name), :prompt=>"Please select chain", :id => "chain-choice-refprog",
            :onchange => "$('#chain_id').val(this.value);$('#loader').show();$('#sub').click();" %>
          <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<%= form_tag search_admin_referral_programs_path, :id => "form-ref-program", :class => 'form-horizontal', :style => "display:none;", :remote => true do %>
  <%= hidden_field_tag "chain_id" %>
  <%= submit_tag "submit", :id => "sub" %>
<% end %>
<div id="data-container"></div>

<div class="modal hide fade" id="ref_modal" style="width: 741px;height: 500px;"></div>

