<div class="page-header">
  <h2>Email Notification Setting</h2>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>Chain Id</th>
        <th>Chain Name</th>
        <th>Chain Locales</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @chains.each do |chain| %>
        <tr>
          <td><%= chain.id %></td>
          <td><%= chain.name %></td>
          <td><%=chain.locales.map(&:name)%></td>
          <td>
            <%= link_to "Email Notification Setting", new_referral_notification_admin_chain_path(chain), :class => 'btn' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @chains %>
</div>
