<p id="notice"><%= notice %></p>
<div class="page-header">
  <h2>Referral Program <%= @referral_program.name %></h2>
</div>

Start Date: <%= @referral_program.start_date %><br/>
Expiry Date: <%= @referral_program.expiry_date %><br/>

Incentive : <%=  show_ref_incentive(@referral_program.incentive) %><br />


