<script type="text/javascript" charset="utf-8">
	//<![CDATA[
		$(document).ready(function(){
			$('#value').wysiwyg({
				controls:"bold,italic,|,undo,redo,image"
			});
		});
	//]]>
	</script>

<h1>Translations</h1>

<ul>
  <% @translations.keys.each do |key| %>
    <li><%= key.html_safe %>: <%= @translations[key].html_safe %></li>
  <% end %>
</ul>

<h2>Add Translation</h2>
<%= form_tag admin_translations_path do %>
 <p>
   <%= label_tag :language %><br />
   <%= text_field_tag :language %>
  </p>
  <p>
    <%= label_tag :key %><br />
    <%= text_field_tag :key %>
  </p>
  <p>
    <%= label_tag :value %><br />
    <%= text_area_tag :value %>
  </p>
  <p><%= submit_tag "Submit" %></p>
<% end %>
