<%= custom_form_for([:admin, @chain, @giftcard_skin]) do |f| %>
    <%= f.input :title %>
    <%= f.input :is_active, as: :boolean, label: "Is default header image" %>
    <%= f.input :description, :input_html => {:maxlength => 225, :size => 30, :style => "height: 100px;"} %>
    <%= f.input :app_image %>
    <%= f.input :email_header_image, as: :file %>
    <%= f.button :submit , :label => "Save"%>
<% end %>