<div class="page-header">
  <h2>Giftcard skins chain <%= @chain.name %></h2>
</div>

<table class="table stripped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Is default header image</th>
    <th>Description</th>
    <th>App Image</th>
    <th>Email Header Image</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  <% @giftcard_skins.each do |giftcard_skin| %>
    <tr>
      <td><%= giftcard_skin.title %></td>
      <td><%= giftcard_skin.is_active %></td>
      <td><%= giftcard_skin.description %></td>
      <td><%= image_tag(giftcard_skin.app_image.try(:url), size: "140x140") %></td>
      <td><%= image_tag(giftcard_skin.email_header_image.try(:url), size: "140x140") %></td>
      <td>
        <%= link_to 'Destroy', admin_chain_giftcard_skin_path(@chain, giftcard_skin), confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
        <%= link_to "edit", edit_admin_chain_giftcard_skin_path(@chain, giftcard_skin), :class => "btn btn-primary" %>
        <%= link_to "show", admin_chain_giftcard_skin_path(@chain, giftcard_skin), :class => "btn btn-primary" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @giftcard_skins if @giftcard_skins.present? %>

<%= link_to "New", new_admin_chain_giftcard_skin_path(@chain), :class => "btn" if @chain.giftcard_skins.count < 20 %>