<div class="form-inputs">
 <h2>Title: <%= @giftcard_skin.title %></h2>
</div>

<div class="form-inputs">
  <p>Is default header image: <%= @giftcard_skin.is_active %></p>
</div>

<div class="form-inputs">
  <p>
    Description:
    <%= @giftcard_skin.description %>
  </p>
</div>

<div class="form-inputs">
  <p>
    App Image
    <br />
    <%= image_tag(@giftcard_skin.app_image.url) %>
  </p>
</div>

<div class="form-inputs">
  <p>
    Email header image
    <br />
    <%= image_tag(@giftcard_skin.email_header_image) %>
  </p>
</div>
