<thead>
<tr>
  <th>Restaurant</th>
  <th style="text-align: center;">Check Batch</th>
  <th style="text-align: center;">Code submitted </th>
  <th style="text-align: center;">Code Type </th>
  <th style="width:150px;">User email </th>
  <th style="text-align: center;">Check Id</th>
  <th style="text-align: center;">Loyalty Status</th>
  <th>Uploaded at</th>
</tr>
</thead>
<tbody>

<% @pos_check_uploads.each do |pos_check_upload| %>
    <tr>
      <td>
        <%= pos_check_upload.try(:pos_location).try(:restaurant).try(:name) %>
    </td>
    <td>
        <%= link_to "show check batch", "#", :id => "#{pos_check_upload.id}", :class => "btn btn-primary xml_data_link" %>
      </td>
      <td style="text-align: center;">
        <%= pos_check_upload.user_code %><br />
        <%= focus_usercode_status(pos_check_upload) %>
      </td>
      <td style="text-align: center;">
        <%= pos_check_upload.code_type.capitalize if  pos_check_upload.code_type && pos_check_upload.status.eql?(PosCheckUpload::STATUS[:PROCESSED]) %>
      </td>
      <td><%= pos_check_upload.try(:user).try(:email) %></td>
      <td style="text-align: center;"><%= pos_check_upload.check_id %></td>
      <td style="text-align: center;"><%= pos_check_upload.status_name %></td>
      <td><%= date_helper_timezone pos_check_upload.created_at %></td>
    </tr>
<% end %>
</tbody>
<tfoot>
<tr>
  <td colspan="13">
    <%= will_paginate @pos_check_uploads %>
  </td>
</tr>
</tfoot>

<script type="text/javascript">
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function () {
        $('#content-data').ajaxloader('show');
    });

    $('.xml_data_link').click(function(){
        $('#body-modal-text').html('<%= image_tag "loader.gif" %>');
        $.get('/admin/focus_check_uploads/'+$(this).attr('id')+'.js')
        $('#myModal').show();
    })
</script>