<%= simple_form_for([:admin_game, @job], :url => update_from_admin_admin_owner_job_path(@job)) do |f| %>
    <% if @job.errors.any? %>
        <% @job.errors.full_messages.each do |msg| %>
            <li class="alert-error"><%= msg %></li>
        <% end %>
    <% end %>

    <div class="form-inputs">
      <div class="field"></div>
      <div class="field">
        <%= f.input :description, :input_html => {:rows => 5} %>
      </div>
      <hr/>
      <div class="field">
        <%= text_field_tag "owner_job[total_users]", @job.sum_users , :style => 'width:51px;', :readonly => true%>
        users will get this reward / points
        <a href="#myModal" role="button" class="btn btn-info" data-toggle="modal" data-backdrop="static" data-keyboard="false" onclick="
        $.get('<%= update_step_admin_owner_job_path(@job, :step => 1) %>'); $('#btn_update').hide();
                $('#body_modal').html('<img src=\'/assets/spinner.gif\' style=\'margin-left:47%;\' alt=\'Spinner\'>');
        ">Edit Step 1</a>
      </div>
      <hr/>
      <div class="field">

        <%= "Reward" if OwnerJob::REWARD_TYPES.key(@job.reward_type.to_i) == "Reward" %> <br/>
        <%= case OwnerJob::REWARD_TYPES.key @job.reward_type.to_i
              when "Reward"
                 text_field_tag "owner_job[total_users]", Reward.find(@job.reward_id).name , :style => 'width:400px;', :readonly => true rescue ""
              when "Point"
                f.input :points, :input_html => {:id => 'point'}
              when "Notification"
                "Phone
         #{f.input :content_phone, :input_html => {:id => 'x_id'}} <br /><br />

        Email <br />
         #{f.input :subject_email, :input_html => {:id => 's_id'}} <br />
         #{f.input :content_email, :input_html => {:id => 'y_id'}} <br /><br />
        ".html_safe
            end
        %>
        <a href="#myModal" role="button" class="btn btn-info" data-toggle="modal" data-backdrop="static" data-keyboard="false" onclick="
        $.get('<%= update_step_admin_owner_job_path(@job, :step => 2) %>');$('#btn_update').hide();
                $('#body_modal').html('<img src=\'/assets/spinner.gif\' style=\'margin-left:47%;\' alt=\'Spinner\'>');
        ">Edit Step 2</a>
      </div>
    </div>
    <hr/>
    <div class="alert alert-info">
      Executed At:
      <div class="field">
        <%= @job.time_to_execute.html_safe  %>
        <br/>
        <a href="#myModal" role="button" class="btn btn-info" data-toggle="modal" data-backdrop="static" data-keyboard="false" onclick="
        $.get('<%= update_step_admin_owner_job_path(@job, :step => 3) %>');$('#btn_update').hide();
                $('#body_modal').html('<img src=\'/assets/spinner.gif\' style=\'margin-left:47%;\' alt=\'Spinner\'>');
        ">Edit Step 3</a>
      </div>
    </div>


    <div class="form-actions">
      <%= link_to "Back", admin_owner_jobs_path, :class => 'btn' %>
    </div>
<% end %>
<script>
    <% dt = @job.executed_at.in_time_zone rescue Time.zone.now %>
    $(document).ready(function () {
        $('#time_stamp__4i').val('<%= dt.strftime('%H') %>');
        $('#time_stamp__5i').val('<%= dt.strftime('%M') %>');
        $(".y-datepicker").datepicker({

            minDate:0,
            onSelect:function (theDate) {
                $("#dataEnd").datepicker('option', 'minDate', new Date(theDate));
            },
            beforeShow:function () {
                $('#ui-datepicker-div').css('z-index', 9999);
            },
            dateFormat:'yy-mm-dd'
        });
    });
</script>