<div class="" style="margin-left: 40px;">
  <label class="span2" for="inputEmail">
    <%= radio_button_tag "owner_job[reward_type]", "1", true, :id => 'by_reward' %> Send Reward
  </label>
  <div class="span2">
    <div id="by_reward_content" style="display:block;" class="">
      <div class="ui-select" style="width:200px">
        <%= select_tag "owner_job[reward_id]", options_from_collection_for_select(@rewards, "id", "name"), :include_blank => true %>
      </div>
    </div>
  </div>
</div>
<br style="clear:both;margin-bottom:20px;">

<div class="" style="margin-left: 40px;">
  <label class="span2" for="inputEmail">
    <%= radio_button_tag "owner_job[reward_type]", '2', false, :id => 'by_point' %>
    Send Points
  </label>
  <div class="span2">
    <div id="by_point_content" style="display:none;" class="">
      <%= text_field_tag "owner_job[points]", nil %> <i>* insert how many points</i>
    </div>
  </div>
</div>
<br style="clear:both;margin-bottom:20px;">


<div class="" style="margin-left: 40px;">
  <label class="span2" for="inputEmail">
    <%= check_box_tag "owner_job[notification]", true, :id => 'by_notif' %>
    Send Message
  </label>
  <div id="by_notif_content" style="display:block; overflow: auto; clear:both; margin-left: 50px;" class="">
    <div class="span2">
      Send Email : <%= check_box_tag "owner_job[push_email]", false, true %>
      <br/><br/>
      <div id="content_email">
        Subject <br />
        <%= text_field_tag "owner_job[subject_email]", nil, :style => "width:175px;" %>
        <br/><br/>
        Content <br />
        <%= text_area_tag "owner_job[content_email]", nil, :style => 'height:60px;width:175px;' %>
      </div>
    </div>
    <div class="span2" style="margin-left: 60px;">
      Push Notification:
      <%= check_box_tag "owner_job[push_phone]", false, true %>
      <br/><br/>

      <div id="content_phone">
        Content <br />
        <%= text_area_tag "owner_job[content_phone]", nil, :style => 'height:60px;width:175px;' %>
      </div>
      <span class="label label-info" id="notif_char">Max 100 Characters</span>
    </div>
  </div>
</div>
<br style="clear:both;margin-bottom:20px;">

<div class="alert alert-info fade in">
  <i class="icon-exclamation-sign"></i>
  <button type="button" class="close" data-dismiss="alert">×</button>
  You will need to create a new task for each item you wish to send.
</div>
<hr />
<%= render :partial => 'next_previous', :locals => {:next_step => 3, :previous_step => 1} %>


<script>
    $(document).ready(function () {
        $('#by_reward').change(function () {
            reset_selection();
            $('#by_reward_content').show();
            $('#owner_job_reward_id').show();
        });

        $('#by_point').change(function () {
            reset_selection();
            $('#by_point_content').show();
        });

        $('#owner_job_push_email').change(function () {
            if($('#owner_job_push_email').is(':checked')){
                $('#content_email').show();
                $('#owner_job_push_email').val("true");
                //$('#owner_job_content_email').show();
            }else{
                $('#content_email').hide();
                $('#owner_job_push_email').val("false");
                //$('#owner_job_subject_email').hide();
                //$('#owner_job_content_email').hide();
            }
        });

        $('#owner_job_push_phone').change(function () {
            if($('#owner_job_push_phone').is(':checked')){
                //$('#owner_job_content_phone').show();
                $('#content_phone').show();
                $('#notif_char').show();
                $('#owner_job_push_phone').val("true");
            }else{
                //$('#owner_job_content_phone').hide();
                $('#content_phone').hide();
                $('#notif_char').hide();
                $('#owner_job_push_phone').val("false");
            }
        });

        $('#owner_job_notification').change(function () {
            if($('#owner_job_notification').is(':checked')){
                //reset_selection();
                $('#by_notif_content').show();

                $('#owner_job_push_email').attr("checked", "checked");
                $('#owner_job_push_email').change();
                $('#owner_job_push_email').val("true");
                $('#owner_job_notification').val("true");

                $('#owner_job_push_phone').attr("checked", "checked");
                $('#owner_job_push_phone').change();
                $('#owner_job_push_phone').val("true");
            }else{
                $('#owner_job_notification').val("true");
                $('#by_notif_content').hide();
            }
        });

        function reset_selection() {
            $('#users_content').html('');
            $('#reward_id').val('');
            $('#by_reward_content').hide();
            $('#by_point_content').hide();
            // $('#by_notif_content').hide();
            $('#by_reward_content').hide();
            $('#owner_job_reward_id').hide();
            $('#owner_job_push_email').val("false");
            $('#owner_job_push_phone').val("false");
        }

        $('#owner_job_content_phone').keyup(function () {
            var max = 100;
            var len = $(this).val().length;
            if (len >= max) {
                var char = max - len;
                $('#notif_char').removeClass('label-info');
                $('#notif_char').addClass('label-important');
                $('#notif_char').text(char+ ' characters')
//                $('#notif_char').text(' you have reached the limit');
            } else {
                var char = max - len;
                $('#notif_char').text(char + ' characters left');
                $('#notif_char').removeClass('label-important');
                $('#notif_char').addClass('label-info');
                $('#owner_job_content_phone').removeClass('error');
            }
        });

    });
</script>