<% sched = @job.owner_scheduler %>
<% time_exec = @job.time_to_execute_job %>
<% hour_string = @job.time_to_execute_job.hour.to_s rescue '0'%>
<% min_string = @job.time_to_execute_job.min.to_s rescue '0' %>

<div id="error_datetime" class="alert-error"></div>
<%= form_tag update_step_ajax_admin_owner_job_path(@job), :class => 'form-horizontal', :remote => true do %>
    <div id="error_datetime" class="alert-error"></div>
    <% dt = @job.executed_at.in_time_zone.strftime('%Y-%m-%d') rescue Time.zone.now.strftime('%Y-%m-%d') %>
    <div class="control-group">
      <label class="control-label" for="inputEmail" style="padding-left:10%;text-align:left;width:110px;">
        <%= radio_button_tag "owner_job[schedule_type]", "1", @job.schedule_type == 1  || @job.schedule_type.blank?, :id => 'by_one_time' %> One Time
      </label>
      
      <div class="controls">
        <div id="by_one_time_content" style="display:block;">
          Date <%= text_field_tag 'date', (Time.zone.now + 72.hours).strftime('%Y-%m-%d'), :class => 'x-datepicker', :style => 'width:220px;cursor: pointer;', :readonly => true %>
          <br/>
          Time
          <%= time_select 'time_stamp', nil, {:ampm => true, :minute_step => 15,
                                              :default => {:hour => hour_string, :minute => min_string}},
                          {:style => "width: 75px;"} %>
          <br/>
        </div>
      </div>
    </div>

    <!-- daily -->
    <div class="control-group">
      <label class="control-label" for="inputEmail" style="padding-left:10%;text-align:left;width:110px;">
        <%= radio_button_tag "owner_job[schedule_type]", "2", @job.schedule_type == 2, :id => 'by_daily' %> Daily
      </label>
      
      <div class="controls">
        <div id="by_daily_content" style="display:none;">
          Time
          <%= time_select 'daily', nil, {:ampm => true, :minute_step => 15,
                                         :default => {:hour => hour_string, :minute => min_string}},
                          {:style => "width: 75px;"} %>
          <br/>
        </div>
      </div>
    </div>

    <!-- Weekly -->
    <div class="control-group">
      <label class="control-label" for="inputEmail" style="padding-left:10%;text-align:left;width:110px;">
        <%= radio_button_tag "owner_job[schedule_type]", "3",@job.schedule_type == 3, :id => 'by_weekly' %> Weekly
      </label>
      
      <div class="controls">
        <div id="by_weekly_content" style="display:none;">
          Choose Day
          :
          
          <%= select_tag "weekly", options_for_select([['Sunday', 0], ['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6]], :selected => nil), {:style => "width: 75px;"} %>
          

          <%= time_select 'time_stamp_weekly', nil, {:ampm => true, :minute_step => 15,
                                                     :default => {:hour => hour_string, :minute => min_string}},
                          {:style => "width: 75px;"} %>
          <br/>
        </div>
      </div>
    </div>

    <%= hidden_field_tag "step", "3" %>

    <div class="control-group">
      <label class="control-label" for="inputEmail" style="padding-left:10%;text-align:left;width:110px;">
        <%= radio_button_tag "owner_job[schedule_type]", "4", @job.schedule_type == 4, :id => 'by_monthly' %> Monthly
      </label>
      
      <div class="controls">
        <div id="by_monthly_content" style="display:none;">
          <%= select_tag "monthly", options_for_select([['Sunday', 0],
                                                        ['Monday', 1],
                                                        ['Tuesday', 2],
                                                        ['Wednesday', 3],
                                                        ['Thursday', 4],
                                                        ['Friday', 5],
                                                        ['Saturday', 6]],
                                                       :selected => 'Saturday'),
                         {:style => "width: 75px;"}
          %>
          <%= time_select 'time_stamp_montly', nil, {:ampm => true, :minute_step => 15, :default => {:hour => hour_string, :minute => min_string}}, {:style => "width: 75px;"} %>

          <br>
          <br/>
        </div>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label" for="inputEmail" style="padding-left:10%;text-align:left;width:110px;"></label>
      
      <div class="controls">
        <div id="start_hide" class="hide">
          <label class="" for="xx" style="margin-right: 10px; float: left; padding-top: 5px; width: 60px;">
            Start Date
          </label>

          <div class="control">
            <%= text_field_tag 'start_date', sched.start_at.strftime('%Y-%m-%d'), :class => 'start-datepicker', :style => 'widht:60px;cursor: pointer;', :readonly => true %>
          </div>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputEmail" style="padding-left:10%;text-align:left;width:110px;"></label>
      <div class="controls">
        <div id="end_hide" class="hide">
          <label class="" for="xx" style="margin-right: 10px; float: left; padding-top: 5px; width: 60px;">
            End Date
          </label>

          <div class="control">
            <%= text_field_tag 'end_date', sched.end_at.strftime('%Y-%m-%d'), :class => 'start-datepicker', :style => 'widht:60px;cursor: pointer;', :readonly => true %>
          </div>
        </div>
        <%= submit_tag "Update Step 1", :id => "submit_update", :class => 'hide' %>
      </div>

    </div>
<% end %>


<script>
    $(document).ready(function () {
        edit_schedule();
        $('#weekly').val('<%= sched.next_run.wday rescue 0 %>');
        $('#monthly').val('<%= sched.next_run.wday rescue 0 %>');
        <% dt = @job.executed_at.in_time_zone rescue Time.zone.now %>
        $('#time_stamp__4i').val('<%= dt.strftime('%H') %>');
        $('#time_stamp__5i').val('<%= dt.strftime('%M') %>');
        $('.time_aw').first().val('<%= dt.strftime('%H') %>');
        $('.time_aw').last().val('<%= dt.strftime('%M') %>');
        $('#date_view').text($('#time_stamp__4i').val());
        $('#time_view').text($('#time_stamp__5i').val());
        $('#time_stamp__4i').change(function () {
            $('#date_view').text($('#time_stamp__4i').val());
            $('#time_view').text($('#time_stamp__5i').val());
        });

        $('#time_stamp__5i').change(function () {
            $('#date_view').text($('#time_stamp__4i option:selected').text().replace(' ', ':' + $('#time_stamp__5i').val()));
        });

        $('.x-time-picker').timepicker({
            ampm:true,
            stepHour:0.5,
            stepMinute:1
        });

        $(".x-datepicker").datepicker({
            dateFormat:'yy-mm-dd'
        });

        $(".start-datepicker").datepicker({
            dateFormat:'yy-mm-dd'
        });


        $('#by_one_time').change(function () {
            reset_schedule();
            $('#by_one_time_content').show();
            $('#start_hide').hide();
            $('#end_hide').hide();
        });

        $('#by_daily').change(function () {
            reset_schedule();
            $('#by_daily_content').show();
        });
        $('#by_weekly').change(function () {
            reset_schedule();
            $('#by_weekly_content').show();
        });

        $('#by_monthly').change(function () {
            reset_schedule();
            $('#by_monthly_content').show();
        });


    });
    function reset_schedule() {
        $('#by_one_time_content').hide();
        $('#by_daily_content').hide();
        $('#by_weekly_content').hide();
        $('#by_monthly_content').hide();
        $('#start_hide').show();
        $('#end_hide').show();
    }

    function edit_schedule(){
        if($('#by_daily').attr('checked')){
            reset_schedule();
            $('#by_daily_content').show();
        }else if($('#by_weekly').attr('checked')){
            reset_schedule();
            $('#by_weekly_content').show();
        }else if($('#by_monthly').attr('checked')){
            reset_schedule();
            $('#by_monthly_content').show();
        }
    }
</script>