<%= form_tag update_step_ajax_admin_owner_job_path(@job), :class => 'form-horizontal', :remote => true do %>
<div class="control-group">
  <label class="control-label" for="inputEmail">
    <%= radio_button_tag "owner_job[reward_type]", "1", @job.reward_type == 1, :id => 'by_reward' %> I would like to push rewards
  </label>
  <%= hidden_field_tag "step","2" %>
  <div class="controls">
    <div id="by_reward_content" style="display:<%=  @job.reward_type == 1 ? 'block': 'none' %>;">
      <%= select_tag "owner_job[reward_id]", options_from_collection_for_select(@rewards, "id", "name", @job.reward_id), :include_blank => true %>
    </div>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="inputEmail">
    <%= radio_button_tag "owner_job[reward_type]", '2', @job.reward_type == 2, :id => 'by_point' %>
    I would like to push points
  </label>

  <div class="controls">
    <div id="by_point_content" style="display:<%= @job.points.blank? ? 'none' : 'block' %>;">
      Insert How many Points  <%= text_field_tag "owner_job[points]", @job.points %>
    </div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="inputEmail">
    <%= radio_button_tag "owner_job[reward_type]", '3', @job.reward_type == 3, :id => 'by_notif' %>
    I would like to push notification
  </label>

  <div class="controls">
    <div id="by_notif_content" style="height:253px;overflow:auto;display:<%= @job.reward_type == 3 ? 'block' : 'none' %>;">
      Push Email : <%= check_box_tag "owner_job[push_email]", true, @job.push_email? %>
      <br/><br/>
      <div id="content_email">
        Subject <%= text_field_tag "owner_job[subject_email]", @job.subject_email, :style => "" %>
        <br/><br/>
        Content <%= text_area_tag "owner_job[content_email]", @job.content_email, :style => 'height:90px;width:280px;' %>
      </div>
      <br/>
      <br/>
      Push Phone:
      <%= check_box_tag "owner_job[push_phone]", true, @job.push_phone? %>
      <br/><br/>
      <div id="content_phone">
        Content <%= text_area_tag "owner_job[content_phone]", @job.content_phone, :style => 'height:90px;width:280px;' %>
      </div>
      <br/>
    </div>
  </div>
</div>
    <div class="controls">
      <%= submit_tag "Update Step 1", :id => "submit_update", :class => 'hide' %>
    </div>
<% end %>

<script>
    $(document).ready(function () {
        $('#by_reward').change(function () {
            reset_selection();
            $('#by_reward_content').show();
            $('#owner_job_reward_id').show();
        });

        $('#by_point').change(function () {
            reset_selection();
            $('#by_point_content').show();
        });

        $('#owner_job_push_email').change(function () {
            if($('#owner_job_push_email').is(':checked')){
                $('#content_email').show();
                $('#owner_job_push_email').val('true');
            }else{
                $('#content_email').hide();
                $('#owner_job_push_email').val('false');
            }
        });

        $('#owner_job_push_phone').change(function () {
            if($('#owner_job_push_phone').is(':checked')){
                $('#owner_job_push_phone').val('true');
                $('#content_phone').show();
            }else{
                $('#content_phone').hide();
                $('#owner_job_push_phone').val('false');
            }
        });

        $('#by_notif').change(function () {
            reset_selection();
            $('#by_notif_content').show();
        });

        function reset_selection() {
            $('#users_content').html('');
            $('#reward_id').val('');
            $('#by_reward_content').hide();
            $('#by_point_content').hide();
            $('#by_notif_content').hide();
            $('#by_reward_content').hide();
            $('#owner_job_reward_id').hide();
            $('input:text').val('');
        }

    });
</script>