<h2> <%= params['type'].blank? ? "Queue" : params['type'].titleize %> Owner job List</h2>
<br/><br/>
<%= form_tag search_admin_owner_jobs_path, :id => "form", :class => 'form-horizontal', :style => "", :remote => true, :method => :get do %>
    Filter : <%= select_tag 'search[type]', options_for_select([['queue', '1'], ['processing', '2'],
                                                                ['rejected', '5'], ['completed', '3'], ['failed', '4']],
                                                               :selected => @type.to_s),
                            :prompt => "All", :class => 'x-col3-dropdown', :style => "width:98px"
%><br />
    Chain : <%= select_tag('search[chain_id]',
                           options_from_collection_for_select(Chain.active.order("name"), :id, :name,@chain_id.to_s),:prompt => "All"
                ) %>
    <%= submit_tag "submit", :id => "sub" %>
<% end %>
<div id="container">
<%= render 'list' %>
</div>
<br/><br/>
