<% require 'csv' %>
<% headers = ["id", "Email", "Date Sent", "Notification"] %>
<%= CSV.generate_line headers, :row_sep => ?\t, :quote_char => ?\ %>

<%# if its from the serialize things %>
<% if @job.ownerjob_logs.limit(1).size == 0 %>
    <% begin %>
        <% @job.owner_job_histories.first.success.each do |user| %>
            <% row = [
                    (user[:id] rescue '-'),
                    (user[:email] rescue '-'),
                    (user[:date_sent] rescue '-'),
                    (user[:success_notif] rescue '-'),
            ] %>
            <%= CSV.generate_line row, :row_sep => ?\t, :quote_char => ?\ %>
        <% end %>
    <% rescue %>
        <% if @job.miss_you != true %>
            <% if !@job.select_users.blank? and @job.select_users.count >= 1 %>
                <% @job.select_users.each do |user| %>
                    <% row = [
                            user.id,
                            user.email
                    ] %>
                    <%= CSV.generate_line row, :row_sep => ?\t, :quote_char => ?\ %>
                <% end %>
            <% end %>
        <% else %>
            <% unless @job.user_miss_you.blank? %>
                <% @job.user_miss_you.each do |user| %>
                    <% row = [
                            user.id,
                            user.email
                    ] %>
                    <%= CSV.generate_line row, :row_sep => ?\t, :quote_char => ?\ %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% else %>
    <% puts "LOG CSVVVVVVVVVVVVVVVVVVVVVVVV" %>
    <% # if its from owner job logs tables      %>
    <% total_pages = @job.ownerjob_logs.success.paginate(:page => 1, :per_page => 1000).total_pages %>

    <% 1.upto(total_pages) do |i| %>
        <% logs = @job.ownerjob_logs.success.paginate(:page => i, :per_page => 1000) %>

        <% logs.each do |log| %>
            <% row = [
                    log.user_id,
                    log.email,
                    log.date_sent,
                    (OwnerjobLog::NOTIFICATION_STATUS.key(log.notification_status) rescue "-")
            ] %>
            <%= CSV.generate_line row, :row_sep => ?\t, :quote_char => ?\ %>
        <% end %>
    <% end %>
<% end %>
