<% poj = params['owner_job'] %>
<% if params['step'] == "1" %>
var array_success = [];
if ($('#by_percentage').is(':checked')) {
    <% @job.update_attributes(params[:owner_job]) if params['owner_job']['percentage'].to_i <= 100 %>
        $('#edit_container').html('<%= escape_javascript(render 'edit_form') %>');
        $('#btn_close').click();

} else if ($('#by_activity').is(':checked')) {

    <% @job.update_attributes(params[:owner_job])  if params['owner_job']['activity_days'].to_i > 0%>
        $('#btn_close').click();
        $('#edit_container').html('<%= escape_javascript(render 'edit_form') %>');

} else {
<% @job.update_attributes(params[:owner_job]) %>
    $('#btn_close').click();
    $('#edit_container').html('<%= escape_javascript(render 'edit_form') %>');
    if ($('#by_reward').is(':checked')) {
        $('#by_reward_content').show();
        $('#owner_job_reward_id').show();
    } else if ($('#by_point').is(':checked')) {
        $('#by_point_content').show();
        $('#owner_job_points').show();
    } else {
        $('#by_notif_content').show();
    }
}
<% elsif params['step'] == "2" %>
///////////////////////////////////////////// step 2 validate 1st

var arr1 = [];
if ($('#by_reward').is(':checked')) {
    if ($('#owner_job_reward_id').val() == '') {
        $('#owner_job_reward_id').addClass('error');
        $('#btn_update').show();
        $('#btn_loading').hide();
    } else {
    <% @job.update_attributes(params[:owner_job]) unless params['owner_job']['reward_id'].blank? %>
        $('#btn_close').click();
        $('#edit_container').html('<%= escape_javascript(render 'edit_form') %>');
    }
} else if ($('#by_point').is(':checked')) {
    if ($('#owner_job_points').val() == '') {
        $('#owner_job_points').addClass('error');
        $('#btn_update').show();
        $('#btn_loading').hide();
    } else {
    <% @job.update_attributes(params[:owner_job]) unless params['owner_job']['points'].blank? %>
        $('#edit_container').html('<%= escape_javascript(render 'edit_form') %>');
        $('#btn_close').click();
    }
} else {
    if ($('#owner_job_push_email').is(':checked') || $('#owner_job_push_phone').is(':checked')) {
        $('#notif_error').hide();
        if ($('#owner_job_push_email').is(':checked')) {
            if ($('#owner_job_subject_email').val() == '') {
                $('#owner_job_subject_email').addClass('error');
                arr1.push('1');
            } else {
                $('#owner_job_subject_email').removeClass('error');
                arr1.push('0');
            }

            if ($('#owner_job_content_email').val() == '') {
                $('#owner_job_content_email').addClass('error');
                arr1.push('1');
            } else {
                $('#owner_job_content_email').removeClass('error');
                arr1.push('0');
            }
        }

        console.log($('#owner_job_subject_email').val());
        console.log($('#owner_job_content_email').val());
        console.log($('#owner_job_content_phone').val());
        if ($('#owner_job_push_phone').is(':checked')) {
            if ($('#owner_job_content_phone').val() == '') {
                $('#owner_job_content_phone').addClass('error');
                arr1.push('1');
            } else {
                $('#owner_job_content_phone').removeClass('error');
                arr1.push('0');
            }
        }
        if (jQuery.inArray("0", arr1) != -1) {
        <% if params["owner_job"]["push_email"] == "true" || params["owner_job"]["push_phone"] == "true" %>
        <% if !params["owner_job"]["subject_email"].blank? &&  !params["owner_job"]["content_email"].blank?%>
        <%  @job.update_attributes(params[:owner_job]) %>
        <% end %>
        <% unless params["owner_job"]["content_phone"].blank?%>
        <%  @job.update_attributes(params[:owner_job]) %>
        <% end %>
        <% end %>
            $('#edit_container').html('<%= escape_javascript(render 'edit_form') %>');
            $('#btn_close').click();
        }
    } else {
        $('#notif_error').show();
        $('#btn_update').show();
        $('#btn_loading').hide();
    }
}

<% else %>

///////////////////////////////////////////////////////step 3
if ($('#date').val() != "" && $('#time_stamp').val() != '') {
    // validation hour and minute.
    var hour = '<%= params['time_stamp']['(4i)'] %>';
    hour = parseInt(hour, 10);
    var date = "<%= @date.in_time_zone.strftime('%Y-%m-%d') %>";
    var min = '<%= params['time_stamp']['(5i)'] %>';
    min = parseInt(min, 10);
    console.log(hour);
    console.log(date);
    console.log(min);

    if (date == '<%= Time.zone.now.strftime('%Y-%m-%d') %>' || Date(date) > Date('<%= Time.zone.now.strftime('%Y-%m-%d') %>')) {  //todays date
        if (hour < <%= Time.zone.now.hour  %> && date == '<%= Time.zone.now.strftime('%Y-%m-%d') %>') {
            console.log("lasut");
            console.log(hour);
            $('#error_datetime').html("<button data-dismiss='alert' class='close' type='button'>×</button>" +
                    "<h4 class='alert-heading'>Error!</h4>" +
                    "<p>Date time error, please check. cannot be past date than <%= Time.zone.now %></p> ");
            $('#btn_update').show();
            $('#btn_loading').hide();
        } else {
            if ((hour == <%= Time.zone.now.hour  %> && min < <%= Time.zone.now.min %>) && date == '<%= Time.zone.now.strftime('%Y-%m-%d') %>') {
                console.log('masuk else ');
                $('#error_datetime').html("<button data-dismiss='alert' class='close' type='button'>×</button>" +
                        "<h4 class='alert-heading'>Error!</h4>" +
                        "<p>Date time error, please check. cannot be past date than <%= Time.zone.now %></p> ");
                $('#btn_update').show();
                $('#btn_loading').hide();
            } else {
                console.log("asup update date dong");
                console.log("<%#= @date > Time.zone.now %>");

                $('#btn_close').click();
                $('#edit_container').html('<%= escape_javascript(render 'edit_form') %>');
            }
        }
    } else {
        console.log('masuk else gara2 date ');
        $('#error_datetime').html("<button data-dismiss='alert' class='close' type='button'>×</button>" +
                "<h4 class='alert-heading'>Error!</h4>" +
                "<p>Date time error, please check. cannot be past date than <%= Time.zone.now %></p> ");
        $('#btn_update').show();
        $('#btn_loading').hide();
    }
    // end check date
    $('#btn_close').click();
    $('#edit_container').html('<%= escape_javascript(render 'edit_form') %>');
} else {
    $('#date').addClass('error');
    $('#time_stamp').addClass('error');
}

<% end %>
$('#btn_update').show();
$('#btn_loading').hide();
$('#btn_close').show();
