<div class="span6">
  <%= simple_form_for([:admin, @vantiv_credential], :remote => true) do |f| %>
    <%= render "shared/error_messages", :target => @vantiv_credential %>
    <div class="form-inputs">
      <div class="span4">
        <div class="field">
          <%= hidden_field_tag "vantiv_credential[chain_id]", @chain.id %>
        </div>
        <div class="field">
          <%= f.input :account_id %>
        </div>
        <div class="field">
          <%= f.input :account_token %>
        </div>
        <div class="field">
          <%= f.input :application_id %>
        </div>
        <div class="field">
          <%= f.input :acceptor_id %>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="form-actions">
        <%= button_tag "Submit", data: {:disable_with => "Please wait..."}, :class => 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

