<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>AccountID</th>
    <th>AccountToken</th>
    <th>ApplicationID</th>
    <th>AcceptorID</th>

    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% unless @vantiv_credential.blank? %>
    <tr>
      <td><%= @vantiv_credential.id %></td>
      <td><%= @vantiv_credential.account_id %></td>
      <td><%= @vantiv_credential.account_token %></td>
      <td><%= @vantiv_credential.application_id %></td>
      <td><%= @vantiv_credential.acceptor_id %></td>
      <td><%= link_to "Edit", edit_admin_vantiv_credential_path(@vantiv_credential), :class => 'nyroModal', :onclick => "$('.btn-group').click();" %></td>
      <td><%= link_to "Delete", admin_vantiv_credential_path(@vantiv_credential), :method => :delete, :confirm => "Are you sure?" %></td>
    </tr>
  <% else %>
    <tr>
      <td colspan="7"><%= link_to "New",new_admin_vantiv_credential_path(:chain_id => @chain.id), :class => 'nyroModal' %></td>
    </tr>
  <% end %>
</table>

<script>
    $('.nyroModal').nyroModal();
</script>
<style>

    table.table td { word-wrap: break-word; }
</style>