<!DOCTYPE html>
<html>
<head>
  <title><%= h(yield(:title) || "Relevant") %></title>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/api_sign/lpq/favicon.ico"/>
  <%= stylesheet_link_tag "api_sign/bootstrap" %>
  <%= stylesheet_link_tag "api_sign/lpq" %>
  <%= javascript_include_tag "api_sign/jquery-1.11.3.min.js" %>
  <%= javascript_include_tag "api_sign/bootstrap.min.js" %>

  <style type="text/css">
      _:-ms-fullscreen, :root .sidebar-nav > li.nav-item {font-weight: bold;}
  </style>

  <!--[if IE ]>
  <style type="text/css">.sidebar-nav > li.nav-item {font-weight: bold;}</style>
  <![endif]-->

  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

<div class="container-fluid fluid-head">
  <section class="header">
    <nav class="navbar hidden-xs">
      <div class="container">

        <div class="navbar margin-bzero" id="navbar">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="pull-left">
                <img src="/assets/api_sign/lpq/Logo.png" class="img-responsive" style="height: 130px; margin-top: 20px;" />
              </div>
            </div>
          </div>
        </div>

      </div>
    </nav>

    <nav class="navbar hidden-sm hidden-md hidden-lg">
      <div class="container" style="">
        <div class="row">
          <div class="col-xs-4 col-sm-4">
            <div class="pull-left bar-btn" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu" type="button" >
              <img src="/assets/api_sign/lpq/Menu.png"/>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4">
            <img src="/assets/api_sign/lpq/Logo-mobile.png" class="img-responsive" style="    margin: auto;margin-top: 5px;" />
          </div>
          <div class="col-xs-4 col-sm-4"></div>
        </div>
        <div class="collapse" id="collapseMenu">
          <div class="sidebar-wrapper">

            <div class="sidebar-wrapper-left">
              <ul class="sidebar-nav">
                <li class="close-btn">
                  <div class="bar-btn" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu" type="button" >
                    <span class="glyphicon glyphicon-remove" style="color: #fff;"></span>
                  </div>
                </li>
                <li class="nav-item">
                  <%= link_to "Log In", "/users/sign_in" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Sign Up", "/users/sign_up" %>
                </li>
              </ul>
            </div>

            <div class="sidebar-wrapper-right">
            </div>

          </div>

          <div class="nav-block-bg"></div>
        </div>
      </div>

    </nav>

  </section>

  <section class="content">
    <div class="lpq-body">
      <% if alert %>
          <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="notice-info">
              <% if alert.include?("You need to sign in or sign up before continuing.") %>
                  Please Sign In to an existing account or Sign Up for a new account to proceed.
              <% elsif alert.include?("Reset password token is invalid") %>
                  Reset password link failed.
              <% else %>
                  <%= alert %>
              <% end %>
            </h4>
          </div>
      <% end %>

      <% if notice %>
          <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="notice-info"><%= notice %></h4>
          </div>
      <% end %>

      <%= yield %>
    </div>

    <div class="footer text-center">
      <% android = request.env['HTTP_USER_AGENT'].to_s =~ /Android/ %>
      <% ipod = request.env['HTTP_USER_AGENT'].to_s =~ /iPod/ %>
      <% iphone = request.env['HTTP_USER_AGENT'].to_s =~ /iPhone/ %>
      <% ipad = request.env['HTTP_USER_AGENT'].to_s =~ /iPad/ %>
      <% if android.present? %>
          <div class="col-xs-12 col-md-12 foot-label-text pb50">
            Privacy Policy | Terms of Use
          </div>
      <% elsif ipod.present? || iphone.present? || ipad.present? %>
          <div class="col-xs-12 col-md-12 foot-label-text pb20">
            Privacy Policy | Terms of Use
          </div>
      <% else %>
          <div class="col-xs-12 col-md-12 foot-label-text">
            Privacy Policy | Terms of Use
          </div>
      <% end %>
    </div>

  </section>
</div>

</body>

<script type="text/javascript">
    $('input#user_first_name, input#user_last_name').bind('keypress', function (event) {
        var regex = new RegExp("^[a-zA-Z]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });

    $('input#user_referral_code').bind('keypress', function (event) {
        var regex = new RegExp("^[a-zA-Z0-9]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });

    $('input#user_email').bind('keypress', function (event) {
        var regex = new RegExp("^[a-zA-Z0-9_@.]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });

    function check_email(input) {
        if(input.validity.typeMismatch){
            input.setCustomValidity("This email address is invalid. Please double check your entry.");
        }
        else {
            input.setCustomValidity("");
        }
    }

    function InvalidMsg(textbox) {
        if(textbox.validity.patternMismatch){
            textbox.setCustomValidity('Only letters not numbers');
        }else {
            textbox.setCustomValidity('');
        }
        return true;
    }

    $("select#user_dob_month").on("change", function(){
        var monVal = $(this).val();
        if (monVal == 2){
            $("#user_dob_day option[value='30']").remove();
            $("#user_dob_day option[value='31']").remove();
        }else{
            if($("#user_dob_day option[value='30']").length == 0){
                $("#user_dob_day option:last").after($('<option value="30">30</option>'));
            }

            if($("#user_dob_day option[value='31']").length == 0){
                $("#user_dob_day option:last").after($('<option value="31">31</option>'));
            }
        }
    });

    $(document).ready(function(){
        var windowHeight = $(window).height();
        var headerHeight = $("section.header").height();
        var footerHeight = 60
        var total = windowHeight - headerHeight - footerHeight
        $('.lpq-body').css("min-height", total + "px" );
    });

</script>

</html>

