<!DOCTYPE html>
<html>
<head>
  <title><%= h(yield(:title) || "Relevant") %></title>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/api_sign/nekter/nekter.ico"/>
  <%= stylesheet_link_tag "api_sign/bootstrap" %>
  <%= stylesheet_link_tag "api_sign/nekter" %>
  <%= javascript_include_tag "api_sign/jquery-1.11.3.min.js" %>
  <%= javascript_include_tag "api_sign/bootstrap.min.js" %>

  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

    <div class="container">
      <section class="header">
        <nav class="navbar hidden-xs">
          <div class="container">

            <div class="navbar margin-bzero" id="navbar">
              <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="pull-right">
                      <img src="/assets/api_sign/nekter/Nektar-Logo.png" class="img-responsive" style="height: 60px; margin-top: 20px;" />
                      <!--<a href="http://nekter.olosandbox.com/home/" class="navbar-brand"></a>-->
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                  <ul class="nav navbar-nav pull-right">
                    <li role="presentation">
                      <%= link_to "Login", "/users/sign_in" %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </nav>

        <nav class="navbar hidden-sm hidden-md hidden-lg">
          <div class="container" style="">
            <div class="row">
              <div class="col-xs-4 col-sm-4">
                <div class="pull-left bar-btn" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu" type="button" >
                  <img src="/assets/api_sign/nekter/Menu.png"/>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4">
                <img src="/assets/api_sign/nekter/Nektar-Logo.png" class="img-responsive center-block mini-brand"/>
                <!--<a href="http://nekter.olosandbox.com/home/" class=""></a>-->
              </div>
              <div class="col-xs-4 col-sm-4"></div>
            </div>
            <div class="collapse" id="collapseMenu">
              <div class="sidebar-wrapper">

                <div class="sidebar-wrapper-left">
                  <ul class="sidebar-nav">
                    <li class="close-btn">
                      <div class="bar-btn" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu" type="button" >
                        <span class="glyphicon glyphicon-remove" style="color: #33bbc9;"></span>
                      </div>
                    </li>
                    <!--<li class="nav-item">-->
                      <!--<%#= link_to "HOME", "http://nekter.olosandbox.com/home/" %>-->
                    <!--</li>-->
                    <li class="nav-item">
                      <%= link_to "Log in", "/users/sign_in" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "SIGN UP", "/users/sign_up" %>
                    </li>
                  </ul>
                </div>

                <div class="sidebar-wrapper-right">
                </div>

              </div>

              <div class="nav-block-bg"></div>
            </div>
          </div>

        </nav>

     </section>

      <section class="content">
        <% if alert %>
          <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="notice-info">
              <% if alert.include?("You need to sign in or sign up before continuing.") %>
                  Please Sign In to an existing account or Sign Up for a new account to proceed.
              <% elsif alert.include?("Reset password token is invalid") %>
                  Reset password link failed.
              <% else %>
                <%= alert %>
              <% end %>
            </h4>
          </div>
        <% end %>

        <% if notice %>
            <div class="alert alert-info alert-dismissible fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="notice-info"><%= notice %></h4>
            </div>
        <% end %>

        <div class="nekter-body">
          <div style="background-color: rgba(255,255,255,0.5); padding-top: 40px">

            <%= yield %>
            <div class="row text-center">
              <div class="col-xs-12 col-md-12 mtop70">
                <a href="/users/sign_up" class="link-url">SIGN UP</a>  /
                <a href="/users/password/new" class="link-url">FORGOT YOUR PASSWORD</a>  /
                <%= link_to "SIGN IN WITH FACEBOOK", user_omniauth_authorize_path(:facebook_nekter), class: 'link-url' %>
                <br />
                <br />
              </div>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <% android = request.env['HTTP_USER_AGENT'].to_s =~ /Android/ %>
          <% if android.nil? %>
            <div class="col-xs-12 col-md-12 foot-label-text pb20">
              Read our Terms of Use and Privacy Policy
            </div>
          <% else %>
            <div class="col-xs-12 col-md-12 foot-label-text pb50">
              Read our Terms of Use and Privacy Policy
            </div>
          <% end %>
        </div>

      </section>
    </div>

  </body>

<script type="text/javascript">
    function check_email(input) {
        if(input.validity.typeMismatch){
            input.setCustomValidity("This email address is invalid. Please double check your entry.");
        }
        else {
            input.setCustomValidity("");
        }
    }
</script>

</html>

