<h1>Listing Privacy Policy </h1>

<table>
  <tr>
    <th>Content</th>
    <th>Locale</th>
    <th>Action</th>
  </tr>

<% @privacy_policies.each do |privacy_policy| %>
  <tr>
    <td><%= privacy_policy.content.try(:slice, 0, 100) %>...</td>
    <td><%= privacy_policy.locale.name %></td>
    <td><%= link_to 'Show', admin_privacy_policy_path(privacy_policy) %> |
        <%= link_to 'Edit', edit_admin_privacy_policy_path(privacy_policy) %> |
        <%= link_to 'Destroy', admin_privacy_policy_path(privacy_policy), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Privacy Policy', new_admin_privacy_policy_path %>
