<p id="notice"><%= notice %></p>

<p>
  <b>Locale:</b><%= @privacy_policy.locale.name %><br/>
  <b>Content:</b>
  <%= markdown(@privacy_policy.content) %>
</p>


<%= link_to 'Edit', edit_admin_privacy_policy_path(@privacy_policy) %> |
<%= link_to 'Back', admin_privacy_policies_path %>
