<h1>Reward Transaction</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Restaurant Reward ID</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Restaurant</th>
    <th>Reward</th>
    <th>Points</th>
    <th>Staffcode</th>
    <th>Date</th>
  </tr>
  <% @reward_transactions.each do |rt| %>
    <tr>
      <td><%= rt.id %></td>
      <td><%= rt.restaurant_reward_id %></td>
      <td><%= rt.latitude %></td>
      <td><%= rt.longitude %></td>
      <td><%= rt.restaurant.name rescue nil %></td>
      <td><%= rt.reward.name rescue nil %></td>
      <td><%= rt.points %></td>
      <td><%= rt.staffcode %></td>
      <% timezone ||= Setting.default_time_zone["zone"] || Time.zone.now.zone %>
      <td><%= rt.created_at.in_time_zone(timezone).strftime("%m/%d/%Y %H:%M") %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back', admin_users_path %>