<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  
    <h3 id="myModalLabel"> Referral Name :<%= @referral_program.name %> </h3>
    <h3 id="myModalLabel"> Referral for  :<%= @referral_code.user.email %> </h3>
    <h3 id="myModalLabel"> Referral Code  :<%= @referral_code.code %> </h3>
</div>
<div class="modal-body">
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
      </tr>
    </thead>
    <% unless @referral_users.blank? %>
    <% @referral_users.each do |user_ref|  %>
      <tr>
        <td><%= user_ref.user.email if user_ref.user %></td>
        <td><%= show_ref_incentive(user_ref.referral_program.incentive) unless user_ref.referral_program.blank? %></td>
        <td><%= link_to "#{user_ref.referral_program.name}",admin_referral_program_path(user_ref.referral_program) unless user_ref.referral_program.blank? %></td>
      </tr>
    <% end %>
      <%else%>
      <tr>
        <td>There no code used</td>
      </tr>
    <% end %>
  </table>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
<p id="notice"><%= notice %></p>


