<%= simple_form_for(@activity, url: (@activity.new_record? ? create_activity_admin_deals_path(@chain) : update_activity_admin_deal_path(@activity, @chain)), html: {:class => 'form-horizontal', :multipart => true}) do |f| %>
  <div class="page-header">
    <h3>Create Checkin Deal</h3>
  </div>
  <%= hidden_field_tag :form_type, f.object.class.to_s %>
  <%= f.fields_for :deal do |d| %>
    <%= render "deal_fields", d: d %>
  <% end %>
  <div class="page-header" style="padding-left: 20px">
    <h3>Specific Rules</h3>
  </div>
  <%= f.input :max_user_distance, :label => "Maximum user distance in miles", :hint => "0 for unlimited distance, N-specific distance " %>
  <%= f.input :fine_print, :input_html => {:cols => 4, :rows => 4} %>
  <div class="page-header" style="padding-left: 20px">
    <h3>Upload Images For Android</h3>
  </div>
  <%= f.fields_for :deal_asset_android do |d| %>
    <%= d.input :image, :as => :file, :hint => (image_tag(d.object.image.url(:thumb)) unless d.object.new_record?) %>
  <% end %>
  <div class="page-header" style="padding-left: 20px">
    <h3>Upload Images For Iphone</h3>
  </div>
  <%= f.fields_for :deal_asset_iphone do |d| %>
    <%= d.input :image, :as => :file, :hint => (image_tag(d.object.image.url(:thumb)) unless d.object.new_record?) %>
  <% end %>
  <div class="form-actions">
    <%= link_to "Cancel", deal_by_chain_admin_deals_path(@chain), :class => 'btn' %>
    <%= f.submit "Save Changes", :class => "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  $(".x-datepicker").datepicker({
    dateFormat: 'yy-mm-dd'
  });
</script>