<div style="padding: 10px">  
  <div class="alert alert-info">
    <strong>Yeahh!</strong>
    <%= message %>
  </div>
  <% if @chain %>
  <b>You can create : </b> <br /><br />
  <a type="button" class="btn btn-primary" href="#" onclick="$('#test_modal').html('');$.get('/admin/deals/new_deal/<%= @chain.id %>/SubmitReceipt')">New Submit Receipt Activity</a>
  <a type="button" class="btn btn-primary" href="#" onclick="$('#test_modal').html('');$.get('/admin/deals/new_deal/<%= @chain.id %>/SubmitSurvey')"  data-toggle="modal">New Submit Survey Activity</a>
  <a type="button" class="btn btn-primary" href="#" onclick="$('#test_modal').html('');$.get('/admin/deals/new_deal/<%= @chain.id %>/Checkin')" data-toggle="modal">New CheckIn Activity</a>
  <br />
  <br />
  <center>
    <b>OR</b> <br /><br />
    <% end %>
    <a href="#" class="btn" data-dismiss="modal" id="close-btn-modal">Close</a>
  </center>
  <br />
</div>
