<tr id="row-<%= deal.id %>">
  <td style="width: 10%"><%= deal.id %></td>
  <td><%= deal.chain.name if deal.chain %></td>
  <td><%= deal.title %></td>
  <td><%= date_helper(deal.start_date) %></td>
  <td><%= date_helper(deal.end_date) %></td>
  <td><%= deal.activity_type %></td>
  <% if deal.incentive_type.blank? %>
    <td id="incentive-<%= deal.id %>"><%= link_to "Add Incentive","#test_modal", :onclick => "$('#test_modal').html('');$.get('#{pick_incentive_admin_deal_path(deal)}')","data-toggle" => "modal", :class => "btn"  %></td>
  <% else %>
    <td id="incentive-<%= deal.id %>">
      <%= render :partial => "incentive_column", :locals => {:deal => deal} %>
    </td>
  <% end %>
  <td><%= deal.deal_type_name %></td>
  <td>
    <%= link_to "Show", admin_deal_path(deal), :class => "btn" %>
    <%= link_to "Edit", edit_admin_deal_path(deal), :class => "btn" %>
    <%= link_to "Deactivate", admin_deal_path(deal), :method => :delete, :confirm => 'are you sure?',  :class => "btn" %>
    <%= link_to "Show Participation", show_participants_admin_deal_path(deal), :class => "btn" %>
  </td>
</tr>