<div class="page-header">
  <h3>Deal Type</h3>
</div>
<%= d.input :deal_type, :label => 'SELECT DEAL TYPE', :collection => [[1, 'All Participants (GUANRANTEE DEAL)'], [2, 'Limited (LOTTERY DEAL)']],
  :label_method => :last,
  :value_method => :first,
  :as => :radio_buttons, :input_html => {:onchange => "show_max_winner_box($(this).val())"} %>
<%= d.input :max_winner, :hint => 'Number greater than or equal 0, leave 0 for unlimited', :wrapper_html => {:id => "max_winner_box",:style => "display:#{d.object.deal_type.eql?(2) ? "block" : "none"}"} %>
<div class="page-header">
  <h3>Basic Rules</h3>
</div>
<div class="span6">
  <%= d.input :chain_id, :as => :hidden %>
  <%= d.input :title %>
  <%= d.input :start_date, :as => :string, :input_html => {:class=>'x-datepicker'} %>
  <%= d.input :end_date, :as => :string, :input_html => {:class=>'x-datepicker'} %>
  <%= d.association :restaurants,
    :collection => @chain.restaurants.order('name asc'),
    :input_html=>{:id=>"restaurants", :class=>'multiselect'}
%>
  <%= d.input :limit_user_per_day, :label => "Limit per user per day", :hint => "Leave 0 for unlimited, N-specific limit" %>
  <%= d.input :max_user, :hint => "Leave 0 for unlimited, N-specific limit", :label => "Max Allowed" %>
</div>
<div class="clearfix"></div>

<script type="text/javascript">
  $(".multiselect").multiselect({
    selectedText: "# of # selected"
  });
</script>