<%= simple_form_for(@reward, url: create_reward_incentive_admin_deal_path(@deal), html: {:class => 'form-horizontal', :remote => true}) do |f| %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Reward Incentive</h3>
  </div>
  <div class="modal-body">
  <div class="field"></div>
  <div  class="" style="width: 225px; float: left;margin-left:20px;">
    <div class="field">
      Reward Title *
      <div id="name_error"></div>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= hidden_field_tag "reward[reward_type]", Reward::TYPES["INCENTIVE"]  %>
    </div>
    <div id="date_selection">
      Fixed Date :
      <%=radio_button_tag 'fixed', 'date',true,{:onclick => "$('#reward_number_valid').val('');$('#expiry_date').show();$('#fixed_days').hide();"} %>
      Fixed Days :
      <%=radio_button_tag 'fixed', 'date', false , {:onclick => "$('#reward_expiry_date').val('');$('#expiry_date').hide();$('#fixed_days').show();"}%>
      <div id="fixed_date_div" style="">
        <div class="field">
          Valid From date
          <div id="effectiveDate_error"></div>
          <%= text_field_tag "reward[effectiveDate]",date_only(@reward.effectiveDate) , :class => 'x-datepicker' %>
        </div>
        <div class="field">
          <div id="expiry_date">
            Valid to Date
            <div id="expiryDate_error"></div>
            <%= text_field_tag "reward[expiryDate]",date_only(@reward.expiryDate), :class => 'x-datepicker' %>
          </div>
        </div>
      </div>
      <div id="fixed_days" style="display:none;">
        Number days of valid :
        <div id="number_valid_error"></div>
        <%= text_field_tag "reward[number_valid]",nil %>
      </div>
    </div>
    <div class="field">
      Reward Points
      <div id="points_error"></div>
      <%= f.text_field :points %>
    </div>
    <div class="field">
      POS Code
      <div id="POSCode_error"></div>
      <%= f.text_field :POSCode %>
    </div>
  </div>
  <div style="width: 270px; float: right;">
    <div class="field">
      Reward Fine Print
      <div id="fineprint_error"></div>
      <%= f.text_area :fineprint , :size => "30x5"%>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="modal-footer" style="margin-top: 70px;">        
    <%= f.submit "Save Changes", :class => "btn btn-primary" , :onclick => "$('.modal-body').ajaxloader();" %>
    <%= link_to "Back","#", :onclick => "$('#test_modal').html('#{ escape_javascript(render "select_incentive") }')",:class => "btn" %>
    <a href="#" class="btn" data-dismiss="modal" id="close-btn-modal">Close</a>
  </div>
<% end %>

<script type="text/javascript">
  $(".x-datepicker").datepicker({
    dateFormat: 'yy-mm-dd'
  });
</script>