<%= simple_form_for(@offer, url: @offer.new_record? ? create_offer_incentive_admin_deal_path(@deal) : update_incentive_admin_goal_path(@offer), html: {:class => 'form-horizontal', :remote => true}) do |f| %>

  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% @offer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Points</h3>
  </div>
  <div class="modal-body">

    <%= f.input :title %>
    <div id="multi" style="display:<%= !@offer.multiplier.blank? ? "block" : "none" %>;margin-left:80px;">
      Enter the value Here :<br /> <%= f.text_field "multiplier", :readonly => true%>
      <div id="multiplier_slider" class="x_slider field-inner-box"></div>
    </div>
    <div id="poin" style="display:<%= @offer.multiplier.blank? ? "block" : "none" %>">
      <%= f.input :points, :as => :string, :required=>true %>
    </div>
    <%= f.input :kind, :as => :hidden, :input_html => {:value => '1'} %>
    <div class="control-group string required" style="margin-left:-48px;">
      <%= f.label :fine_print %>
      <%= f.text_area :fine_print,  :rows => 10, :style => "margin-left:70px;" %>
    </div>
    <div class="clearfix"></div>
    <div class="modal-footer" style="margin-top: 70px;">
      <%= f.submit "Save Changes", :onclick => "$('.modal-body').ajaxloader();" %>
      <%= link_to "Back","#", :onclick => "$('.modal-body').ajaxloader();$('#goal_modal').html('#{ escape_javascript(render "select_incentive") }')",:class => "btn btn-primary" if @offer.new_record? %>
    </div>

  </div>
<% end %>

<script type="text/javascript">

  $('#multiplier_slider').slider({
    value: $('#offer_multiplier').val(),
    min: 1,
    max: 5,
    step: 0.1,
    slide: function(event, ui) {

      $('#offer_multiplier').val(ui.value);
      $('#deal_offer_multiplier').val(ui.value);
      $('#perk_multiplier').val(ui.value);
    }
  });


</script>
