<%= simple_form_for(@offer, url: @offer.new_record? ? create_offline_incentive_admin_deal_path(@deal) : update_incentive_admin_deal_path(@offer), html: {:class => 'form-horizontal', :remote => true}) do |f| %>

  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% @offer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Offline Reward</h3>
  </div>
  <div class="modal-body">

    <%= f.input :title %>
    <%= f.input :kind, :as => :hidden, :input_html => {:value => '2'} %>
    <%= f.label :fine_print %>
    <%= f.text_area :fine_print,  :rows => 10, :style => "margin-left:70px;" %>
    <div class="modal-footer" style="margin-top: 70px;">
      <%= f.submit "Save Changes", :onclick => "$('.modal-body').ajaxloader();"%>
      <%= link_to "Back","#", :onclick => "$('.modal-body').ajaxloader();$('#test_modal').html('#{ escape_javascript(render "select_incentive") }')",:class => "btn btn-primary" if @offer.new_record? %>
    </div>

  </div></div>
<% end %>
