<% incent = deal.incentive %>
<% if deal.incentive_type == "Reward" %>
  <%= link_to "Reward #{incent.name} (One Time Reward)", admin_reward_path(incent), :target => "_blank" %>
<% elsif deal.incentive_type == "DealOffer" and deal.incentive.kind.to_s.eql?("1") %>
  <% if incent.points.blank? %>
    <%= link_to "Multiply #{incent.multiplier} Times (Points)","#test_modal", :onclick => "$('#test_modal').html('');$.get('#{edit_incentive_admin_deal_path(deal.incentive)}')","data-toggle" => "modal"  %>
  <% else %>
    <%= link_to "Get #{incent.points} Bonus (Points)","#test_modal", :onclick => "$('#test_modal').html('');$.get('#{edit_incentive_admin_deal_path(deal.incentive)}')","data-toggle" => "modal"  %>
  <% end %>
<% else %>
  <%= link_to "#{incent.title} (Offline Reward)","#test_modal", :onclick => "$('#test_modal').html('');$.get('#{edit_incentive_admin_deal_path(deal.incentive)}')","data-toggle" => "modal"  %>
<% end %>
<%= link_to "<i class=\"icon-remove-sign\"></i>".html_safe, remove_incentive_admin_deal_path(deal, incent), :confirm => "Are you sure?", :remote => true, :alt => "Remove Incentive" %>
