<script type="text/javascript">
  $(document).ready(function(){
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function() {
      $('#data-container').ajaxloader('show');
    });
  })
</script>
<% unless @chain.blank? %>
  <table>
    <caption></caption>
    <thead>
      <tr>
        <th style="width: 10%">Deal ID</th>
        <th>Chain Name</th>
        <th>Deal Title</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>Activity Type</th>
        <th>Incentive Title(Type)</th>
        <th>Deal type- link</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="deal-list-table">
      <% unless @deals.blank? %>
        <% @deals.each do |deal| %>
          <%= render "deal_row", deal: deal %>
        <% end %>
      <% else %>
        <tr>
          <td colspan="9" style="text-align:center;">
            <% unless @chain.blank? %>
              There are no data
            <% else %>
              Please Select Chain
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @deals, :params => {:chain_id => @chain.id } rescue "" %>

  <div class="form-actions" id="bottom_form">
    <%= link_to "New Submit Survey Activity", new_deal_admin_deals_path(@chain, "SubmitSurvey"), :class => "btn btn-primary" %>
    <%= link_to "New CheckIn Activity", new_deal_admin_deals_path(@chain, "Checkin"), :class => "btn btn-primary" %> </div>
<% else %>
  Please Select Chain
<% end %>

<%= render "popup_form" %>