<script type="text/javascript">
  $(document).ready(function(){
    $(".offlines-pagination").find("a").attr("data-remote", true);
    $('.offlines-pagination a').click(function() {
      $('#offlines-list').ajaxloader('show');
    });
  });
</script>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% unless @offlines.blank? %>
      <% @offlines.each do |point| %>
        <tr>
          <td><%= point.title %></td>
          <td><%= link_to "<i class=\"icon-plus-sign\"></i>".html_safe, assign_with_existing_deal_offer_admin_deal_path(@deal, point), :remote => true %></td>
        </tr>
      <% end %>
    <% else %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @offlines, :params=>{:id => @deal.id }, :class => "offlines-pagination" rescue "" %>