<div class="modal-header">
  <a data-dismiss="modal" class="close">×</a>
  <h3>Pick Incentive</h3>
</div>

<div class="body-tab" style="padding:20px;">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#ontime">One Time Rewards</a></li>
    <li><a href="#points">Points</a></li>
    <li><a href="#offline">Offline Rewards</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="ontime">
      <div id="ontime-list">

      </div>
      <a type="button" class="btn btn-primary" href="#" onclick="$('#test_modal').ajaxloader();$.get('<%=  assign_incentive_admin_deal_path(@deal,:type => "reward")%>')"  data-toggle="modal">Create One Time Reward</a><br/><br/><br/>
    </div>

    <div class="tab-pane" id="points">
      <div id="points-list">

      </div>
      <a type="button" class="btn btn-primary" href="#" onclick="$('#test_modal').ajaxloader();$.get('<%=  assign_incentive_admin_deal_path(@deal, :type => "offer")%>')"  data-toggle="modal">Create Points</a><br/><br/><br/>
    </div>

    <div class="tab-pane" id="offline">
      <div id="offline-list">

      </div>
      <a type="button" class="btn btn-primary" href="#" onclick="$('#test_modal').ajaxloader();$.get('<%=  assign_incentive_admin_deal_path(@deal, :type => "offline")%>')"  data-toggle="modal">Create Offline Reward</a><br/><br/><br/>
    </div>
  </div>


  <script type="text/javascript">
    $(function () {
      $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });
      $('#ontime-list').ajaxloader('show');
      $('#points-list').ajaxloader('show');
      $('#offline-list').ajaxloader('show');
      $.get('<%= load_ontime_reward_admin_deal_path(@deal) %>');
      $.get('<%= load_points_admin_deal_path(@deal) %>');
      $.get('<%= load_offline_admin_deal_path(@deal) %>');
      $('#myTab a:first').tab('show');
    })
  </script>
</div>
