<%= simple_form_for(@activity, url: (@activity.new_record? ? create_activity_admin_deals_path(@chain) : update_activity_admin_deal_path(@activity, @chain)), html: {:class => 'form-horizontal', :multipart => true}) do |f| %>
  <div class="page-header">
    <h3>Create Submit Receipt Deal</h3>
  </div>
  <%= hidden_field_tag :form_type, f.object.class.to_s %>
  <%= f.fields_for :deal do |d| %>
    <%= render "deal_fields", d: d %>
  <% end %>
  <div class="page-header" style="padding-left: 20px">
    <h3>Specific Rules</h3>
  </div>
  <%= f.input :minimum_subtotal %>
  <%= f.input :survey_id, :collection => @chain.surveys %>
  <%= f.input :fine_print, :input_html => {:cols => 4, :rows => 4} %>
  <div class="form-actions">
    <%= link_to "Cancel", deal_by_chain_admin_deals_path(@chain), :class => 'btn' %>
    <%= f.submit "Save Changes", :class => "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  $(".x-datepicker").datepicker({
    dateFormat: 'yy-mm-dd'
  });
</script>