<table>
  <caption></caption>
  <thead>
    <tr>
      <th>Survey Submit id</th>
      <th>Chain Name</th>
      <th>User Email</th>
      <th>Survey Answers</th>
      <th>Date Time</th>
      <th>User Location</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="deal-list-table">
    <% unless @user_participants.blank? %>
      <% @user_participants.each do |user_participation| %>
        <tr>
          <td><%= user_participation.survey_id %></td>
          <td><%= user_participation.deal.chain.name rescue nil %></td>
          <td><%= user_participation.user.email rescue nil %></td>
          <td><%= user_participation.surveys_user.answers.map(&:value) %></td>
          <td><%= user_participation.created_at %></td>          
          <td>
            Lat : <%= user_participation.user_latitude %>,
            Lng : <%= user_participation.user_longitude %>
          </td>
          <td>
            <%= link_to "Deactivate", "", :class => "btn" %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="6" style="text-align:center;">
          There are no data
        </td>
      </tr>
    <% end %>
  </tbody>
</table>