<% if @type == "reward" %>
  $('#test_modal').html("<%= escape_javascript(render "incentive_reward") %>");
<% elsif @type == "offer" %>
  $('#test_modal').html("<%= escape_javascript(render "incentive_offer") %>");
<% else %>
  $('#test_modal').html("<%= escape_javascript(render "incentive_offline") %>");
<% end %>