$("#incentive-<%= @deal.id %>").html("<%= escape_javascript(render :partial => "incentive_column", :locals => {:deal => @deal}) %>");
$("#test_modal").html('<%= escape_javascript(render :partial => "confirmation", :locals => {:message => "Incentive Reward has been added"}) %>');
