<% if @type == "reward" %>

  <% unless @reward.errors.blank? %>
    <% error = @reward.errors %>
    <% @reward.attributes.each do |k,v| %>
      $("#reward_<%=  k %>").removeClass("error");
      $("#<%=k%>_error").html("");
    <% end %>
    $('.tata-ajax-loader').hide();
    <% error.each do |key,value| %>
      $("#reward_<%=key%>").addClass("error");
      $("#<%=key%>_error").html("<span style='color:red;'><%= value %></span>");
    <% end %>
  <% else %>
    $("#incentive-<%= @deal.id %>").html("<%= escape_javascript(render :partial => "incentive_column", :locals => {:deal => @deal}) %>");
    $("#test_modal").html('<%= escape_javascript(render :partial => "confirmation", :locals => {:message => "Incentive Reward are created"}) %>');
  <% end %>


<% elsif @type == "offer" %>
  <% if @is_save %>
    $("#incentive-<%= @deal.id %>").html("<%= escape_javascript(render :partial => "incentive_column", :locals => {:deal => @deal}) %>");
    $("#test_modal").html('<%= escape_javascript(render :partial => "confirmation", :locals => {:message => "Incentive Offer are created"}) %>');
  <% else %>
    $("#test_modal").html('<%= escape_javascript(render "incentive_offer") %>')    
  <% end %>
<% else %>

<% if @is_save %>
    $("#incentive-<%= @deal.id %>").html("<%= escape_javascript(render :partial => "incentive_column", :locals => {:deal => @deal}) %>");
    $("#test_modal").html('<%= escape_javascript(render :partial => "confirmation", :locals => {:message => "Incentive Offline are created"}) %>');
  <% else %>
    $("#test_modal").html('<%= escape_javascript(render "incentive_offline") %>')
  <% end %>

<% end %>