<script type="text/javascript">
  $(document).ready(function(){
    $(".pagination").find("a").attr("data-remote", true);
    $('.pagination a').click(function() {
      $('#data-container').ajaxloader('show');
    });
  })
</script>
<table>
  <caption></caption>
  <thead>
    <tr>
      <th style="width: 10%">Deal ID</th>
      <th>Chain Name</th>
      <th>Deal Title</th>
      <th>From Date</th>
      <th>To Date</th>
      <th>Activity Type</th>
      <th>Deal type- link</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="deal-list-table">
    <% unless @deals.blank? %>
      <% @deals.each do |deal| %>
        <tr id="row-<%= deal.id %>">
          <td style="width: 10%"><%= deal.id %></td>
          <td><%= deal.chain.name if deal.chain %></td>
          <td><%= deal.title %></td>
          <td><%= date_helper(deal.start_date) %></td>
          <td><%= date_helper(deal.end_date) %></td>
          <td><%= deal.activity_type %></td>
          <td><%= deal.deal_type_name %></td>
          <td>
            <%= link_to "Activate", revive_admin_deal_path(deal),  :class => "btn" %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="9" style="text-align:center;">
          There are no data
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @deals rescue "" %>

<%= link_to "Back", admin_deals_path, :class => 'btn btn-primary' %>