<% if @offer.kind.to_s.eql?("1") %>
  $('#test_modal').html("<%= escape_javascript(render "incentive_offer") %>");
<% else %>
  $('#test_modal').html("<%= escape_javascript(render "incentive_offline") %>");
<% end %>