<div class="page-header">
  <h1>Listing Deals</h1>
</div>

<script>
  $(document).ready(function(){
    if($('#chain').val() == '')$.get('/admin/deals/deal_by_chain/0');else $.get('/admin/deals/deal_by_chain/'+$('#chain').val());
  });
</script>

<div class="field">
  Chain:
  <%= select_tag 'chain', options_from_collection_for_select(Chain.active.order("name"), :id, :name), :prompt => "Please select chain",
    :onchange => "$('#loader').show();if(this.value == '')$.get('/admin/deals/deal_by_chain/0');else $.get('/admin/deals/deal_by_chain/'+this.value);" %>
  <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>

</div>
<div id="data-container"></div>

<%= link_to "Deactivated Deals List", deactivated_admin_deals_path, :class => "btn btn-primary" %>
