$('#incentive-<%= @deal.id %>').html('<%= escape_javascript(link_to "Add Incentive","#test_modal", :onclick => "$('#test_modal').html('');$.get('#{pick_incentive_admin_deal_path(@deal)}')","data-toggle" => "modal", :class => "btn") %>')
