<div class="page-header">
  <h3><%= @deal.activity_type %> Participations</h3>
</div>
<% if @deal.activity_type.eql?("SubmitSurvey") %>
   <%= render "survey_participants" %>
  <% else %>
<table>
  <caption></caption>
  <thead>
    <tr>
      <th>Chain Name</th>
      <th>Deal Title</th>
      <th>Submitted Date time</th>
      <th>User Email</th>
      <th>User Location</th>
      <% if @deal.activity_type.eql?("Checkin") %>
        <th>Restaurant</th>
      <% end %>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="deal-list-table">
    <% unless @user_participants.blank? %>
      <% @user_participants.each do |user_participation| %>
        <tr>
          <td><%= user_participation.deal.chain.name rescue nil %></td>
          <td><%= user_participation.deal.title %></td>
          <td><%= user_participation.created_at %></td>
          <td><%= user_participation.user.email %></td>
          <td>
            Lat : <%= user_participation.user_latitude %>,
            Lng : <%= user_participation.user_longitude %>
          </td>
          <% if @deal.activity_type.eql?("Checkin") %>
            <td>
              <%= user_participation.restaurant.name %>
            </td>
          <% end %>
          <td>
            <%= link_to "Deactivate", "", :class => "btn" %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="6" style="text-align:center;">
          There are no data
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= link_to "Back", deal_by_chain_admin_deals_path(@deal.chain), :class => "btn" %>
