<div class="page-header">
  <h3>Deal Detail</h3>
</div>
<table class="table">
  <tr>
    <td>DealID</td>
    <td><%= @deal.id %> </td>
  </tr>
  <tr>
    <td>Deal Type</td>
    <td><%= @deal.deal_type_name %> </td>
  </tr>
  <% if @deal.is_lottery_deal? %>
    <tr>
      <td>Max Winner</td>
      <td><%= @deal.max_winner %> </td>
    </tr>
  <% end %>
  <tr>
    <td>Title</td>
    <td><%= @deal.title %> </td>
  </tr>
  <tr>
    <td>Start Date</td>
    <td><%= @deal.start_date %> </td>
  </tr>
  <tr>
    <td>End Date</td>
    <td><%= @deal.end_date %> </td>
  </tr>
  <tr>
    <td>Restaurants</td>
    <td>
      <% @deal.restaurants.order('name asc').each do |restaurant| %>
        <%= restaurant.name  %> <br/>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>limit user per day</td>
    <td><%= @deal.limit_user_per_day %> </td>
  </tr>
  <tr>
    <td>Max Allowed</td>
    <td><%= @deal.max_user %> </td>
  </tr>
  <tr>
    <td>Activity Type</td>
    <td><%= @deal.activity_type %> </td>
  </tr>

  <tr>
    <td>Specific Rules</td>
    <td>
      <% (@deal.activity.class.column_names - ["created_at", "updated_at", "id", "deleted_at", "image_file_name", "image_file_size", "image_content_type", "image_updated_at"]).each do |column| %>
        <%= column.eql?("minimum_distance") ? "Maximum user distance" : column.humanize %> :<%= @deal.activity.send(column) %> <br />
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Image for Android</td>
    <td><%= image_tag(@deal.activity.deal_asset_android.image.url) rescue nil %></td>
  </tr>
  <tr>
    <td>Image for IPhone</td>
    <td><%= image_tag(@deal.activity.deal_asset_iphone.image.url) rescue nil %></td>
  </tr>

</table>

<%= form_tag("/admin/update_deal_participation/#{@deal.id}", :method => :post) do %>
  <table class="table">
    <caption>Participating Restaurants:</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>All <%= check_box_tag "all_participants" %></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3"></th>
        <th><%= submit_tag "Pull Out", :confirm => "Click OK to pull out the selected restaurants from this offer", :disable_with => "Please wait..." %></th>
      </tr>
    </tfoot>
    <tbody>
      <% @participants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.address %></td>
          <td><%= restaurant.try(:city).try(:name) %></td>
          <td><%= check_box_tag "pullout_[#{restaurant.id}]", restaurant.id, false,
              :name => "pullout[]" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
  <table class="table">
    <caption>Non-participating Restaurants</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>All <%= check_box_tag "all_non_participants" %></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3"></th>
        <th><%= submit_tag "Participate", :confirm => "Click OK to add the selected restaurants to this offer", :disable_with => "Please wait..." %></th>
      </tr>
    </tfoot>
    <tbody>

      <% if !@non_participants.blank?
        @non_participants.each do |restaurant| %>
          <tr>
            <td><%= restaurant.name %></td>
            <td><%= restaurant.address %></td>
            <td><%= restaurant.try(:city).try(:name) %></td>
            <td><%= check_box_tag "participate_[#{restaurant.id}]", restaurant.id, false,
                :name => "participate[]" %></td>
          </tr>
        <% end
      end %>
    </tbody>
  </table>
<% end %>


<%= link_to "Back", admin_deals_path %>

