<% if @is_update %>
  $("#deal-list-table").prepend('<%= escape_javascript(render "deal_row", deal: @activity.deal) %>');
  $("#test_modal").html('<%= escape_javascript(render :partial => "confirmation", :locals => {:message => "Activity are updated"}) %>');
<% else %>
  $("#test_modal").html('<%= escape_javascript(render @activity.class.to_s.downcase) %>')
<% end %>
