<% if @offer.kind.to_s.eql?("1") %>
  <% if @is_save %>
    $("#incentive-<%= @deal.id %>").html("<%= escape_javascript(render :partial => "incentive_column", :locals => {:deal => @deal}) %>");
    $("#test_modal").html('<%= escape_javascript(render :partial => "confirmation", :locals => {:message => "Incentive Point are updated"}) %>');
  <% else %>
    $("#test_modal").html('<%= escape_javascript(render "incentive_offer") %>')
  <% end %>
<% else %>

  <% if @is_save %>
    $("#incentive-<%= @deal.id %>").html("<%= escape_javascript(render :partial => "incentive_column", :locals => {:deal => @deal}) %>");
    $("#test_modal").html('<%= escape_javascript(render :partial => "confirmation", :locals => {:message => "Incentive Offline are updated"}) %>');
  <% else %>
    $("#test_modal").html('<%= escape_javascript(render "incentive_offline") %>')
  <% end %>

<% end %>