<% incent = goal.incentive %>
<% if goal.incentive_type == "Reward" %>
  <%= link_to "Reward #{incent.name} (One Time Reward)", admin_reward_path(incent), :target => "_blank" %>
<% elsif goal.incentive_type == "DealOffer" and goal.incentive.kind.to_s.eql?("1") %>
  <% if incent.points.blank? %>
    <%= link_to "Multiply #{incent.multiplier} Times (Points)","#goal_modal", :onclick => "$('#goal_modal').html('');$.get('#{edit_incentive_admin_goal_path(goal.incentive)}')","data-toggle" => "modal"  %>
  <% else %>
    <%= link_to "Get #{incent.points} Bonus (Points)","#goal_modal", :onclick => "$('#goal_modal').html('');$.get('#{edit_incentive_admin_goal_path(goal.incentive)}')","data-toggle" => "modal"  %>
  <% end %>
<% else %>
  <%= link_to "#{incent.title} (Offline Reward)","#goal_modal", :onclick => "$('#goal_modal').html('');$.get('#{edit_incentive_admin_goal_path(goal.incentive)}')","data-toggle" => "modal"  %>
<% end %>
<br />
<%= link_to "<i class=\"icon-remove-sign\"></i>".html_safe, remove_incentive_admin_goal_path(goal, incent), :confirm => "Are you sure?", :remote => true, :alt => "Remove Incentive" %>
 | <%= link_to "<i class=\"icon-envelope\"></i>".html_safe, "#goal_modal", :onclick => "$('#goal_modal').html('');$.get('#{add_message_incentive_admin_goal_url(goal)}')", "data-toggle" => "modal", :alt => "Add Message Incentive" %>
