<% if goal.incentive.blank? %>
  <%= link_to "Add Incentive","#goal_modal", :onclick => "$('#goal_modal').html('');$.get('#{pick_incentive_admin_goal_path(goal)}')", "data-toggle" => "modal", :class => "btn" %>
<% else %>
  <%= render "incentive_column", {:goal => goal} %>
<% end %>