<table class="table table-bordered" border="2" cellpadding="4" cellspacing="4">
  <thead>
    <tr>
      <th>Category</th>
      <th>Description</th>
      <th>Locales</th>
      <th>Status</th>
      <th>Incentive</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% unless @chain.blank? %>
      <% unless @goals.blank? %>
        <% @goals.each do |key, value| %>
          <% value.each_with_index do |goal, i| %>
            <tr>
              <% if i.eql?(0) %>
                <% gc = GoalCategory.find(key) %>
                <% if gc.status.eql?(GoalCategory::STATUS[:ACTIVE]) %>
                  <td rowspan="<%= value.count %>" align="center"><%= gc.description %></td>
                <% else %>
                  <td rowspan="<%= value.count %>" align="center"><%= gc.description %><i><small>&nbsp;&nbsp;&nbsp;(DEACTIVE CATEGORY)</small></i></td>
                <% end %>
              <% end %>
              <td><%= goal.description %></td>
              <td>
                <% goal.goal_locales.each do |gl| %>
                  <b><%= gl.locale.key %></b> : <%= gl.text %> <br/>
                <% end %>
              </td>
              <td><%= goal.status.eql?(Goal::STATUS[:ACTIVE]) ? "ACTIVE" : "DEACTIVE"  %></td>
              <td id="incentive-<%= goal.id %>">
                <%= render "incentive", {:goal => goal} %>
              </td>
              <td>
                <%= link_to "<i class=\"icon-edit\"></i> Edit".html_safe, edit_admin_goal_path(goal) %> |
                <% if goal.status.eql?(Goal::STATUS[:ACTIVE]) %>
                  <%= link_to "<i class=\"icon-eye-close\"></i> Deactivate".html_safe, deactivate_admin_goal_path(goal) %>
                <% else %>
                  <%= link_to "<i class=\"icon-eye-open\"></i> Aactivate".html_safe, activate_admin_goal_path(goal) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% else %>
        <tr>
          <td colspan="2">
            There are no data
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2" style="color: red;">
          Please Select a chain
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<br />
<%= link_to "New Goal", new_admin_goal_path(:chain_id => @chain.id), :class => "btn btn-primary" if @chain %>

<%= render "popup_form" %>