<%= simple_form_for(@goal, url: create_message_incentive_admin_goal_url(@goal) , html: {:class => 'form-horizontal', :remote => true}) do |f| %>

  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% @goal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Add Message Incentive</h3>
  </div>
  <div class="modal-body">
    <div class="control-group string required">
      <label class="string required control-label">
        <b>Incentive :</b>
      </label>
      <div class="controls">
        <label class="string required">
          <b><%= @goal.incentive_type.eql?("Reward") ? @goal.incentive.name : @goal.incentive.title %></b>
        </label>
      </div>
    </div>

    <%= f.simple_fields_for :message_incentive_locales do |mi| %>
      <div class="control-group string required">
        <label class="string required control-label">
          Locale :
        </label>
        <div class="controls">
          <label class="string required">
            <b><%= mi.object.locale.key %></b>
          </label>
        </div>
      </div>
      <%= mi.input :message, :as => :text, :input_html => {:rows => 5} %>
      <%= mi.input :locale_id, :as => :hidden, :input_html => {:value => mi.object.locale.id} %>
      <hr />
    <% end %>
    <div class="clearfix"></div>
    <div class="modal-footer" style="margin-top: 70px;">
      <%= f.submit "Save Changes", :onclick => "$('.modal-body').ajaxloader();" %>
    </div>

  </div>
<% end %>

