<% if @type == "reward" %>
  $('#goal_modal').html("<%= escape_javascript(render "incentive_reward") %>");
<% elsif @type == "offer" %>
  $('#goal_modal').html("<%= escape_javascript(render "incentive_offer") %>");
<% end %>