$("#incentive-<%= @goal.id %>").html("<%= escape_javascript(render :partial => "incentive_column", :locals => {:goal => @goal}) %>");
$("#goal_modal").html('<%= escape_javascript(render :partial => "confirmation", :locals => {:message => "Incentive Point has been added"}) %>');
