<% if @is_save %>
  $("#incentive-<%= @goal.id %>").html("<%= escape_javascript(render :partial => "incentive_column", :locals => {:goal => @goal}) %>");
  $("#goal_modal").html('<%= escape_javascript(render :partial => "confirmation", :locals => {:message => "Message Incentive has been added"}) %>');
<% else %>
  $('#goal_modal').html("<%= escape_javascript(render "message_incentive") %>");
<% end %>
