<div class="page-header">
  <h3>Edit Goal Category</h3>
</div>

<%= simple_form_for([:admin, @goal], :html => {:method => :put}) do |f| %>
  <div class="span12">
    <%= f.input :description, :input_html => {:rows => 5, :cols => 100} %>
  </div>
  <div class="span12">
    <%= f.input :category_id, :collection => @chain.goal_categories.all.map{|gc| [gc.description, gc.id]} %>
    <%= f.input :chain_id, :as => :hidden %>
  </div>
  <div class="span12">
    <div class="page-header">
      <h4>Locales :</h4>
      <%= f.simple_fields_for :goal_locales do |gl| %>
        <%= gl.input :locale_id, :as => :hidden %>
        <%= gl.input :text, :label => gl.object.locale.key, :input_html => {:rows => 5, :cols => 100}  %>
      <% end %>
    </div>
    <br />
  </div>
  <br />
  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Back", goals_by_chain_admin_goal_path(@chain), :class => "btn" %>
<% end %>