<div class="page-header">
  <h1>Listing Goals</h1>
</div>

<div class="page-header">
  <div class="field form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="select01">Chain:</label>
        <div class="controls">
          <%= select_tag 'chain', options_from_collection_for_select(Chain.active.order("name"), :id, :name), :prompt=>"Please select chain",
            :onchange => "$('#data-container').ajaxloader('show');$('#loader').show();if(this.value == '')$.get('/admin/goals/0/goals_by_chain.js');else $.get('/admin/goals/'+this.value+'/goals_by_chain.js');" %>
          <span id="loader" style="display:none;"><%= image_tag "loader.gif" %></span>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<div id="data-container"></div>

