<h3 id="popup-title" style="color: #ff0000;font-weight: bolder;">Confirmation.</h3>
<br/>
<div id="content-modal-dup">
  The process will execute as a background job. <br />
  Please hit 'OK' to continue. You can see the result in POSCodes page in a few mins.
</div>
<div style="text-align: center;margin-top: 40px;">

  <%= link_to "OK" , "#",  :class => "btn btn-danger", :onclick => "$.modal.close();$('form#new_reward_pos_code').submit();"  %>
</div>