<h3 id="popup-title" style="color: #ff0000;font-weight: bolder;">Confirmation.</h3>
<br/>
<div id="content-modal-dup">
  CSV File is missing. Please upload CSV file to process.
</div>
<div style="text-align: center;margin-top: 40px;">

  <%= link_to "OK" , "#",  :class => "btn btn-danger", :onclick => "$.modal.close();"  %>
</div>