<div class="page-header">
  <h3>Upload POSCodes Reward <%= @reward.name%></h3>
</div>

<%= simple_form_for([:admin_reward, @code], :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
    <%= f.input :csv, :as => :file, :label => "Upload Your CSV file" %>
    <%= link_to "<< Back", admin_reward_reward_pos_codes_path(@reward), :class => "btn" %>
    <%= link_to "Upload", "#", :class => "btn btn-primary", :onclick => "
        if($('#reward_pos_code_csv').val() == '') {
          $.modal('#{escape_javascript(render("csv_missing"))}');
        } else{
          $.modal('#{escape_javascript(render("confirmation"))}');
        }
      " %>
<% end %>