<div class="row">
  <div class="col-md-5 center-block container-content">
    <div class="title-head">Forgot Password</div>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= hidden_field_tag :appkey, session[:client_id] %>
        <div>
          <%= f.email_field :email, class: "form-control", oninput: "check_email(this)", placeholder: "Email address", autocomplete: "off" %>
        </div>

        <div><%= f.submit "Get My Password", class: 'btn btn-info btn-block' %></div>
        <br />
    <% end %>
  </div>
</div>

<div class="row text-center hidden-xs">
  <div class="col-xs-12 col-md-12">
    <a href="/users/sign_in" class="link-url">Sign In</a>  /
    <a href="/users/password/new" class="link-url">Forgot Password?</a>  /
    <%= link_to "Sign In With Facebook", user_omniauth_authorize_path(:facebook_nekter), class: 'link-url' %>
    <br />
    <br />
  </div>
</div>
