<div class="row">
  <div class="col-md-5 center-block container-content">
    <div class="title-head">FORGOT YOUR PASSWORD?</div>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= hidden_field_tag :appkey, session[:client_id] %>

        <div>
          <%= f.label :email, class: 'label-text' %><br />
          <%= f.email_field :email, class: "form-control", oninput: "check_email(this)", autocomplete: "off" %>
        </div>

        <div><%= f.submit "Send me reset password instructions", class: 'btn btn-info btn-block' %></div>

    <% end %>
  </div>
</div>