<div class="row">
  <div class="col-md-5 center-block container-content">
    <div class="title-head">CHANGE YOUR PASSWORD?</div>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div>
          <%= f.label :email, "New password", class: 'label-text' %><br />
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <div>
          <%= f.label :password_confirmation, "Confirm new password", class: 'label-text' %><br />
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>

        <div><%= f.submit "CHANGE MY PASSWORD", class: 'btn btn-info btn-block' %></div>

    <% end %>
  </div>
</div>
