<tr id="art_<%= art.id %>">
     <td><%= ApiResponseText::MESSAGE_FOR.invert[art.message_for] %></td>
     <td><%= art.try(:locale).try(:key).try(:upcase) %></td>
     <td><%= art.message %></td>
     <td>
      <%= link_to "Edit", "#", :class => "btn btn-primary btn-sm", :onclick => "$('#art_#{art.id}').hide();$('#edit_#{art.id}').show();" %>
    </td>
  </tr>