<%= custom_form_for([:admin, @api_response_text], :url => admin_chain_api_response_texts_path(@chain)) do |f| %>
    
    <br />
    <fieldset>
      <div class="field">
        <%= f.input :message_for, :collection => ApiResponseText::MESSAGE_FOR %>  
      </div>
      <div class="field">
        <%= f.input :locale_id, :collection => @chain.locales %>  
      </div>
      <div class="field">
        <%= f.input :message, :as => :text, :label => "Message", :input_html => {:rows => 4, :cols => 14} %>
      </div>
    </fieldset>
    <%= f.submit "Create", :class => "btn btn-primary", :onclick => "$('#image_loader_save').show()" %><%= image_tag "loader.gif", :id => "image_loader_save", :style => "display:none" %>
    <%= link_to "Cancel", admin_chain_api_response_texts_path(@chain), class: "btn" %>
<% end %>