<%= simple_form_for([:admin, art], :url => update_content_admin_chain_api_response_text_path(@chain, art), :html => {:remote => true, :method => :post}) do |f| %>
      <td>
        <%= f.input :message_for, :collection => ApiResponseText::MESSAGE_FOR, :include_blank => false, :input_html => {:id => "message_for_#{art.id}"} %>  
      </td>
      <td>
        <%= f.input :locale_id, :collection => @chain.locales, :include_blank => false, :input_html => {:id => "locale_#{art.id}"} %>  
      </td>
      <td>
        <%= f.input :message, :as => :text, :label => "Message", :input_html => {:rows => 4, :cols => 14, :id => "message_#{art.id}"} %>
        <%= link_to "Set to default message", "#", :class => "btn btn-success", :onclick => 
        "$('#image_loader_def_message_#{art.id}').show(); $.get('/admin/chains/#{@chain.id}/api_response_texts/#{art.id}/set_to_default_message/'+$('#message_for_#{art.id}').val()+'/'+$('#locale_#{art.id}').val())" %><%= image_tag "loader.gif", :id => "image_loader_def_message_#{art.id}", :style => "display:none" %>
      </td>
      <td>
      <%= f.submit "Update", :class => "btn btn-primary", :onclick => "$('#image_loader_save_#{art.id}').show()" %><%= image_tag "loader.gif", :id => "image_loader_save_#{art.id}", :style => "display:none" %>
      <%= link_to "Cancel", "#", :onclick => "$('#art_#{art.id}').show();$('#edit_#{art.id}').hide();", :class => "btn" %>
      </td>
<% end %>