<div class="page-header">
	<h3><%= @chain.name %> -- Api Response Text</h3>
</div>

<table>
  <thead>
    <tr>
    	<th>Type</th>
    	<th>Locale</th>
    	<th>Value</th>
    	<th>Action</th>
    </tr>
  </thead>
</table>
<% @api_response_texts.each do |art| %>
<table id="content_art_<%= art.id %>" class="table"> 
  <%= render "content_and_form", {:art => art} %>
</table>    
<% end %>



<%= link_to "New", new_admin_chain_api_response_text_path(@chain), :class => "btn btn-primary" %>
<%= link_to "Back", admin_chains_path, :class => "btn btn-primary" %>