<% if !@chain.blank? && !@type.blank? %>
   $("#api_response_text_box").html("<%= escape_javascript(render('form'))%>");
   $('#image_loader').hide();
<% else %>
   $("#api_response_text_box").html("please select chain and type");
   $('#image_loader').hide();
<% end %>