<% if @is_save %>
    $('#content_art_<%= @api_response_text.id %>').html("<%= escape_javascript(render('content_and_form', {:art => @api_response_text}))%>");
<% else %>
    $('#edit_<%= @api_response_text.id %>').html("<%= escape_javascript(render('the_form', {:art => @api_response_text}))%>")
<% end %>