<section class="topbar">
    <span>Average Chart <a data-content="And here's some amazing content. It's very engaging. right?" rel="popover" class="icon-question-sign" href="#" data-original-title="A Title"></a>
      <label class="checkbox">
        <input type="checkbox"> <%= @survey.title %>
      </label>
    </span>
    <section class="chartWrapper">
      <div id="chart_<%= chart_id %>"></div>
    </section>
  </section>
<script>
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: "chart_<%= chart_id %>",
        defaultSeriesType: 'line',
        backgroundColor: '#F2F2F1',
        width : 950,
        height :400,
        borderColor: '#C4C4C4',
        borderWidth: 1
      },
      title: {
        text: '<%= @survey.title %>'
      },
      legend: {
        enabled: true
      },
      credits: {
        enabled: false
      },

      xAxis: {
        type: 'datetime',
			dateTimeLabelFormats: { // don't display the dummy year
				month: '%e. %b',
				year: '%b'},
        labels: {
          rotation: -45,
          align: 'right',
          style: {
            font: 'normal 13px Verdana, sans-serif'
          }
        },
      },
      yAxis: {
        title: {
          text: 'Avg'
        },
        gridLineWidth: 0,
      },
      series: <%= @chart_data.to_json.html_safe %>
    });
  });
</script>