  <section class="topbar">
    <% title = @survey.questions[4].text rescue "" %>
    <span>Q4. </span>
    <section class="chartWrapper">
      <div id="survey_question5_content" style="width:98%;"></div>
    </section>
   <%= render :partial => "charts/filter_chart_members", :locals => {:chart => "survey_question5"} %>
  </section>
<script>
  $(document).ready(function() {
      Highcharts.setOptions({
          global: {
              useUTC: false
          }
      });
    chart = new Highcharts.Chart({
      chart: {
        renderTo: "survey_question5_content",
        defaultSeriesType: 'line',
        backgroundColor: '#F2F2F1',

        height :400,
        borderColor: '#C4C4C4',
        borderWidth: 1
      },
      title: {
        text: '<%= title %>'
      },
      legend: {
        enabled: true
      },
      credits: {
        enabled: false
      },


        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                day: '%b %e',
                hour: '%b %e',
                year: '%b'},
            labels: {
                rotation: -45,
                align: 'right',
                formatter: function() {
                    <% if params[:date] == "day"%>
                    return Highcharts.dateFormat('%I:%M %P', this.value);
                    <% else %>
                    return Highcharts.dateFormat('%d %b', this.value);
                    <% end %>
                },
                style: {
                    font: 'normal 13px Verdana, sans-serif'
                }
            },
            tickInterval: <%=
        date_start = Time.zone.now
        date_end = date_start.end_of_day.to_i * 1000
        if params[:date].blank? or params[:date] == "week"
        date_start = (date_start - 7.days).to_i * 1000
          24

        elsif params[:date] == "all" or params[:date] == "3month"
         date_start = (date_start - 3.months).to_i * 1000
          144
        elsif  params[:date] == "day"
        date_start = (date_start.beginning_of_day).to_i * 1000
            1
        elsif params[:date] == "month"
        date_start = (date_start - 1.months).to_i * 1000
          48
        end
        %> * 3600 * 1000 ,
        min: <%= date_start%>,
        max: <%= date_end %>
    },tooltip: {
      <% if params[:date] == "day"%>
          formatter: function() {
              var now = new Date(this.x);
              var utc = new Date(now.getTime() + now.getTimezoneOffset() * 60000);
              return '<b>'+  this.series.name+'</b><br />' +
                      ''+ this.y +'<br/>'+'<b>'+Highcharts.dateFormat('%I:%M %P', now);+'</b>';

          }
      <%end%>
      },
      yAxis: {
        title: {
          text: 'Avg'
        },
        gridLineWidth: 0,
      },
      series: <%= @chart_data.to_json.html_safe %>
    });
  });
</script>