<!DOCTYPE html>
<html>
  <head>
    <title><%= h(yield(:title) || "Relevant") %></title>
    <%= stylesheet_link_tag "application", "jquery-multiselect", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/redmond/jquery-ui.css", "fancybox/jquery-fancybox-1-3-4", "basic_simplemodal","nyromodal" %>
    <%= javascript_include_tag "application", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js", "jquery-ui-timepicker-addon", "jquery-checkall", "jquery-multiselect-min", "jquery.editinplace", "fancybox/jquery-mousewheel-3-0-4-pack", "fancybox/jquery-fancybox-1-3-4-pack" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <script type="text/javascript">
      jQuery(function ($) {
        $('.basic').click(function (e) {
          $('#basic-modal-content').modal();

          return false;
        });
      });
    </script>
  </head>
  <body>
    <% if notice %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
    <% end %>


    <% if alert %>
      <div class="alert">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Warning!</strong> <%= alert %>
      </div>
    <% end %>

    <a href='#' class='basic' id="session_exp_link" style="display: none;">SESSION</a>
    <div id="basic-modal-content">
      <h3>Session Expired</h3>
      <br />
      <p>Your session has expired, maybe you need to login again to access this page.</p>
      <br />
      <center>
        <%= button_to "OK", request.url, :method => :get %>
      </center>
    </div>

    <div id="admin_nav">
      <% if current_admin %>
        <%= link_to "#{current_admin.email}", edit_admin_admin_path(current_admin) %> |
        <%= link_to "Log out", admin_log_out_path %>
      <% else %>
        <%= link_to "log in", admin_log_in_path %>
      <% end %>
    </div>
    Admin :
    <% if @ability %>
      <% if @ability.can? :create, Application %>
        <%= link_to ' Apps', admin_applications_path %> |
      <% end %>
      <% if @ability.can? :create, Chain %>
        <%= link_to ' Chains', admin_chains_path %> |
      <% end %>
      <% if @ability.can? :create, Restaurant %>
        <%= link_to ' Restaurants', admin_restaurants_path %> |
      <% end %>
      <% if @ability.can? :create, Offer %>
        <%= link_to ' Offers', admin_offers_path %> |
      <% end %>

      <% if @ability.can? :create, Reward %>
        <%= link_to ' Rewards', admin_rewards_path %> |
      <% end %>

      <% if @ability.can? :index, NotificationLocale %>
        <%= link_to 'Notification Locale', admin_notification_locales_path %> |
      <% end %>

      <% if @ability.can? :update, Receipt %>
        <%= link_to ' Receipts', admin_receipts_path %> |
      <% end %>

      <% if @ability.can? :create, Owner %>
        <%= link_to ' Owners', admin_owners_path %> |
      <% end %>

      <% if @ability.can? :create, User %>
        <%= link_to ' Users', admin_users_path %> |
      <% end %>

      <% if @ability.can? :create, Survey %>
        <%= link_to ' Surveys', admin_surveys_path %> |
      <% end %>

      <% if @ability.can? :create, Receipt %>
        <%= link_to 'Submit Receipt', new_admin_receipt_path %> |
      <% end %>

      <% if @ability.can? :create, Country %>
        <%= link_to 'Locations',admin_countries_path  %> |
      <% end %>

      <% if @ability.can? :create, Answer %>
        <%= link_to 'Answers',admin_answers_path  %> |
      <% end %>

      <% if @ability.can? :create, Admin %>
        <%= link_to 'Admin User',admin_admins_path  %> |
      <% end %>
      <% if @ability.can? :create, Admin %>
        <%= link_to 'Perks',admin_perks_path  %> |
      <% end %>
      <% if @ability.can? :create, Admin %>
        <%= link_to 'Promotions',admin_promotions_path  %> |
      <% end %>
    <% end %>
    <hr/>
    <%= yield %>
  <footer>
    <p>Relevant App 2012</p>
  </footer>
</body>
</html>

