<!DOCTYPE html>
<!--&lt;!&ndash;[if lt IE 7 ]>-->
<!--<html lang="en" class="ie6 ielt7 ielt8 ielt9">-->
<!--<![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 7 ]>-->
<!--<html lang="en" class="ie7 ielt8 ielt9">-->
<!--<![endif]&ndash;&gt;&lt;!&ndash;[if IE 8 ]>-->
<!--<html lang="en" class="ie8 ielt9">-->
<!--<![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 9 ]>-->
<!--<html lang="en" class="ie9">-->
<!--<![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if (gt IE 9)|!(IE)]>&lt;!&ndash;>-->
<!--<html lang="en">-->
<!--&lt;!&ndash;<![endif]&ndash;&gt;-->
<html>
  <head>
    <meta charset="utf-8">
    <title><%= h(yield(:title) || "Relevant") %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%#= stylesheet_link_tag "admin_layout", "bootstrap/bootstrap", "bootstrap/bootstrap-responsive", "jquery-multiselect", "jquery-ui", "basic_simplemodal","nyromodal","custom" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity=" sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag "admin_layout", "jquery-multiselect", "jquery-ui", "basic_simplemodal","nyromodal","custom" %>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
    <!-- open-iconic-bootstrap (icon set for bootstrap) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />

    <%= javascript_include_tag "admin_layout", "jquery-ui-timepicker-addon", "jquery-checkall", "jquery-multiselect-min", "jquery.multiselect.filter.min", "jquery.editinplace","jquery.ajaxloader", "bootstrap-tab" %>
    <%= javascript_include_tag controller_name if File.exists?("#{Rails.root}/app/assets/javascripts/#{controller_name}.js.coffee") %>

    <% if params[:controller] != "admin/users" and params[:controller] != 'admin/referral_programs' %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <% end %>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= yield(:head) %>

    <script type="text/javascript">
      jQuery(function ($) {
        $('.basic').click(function (e) {
          $('#basic-modal-content').modal();

          return false;
        });
      });


    </script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.2.0/select2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.2.0/select2.min.js"></script>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Relevant</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
  <% if @ability %>
    <% if @ability.can? :create, Chain or current_admin.role.eql?("customer support")  %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chains</a>

        <div class="dropdown-menu">
          <%= link_to "Applications", admin_applications_path, class: 'dropdown-item' if @ability.can? :create, Application %>
          <%= link_to "List Chains", admin_chains_path, class: 'dropdown-item' if @ability.can? :create, Chain %>
          <%= link_to "Restaurants", admin_restaurants_path, class: 'dropdown-item' if @ability.can? :create, Restaurant %>
          <%= link_to "Referral Program", admin_referral_programs_path, class: 'dropdown-item'  if @ability.can? :create, ReferralProgram %>
          <%= link_to "Report Jobs", admin_jobs_path, class: 'dropdown-item'  if @ability.can? :create, ReportSubscription  %>
          <%= link_to "Games", admin_games_path, class: 'dropdown-item'  if @ability.can? :create, Game  %>
          <%= link_to "Social Shares", admin_social_shares_path, class: 'dropdown-item'  if @ability.can? :create, Game %>
          <%= link_to "Image Gallery Embed", admin_stream_galleries_path, class: 'dropdown-item'  if @ability.can? :create, StreamGallery %>
        </div>
      </li>
    <% end %>

    <% if @ability.can? :create, Offer %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Offers</a>
        
        <ul class="dropdown-menu">
          <%= link_to "Offers", admin_offers_path, class: 'dropdown-item' %>
          <%= link_to "Online Offers", admin_online_offers_path, class: 'dropdown-item' %>
        </ul>
      </li>
    <% end %>

    <% if @ability.can? :create, Reward or @ability.can? :create, Perk or @ability.can? :create, Promotion or @ability.can? :index, NotificationLocale   %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Reward/Perk</a>
        <ul class="dropdown-menu">
          <%= link_to "Rewards", admin_rewards_path, class: 'dropdown-item'  if @ability.can? :create, Reward  %>
          <%= link_to "Perks", admin_perks_path, class: 'dropdown-item'  if @ability.can? :create, Perk %>            
          <%= link_to "Promotions", admin_promotions_path, class: 'dropdown-item' if @ability.can? :create, Promotion %>
          <%= link_to "Notification Locale", admin_notification_locales_path, class: 'dropdown-item' if @ability.can? :index, NotificationLocale %>          
        </ul>
      </li>
    <% end %>

    <% if @ability.can? :update, Receipt %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Receipts</a>
        <ul class="dropdown-menu">
          <%= link_to "List Receipts", admin_receipts_path, class: 'dropdown-item' %>
          <%= link_to "List RECEIPT REVIEW(NEW PAGE)", review_admin_receipts_path, class: 'dropdown-item' %>
          <%= link_to "Barcode Submitted", admin_receipt_barcodes_path, class: 'dropdown-item' %>
          <%= link_to "List Barcode Submitted(NEW PAGE)", list_admin_receipt_barcodes_path, class: 'dropdown-item' %>
          <%= link_to "Order Online Receipt", admin_online_orders_path, class: 'dropdown-item' %>
          <%= link_to "Olo Receipts", admin_olo_receipts_path, class: 'dropdown-item' %>
          <% if @ability.can? :create, Receipt and current_admin.role != "customer support" %>
            <%= link_to "Submit Receipt", new_admin_receipt_path, class: 'dropdown-item' %>            
          <% end %>
        </ul>
      </li>
    <% end %>
    <% if @ability.can? :create, Owner or @ability.can? :create, User or @ability.can? :create, Admin  %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">User Types</a>
        <ul class="dropdown-menu">
          <%= link_to "Owners", admin_owners_path, class: 'dropdown-item' if @ability.can? :create, Owner %>
          <%= link_to "Managers", admin_managers_path, class: 'dropdown-item'  if @ability.can? :create, Owner %>
          <%= link_to "Users", admin_users_path, class: 'dropdown-item'  if @ability.can? :create, User %>
          <%= link_to "Admin User", admin_admins_path, class: 'dropdown-item'  if @ability.can? :create, Admin %>          
        </ul>
      </li>
    <% end %>
    <% if @ability.can? :create, Survey or @ability.can? :create, Answer %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Surveys</a>
        <ul class="dropdown-menu">
          <%= link_to "List Surveys", admin_surveys_path, class: 'dropdown-item'  if @ability.can? :create, Survey %>
          <%= link_to "List Answers", admin_answers_path, class: 'dropdown-item'  if @ability.can? :create, Answer %>
          <%= link_to "Rotating Groups", admin_rotating_groups_path, class: 'dropdown-item'  if @ability.can? :create, RotatingGroup %>
        </ul>
      </li>
    <% end %>

    <% if @ability.can? :create, Country or @ability.can? :create, Term or @ability.can? :create, PrivacyPolicy or current_admin.role.eql?("tester") or current_admin.role.eql?("customer support") %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">System</a>
        <ul class="dropdown-menu">
          <% if @ability.can? :create, GcmUnsentHistory %>
            <%= link_to "Unsent Android PN", admin_unsent_android_notifications_path, class: 'dropdown-item' %>
            <%= link_to "Queue Setting Timer", admin_queue_notif_settings_path, class: 'dropdown-item' %>            
          <% end %>
          <%= link_to "OLO connect settings", admin_olo_connect_settings_path, class: 'dropdown-item' %>
          <%= link_to "Plain Push Notification", admin_plain_push_notifications_path, class: 'dropdown-item'  if @ability.can? :create, PlainPushNotification %>
          <%= link_to "NuOrder connect settings", admin_nuorder_connect_settings_path, class: 'dropdown-item' %>          
          <%= link_to "Onosys connect settings", admin_onosys_connect_settings_path , class: 'dropdown-item' if @ability.can? :create, OnosysConnectSetting %>
          
          <% if @ability.can? :create, PushServiceNotification %>
            <%= link_to "PUSH SERVICES Admin", admin_push_service_notifications_path, class: 'dropdown-item' %>
            <%= link_to 'PUSH SERVICES Dashboard', dashboard_admin_push_service_notifications_path, class: 'dropdown-item' %>
            <%= link_to 'PUSH SERVICES Ipost', ipost_admin_push_service_notifications_path, class: 'dropdown-item' %>
          <% end %>

          <%= link_to "Push Service Notification Certificates", admin_push_service_notification_certificates_path, class: 'dropdown-item'  if @ability.can? :create, PushServiceNotificationCertificate %>
          <%= link_to "Push Points", admin_push_points_path, class: 'dropdown-item'  if @ability.can? :create, PushPoint %>
          <%= link_to "Push Rewards", admin_push_rewards_path, class: 'dropdown-item'  if @ability.can? :create, PushReward %>
          <%= link_to "Locations", admin_countries_path, class: 'dropdown-item'  if @ability.can? :create, Country %>
          <%= link_to "Terms", admin_terms_path, class: 'dropdown-item'  if @ability.can? :create, Term %>
          <%= link_to "Privacy Policies", admin_privacy_policies_path, class: 'dropdown-item'  if @ability.can? :create, PrivacyPolicy %>
          
          <% if current_admin and (current_admin.role.eql?("tester") or current_admin.role.eql?('admin')) %>
            <%= link_to "Test API", admin_test_api_path, class: 'dropdown-item' %>
            <%= link_to "Test NuOrder API", admin_test_nuorder_api_path, class: 'dropdown-item' %>
            <%= link_to "Test VEXT API", admin_test_vext_api_path, class: 'dropdown-item' %>              
            <%= link_to "Test Onosys API", admin_test_onosys_api_path, class: 'dropdown-item' %>            
          <% end %>

          <%= link_to "Delayed Jobs ", admin_admin_jobs_path, class: 'dropdown-item' if @ability.can? :create, PrivacyPolicy %>
          <%= link_to "Steppingstone Tags", admin_tags_path, class: 'dropdown-item'  if @ability.can? :create, Tag %>
          <%= link_to "Remove Points", admin_remove_points_path, class: 'dropdown-item'  if current_admin and (current_admin.role.eql?('admin')) %>
          <%= link_to "Mailchimp Logs", admin_mailchimp_logs_url, class: 'dropdown-item'  if @ability.can? :create, MailchimpLog %>
          <%= link_to "Fishbowl Logs", admin_fishbowl_logs_url, class: 'dropdown-item' if @ability.can? :create, FishbowlLog %>
          <%= link_to "Emma Logs", admin_emma_logs_url, class: 'dropdown-item'  if @ability.can? :create, EmmaLog %>
          <%= link_to "Search Menu Item", new_admin_receipt_line_item_url, class: 'dropdown-item'  if @ability.can? :create, Chain %>
          <%= link_to "Timeout errors", "/admin/timeout_traces", class: 'dropdown-item'  if @ability.can? :create, Tag %>
          <% if @ability.can? :create, PushPoint and current_admin.role != "customer support"%>
            <%= link_to "Push Point All Users", all_user_admin_push_points_url, class: 'dropdown-item' %>
          <% end %>
          <% if @ability.can? :create, PushReward and current_admin.role != "customer support" %>
            <%= link_to "Push Reward All Users", all_user_admin_push_rewards_url, class: 'dropdown-item' %>
          <% end %>
          <li class="dropdown-submenu">
            <a tabindex="-1" href="#" class="dropdown-item">Giftcard</a>
            <ul class=" dropdown-menu-submenu">
              <li><a tabindex="-1" href="#" class="dropdown-item">NCR</a></li>
              <li class="dropdown-submenu" class="dropdown-item">
                <a tabindex="-1" href="#" class="dropdown-item">Vantiv</a>
                <ul class=" dropdown-menu-submenu">
                  <% if @ability.can? :create, VantivCredential %>
                  <%= link_to "Vantiv Credentials", admin_vantiv_credentials_path, class: 'dropdown-item' %>
                  <% end %>
                  <% if @ability.can? :create, VantivGiftCard %>
                    <%= link_to "Vantiv Gift Cards", admin_vantiv_gift_cards_path, class: 'dropdown-item' %>
                    <%= link_to "Vantiv Gift Card Email Sent Logs", admin_vantiv_gift_card_email_sent_logs_path, class: 'dropdown-item' %>
                  <% end %>
                  <% if @ability.can? :create, Vantiv::TransactionLog %>
                  <%= link_to "Vantiv Transaction Logs", admin_vantiv_transaction_logs_path, class: 'dropdown-item' %>
                  <% end %>
                </ul>
              </li>
              <li><a tabindex="-1" href="http://fundy.relevantmobile.com:8090/gc-admin/" target="_blank" class="dropdown-item">Relevant</a></li>
            </ul>
          </li>
          <%= link_to "Revel Logs", admin_revel_logs_url, class: 'dropdown-item' if @ability.can? :create, RevelLog %>
          <%= link_to "System Tags", admin_system_tags_path, class: 'dropdown-item' if @ability.can? :create, Tag %>
          
          <% if current_admin and (current_admin.role.eql?('admin')) %>
            <%= link_to "OLO Rewards Setting", admin_olorewards_settings_path, class: 'dropdown-item' %>
            <%= link_to "External settings", admin_external_settings_path, class: 'dropdown-item' %>
          <% end %>
          <% if current_admin and (current_admin.role.eql?('admin')) %>
            <%= link_to "Relevant connect Authentication", admin_relevant_auth_apis_path, class: 'dropdown-item' %>
          <% end %>
        </ul>
      </li>
    <% end %>
    <%= link_to "Deals", admin_deals_path, class: 'nav-link' if @ability.can? :create, Deal %>
    

    <% if @ability.can? :create, Chain or current_admin.role.eql?("customer support") %>
      <%= link_to "Chain Images", admin_chain_share_images_path, class: 'nav-link' %>      
    <% end %>


  <% end %>
</ul>
  
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav ml-auto">

          <% if @ability %>

    <% if @ability.can? :create, GoalCategory %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Miscellaneous</a>
        <ul class="dropdown-menu">
          <% if @ability.can? :create, GoalCategory %>
              <%= link_to "Goal Categories", admin_goal_categories_path , class: 'dropdown-item' %>          
          <% end %>
          <% if @ability.can? :create, Goal %>
              <%= link_to "Goals", admin_goals_path, class: 'dropdown-item' %>            
          <% end %>
          <% if @ability.can? :create, UserGoalCategory %>
              <%= link_to "User Goal Category", admin_user_goal_categories_path, class: 'dropdown-item' %>            
          <% end %>
          <% if @ability.can? :create, Raffle %>
              <%= link_to "Raffle", admin_raffles_path, class: 'dropdown-item' %>
          <% end %>
        </ul>
      </li>
    <% end %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown">POS</a>
      <ul class="dropdown-menu">
          <% if @ability.can? :create, PosLocation  %>
         <%= link_to "Pos Location", admin_pos_locations_path, class: 'dropdown-item' %>
        <%= link_to "General Menu Items", admin_general_menu_items_path, class: 'dropdown-item'  if @ability.can? :create, PosLocation  %>
        <%= link_to "Upload Menu History", admin_pos_menu_uploads_path, class: 'dropdown-item'  if @ability.can? :create, PosMenuUpload %>        
        <% if @ability.can? :create, PosCheckUpload %>
          <%= link_to "Upload Check History", admin_pos_check_uploads_path, class: 'dropdown-item' %>
          <%= link_to "Upload Check History(NEW PAGE)", search_admin_pos_check_uploads_path, class: 'dropdown-item' %>
        <% end %>
        <% if @ability.can? :create, PosRewardCheck %>
          <%= link_to "Reward Check History", admin_pos_reward_checks_path, class: 'dropdown-item' %>
        <% end %>
        <%= link_to "POS Receipts", admin_pos_receipts_url, class: 'dropdown-item' %>
        <%= link_to "Barcode Batchs", admin_barcode_batchs_url, class: 'dropdown-item' %>
        <%= link_to "Upload POS menu Items", admin_pos_menu_items_path, class: 'dropdown-item' %>
        <% end %>
        <li class="dropdown-divider"></li>
        <li class="dropdown-submenu">
          <a tabindex="-1" href="#" class="dropdown-item test">FOCUS POS</a>
          <ul class="dropdown-menu-submenu">
            <%= link_to "Pos Check Upload", admin_focus_check_uploads_path, :tabindex => "-1" , class: 'dropdown-item' %>
            <%= link_to "Reward Check History", admin_focus_reward_checks_path, :tabindex => "-1", class: 'dropdown-item' %>
          </ul>
        </li>
      </ul>
    </li>

    <% if @ability.can? :create, OwnerJob %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown">Take Action <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <%= link_to "Jobs", admin_owner_jobs_path, class: 'dropdown-item' %>
        <%= link_to "Miss You", admin_miss_you_tasks_path, class: 'dropdown-item' %>
        <%= link_to "No Scans", admin_no_scan_tasks_path, class: 'dropdown-item' %>
        <%= link_to "Queries", admin_chains_url, class: 'dropdown-item' %>
      </ul>
    </li>
    <% end %>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown">PARTNER Rewards</a>
              <ul class="dropdown-menu">
                <%= link_to "Partner Rewards", admin_partner_rewards_path, class: 'dropdown-item' %>
                <%= link_to "Partner Reward Code Settings ", admin_partner_code_settings_path, class: 'dropdown-item' %>
                <%= link_to "Partner Categories ", admin_partner_categories_path, class: 'dropdown-item' %>
                <%= link_to "Partner Sub Categories ", admin_partner_sub_categories_path, class: 'dropdown-item' %>
                <%= link_to "Partner Menu Items", admin_partner_menu_items_path, class: 'dropdown-item' %>
                <%= link_to "Partner Webhook Settings", admin_partner_webhook_settings_path, class: 'dropdown-item' %>
              </ul>
            </li>

          <% if @ability.can? :create, OwnerJob %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown">Online Orders</a>
                <ul class="dropdown-menu">
                  <%= link_to "Olo Orders", admin_olo_orders_path, class: 'dropdown-item' %>
                  <%= link_to "Email Online Order", '/admin/email_list', class: 'dropdown-item' %>
                  <%= link_to "List Olo Webhook", admin_webhooks_path, class: 'dropdown-item' %>
                  <%= link_to "Onosys Online Orders", admin_onosys_online_orders_path, class: 'dropdown-item' %>
                  <%= link_to "Nuorder", admin_vext_online_orders_path, class: 'dropdown-item' %>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown">Chain Reports<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <%= link_to "Tag Report", region_report_admin_chains_path, class: 'dropdown-item' %>
                  <%= link_to "Grouping Tag Report", grouping_region_report_admin_chains_path, class: 'dropdown-item' %>
                  <%= link_to "User email Report", user_email_list_admin_chains_path, class: 'dropdown-item' %>
                  <%= link_to "Survey With Check Detail", survey_check_report_admin_chains_path, class: 'dropdown-item' %>
                  <%= link_to "Reward Redeem list", reward_count_list_admin_chains_path, class: 'dropdown-item' %>
                  <%= link_to "Lapsed User list", lapsed_list_admin_chains_path, class: 'dropdown-item' %>
                  <%= link_to "Geodata list", geodata_report_admin_chains_path, class: 'dropdown-item' %>

                  <% if @ability.can? :create, ReportDefinition %>
                    <%= link_to "Report Definitions", admin_report_definitions_path, class: 'dropdown-item' %>
                  <% end %>
                  <% if @ability.can? :create, ReportSubscription %>
                    <%= link_to "Report Subscription", admin_report_subscriptions_path, class: 'dropdown-item' %>
                  <% end %>
                  <% if @ability.can? :create, Game %>
                    <%= link_to "Menu Item Report", admin_menu_item_reports_path, class: 'dropdown-item' %>
                  <% end %>
                </ul>
              </li>
            <% end %>
          <% end %>
          <% if current_admin %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_admin.email %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <%= link_to "<i class=\"icon-edit\"></i>  Edit Info".html_safe, edit_admin_admin_path(current_admin), class: 'dropdown-item' %>
                <%= link_to "<i class=\"icon-off\"></i>  Log out".html_safe, destroy_admin_session_path, method: :delete, class: 'dropdown-item' %>

              </ul>
            </li>
          <% else %>
            <li  class="nav-item"><%= link_to "log in", new_admin_session_path, class: "nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container-fluid" style="margin-top: 30px">      
      <div class="row">
        <div class="col">

          <% if notice %>
            <div class="alert alert-success" role="alert">
              <%= notice %>
            </div>
          <% end %>


          <% if alert %>
            <div class="alert  alert-primary" role="alert">

              <button class="close" data-dismiss="alert">×</button>
              <strong>Warning!</strong> <%= alert %>
            </div>
          <% end %>

          <a href='#' class='basic' id="session_exp_link" style="display: none;">SESSION</a>
          <div id="basic-modal-content">
            <h3>Session Expired</h3>
            <br />
            <p>Your session has expired, maybe you need to login again to access this page.</p>
            <br />
            <center>
              <%= button_to "OK", request.url, :method => :get %>
            </center>
          </div>
          <%= yield %>
        </div>
      </div>
      <footer class="footer">
        <%= yield :bottom_assets %>
       <!-- <script src="http://js.pusher.com/1.12/pusher.min.js" type="text/javascript"></script>
        <script type="text/javascript">
          // Enable pusher logging - don't include this in production
          //Pusher.log = function(message) {
          //  if (window.console && window.console.log) window.console.log(message);
          //};

          // Flash fallback logging - don't include this in production
          //WEB_SOCKET_DEBUG = true;

          var pusher = new Pusher("<%#=  Setting.pusher.key %>");
          var channel = pusher.subscribe('test_channel');
          channel.bind('<%= request.host %>', function(data) {
            $.gritter.add({
              title: data['title'],
              text: data['description'],
              sticky: true,
              time: '',
              class_name: 'my-sticky-class'
            });
           // window.location.href = data['url'];
          });
        </script>  -->
        <p>Relevant App 2012</p>
      </footer>
    </div>
  </body>
</html>