<!DOCTYPE html>
<html>
<head>
  <title><%= h(yield(:title) || "Relevant") %></title>
  <%= stylesheet_link_tag "admin_layout", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/redmond/jquery-ui.css" %>
  <%= javascript_include_tag "admin_layout", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js", "jquery-ui-timepicker-addon", "jquery-checkall" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
<p class="notice"><%= notice %></p>
<%= yield %>

</body>
</html>
