<!DOCTYPE html>
<html>
<head>
  <title><%= h(yield(:title) || "Relevant") %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", "jquery.validate.min", "jquery.editinplace" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
<%= yield %>

</body>
</html>

