<!DOCTYPE html>
<html class="login-bg">
<head>
  <title>Relevant<%#= h(yield(:title) || "Relevant") %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--bootstrap-->
  <%= stylesheet_link_tag "d2_css/bootstrap/bootstrap", "d2_css/bootstrap/bootstrap-responsive",
                          "d2_css/bootstrap/bootstrap-overrides" %>

  <!-- global styles -->
  <%= stylesheet_link_tag "d2_css/custom-layout", "d2_css/layout", "d2_css/elements", "d2_css/icons" %>

  <!-- libraries -->
  <%= stylesheet_link_tag "d2_css/lib/font-awesome" %>

  <!-- this page specific styles -->
  <%= stylesheet_link_tag "d2_css/compiled/signin" %>

  <!-- open sans font -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.2.js",
                             "d2_js/jquerymigrate",
                             "jquery_ujs", "d2_js/theme"
  %>

  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
<%= yield %>
</body>
</html>