<!DOCTYPE html>
<html>
<head>
  <title><%= h(yield(:title) || "Relevant") %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--bootstrap-->
  <%= stylesheet_link_tag "d2_css/bootstrap/bootstrap", "d2_css/bootstrap/bootstrap-responsive",
                          "d2_css/bootstrap/bootstrap-overrides","jquery-multiselect" %>

  <!-- libraries -->
  <%= stylesheet_link_tag "jquery-ui", "d2_css/lib/font-awesome", "d2_css/lib/uniform.default" %>

  <!-- global styles -->
  <%= stylesheet_link_tag "d2_css/custom-layout", "d2_css/layout", "d2_css/elements", "d2_css/icons" %>

  <!-- this page specific styles -->
  <% if controller_name == "members" %>
      <%= stylesheet_link_tag "d2_css/compiled/index" %>
  <% else %>
      <%= stylesheet_link_tag "d2_css/compiled/tables", "d2_css/form-wizard" %>
  <% end %>

  <!-- open sans font -->
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" %>

  <!-- lato font -->
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic" %>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= javascript_include_tag "http://code.jquery.com/jquery-latest.js",
                             "d2_js/jquerymigrate",
                             "jquery_ujs", "cocoon" , "stupidtable"
  %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>

<body>

<%= render "owner/shared/navbar_d2" %>

<%= render "owner/shared/sidebar_d2" %>

<!-- main container -->
<div class="content">
  <!--<div id="report-issue-tab" style="display:none;bottom: -1445px;  position: absolute;">
    <a href="#myModal_help" role="button" class="btn-flat inverse" data-toggle="modal"><i class="icon-envelope"></i>&nbsp;Click to ask a question or report an issue.</a>
    <a href="#myModal_help" role="button" class="" data-toggle="modal"><%#= image_tag "support.png" %></a>
  </div>-->
  <!-- settings changer -->
  <!--<div class="skins-nav">
      <a href="#" class="skin first_nav selected">
          <span class="icon"></span><span class="text">Default skin</span>
      </a>
      <a href="#" class="skin second_nav" data-file="/assets/d2_css/skins/dark.css">
          <span class="icon"></span><span class="text">Dark skin</span>
      </a>
  </div>-->

  <div class="container-fluid">
    <div id="pad-wrapper">
      <% if notice %>
          <p class="alert"><%= notice %>
            <a class="close" href="#" onclick="$('.alert').hide();">&nbsp;×&nbsp;&nbsp;</a>
          </p>
      <% end %>

      <% if alert %>
          <p class="alert"><%= alert %>
            <a class="close" href="#" onclick="$('.alert').hide();">&nbsp;×&nbsp;&nbsp;</a>
          </p>
      <% end %>

      <%= yield %>
    </div>
  </div>
</div>

<!-- Modal -->
<%= yield :modal %>

<% if current_owner && !current_owner.restaurant_list.blank? %>
    <%= render "shared/modal_support" %>
<% else %>
    <section class="contentwraper bottommgn">
      <section class="span10 bottommgn" style="width:100%;margin-top:19px;float:none;margin-left:114px;">
        You are not attached to any chain / restaurant
      </section>
    </section>
<% end %>
<!-- End Modal -->

<!-- scripts -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<%= javascript_include_tag "jquery.sortable",
                           "jquery.ajaxloader",
                           "jquery_ui_min",
                           "jquerydatepick",
                           "jquery-ui-timepicker-addon",
                           "jquery-multiselect-min",
                           "jquery-checkall",
                           "bootstrap",
                           "highcharts", "d2_js/jquery.flot","d2_js/jqueryflot.resize",
                           "d2_js/jqueryflot.stack","d2_js/morris.min", 
                           "d2_js/jqueryuniform.min", "floating12"
%>

<!-- theme -->
<%= javascript_include_tag "d2_js/theme" %>

<script type="text/javascript">
    $(function () {
        // jQuery UI Sliders
        /*$(".slider-sample1").slider({
            value:100, min:1, max:500
        });
        $(".slider-sample2").slider({
            range:"min", value:130, min:1, max:500
        });
        $(".slider-sample3").slider({
            range:true, min:0, max:500, values:[ 40, 170 ],
        });*/

        // Pagination
        $('.next_page').after('<div style="clear:both;"></div>');

        // Sidebar Menu
        $('#' + '<%= controller_name %>' + '-menu').append('<div class="pointer"><div class="arrow"></div><div class="arrow_border"></div></div>').addClass('active');

        // Title
        if ($('#' + '<%= controller_name %>' + '-menu a span').html()) {
            $("title").html($('#' + '<%= controller_name %>' + '-menu a span').html() + " - Relevant");
        } else {
            $("title").html("Relevant");
        }

        // floating
      /*  $('#report-issue-tab').addFloating({
          targetLeft: 10,
          targetBottom: 5,
          snap: true  
        });

        floatingArray[0].targetTop=undefined;
        floatingArray[0].targetBottom=undefined;
        floatingArray[0].targetLeft=undefined;
        floatingArray[0].targetRight=1;
        floatingArray[0].centerX=undefined;
        floatingArray[0].centerY=true; */

        window.setTimeout(function() {
            <% unless params[:action] == "request_guest_relation" %>
            $("p.alert").fadeTo(5000, 0).slideUp(5000, function(){
                $(this).hide();
            });
            <% end %>
        }, 5000);
    });
</script>

<%= yield :javascript_script %>

</body>
</html>