<!DOCTYPE html>
<html>
<head>
  <title><%= h(yield(:title) || "Relevant") %></title>
  <%= stylesheet_link_tag "application", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/redmond/jquery-ui.css" %>
  <%= stylesheet_link_tag "bootstrap/bootstrap-responsive",
                          "docs", "general", "jquery-multiselect" %>
  <%= javascript_include_tag "jquery", "jquery_ujs",
                             "highcharts", "jquery-ui.min", 'jquery-multiselect-min',
                             #"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js",
                             "jquery-ui-timepicker-addon", "jquery-checkall", "bootstrap_owner","jquery_ui_min" %>
<!--  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>-->
  <%#= javascript_include_tag "owner" if params[:controller].to_s != "owner/surveys"  %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
<% if notice %>
    <p class="alert"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert"><%= alert %></p>
<% end %>

<section class="container">
  <header class="header">
    <section class="span2">
      <%= image_tag "logo.png", :width => "170", :height => "56" %>
    </section>
    <section class="nav-bar pull-right topmgn rmgn">
      <p class="txt1">Welcome,
        <% if current_owner %>
            Logged in as <%= current_owner.email %>.
            <%= link_to "Sign out", owner_log_out_path, :id => "signup_link", :class => "btn2", :style => "text-decoration:none;" %>
        <% else %>
            <%#= link_to "log in", owner_log_in_path %>
        <% end %>
        <% if current_owner %>
            <%#= link_to 'My Account', edit_owner_registration_path %>
        <% end %>
      </p>
    </section>
    <%= yield :top_menu %>
  </header>
  <% if current_owner && !current_owner.restaurant_list.blank? %>
      <%= yield %>
      <%= render "shared/modal_support" %>
  <% else %>
      <section class="contentwraper bottommgn">
        <section class="span10 bottommgn" style="width:100%;margin-top:19px;float:none;margin-left:114px;">
          You are not attached to any chain / restaurant
        </section>
      </section>
  <% end %>
</section>
<!-- container -->
<%= yield :javascript_script %>
<div class="footer">
  <a href="#myModal" role="button" class="btn" data-toggle="modal">Click to ask a question or report an issue.</a>
</div>
</body>
</html>

