<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= h(yield(:title) || "Relevant") %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag 'tokenex'  %>
<%= stylesheet_link_tag "sweetalert2.min" %>
  <%= csrf_meta_tags %>

  <%= yield(:css_style)%>
</head>
<body >
  <%= yield %>
  <%= yield(:js_script)%>
</body>
</html>
