<!DOCTYPE html>
<html>
<head>
  <title><%= h(yield(:title) || "Relevant") %></title>
  <%#= stylesheet_link_tag "application",
    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/redmond/jquery-ui.css" %>
  <%= stylesheet_link_tag "bootstrap/bootstrap-responsive", "bootstrap/bootstrap",
                          "bootstrap/docs", "bootstrap/general", "bootstrap/jquery.datepick"%>
  <%= javascript_include_tag "application", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js", "jquery-ui-timepicker-addon", "jquery-checkall" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
<% if notice %><p class="notice"><%= notice %></p><% end %>
<% if alert %><p class="alert"><%= alert %></p><% end %>


<% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", user_log_out_path %>
<% else %>
    <%#= link_to "log in", user_log_in_path %>
<% end %>

<% if current_user %>
    <%= link_to 'My Account', edit_user_registration_path %> |
    <%= link_to 'My Receipts', user_receipts_path %> |
    <%= link_to 'My Reward Wallet', user_rewards_path %> |
    <%= link_to 'My Offers', "" %> |
<% end %>

<section class="container">
  <%= yield %>
</section>

<footer>
  <p>Copyright 2012 Relevant Inc. All rights reserved. <br /> Read our Terms of Use and Privacy Policy</p>
</footer>
</body>
</html>

