<h3>Update Apple Push Notification Setting</h3>
<%= simple_form_for(@certificate, url: admin_application_certificate_path(@application, @certificate), html: {multipart: true, method: :put}) do |f| %>
  <%= f.input :name, :label => "Key", input_html: {readonly: true} %>
  <%= f.input :certificate, as: :file %>
  <%= f.input :environment, :collection => ["production", "development"], :include_blank => false %>
  <%= f.submit "Update"  %>
<% end %>