<% if @certificate %>
  <div class="page-header">
    <h4> Edit Apple Push Notification Setting</h4>
    Key : <%= @certificate.name %> <br />
    Environment : <%= @certificate.environment %> <br />
    Certificate : <textarea style="width:300px" rows="10"><%= @certificate.certificate %> </textarea><br />
    <br />

    <%= link_to "Edit", edit_admin_application_certificate_path(@application, @certificate) %> |
    <%= link_to "Back", admin_applications_path  %>
  </div>

<% else %>
  <br />
  <br />
  <h3>Apple push Notification not setup yet. </h3>
  <br />
  <h3><%= link_to "Setup now", new_admin_application_certificate_path(@application) %></h3>
  <br />
  <%= link_to "Back", admin_applications_path  %>
<% end %>
<br />
