<h3>Create Apple Push Notification Setting</h3>
<%= simple_form_for(@certificate, url: admin_application_certificates_path(@application), html: {multipart: true}) do |f| %>
  <%= f.input :name, :label => "Key", input_html: {value: @application.id, readonly: true} %>
  <%= f.input :certificate, as: :file %>
  <%= f.input :environment, :collection => ["production", "development"], :include_blank => false %>
  <%= f.submit "Update"  %>
<% end %>
